[2019-04-11 18:54] keveleigh commented on #504
For MRTK v2, our documentation is now generated and built to https://microsoft.github.io/MixedRealityToolkit-Unity/.

Going forward, `xref`s in the documentation should break when scripts are renamed, making it more obvious when things go stale.

Closing this, as we now have a better plan for change documentation and a central location to find it and search for it.

[2019-04-11 18:54] #504 closed

[2019-04-11 19:13] Railboy opened #3945 "Activating / deactivating core services causes errors"
## Overview
Activating and deactivating core MRTK services causes errors.

## Expected Behavior
Services should be able to handle when they or other services are activated / deactivated.

## Actual Behavior
- Starting with all services activated and deactivating _any_ service causes the following errors:

[code]

[code]

[code]

- Starting with all services activated and deactivating InputSystem i

[2019-04-11 19:48] keveleigh commented on #2108
This should be better supported in MRTK v2 via #3749. Please re-open if you still see issues after upgrade.

[2019-04-11 19:48] #2108 closed

[2019-04-11 19:50] keveleigh commented on #2089
Unable to repro with the above repro steps. Double checking that your configuration isn't set to Debug (as described above) is a good place to start. Closing as no repro.

[2019-04-11 19:50] #2089 closed

[2019-04-11 19:52] keveleigh commented on #2123
Closing, as v2 shouldn't have this issue and we aren't supporting Unity 5.6.

[2019-04-11 19:52] #2123 closed

[2019-04-11 20:02] keveleigh commented on #1630
This may be fixed in MRTK v2 via #3749. The example scene contains a Unity UI dropdown that works with the MRTK.

[2019-04-11 20:02] #1630 closed

[2019-04-11 20:12] wiwei commented on #2892
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:12] #2892 closed

[2019-04-11 20:12] wiwei commented on #2875
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:12] #2875 closed

[2019-04-11 20:12] wiwei commented on #2862
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:12] wiwei commented on #2841
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:12] #2862 closed

[2019-04-11 20:12] #2841 closed

[2019-04-11 20:12] wiwei commented on #2797
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:12] #2797 closed

[2019-04-11 20:12] wiwei commented on #2766
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:12] #2766 closed

[2019-04-11 20:12] wiwei commented on #2720
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2720 closed

[2019-04-11 20:13] wiwei commented on #2717
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2712
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2717 closed

[2019-04-11 20:13] #2712 closed

[2019-04-11 20:13] wiwei commented on #2711
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2711 closed

[2019-04-11 20:13] wiwei commented on #2699
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2699 closed

[2019-04-11 20:13] wiwei commented on #2697
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2697 closed

[2019-04-11 20:13] wiwei commented on #2684
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2684 closed

[2019-04-11 20:13] wiwei commented on #2672
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2671
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2672 closed

[2019-04-11 20:13] #2671 closed

[2019-04-11 20:13] wiwei commented on #2621
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2621 closed

[2019-04-11 20:13] wiwei commented on #2613
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2613 closed

[2019-04-11 20:13] wiwei commented on #2587
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2587 closed

[2019-04-11 20:13] wiwei commented on #2541
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2541 closed

[2019-04-11 20:13] wiwei commented on #2537
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2536
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2537 closed

[2019-04-11 20:13] #2536 closed

[2019-04-11 20:13] wiwei commented on #2531
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2531 closed

[2019-04-11 20:13] wiwei commented on #2528
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2528 closed

[2019-04-11 20:13] wiwei commented on #2527
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2515
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2527 closed

[2019-04-11 20:13] wiwei commented on #2498
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2515 closed

[2019-04-11 20:13] #2498 closed

[2019-04-11 20:13] wiwei commented on #2485
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2468
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2485 closed

[2019-04-11 20:13] #2468 closed

[2019-04-11 20:13] wiwei commented on #2465
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2464
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2465 closed

[2019-04-11 20:13] wiwei commented on #2448
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2464 closed

[2019-04-11 20:13] #2448 closed

[2019-04-11 20:13] wiwei commented on #2447
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2447 closed

[2019-04-11 20:13] wiwei commented on #2439
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2439 closed

[2019-04-11 20:13] wiwei commented on #2429
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2429 closed

[2019-04-11 20:13] wiwei commented on #2426
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2426 closed

[2019-04-11 20:13] wiwei commented on #2423
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2423 closed

[2019-04-11 20:13] wiwei commented on #2418
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2418 closed

[2019-04-11 20:13] wiwei commented on #2416
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2416 closed

[2019-04-11 20:13] wiwei commented on #2410
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2410 closed

[2019-04-11 20:13] wiwei commented on #2408
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2408 closed

[2019-04-11 20:13] wiwei commented on #2392
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] wiwei commented on #2391
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2392 closed

[2019-04-11 20:13] #2391 closed

[2019-04-11 20:13] wiwei commented on #2383
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2383 closed

[2019-04-11 20:13] wiwei commented on #2382
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2382 closed

[2019-04-11 20:13] wiwei commented on #2381
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2381 closed

[2019-04-11 20:13] wiwei commented on #2365
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2365 closed

[2019-04-11 20:13] wiwei commented on #2355
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:13] #2355 closed

[2019-04-11 20:14] wiwei commented on #2353
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2353 closed

[2019-04-11 20:14] wiwei commented on #2352
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2352 closed

[2019-04-11 20:14] wiwei commented on #2343
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2343 closed

[2019-04-11 20:14] wiwei commented on #2342
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2342 closed

[2019-04-11 20:14] wiwei commented on #2340
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2340 closed

[2019-04-11 20:14] wiwei commented on #2336
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2336 closed

[2019-04-11 20:14] wiwei commented on #2328
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2328 closed

[2019-04-11 20:14] wiwei commented on #2326
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2326 closed

[2019-04-11 20:14] wiwei commented on #2320
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2320 closed

[2019-04-11 20:14] wiwei commented on #2313
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2313 closed

[2019-04-11 20:14] wiwei commented on #2311
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2307
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2311 closed

[2019-04-11 20:14] #2307 closed

[2019-04-11 20:14] wiwei commented on #2304
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2304 closed

[2019-04-11 20:14] wiwei commented on #2297
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2297 closed

[2019-04-11 20:14] wiwei commented on #2292
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2292 closed

[2019-04-11 20:14] wiwei commented on #2291
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2291 closed

[2019-04-11 20:14] wiwei commented on #2285
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2285 closed

[2019-04-11 20:14] wiwei commented on #2284
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2279
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2284 closed

[2019-04-11 20:14] #2279 closed

[2019-04-11 20:14] wiwei commented on #2272
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2271
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2272 closed

[2019-04-11 20:14] wiwei commented on #2269
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2271 closed

[2019-04-11 20:14] wiwei commented on #2267
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2269 closed

[2019-04-11 20:14] #2267 closed

[2019-04-11 20:14] wiwei commented on #2250
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2250 closed

[2019-04-11 20:14] wiwei commented on #2244
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2244 closed

[2019-04-11 20:14] wiwei commented on #2241
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2241 closed

[2019-04-11 20:14] wiwei commented on #2237
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2237 closed

[2019-04-11 20:14] wiwei commented on #2221
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2221 closed

[2019-04-11 20:14] wiwei commented on #2199
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2199 closed

[2019-04-11 20:14] wiwei commented on #2153
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2111
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2153 closed

[2019-04-11 20:14] #2111 closed

[2019-04-11 20:14] wiwei commented on #2110
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2085
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2110 closed

[2019-04-11 20:14] wiwei commented on #2081
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2085 closed

[2019-04-11 20:14] #2081 closed

[2019-04-11 20:14] wiwei commented on #2080
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2074
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2080 closed

[2019-04-11 20:14] #2074 closed

[2019-04-11 20:14] wiwei commented on #2069
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2069 closed

[2019-04-11 20:14] wiwei commented on #2067
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] wiwei commented on #2057
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:14] #2067 closed

[2019-04-11 20:14] #2057 closed

[2019-04-11 20:15] wiwei commented on #2041
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #2041 closed

[2019-04-11 20:15] wiwei commented on #1980
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1980 closed

[2019-04-11 20:15] wiwei commented on #1965
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1965 closed

[2019-04-11 20:15] wiwei commented on #1926
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1926 closed

[2019-04-11 20:15] wiwei commented on #1925
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1925 closed

[2019-04-11 20:15] wiwei commented on #1924
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1924 closed

[2019-04-11 20:15] wiwei commented on #1915
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1915 closed

[2019-04-11 20:15] wiwei commented on #1912
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1912 closed

[2019-04-11 20:15] wiwei commented on #1900
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1900 closed

[2019-04-11 20:15] wiwei commented on #1899
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1899 closed

[2019-04-11 20:15] wiwei commented on #1891
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1891 closed

[2019-04-11 20:15] wiwei commented on #1883
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1883 closed

[2019-04-11 20:15] wiwei commented on #1866
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1866 closed

[2019-04-11 20:15] wiwei commented on #1851
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1851 closed

[2019-04-11 20:15] wiwei commented on #1844
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1844 closed

[2019-04-11 20:15] wiwei commented on #1837
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1837 closed

[2019-04-11 20:15] wiwei commented on #1836
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1836 closed

[2019-04-11 20:15] wiwei commented on #1834
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1834 closed

[2019-04-11 20:15] wiwei commented on #1833
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1833 closed

[2019-04-11 20:15] wiwei commented on #1823
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1823 closed

[2019-04-11 20:15] wiwei commented on #1822
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1822 closed

[2019-04-11 20:15] wiwei commented on #1812
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1812 closed

[2019-04-11 20:15] wiwei commented on #1810
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1810 closed

[2019-04-11 20:15] wiwei commented on #1809
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1809 closed

[2019-04-11 20:15] wiwei commented on #1793
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1793 closed

[2019-04-11 20:15] wiwei commented on #1777
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] wiwei commented on #1774
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1777 closed

[2019-04-11 20:15] #1774 closed

[2019-04-11 20:15] wiwei commented on #1771
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1771 closed

[2019-04-11 20:15] wiwei commented on #1769
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1769 closed

[2019-04-11 20:15] wiwei commented on #1768
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1768 closed

[2019-04-11 20:15] wiwei commented on #1758
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] wiwei commented on #1757
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:15] #1758 closed

[2019-04-11 20:25] wiwei commented on #1755
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] wiwei commented on #1736
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1755 closed

[2019-04-11 20:25] #1736 closed

[2019-04-11 20:25] wiwei commented on #1733
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1733 closed

[2019-04-11 20:25] wiwei commented on #1730
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1730 closed

[2019-04-11 20:25] wiwei commented on #1728
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1728 closed

[2019-04-11 20:25] wiwei commented on #1722
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1722 closed

[2019-04-11 20:25] wiwei commented on #1720
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] wiwei commented on #1715
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1720 closed

[2019-04-11 20:25] wiwei commented on #1713
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1715 closed

[2019-04-11 20:25] #1713 closed

[2019-04-11 20:25] wiwei commented on #1702
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1702 closed

[2019-04-11 20:25] wiwei commented on #1701
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] wiwei commented on #1696
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1701 closed

[2019-04-11 20:25] #1696 closed

[2019-04-11 20:25] wiwei commented on #1692
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1692 closed

[2019-04-11 20:25] wiwei commented on #1683
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] wiwei commented on #1680
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1683 closed

[2019-04-11 20:25] wiwei commented on #1677
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1680 closed

[2019-04-11 20:25] #1677 closed

[2019-04-11 20:25] wiwei commented on #1675
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1675 closed

[2019-04-11 20:25] wiwei commented on #1674
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1674 closed

[2019-04-11 20:25] wiwei commented on #1668
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1668 closed

[2019-04-11 20:25] wiwei commented on #1667
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] wiwei commented on #1664
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1667 closed

[2019-04-11 20:25] wiwei commented on #1663
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1664 closed

[2019-04-11 20:25] wiwei commented on #1662
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1663 closed

[2019-04-11 20:25] wiwei commented on #1653
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1662 closed

[2019-04-11 20:25] #1653 closed

[2019-04-11 20:25] wiwei commented on #1644
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1644 closed

[2019-04-11 20:25] wiwei commented on #1641
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:25] #1641 closed

[2019-04-11 20:26] wiwei commented on #1640
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1640 closed

[2019-04-11 20:26] wiwei commented on #1635
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1635 closed

[2019-04-11 20:26] wiwei commented on #1632
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1632 closed

[2019-04-11 20:26] wiwei commented on #1624
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1624 closed

[2019-04-11 20:26] wiwei commented on #1622
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1622 closed

[2019-04-11 20:26] wiwei commented on #1621
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1617
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1621 closed

[2019-04-11 20:26] #1617 closed

[2019-04-11 20:26] wiwei commented on #1610
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1610 closed

[2019-04-11 20:26] wiwei commented on #1606
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1606 closed

[2019-04-11 20:26] wiwei commented on #1602
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1599
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1602 closed

[2019-04-11 20:26] #1599 closed

[2019-04-11 20:26] wiwei commented on #1589
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1589 closed

[2019-04-11 20:26] wiwei commented on #1581
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1581 closed

[2019-04-11 20:26] wiwei commented on #1579
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1579 closed

[2019-04-11 20:26] wiwei commented on #1556
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1553
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1556 closed

[2019-04-11 20:26] wiwei commented on #1543
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1553 closed

[2019-04-11 20:26] wiwei commented on #1536
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1543 closed

[2019-04-11 20:26] #1536 closed

[2019-04-11 20:26] wiwei commented on #1520
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1520 closed

[2019-04-11 20:26] wiwei commented on #1513
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1513 closed

[2019-04-11 20:26] wiwei commented on #1511
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1511 closed

[2019-04-11 20:26] wiwei commented on #1510
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1507
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1510 closed

[2019-04-11 20:26] wiwei commented on #1501
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1507 closed

[2019-04-11 20:26] #1501 closed

[2019-04-11 20:26] wiwei commented on #1499
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1499 closed

[2019-04-11 20:26] wiwei commented on #1498
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1498 closed

[2019-04-11 20:26] wiwei commented on #1494
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1488
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1494 closed

[2019-04-11 20:26] #1488 closed

[2019-04-11 20:26] wiwei commented on #1485
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1485 closed

[2019-04-11 20:26] wiwei commented on #1484
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1484 closed

[2019-04-11 20:26] wiwei commented on #1481
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1481 closed

[2019-04-11 20:26] wiwei commented on #1473
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1473 closed

[2019-04-11 20:26] wiwei commented on #1466
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1466 closed

[2019-04-11 20:26] wiwei commented on #1454
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1454 closed

[2019-04-11 20:26] wiwei commented on #1450
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1450 closed

[2019-04-11 20:26] wiwei commented on #1447
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1447 closed

[2019-04-11 20:26] wiwei commented on #1442
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1438
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1442 closed

[2019-04-11 20:26] #1438 closed

[2019-04-11 20:26] wiwei commented on #1437
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1437 closed

[2019-04-11 20:26] wiwei commented on #1418
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1418 closed

[2019-04-11 20:26] wiwei commented on #1417
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1417 closed

[2019-04-11 20:26] wiwei commented on #1401
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] wiwei commented on #1399
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:26] #1401 closed

[2019-04-11 20:27] wiwei commented on #1394
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1399 closed

[2019-04-11 20:27] #1394 closed

[2019-04-11 20:27] wiwei commented on #1388
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1388 closed

[2019-04-11 20:27] wiwei commented on #1385
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1385 closed

[2019-04-11 20:27] wiwei commented on #1378
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1378 closed

[2019-04-11 20:27] wiwei commented on #1377
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1377 closed

[2019-04-11 20:27] wiwei commented on #1342
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1342 closed

[2019-04-11 20:27] wiwei commented on #1323
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1323 closed

[2019-04-11 20:27] wiwei commented on #1319
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1319 closed

[2019-04-11 20:27] wiwei commented on #1306
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1306 closed

[2019-04-11 20:27] wiwei commented on #1303
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1303 closed

[2019-04-11 20:27] wiwei commented on #1288
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1285
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1288 closed

[2019-04-11 20:27] #1285 closed

[2019-04-11 20:27] wiwei commented on #1281
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1281 closed

[2019-04-11 20:27] wiwei commented on #1264
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1260
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1264 closed

[2019-04-11 20:27] wiwei commented on #1241
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1260 closed

[2019-04-11 20:27] #1241 closed

[2019-04-11 20:27] wiwei commented on #1238
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1238 closed

[2019-04-11 20:27] wiwei commented on #1235
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1234
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1235 closed

[2019-04-11 20:27] #1234 closed

[2019-04-11 20:27] wiwei commented on #1233
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1233 closed

[2019-04-11 20:27] wiwei commented on #1231
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1227
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1227 closed

[2019-04-11 20:27] wiwei commented on #1221
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1221 closed

[2019-04-11 20:27] wiwei commented on #1219
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1218
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1219 closed

[2019-04-11 20:27] #1218 closed

[2019-04-11 20:27] wiwei commented on #1211
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1211 closed

[2019-04-11 20:27] wiwei commented on #1180
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1170
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1180 closed

[2019-04-11 20:27] #1170 closed

[2019-04-11 20:27] wiwei commented on #1142
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1142 closed

[2019-04-11 20:27] wiwei commented on #1125
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1125 closed

[2019-04-11 20:27] wiwei commented on #1119
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1119 closed

[2019-04-11 20:27] wiwei commented on #1094
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #1030
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1094 closed

[2019-04-11 20:27] wiwei commented on #1010
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1030 closed

[2019-04-11 20:27] #1010 closed

[2019-04-11 20:27] wiwei commented on #1002
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #1002 closed

[2019-04-11 20:27] wiwei commented on #984
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #958
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #984 closed

[2019-04-11 20:27] #958 closed

[2019-04-11 20:27] wiwei commented on #956
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #956 closed

[2019-04-11 20:27] wiwei commented on #951
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #951 closed

[2019-04-11 20:27] wiwei commented on #944
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] wiwei commented on #937
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #944 closed

[2019-04-11 20:27] #937 closed

[2019-04-11 20:27] wiwei commented on #922
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:27] #922 closed

[2019-04-11 20:27] wiwei commented on #920
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #920 closed

[2019-04-11 20:28] wiwei commented on #884
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #884 closed

[2019-04-11 20:28] wiwei commented on #862
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #862 closed

[2019-04-11 20:28] wiwei commented on #836
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #836 closed

[2019-04-11 20:28] wiwei commented on #835
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #835 closed

[2019-04-11 20:28] wiwei commented on #772
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #772 closed

[2019-04-11 20:28] wiwei commented on #770
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] wiwei commented on #725
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #770 closed

[2019-04-11 20:28] #725 closed

[2019-04-11 20:28] wiwei commented on #706
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #706 closed

[2019-04-11 20:28] wiwei commented on #638
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] wiwei commented on #569
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #638 closed

[2019-04-11 20:28] wiwei commented on #506
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #569 closed

[2019-04-11 20:28] wiwei commented on #473
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #506 closed

[2019-04-11 20:28] #473 closed

[2019-04-11 20:28] wiwei commented on #442
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #442 closed

[2019-04-11 20:28] wiwei commented on #409
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #409 closed

[2019-04-11 20:28] wiwei commented on #337
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] wiwei commented on #231
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #337 closed

[2019-04-11 20:28] wiwei commented on #204
Closing issues older than 180 days. If this is still an issue, please reactivate with recent information.

[2019-04-11 20:28] #231 closed

[2019-04-11 20:28] #204 closed

[2019-04-11 20:40] killerantz commented on #3897
There's a PhysicalTouch state that was added recently, it's in there and will listen for touch events I'll try to make it less reliant on other components. The grab will be something new. I saw in another script, I think the Manipulation Handler, that looks for grab and checks for the literal string of the action description. That seems breakable if the actions are changed. Is there guidance for a

[2019-04-11 20:52] davidkline-ms commented on #3945
@Railboy, are you activating / deactivating from the profile?

[2019-04-11 20:54] davidkline-ms commented on #3939
Thanks for the report!

[2019-04-11 21:03] Railboy commented on #3945
Yes, with the editor toggles.

[2019-04-11 21:06] Railboy commented on #3915
Related to #3921

[2019-04-11 21:10] Yoyozilla commented on #876
MRTK v2 updated input system. Please review and file feedback if you still have suggestions!
Thanks!

[2019-04-11 21:10] #876 closed

[2019-04-11 21:11] Yoyozilla commented on #879
We will consider this in the new sharing platform features.

[2019-04-11 21:11] #879 closed

[2019-04-11 21:13] Yoyozilla commented on #1190
Moving discussion to Stackover flow since this seems like a non-mrtk bug.

[2019-04-11 21:13] #1190 closed

[2019-04-11 21:14] Yoyozilla commented on #1225
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:14] #1225 closed

[2019-04-11 21:15] Yoyozilla commented on #1370
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.

Also we moved on to use OSK instead of the keyboard prefab in v2.

Thanks!
Yoyo

[2019-04-11 21:15] #1370 closed

[2019-04-11 21:17] Yoyozilla commented on #1461
This would be a great question on Stack Overflow.

[2019-04-11 21:17] #1461 closed

[2019-04-11 21:21] Yoyozilla commented on #1474
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:21] #1474 closed

[2019-04-11 21:22] Yoyozilla commented on #1559
Could you please move to MRTK v2 and see if the issue repros.

[2019-04-11 21:22] #1559 closed

[2019-04-11 21:24] Yoyozilla commented on #1574
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.

We will make sure the new sharing in MRTK v2 has doc and readme when it becomes available
Thanks!

Yoyo

[2019-04-11 21:24] #1574 closed

[2019-04-11 21:25] keveleigh commented on #1559
It's possible this was fixed via https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/2325

[2019-04-11 21:25] Yoyozilla commented on #1757
This is fixed in MRTK v2.

Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:26] Yoyozilla commented on #1757
ManipulationHandler.cs is the replacement for HandDraggable

[2019-04-11 21:26] #1757 closed

[2019-04-11 21:26] Yoyozilla commented on #1811
Sharing is getting revamped in V2. we will make sure to have tutorial and docs when it becomes available.

[2019-04-11 21:26] #1811 closed

[2019-04-11 21:27] #1814 closed

[2019-04-11 21:27] Yoyozilla commented on #1843
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:27] #1843 closed

[2019-04-11 21:27] #1933 closed

[2019-04-11 21:29] Yoyozilla commented on #2032
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:30] #2032 closed

[2019-04-11 21:31] Yoyozilla commented on #2042
Please upgrade to MRTK v2 as a lot of these are addressed in the updated version.

[2019-04-11 21:31] #2042 closed

[2019-04-11 21:36] #2097 closed

[2019-04-11 21:36] #2098 closed

[2019-04-11 21:36] Yoyozilla commented on #2126
Unity bug, also outdated :)

[2019-04-11 21:36] #2126 closed

[2019-04-11 21:37] Yoyozilla commented on #2190
We will add this to our backlog :)

[2019-04-11 21:38] Yoyozilla commented on #2238
We will add this into our backlog when we start to consider iOS support in MRTK v2.

Thanks!

[2019-04-11 21:38] #2238 closed

[2019-04-11 21:40] Yoyozilla commented on #2253
@SimonDarksideJ  are you signing up to create this sample SDK :)

[2019-04-11 21:40] Yoyozilla commented on #2256
The recommendation is to use the Unity Joystick data provider :)

[2019-04-11 21:40] #2256 closed

[2019-04-11 21:42] Yoyozilla commented on #2257
This seems like something Unity should (and currently is) handling.
MRTK will leverage this, but we are not implementing our own logic here.

[2019-04-11 21:42] #2257 closed

[2019-04-11 21:42] #2261 closed

[2019-04-11 21:43] Yoyozilla commented on #2296
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.

Thanks!
Yoyo

[2019-04-11 21:43] #2296 closed

[2019-04-11 21:43] Yoyozilla commented on #2296
This error also won't affect build

[2019-04-11 21:44] Yoyozilla commented on #2309
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.

We are building the updated sharing support on MRTK V2.
Thanks!
Yoyo

[2019-04-11 21:44] #2309 closed

[2019-04-11 21:46] Yoyozilla commented on #2411
We have done some perf work on MRTK v2, could you please take a look and reopen issues against v2?

[2019-04-11 21:46] #2411 closed

[2019-04-11 21:46] Yoyozilla commented on #2430
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:46] #2430 closed

[2019-04-11 21:48] Yoyozilla commented on #2438
Looks like everyone is unblocked and found fixes.

[2019-04-11 21:48] #2438 closed

[2019-04-11 21:48] Yoyozilla commented on #2440
This is available in v2.

[2019-04-11 21:48] #2440 closed

[2019-04-11 21:51] Yoyozilla commented on #2504
audio will be an extension

[2019-04-11 21:51] #2504 closed

[2019-04-11 21:53] #2532 closed

[2019-04-11 21:54] #2540 closed

[2019-04-11 21:54] Yoyozilla commented on #2551
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:54] #2551 closed

[2019-04-11 21:56] Yoyozilla commented on #2585
Adding this to our backlog to investigate the benefit/gain of moving to rigid body.

[2019-04-11 21:56] #2585 closed

[2019-04-11 21:56] #2592 closed

[2019-04-11 21:56] Yoyozilla commented on #2592
This will be cover by future audio extension

[2019-04-11 21:57] Yoyozilla commented on #2598
This seems like a great topic to move to stack overflow

Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 21:57] #2598 closed

[2019-04-11 21:58] Yoyozilla commented on #2615
Not MRTK specific question.
You will likely get better response here:
https://forums.hololens.com/

[2019-04-11 21:58] #2615 closed

[2019-04-11 21:59] Yoyozilla commented on #2641
This would be great for someone in the community to add as extension.

[2019-04-11 21:59] #2641 closed

[2019-04-11 22:00] Yoyozilla commented on #2644
Sharing platform getting updated in v2.

Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 22:00] #2644 closed

[2019-04-11 22:00] Yoyozilla commented on #2647
Seems like you are unblocked.
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-11 22:00] #2647 closed

[2019-04-11 22:01] Yoyozilla commented on #2649
we are doing nuget instead.

[2019-04-11 22:01] #2649 closed

[2019-04-11 22:46] keveleigh commented on #1260
Also, we do now support version numbers for each MRTK package and version. Example (where we updated the version): https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3852

[2019-04-11 23:06] davidkline-ms commented on #3945
Thanks! We will investigate.

[2019-04-12 07:28] DaRockJaeger opened #3948 "Main Camera is changing Clear Flags during runtime"
## Overview
When I change the Clear Flags of the Main Camera to Solid Color, and press Play in Unity, the Main Camera set Clear Flags on "Skybox" again.

## Expected Behavior
MainCamera should keep Clear Flags on "Solid Color" during runtime

## Actual Behavior
Main Camera sets Clear Flags to Skybox during runtime

## Steps to reproduce
1. Insert Main Camera using Mixed-Reality-Toolkit -> Add to S

[2019-04-12 07:42] DaRockJaeger opened #3949 "Slow in Stopping Playback in Unity"
## Overview
When Pressing Play Button in Unity, Application starts really fast (3 seconds).
But when stopping in Unity, it takes about 20 seconds until I can use Unity again.

## Expected Behavior
When stopping in Unity, Editor needs 3 seconds to stop playback.

## Actual Behavior
When stopping in Unity, Editor needs 10 to 15 seconds to stop playback and be usable again.

## Steps to reproduce
1.

[2019-04-12 07:45] DaRockJaeger commented on #3948
With Main Camera, I mean the Camera that is created when using in menu:
 Mixed-Reality-Toolkit -> Add to Scene and Configure

[2019-04-12 08:30] gilbdev commented on #3948
You need to edit the Camera Profile Settings instead of directly setting up the Camera.

- edit the MixedRealityToolkit
- access the Caemra Settings from here (you can clone the Camera Profile if you want to change it)

i guess it's done this way to be able to make the same application for different device (both AR with transparent display, and VR with Opaque ones)

[2019-04-12 08:37] mtaulty opened #3950 "Adding and configuring components like BoundingBox, ManipulationHandler at runtime?"
## Overview
Adding a behaviour like BoundingBox or ManipulationHandler to an object in the designer seems pretty good - I can simply drag/drop and then I can change 'properties' such as BoundingBox.activation or ManipulationHandler.allowFarManipulation.

However, I am creating objects dynamically and adding these behaviours from code and I find that the various properties that I need to set to 'co

[2019-04-12 10:13] twosyde commented on #3898
Thanks, but for the MRTK RC1 release i need a Windows Insider Preview to use the new SDK, or am i wrong?

[2019-04-12 10:26] quakeulf opened #3951 "No formal parameter for scope in Unity 2019.2.0a11 with DOTS"
## Overview
When inporting the latest MRTK-release from here:
https://github.com/Microsoft/MixedRealityToolkit-Unity/releases

...the sole console puts out this:

Assets\MixedRealityToolkit\Inspectors\MixedRealityPreferences.cs(70,32): error CS7036: There is no argument given that corresponds to the required formal parameter 'scopes' of 'SettingsProvider.SettingsProvider(string, SettingsScope, IEn

[2019-04-12 10:28] quakeulf commented on #3949
I have this exact same issue. It takes me up to 30 seconds after stopping play-mode in editor to resume using it.

It does not happen in other projects in the same version of Unity. I work in WebGL at home and it is not near as slow.

Have you tried 2018.3.10*? It could work better. At least it did for me.

[2019-04-12 10:36] quakeulf commented on #3951
This can be fixed by making:
            **var provider = new SettingsProvider("Project/MRTK")**

Into:
            **var provider = new SettingsProvider("Project/MRTK", SettingsScope.Project)**

[2019-04-12 11:19] StephenHodgson commented on #3951
Actually I think using the `SettingsScope.User` makes more sense for the mrtk settings to show up in preferences window.

[2019-04-12 11:45] SimonDarksideJ commented on #3950
It's certainly not the case that these should be less accessible than the versions in the htk, although some patterns might have changed slightly.
Will try and look later.

@cre8ivepark  any thoughts why the access pattern might have changed

[2019-04-12 13:23] lukastoenneMS opened #3952 ""Microsoft.MixedReality.Toolkit" has dependency on editor assemblies"
## Overview
The core "Microsoft.MixedReality.Toolkit" assembly has a dependency on
        "Microsoft.MixedReality.Toolkit.Core.Utilities.Editor",
        "Microsoft.MixedReality.Toolkit.Core.Definitions.Utilities.Editor",

It seems to use a number of utility classes from the editor assemblies, wrapped in `#if UNITY_EDITOR`. Apart from good design principle, this also prevents the editor assemblie

[2019-04-12 13:29] quakeulf opened #3953 "Mr. Teekay's Standard.shader shows up as pink (without issues) in Unity 2019.2.0a11 (LWRP)"
## Overview
The newest **LightweightRenderPipelineAsset** is incompatible with the shader. **Removing** the _reference_ to **it** in **_Project Settings > Graphics > Scriptable Render Pipeline Settings_** makes it return to _normal._
## Expected Behavior
A nice feel of **_hologrammatic_** shade.
## Actual Behavior
Plain **_pink._**
## Steps to reproduce
1. Import **MRTK v2 RC1** into the specified

[2019-04-12 13:33] provencher commented on #3953
@quakeulf This is not a bug.

The MRTK standard shader is built against a different rendering pipeline. Any shader in the MRTK needs to be completely rebuilt for the LWRP. If you'd like to volunteer such a contribution, I'm sure the community would appreciate it. Until then, if you want the LWRP, you'll need to write new shaders, or use the default unity ones and hope they run well enough.

[2019-04-12 13:33] quakeulf commented on #3951
Could this be added to the code in the repository?

[2019-04-12 13:51] zxzkf1992 opened #3954 "MRTK v2 Release Candidate 1 How can i delete the status bar for CPU fps, peak, used, Limit ?"
## Overview
I am developing a project for HoloLens. When I run my project, a status bar appears, showing FPS, memory usage, and so on. How can I delete this status bar or not display it?
![微信图片_20190412154417](https://user-images.githubusercontent.com/45712264/56042155-a9d05580-5d3a-11e9-9870-0e383ae38219.png)

## Expected Behavior

## Actual Behavior

## Steps to reproduce
_(Links to sample githu

[2019-04-12 14:19] luis-valverde-ms commented on #3944
@genereddick , I wasn't able to reproduce the issue but looking at the code I saw so a potential problem that I have addressed in PR #3955 . Can I ask you to give that change a try?

I don't fully understand how we get to the situation where that potential problem becomes an issue though. Can you share more detailed repro instructions, maybe with a repro scene? Do you hit the issue all the time, r

[2019-04-12 14:22] luis-valverde-ms commented on #3944
Also, just to be sure, when you say controllers you mean 6 DOF controllers, right? One, two, doesn't matter? Do you have any other controllers connected, like an Xbox gamepad?

[2019-04-12 15:01] provencher commented on #3954
Remove the diagnostics profile from the MRTK instance

[2019-04-12 15:02] ArtieTwelve commented on #3954
To remove the floating Diagnostics screen from your project:
Open MixedRealityToolKit in the Inspector.
Scroll down to  Diagnostic Systems Settings
Unclick Enable Diagnostics System.

[2019-04-12 15:26] provencher opened #3957 "Proposal: Make it easier to obtain the position of the primary active cursor"
## Overview
Currently, it is rather difficult to obtain the position of the active cursor in the scene.

The focus handler system provides many pointers, and it is unclear which one is driving the active cursor. Further, there is no obvious means of gaining access to the active cursor in the scene.

Given that only one UIRayCasting camera is active at once in the scene, so it would make sense to b

[2019-04-12 15:28] provencher commented on #3957
@luis-valverde-ms what do you think about this?

[2019-04-12 15:48] luis-valverde-ms commented on #3957
@provencher , it doesn't sound unreasonable. Can I ask about your particular use cases?

[2019-04-12 15:48] Walker8711 commented on #3909
The same thing happens to me as well, with the examples and with small apps I create.  It does it when I remote with unity, and when I deploy the app to the Hololens.  I also recreated the same app using the MRTK beta version and it worked fine with that.

[2019-04-12 16:05] genereddick commented on #3944
2 6DOF Controllers, and there is an xBox controller connected as well (and mouse, keyboard if relevant).

[2019-04-12 16:08] genereddick commented on #3944
@luis-valverde-ms do you still need a repo, or is it fixed per #3955 ?

[2019-04-12 16:16] provencher commented on #3957
@luis-valverde-ms My use case involves interfacing with an existing UI interaction system, without rendering my scenes incompatible with MRTK interactibles.

I have an existing UI system which requires a Pointer origin and direction to draw a ray

That said, getting a general pointer origin and direction from the MRTK has required some clever hacking around.

The origin seems to be consistently re

[2019-04-12 16:29] luis-valverde-ms commented on #3957
Did you try using IMixedRealityPointer.Position/Rotation for that?

I would advise against relying on that as it will contain information for the last pointer to raycast that frame.

Did you try using IMixedRealityPointer.BaseCursor instead?

[2019-04-12 16:35] provencher commented on #3957
The issue with relying on IMixedRealityPointer anything, is that the only way to get access to it is by iterating over this list
`MixedRealityToolkit.InputSystem.FocusProvider.GetPointers<IMixedRealityPointer>();`

From that list, how do I know which one is driving the cursor?

[2019-04-12 16:40] wiwei commented on #3957
One more datapoint: From chats with other folks who were getting started with MRTK v2, they also had similar feedback about wanting to know the "primary" cursor or pointer, so I'm just trying to +1 this to make it clear that we have multiple points of feedback on this.

I think that the other folks who were hitting this also clarified the statement with that the concept of "primary" can be funky w

[2019-04-12 16:40] genereddick commented on #3944
@luis-valverde-ms I'll test the change and if still happening will see if I can repro in a new project

[2019-04-12 16:42] wiwei commented on #3954
I can probably update the doc here to have those steps from @ArtieTwelve as well:

https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Diagnostics/ConfiguringDiagnostics.html

[2019-04-12 16:44] provencher commented on #3957
@wiwei thanks for weighing in.

Regarding your point on the funkyness of getting the "primary" pointer, I think in most app, it makes sense to expose the dominant hand if two pointers are present. There already exists some notion of "handedness" in the MRTK.

[2019-04-12 16:47] luis-valverde-ms commented on #3957
@provencher , you usually know who is driving the cursor because you implement your UI logic based on pointer events. Is the problem here that your UI is Unity UI and hence receives a native Unity UI event that does not contain a reference to the pointer/cursor that is focusing it?

[2019-04-12 16:53] zxzkf1992 commented on #3954
Thank you, I will try it.

[2019-04-12 16:54] provencher commented on #3957
@luis-valverde-ms the issue is that the legacy UI system has its own focus system that has nothing to do with MRTK interfaces, and as such adapting it is a lot more work than allowing it to exist alongside the default MRTK systems.

I know this is not how the MRTK is designed to be used, but exposing data about what it's doing, allows me to integrate MRTK input in existing systems, without invasiv

[2019-04-12 16:57] zxzkf1992 commented on #3954
@provencher @ArtieTwelve @wiwei Thank you all, I will try it.

[2019-04-12 17:06] wiwei commented on #3951
This is an action item on us where we're working through the best model of supporting 2019.1. Even though our docs say that we support 2018.3.x+, in reality we've been focused entirely on the current stable version of unity (i.e. 2018.3.x, not 2019.x).

There's also figuring out ARM64 support and other ramifications of 2019 that we're looking at holistically.

In this particular case going with Se

[2019-04-12 17:21] genereddick commented on #3944
OK, the previous error went away, so maybe that was fixed, but only to be replaced by others, most prominent of which is below. I'll create a new project and test again to see if it happens on new projects or is somehow particular to this one.

A scripted object (probably Microsoft.MixedReality.Toolkit.Input.MixedRealityInputSimulationProfile?) has a different serialization layout when loading. (R

[2019-04-12 18:17] RickyAvina opened #3958 "SetFocusPointForFrame not updating Stabilization Plane"
## Overview
The Stabilization Plane does not update upon calling SetFocusPointForFrame within the *StabilizationPlaneSetting.unity* or any other project. I am verifying that the stabilization plane actually updates using the Windows Device Portal and qualitatively, but noticing the color bleeding/jitter does not improve upon setting the focus point. In both my projects and the provided  *Stabiliza

[2019-04-12 18:42] keveleigh commented on #3898
@twosyde You'll need the insider SDK to build, but you don't need to update your OS to an Insider Preview. It'll still run on older versions of Windows.

[2019-04-12 19:49] wiwei opened #3959 "Some upcoming process changes."
This issue describes some of the upcoming process changes that we will be adopting, and is filed as an issue to give some transparency before it happens, to give some of the rationale behind the changes, and to gather data and feedback on things that we may not have thought of. Overall the philosophy behind these changes are that we want to take incremental steps toward improving pain points that

[2019-04-12 20:49] KeurKeur opened #3960 "Uniy LTS crash with MRTK"
## Overview
Hello hello, I wanted to try the MRTK for a project and I have to use a LTS version of Unity but unity crash (I mean the application quit and an unity bug reporter window appear).

## Expected Behavior
Unity not crash.

## Actual Behavior
Unity crash and bug reporter window appear.

## Steps to reproduce
_(Links to sample github project preferred)_
Right click, import package, custom p

[2019-04-12 20:55] genereddick commented on #3944
OK, create a new Unity 2018.3.12f1 project with a single cube in the scene, used latest MRTK code (as of this morning), 16-bit depth and single pass instanced (in case relevant). Rebooted machine to make sure there were no pending Windows installs or cached settings in the WMR portal:

Test 1 with Xbox controller plugged in and one 6DOF controller active. Including various debug window messages in

[2019-04-12 21:05] genereddick commented on #3944
Additional things I checked just to make sure it wasn't some interaction with the local environment:
#2 Changed output to x64 (have always used x86,)
#3 Had previously done a release deploy, Uninstalled this to make sure there was no problem btw the installed version and a running debug version.
#4 Tested with the Xbox controller unplugged
#5 Replaced 6DOF controller batteries

No difference with

[2019-04-12 21:06] wiwei commented on #3960
Thanks for filing an issue!

MRTK V2 requires Unity 2018.3.x (which I think will become the LTS "soonish" following Unity's LTS roadmap here:

https://blogs.unity3d.com/2018/04/09/new-plans-for-unity-releases-introducing-the-tech-and-long-term-support-lts-streams/)

You'll need to upgrade to the latest 2018 Unity in order to use this.

[2019-04-12 21:06] #3960 closed

[2019-04-12 21:19] genereddick commented on #3944
It was working a few days ago without these issues, so maybe it is a Windows or Unity issue? There have been several updates in the past few days. I'm on 10.0.18362.30, with this Cumulative update installed on 4/9 https://support.microsoft.com/en-us/help/4495666/windows-10-update-kb4495666, and Unity 2018.3.12f1 which was 4/8.

[2019-04-13 11:15] Cris21395 opened #3966 "Custom button on AppBar is not visible"
## Overview

When you add custom buttons to AppBar object they are not enabled. By initializing them, they are set to invisible and only those that are Adjust, Hide or Remove are visible. It can be seen in InitializeButtons and Updatebuttons methods from AppBar.cs.

I have enabled them in a script that I have created, but I think that they should enable by default.

## Expected Behavior

Visible c

[2019-04-13 14:28] StephenHodgson commented on #3952
The reason for this is so the editor scripts are compiled and ran first. Without this then some of the initial editor setup steps will fail.

[2019-04-13 14:35] StephenHodgson commented on #3892
The `DefaultMixedRealityInputSimulationProfile` should be updated to properly utilize InputActions instead of hard coded axis strings

[2019-04-13 14:39] StephenHodgson commented on #3959
Actually getting valid feedback and not removing the original authors from having the ability to request changes probably would have gone a long way as well.

[2019-04-13 15:04] tamizhuser opened #3967 "When I build the MixedRealityToolkit-Unity sample project, I faced the following error"
Assets\MixedRealityToolkit.Providers\WindowsMixedReality\WindowsMixedRealityArticulatedHand.cs(418,73): error CS0246: The type or namespace name 'HandJointKind' could not be found (are you missing a using directive or an assembly reference?)

Assets\MixedRealityToolkit.Providers\WindowsMixedReality\WindowsMixedRealityArticulatedHand.cs(111,17): error CS0246: The type or namespace name 'HandMeshObs

[2019-04-13 16:19] genereddick commented on #3967
See #3844. Looks like you need to make sure you are on Windows 18362.

[2019-04-13 17:18] Cris21395 commented on #3967
Hi @keveleigh

For Hololens 1, is it needed to be on Windows 18362?

[2019-04-13 18:11] genereddick commented on #3967
@Cris21395 I think it is a requirement for MRTK v2 -- at least as of the RC1 when they merged the code in for the HL2 -- so it impacts HoloLens 1 as well. I had the same issue and it was resolved by updating the Windows version.

But @keveleigh can weigh in if otherwise.

[2019-04-13 18:20] Cris21395 commented on #3967
Thanks a lot @genereddick for your prompt reply. I thought that updating the windows version could resolve my problem, but I wanted to be sure before doing it.

[2019-04-13 21:46] frangagn commented on #3939
Same problem here! Tried reimporting the MRTK, used completely empty project, still same errors.

[2019-04-14 08:30] tamizhuser opened #3968 "Who I can select or interact the objects or buttons using hololens1 ?"
Press WASD keys to fly / move.
Press and hold right mouse to look around.
Press and hold space bar to use a simulated hand.

"Above input are work but who I can select or interact the objects or buttons using hololens1"

[2019-04-14 09:01] tamizhuser commented on #3967
Thankyou @keveleigh

[2019-04-14 09:02] tamizhuser commented on #3967
Thank you @genereddick

[2019-04-14 11:02] frangagn commented on #3844
Any lines of code we could comment out in order to be able to compile our projects in the meantime? Very frustrating after days of development and debugging not to be able to compile our final product, especially when it's for mixed reality and has nothing to do with articulated hands...

[2019-04-14 13:34] Alexees commented on #3902
Ok, nevermind, I did not configure the upstream correctly

[2019-04-15 07:45] Avalin commented on #3967
Same problem here on HoloLens 1 still, despite running on Windows 18362.30

[2019-04-15 08:01] davidkline-ms commented on #3967
@genereddick is correct, the 18362 SDK is a compile time requirement for MRTK v2. This is necessary to enable support for HoloLens 2 features.

At runtime, the applications will run on HoloLens 1 without need for a new operating system.

[2019-04-15 08:07] davidkline-ms commented on #3954
@ArtieTwelve's steps are correct.

Please note that it is highly recommended to keep the diagnostics profiler enabled during the development of your application so that you can spot performance issues (ex: frame rate below 60) when they are easiest to fix.

[2019-04-15 08:08] #3954 closed

[2019-04-15 08:09] tamizhuser commented on #3967
Now, I am udate window 18875 but not solve the problem

[2019-04-15 08:10] davidkline-ms commented on #3954
This document describes enabling the diagnostics system in detail.

https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Diagnostics/DiagnosticsSystemGettingStarted.html

[2019-04-15 08:34] Ariel-Feldman commented on #3967
So, installing the 18362 SDK using the insider program do make the build success. the problem now is that that the Hololns1 don't have this SDK version, an apparently can't download or install it.
Does anyone know what is the trick here?
we need to build using  18362 SDK and that's fine, but does the Hololens1 also need to have it install on it OS? if yes, how can we install it?

[2019-04-15 09:16] Ariel-Feldman opened #3969 "Windows SDK 18362 on Hololens 1 (build with MRTKv2 RC1)"
## Overview
In order to build with Unity and  MRTKv2 RC1, we need to install the Windows SDK 18362  which we get from windows insider program, that's OK. but when deploying from VS I get an error that my Hololens 1 can't receive it since its Windows SDK is 17x.
doesn't anyone know what's the trick?.. updating the Hololens SDK is never mention in here or docs, and it can be kind of a problem since

[2019-04-15 09:41] davidkline-ms commented on #3967
@Ariel-Feldman, you should not need 18362 on the HoloLens 1. When you run your application, MRTK will ask Windows 10 if an API (ex: eye tracking) is supported on your version of Windows 10. If not, the API will not be called.

If you have any trouble or questions, please do not hesitate to ask on stack overflow (tag: mrtk).

[2019-04-15 09:56] davidkline-ms commented on #3948
Correct.

[2019-04-15 09:59] luis-valverde-ms commented on #3944
@lukastoenneMS is looking at that MixedRealityInputSimulationProfile error.

The other ones seem like the could be related to a mismatch between the Windows SDK version your project is built with and the Windows version you are running, but I'm no expert. You can check and change the SDK version you are using in Unity in File > Build Settings. Select UWP Platform, adjust your Target and minimum SD

[2019-04-15 10:00] luis-valverde-ms commented on #3944
Also, if they "item with the same key has already been added"  is gone, do you mind closing this issue?

[2019-04-15 11:02] davidkline-ms commented on #3969
@Ariel-Feldman, can you post the specific error message(s) you are seeing during deployment? There should be no errors when deploying to a HoloLens 1 (version 1809, build 17763) even when building with a newer SDK (ex: 18362).

I run this exact scenario myself and have not seen errors.

Thanks!

[2019-04-15 11:50] lukastoenneMS commented on #3944
The problem with the MixedRealityInputSimulationProfile seems to be that the data providers in InputSystem use a generic BaseMixedRealityProfile. When the standalone app is built the InputSimulation assembly is excluded since it's editor-only. The final type of the data provider's profile asset (MixedRealityInputSimulationProfile, 300 bytes) is then missing and the serialization interprets the ass

[2019-04-15 12:28] Ariel-Feldman commented on #3969
@davidkline-ms, Thanks! I saw your replay in the other thread, the answer as you said,  was in StackOverflow. On unity build screen, the **target** SDK should be 10.0.18362 and the **Minimum** **must** be 10.0.10240.
all thanks to @julenka and #Mrtk tag, thanks again! []-)

[2019-04-15 12:38] #3969 closed

[2019-04-15 12:53] Ariel-Feldman commented on #3967
the solutions in here, straight from the queen, mother of dragons and breaker of chains...of Hololens2 []-) Julia Schwarz
https://stackoverflow.com/a/55626479/10104036

[2019-04-15 13:15] fcagnetta commented on #2531
Still not working here

[2019-04-15 14:10] luis-valverde-ms commented on #3957
I think I'm getting there. So, you have your own UI system/components, which neither are [Unity UI](https://docs.unity3d.com/Manual/UISystem.html) nor implement any of MRTK's [pointer events](https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Input/Pointers.html#pointer-events).

This is where I get lost, do you want to use the active MRTK pointer to trigger UI events in your syst

[2019-04-15 15:18] #3967 closed

[2019-04-15 15:30] danielhofmann-ms opened #3970 "Unity UI text edit field should make virtual keyboard appear"
## Overview
Open the _HandInteractionExamples_ scene and select a text edit control. This should cause a virtual keyboard to show up by default.

## Mixed Reality Toolkit Release Version
MRTK v2

[2019-04-15 15:47] genereddick opened #3971 "Problem with MixedRealityInputSimulationProfile serialization"
## Overview
The error message below is showing up on a deploy to the WMR Headset (but not on HoloLens on the in the Unity editor). I've separated it from #3944.

From @lukastoenneMS's comment in #3944

The problem with the MixedRealityInputSimulationProfile seems to be that the data providers in InputSystem use a generic BaseMixedRealityProfile. When the standalone app is built the InputSimulation

[2019-04-15 15:48] genereddick commented on #3944
Thanks @luis-valverde-ms,  @lukastoenneMS, @davidkline-ms: I created a new issue: #3971 so this one can be closed.

[2019-04-15 15:48] #3944 closed

[2019-04-15 16:07] #3959 closed

[2019-04-15 16:08] chrisfromwork commented on #3970
I've hit this pain as well. It would be nice to have this behaviour just work by default. Android and iOS seem to work without any additional logic.

[2019-04-15 16:36] SeakingSubHunter commented on #3566
Hi guys.  I'm glad i  found this thread because i thought it was something i was doing wrong.  Without a probable solution....is there a way i can just turn off the developer messages in the HMD?  my concrete type message isnt really effecting anything anyway.

[2019-04-15 17:10] provencher commented on #3957
@luis-valverde-ms Indeed I do fire my own raycasts. Its a bit redundant, but it provides a ton of flexibility.

[2019-04-15 18:43] Cameron-Micka commented on #3953
Hi @quakeulf, the LWRP is something I hope to support. But, I have yet to evaluate what work needs to be done. I'll be sure to post back here as I know more. :)

[2019-04-15 19:53] #3951 closed

[2019-04-15 19:53] wiwei commented on #3948
Closing down this question, as it looks like it has been addressed.

[2019-04-15 19:53] #3948 closed

[2019-04-15 19:55] wiwei commented on #3918
This *might* have been addressed by @sostel's change (which was checked in one day after this was filed):

https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3870

[2019-04-15 20:17] sostel commented on #3918
By default, the root scene should automatically load a scene. This assumption was wrong though, as the script loading the additive scene got disabled by accident. The fix that I had submitted fixes that. However, I guess it's still a good idea to get the LoadNewScene script fixed, so that even if there's no scene automatically loaded, you can still use the scene menu. I'll look into it. Thanks!

[2019-04-15 21:11] StephenHodgson commented on #3951
Considering when I first wrote it it was in preferences, I thing that it's already been disrupted.

[2019-04-16 07:10] SimMue commented on #3950
Similar problem here.
I'm trying to add the interactable script dynamically and this gives me a null-reference-exception in the Update-Method, because the StateManager is not initialized.
It seems like you have to do a lot of manual configuration. That's fine, however as @mtaulty mentioned, most of the fields are private.

## Steps to reproduce
You can simulate this behaviour, by adding the compon

[2019-04-16 07:28] LocalJoost commented on #3918
You are welcome ;)

[2019-04-16 09:01] luis-valverde-ms commented on #3957
I'd worry that, unless you perform exactly the same raycast twice, you could end up with one of your UI components and one of the MRTK/Unity UI ones with simultaneous focus from the same pointer. If you don't consider things like the IMixedRealityFocusProvider.FocusLayerMasks and IMixedRealityPointer.PrioritizedLayerMasksOverride in use, you could get different results even from the same origin an

[2019-04-16 09:42] davidkline-ms opened #3978 "Default settings dialog should say "would like" instead of "needs" wrt il2cpp"
## Overview
When running on Unity 2018, there is no requirement to use IL2CPP (.NET backend still exists, MRTK is compatible with the .NET backend), so _technically_ MRTK does not _need_ to switch backends.

This will also make the language more consistent with the prompt at the bottom of the dialog ("Would you like to make this change?").

When 2019 is detected, this dialog should not be shown as

[2019-04-16 09:46] davidkline-ms opened #3979 "Project Settings > MRTK should be Project Settings > Mixed Reality Toolkit"
All other instances of MRTK being referenced in the Unity UI is by the full name of Mixed Reality Toolkit. The Project Settings dialog should match (for consistency and user understanding).

## Unity Editor Version
2018.3.12f1

## Mixed Reality Toolkit Release Version
v2 RC1

[2019-04-16 12:12] provencher commented on #3957
@luis-valverde-ms thanks for breaking that down.

I do agree that it's quite possible to get some variance if the layer masks are different.

The global listener suggestion isn't a bad one, however it comes at the cost of overhauling all my UI elements so that they will raise events when the MRTK raycast points at them.

My issue here especially, comes from the fact that I'm maintaing several apps

[2019-04-16 13:52] luis-valverde-ms commented on #3957
The idea behind the global listener is to avoid having to modify your UI elements by emulating the way you usually drive them based on the incoming MRTK events. The logic for that should reside in that shared, global listener that dispatches to the individual UI elements.

Nevertheless, I'll create a PR for that last _pointer with input change_ and let you give it a try.

[2019-04-16 14:16] provencher commented on #3957
Perhaps I misunderstand the global listener workflow you're proposing.

Will the global listener just receive the pointer state every update, which I then route to my UI?
I assumed pointer still require interacting with some MRTK UI in order to trigger events.

Cheers for working on that PR however. It is much appreciated.

[2019-04-16 15:28] luis-valverde-ms commented on #3957
Pointer events are raised when the raycast hits something, whether it is UI or not, but looking at the code I see that at the moment some of them (focus changed, enter and exit) are not dispatched to the global listener.

[2019-04-16 15:44] luis-valverde-ms commented on #3957
@provencher , can you gives this a try? https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3983
@wiwei , do you think the changes in that PR could be useful too for that other people trying to figure out the primary pointer?

[2019-04-16 16:34] davidkline-ms commented on #3971
@genereddick, have you noticed any side effects other than the message in the debugger?

Currently working on a possible solution, just wondering if there are any ill effects.

[2019-04-16 16:56] julenka commented on #3968
Hi, thank for filing an issue! Could you please post this to stackoverflow and tag the question with MRTK, since it is more of a question? This will make it easier for others who run into the same problems to find your answer, and will allow us to better answer the question.

[2019-04-16 16:56] #3968 closed

[2019-04-16 16:59] julenka commented on #3914
Hi, this is a great question, could you please post it to stackoverflow with the MRTK tag, or update the issue to be a bug, rather than a question? We are trying to have all questions on stackoverflow so that other people can more easily find answers. Thanks!

[2019-04-16 16:59] #3914 closed

[2019-04-16 17:26] genereddick commented on #3971
@davidkline-ms
In addition to the head-locked (well, one cross-eyed eye-locked) error window
Selection no longer works, both in app but also can't even exit to the MR Portal homepage (so have to shutdown the MR Portal to get out)
Can still look around, but screen is inconsistently frozen / distorted -- seems similar to the effects of extremely low frame rate jerkiness

[2019-04-16 17:42] genereddick commented on #3971
@davidkline-ms
I don't see a recurring error message, so once it hits the MixedRealityInputSimulationProfile error that gets logged but there is nothing else getting logged on each frame or whatever.

The above error message shows up even before the app is fully loaded, at least the error message is there the moment the app is loaded. A second error message shows up after the one above and after t

[2019-04-16 17:59] provencher commented on #3957
@luisalvesmartinsms that PR is certainly on the right track. It needs a bit of work however. Wrote some comments on the PR

[2019-04-16 18:03] genereddick commented on #3971
On a related note, it would be nice if the error window was actually visible -- would be easier to log a bug report without having to run in debug mode. The error window appears in only one eye and partially off screen (visually over my nose) and extremely close to my face.

I'm running in Single Pass instanced mode and

[2019-04-16 19:18] Railboy opened #3987 "Proposal: Require / enforce additive scene loading via scene service"
## Overview
Unity suggests using a [base manager scene](https://docs.unity3d.com/Manual/MultiSceneEditing.html) and additively loading / unloading content on top of that. In theory we recommend this approach but in practice our story is muddled.

Docs and editor prompts should make it clear that single-scene loading is **not officially supported** and that MRTK instances / services will be (gracef

[2019-04-16 19:48] soraryu commented on #3909
Same behaviour here with a Hololens v1 and the latest MRTK. Airtap doesn't work, occasionally the above exception appears (not on every run). Issue already happens in Holographic Remoting mode.

[2019-04-16 20:38] darrendelorme commented on #3277
Has there been any progress on this or have you found a solution to this issue?

[2019-04-16 21:24] frangagn opened #3993 "Missing SettingsProviders scope in MixedRealityPreferences"
## Describe the bug

Unity 2019.1.0f2 Personal:

Unity compile error: "Assets\MixedRealityToolkit-Unity-mrtk_release\Assets\MixedRealityToolkit\Inspectors\MixedRealityPreferences.cs(70,32): error CS7036: There is no argument given that corresponds to the required formal parameter 'scopes' of 'SettingsProvider.SettingsProvider(string, SettingsScope, IEnumerable<string>)"

A clear and concise descri

[2019-04-16 21:28] RobDesrosiers commented on #3541
Having similar issues on Unity 2018.3.9f1 and v2 Beta, haven't tested the bounding box with RC1 yet though. While the bounding box mostly works, the handles don't do anything at all when selected-- they mostly act like any other air-tap input on the collider. Any insight would be much appreciated!

[2019-04-16 21:30] frangagn opened #3994 "Motion Controller button assignment changed in new MRTK version"
## Describe the problem

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Working with past version of the MRTK and used this guide (https://docs.microsoft.com/en-us/windows/mixed-reality/gestures-and-motion-controllers-in-unity) to determine with buttons and axies to track for my user interface. All of a sudden, after installing Unity 2019.1.0f2 and la

[2019-04-16 21:55] wiwei commented on #3993
This was fixed in:

https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3962

Note that MRTK v2 is very experimental with Unity 2019 right now. We're currently working out the kinks. Our dev team is primarily focused on 2018 (and the to-be LTS build of 2018) right now.

[2019-04-16 21:55] #3993 closed

[2019-04-16 21:57] wiwei commented on #3978
Does this still matter after this change?

https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3964

[2019-04-16 21:58] wiwei commented on #3939
Following up here, we've reached out to Unity folks and filed a Unity bug on this.

https://fogbugz.unity3d.com/default.asp?1146307_k5pfi2qqltmcvqm5

Looks to be some weird interplay between the reference rewriter and not-yet-out-of-insider SDK. The APIs themselves work (i.e. if you get a hololens 2 that supports these APIs they work)

[2019-04-16 22:39] frangagn commented on #3994
For the record, and for those looking for them:

left Grab button is still 4
left Touchpad Pressed is now button 8
left Stick pressed is now button 18
left Trigger pressed is button 14
left Menu pressed is button 6

[2019-04-16 22:53] chrisfromwork commented on #3908
Assigning to @wiwei who will drive our backlog story.

[2019-04-16 22:55] chrisfromwork commented on #3909
@wiwei is going to try and get this appropriately assigned to an owner.

[2019-04-16 22:56] chrisfromwork commented on #3915
Assigning to @davidkline-ms based on other issue ownership.

[2019-04-16 22:59] chrisfromwork commented on #3932
@davidkline-ms this seems related to another issue you own. If there is a greater amount of work required for enabling multiple scene experiences and this needs a new owner, please reach out.

[2019-04-16 23:00] chrisfromwork commented on #3939
Assigning to @wiwei for Unity follow ups.

[2019-04-16 23:02] chrisfromwork commented on #3952
Assigning to @lukastoenneMS for the time being.

[2019-04-16 23:03] chrisfromwork commented on #3957
Assigning to @luis-valverde-ms

[2019-04-16 23:07] chrisfromwork commented on #3987
Assigning to @Yoyozilla to schedule the associated work.

[2019-04-16 23:09] keveleigh commented on #3994
I'm not sure I understand the ask here. You shouldn't need to know about the specific axis mappings, as they're mapped behind the scenes to MRTK input actions.

Do the changed assignments cause the buttons / controller to behave incorrectly?

[2019-04-16 23:11] Yoyozilla commented on #3958
HTK does not support Unity 2018, and there is no plans to update HTK after MRTK v2 release.
We would recommend MRTK v2 for development to receive future updates/bug fixes.

[2019-04-16 23:11] #3958 closed

[2019-04-16 23:29] #3555 closed

[2019-04-16 23:33] Yoyozilla commented on #3261
dupe

[2019-04-16 23:33] #3261 closed

[2019-04-16 23:35] Yoyozilla commented on #3095
Fixed in RC1
see doc here

[2019-04-16 23:35] #3095 closed

[2019-04-16 23:36] Yoyozilla commented on #3087
closing since this is not an MRTK bug.

[2019-04-16 23:36] #3087 closed

[2019-04-16 23:37] #3918 closed

[2019-04-16 23:41] Yoyozilla commented on #2957
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-16 23:41] #2957 closed

[2019-04-16 23:41] Yoyozilla commented on #2928
Bulk closing older HTK bug. Please reopen if you can repro this issue in MRTK v2.
Thanks!
Yoyo

[2019-04-16 23:41] #2928 closed

[2019-04-16 23:43] #3026 closed

[2019-04-16 23:43] #3004 closed

[2019-04-16 23:51] genereddick opened #3997 "Interactable Profile Theme text at incorrect indentation?"
## Describe the bug
I'm not sure this is a bug, but in the Interactable script (for a checkbox) under the Profiles for each of Background, Button, Label, CheckBoxCheck there are four items.

    CheckboxCheck
        Target
        Theme

           Theme

Visually I find this confusing: either
a) , the two toggles and the second theme are meant to be in some sort of nested relationship with the f

[2019-04-17 00:11] Yoyozilla commented on #2880
Closing older bug.

[2019-04-17 00:11] #2880 closed

[2019-04-17 00:12] Yoyozilla commented on #3287
updated

[2019-04-17 00:12] #3287 closed

[2019-04-17 00:13] #3128 closed

[2019-04-17 00:13] Yoyozilla commented on #3128
https://github.com/Microsoft/MixedRealityToolkit-Unity/blob/mrtk_release/Roadmap.md

[2019-04-17 00:14] Yoyozilla commented on #3060
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/README_Solver.html

[2019-04-17 00:14] #3060 closed

[2019-04-17 00:14] Yoyozilla commented on #3059
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/README_Interactable.html

[2019-04-17 00:14] #3059 closed

[2019-04-17 00:15] Yoyozilla commented on #3057
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Input/Overview.html

[2019-04-17 00:15] #3057 closed

[2019-04-17 00:15] Yoyozilla commented on #3062
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/MixedRealityConfigurationGuide.html

[2019-04-17 00:15] #3062 closed

[2019-04-17 00:15] Yoyozilla commented on #3064
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Input/Pointers.html

[2019-04-17 00:15] #3064 closed

[2019-04-17 00:16] Yoyozilla commented on #3434
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/HTKToMRTKPortingGuide.html

[2019-04-17 00:16] #3434 closed

[2019-04-17 00:17] Yoyozilla commented on #3061
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/README_HandInteractionExamples.html

[2019-04-17 00:17] #3061 closed

[2019-04-17 00:29] keveleigh commented on #3994
As far as the mappings you linked above: those mappings are specific to WMR controllers running on Windows Mixed Reality. In the MRTK, we use the `InteractionManager` APIs instead of those input axes.

If you're using WMR controllers on OpenVR (which is the only place we map WMR controllers to input axes in the MRTK), you'll want to look at the far right column on this page: https://docs.unity3d.c

[2019-04-17 00:44] frangagn commented on #3994
I wish to follow the proper MRTK way of interacting, however I can<t find anything on the InteractionManager and the documentation is really unclear. And believe me, I'm not a newbie, with over 30 years of programming all kinds of things in over 15 programming languages and having read mountains of computer and system documentation....

I'm not trying to make excuses. Just that the only clear exam

[2019-04-17 04:58] Yoyozilla commented on #3095
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/InputSimulation/InputSimulationService.html#camera-control

[2019-04-17 06:13] julenka commented on #3909
Looks like this does not repro in editor unfortunately.

[2019-04-17 06:20] julenka commented on #3903
It looks like as of commit 7b275f  on  Tue Apr 16 16:21 the MRTK project is compiling for me using the .NET backend.

[2019-04-17 06:31] julenka commented on #3903
Closing since .NET development is working again.

[2019-04-17 06:31] #3903 closed

[2019-04-17 06:49] julenka commented on #3909
Hm, I'm not able to repro this on HoloLens 1 in the latest mrtk_development branch as of commit 7b275 on  Tue Apr 16. I have tested by creating a UWP and then deploying that UWP to a HoloLens 1. I have tried doing air tap many times, and after about 5 minutes of testing am still able to see the cursor animating. I am also still able to manipulate a cube using one and two hand manipulation. Seems l

[2019-04-17 06:50] #3893 closed

[2019-04-17 06:50] julenka commented on #3893
Fixed!

[2019-04-17 07:15] SimonDarksideJ commented on #3062
Please reopen @yoyozilla as that guide is already out of date, screens have changed with the rc and does not include the newer screens

[2019-04-17 09:10] davidkline-ms commented on #3971
Thanks @genereddick! I am currently working on resolving the simulation profile serialization issue.

Will have to look into the WinRT transform error.

The spatial locatability stage being Inhibilited is a runtime message regarding experience scale (seated, room scale, etc) / boundaries and should not be a concern.

[2019-04-17 10:06] OzoneABN opened #3999 "Can't build with MRTK 2RC1"
I'm not able to build any example to HoloLens, neither using standard Unity Build nor the MRTK Build Window. I've also tried IL2CPP and .NET.

When trying to build with .NET using the normal build window from Unity (Unity C# Project, see Screenshot for build settings)
![Bildschirmfoto 2019-04-17 um 11 38 09](https://user-images.githubusercontent.com/1853359/56277888-78be9f00-6105-11e9-9784-b235c5a

[2019-04-17 10:12] davidkline-ms commented on #3330
Complete

[2019-04-17 10:12] #3330 closed

[2019-04-17 10:12] davidkline-ms commented on #3329
complete

[2019-04-17 10:12] #3329 closed

[2019-04-17 10:13] davidkline-ms commented on #3233
complete

[2019-04-17 10:13] #3233 closed

[2019-04-17 10:13] davidkline-ms commented on #2905
complete

[2019-04-17 10:13] #2905 closed

[2019-04-17 10:14] davidkline-ms commented on #3170
complete

[2019-04-17 10:14] #3170 closed

[2019-04-17 10:14] StephenHodgson commented on #3004
Why are we just closing issues without verification that it's fixed?

This is an MRTK v2 RC1 bug

[2019-04-17 10:16] #2780 closed

[2019-04-17 10:17] davidkline-ms commented on #2780
will reactivate / revisit if/when @Railboy investigates his refactor

[2019-04-17 10:22] davidkline-ms commented on #3997
@Railboy / @killerantz, can you clarify the interactable property nesting?

Thanks!

[2019-04-17 11:08] davidkline-ms commented on #3004
What version of Unity are you using? This was as @keveleigh mentions it was an acknowledge Unity bug.

pre-rc1 release, i verified that on 2018.3.11f1 that the boundary was properly aligned on both platforms.

[2019-04-17 11:14] davidkline-ms commented on #3999
@OzoneABN, if you change the minimum SDK version to 10.0.10240.0, do you still see the errors?

[2019-04-17 11:16] davidkline-ms commented on #3978
it may not be. i will pull the latest and double check whether or not this is a duplicate

[2019-04-17 11:18] lukastoenneMS commented on #3892
I've been looking at input actions and it using them for controlling camera and hand simulation in the editor does not seem feasible:

- We would need to add **a lot** of new actions to the input actions profile:
  * Camera rotation: 2
  * Camera movement: 2
  * Toggle hands: 2 (left/right)
  * Control hands: 2
  * Rotate hands: 3
- The input sim service is an editor-only data provider. The action

[2019-04-17 12:37] SeakingSubHunter commented on #3567
Hi Guys, i'm getting the message "unable to register a service with a null concrete type" through to my HMD in a mixed reality app i'm creating.  Is there a way of repairing this error or just removing the message from the screen.

[2019-04-17 13:07] davidkline-ms commented on #3978
closing as a duplicate

[2019-04-17 13:07] #3978 closed

[2019-04-17 13:09] StephenHodgson commented on #3892
That's the whole point of the input actions is to facilitate this sort of thing.

If you're having to add a ton of additional actions it might be beneficial to understand the kinds of data you're trying to convey to the system. Do you _really_ need that many? Should some of that logic be better organized to be closer to the data that it needs? Maybe creating a new data type / axis constraint to co

[2019-04-17 14:45] OzoneABN commented on #3999
Yes, same errors :-(

[2019-04-17 15:39] davidkline-ms commented on #3999
Thank you for trying! We will investigate

[2019-04-17 15:44] wiwei commented on #3999
I believe RC1 had it's .NET build target broken due to few set of changes, see this issue:

https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/3903

According to the latest in the issue it's been fixed in the latest mrtk_development

[2019-04-17 16:07] Walker8711 commented on #3909
@julenka I pulled the commit 7b275 and I still have the issue.  I'm using 2018.3.11f1, hololens 1 fully updated and VS2017. This happens in the editor and in a packaged build.

[2019-04-17 16:09] #3931 closed

[2019-04-17 16:40] #3979 closed

[2019-04-17 20:23] genereddick commented on #3891
I have this issue as well and it happens both on new and old projects. For old projects I have tried updating the MRTK to latest code, recreated the library folder, cleared cache all without resolution.

@gilbdev's fix above works for me

[2019-04-17 20:25] jbienzms opened #4005 "Better Initial Setup, Especially for HoloLens"
## Describe the problem
When MRTK first initializes some important steps can be missed based on the current target platform. For example, if targeting HoloLens it does not change the project platform to UWP. We understand this is because MRTK is wanting to be more cross-platform, however this does cause significant confusion, especially for first-time developers.

During this first-run "initializa

[2019-04-17 20:33] genereddick commented on #4005
It would be nice to either make relevant changes directly, or at least have the setup guide include additional links / text on top recommendations:

Additional recommendations include:
Depth Format 16-bit
And, reducing the Near & Far Clipping Plane at least for HL

(https://docs.microsoft.com/en-us/windows/mixed-reality/recommended-settings-for-unity)

[2019-04-17 20:48] jbienzms opened #4006 "Generic Input Action Handler"
## Describe the problem

On the surface, Input Actions _appear_ to be a centralized place for defining user intents. For example, the application may have actions for things like 'Fire', 'Save' and 'Add a Note'.

Inside the MRTK configuration settings, actions can be triggered by any number of input sources. For example, the 'Fire' intent can be triggered by speaking the word "Fire" as well as by

[2019-04-17 21:30] jbienzms opened #4008 "Interactables Not Triggerd by Input Action Voice"
## Describe the bug

Interactables, like PressableButton, are not triggered by Input Action voice commands. However, they _are_ triggered by their own voice commands, which causes confusion.

## To reproduce

Under MRTK Input configuration, create an action:

![image](https://user-images.githubusercontent.com/5230670/56321754-f649d580-612c-11e9-923e-2c2359e6e64e.png)

Under speech commands, create

[2019-04-17 21:49] genereddick opened #4009 "Need documentation on how to trigger interactables from code"
## Describe the problem
A couple of patterns for Interactables need documentation:
a) How to change state in code:
- Example use case: Checking a checkbox triggers an OnClick Event set up in Inspector and hides an object. Tapping the object also hides it, and should cause the checkbox to show as checked. How would this be done in code?

b) Setting / changing defaults at start. Ideally this would b

[2019-04-17 22:56] wiwei commented on #3999
By the way, super good bug filing, these screenshots and steps and everything is the best.

[2019-04-18 01:27] hanfengsunshine commented on #3939
https://stackoverflow.com/questions/55687207/how-to-build-and-deploy-a-working-unity-app-with-mrtk-v2-rc-for-hololens-1#
![856051b5ceaf5b74b6494eb68e1fe83](https://user-images.githubusercontent.com/14012055/56330774-2ab8a280-61bc-11e9-894c-25c6798631df.png)

[2019-04-18 01:36] junpark12 opened #4011 "Intermittent GUILayout: Mismatched LayoutGroup.repaint when opening Interactable"
## Describe the bug
After I import MRTK v2 RC1, created a scene.
Simply drag PressableButton.prefab and hit run button.. i received the following Error.

"ArgumentException: GUILayout: Mismatched LayoutGroup.repaint"

## To reproduce
Steps to reproduce the behavior:

1. Import MRTK v2 RC1
2. create new scene and click MRTK> add to scene and config
3. Click play button in unity.
4. See error

## Ex

[2019-04-18 03:21] fanus commented on #3909
Also still getting same issue.
- Unity 2018.3.3f1
- Hololens 1
- VS2017

[2019-04-18 04:26] cre8ivepark commented on #4011
@killerantz @Railboy Might be something related to the Interactable's inspector or Pressable Button's visual gizmo?

[2019-04-18 04:28] cre8ivepark commented on #4009
@killerantz Could you please help with this?

[2019-04-18 04:33] cre8ivepark commented on #3987
We've seen many customers struggling with multi-scenes applications in HoloToolkit (Camera management, Cursor/Controller/Focus management, Services management...) Definitely, it would be really helpful to provide clear guideline and methods for it.

[2019-04-18 05:08] Railboy commented on #4011
@cre8ivepark Possibly, but I can't repro this with either inspector active.

@junpark12 Can you try collapsing the inspector for each component on the button prefab and let us know when the warnings cease?

[2019-04-18 06:02] julenka commented on #3909
Hm, it seems that my setup and other people's setup must be different. @fanus and @Walker8711 could you please answer the following questions to help repro:

1. Can you please confirm that you just did a "git checkout mrtk_development" followed by "git pull" to make sure you are on the latest mrtk_development, and did not just cherry-pick commit 7b275?
2. When you say 'in editor' do you mean 'in e

[2019-04-18 06:30] junpark12 commented on #4011
@Railboy  if i collapse all the item in inspector menu then no exception.. Thanks.

[2019-04-18 06:47] julenka commented on #3939
These errors can actually be ignored. Good to leave this issue open for reference until it can be fixed, but we should add notes in getting started docs that these errors can be ignored.

[2019-04-18 09:03] OzoneABN commented on #3999
Thank you very much for the quick help. It worked, I can now build my project with .NET again.

[2019-04-18 09:10] #3884 closed

[2019-04-18 09:10] davidkline-ms commented on #3999
Closing as @wiwei's solution resolved the issue.

[2019-04-18 09:47] davidkline-ms commented on #3614
In RC1, data providers are registered and unregistered at the direction of their parent system. Flow is now:

- Registrary loads system
- Registrar calls enable on the system
    - System (ex: input) requests that the registrar load data providers
- [some time later] Registrar calls disable on the system
    - System requests that the registrar unload data providers

[2019-04-18 09:47] davidkline-ms commented on #3614
Please note: in the case of the MixedRealityToolkit object, all configured services are loaded before they are enabled.

[2019-04-18 12:36] Walker8711 commented on #3909
![Capture](https://user-images.githubusercontent.com/49565653/56361042-5768bc00-61b4-11e9-9778-548994cfb64e.JPG)

When I say in editor, I mean by using holographic remoting and hitting the play button.  Even when I just add the toolkit and create and MRTK scene with nothing in it, it does this. In when hitting play, when building and testing via remote machine to the hololens in Visual Studio, and

[2019-04-18 13:15] ArtieTwelve commented on #3909
@julenka I have updated my mrtk_development branch  with the latest as of this am. I rebuilt (from scratch, new project)  a simple spinning cube test. The color changes when the cube is clicked with a hand gesture. This test works when running inside Unity. For that, I use the spacebar to produce the bone hand and use the mouse to click on the cube when it has focus. This works without errors. I c

[2019-04-18 13:45] #3999 closed

[2019-04-18 14:58] Walker8711 commented on #3909
When using simulated input in Unity even when you use the articulating hands, The gaze cursor stays in a open circle animation when you look elsewhere.  You are still able to move the object while using the articulating hands, but the gaze cursor is stuck in that open position and you cannot move the object at all with gaze.  I imagine that you can use both gaze and articulating hands with the hol

[2019-04-18 15:39] luis-valverde-ms commented on #4006
I agree on the convenience of having a mechanism to subscribe to input actions directly. We should look into it.

I don't fully get what you mean with:

Following the voice command example above, if you had a digital input action mapped to both a voice command and to binary controller inputs I think you would have to implement just two interfaces: IMixedRealityInputHandler and IMixedRealitySpeechH

[2019-04-18 15:44] Railboy commented on #4011
@junpark12 No problem. I was hoping to use that experiment to determine which inspector was the culprit. Sorry I wasn't clear. Could you try opening them one-by-one and let us know which inspector causes the errors?

[2019-04-18 16:10] julenka commented on #3909
@ArtieTwelve this is an **excellent** writeup of the issue with repro steps. Thank you very much for clarifying. From your description, it sounds like the issue happens ONLY when performing holographic remoting. I am updating the bug and changing title to reflect that this happens only when holographic remoting.

[2019-04-18 16:34] mtaulty opened #4014 "Cloning a Sub-Profile in the Editor Results in the Wrong Name"
## Describe the bug

It seems like the name that I enter for a cloned sub-profile isn't used.

## To reproduce

If I add a new Scene in Unity, configure the MRTK in the scene, configure a profile for the MRTK and then use the UI to 'clone' one of the sub-profile then it seems like the name that I enter for the new profile isn't used.

For example - try cloning the camera profile, call your new pro

[2019-04-18 16:49] mtaulty opened #4015 "Additional Parameter to construct SettingsProvider on 2019.1"
## Describe the bug

Source file MixedRealityPreferences.cs (around line 70) constructs a SettingsProvider with a single parameter. It looks like in Unity 2019 the second (scope parameter) is required so you get a compilation failure there.

## To reproduce

Source file MixedRealityPreferences.cs (around line 70) constructs a SettingsProvider with a single parameter. It looks like in Unity 2019 th

[2019-04-18 16:50] wiwei commented on #4014
I believe this should have been resolved by this change:

https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3992

It'll be in the latest mrtk_development

[2019-04-18 16:50] #4014 closed

[2019-04-18 16:51] wiwei commented on #4015
This was resolved by:

https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3962

This is in the latest mrtk_development.

[2019-04-18 17:28] #4015 closed

[2019-04-18 17:46] killerantz commented on #3997
@genereddick is correct, it is confusing and a bug. The second theme, for a single target, should not be tabbed in, but flush with the first Theme. All the themes effect different properties of the same object equally and are not meant to be nested. Thanks for catching this.

[2019-04-18 17:50] killerantz commented on #3997
![image](https://user-images.githubusercontent.com/22085553/56380628-8ccad500-61c7-11e9-9c84-caef2582874a.png)

Maybe the first Theme in the list needs to be indented with the second, so that they imply more that they are effecting the target.

[2019-04-18 18:24] killerantz commented on #4009
We can show some better examples for things like the checkbox.

Just to break a few things apart to make sure we are talking about the same things.
State in the Interactable refers to things like Focus, Press, visited, disabled.
These can be set through code using SetFocus(true) or SetFocus(false). All the supported states have a setting.

This doesn't seem to be what @genereddick  is referring to

[2019-04-18 18:32] killerantz commented on #4011
These repaint errors are a pain to track down. I'll keep an eye out as I work on some press updates.

[2019-04-18 19:09] #3966 closed

[2019-04-18 21:47] jbienzms commented on #4006
In the scenario above, at the end of the **Day 1** the application has two sources that can trigger the same action:

1. Voice Command
2. Controller Input

This required the application developer to implement two interfaces:

1. IMixedRealitySpeechHandler
2. IMixedRealityInputHandler

Already this requires more interface implementations than is ideally necessary for the **specific** task the devel

[2019-04-19 00:31] wiwei commented on #3909
So this issue appears to be an oldie but goldie.

https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/3456

There's evidently been an issue in the information reported by Unity's InteractionSourceState.selectPressed API which seems to always report false when using HoloLens 1 remoting.

https://issuetracker.unity3d.com/issues/hololens-interactionsourcestate-dot-selectpressed-is-false-whe

[2019-04-19 00:32] wiwei commented on #3456
I think that this issue is still alive:

https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/3909

I'm following up to see what happened to the true fix (i.e. not the workaround that was checked in to MRTK which was removed recently). This was supposed to have been fixed at the Unity layer or below.

[2019-04-19 00:40] wiwei commented on #3909
For future folks, in terms of how this was debugged (from the perspective of a person who has never touched this area before):

1) Tried looking at how this works by using the input simulator (i.e. running in editor, pressing space bar, and seeing what happened). It actually turns out that this was a bad idea, because the input simulation stack has some degrees of uniqueness that made it not a goo

[2019-04-19 01:12] StephenHodgson commented on #4006
@jbienzms when setting up the input actions you can also setup an action to raise when the word is said.

![image](https://user-images.githubusercontent.com/13334553/56399871-78a5c880-6205-11e9-99f5-6762c5fe06c1.png)

This action should also be raised when the phrase is spoken, and any handler listening for that action should handle it in the `IMixedRealityInputHandler`. Let me know if this is not

[2019-04-19 01:16] StephenHodgson commented on #4006
I can definitely see where you're coming form here with thoughts from your work on LUIS.

I can see the possibility to making the actions  a lot more generic this way, and it's an idea worth exploring.

[2019-04-19 03:55] genereddick commented on #3997
@killerantz I like the idea of indenting the first theme to the same level as the others as I think it clarifies the relationship

[2019-04-19 04:09] tisaud opened #4020 "my Speech Demo in MRTK v2 donnot work(unity or HoloLens(1st)),but other demo perform well"
## Describe the bug

A clear and concise description of what the bug is.

## To reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Your Setup (please complete the fo

[2019-04-19 04:11] tisaud commented on #4020
Set Up : unity2018.3.7f MRTK V2

[2019-04-19 04:30] genereddick commented on #4009
@killerantz Thanks, that is clearer already, something like this in the documentation would be great.

It helps me to think of the focus, clicked, toggled, et.al. explicitly as "interactive states" to differentiate them from Dimensions as a cyclical state.

I think there definitely should be a public property for Dimension default index -- shouldn't have to set it in code unless you need to.

[2019-04-19 06:37] julenka commented on #4020
Hi, thanks for opening a bug! Unfortunately this bug doesn't have quite enough detail to be actionable, could you please give more details about the steps, including filling in the required fields in the template when you file a bug?

Also, if this is more of a question you need help with and not a bug in MRTK, please ask your question on stackoverflow and add the tag 'mrtk'

[2019-04-19 06:37] #4020 closed

[2019-04-19 06:57] tisaud commented on #4020
hi,thanks for your reply.When I'm testing the Speech Example in MRTK v2.I found that Voice input for this example donnot work (in unity or HoloLens / English or Chinese).In addition,I made sure to give the microphone permission

------------------ 原始邮件 ------------------
发件人: "Julia Schwarz"<notifications@github.com>;
发送时间: 2019年4月19日(星期五) 下午2:37
收件人: "Microsoft/MixedRealityToolkit-Unity"<MixedRea

[2019-04-19 08:44] junpark12 opened #4023 "MRTK v2/Manipulation Handler - how to make rectangle around coffee cup?"
## Describe the Issue
Hi. I'm following the Manipulation Handler in MRTK v2.0 documentation.
(Environment - MRTK v2.0 RC1)
I copied existing "HandInteractionExamples" scene and deleted couple of object to make it simple. Then i imported coffee cup prefab on the scene and applied the same manipulation handler with same properties of original scene.
But when i run it, i don't see boudingbox like rec

[2019-04-19 08:52] junpark12 commented on #4011
Acutally it randomly happens. sometime without collapsing the menu it worked and sometimes not..

[2019-04-19 09:51] lukastoenneMS commented on #3892
I've pushed a fix for the original issue of gamepad joystick axes for camera rotation.

I'd like to leave the question of using InputActions for input simulation for another time.

[2019-04-19 09:51] #3892 closed

[2019-04-19 10:05] luis-valverde-ms commented on #4006
Thanks @jbienzms, I find that much better explained now.

_For actions to truly abstract inputs, there should be a single interface to subscribe to them._

Would you say this is a fair summary of the issue?

[2019-04-19 10:13] fast-slow-still commented on #3909
I applied the patch above and air taps, both via MRTK and via GestureRecognizer, are working in Holographic Remoting for me now.

[2019-04-19 11:00] luis-valverde-ms opened #4025 "Write RC2 Release Notes"
## Describe the Issue
This is where we track the things we need to include in RC2 release notes.

## Breaking changes

- Added OnPointerDragged() method to IMixedRealityPointerHandler. Will cause a build error on all custom implementations of the interface that can be safely fixed adding an empty implementation for the new method.

[2019-04-19 11:10] matkrzyztt opened #4026 "Input simulation doesn't work if speech is not supported on dev machine"
## Describe the bug

Camera controls (rotation, movement) is not working in editor despite Emulation Mode being set no "none".

## To reproduce

Steps to reproduce the behavior:

1. Create an empty project in unity 2018.3.12
2. Change platform to UWP
3. Enable VR with Mixed Reality Toolkit
4. Import MRTK v2 Core
5. Click "Add to scene and configure"
6. Launch project
7. Hold right mouse button and

[2019-04-19 12:06] lukastoenneMS commented on #4026
Speech should not be mandatory, but it looks like the input system runs into an exception when registering data providers. Since input simulation is registered after speech it never gets to the point where it initializes that service. If possible we should check if speech is supported before registering the data provider.

[2019-04-19 12:28] luis-valverde-ms opened #4027 ""Look rotation viewing vector is zero" message when moving a pointer"
## Describe the bug

The following message appears in the Console panel:

[code]

## To reproduce

Steps to reproduce the behavior:

1. Open HandInteractionExamples scene
2. Play scene and using hand simulation grab and move one of the One/Two-handed manipulations objects to the right.

[2019-04-19 13:03] matkrzyztt commented on #4026
Thank you for replying. So it is speech recognition after all.
Is there any way to disable it, so the input system would be registered correctly?

[2019-04-19 13:14] benjamincoven opened #4029 "[HTK] Problems with MicStream on Hololens"
## Describe the bug

Hello, I am experiencing several problem with the Microphone on the Holotoolkit.

Here what I try to achieve: Record the voice input and send it to Azure Speech-To-Text, the only way I found to do this is to use the MicStream class, save the data in a file then upload the file to Azure.

Here are my problems:

1. When I try to to stop de record, if I call MicStream.MicStopReco

[2019-04-19 14:24] benjamincoven commented on #3616
Hello, we have experienced using ARCore on an existing HTK project, we had some minor troubles but we could make it works.

First, we have added the ARCoreSession component on the MixedRealityCameraParent and the ARCoreBackgroundRenderer on the MixedRealityCamera. Do not add a TrackedPoseDriver on the MixedRealityCamera.

Secondly, create some code with an Awake that will:

- Detects if you are in

[2019-04-19 15:01] SimMue commented on #3909
This problem also occurs in the hololens emulator.

# Steps to reproduce
1. Create new unity project
2. Pull newest commit from mrtk_development
3. Copy Asset folder into unity project root folder => Wait until assets are loaded
4. Configure scene: Mixed Reality Toolkit --> Add to scene and configure... --> Select default configuration
5. Switch build settings to UWP
6. Change Player settings: Pro

[2019-04-19 15:16] Seantron opened #4030 "MRTK 2 RC1 UWP Unity 2019.2.0a11 Multiple Build errors on examples: WindowsMixedRealityArticulatedHand.cs"
## Describe the bug

In Unity 2019.2.0a11 with MRTK 2 RC1

## To reproduce

First I had to resolve an issue in MixedRealityPreferences.cs:

I added the SettingsScope.Project arg into line 70:

![MixedRealityPreferencesIssues](https://user-images.githubusercontent.com/438733/56430254-d2ed6a80-6293-11e9-83da-7e2169d4bb63.PNG)

to get past this error:

![MixedRealityPreferencesError](https://user-ima

[2019-04-19 15:17] wiwei commented on #3909
@SimMue that's a different scenario (this one is about holographic remoting, the other is the hololens emulator, which is similar in name but different in how things work) - can you please file another issue to track that?

[2019-04-19 15:22] #4027 closed

[2019-04-19 15:34] Railboy opened #4031 "Proposal: Create a core camera management service which can be disabled / configured to work with AR"
## Describe the problem

The MRTK exercises a great deal of control over the main camera. This can lead to problems when using ARKit / ARCore / ARFoundation.

## Describe the solution you'd like

A camera management service should be written. The default service should mimic the toolkit's current functionality. Alternate versions can be written to accommodate AR solutions and/or more complex camer

[2019-04-19 15:58] wiwei commented on #4030
A couple of things are going on here:

1) https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/3962 addressed the SettingScope issue.
2) You'll need to install the Windows 10 SDK 18632 or greater per the getting started guide:

https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/GettingStartedWithTheMRTK.html#prerequisites

https://blogs.windows.com/buildingapps/2019/04/18/s

[2019-04-19 15:58] #4030 closed

[2019-04-19 16:05] wiwei commented on #4025
This should also account for these changes:

https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4019

i.e. namespaces changes

[2019-04-19 16:21] Seantron commented on #4030
Thank you @wiwei, updating right now. Sorry about that.

[2019-04-19 16:26] jbienzms commented on #4006
Yes @luis-valverde-ms, I think that's a pretty good statement. Especially since the original name for them is "_Input_ Actions".

A good conceptual model to take a look at is [WPF Commanding Overview](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/commanding-overview). Though I will also say that I think the MRTK input system does a fair bit more abstraction than WPF commands (whic

[2019-04-19 17:28] andreiborodin opened #4033 "AttachToController Functional?"
We have a code file ([AttachToController](https://github.com/Microsoft/MixedRealityToolkit-Unity/blob/mrtk_release/Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/AttachToController.cs) )that contains substantial ammount of commented code with a TODO. Not sure whether the functionality actually works.

Opening the issue to track fixing it, cleaning up the commented code or removal.

[2019-04-19 18:14] carmines opened #4034 "HoloLens2 MRTK visualizer for hands is enabled by default"
Keeping hands enabled by default is a perf hit when enabled and deployed to device. This should be disabled so developers don't forget to turn it off. Not to mention it is 3 layers deep into profiles and if you are not familar with them, you will never find it.

Ideally you have a configuration on the profile so you can enable it in the editor only.

[2019-04-19 18:30] Yoyozilla commented on #4023
I think you are missing the bounding box script
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/README_BoundingBox.html

[2019-04-19 18:30] #4023 closed

[2019-04-19 20:41] Yoyozilla opened #4036 "Error on import MRTK RC1"
![image](https://user-images.githubusercontent.com/40645158/56443277-c1628d80-62a8-11e9-8a37-8a78d60b149f.png)

- Unity Version [e.g. 2018.3.9]
- MRTK Version [RC1]

[2019-04-19 20:46] jbienzms opened #4037 "Guide Needed for Script Debugging on HoloLens 2"
## Describe the Issue
This issue was discussed in [PR 3964](3964), but it's too important to lose.

Currently it is difficult (if not impossible) to debug Unity behavior scripts after they've been deployed as IL2CPP to HoloLens 2. We need a step-by-step guide on how to debug scripts on device in order to track down bugs that only occur outside the editor.

**From the previous discussion:**

- .Net

[2019-04-19 20:47] Yoyozilla commented on #4036
I realized that when you start a new unity project, and then import MRTK, you are default in the sample scene. If i start a new scene, and re-import MRTK, it fixes the issue

[2019-04-19 20:50] Yoyozilla opened #4038 "Error after adding apply configuration"
3 error after adding MRTK configuration to a new scene.

RC1

[2019-04-19 21:00] wiwei commented on #3385
Looking at other places online, I can see this question got asked around:

https://www.reddit.com/r/HoloLens/comments/alc5k2/could_not_find_sdk_microsoftvclibs_version140/

From what I can tell with some basic googling it looks like these tend to be associated with messed up VS installed - especially given that you mention that there is an upgrade involved, I'm guessing you probably ended up getti

[2019-04-19 21:00] #3385 closed

[2019-04-19 21:01] #3197 closed

[2019-04-19 21:02] wiwei commented on #3198
Thanks @IkeTheDestroyer for sharing out your solution. I'm getting to this party somewhat delayed, but yeah, anytime you have a full system freeze it's probably something going on at the driver->below. I'm closing this issue out now.

[2019-04-19 21:02] #3198 closed

[2019-04-19 21:32] julenka commented on #4025
# New Features
- Slider - New UI control that allows you to change a value continuously by grabbing and moving a slider on a track. PR #4022

[2019-04-20 01:09] crhodes2 commented on #3859
I explained it already that the new version gives me the same issue as well.

But as a matter of fact, I have decided to go ahead and try the latest version: HoloToolkit 2017.4.3.0 - Refresh, and its example.

This is what's happening now...

Either I install it by drag-and-drop into the Assets folder of my project, or I just double-click on the MRTK files themselves, it is the exact same scenario

[2019-04-20 01:11] crhodes2 opened #4040 "Bug when installing MRTK and MRTK examples"
So I've installed the latest version: HoloToolkit 2017.4.3.0 - Refresh, and its example on my project and it introduced me to new issues.

This is what's happening now...

Either I install it by drag-and-drop into the Assets folder of my project, or I just double-click on the MRTK files themselves, it is the exact same scenario.

This is the latest error I'm getting...

Assets\HoloToolkit-Examples

[2019-04-20 03:56] cre8ivepark commented on #3877
The team at Microsoft is working on this and making good progress!

[2019-04-20 11:59] cre8ivepark commented on #4025
# New Features
- Slate zooming support - Two-handed content zooming on Slate with min/max values. PR #4018

[2019-04-21 07:58] einstyle opened #8457 "'EditorUserBuildSettings' does not contain a definition for 'wsaGenerateReferenceProjects'"
Hi,

I tried to import HoloToolkit 2017.4 into a new unity project (Unity 2019.1), and I have this error: error CS0117: 'EditorUserBuildSettings' does not contain a definition for 'wsaGenerateReferenceProjects'

Any suggestions to solve this?

[2019-04-21 21:29] genereddick opened #4043 "No Active Toolkit Found Dialog shows up during build"
## Describe the bug
For awhile now when attempting to build in Unity, it will create and open an empty scene. When the build is complete it will return to the scene that was open when the build started and the temporary scene will vanish.

Now, in addition to this odd behavior, while the build is ongoing, for this empty scene the MRTK will open up a No Active Toolkit Found dialog (see screenshot b

[2019-04-21 22:59] julenka commented on #4040
Hi, thanks for asking a question. For troubleshooting questions like this it would be great to ask the question on stackoverflow with the tag "MRTK", since then other people can benefit from searching for your questions (many people don't know to search the issues on github). Please include your exact environment and repro steps so that we can reproduce your issue.

Reading the other conversation,

[2019-04-21 22:59] #4040 closed

[2019-04-21 23:02] julenka commented on #4043
Hi, I am not hitting these issues when I try to compile a UWP in Unity 2018.3.11f1. Perhaps your build steps are different? Could you please detail your build steps?

For example, here's what I do:

1. File -> Build Settings...
2. Ensure UWP is selected. I usually set the Scripting Backend as .NET.
2. Press "Build" button.

[2019-04-21 23:03] julenka commented on #4038
Hi, Yoyo, thanks for filing the issue! Could you please provide more detailed repro steps, as well as the specific errors you saw? For now I'm closing this since it doesn't have enough details.

[2019-04-21 23:03] #4038 closed

[2019-04-21 23:08] julenka commented on #4037
The recommendation is currently to still use the .NET backend, since there isn't a great solution for debugging using IL2CPP other than directly reading the compiled C++ code. I think it's a great idea to have a guide, however I would say we need this when we require MRTK to run on Unity 2019, so it's not Urgency-Now.

[2019-04-21 23:09] julenka commented on #4034
Hi Carmine, how we do the following:

1. Set up hand visualization config per-platform.
2. For UWP, turn off hand joint and hand mesh visualization
3. For Editor, turn on hand joint visualization.

[2019-04-21 23:10] julenka commented on #4034
@thalbern this looks like an intereseting issue if you're looking for something to tackle.

[2019-04-21 23:27] julenka commented on #4036
Hi Yoyo, thanks for filing an issue! I'm actually unclear on what the bug is here. Could you please provide a more detail about how somebody else could reproduce the issue, and what the issue is? A good way to describe an issue is by stating expected and actual behavior, or if you see an error, you can just give the repro steps somebody would need to hit to get to that error, and the paste the err

[2019-04-21 23:27] #4036 closed

[2019-04-21 23:30] julenka commented on #4026
Hi, I haven't tested this myself (don't have a machine that doesn't support speech), but could you please try disabling speech and dictation in your input configuration profile? You just need to delete the two entries in red by hitting the '-' button on the right

![image](https://user-images.githubusercontent.com/168492/56476848-ad5a8f80-6452-11e9-806d-9b95e338ce99.png)

Also, if possible it woul

[2019-04-21 23:31] julenka commented on #4026
Lukas, do you have some time to take a look at this? If not, please feel free to un-assign yourself. Since it's blocking people from using MRTK it seems important to look at.

[2019-04-22 02:37] StephenHodgson commented on #3987
I think creating a scene loading service is overkill and a bit over engineered. `SceneManager` should be enough and we shouldn't rewrite(overwrite) how the editor handles this functionality.

The only real problem is during development, when devs are moving between scenes in the editor.

I've already had plans to support this for some time and in my fork, I've set it up to that developers need onl

[2019-04-22 11:42] neciszhang opened #4045 "I build UWA and install in PC,but don't connect to local unity server.Please help."
## Overview
Hi ,
     1. I build UWA app and install it in windows 10.
     2. I build local server by unity.
     3. I open unity server and UWA app. But the app don't connect to unity server.
Can you help me?I search lots of questions,but i don't resolve this question.
## Expected Behavior

## Actual Behavior

## Steps to reproduce
_(Links to sample github project preferred)_

## Unity Editor Ve

[2019-04-22 15:29] genereddick commented on #4043
I created a new project this morning from MRTK_development (as of yesterday), and tested with both .NET scripting backend and IL2CPP on 2018.3.13f1 with the same result. During the build Unity creates a new scene ("Untitled" in the screenshot below) and switches to it from the default Sample Scene.

At which point the MRTK apparently checks the scene and, as there is no Toolkit installed, pops up

[2019-04-22 16:55] davidkline-ms commented on #4040
Assets\HoloToolkit-Examples\SpectatorView\Scripts\SpectatorViewNetworkManager.cs(19,13): error CS0246: The type or namespace name 'SpectatorView' could not be found (are you missing a using directive or an assembly reference?)

These errors indicate that the spectator view example requires HoloToolkit-Unity-Preview-2017.4.3.0-Refresh.unitypackage (https://github.com/Microsoft/MixedRealityToolkit-U

[2019-04-22 17:21] Cameron-Micka opened #4046 ""Add to Scene and Configure" doesn't gracefully fail when no camera is present in the scene."
## Describe the bug

When the "Mixed Reality Toolkit->"Add to Scene and Configure..." menu item is selected in a scene **without** a camera a handful of null reference exceptions occur and the MRTK is not configured correctly.

The project we are seeing this occur in loads a camera dynamically at runtime based on certain project restrictions.

## To reproduce

Select "Mixed Reality Toolkit->"Add t

[2019-04-22 17:42] Railboy commented on #4046
Related: #3890

[2019-04-22 19:27] genereddick commented on #4043
OK, the first issue is Unity related, in that Unity is creating a backup scene in the temp folder
( /Temp/__Backupscenes/0.backup -- If I delete this it gets recreated during the build) and temporarily redirecting to it during the build before switching back to the actual scene.

 This happens for default Unity installs (not UWP output, no MRTK), so only really noticeable because of the interactio

[2019-04-22 20:07] Railboy commented on #3987
I'd agree if not for the friction @cre8ivepark and others have observed with multi-scene management in the wild.

Even if they're not outright intimidated by the concept, people get confused by all the random gotchas like IsLoaded and the sceneLoaded event not being strictly coordinated, the weird 0.9 cutoff for scene activation, [scenes not having names until loaded](https://issuetracker.unity3d.

[2019-04-22 20:35] julenka commented on #4043
I am able to reproduce this issue. Repro steps are pretty simple:

1. checkout mrtk development
2. File -> Build Settings...
3. Ensure build type is UWP
4. Select HandInteractionAll scene
5. Press build

Expected:
UWP builds

Actual:
UWP Builds, but there is a dialog window that pops up.
![image](https://user-images.githubusercontent.com/168492/56528069-7b553600-6503-11e9-8ca2-9a474e7f01c4.png)

[2019-04-22 23:11] provencher opened #4052 "Manipulation handler constraints not applied when set in code"
## Describe the bug

When modifying the constraints of a manipulation handler via code, the default settings are still applied.

## To reproduce

Steps to reproduce the behavior:

1. Add a manipulation handler to the scene
2. At runtime, try and change the constraints.
3. The manipulation handler will be effectively unchanged.

## Expected behavior

The manipulation handler should adapt to the cha

[2019-04-23 02:58] Railboy commented on #3987
@StephenHodgson I just took a look at [your fork](https://github.com/XRTK/XRTK-Core/pull/94) and I really like where you're going with it.

I'm torn between enforcing a single instance vs. disabling instances like we're proposing. Your method of inserting the start scene at index 0 and loading it automatically in editor is pretty great. I'm still leaning towards multi-instance just because that fe

[2019-04-23 03:00] #4043 closed

[2019-04-23 08:27] hanfengsunshine commented on #3917
Hi Avalin, I encounter the problem building HoloLens 1 with MRTK ,with Windows SDK 18363, nothing appearing on my HoloLens screen, but when I try audio demos, there actually women sounds(it works), I wonder could we have a talk about the settings of the problems?  fhanab@connect.ust.hk

[2019-04-23 11:05] lukastoenneMS commented on #4034
The HandTrackingProfile actually has both joints and mesh visualization disabled by default (both in the script and the default profile asset). However, the test scene has this [ToggleHandVisualisation](https://github.com/Microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ToggleHandVisualisation.cs) button, which is enabled by de

[2019-04-23 12:59] lukastoenneMS commented on #4026
Fixed in mrtk_development by catching the exception, same as WindowsDictationInputProvider does already.

[2019-04-23 12:59] #4026 closed

[2019-04-23 13:00] matkrzyztt commented on #4026
Yes, this works without any issues so far. Thank you Julia.

[2019-04-23 13:11] Alexees commented on #3915
I wanted to add that this popup shows up like 20 times when you recompile in Prefab Edit mode.

[2019-04-23 14:06] luis-valverde-ms commented on #4006
That article on LUIS is very interesting and somehow disorienting to read as a person named Luis.

[2019-04-23 14:08] kolodi commented on #3603
Achievable like this:
1. in `MixedRealityToolkit.SDK\Features\UX\Interactable\Scripts\Interactable.cs` script
add a field `public int DefaultDimension = 0;`
2. at the end of `Awake()` method set the dimension index like this: `SetDimensionIndex(DefaultDimension);`
3. to expose it in inspector add this 2 lines in `MixedRealityToolkit.SDK\Inspectors\UX\Interactable\InteractableInspector.cs` inside `

[2019-04-23 15:20] chrisfromwork commented on #4005
This feels like something comparable to spectator view preview's platform switcher editor control. With that tooling I have been able to specify needed capabilities/player settings/build settings when switching platforms.

[2019-04-23 15:20] chrisfromwork commented on #4005
Assigning to @Yoyozilla to figure out an appropriate owner.

[2019-04-23 15:25] chrisfromwork commented on #4029
Assigning to @Yoyozilla. I do not know that we will continue to provide fixes for moving the holotoolkit to newer unity versions.

[2019-04-23 15:27] StephenHodgson commented on #4005
I thought the capabilities were already being updated set by the classes that implement features that depend on them?

Also, I think switching platforms is something that's fairly easy to do, but not something that the toolkit should be facilitating. We're not trying to re-write all the functionality of the editor.

[2019-04-23 15:27] chrisfromwork commented on #4031
Assigning to @Yoyozilla  and @wiwei to try and find an appropriate owner

[2019-04-23 15:28] chrisfromwork commented on #4033
Assigning to @luis-valverde-ms for now

[2019-04-23 15:32] chrisfromwork commented on #4037
Assigning to @keveleigh to try and drive this issue.

[2019-04-23 15:34] chrisfromwork commented on #4045
@neciszhang are you using the MRTK repo to setup your uwa application?

Assigning to @davidkline-ms

[2019-04-23 15:36] chrisfromwork commented on #4046
Assigning to @Yoyozilla to find an owner.

[2019-04-23 15:38] chrisfromwork commented on #4052
Assigning to @julenka and @yoyozilla to find an owner

[2019-04-23 15:41] davidkline-ms commented on #4045
@neciszhang,

By default, UWP applications are subject to network isolation. For development and
side-load scenarios, your PC can be configured to allow an application to establish
loopback connections.

For side-load scenarios, please refer to the documentation describing network isolation
troubleshooting (https://msdn.microsoft.com/en-us/library/windows/apps/hh780593.aspx).

[2019-04-23 15:41] #4045 closed

[2019-04-23 15:56] jbienzms commented on #4037
I'm sorry but I do need to disagree about this not being needed soon. While Unity 2018 still allows .Net back-end, current MRTK strongly urges users not to use it. Please see the whole discussion and reasons for PR #3964.

If the current guidance is to use .Net Back-end, okay. But we need that documented clearly. We also need, as part of that same guidance, a commitment to a new approach starting

[2019-04-23 15:57] benjamincoven commented on #4029
I understand, but this is more a problem about the UWP API. I guess also that the MRTK 2 will have a similar feature implemented not much differently. This could be enough for me to do the fix.

Thank you.

[2019-04-23 17:49] thalbern commented on #4034
There should be a Toggle Hand Visualization Script on the ToggleProfilerButton parent of the ToggleHandMesh gameobject - you can change the default behavior in the scene there. no need to disable the button itself

[2019-04-23 18:35] Walker8711 commented on #3917
I'm having the same problems, the microphone permissions pop up and that is it.

[2019-04-23 19:06] Railboy commented on #3932
@Alexees You're correct. I've just been lumping all these mrtk singleton related issues into one bucket while we sort out our multi-scene story.

[2019-04-23 20:23] Walker8711 commented on #3917
@hanfengsunshine The issue is caused by leaving WSA Holographic Remoting Suported checked when you build.  After spending hours of testing in Unity and side loading to test, We were able to figure this out.

[2019-04-23 20:24] Yoyozilla commented on #4037
I think this is needed soon.

[2019-04-23 20:25] Yoyozilla commented on #4009
Could we add the notes here into our doc page?

[2019-04-23 23:23] Yoyozilla commented on #4029
Is this something we can repro on MRTK v2?

[2019-04-23 23:24] Yoyozilla commented on #3987
updating status since Lars is working on this.

[2019-04-23 23:27] Yoyozilla commented on #3921
is this issue fixed with Move MRTK scene check out of the profile inspector and into a utility class. #3922

[2019-04-23 23:30] Yoyozilla commented on #3878
Unity 2018.3 supports both .NET and il2cpp.
MRTK supports .Net and il2cpp on the recommended 2018.3.x version of Unity.
.NET support is removed in Unity 2019

[2019-04-23 23:33] Yoyozilla commented on #3859
Looks like this issue is solved now.
We would love to know why MRTK v2 isnt working for you. Please let us know!

[2019-04-23 23:33] #3859 closed

[2019-04-23 23:35] Yoyozilla commented on #3767
I think this is done?

[2019-04-23 23:38] Yoyozilla commented on #3740
I think you would need to HTK release for this project. Here's a release of HTK.
https://github.com/Microsoft/MixedRealityToolkit-Unity/releases/tag/2017.4.3.0

Please note that HTK is not receiving any more updates as we are releasing MRTK v2 and it will be the recommended and support build moving forward :)

[2019-04-23 23:38] #3740 closed

[2019-04-23 23:43] Yoyozilla commented on #3675
We would recommend you move to MRTK v2 and unity 2018.3.x if you can. We are not planning anymore updates to the HTK releases.

[2019-04-23 23:43] #3675 closed

[2019-04-23 23:43] keveleigh commented on #3767
Some is in progress with #4032

[2019-04-23 23:45] Yoyozilla commented on #3689
Closing as we will track the GLTF issue in a separate issue.

[2019-04-23 23:45] #3689 closed

[2019-04-23 23:57] Yoyozilla commented on #3932
@Railboy   could we have 1 issue that track our multi-scene story planning that links to all the the related issues.

[2019-04-23 23:59] Yoyozilla commented on #3915
Dupe
MRTK instance added automatically to all scenes loaded in editor #3921

[2019-04-23 23:59] #3915 closed

[2019-04-24 08:42] bratzenmadde opened #4064 "Diagnostics appear in MixedRealityPlaySpace when project is being played"
## Describe the bug

Diagnostics appear in MixedRealityPlaySpace when project is being played.

## To reproduce

Steps to reproduce the behavior:

1. Create new project
2. Add MRTK v2 RC1
3. Play the project
4. See diagnostics object in game scene

## Expected behavior

The diagnostics object should not to pop up in game scene if I have not manually set it to do so.

## Screenshots

If applicable,

[2019-04-24 08:59] bratzenmadde opened #4065 "MainCamera in MixedRealityPlayScene does not accept made changes when being reloaded"
## Describe the bug

MainCamera in MixedRealityPlayScene does not accept made changes when being reloaded. When changing the Clear Flags from the standard SkyBox to Solid Color for example, I save the scene with the new set-up. When opening the project again after it has been closed the changes has gone back to the standard.

Also noticed now that this also occurs when playing the scene. It is the

[2019-04-24 09:03] lukastoenneMS commented on #3921
@Yoyozilla I don't think so. #3922 only changed the popup dialog, but in this case the MRTK instance is created automagically by the getter. I consider this bad behavior: we pretend the user is in control of creating MRTK, but then create the instance without consent anyway. Changing this might break existing code ...

[2019-04-24 09:36] bratzenmadde opened #4066 "Error - HoloLensWorldManager failed to return a world coordinate system!"
## Overview
I get the error down below when I play my scene.

## Expected Behavior

Preferably this should not occur.

## Actual Behavior

Full error

HoloLensWorldManager failed to return a world coordinate system!
UnityEngine.XR.WSA.SurfaceObserver:SetVolumeAsAxisAlignedBox(Vector3, Vector3)
Microsoft.MixedReality.Toolkit.WindowsMixedReality.SpatialAwareness.WindowsMixedRealitySpatialMeshObserve

[2019-04-24 09:50] Alexees commented on #4030
@wiwei I just followed the installation instructions, but when it comes to running the Mixed Reality Portal now it seems to try to update, gets to 6% and then tells me that the portal could not be installed. I tried reinstalling already but to no avail.
I know this is not where this belongs but happened to me during this process. Do you know what I can do?

[2019-04-24 11:20] bratzenmadde commented on #4066
The warnings full text

![image](https://user-images.githubusercontent.com/34506696/56655635-a4a4cc00-6693-11e9-9215-d2eaea7a415f.png)

[2019-04-24 11:49] Avalin opened #4067 "Changing MRTK folder paths results in problems with Controller Mapping"
## Overview
Moving the MRTK folders to another folder than Assets (My path was in this case Assets/Libs/MRTK/MixedRealityToolkit... etc) results in issues with Controller Mapping, as the EditorWindow (ControllerWindowPopup.cs) is hardcoded to open up directly from Assets folder.

## Expected Behavior
My idea would be one or more of potential scenarios:
- Controller Mapping working no matter where

[2019-04-24 12:00] bratzenmadde commented on #4064
That I have not. But to access and be able to change this do I "Copy and customize" then? Maybe this thread should have been on SO, I apologize.

[2019-04-24 12:08] bratzenmadde commented on #4064
And doing this probably fixes [https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/4065](url) this issue aswell, thanks.

[2019-04-24 12:16] bratzenmadde commented on #4065
Got my answer here https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/4064

[2019-04-24 12:16] #4065 closed

[2019-04-24 12:22] #4064 closed

[2019-04-24 13:30] hdaUwe opened #4068 "Can't add anythig to the InputSystemProfile"
It's essential for me to use mouse and keyboard to test my Application. The documentation says, I sould add Input Simulation Service (https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/InputSimulation/InputSimulationService.html#camera-control) but there is no option for that.

This worked so good in the old HLTK...

[2019-04-24 15:57] LocalJoost opened #4069 "Let Xbox Controller control position and hands in editor just like in Emulator"
## Describe the problem

When I deploy an MRTK2 app in the HL2 emulator I get a beautiful and very useful control of both camera and hands position - and visualization. In the Unity Editor, in play mode, nothing happens when I use the Xbox controller

## Describe the solution you'd like
I would very much like to see that in the editor in play mode the Xbox controller would have the same effect as

[2019-04-24 16:46] Railboy commented on #4005
We're talking about a wizard in the shiproom right now. An editor window sounds ideal. A simple tool where you can choose which platform you're targeting and which associated features you want enabled won't cover every scenario but it will at least get people started.

I agree with @StephenHodgson that it shouldn't be built into the guts of the toolkit itself. It's just an auto-configuration tool

[2019-04-24 19:47] provencher commented on #3921
I've still run into this issue.

I've patched the fix in myself, which is simply to prevent the Instance from creating a new instance when the editor isn't in play mode, when there isn't already an instance in the scene.

[2019-04-24 20:09] julenka commented on #4052
Thanks for the issue! I'll see if I can take a look at it this week.

[2019-04-24 20:25] provencher commented on #4052
@julenka @Yoyozilla I've done some work tracking this down.

It seems to be a mix of two things.
Changing handle visibility in the bounding box for scaling does not restrict two handed manipulation in the manipulation handler. With that said, the controls do work as expected.

Second, the handle visibility property changes via code do not persist with the default box activation mode. I exposed tho

[2019-04-24 20:29] ChauNTran opened #4072 "Oculus Touch controller won't send an action when trigger is pressed"
## Describe the bug

Oculus Touch controller won't send an action when trigger button is fully pressed. Action has "Digital" axis constraint.

## To reproduce

Steps to reproduce the behavior:

1. Make new scene using a clone of DefaultMixedRealityToolkitConfigurationProfile
2. Clone and apply DefaultMixedRealityInputSystemProfile, DefaultMixedRealityInputActionProfile, and DefaultMixedRealityCont

[2019-04-24 22:59] #2653 closed

[2019-04-24 23:00] #3096 closed

[2019-04-24 23:00] #3043 closed

[2019-04-24 23:00] #3048 closed

[2019-04-24 23:01] #3142 closed

[2019-04-24 23:01] #3141 closed

[2019-04-24 23:01] #3127 closed

[2019-04-24 23:02] #3217 closed

[2019-04-24 23:02] #3263 closed

[2019-04-24 23:04] #2685 closed

[2019-04-24 23:04] #3289 closed

[2019-04-24 23:05] #3299 closed

[2019-04-25 03:56] julenka commented on #4052
Hi @provencher I'm a little confused about how the two things you are mentioning (changing handle visibility and persisting property changes) are related to the issue.

As I understand it, this bug is saying: "if i change manipulationhandler to rotate only about Y axis in code as opposed to asset, the constraint is not actually applied".

So in other words if I do something like:

[code]

and then

[2019-04-25 04:19] julenka commented on #3863
Fixed by #4056

[2019-04-25 04:19] #3863 closed

[2019-04-25 04:41] provencher commented on #4052
@julenka it's a weird bug.

So the jist is that I was setting which handles the bounding box would show, as your code example pointed out, but when it came time to hover over the box, no handles would show up at all.

I looked through the code, and this is because the focus change function in the bounding box returns before changing handle visibility if the enum I exposed was set to manual, which

[2019-04-25 07:04] #4068 closed

[2019-04-25 07:29] hdaUwe opened #4079 "InputSimulationProfile does not exist..."
## Describe the problem
I'm using the release candidate downloaded directly from git. The documentation say there should be something like a InputSimulationProfile, to controll the app in the Unity Editor (working for HoloLens 1). Well, it's not there. This worked perfectly in the HLTK and really should be enabled by default.

## Describe the solution you'd like
This whole profile editing and addi

[2019-04-25 08:19] benjamincoven commented on #4029
I could make it works by using an UWP exemple for Windows Phone instead of the MicStream plugin+script from the HTK. I let you choose to close or not this issue.

[2019-04-25 10:11] Alexees opened #4080 "AnimatedCursor jumps back and forth infront of the MotionController"
## Describe the bug
Just pointing into nowhere results in the Cursor switching position like crazy, bewteen linerenderer tip and somewhere along that line.

## To reproduce

Steps to reproduce the behavior:

Just watch your UWP Motion Controller cursor

## Expected behavior

Pointer is stable at the linerenderer tip

## Your Setup (please complete the following information)

- UNITY Version 2018.3

[2019-04-25 11:19] #3657 closed

[2019-04-25 12:27] Alexees commented on #4080
The issue was that there was no proper case for distances longer than the raysteps total length. And in case of an exact same lenght, floating point precision coused the raysteps length to sometimes be shorter than the distance.

[2019-04-25 12:53] hanfengsunshine commented on #3917
Do you mean I need to tick this WSA Holographic Remoting Supported, like in the attached pic?

![Capture](https://user-images.githubusercontent.com/14012055/56737051-2718b300-679c-11e9-90c3-55522500817f.PNG)

Thank you!

[2019-04-25 14:45] luis-valverde-ms commented on #3788
Closing this issue and continuing discussions in #3887

[2019-04-25 14:45] #3788 closed

[2019-04-25 15:05] StephenHodgson commented on #3788
@SimonDarksideJ and I did not set them up as strings. The strings are just descriptors 😆

[2019-04-25 15:07] StephenHodgson commented on #3788
Although I do like the idea of having them as a scriptable objects in and of themselves. Great idea @luis-valverde-ms

[2019-04-25 15:21] luis-valverde-ms opened #4083 "Input action references are ill-defined"
Input actions are created by adding an entry to the table of input actions in the input actions profile. On creation, they get their ID set to their index in the table. When a user sets an input action in a script property, e.g. the pose action in a pointer, the ID gets serialized with it. This is problematic because:

1. Removing and adding entries in the actions table may yield actions with the

[2019-04-25 15:24] luis-valverde-ms commented on #3788
Thanks @StephenHodgson . Credit to @provencher as well. Can I ask you guys to have a look at #4083 ? That's probably the issue we'll use to move forward the actions as scriptable objects changes.

[2019-04-25 15:31] StephenHodgson commented on #4083
I'd say this is a proposal not a bug.

We ended up with ids for performance, but I agree the scriptable object workflow sounds much more favorable.

[2019-04-25 15:44] luis-valverde-ms commented on #4083
My intent here was to describe why the current ID based system is broken. In a nutshell, action IDs don't uniquely identify actions.

[2019-04-25 15:53] StephenHodgson commented on #4083
It's not broken 😆 That's an opinion, and while I agree with you, is very rude and has negative connotations.

A better way to have opened this issue:

The Input Actions are currently setup as a struct with all the associated data.

To enable easier swap-ability, editing, and customization, it might be more beneficial to update these to be ScriptableObjects as well.

# Requirements

- [ ] Minimal c

[2019-04-25 15:54] wiwei opened #4084 "Misordered MixedRealityInputModule and OnSourceDetected invocation"
We've seen a couple of instances now where the MixedRealityInputModule and various providers (i.e. GazeProvider) are getting initialized in non-deterministic fashion. If the GazeProvider starts first, it will raise its source detected, and then when MixedRealityInputModule::ActivateModule is invoked, it re-invokes OnSourceDetected, which tries to add the same pointer to the pointer dictionary.

Th

[2019-04-25 18:17] wiwei commented on #4084
Okay, it turns out we figured out what's going on here - the change https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4063 caused this OnSourceDetected issue to bubble up because GazeProvider's await was no longer yielding execution.

It turns out that GazeProvider.cs will run first (Start) and previous to my change it would micro-sleep (enough for MixedRealityInputModule::ActivateModule

[2019-04-25 19:38] Railboy opened #4089 "Feature Request: SceneSystem Service"
## Describe the problem

Unity suggests using a [base manager scene](https://docs.unity3d.com/Manual/MultiSceneEditing.html) and additively loading / unloading content on top of that. In theory we recommend this approach but in practice our story is muddled.

## Describe the solution you'd like

A SceneSystem core service to facilitate scene loading and unloading.

-	Additive scene loading will be

[2019-04-25 19:42] cefoot commented on #4037
Hi Joost van Schaik put together an almost complete guide:
https://dotnetbyexample.blogspot.com/2019/03/debugging-c-code-with-unity-il2cpp.html
I think this might be a pretty good starting point for a documentation

[2019-04-26 07:21] bratzenmadde commented on #4066
https://stackoverflow.com/questions/55830143/hololensworldmanager-failed-error-when-using-the-mrtk-v2-rc1

[2019-04-26 07:54] overedge opened #4092 "QR Tracking"
## Describe the bug

Hello i wan't to try QR Tracking for my WMR headset in unity but if i run the project and i print QRTrackerStartResult i show
[code]

What the version of driver is work with my headset ? (hp wmr vr 1000)

## Your Setup

- Unity Version 2017.4 LTS
- HoloToolkit 2017.4.3.0 - Refresh
- Windows 10 SDK 17763
- Last update Windows
- Visual Studio 2017

## Target Platform
- WMR immer

[2019-04-26 08:40] ChristophHoltmann opened #4093 "Spelling mistake in ManipulationHandler.md"
## Describe the Issue
Spelling mistake in README_ManipulationHandler.md in the "Events" topic: Manupulation

## Existing Doc Link
Unity/Documentation/README_ManipulationHandler.md

[2019-04-26 09:19] SimMue opened #4094 "Hololens Emulation: Cursor stops working after first air-tap on Hololens (Gen 1) using RC1"
## Describe the bug

When using RC1 on hololens emulator, air-tapping does stop working after first tap.
After the cursor animates to a circle, the cursor stays as a circle and objects cannot be selected.

## Steps to reproduce
1. Create new unity project
2. Pull newest commit from mrtk_development
3. Copy Asset folder into unity project root folder => Wait until assets are loaded
4. Configure sce

[2019-04-26 12:14] Alexees opened #4095 "Orbital needs a little redesign"
Orbital provides two offsets in the inspector (LocalOffset and WorldOffset). The tooltip prohibits the use of both at the same time.
This should be reduced to just an offset and an enum distinguishing between local and world mode for that. Nothing really prevents you from screwing this up.

The difference between these two is just that worldOffset uses yawOnly. They have nothing to to with wether

[2019-04-26 13:37] Alexees opened #4097 "Pressable Buttons are invisible"
## Describe the bug
I wanted to check the new buttons out, but their body is invisible.

## To reproduce

check out the PressableButtonExample scene

## Expected behavior

All buttons look like buttons

## Screenshots

![image](https://user-images.githubusercontent.com/32508825/56811523-2f72fb80-6839-11e9-9915-55155d6dd030.png)

## Your Setup (please complete the following information)

- Unity Ve

[2019-04-26 15:27] jbienzms commented on #4037
I actually linked to that article in my original post above. As I stated there, someone internal mentioned to me that the process he outlined in that article wasn't currently working on HoloLens 2. I'm hoping @keveleigh can look into that discussion and determine what might be blocking.

[2019-04-26 18:29] wiwei commented on #4093
Thanks for filing this! I don't know who you are, but I'm really happy that you actually took the time to file this issue - I feel like most people would have been like "huh" and then moved on with their lives.

tl;dr issue reporter is the the hero we need.

[2019-04-26 19:44] Railboy commented on #4097
Some of this is expected and some isn't. The bottom buttons alternate between no backplate / backplate, so those are fine. However the top buttons use a shared backplate that should stretch to cover them all.

This is what I see when I check out mrtk_development:
![Buttons1](https://user-images.githubusercontent.com/9789716/56832357-9b953580-6820-11e9-83d2-141bfda5e55e.PNG)

@cre8ivepark Probably

[2019-04-26 21:32] Railboy opened #4104 "Feature Request: Move all service management out of MixedRealityToolkit and into MixedRealityServiceRegistry"
## Describe the problem

With the introduction of the MixedRealityServiceRegistry (#4099) our registration story has become a bit muddled.

## Describe the solution you'd like

Turn the MixedRealityToolkit instance into a front-end for the service registry so we clean up our story without breaking existing services.

The ONLY place services are actually registered / stored is in the MixedRealitySe

[2019-04-26 21:44] #4093 closed

[2019-04-27 14:23] hammadshah38 commented on #640
Hi everyone! I know it's too late to comment on this thread but I need your help regarding world anchors in hololens.
Does world anchor manager GetAsync() call automatically position the objects based on saved anchors?

Waiting for your kind response.

Thank you and regards

[2019-04-27 14:48] DaRockJaeger opened #4108 "SharingServices.exe is missing"
Hello,

in your repository last year ago, the folder  "External/Holotoolkit/Sharing/Server" contained a cool file called "SharingService.exe". You could connect several Hololenses with that server and you could use them for Multiplayer.

Was that "SharingService.exe" moved to another folder? I can't find it anymore :(

[2019-04-28 07:13] genereddick commented on #3971
This is marked as closed but I still have the same error (using code as of this morning).

    A scripted object (probably Microsoft.MixedReality.Toolkit.Input.MixedRealityInputSimulationProfile?) has a different serialization layout when loading. (Read 76 bytes but expected 300 bytes)
Did you #ifdef UNITY_EDITOR a section of your serialized properties in any of your scripts?

[2019-04-28 18:58] ForrestTrepte opened #4109 "Copy & Customize of MRTK settings should dirty the scene so that profile change is saved"
## Describe the bug

When MRTK applies changes via *Copy & Customize*, it should dirty the scene so that the scene can be saved.

## To reproduce

Steps to reproduce the behavior:

1. Create new project, add MRTK foundation .unitypackage
2. Click on Mixed Reality Toolkit > Add to Scene and Configure
3. Save scene
4. Select MixedRealityToolkit game object
5. In Inspector, click Copy & Customize but

[2019-04-28 19:30] ForrestTrepte commented on #4109
It looks like this may be fixed in the latest mrtk_development branch.

[2019-04-28 19:59] ForrestTrepte commented on #4109
Strange. I was reproducing this earlier with *Add to Scene and Configure* not dirtying the scene. But now I can't reproduce that. I'm going to edit this bug to refer just to *Copy & Customize*, which I can reproduce even in the latest mrtk_development branch.

[2019-04-29 05:41] ManasviSrivastava commented on #3336
Hello,

I have a few queries regarding UWP app development for HoloLens. Below are the questions:

1. Does MRTK default config profile support HoloLens v1?
2. In Example demos, the interactions (Gesture, Air-Tap, Gaze) in the scenes are not working with HoloLens v1.
3. Are there any other profile settings required to make them work?
4. How can we map input actions like gaze and hand gestures for H

[2019-04-29 07:07] #4079 closed

[2019-04-29 08:03] KarlSupertramp opened #4111 "Profile-"Constellation" templates - UX Boost!"
## Describe the problem
I'm a bit lost in the forest of options all the profile types give you. I unsderstand why it makes sense to have all these settings, but in my opinion this is just a confusing mess that leads to frustration and a waste of resources (time).

## Describe the solution you'd like
For a start, it would be great to have downloadable setups for all the devices out there. I'm devel

[2019-04-29 08:37] DaRockJaeger commented on #4108
When the Toolkit was called "HoloTookit" in 2017, the SharingServices.exe was there. Was ist removed some months ago?

[2019-04-29 09:05] lukastoenneMS commented on #3971
This should fix it: #4112

[2019-04-29 09:15] Alexees commented on #4097
@Railboy I took the screenshot from the 2019 RC1 prerelease using Unity 2018.3.13.f1. Might be the reason for the difference

[2019-04-29 11:20] SimonDarksideJ commented on #3971
The issue above seems to be more with what the framework does when the simulation is NOT available, which is what should be fixed. NOT putting it everywhere as it breaks the abstraction.

To resolve this @davidkline-ms , we should be fixing why we are getting an error when it's on device (aka simulation not needed) rather than pushing simulation everywhere.

[2019-04-29 11:31] SimonDarksideJ commented on #4079
The issue above seems to be more with what the framework does when the simulation is NOT available, which is what should be fixed. NOT putting it everywhere as it breaks the abstraction.

To resolve this @davidkline-ms , we should be fixing why we are getting an error when it's on device (aka simulation not needed) rather than pushing simulation everywhere.

[2019-04-29 12:33] thedevleon opened #4113 "Updating with Windows Insider destroyed my Windows Installation beyond repair"
I wanted to try out the new MRTK and as instructed in the documentation, opted into the Windows Insider Program so I could get the latest Windows SDK required.
While the update installed fine, a lot of errors starting popping up like "the application was unable to start correctly". Turns out, the cumulative update for the may update completely removed everything related to the .NET Framework as we

[2019-04-29 15:12] luis-valverde-ms opened #4114 "Some Vector2 input changes are not reported correctly"
The code used to set Vector2 values in interaction mappings (MixedRealityInteractionMapping.Vector2Data setter) performs the following check:
[code]
Which only returns true if both x and y components have changed.

[2019-04-29 15:13] benjamincoven opened #4115 "HL1 opens MRTK 2 RC1 sample project in "window mode" instead of full screen"
## Describe the bug

I am testing the MRTK 2 RC 1, I made a build with the HandInteractionExamples and installed it on a Hololens 1. However when I start the application it creates a holographic 2D window (like a UWP application) where the camera is rendered and no interactions are captured.

## To reproduce

Create a blank project with only the MRTK 2 RC 1 foundation and exemples then create a bu

[2019-04-29 15:20] Naphier commented on #4113
Thank you, we were debating this today and fortunately decided to use an older release of MRTK. MS's move to incorporate and release features in this SDK when the hardware is not available seems very premature. Or maybe some people actually have H2s? Anyway, the 2.0.0 RC1 release notes don't make mention of needing the insider preview, we only stumbled upon it in the readme.md with no information

[2019-04-29 15:29] luis-valverde-ms opened #4117 "Null reference exception when clicking on manipulation handler with gaze pointer"
Steps to reproduce the behavior:

1. Open HandInteractionExamples scene
2. Play scene with an Xbox controller connected
3. Look at an object with a manipulation handler and press the A button in the controller
4. Observe following error:

[code]

This is happening because manipulation handler assumes that all pointers have a valid controller, which is not the case for the gaze pointer.

[2019-04-29 16:28] StephenHodgson commented on #4117
You're right, not all pointers have controllers, but they all do have valid `InputSources`

[2019-04-29 18:56] keveleigh commented on #4115
Did you enable Virtual Reality Supported in your UWP settings?

![image](https://user-images.githubusercontent.com/3580640/56919560-c62bfc00-6a75-11e9-8b6c-4ec3667cd590.png)

[2019-04-29 19:03] keveleigh commented on #4108
If you're looking for it in MRTK v2, we're still working on our sharing implementation (#2509, #2721, #2722, #3664, #4016).
If you're looking for it in HTK, it can still be found in the release branch: https://github.com/Microsoft/MixedRealityToolkit-Unity/tree/htk_release/External/HoloToolkit/Sharing/Server

[2019-04-29 21:01] #4080 closed

[2019-04-29 21:01] #4031 closed

[2019-04-29 23:56] wiwei commented on #4109
Thanks for reporting (and fixing!) this issue!

[2019-04-29 23:56] #4109 closed

[2019-04-30 06:54] Alexees commented on #4113
I found this by accident and followed it. Worked well. Only issue was that I had to update from the recommended preview build as the recommended one had an issue with the portal:
https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/4030

[2019-04-30 14:10] Alexees opened #4121 "Play mode not starting, highlighting MixedRealityToolkit gameobject instead"
## Describe the bug
It sometimes happens that I want to go into play mode, which I can't enter (exits immediately) and MixedRealityToolkit gets a ping.
I dug into where that comes from and it seems that the Active Profile is null then. I have to restart Unity for this to be fixed. Since this is a SerializedField with a proper value in it, I'm puzzled how this can happen.

## To reproduce

I do not

[2019-04-30 17:04] Troy-Ferrell opened #4123 "Toggle button has design and feature bugs"
## Describe the bug

The Interactable component can be utilized for Toggle button functionality and there is a toggle prefab available. However, there are two bugs: a design bug and a feature bug.

Design:
To create a toggle button, one has to modify the dimensions to "2" and then they will get the "Can select" and "Can deselect" options available. Also it is not obvious that the additional theme

[2019-04-30 17:31] Railboy commented on #4121
I was able to repro this once but I'm not quite sure how I did it.

Yeah this seems to be the immediate culprit:
[code]
I have a suspicion ResetConfiguration is getting called by a dead / dying instance of the toolkit.

[2019-04-30 18:07] Railboy commented on #4121
I'm able to reproduce this consistently when using git to switch between branches while Unity is open.

- Create a new scene
- Use git to switch to / from  prerelease/2019_rc1 / mrtk_development/other major branch
- Let Unity re-import assets and recompile
- Add a MixedRealityToolkit instance using _MixedRealityToolkit/Add to Scene and Configure_
- Select a configuration profile
- Try to enter pla

[2019-04-30 18:41] provencher opened #4125 "Simulated hands do not produce correct joint rotations"
## Describe the bug

The joints on the simulated hands do not produce the same rotations as the ones in the detected hands on device.

Notably, the right and forward vectors from the palm transform generated by simulated hand are not representative of what's produced by the system.

## To reproduce

Display the transforms returned by the simulated hands.
They will be different in a build on device

[2019-04-30 18:41] AMollis opened #4126 "Manipulation Handler : Rotate About Grab Point does not behave as expected, when grabbing at edges of collider"
## Describe the bug

If you set "One Hand Rotation Mode" to "Rotate About Grab Point" and grab near the collider's edge, the rotation also applies an unexpected translation along the Y axis.

## To reproduce

Steps to reproduce the behavior:

1. Apply "Manipulation Handler" to an object that has a box collider
2. Set the following properties on the "Manipulation Handler"
   a. Manipulation Type =

[2019-04-30 19:28] Yoyozilla commented on #4113
We actually do not require you to enroll and upgrade your OS to the latest, only the insider SDK :)

Closing this issue as this is related to Windows update not MRTK.

You can also find more MRTK doc here: https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/GettingStartedWithTheMRTK.html

[2019-04-30 19:28] #4113 closed

[2019-04-30 19:29] #4108 closed

[2019-04-30 19:32] Yoyozilla commented on #4092
This doc talks about the required driver:
https://docs.microsoft.com/en-us/windows/mixed-reality/qr-code-tracking
"You can use the QR tracking scripts in the MRTK scripts folder or write your own. Note: These plugins are only for Windows 10 October 2018 Update (also known as RS5) builds. The plugins will be updated with the next windows release. The current plugins were experimental and will not w

[2019-04-30 19:32] #4092 closed

[2019-04-30 19:33] Yoyozilla commented on #4092
Please reopen if you need additional help!

[2019-04-30 19:38] Yoyozilla commented on #4046
Cameron, could you please check that your issue is fixed by Lar's PR linked above?

[2019-04-30 19:38] #4046 closed

[2019-04-30 19:43] #2190 closed

[2019-04-30 19:45] Yoyozilla commented on #4115
@benjamincoven

[2019-04-30 19:47] Yoyozilla commented on #4029
Thanks for the update! we are not actively updating HTK anymore so I will close this issue. We will make sure MicStream works in MRTK v2.

[2019-04-30 19:47] #4029 closed

[2019-04-30 19:50] Yoyozilla commented on #4066
The link above result in Page not Found.

RC1 does not support Unity 2019.1. If you need 2019.1 you may have to wait for RC1 refresh this week.

Closing this issue. please reopen if you see this after we release RC1 Refresh!

[2019-04-30 19:50] #4066 closed

[2019-04-30 19:52] Yoyozilla commented on #4034
@thalbern looks like you have a proposed solution, are you implementing this?

[2019-04-30 20:00] Yoyozilla commented on #4097
Looks like this is solved in the latest development. Closing issue. Please reopen if you hit this again!

[2019-04-30 20:00] #4097 closed

[2019-04-30 20:03] Yoyozilla commented on #4095
This is a feature request. updating tag to reflect.

[2019-04-30 20:06] Yoyozilla commented on #3997
@genereddick feel free to open a PR to fix this!

[2019-04-30 20:09] Yoyozilla commented on #3908
@chrisfromwork
could you check out Lar's Service Facades and see if that's a good solution. Reopen if you have feedback!

[2019-04-30 20:09] #3908 closed

[2019-04-30 20:11] Yoyozilla commented on #3895
Dupe to 3941

[2019-04-30 20:11] #3895 closed

[2019-04-30 20:12] Yoyozilla commented on #3877
Closing as this is getting addressed (coming very soon!)! Closing this issue for now.

[2019-04-30 20:12] #3877 closed

[2019-04-30 20:14] Yoyozilla commented on #3876
@davidkline-ms   Is this addressed in the latest profile updates and service facades?

[2019-04-30 20:17] Yoyozilla commented on #3762
should be fixed by Moves camera management into core CameraService #4047.

Please reopen if you hit this issue again

[2019-04-30 20:17] #3762 closed

[2019-04-30 20:20] Yoyozilla commented on #3727
closing as this is a question, and there no recent activity.
For future questions on how to use MRTK please post your question on Stack Overflow:
https://stackoverflow.com/questions/tagged/mrtk

This way the community can also benefit from all the responses and findings!

[2019-04-30 20:20] #3727 closed

[2019-04-30 20:21] Yoyozilla commented on #3699
Closing as this seems like a Unity issue.

Please reopen if you hit this issue again!

[2019-04-30 20:21] #3699 closed

[2019-04-30 20:22] AMollis opened #4128 "Manipulation Handler: "Rotate Around Grab Point" Rotates around palm position not Grab Point"
## Describe the bug

When setting to "manipulation handler" to "rotate around grab point" seems to rotate around the palm position, and not the actual grab point.  This could be causing this issue as well.... https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/4126

## To reproduce

Steps to reproduce the behavior:

0. Assuming issue 4126 is fixed
1. Apply "Manipulation Handler" to an ob

[2019-04-30 20:23] Yoyozilla commented on #3693
Closing as #3750 will mitigate this

[2019-04-30 20:23] #3693 closed

[2019-04-30 20:27] Yoyozilla commented on #3644
I think, this is fixed in RC1. closing.

Please reopen if you hit this again.

[2019-04-30 20:27] #3644 closed

[2019-04-30 20:31] provencher opened #4129 "Pressable buttons interfering with grab pointer"
## Describe the bug
When placing grabbable buttons near a bounding box that is grabbable, the buttons interfere with the bounding box's grabbability.

## To reproduce

Place a pressable button near a bounding box.
The ways in which you can grab the bounding box are heavily restricted, and most fist clamping gestures no longer work.

## Expected behavior

It should be possible to grab a bounding bo

[2019-04-30 20:32] Yoyozilla commented on #3637
@davidkline-ms  is this done?

[2019-04-30 20:33] Railboy commented on #3876
@Yoyozilla no we didn't tackle this issue in the service facade PR.

I'm still waiting on an official style guide a la #3908 to come together (of which this issue would be a part) before I try to homogenize everything. So this might be a chicken-and-egg problem.

[2019-04-30 20:42] Yoyozilla commented on #3596
Closing this issue, but posting this in Stack Overflow.

[2019-04-30 20:42] #3596 closed

[2019-04-30 20:42] Yoyozilla commented on #3639
Closing this issue, but posting this in Stack Overflow.

[2019-04-30 20:42] #3639 closed

[2019-04-30 20:46] Yoyozilla commented on #3639
https://stackoverflow.com/questions/55928369/upgrading-from-htk-to-mrtk-v2-rc1/55928452#55928452

[2019-04-30 20:46] Yoyozilla commented on #3596
https://stackoverflow.com/questions/55928369/upgrading-from-htk-to-mrtk-v2-rc1/55928452#55928452

[2019-04-30 20:53] thedevleon commented on #4113
Thanks, but when I click on the link to the "Windows SDK 18362+" in the docs, the first thing that pops on the page, is this:

Install the latest Windows 10 Insider Preview release.
Make sure you have the latest Windows 10 Insider Preview. We match the latest Windows 10 SDK and Windows 10 Mobile Emulator preview releases to the latest Windows Insider Preview OS Release.

This gives the impression

[2019-04-30 20:55] provencher commented on #4129
Did some testing for a workaround.

It seems that if I make a custom pointer profile and reorder the poke pointer to be below the grab pointer, this issue gets largely resolved.

[2019-04-30 21:19] wiwei commented on #4025
Closing this out

[2019-04-30 21:19] #4025 closed

[2019-04-30 22:25] keveleigh commented on #4113
@thedevleon This link [was just updated](https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4127/files), as the SDK has now been released out of preview.

[2019-04-30 22:35] chrisfromwork commented on #4126
Please validate Manipulation Handler: "Rotate Around Grab Point" Rotates around palm position not Grab Point #4128 when fixing this issue.

[2019-04-30 22:35] chrisfromwork commented on #4128
Closing #4128 for now. We will use #4126 for tracking.

[2019-04-30 22:35] #4128 closed

[2019-04-30 23:05] wiwei commented on #4067
I thought that this might have been fixed recently because we did some work to make relative paths work (i.e. to support the MRTK being put in non-root-asset folder locations), but it looks like it didn't quite cover this case. We'll take a look here

[2019-05-01 08:16] mtaulty opened #4135 "Flexible Mechanism for Recording Audio without Dictation, like MicStream"
## Describe the problem
In the V1 toolkit, there was a MicStream class which was handy for recording audio with quite a few control options.

In V2 RC1, MicStream is gone. The IMixedRealityDictationSystem interface does have capabilities to record audio but it could be more flexible and not tied to dictation.

## Describe the solution you'd like
It would be good to see some of the recording functi

[2019-05-01 09:49] lukastoenneMS commented on #4125
The joint rotations for the WindowsMixedRealityArticulatedHand are computed under the hood by Windows, whereas the simulated hand rotations are computed in MRTK. I'm going to try and track down the Windows code that calculates these and emulate it if possible.

Also note that some joint positions in the simulated hand data don't match the positions of the WMR hand, most notably the metacarpal join

[2019-05-01 10:13] lukastoenneMS commented on #4125
On second thought: We should probably just explicitly emulate the HL2 hands. Simulation should interpolate the rotations as reported by the device. If/when LeapMotion is supported its controller in MRTK should then be made to conform to the official MRTK hand model, by mapping the LeapMotion data onto our own hand model.

[2019-05-01 12:46] thedevleon commented on #4113
The link on the main readme (https://github.com/Microsoft/MixedRealityToolkit-Unity) still links to the sdk preview page.

[2019-05-01 14:56] LocalJoost opened #4137 "Everything made with the 'old' Mixed Reality Toolkit Standard Shader breaks"
## Describe the bug

Everything made with the 'old' Mixed Reality Toolkit Standard Shader breaks and becomes purple

## To reproduce

Import something created with the old shader - after replacing the HTK by the MRTK it says "Hidden/InternalErrorShader" at the material dropdown

## Expected behavior

Every object should keep it's own color/shader/material

## Screenshots

![image](https://user-ima

[2019-05-01 15:11] ChauNTran opened #4138 "Setting Bounding Box to "Activate Manually" Interferes with GameObject Rigidbody"
## Describe the bug
When activation enum is set to "activate manually" in Bounding Box component, game object with rigidbody dances around.

## To reproduce

Steps to reproduce the behavior:

1. Go to HandInteractionExamples scene in Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes.
2. In the LunarModule gameobject, change activation to "activate manually".
3. Play the scene.
4. Lunar

[2019-05-01 16:06] keveleigh commented on #4113
Ahh yes, thank you. I brought these changes into our stabilization branch via https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4139, which will be merged into mrtk_release (and thus the main landing page) today.

[2019-05-01 16:34] #4117 closed

[2019-05-01 16:35] luis-valverde-ms commented on #4117
Fixed by #4118

[2019-05-01 16:38] AMollis opened #4140 "Pinch Slider: Add snap points to pinch slider"
## Describe the problem

Add snap points to pinch slider.

Specify number of snap points on a pinch slider. If 0 snap points specified, there are no snap points. Default number of snap points is zero.

## Describe the solution you'd like

Here's an extension of PinchSlider that adds snapping.  This implementation felt good.

[code]

[2019-05-01 17:48] thalbern commented on #4034
@Yoyozilla that script is in the example scene. you can just grab it and use it wherever you want - don't think we would want to move this over to the sdk code itself?

[2019-05-01 17:49] provencher commented on #4125
Leap motion editor support for interaction prototyping sounds fantastic!

[2019-05-01 18:26] ratmat2002 opened #4142 "[MRTK-v2.0.0-Beta2/Unity/MacOS] WindowsSpeechInputProvider & WindowsDictationInputProvider Compiler Errors"
## Description

The following compilers error exist when MRTK-v2.0.0-Beta2 is used in a Unity project on MacOS:

Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs(20,71): error CS0535: 'WindowsSpeechInputProvider' does not implement interface member 'IMixedRealitySpeechSystem.StartRecognition()'

Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDicta

[2019-05-01 18:33] AmineI commented on #4094
Could you confirm whether this appears on real HoloLens or not ? I'm having the same issue (I'll add a detail by saying it happens on the latest emulator version, 10.0.17763.253, didn't try earlier ones), I'll be able to confirm in ~1/2 weeks

[2019-05-01 18:35] killerantz commented on #3997
I created a PR #4143

[2019-05-01 20:19] genereddick commented on #4137
I think this is by design, as they allow for you to run the old HoloToolkit and the new MRTK side by side. The advantage is that it gives you the ability to migrate one object or reference at a time. However, if you simply remove the HTK (as I did) you will end up with a lot broken.

The new MRTK standard shader has a new name, so either include the HoloToolkit to avoid the broken references and/o

[2019-05-01 20:57] killerantz commented on #4009
Created a PR #4145, some of this is in the docs but may not be clear because of the way the sections are broken out.

[2019-05-01 20:58] Railboy opened #4146 "Feature Request: Profiles define the service implementations that will consume them"
## Describe the problem

At the moment service implementations are specified in the **MixedRealityToolkitConfigurationProfile**. Implementations are configured via the profile object associated with the service's interface type.

![ServiceType](https://user-images.githubusercontent.com/9789716/57041952-53a75180-6c18-11e9-82cc-c659c266a0b8.PNG)

This pattern assumes that any class implementing the

[2019-05-01 21:16] StephenHodgson commented on #4146
Only problem with this is that not every service requires or needs a profile (although the core profiles do have that requirement)

[2019-05-01 21:30] Railboy commented on #4146
A bare-bones profile could consist of nothing but a SystemType field defining its implementation type.

Or we could just not require profiles for data providers / extension services, since there's an expectation that any profiles they might use would be one-offs anyway.

[2019-05-01 21:32] radicalad commented on #4146
The issues I'm running into concerns platform specific implementations that have conceptual crossover, but the profile implementations don't. For example, a `SpatialAwarenessPlaneFinding` profile for iOS will look drastically different than one for Android. Relying on purely the IPlaneFinding interface as a check will still result in a broken experience.

[2019-05-01 21:43] provencher opened #4147 "MixedRealityToolkitFacadeHandler Destroy all children creating MRTK instance"
## Describe the bug

The MixedRealityToolkitFacadeHandler has a function called DestroyAllChildren that gets called when the playmode state changes, among other times, which calls MixedRealityToolkit.Instance to grab it's children and destroy them.

However, when this happens, if there is not already an MRTK instance in the scene, it will create one and then destroy it. This is is very highly unde

[2019-05-01 21:46] provencher commented on #4140
Seconding this. It's important for our usecases.

[2019-05-01 22:02] thalbern opened #4149 "Poking a button really slowly will enable highlight and sound but won't actually perform the action on the button"
## Describe the bug
Button highlight and sound doesn't match interaction

## To reproduce
On HoloLens 2 try to poke very slowly into a button (near interaction). Observe that the button will highlight and press the "click" sound but doesn't actually perform any action. We have the same behaviour while swiping diagonal or sideways through the button.

## Expected behavior
Button should only highlig

[2019-05-01 23:24] meulta opened #4151 "MRTK v2 Bounding Box handles not displayed correctly with scaled objects"
## Describe the bug

Bounding Box handles are not displayed at the right position when the object it is applied to has a different scale for at least one axis.

![image](https://user-images.githubusercontent.com/1480170/57049302-4a27e480-6c2c-11e9-9817-bfad60e784b8.png)

Watch the video here: [link](https://1drv.ms/v/s!Ajn1dnU1WwYxu6wjYjt3LsCEQCZmmg)
Note: in that video, I illustrate the normal be

[2019-05-02 04:14] julenka commented on #4129
Fixed by #4077

[2019-05-02 04:14] #4129 closed

[2019-05-02 05:08] julenka commented on #4147
This is an excellent bug description, thank you!

[2019-05-02 08:25] benjamincoven commented on #4115
Sorry I was not in my office.

Yes now it works, Virtual Reality Supported was enabled but there was no sdk in the Virtual Reality SDK. Adding Windows Mixed Reality did the job.

I let you choose to close or not this issue since the MRTK2 automaticly enables Virtual Reality Supported but does not seem to add WMR to SDK list.

Thank you.

[2019-05-02 08:30] benjamincoven opened #4153 "Add a scroll bar to the slate sample interaction"
## Describe the problem

The 2D slate panel tool described [here](https://github.com/Microsoft/MixedRealityToolkit-Unity/blob/mrtk_release/Documentation/README_Slate.md) is very usefull however the scrolling can be incoveniant and it does not work on Hololens 1.

## Describe the solution you'd like

Add a scroll bar to the right.

## Describe alternatives you've considered

Add top and down button

[2019-05-02 08:58] limbusdev opened #4154 "ManipulationHandler needs Translation Constraints"
## Overview

`ManipulationHandler` provides settings for "Constraints on Rotation" and "Constraints on Movement". The Options available however are not what one would expect.

"Constraints of Rotation" is fine:

+ "None"
+ "X-Axis Only"
+ "Y-Axis Only"
+ "Z-Axis Only"

"Constraints on Movement" are less intuitive:

+ "None"
+ "Fix Distance from Head"

## Expected Behavior

At least a third Option

[2019-05-02 09:10] limbusdev commented on #4154
PS: Please mark it as feature request

[2019-05-02 09:13] limbusdev opened #4155 "ManipulationHandler won't respect "Two Handed Manipulation Type""
## Describe the bug

When Setting the property "Two Handed Manipulation Type" to "Rotate", the host transform can still be translated with gestures.

## To reproduce

1. Add ManipulationHandler to a Default cube with Collider
2. Set "Two handed Manipulation type" to "Rotate"
3. Try to translate it

## Expected behavior

The host transform (cube here) should only rotate.

## Your Setup (please comp

[2019-05-02 09:38] limbusdev opened #4156 "Gestures Documentation not distinguishing between cumulativeDelta and normalizedOffset"
## Describe the Issue

Trying to figure out the updated interface from `INavigationHandler` and `IManipulationHandler` to `IMixedRealityGestureHandler<Vector3>` I came across the [Gesture Events Documentation](https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Input/Gestures.html#gesture-events). There it says `eventData.InputData` represents `cumulativeDelta` or `normalizedOffset

[2019-05-02 10:42] limbusdev opened #4157 "Can't get IMixedRealityGestureHandler to call methods"
## Overview

Hi there. I am trying to upgrade my stuff from `IManipulationHandler` and `INavigationHandler` to the newer MRTKv2 `IMixedRealityGestureHandler`.

As a simple example I added a cube to the Scene, added a Script "RotationGesture" to it with this Content:

[code]

and tried to perform the gesture (Right Mouse click, hold and move with space or rotate Hand with E, R and F) in Simulator i

[2019-05-02 13:02] luis-valverde-ms opened #4158 "Focus provider does not raise pointer events correctly when unregistering a pointer with focus"
When FocusProvider.UnregisterPointer() is called for a pointer that is currently targeting something, it raises the pre focus changed event after raising the focus exit one (should be the other way around) and it does not raise the focus changed event at all.

[2019-05-02 14:16] luis-valverde-ms opened #4160 "Pointer exit event can be raised before the last pointer leaves the target"
If two pointers leave a given target in the same frame, FocusProvider.UpdateFocusedObjects() will raise the pointer left event for the first one leaving. We should instead keep track of the number of pointers leaving the target that frame and raise it for the last one.

[2019-05-02 15:27] zxzkf1992 opened #4161 "Speech recognition is not supported on this machine"
## Describe the bug

## To reproduce

Steps to reproduce the behavior:

1. Create an empty project in unity 2018.3.11f
2. Change platform to UWP
3. Enable VR with Mixed Reality Toolkit
4. Import MRTK v2 RC1
5. Click "Add to scene and configure"
6. Launch project

## Expected behavior
This error occurred when I tested my project today.
And before i have this error everything works good with speech

[2019-05-02 15:31] zxzkf1992 commented on #4161
Sorry, I wrote the problem description in the Expected behavior section.

[2019-05-02 16:12] Railboy commented on #4147
Yeah @provencher your description is why this was literally fixed in 15 minutes, thank you.

[2019-05-02 16:12] #4147 closed

[2019-05-02 16:46] paco-ms opened #4163 "Docs: "Service Provider" link points to "MRTK Configuration Guide""
## Describe the Issue
See here:
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/MixedRealityConfigurationGuide.html

Note the section in the side panel is "How Tos > Service Provider"

![image](https://user-images.githubusercontent.com/36960481/57091913-16e26580-6cbf-11e9-8a30-e1bc27147673.png)

[2019-05-02 17:28] AmineI opened #4164 "Unity UI can't be scrolled with Gestures mode (HL1)"
## Describe the bug

Using the HandInteractionUnityUI Demo;
When enabling the Gestures mode in the MRTK profile, to emulate HL1 hands, buttons can be air-tapped but scrolling can't be done - it is fine with the articulated HL2 hands model (with hands far from the UI)

When "air-holding" the scrollbar for example, it changes color but doesn't move with the hand.

## To reproduce

Steps to reproduce

[2019-05-02 20:44] provencher opened #4165 "MRTK scripts should support multi-object editing"
## Describe the problem

Multiselecting objects, like buttons, with the same components, does not support batch editing the properties.

## Describe the solution you'd like

Simply add this attribute to MRTK inspector scripts, to allow multi-object editing.
https://docs.unity3d.com/ScriptReference/CanEditMultipleObjects.html

[2019-05-02 21:12] provencher commented on #3957
@luis-valverde-ms I've been experimenting with this for a week now and here's where I'm at.

OnPointerDown, I store the active pointer. The issue is that the pointer is constantly destroyed when it goes out of view, so frequent clicking is required to get up to date things.

Beyond that I experimented with filtering out near interaction pointer, and finding which pointer is best represented by the

[2019-05-02 21:53] Railboy commented on #4151
Editing the object's transform in-editor at runtime while the bounding box is active isn't supported. (Based on your video and scene setup this appears to be what you're doing.) Once the bounding box is active it's the bounding box's job to perform transformations.

We'll make this clearer in the documentation.

Thanks for the detailed bug write-up and example scene.

[2019-05-02 22:07] meulta commented on #4151
Understand that, but the issue is also happening if you change scale BEFORE running in the editor. The video was just to explain the issue. This is still more than a documentation issue in my opinion.

[2019-05-02 22:20] meulta commented on #4151
Hello, this is still a bug, can you please keep it opened until it is fixed?

[2019-05-02 22:25] Railboy commented on #4151
Apologies! Finger slipped on mobile while commenting. We'll take another look and try to repro.

[2019-05-02 22:33] carmines opened #4167 "Slate prefab box collider performance issue"
The box collider on the slate prefab is using a sphere, where the grabbable visual is a box
![image](https://user-images.githubusercontent.com/36190349/57110908-11047880-6cef-11e9-9ffb-ac783214d2d9.png)

![image](https://user-images.githubusercontent.com/36190349/57110934-34c7be80-6cef-11e9-8fa1-748f3caa4982.png)

[2019-05-02 23:00] radicalad opened #4168 "Windows.* namespace conflict"
## Describe the bug

The addition of the `Microsoft.MixedReality.Toolkit.Windows.*` namespace has created a namespace conflict with `Windows.*`. Typically the work around is to append `UnityEngine` or `System`, but in the case of `Windows`, it is the root of the namespace, and will always assume you're referencing `Microsoft.MixedReality.Toolkit.Windows.*`.

The only way around the issue is to mak

[2019-05-02 23:09] provencher opened #4169 "Pressable button inconsistent firing"
## Describe the bug

A default pressable button's onclick event fires inconsistently, and often more than once per press, unless the physical event router script's enum is set to EventOnClickCompletion

![image](https://user-images.githubusercontent.com/7420990/57112328-841ce780-6d0d-11e9-8ea1-8abd2e000022.png)

It seems that this mode also only triggers when the the button is released, but this m

[2019-05-02 23:11] #4052 closed

[2019-05-02 23:35] provencher commented on #4129
@julenka that fix does not solve the problem for me. In fact, it seems to have regressed behind where it was previously.

[2019-05-02 23:36] provencher opened #4170 "Pressable buttons interfering with grab pointer"
## Describe the bug
When placing grabbable buttons near a bounding box that is grabbable, the buttons interfere with the bounding box's grabbability.

COPY of https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/4129

## To reproduce

Place a pressable button near a bounding box.
The ways in which you can grab the bounding box are heavily restricted, and most fist clamping gestures no lon