[2016-10-18 19:34] darax commented on #291
Did you enable the spatialperception capability?

[2016-10-18 19:37] Ziugy commented on #188
My work does the first step of saving either the Spatial Mapping or Spatial Understanding meshes. There's still work that will need to be done to enable the "understanding" portion to run on a saved mesh within the Unity Editor.

[2016-10-18 19:58] #293 closed

[2016-10-18 21:01] NeerajW commented on #295
Actually when trying to repro this, I discovered that Unity 5.5 does not provide APIs for enabling VR to be Windows Holographic.

[2016-10-18 21:12] NeerajW commented on #295
When we move HoloToolkit-Unity to 5.5 builds:

**For the VR issue:**
ConfugireMenu.cs will need to look for a new string:
Unity 5.4: Metro::VR::enable:
Unity 5.5:
m_BuildTargetVRSettings:
  - m_BuildTarget: Metro
    m_Enabled: 1
    m_Devices:
    - HoloLens

[2016-10-18 21:13] darax commented on #295
does that fix the build errors?

[2016-10-18 21:14] NeerajW commented on #295
Build error only happens with Unity C# checked. Still investigating.

[2016-10-18 21:25] NeerajW commented on #295
Looks like Build Window never supported compiling with the Unity C# Project option checked. Irrespective of Unity version.

I don't see any code doing it. I suspect it might have been due to not being able to resolve the necessary dependencies.

[2016-10-18 21:50] darax commented on #295
If you build once from Visual Studio the appx build seems to work from Unity.

[2016-10-18 23:22] NeerajW commented on #295
True. Looks like I forgot to compile from VS :)

1. Compile using Unity Build Settings with Unity C# checked
2. Open solution
3. Change settings to Release x86 and Rebuild in VS
4. Now you can use the Build Window functionality.

Potentially some NuGet stuff is the tricky part that does not work via the Build Window.

[2016-10-19 01:37] kaiomagalhaes commented on #291
I'm having issues with the current spatial mapping and processing. It seems to work fine in unity but once I deploy it to the emulator it doesn't work. I'm not being able to see the meshes or the planes.

Also the SpatialMapping tests are not working in the emulator.

And yeah, the spatial perception is enabled

@NeerajW did you test it in unity or in the emulator?

[2016-10-19 04:31] hariragavanInoryasoft commented on #291
@darax - I enabled Spatial Perception. I am not able to narrow down the problem. Sometimes its working sometimes its crashing and home screen comes.

@NeerajW - I will give it a try. As I said. Sometimes its working perfect sometimes its not. I would like to know how to optimize it to perfect level. Presently what I am doing to optimize is that, I increased Update Time (so that it doesn't take mor

[2016-10-19 08:40] Holo-Krzysztof commented on #292
I'm not entirely sure yet, because after that change I've got a NullReferenceException in InitRoomApi() once, but that could be due to other changes in the project. I'll investigate that and if there are no issues, I'll make a pull request.

On Di. Okt. 18 19:54:43 2016 GMT+0200, Neeraj Wadhwa wrote:

[2016-10-19 08:44] Holo-Krzysztof commented on #292
Btw, it was in release mode, @NeerajW.

[2016-10-19 15:18] kaiomagalhaes commented on #199
Facing the exactly same issue here @jessemcculloch

[2016-10-19 16:35] darax commented on #291
When it crashes, it should break into the debugger.  You may need to change your debug settings to mixed (managed and native). Otherwise you might need to enable crash dumps from the App Crash Dumps tab in the developer portal webpage.

How you would optimally tune it depends on how you are using the surfaces.  Many apps choose to scan surfaces during the initial part of the application and then t

[2016-10-19 16:54] kaiomagalhaes commented on #291
For me not even the spatial processing tests are working, so I don't believe it is something with processing cost.

[2016-10-19 18:05] darax commented on #199
I think I have this.  Cleaning up the change.

[2016-10-19 18:15] #281 closed

[2016-10-19 19:05] #200 closed

[2016-10-19 20:36] darax commented on #199
Possible fix: https://github.com/Microsoft/HoloToolkit-Unity/pull/297

[2016-10-19 21:10] darax commented on #291
@kaiomagalhaes  I think you have a separate issue than the OP.  I have a repro, and I think I know how to fix it, but the side effect wouldn't be a crash (as the OP), it would be that you simply didn't get surfaces.

[2016-10-20 02:29] kaiomagalhaes commented on #291
You mean that I wouldn't be able to recognize the surfaces in the emulator/device? =/

[2016-10-20 05:29] hariragavanInoryasoft commented on #291
@darax - Thanks. That was very helpful. I was rendering the surface also (may be that's why its crashing). I enabled the app crash dump. I will give it a try and see. Thanks for the help.

[2016-10-20 05:51] kotAPI commented on #268
I was wondering the same about why it didn't work, is the repo updated?

[2016-10-20 10:36] HodgsonSDAS commented on #268
Still waiting on PR https://github.com/Microsoft/HoloToolkit-Unity/pull/250 to be approved

[2016-10-20 11:35] Holo-Krzysztof commented on #292
Alright, I discovered another bug related to my change: Sometimes `SharingManagerConnected` never gets called and thus `roomManager` is null, leading to exceptions in `InitRoomApi()`.

Let's look at a sample execution:

- `SharingStage` calls `Awake()`, which in turn calls `Connect()` (in my case, because auto discovery is off)
- `Connect()` does some config steps and creates a `SharingManager` fr

[2016-10-20 17:00] darax commented on #291
@kaiomagalhaes on the device the test scene should work. On the emulator it probably depends on how fast your computer is.  I'm not sure what the root cause is, but I've got a workaround that I'm testing.

[2016-10-20 17:02] kaiomagalhaes commented on #291
Awesome @darax thanks! In my emulator it is supposed to work since it is working with the old version. I'm going to test it now and I let you know.

[2016-10-20 17:08] darax commented on #291
k, if it doesn't work, I think the fix is in SpatialMappingObserver.cpp, you can replace the StartObserving function with:

/// <summary>
        /// Starts the Surface Observer.
        /// </summary>
        public void StartObserving()
        {
            if (ObserverState != ObserverStates.Running)
            {
                // on device, this isn't necessary, but sometimes in the emulato

[2016-10-20 17:28] kaiomagalhaes commented on #291
@darax tested in the emulator and it works fine!

[2016-10-20 17:29] HodgsonSDAS opened #298 "Request for Sync System Example"
I've been having issues getting the [Sync System](https://github.com/Microsoft/HoloToolkit/blob/master/Sharing/Src/Source/Docs/ExtendedDocs/SyncSystem.md) set up properly.

I was wondering if anyone had any examples they'd like to share?

[2016-10-20 17:33] HodgsonSDAS commented on #279
Could be a GIT sub-module, but I think that's prone to issues where people have to manually call update from GIT console or whatever GUI they're using.

[2016-10-20 20:11] #199 closed

[2016-10-20 20:36] CaptainMM opened #300 "Failed to build appx from solution. Error code: 1"
When using the build window and running in Parallels I am unable to build appx from solution. I've tried changing the target to x86 and the app builds and deploys fine from VS. I'm convinced this has something to do with the build directory.

1. No spaces in targets or names
2. Latest builds.
3. 5.4 0f3
4. Project resides on c:/ (not using mapped drive)

[2016-10-20 22:06] NeerajW commented on #300
Are you compiling to the default App directory that is used by the window?
Could you also please paste the path of your app?

[2016-10-21 02:08] CaptainMM commented on #300
I tried creating a separate build directory. That worked so simply removed the previous WindowsStoreApp directory and let it recreate the dir. That allows me to now build the solution successfully and the build shows below. However, I am unable to actually deploy the app now from the build window.

_Build dir_
C:\Users\user\Source\hololens\HoloR\WindowsStoreApp

When attempting to instal from the

[2016-10-21 16:17] darax commented on #300
I wonder if it has to do with USB on parallels. Can you deploy to 'device' from Visual Studio?  Did you have to do anything special (like give VS permission to talk to 127.0.0.1 port 10080 on your firewall?) to enable this?

[2016-10-21 16:45] NeerajW opened #302 "GameControllerManipulator needs HandsManager.cs to avoid null ref"
https://github.com/Microsoft/HoloToolkit-Unity/tree/master/Assets/HoloToolkit-Examples/GameControllerManipulator

Uses a cursor which responds to Hands feedback but is missing attaching HandsManager.cs to the Managers gameobject.

Was this scene created using Unity 5.5? Something seems not backwards compatible with Unity 5.4?

[2016-10-21 16:59] NeerajW opened #304 "Poll: Move HoloToolkit-Unity to Unity 5.5 beta releases"
Please feel free to either express your sentiments here or on [this poll](https://forums.hololens.com/discussion/2809/holotoolkit-unity-are-we-ready-to-move-holotoolkit-and-your-projects-to-unity-5-5-beta-releases#latest).
1. We will mark a release version for the master branch for Unity 5.4. So you can still use that code.
2. Then we can move master onto Unity 5.5.
3. We want to ensure you get en

[2016-10-21 17:04] HodgsonSDAS commented on #304
Awesome, but I think it would be good to get things ready in the beta, but wait until the release to move the master into 5.5.  They're releasing 5.5 in November anyway.

[2016-10-21 19:09] HodgsonSDAS commented on #302
![image](https://cloud.githubusercontent.com/assets/13334553/19608557/24a175ea-97a0-11e6-90bd-c0671d80e112.png)

Seem to be missing game objects in the Editor as well.
This is strange because I tested this scene and didn't have this problem before it was merged in.
@vbandi thoughts?

[2016-10-21 19:13] xaviercrespin commented on #302
I can confirm that i have tested it 20 minutes ago, and objects were missing too

[2016-10-21 19:15] HodgsonSDAS commented on #302
They're there but it seems like the meta data got stripped off somehow.

[2016-10-21 19:42] HodgsonSDAS commented on #302
I replaced the `CursorWithFeedback.prefab` with just the regular `Cursor.prefab`.  Tested on device.

[2016-10-21 20:05] HodgsonSDAS commented on #302
I've got both `Bluetooth` and `HumanInterfaceDevice` capabilities flagged as true, but no dice.  Does `Independant Input Source` also need to be true?

[2016-10-21 20:32] CaptainMM commented on #300
Building from VS works fine.

[2016-10-24 16:12] NeerajW commented on #302
Yeah this scene worked on beta 5.5 but not on 5.4.

@vbandi can you please work on a fix?

[2016-10-24 16:30] HodgsonSDAS commented on #302
Ahh, Then I think just replacing the CursorWithFeedback.prefab with just the regular Cursor.prefab will prevent the null ref.

[2016-10-24 23:34] NeerajW commented on #291
I believe a PR fixed this?

[2016-10-24 23:38] darax commented on #291
@hariragavanInoryasoft  The PR I did was for kaiomagalhaes' issue, which is different.  @hariragavanInoryasoft, if you are still having trouble, can you open another issue?

[2016-10-25 01:27] timothyt commented on #274
That's a bummer. So no intention to support this in future?

[2016-10-25 08:37] hariragavanInoryasoft commented on #291
@NeerajW  and @darax . No. I will close this issue. Mine is fixed.

[2016-10-25 08:41] hariragavanInoryasoft commented on #291
actually i don't think i can close this now.. can somebody commit a fix ? or i have to do it ?

[2016-10-25 12:45] HodgsonSDAS commented on #277
@maxouellet Any News?

[2016-10-25 13:09] aalmada commented on #277
Have you considered using Reactive Extensions (UniRx)? It allows compact and robust code specially when handling asynchronous inputs from multiple sources. Here is a reactive version of the GazeGestureManager for the Origami sample: https://github.com/aalmada/OrigamiRx/blob/master/Assets/Scripts/GazeGestureManager.cs

[2016-10-25 13:19] HodgsonSDAS commented on #277
I was considering UniRx as well, but I didn't like that it was essentially using Linq

[2016-10-25 16:16] aalmada commented on #277
The Linq performance issue was already raised in the Hololens forum and here is the clarification by the UniRx developer: https://forums.hololens.com/discussion/comment/7938/#Comment_7938

[2016-10-25 16:31] maxouellet commented on #277
@HodgsonSDAS I'll likely get started on this today or tomorrow. I have all the code written for a first version, it's just a matter of cleaning it up so that i can publish it externally. My schedule is clearing up this afternoon, so hoping to have a first pull request out by end of the week,

@aalmada  I have not considered UnirRx. My understanding is that we want to keep HoloToolkit as light and

[2016-10-25 16:37] NeerajW commented on #277
I agree with Max. We should keep HoloToolkit strongly typed, easy to read code and extensible.
Personally, I felt UnirRx did not meet the readable code criteria.
I don't doubt its power but I'd rather not take a dependency on that less known design pattern. Interface/Singleton based patterns are understood by all. If not then they can be easy to ramp up to. Hope this helps!

[2016-10-25 16:46] darax commented on #277
@maxouellet are you planning on switching back to the singleton that requires setting the instance in awake?

[2016-10-25 16:46] NeerajW commented on #277
Max here are some questions/thoughts based on the interface diagram:

1. **Gaze**:
Since we have named all classes so far related to Gaze to be Gaze*something does it makes sense to call IFocusable to be IGazeable and OnGazeEnter and OnGazeExit? This might have the transition easier as well for current code bases.

2. **Gesture:**
- Would it make sense to define all interfaces for gestures? And no

[2016-10-25 16:48] aalmada commented on #277
I totally agree with @maxouellet reasoning but not with @NeerajW . Rx is strongly typed, easier to read and easier to extend. For these same reasons so many people are now adopting functional languages.
I already started working on a reactive version of HoloToolkit but I'm still trying to figure out the best way to take advantage of your work without replicating it. If it was natively reactive it

[2016-10-25 16:49] #291 closed

[2016-10-25 17:03] maxouellet commented on #277
@darax Yes, but we have improvements to it so that it automatically sets itself up in Awake. There are two drawbacks to this, but at least it's better coding practice than doing FindByType across your whole scene.

1. If your singleton class needs to declare an Awake, it has to call base.Awake() to set the instance.
2. Singletons are only guaranteed to be set in Start(), so you should never call i

[2016-10-25 17:03] darax commented on #277
var is the opposite of strongly typed. :)

Having a function like .RefCount is a hint that people working on it will need to understand object lifetime of Rx.  This makes it harder to extend without introducing leaks or crashes.

I don't consider Linq to be more readable.  The script you posted is hard for me to follow. What does .Publish() do? How does the focused object get set? I'd expect to se

[2016-10-25 17:04] darax commented on #277
FindByType is only called once per singleton.  I'm not sure why that's a problem.

[2016-10-25 17:10] HodgsonSDAS commented on #277
I agree, Linq isn't strongly typed and can be confusing to read at first, but the definitive answer lies in hard data.

[2016-10-25 17:25] HodgsonSDAS commented on #277
@maxouellet how different is this new singleton generic?

[2016-10-25 17:33] maxouellet commented on #277
I'll make it simpler by just sharing out what we're using right now.

[code]

[2016-10-25 17:40] HodgsonSDAS commented on #277
I like it, but we will need to make sure everyone calls the base classes when utilizing it.  I wish there was a way to make calling the base class required.

[2016-10-25 17:48] maxouellet commented on #277
You get a warning in the editor if you override Awake without specifying "override". Also, if you don't call base.Awake(), you will get a bunch of null exceptions every time you try to access the instance.

[2016-10-25 17:50] timGerken commented on #277
should Awake and OnDestroy be marked as "protected" instead of "public"

[2016-10-25 17:52] HodgsonSDAS commented on #277
What happens if someone doesn't call base.OnDestory?

[2016-10-25 17:52] timGerken commented on #277
I've also seen this pattern, in the `(instance != null)` case call `DestroyImmediate(this)` just to be sure.

[2016-10-25 17:58] maxouellet commented on #277
@timGerken  Yes it should be protected, the reason it is public is that when this was written at a time where there was a bug in Unity where protected inheritance caused a runtime exception. I'd fix it before submitting :)

If you don't call base.OnDestroy, you have a dangling static reference, which I _think_ will eventually be cleaned up by the garbage collector. Realistically, this is only usef

[2016-10-25 18:01] timGerken commented on #277
Should this Singleton pattern survive Unity scene transitions?
If so, in Awake, it should also call `DontDestroyOnLoad(this);`

[2016-10-25 18:01] HodgsonSDAS commented on #277
@timGerken  I think that should be optional, but a good idea.

[2016-10-25 18:05] HodgsonSDAS commented on #277
@maxouellet I think documenting the required call to the base class should be good enough.

[2016-10-25 18:05] maxouellet commented on #277
@NeerajW
**Gaze:** It's purposefully not called Gaze because it isn't necessarily tied to gaze. Part of the goal of this design is to be flexible around input mechanisms, so I wouldn't want to strongly tie it to Gaze.

**Gesture events:** Yes. I think only Navigation was originally missing in there. The reason its missing is because a GestureRecognizer can only support either manipulation or Navig

[2016-10-25 18:10] maxouellet commented on #277
@timGerken It's not in there by design, because we've had cases where we only wanted a singleton for a single scene. I haven't played with it much, but what I've typically done is have a "DontDestroyOnLoad.cs" MonoBehaviour that calls DontDestroyOnLoad(this) in Start. That makes it easy to make any GameObject survive scene transitions, without having to add that logic to many of your scripts.

Oth

[2016-10-25 18:20] NeerajW commented on #277
@maxouellet sounds good on the GGV discussion. Thanks for considering!

[2016-10-26 09:50] aalmada commented on #277
@darax Not knowing Rx is one thing but saying the "var is the opposite of strongly typed" is shocking!
This project needs some discussion forum. What about Gitter just like many other .NET project?

[2016-10-26 13:12] HodgsonSDAS commented on #277
@aalmada Yes, var is the opposite of strongly typed.
[MSDN for reference](https://msdn.microsoft.com/en-us/library/bb383973.aspx):
[code]

[2016-10-26 13:59] #300 closed

[2016-10-26 14:09] kaiomagalhaes opened #308 "Spatial mapping stopped working"
I'm using the latest version of holotoolkit, the spatial mapping worked for some days but suddenly it stoped. Now when I go to the device portal it says 'Failed to get surfaces' and everything works fine in unity. Any ideas?

[2016-10-26 14:11] HodgsonSDAS commented on #308
What version of Unity are you using?

[2016-10-26 14:18] kaiomagalhaes commented on #308
5.4.0f3-HTP

[2016-10-26 14:22] HodgsonSDAS commented on #308
But you said it's not getting data from the device portal.  Sounds like it might be hardware related, do you have another device to test on?

Have you tried the [device recovery tool](https://support.microsoft.com/en-us/help/12379/windows-10-mobile-device-recovery-tool-faq)?

[2016-10-26 14:24] kaiomagalhaes commented on #308
I'm running the Planetarium example just to make sure, because it was working just fine. See the logs below

'Planetarium.exe' (CoreCLR: DefaultDomain): Loaded 'c:\data\Programs\WindowsApps\Microsoft.NET.CoreRuntime.1.0_1.0.23819.0_x86__8wekyb3d8bbwe\mscorlib.ni.dll'. Cannot find or open the PDB file.
'Planetarium.exe' (CoreCLR: CoreCLR_UWP_Domain): Loaded 'C:\Data\Users\DefaultAccount\AppData\Loc

[2016-10-26 14:24] kaiomagalhaes commented on #308
@HodgsonSDAS My partner is facing the same problem in his computer. Now I'm going to format my windows just to make sure

[2016-10-26 14:27] HodgsonSDAS commented on #308
If it's happening on multiple devices, then it might be software related.

Please in the future, upload your log file and not post it directly in the thread. It's hard to read that way.

[2016-10-26 14:31] kaiomagalhaes commented on #308
@HodgsonSDAS alright, edited my message with a gist link, hope it helps.

[2016-10-26 14:35] HodgsonSDAS commented on #308
Yeah we've made some changes to the spatial mapping components over the last week to get it to work in the emulator and while using the Holographic Remoting feature.  It's possible something could have broken.

Could you make a sample scene that can reproduce this for us?

@darax Any thoughts on this?

[2016-10-26 14:38] kaiomagalhaes commented on #308
The spatial processing test scene isn't working anymore.

[2016-10-26 14:43] HodgsonSDAS commented on #308
Okay, give me a few minutes to test this out on my end.

[2016-10-26 14:50] HodgsonSDAS commented on #308
Confirmed. Spatial Mapping broken.

[2016-10-26 14:58] HodgsonSDAS commented on #274
@markgrossnickle What we've done in the past is when we're in the editor, to just calculate anchor from origin.  It's not perfect but it's a decent enough work around I guess.

[2016-10-26 17:56] paseb commented on #277
@maxouellet and @NeerajW, I strongly agree with moving away from the term gaze to focus.  Gaze has a single use target where focus has a broader understanding for multiple targets.  Example: targeted interactions from the hand forward or other device.  You can allow for multiple "focusers" where "gaze" implicitly has the understanding of originating from the head.

I largely agree with all of the

[2016-10-26 20:14] kaiomagalhaes commented on #308
Any ideas about when it will be fixed? My company has a product which is based on spatial mapping and we can't do a demo until it is fixed.

[2016-10-26 20:20] NeerajW commented on #308
@kaiomagalhaes and @HodgsonSDAS @darax  and I just verified the SpatialProcessing scene on Unity 5.5 b7 and Unity 5.4 f3 and it worked both in editor and on HoloLens.
We debugged the scene and saw no error messages or incorrect stacks. Spatial Mapping rendered well and generated planes after say 30 seconds correctly.
Starting the observer.

(Filename: C:\buildslave\unity\build\artifacts/generated/

[2016-10-26 20:40] kaiomagalhaes commented on #308
@NeerajW

1 -
[code]

As you can see it starts and stops the observer a lot of times, in my gist above you can see its full version.

2 - I'm on my notebook and my partner in a PC

3 - Yes, the spatial perception is enabled in my unit app, but not sure how I could ensure it in the generated VS solution

[2016-10-26 20:41] kaiomagalhaes commented on #308
@NeerajW

@HodgsonSDAS also faced the exactly same issue that I did

[2016-10-26 21:04] keveleigh commented on #308
@kaiomagalhaes To check if Spatial Perception is enabled in the generated VS solution, right click on Package.appxmanifest in the Solution Explorer in VS, click View Code, and see if `<uap2:Capability Name="spatialPerception" />` is under `<Capabilities>`

[2016-10-26 21:09] darax commented on #308
Have you tried a release build instead of a debug build?

[2016-10-26 21:14] kaiomagalhaes commented on #308
Thanks @keveleigh, I'm going to try it today.

@darax I have tried in release, master and debug.

I've formatted my machine today just to make sure and I'm going to check the spatialPerception in the appxmanifest later today.

[2016-10-26 21:19] darax commented on #308
okay, I just tried in debug, on my PC, and it worked.  Do make sure that you've pulled the latest HoloToolkit.  Without my changes I would have seen what you did in the log you posted.

[2016-10-26 22:36] #274 closed

[2016-10-27 03:19] kaiomagalhaes commented on #308
Hey guys, I updated my computer and as the 5.4.0f3-HTP wasn't available to download (broken link) I downloaded the 5.5.0b9 and it worked just fine. Not sure if it is something with the version, as my partner with the 5.4.0f3-HTP is still facing the issue and @darax faced the same problem it may be something to keep digging.

Tomorrow I'm going to have my partner updating his unity to see if it wor

[2016-10-27 13:02] HodgsonSDAS commented on #308
@darax @NeerajW  Yes the capabilities were enabled for Spatial Perception.
Editor: Unity 5.4.0f3-HTP
Build: x86 Release
Windows Holographic OS: 10.0.14393.321
Firmware revision 005.05.P.1606291233R

[2016-10-27 13:09] HodgsonSDAS commented on #308
I was able to narrow it down I think.  If you already have a good portion of the room mapped then it works fine, but when you move to map a new surface is when the error occurs.

[2016-10-27 14:57] kaiomagalhaes commented on #308
Update:

With the version 5.5.0b9 it works just fine in debug, master and with the released app. For some reason,my 3D view says that the device is not connected, but I don't know if it is related.
Also with the 5.5.0b9 it worked with my friend as well, so it is no an isolated case.

[2016-10-27 15:52] darax commented on #308
@HodgsonSDAS  that's what the processing scene is supposed to do.

@kaiomagalhaes it sounds like you are unblocked. Am I wrong?

[2016-10-27 16:01] HodgsonSDAS commented on #308
Ah okay, well I'm still getting the `The thread has exited with code 0 (0x0).`

[2016-10-27 16:45] kaiomagalhaes commented on #308
Yes @darax I'm unblocked.

[2016-10-27 21:30] HodgsonSDAS commented on #298
@jwittner Any chance you guys have good examples you could share?

I'm just having trouble getting a listener on the root object to raise events properly.

[2016-10-27 21:33] HodgsonSDAS commented on #308
So the spatial perception is only working for the 5.5 beta?

[2016-10-27 21:36] kaiomagalhaes commented on #308
@HodgsonSDAS it is the conclusion I came through.

[2016-10-27 21:38] darax commented on #308
It's working in 5.4 for Neeraj and me.

The thread exited message is likely a red herring.  I see those all the time.

[2016-10-27 22:09] HodgsonSDAS commented on #308
So I tested my own scenes and it's working fine.

I think the thing that threw me off was the error codes and seeing white all the sudden. Seemed like it just showed the tracking lost but if the white planes are intended then I guess it's working haha. Seeing all that white made me think it crashed.

[2016-10-27 22:22] darax commented on #308
okay, I'll cancel the apt with my therapist. :)

[2016-10-27 23:40] #308 closed

[2016-10-28 08:23] kotAPI opened #310 "Visual Studio Build fails in Unity 5.5 beta"
Visual Studio builds are successful on the 5.4 but seem to be failing if the solution is being built from 5.5 beta version of Unity via WiFi deploy. It doesn't throw any error but says "remote device is taking too long to respond" and fails eventually. I migrated the 5.5 project to the stable Unity version(5.4) and built the VS solution and it deploys successfully like they used to originally. It'

[2016-10-28 12:45] kaiomagalhaes commented on #308
So can I close the issue @HodgsonSDAS @darax ?

[2016-10-28 13:51] HodgsonSDAS commented on #310
Are you completely deleting your exported folder on each build?

[2016-10-28 13:52] HodgsonSDAS commented on #308
It's hard to work remotely like this sometimes 😆

[2016-10-28 14:27] HodgsonSDAS commented on #298
Here's the branch I've set up for proper testing.
https://github.com/HodgsonSDAS/HoloToolkit-Unity/tree/SyncSystemTests

[2016-10-28 14:43] HodgsonSDAS commented on #277
@maxouellet any chance we get to play with this over the weekend?

[2016-10-28 16:15] maxouellet commented on #277
@HodgsonSDAS Merging internal changes with the public version took more time than expected, but I'm back to a state that compiles. I still need to make sure all the tests and example scenes still work, and fix them as appropriate, which I expect is going to take most of today.

I'll try to have some early version (potentially without all example scenes working and with some changes still needed) u

[2016-10-28 17:57] kotAPI commented on #310
I've tried both, I did fresh builds and replaced old builds with the new ones. I've built a couple of other apps and they build perfectly with the beta. I've no clue why my project doesn't build. Do builds fail if the app is heavy? I'm currently using couple of heavy mesh(about 70mb) models in my project.

[2016-10-28 22:56] maxouellet commented on #277
I've pushed an early first version of this on my [GitHub](https://github.com/maxouellet/HoloToolkit-Unity/tree/ExtensibleInputModule), so that you can play around with it. There's likely still a bunch of broken scenes, mainly references that broke when I deleted / moved / added when I moved from our internal project to the public HoloToolkit project. The best scene to try out the new features is t

[2016-10-31 13:24] HodgsonSDAS opened #311 "Sync System: root object added listener does not raise events properly"
I'm just having trouble getting a listener on the root object to raise events properly.
[code]
I'm getting the root object and adding a listener but that listener never raises `ElementAddedEvent` nor `ElementDeletedEvent`.

Here's the branch I've set up for proper testing:
https://github.com/HodgsonSDAS/HoloToolkit-Unity/tree/SyncSystemTests

1. Open `SyncSystemTests.unity`
2. Add breakpoints to `

[2016-10-31 15:43] HodgsonSDAS commented on #277
Overall. Wow, great work!  I'm really excited to use this.
I do have a few thoughts though.

I noticed in the GazeManager.cs that we're [prioritizing hits](https://github.com/maxouellet/HoloToolkit-Unity/blob/ExtensibleInputModule/Assets/HoloToolkit/Input/Scripts/Gaze/GazeManager.cs#L321-L332) during the [update loop](https://github.com/maxouellet/HoloToolkit-Unity/blob/ExtensibleInputModule/Asset

[2016-10-31 16:10] maxouellet commented on #277
Thanks a lot for the feedback @HodgsonSDAS . Most of what you mentioned are likely bugs, I'll look into them today.

I'm not super familiar with Button.cs, and might end up moving it to the Tests folder because I'm not convinced it's generic enough yet. The intend as I understand it is that the button states (including its active state) is completely controlled by its associated Animator state mac

[2016-10-31 16:22] HodgsonSDAS commented on #277
@maxouellet Yeah the button class you had looks very similar to the one we had while working on our project at MS earlier this year. We ended up making the hydrate and dehydrate animations completely automated based on the `GameObjects` active flag, but still included the option to hydrate in and out independently of the active status.  One caveat though is that we had to explicitly call a public

[2016-10-31 16:34] HodgsonSDAS opened #312 "Formatting Guidelines"
I'd like to discuss creating a formatting document for use in the HoloToolkit that sets some ground rules about formatting and styles.

for example:

- Using explicit vars instead of implicit.
- Using explicit private modifier for all Unity specific methods.
- Using `[SerializeField]` instead of public fields to set values in the editor.
- etc.

Please add suggestions and discuss the pros and cons

[2016-10-31 17:03] NeerajW commented on #298
@jheuvel-ms any thoughts here?

[2016-10-31 17:04] NeerajW commented on #310
@kotAPI I've deployed apps with over that and worked. Perhaps try deploying with fewer assets first if you think your WiFi is unable to handle so much data?

[2016-10-31 17:07] NeerajW commented on #312
Here are some [.NET framework guidelines provided by Microsoft](https://msdn.microsoft.com/en-us/library/ms229043(v=vs.110).aspx).
Have you found something similar for Unity?

We've tried to keep this project simple on those and mainly follow the current convention style classes.

[2016-10-31 17:09] HodgsonSDAS opened #313 "Wiki Update"
@NeerajW  There's no good way to update the Wiki if you're not a Microsoft member, but here's an update for the HoloToolkit-menu.md based off my PR https://github.com/Microsoft/HoloToolkit-Unity/pull/307:

[code]

[2016-10-31 17:16] HodgsonSDAS commented on #312
yeah, those .NET framework guidelines are included in this as well, but I think most of use follow that by default anyway.

Having a list of other things not covered by that might be helpful.

[2016-10-31 17:57] aalmada commented on #277
@maxouellet Tried your version and it's a great improvement. No more script execution order issues.

On the explicit typing, I understand your reasoning but it's arguable: https://blogs.msdn.microsoft.com/ericlippert/2011/04/20/uses-and-misuses-of-implicit-typing/

[2016-10-31 20:10] HodgsonSDAS commented on #277
I think it's important to make the code easier for [others to understand](https://msdn.microsoft.com/en-us/library/bb384061.aspx).  From my understanding the HTK is also for newbies who are just starting out.

[2016-10-31 20:34] HodgsonSDAS commented on #198
@acylum is this still an issue?

[2016-10-31 20:36] HodgsonSDAS commented on #195
@NeerajW is this still open?

[2016-10-31 20:46] HodgsonSDAS commented on #202
@jbienzms  If this is merged is this issue closed?

[2016-10-31 20:49] jbienzms commented on #202
Yes, we can close the issue. I still want to improve the UI but the main issue itself has been resolved.

I'll close it now.

[2016-10-31 20:49] #202 closed

[2016-10-31 23:30] maxouellet commented on #277
I just pushed some more changes to my repository to fix the bugs that @HodgsonSDAS had pointed out, and do the additional fixes:

- Added support for the Navigation event
- Fixed the headers that were not in the MIT license format
- InputManager no longer allocates for every event that is sent out
- Removed old "Main Camera" prefab and associated camera movement script, since we now have the new H

[2016-11-01 13:45] HodgsonSDAS commented on #277
Really digging that InputManagerTest scene

[2016-11-01 14:00] kotAPI commented on #310
@NeerajW you're probably right, the builds seem to be failing if the meshes are heavy. I think this question can be closed, thanks for the help guys.

[2016-11-01 17:01] mister-liss opened #315 "Failing WACK Compliance"
Holotoolkit-Unity is failing WACK compliance. I was testing my own changes and noticed the failure. I cloned a clean repo at commit 82fc64462b987f1d572d0db9bb3b39fe8f1a56f0 and found the same failure. This likely goes further back. Below is the output of the failing test from WACK.

Supported API test

FAILED
Supported APIs
Error Found: The supported APIs test detected the following errors:
API D3

[2016-11-01 17:19] maxouellet commented on #277
Good points.

We have a better implementation of the cursor coming in soon from @paseb, so the new cursor on my GitHub is really just a stand-in. I'll take a quick look at cleaning it up in the meantime, but odds are it simply won't be part of the pull request.

We could add some description in the example scene, but it's already pretty heavy on text. It's meant as a demo that shows the various ca

[2016-11-02 11:33] HyphyPan opened #317 "Does anyone know how to get the rotation of the clicker?"
I want to use the clicker to change an object's rotation. But I can only use the navigation event to get the relative position between -1 and 1.

[2016-11-02 16:58] HodgsonSDAS commented on #277
@maxouellet you also have two extra meta files that can be deleted from your repo:

Assets/HoloToolkit/Input/Models/Cursor/cursor_hand_ready.fbm/templates.meta
Assets/HoloToolkit/Input/Models/Cursor/cursor_ready.fbm/templates.meta

The Editor complains when I switch over to your branch each time, saying they've been deleted because there aren't any assets they're related to.

[2016-11-02 17:39] maxouellet commented on #277
Thanks for the notice, I pushed a change that removes these two files.

The input stuff is pretty much done at this point, minus the cursor. Goal is to get the cursor in today or tomorrow at latest, and send out a pull request once that's done. I also need to update the documentation, which I will do today.

[2016-11-02 17:48] aalmada commented on #277
@maxouellet You don't need so many delegates for the input sources. Two are enough and you don't even need to declare them. Use Action&lt;&gt; in the event declaration as suggested in the [.NET design guidelines for callbacks](https://msdn.microsoft.com/en-us/library/ms229041(v=vs.110).aspx):

  event Action&lt;IInputSource, uint&gt; SourceUp;
  event Action&lt;IInputSource, uint, Vector3&gt; Mani

[2016-11-02 18:13] maxouellet commented on #277
@aalmada In this specific case, I'm not a big fan of using Action, because it hides the meaning of the uint. I can certainly change it if people feel it's more obvious when using Action.

It agree that EventHandler and event args for the various events would be better overall, but I was trying to avoid the allocation of an *EventArgs object instance on every interaction event, given that this will

[2016-11-02 18:20] aalmada commented on #277
@maxouellet Come on! Everything that is not C# 1.0 is not readable? Generics is 2.0
At least you could reduce to only two delegates...

[2016-11-02 18:37] maxouellet commented on #277
@aalmada This isn't a C# 1.0 vs C# 2.0 fight :) I meant that a delegate such as:

`NavigationStartedEventDelegate(IInputSource inputSource, uint sourceId, Vector3 cumulativeDelta);`

better indicates what each of the parameters represent than

`Action<IInputSource, uint, Vector3>`

I agree that the right solution to this is to have a single parameter to your Action / EventHandler that can be a cla

[2016-11-02 19:24] HodgsonSDAS commented on #292
Yeah I'm no fan of `Invoke()`.

Another issue is that testing in the Editor is difficult because ImportExportAnchorManager only puts you in a room if `WorldAnchorStore.GetAsync(AnchorStoreReady);` completes successfully (Which it never does because we're not actually on device).

[2016-11-02 21:08] paseb commented on #277
![cursor_update](https://cloud.githubusercontent.com/assets/19958303/19947429/46c9b308-a105-11e6-9ef2-725cf5f27953.PNG)

I just pushed my changes for the cursor to match the extensible nature of Input.  Look at the AnimatedCursor and SpriteCursor as a example for creating new cursors.  The animator state information is set in the current DefaultCursor prefab.  There are also some handy exposed sur

[2016-11-02 22:26] #310 closed

[2016-11-02 23:11] robertlevy commented on #277
Re: eventarg allocation... you can reuse the same instance of the eventarg object each time you raise the event.  Not sure if that's weird from a Unity perspective but it's a common pattern in Microsoft's implementation of .NET input APIs

On Nov 2, 2016, at 2:13 PM, Max Ouellet <notifications@github.com<mailto:notifications@github.com>> wrote:

@aalmada<https://github.com/aalmada> In this specifi

[2016-11-02 23:44] maxouellet commented on #277
@robertlevy From what I'm seeing in the .NET framework, that doesn't seem right. For example, MouseButtonEventArgs has all of its properties as read-only, and a new instance of it is constructed every time a mouse button is clicked. My understanding is that EventArgs classes are meant to be immutable (unless you're using EventArgs as-is with no parameters, in which case it doesn't matter).

That b

[2016-11-03 00:04] robertlevy commented on #277
wow it's been a while :)  you're right, i got stuff mixed up.  different eventarg instance each time.  but the eventarg objects are fairly light weight, delegating just about everything to a device object that is shared across each args instance (example: https://referencesource.microsoft.com/#PresentationCore/Core/CSharp/System/Windows/Input/TouchEventArgs.cs)

________________________________
Fr

[2016-11-03 10:49] aalmada commented on #277
@maxouellet I'd like to comment on the current IInputSource implementation. It assumes two modes: Manipulation and Navigation.
Will there always be only these two modes? Any change on this assumption will force changes either on the interface or in the InputManager.
A generic mouse handler (or multi-touch) doesn't have Manipulation or Navigation events. These would be states implemented on top of

[2016-11-03 18:09] maxouellet commented on #277
@aalmada I think (and hope) that the IInputSource will eventually evolve to have more interactions, as they become necessary. One example that is currently missing is some kind of ControllerInputSource, which would expose button presses  + joystick information (this might end up just being an extension to SourceUp / SourceDown).

The Manipulation and Navigation events are there specifically to exp

[2016-11-03 20:09] HodgsonSDAS commented on #298
Blocked by https://github.com/Microsoft/HoloToolkit-Unity/issues/311

[2016-11-03 20:09] HodgsonSDAS commented on #311
Blocks https://github.com/Microsoft/HoloToolkit-Unity/issues/298

[2016-11-04 03:30] #292 closed

[2016-11-04 13:56] HodgsonSDAS commented on #311
@jwittner any ideas?

[2016-11-04 19:35] darax commented on #315
are you building Master?

[2016-11-04 19:37] mister-liss commented on #315
I'm building Release. Should I be building Master?

[2016-11-04 20:10] angelaHillier commented on #315
Yes, Master is required for store submission.

[2016-11-04 20:32] darax opened #322 "Manual Camera Control - should it be disabled if not in editor?"
The update function takes up a little bit of hopefully unnecessary processing when on device.

[2016-11-04 23:47] S-Hodgson-MMOARgames commented on #322
I agree, the whole class should be wrapped in an `#if UNITY_EDITOR`

[2016-11-07 12:53] HodgsonSDAS commented on #322
Actually should be `#if UNITY_EDITOR || UNITY_STANDALONE`

[2016-11-07 16:13] Ziugy commented on #311
I've noticed similar behaviour in regards to this. Listening to the SyncMessage on the server connection and registering a callback on the NetworkConnectionAdapter's MessageReceivedCallback you would find that the other clients gets the changed events. I think there's something in the underlying HoloToolkit.Sharing that's not processing the operations.

[2016-11-07 21:01] jwittner commented on #311
I'm using a version of this library in an application that's a couple months older than the latest. I'm wondering if we're seeing a recently introduced issue.

[2016-11-07 21:20] jwittner commented on #279
I think it'd be enough to have a batch file which I could point at any HoloToolkit folder to pull updated files from. Users could clone separately or add as submodule in their forks that way and still get the updates to work.

[2016-11-07 21:33] jwittner opened #325 "SharingWithUNET example has several compiler warnings in Unity"
- Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/GenericNetworkTransmitter.cs(45,20): warning CS0414: The private field `GenericNetworkTransmitter.mostRecentDataBuffer' is assigned but its value is never used
- Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/GenericNetworkTransmitter.cs(40,18): warning CS0414: The private field `GenericNetworkTransmitter.waitingForConnection' is assigned

[2016-11-07 22:39] jwittner commented on #313
I updated the wiki.

[2016-11-07 22:39] #313 closed

[2016-11-07 22:53] jwittner commented on #317
Might be a question better asked here: https://forums.hololens.com

[2016-11-07 22:53] #317 closed

[2016-11-08 02:26] NeerajW commented on #322
Fixed with #324

[2016-11-08 02:26] #322 closed

[2016-11-08 02:27] NeerajW commented on #315
Please reopen if you still see issues with Master x86.

[2016-11-08 02:27] #315 closed

[2016-11-08 13:05] HodgsonSDAS commented on #311
Debugging shows that the listener registers events properly but seems like they never get raised.

[2016-11-08 17:12] Ziugy commented on #311
I uncommented #define SYNC_DEBUG in CommonSettings.h to enable further debugging of this. Looks like Modify and Ack operations are getting sent between my clients, but like you said the Unity events aren't getting raised. To investigate this further I added extra debugging in the ModifyOperation's Notify method. For me it looks like the parentElement is always "Root". The modifiedElement is correc

[2016-11-08 18:08] thebanjomatic commented on #304
Hey @NeerajW  its now November 8th, any update on the migration?

[2016-11-08 18:08] Ziugy commented on #311
I can confirm that events are firing properly. I just had an initialization issue within my project. Fixing that cause all my events to fire properly. I'm going to compare the setup of my project with what you've created to see where we differ.

[2016-11-08 19:20] HodgsonSDAS commented on #311
Thanks @Ziugy that would be really helpful.

[2016-11-08 20:43] #325 closed

[2016-11-08 20:48] Ziugy commented on #311
I downloaded your repo, but I'm not seeing a SyncSystemTests.unity scene.

[2016-11-09 13:22] HodgsonSDAS commented on #311
Were you able to find it?

https://github.com/HodgsonSDAS/HoloToolkit-Unity/blob/SyncSystemTests/Assets/HoloToolkit/Sharing/Tests/SyncSystemTest.unity

/Stephen

From: Robert Onulak [mailto:notifications@github.com]
Sent: Tuesday, November 8, 2016 3:48 PM
To: Microsoft/HoloToolkit-Unity <HoloToolkit-Unity@noreply.github.com>
Cc: Hodgson, Stephen <Stephen.Hodgson@saabusa.com>; Author <author@norepl

[2016-11-09 17:28] Ziugy commented on #311
I've attached a patch with the changes I've made to your repository that fixes the int case. The room connection really isn't needed. You needed to listen to the IntChangedEvent on the ObjectElement where the IntElement is a child of. In the OnElementAdded and OnElementDeleted methods you also needed to properly handle the IntElement being past in. Hopes this helps!

[patch.zip](https://github.com

[2016-11-09 17:51] HodgsonSDAS commented on #311
@Ziugy You sir are a scholar and a saint.

[2016-11-09 18:04] NeerajW commented on #304
@thebanjomatic Unity is on track to release their RC builds in November.
We will migrate then. I will publish our release plan today.

[2016-11-09 18:04] #304 closed

[2016-11-09 18:06] HodgsonSDAS commented on #311
Shouldn't the listener on the root object raise OnElementAdded when creating ObjectElements?

[2016-11-09 18:23] HodgsonSDAS commented on #311
@Ziugy were you able to get the RootObject to raise an event when adding ObjectElements?

[2016-11-10 16:40] Ziugy commented on #311
D'oh, looks like it was. Pull request makes much more sense! Done. You should see the add/delete event for ObjectElements too, but I didn't test that. Only investigated the IntElement for you.

Note that for every ObjectElement you need to AddListener to receive that ObjectElement's events. The change events don't propagate up to the root.

[2016-11-10 17:23] HodgsonSDAS commented on #311
Hehe, no worries. I really appreciate you looking at this.

[2016-11-10 17:29] HodgsonSDAS commented on #311
Merged your pull request but I still can't get the events to fire though.

[2016-11-10 17:54] Ziugy commented on #311
Oh, events don't get fired on the local client. You should keep setting the intValueText in TestCreateIntValue and TestDeleteIntValue.

[2016-11-10 18:53] HodgsonSDAS commented on #311
Oh, okay so then it doesn't raise events locally by design?

[2016-11-10 18:56] #311 closed

[2016-11-10 19:08] HodgsonSDAS commented on #298
@NeerajW please assign this to me. I'd like to learn this more and contribute what I find.

[2016-11-10 20:40] HodgsonSDAS commented on #265
https://github.com/Microsoft/HoloToolkit-Unity/issues/265

[2016-11-10 20:52] HodgsonSDAS commented on #272
Is this closed?

[2016-11-10 20:56] HodgsonSDAS commented on #290
To get this to work properly you will need to put the `SpatialUnderstanding.dll` in your Unity editor programs folder: `C:\Program Files\Unity\Editor\`

[2016-11-10 21:07] HodgsonSDAS commented on #290
Spatial Understanding seems to be compiled only for UWP.
This would probably need to be rewritten or compiled to support .NET

[2016-11-11 11:06] aalmada commented on #277
I have a 3D model designed in CAD that is structured as a hierarchy with many leaf objects with a mesh and its collider. I want to be able to hand drag entire branches of this hierarchy instead of individual objects.
InputManager sends the messages to the focused object. I can make this work if I add a HandDraggable to each leaf object and set HostTransform to the parent branch node.
The issue is

[2016-11-11 13:55] HodgsonSDAS commented on #272
@markgrossnickle is this issue closed?

[2016-11-11 14:34] #312 closed

[2016-11-11 16:44] aalmada opened #329 "Input test scene SelectedObjectKeywords crashes"
Scene [SelectedObjectKeywords](https://github.com/Microsoft/HoloToolkit-Unity/blob/4cf37b7ddabca8db0030b0f527341455e13f52d3/Assets/HoloToolkit/Input/Tests/Scenes/SelectedObjectKeywords.unity) crashes on startup in [Cursor.RegisterManagers() when adding the global listener](https://github.com/Microsoft/HoloToolkit-Unity/blob/4cf37b7ddabca8db0030b0f527341455e13f52d3/Assets/HoloToolkit/Input/Scripts/

[2016-11-11 17:26] CameronVetter commented on #279
Is there a reason that the HoloToolkit isn't published to the Unity 3d Asset store as a free asset?  This seems like the right way to deploy packages like this in the unity ecosystem...

[2016-11-11 17:29] maxouellet commented on #277
The events bubble up according to your game object hierarchy, so you don`t have to have the HandDraggable script (or any other script that implements the input interfaces) on the game object that has the collider. In your case, assuming you have something like the following:

Root
   Branch1
      Leaf1
      Leaf2
   Branch2
      Leaf3
      Leaf4

You can put the HandDraggable script on Branch1

[2016-11-12 17:36] HodgsonSDAS commented on #279
@CameronVetter We're working on it. Right now the HoloToolkit is going though some major changes.

It's definitely on the todo list.

[2016-11-14 18:14] aalmada commented on #277
@maxouellet Works just like you explained. Thanks!

[2016-11-14 21:52] jwittner commented on #272
Close per #288.

[2016-11-14 21:52] #272 closed

[2016-11-14 23:31] NeerajW commented on #279
@CameronVetter the real reason is that we don't have an automated build system that can sign our code binaries. This is a ship requirement for us before shipping software. Hence the delay on making asset packages available on the asset store.

[2016-11-16 16:26] aalmada commented on #277
@maxouellet KeywordManager doesn't have the same bubbling mechanism. It calls a specific method in a specific object. I have a workaround but I think it would be interesting to make all these managers consistent with how InputManager invokes events.

[2016-11-16 17:53] maxouellet commented on #329
Should be fixed by pull request #330 , once it goes in

[2016-11-16 17:59] maxouellet commented on #277
@aalmada I agree that would be great, that work just hasn't been done yet, so I left the original classes in there. There are a few things that could be added when the need arises, notably:

- Keyboard input routing
- Controller input routing
- Voice commands input routing (that one is particularly tricky to get right...)

I do not intent to address those soon due to lack of time, but will be happ

[2016-11-16 20:25] HodgsonSDAS commented on #329
@aalmada can you confirm that this is now fixed?

[2016-11-17 00:33] cre8ivepark opened #331 "Text prefab with optimized dimension and rendering quality"
Text is the one of the most important component in Holographic apps. To display text, there are two types of text components you can use in Unity — UI Text and 3D Text Mesh. However, there are two problems with these.
**1. They are blurry in default. You need to tweak some of the variables to get the sharp high-quality text.
2. They are too big in default. You need to scale down a lot to get manag

[2016-11-17 01:30] robertlevy commented on #331
Yes please!  As a Unity newbie, crisp and consistent text rendering is the thing I've been most surprised to encounter as a stumbling block.

[2016-11-17 10:47] aalmada commented on #277
@maxouellet fair enough

[2016-11-17 13:12] HodgsonSDAS commented on #331
@cre8ivepark Thanks a lot for these tips.  I remember seeing your presentation on the WinHUGR youtube channel.

I think having a SDF font would also go a long way to make text look and perform really well.

[2016-11-17 14:00] HodgsonSDAS opened #333 "Reduce allocations in InputManager"
From discussion in initial PR of ExtensibleInputModule.

Removing anon functions and lamdas
[code]

[2016-11-17 19:54] cre8ivepark commented on #331
@HodgsonSDAS Thanks! I am also looking into SDF shaders but having trouble with some side effects such as rounded edges. We can add these prefabs with simple shaders for now and add SDF version later.

Rounded edge symptom with SDF shader:
![sdf_text_rounded](https://cloud.githubusercontent.com/assets/13754172/20405053/6b1644e8-acbc-11e6-87e5-03a75cecaa65.png)

Found this article on this issue:
[]

[2016-11-17 20:02] HodgsonSDAS commented on #331
Yeah, I agree, there are some issues.  We're using text mesh pro and have seen good results using SDF with them.

There are other ways to ensure crisp edges:
https://dspace.cvut.cz/bitstream/handle/10467/62770/F8-DP-2015-Chlumsky-Viktor-thesis.pdf

https://github.com/Chlumsky/msdfgen

[2016-11-18 13:08] StephenHodgson opened #334 "Research a better way to get CursorModifier in Cursor.cs"
I love the new input module, but there's gotta be a better way we can get the cursor modifier than GetComponent whenever we get a new focused object.

Probably not an easy way to around this, but it would be nice.

Cursor.cs line [253](https://github.com/Microsoft/HoloToolkit-Unity/blob/ExtensibleInputModule/Assets/HoloToolkit/Input/Scripts/Cursor/Cursor.cs#L253):
[code]

[2016-11-18 14:24] aalmada commented on #277
@maxouellet Challenge accepted! ;)
While researching on how to extend the InputManager I noticed there are two different patterns. GazeManager is explicitly registered in the InputManager while all others, like GestureInput, derive from BaseInputSource. Why doesn't GazeManager follow the more generic second pattern?

[2016-11-18 14:32] HodgsonSDAS commented on #277
GazeManager is the one that handles most of the logic about which objects we're currently focused on, and many of these other classes utilize that information.

[2016-11-18 15:21] aalmada commented on #277
@HodgsonSDAS Yes, I do understand that. My question is more like, is really GazeManager a special case? If not, the architecture would be somewhat simpler. Just food for thought. ;)

[2016-11-18 15:33] HodgsonSDAS commented on #277
Oh I agree simpler is better, I'll have to take a closer look at it later. nom nom nom.

[2016-11-18 17:47] maxouellet commented on #277
@aalmada Yeah, I didn't have enough time to figure out a great way to implement the GazeManager without breaking everything that depends on it being a singleton...

The long term solution I was thinking was that we should have a one or many FocusSources that register themselves with the InputManager. GazeManager would be one implementation of a FocusSource (a very important one that we might want

[2016-11-18 18:02] paseb commented on #277
Well there goes my reply :), @maxouellet beat me to it.  I was going to say what max wrote.  Because we should support multiple input focus sources having them independent and register with input manager is a good choice.  We internally separated out a users GazeFocus from the other FocusSources since where the head is looking tends to be complimentary to other focus sources.  Examples would be ga

[2016-11-18 21:07] NeerajW opened #335 "Add HoloShell like shader for rendering spatial mesh on air tap"
Add a shader and material that emits a ring like effect when you air tap on the spatial mapping mesh.

Proposed location: Assets\HoloToolkit\SpatialMapping

[2016-11-18 21:09] NeerajW commented on #335
@pinkwerks graciously agreed to add this.

[2016-11-19 00:15] paseb commented on #334
The only thing here is that OnActiveModifier is also for setting the modifier to null.  So as-is it's not ideal but still handles the base side of having OnActiveModifier handle both new modifier or no modifier.  Ideally I think we would the modifier to self-register on focus and the ability to override.  Like having a modifier that does not require focus but is enabled through other mechanisms.

[2016-11-21 18:18] NeerajW opened #336 "HoloToolkit-Unity release plan"
![image](https://cloud.githubusercontent.com/assets/13281538/20494904/c440abfc-afd3-11e6-939e-42df706bd2a0.png)

I will keep this thread posted if there are any changes. Happy Thanksgiving :)

[2016-11-21 18:32] randystiles opened #337 "Example for OneDrive usage"
Can the HoloToolKit-Unity team provide an example of using FilePicker / XAML to open and save onto OneDrive (i.e. drive service).

There have been a number of postings by HoloLens developers over time asking about the use of onedrive with Unity on the HoloLens. This is because there are useful apps where hiding the data from them in Unity's Application.persistentDataPath where Unity's file io oper

[2016-11-22 18:41] cre8ivepark commented on #337
It will be really helpful for the developers!

[2016-11-22 21:10] #256 closed

[2016-11-22 21:17] jwittner commented on #333
As the PR was merged I'm closing this.

[2016-11-22 21:17] #333 closed

[2016-11-22 21:21] jwittner commented on #331
More info on typography from the author of this issue: https://medium.com/microsoft-design/designing-typography-insight-for-hololens-a55fc5fe025#.xyk9bo3lg

=)

[2016-11-23 07:43] pinkwerks commented on #335
I have no idea how git works. This should bootstrap the effort. You'll need to drive the shader properties with a component. I'm not exactly up on the way HoloToolkit does things so its up for interpretation.

[SpatialMappingTap.zip](https://github.com/Microsoft/HoloToolkit-Unity/files/608292/SpatialMappingTap.zip)

[2016-11-23 13:24] aalmada commented on #277
@maxouellet Is IInputSource.SupportedEvents used somewhere?

[2016-11-23 15:28] HodgsonSDAS commented on #335
@pinkwerks Fork the repository, and then pull your copy of the project with GIT or use some 3rd party GIT GUI like [SourceTree](https://www.sourcetreeapp.com/).  Make your changes and submit a PR.

[2016-11-23 16:58] pinkwerks commented on #335
Is there supposed to be a fork button somewhere? I keep reading about it but don't see one.

[2016-11-23 17:43] maxouellet commented on #277
@aalmada Not right now, it's there as a convenience in case someone ever needs it. Eventually, as need arises, we might also want to add an InputType enum that tells you whether the input is Hands, Controller or whatever else the Unity APIs currently support.

[2016-11-23 19:44] HodgsonSDAS commented on #335
Scroll to top of this page and look in upper left corner under your profile picture.

[2016-11-24 03:15] pinkwerks commented on #335
Ah, that button seemed to be missing when I was looking from my phone. Thanks for helping me wade through this.

[2016-11-28 17:58] NeerajW commented on #337
@randystiles great request.
Is this something you have cycles to research on and add one?

[2016-11-28 17:59] NeerajW commented on #336
[Release version v1.5.4.0](https://github.com/Microsoft/HoloToolkit-Unity/tree/v1.5.4.0) has been completed. If your application wants to use that release, please free to clone the link into your custom folder.

[2016-11-28 21:38] NeerajW opened #346 "HoloToolkit-Example TextPrefabSamplesTest broken with Missing Prefab error"
**Repro steps:**
1. Sync to latest master HTK-U
2. Open project using Unity 5.4 releases
3. Open HoloToolkit-Examples\Text\TextPrefabSamplesTest scene

**Observe issue:**
![image](https://cloud.githubusercontent.com/assets/13281538/20687028/bea0580e-b56f-11e6-86ef-9db4656d7ac4.png)

I guess this could be due to either some different version of Unity being used to check in or may be the font depend

[2016-11-28 21:52] cre8ivepark commented on #346
Those are the four text & sample prefabs added as part of #339
This test scene is just having them in the hierarchy. Let me try with different version.
![2016-11-28 13_49_25-unity personal 64bit - textprefabsamplestest unity - textprefabtest5 - pc mac](https://cloud.githubusercontent.com/assets/13754172/20687494/83695c52-b571-11e6-9302-26a52db55698.png)

[2016-11-28 22:30] NeerajW commented on #346
@dbastienMS just mentioned to me that you might be missing meta files.
True indeed: You don't have a meta file checked in for TextPrefabSamplesTest.meta
Also missing meta files for you 3DTextPrefab and other files.
Please add the meta files for all of them.

[2016-11-28 23:02] cre8ivepark commented on #346
Created new pull request with added .meta files.
Thank you!

[2016-11-28 23:19] NeerajW commented on #346
Still broken. Looks like there is a Scripts.meta but no Scripts folder to go with it.

[2016-11-29 13:12] ignavus commented on #22
I am no shader expert by any mean, but I encountered this, as I far as I understand the texcoord1 is the texture of the lightmap that will be sent to the shader along with its normal texture in the case of having lightmap enabled
The problem is while texcoordis that texcoord1 is not defined in the appdata_t struct in the file "VertexLitConfigurable.cginc" so when trying to access it while having b

[2016-11-29 14:55] #298 closed

[2016-11-29 17:31] NeerajW commented on #346
Great. That issue is now fixed :)
Only new issue I see in the test scene is:

3DTextPrefab is missing the shader. This shader does not exist on the main prefab in UI\Prefabs.
Perhaps this needs to be fixed:
1. To point to HoloToolkit\3DTextShader
2. Also apply this same shader to the prefab

![image](https://cloud.githubusercontent.com/assets/13281538/20721055/5d0433de-b616-11e6-918d-dbce4cd4978d.

[2016-11-29 17:42] HodgsonSDAS commented on #346
@NeerajW the shader probably just needs to be recompiled.

[2016-11-29 18:08] NeerajW opened #350 "HoloToolkit-Example TextPrefabSamplesTest does not use a holographic MainCamera"
Please fix the settings in your MainCamera to make it holographic.

You can refer to the Utilities\Prefabs\Main Camera prefab for reference.

[2016-11-29 18:08] NeerajW commented on #350
![image](https://cloud.githubusercontent.com/assets/13281538/20722524/cc1e3814-b61b-11e6-8f31-6d83165b19cc.png)

[2016-11-29 19:11] NeerajW commented on #346
@HodgsonSDAS nope. There was a shader namespace change and it had to be re-applied to the component.

[2016-11-29 19:12] NeerajW commented on #346
Fixed with PR #351

[2016-11-29 19:12] #346 closed

[2016-11-29 19:12] NeerajW commented on #350
Fixed with PR #351

[2016-11-29 19:12] #350 closed

[2016-11-30 19:59] NeerajW opened #355 "HeadsupDirectionIndicator introduced a bad namespace"
https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Utilities/Scripts/HeadsUpDirectionIndicator.cs

namespace HoloToolKit instead of namespace HoloToolkit

[2016-11-30 20:00] NeerajW commented on #355
Thanks @darax for finding it :)

[2016-12-01 00:26] HodgsonSDAS commented on #336
FYI, Unity 5.5 was released today.

[2016-12-01 04:00] keveleigh commented on #355
Fixed with #356

[2016-12-01 04:00] #355 closed

[2016-12-01 21:06] NeerajW commented on #331
This work has been checked in. Closing stale issue.

[2016-12-01 21:06] #331 closed

[2016-12-01 23:44] NeerajW commented on #213
Please open if you repro again with latest master.

[2016-12-01 23:44] #213 closed

[2016-12-01 23:45] #195 closed

[2016-12-01 23:46] NeerajW commented on #32
@davidkline-ms @joekellyms  do we still need this?

[2016-12-02 13:11] StephenHodgson opened #357 "Shader Warning for Custom/Unlit_glass_button"
[code]

[2016-12-02 13:17] HodgsonSDAS opened #358 "Question: Is anyone else getting Timestamps and assets out of sync with 5.5.0f3?"
I already submitted a ticket with Unity, but I'd like to make sure I'm not the only one.

Seems to happen in any project I've ported from the HTK editors and seems to always involves the same 3 guids:
[code]

None of these projects I'm getting this warning in shares assets nor code.
I've already tried deleting the Library, Temp folders, and all project .meta files but still returns.
All 3 GUIDs se

[2016-12-02 14:05] r2d2rigo opened #359 "KeywordManager keeps listening when inactive"
The current implementation of `KeywordManager` starts listening for voice commands when the script's `Start` function is called. However, the underlying `KeywordRecognizer` object is only stopped when the script is being destroyed - if the script (or any parent in the hierarchy) is deactivated, it keeps responding to voice commands (key bindings work correctly though, since these are processed in

[2016-12-02 14:21] aalmada commented on #358
Noticed it just now too

[2016-12-02 14:24] r2d2rigo commented on #359
Hello @HodgsonSDAS, I have just submitted a PR with the fix (#360) - not sure if it would be better than integrating it in @aalmada's one.

[2016-12-02 14:25] HodgsonSDAS commented on #359
As long as you sign the CLA you should be good @r2d2rigo.  I just thought it'd save on a PR, but really they should be separate if addressing different issues.

[2016-12-02 14:26] r2d2rigo commented on #359
Thanks, I'm on it - just waiting for the DocuSign email to arrive.

[2016-12-02 15:50] HodgsonSDAS commented on #329
@aalmada can you confirm that this is now fixed?

[2016-12-02 16:00] StephenHodgson opened #362 "Gamepad Controller Example and scripts need to be updated"
New Input Architecture changes have broken Gamepad controller example and scripts.

`InputSettings.asset` also needs to be updated.

[2016-12-02 16:09] HodgsonSDAS commented on #302
This is now depreciated because of the new Input Architecture.

[2016-12-02 17:27] jessemcculloch commented on #358
Yeah, this has actually been happening through all the the 5.5 beta builds as well.  I basically just ignore the error, it doesn't seem to cause anything to break or builds to fail...

[2016-12-02 17:31] jessemcculloch commented on #279
I know this is not a final solution to the problem, but @riverar has a HoloToolkit automated build page located at https://riverar.github.io/HoloToolkit-Unity-Builds/ where you can download already built unity packages that correspond to each pull request that is merged.  You can then import into your project as a custom asset.  This import function displays all the parts of the toolkit, and will

[2016-12-02 17:36] HodgsonSDAS commented on #358
...That we know of...

[2016-12-02 23:37] NeerajW commented on #358
@ChimeraScorn is this something we could ask Unity folks?
@HodgsonSDAS a screen shot would be perfect.

[2016-12-02 23:38] NeerajW commented on #357
@dbastienMS is this something you might some time to look into?

[2016-12-02 23:46] keveleigh commented on #357
This is also a shader specific to a test scene and in the Tests/Shaders folder. Is it needed to show off the actual test scene functionality? Is it something we'd want to move to the HoloToolkit namespace and ship? It seems unnecessary to me to add textures, materials, shaders, etc. just for test scenes, but I'm curious what others think.

[2016-12-02 23:56] jessemcculloch commented on #358
![image](https://cloud.githubusercontent.com/assets/11747005/20854342/e5473b40-b8a7-11e6-8971-fde4fa920b25.png)

[2016-12-03 00:01] jessemcculloch opened #365 "HoloToolkit Apply HoloLens Project Settings not setting virtual reality enabled"
When using the Apply HoloLens Project Settings HoloToolkit menu item, the Boolean for Virtual Reality Enabled is not getting marked as it's supposed to be.

[2016-12-03 13:29] tshadle opened #366 "InputManager OnFocusEnter, OnFocusExit Events Reversed"
In InputManager.cs, lines 355 and 364 reverse references to `OnFocusExitEventHandler` and `OnFocusEnterEventHadler`. As a result `OnFocusEnter` and `OnFocusExit` fire in the wrong order.

Also, `OnFocusEnterEventHadler` contains a typo.

To test, run `ColorPickerExample`. It's currently broken. Reverse the refs in InputManager.cs to fix.

Thanks.

[2016-12-03 14:38] copystart opened #367 "InputManager - Make some methods virtual / protected"
Is there a reason the InputManager class was written to not be easily inheritable? The issue is I would like to extend InputManager and add input sources in a separate class while making as little changes as possible to the HoloToolkit files to make merges with the latest Github releases and tracking of project specific code easier.

The following methods I propose should be virtual in `InputManag

[2016-12-03 17:46] #367 closed

[2016-12-05 05:33] jessemcculloch commented on #366
Yeah, I am seeing the same thing.  Put in some debug log statements on onFocusEnter and Exit, and they are firing opposite

[2016-12-05 10:46] aalmada commented on #366
I checked the code and they really are reversed: https://github.com/Microsoft/HoloToolkit-Unity/blob/63dabf4826332a82ff369569a7f1d7435b9ebb48/Assets/HoloToolkit/Input/Scripts/InputManager.cs#L353-L369

[2016-12-05 13:40] HodgsonSDAS commented on #366
Sorry guys, I think that was my fault.

[2016-12-05 14:38] HodgsonSDAS commented on #365
Confirmed.

[2016-12-05 20:26] randystiles commented on #337
I am trying to address this problem and can work with others to add something like a FileManager to deal with the file management aspect.  In my example, on HoloLens I let the user produce scenes, and also add pictures of the real world into the scene, and then save/load them.  References to the picture files taken have to also be moved to onedrive so the scene and pictures are together and not ju

[2016-12-05 20:50] HodgsonSDAS commented on #358
Status Update:
https://issuetracker.unity3d.com/issues/unity-does-not-rebuild-guid-cache-on-boot

[2016-12-06 03:36] christsaragih commented on #176
U will get a problem if using VR Mode on sphere,. Normaly FOV for VR on sphere is 60 but we just can using FOV 16...   it's so damn :(

[2016-12-06 03:46] #366 closed

[2016-12-06 14:00] HodgsonSDAS opened #370 "CLA Bot seems broken"
The bot that updates the CLA labels seems to be broken and doesn't update labels correctly on pull requests.

[2016-12-06 20:17] keveleigh commented on #370
Agreed...I reached out to the owners to see what we can do about it.

[2016-12-06 20:47] HodgsonSDAS commented on #329
@aalmada, @maxouellet can you confirm that this is now fixed?

[2016-12-07 00:32] keveleigh commented on #238
Fixed with #371

[2016-12-07 00:32] #238 closed

[2016-12-07 01:26] keveleigh commented on #329
It isn't crashing anymore, but I'm not sure if I'm seeing the expected behavior. The keywords work, but should I be able to use the Tap gesture to select as well? Also, on a Tap/Hold gesture, the cursor disappears until I release it.

[2016-12-07 08:50] aalmada commented on #329
Sorry for delay. I can confirm that it doesn't crash.
@keveleigh I agree that on a app both keyword and tap should work. This seem to be a test scene for a particular feature. The PR #354 allows a much cleaner solution when supporting both features. The MonoBehavior just has to implement interfaces 'IInputClickHandler' and 'ISpeechHandler' and share the rest of the code.

[2016-12-07 09:14] aalmada commented on #277
@maxouellet I was revisiting your post and thinking that the [KeywordManager](https://github.com/Microsoft/HoloToolkit-Unity/blob/7652af9343236d043a530ed3919aa4952687fd51/Assets/HoloToolkit/Input/Scripts/Voice/KeywordManager.cs) and the [SpeechInputSource](https://github.com/aalmada/HoloToolkit-Unity/blob/4e3843341311b4d50d0fe414eac862f129a9bf8f/Assets/HoloToolkit/Input/Scripts/Voice/SpeechInputSo

[2016-12-07 14:10] HodgsonSDAS commented on #329
So we can close this issue?

[2016-12-07 16:17] HodgsonSDAS commented on #358
5.5.0p1 Fixes this issue.

[2016-12-07 16:17] #358 closed

[2016-12-07 16:42] dbastienMS commented on #357
Looks like the w component of uv isn't being written in the vertex shader.
UNITY_INITIALIZE_OUTPUT(v2f, o); at the top of the vertex shader will fix it, or just setting w to 0.

Shader also doesn't support stereo instancing.

[2016-12-07 16:48] dbastienMS commented on #357
And yeah I agree it seems unnecessary - it's a maintenance cost.  Also doesn't look like it respects the near plane fade.

[2016-12-07 16:50] HodgsonSDAS commented on #357
I think good examples of shaders is needed for those who are learning, but they should be kept strictly in the tests/examples folders.

[2016-12-07 18:16] HodgsonSDAS commented on #336
FYI, Unity 5.5.0p1 was released today.

[2016-12-07 20:42] #329 closed

[2016-12-07 20:49] keveleigh commented on #302
@HodgsonSDAS So this Issue can be closed in favor of #362?

[2016-12-07 20:54] HodgsonSDAS commented on #302
Correct

[2016-12-07 20:58] #302 closed

[2016-12-07 21:30] yoDon opened #374 "License file placement and top level folder structure are incompatible"
ex-msft here, always had good experiences dealing with LCA on licensing when I was there and I'm optimistic this is easy to resolve...

The repo is designed to look like a Unity project, which is great, but you've placed the License.txt file at the root of the Unity project. That placement means any dev who downloads the project is faced with a Catch-22 of unacceptable situations in which they eit

[2016-12-07 21:50] yoDon opened #375 "ProjectSettings folder contains many unneeded files overwriting user values"
There are a ton of settings files in checked into the repo that have nothing to do with enabling Holographic functionality and which will overwrite the user's existing files of the same name.

My guess is you just need the ProjectSettings and possibly AudioManager files, but it would be WAY nicer if instead of even including those files there was just a menu item that set the small number of requi

[2016-12-07 22:03] keveleigh commented on #375
These files aren't really included for you to overwrite your own ProjectSettings with. They're included so you can open the HoloToolkit-Unity repo itself in Unity as a project. Each component calls out (or should) the necessary project settings needed to use them. Really, you only need to copy the Assets (and then, maybe even just the HoloToolkit folder in Assets) and External folders into your pr

[2016-12-07 22:18] yoDon commented on #375
I see now - your intent is that we pull the repo as a clean Unity project, open the project, export a unity package from it, and then import that package into our working project. That's a sensible approach, it's just not what I was expecting while downloading things.

[2016-12-07 22:21] keveleigh commented on #375
That makes sense! It's probably something we should call out in our README as well, probably once we flesh out our versioning and .unitypackage release plan.

I also typically just copy the folders themselves into my project, but your steps probably preserve the meta files and whatnot better by moving assets the Unity way.

[2016-12-08 07:53] yacuzo commented on #277
The diagrams in this discussion are great for learning the new system. Could they be put somewhere intuitive, and have the Input/readme.md link to them?

[2016-12-08 14:05] HodgsonSDAS commented on #375
@yoDon, if you're looking for unity packages to just import into your own projects, here's a auto build @riverar has so kindly put together for us:  https://riverar.github.io/HoloToolkit-Unity-Builds/

[2016-12-08 14:49] HodgsonSDAS commented on #277
@yacuzo https://github.com/Microsoft/HoloToolkit-Unity/pull/376

[2016-12-08 14:57] HodgsonSDAS commented on #230
Might be a good time to do this now that some features have been depreciated with 5.5

[2016-12-08 18:20] jessemcculloch commented on #375
I second the recommendation for using the package builder that @riverar has built

[2016-12-08 18:30] jbienzms commented on #230
Agreed. I've actually been thinking about this recently and wanting to get to it maybe even later this week.

What features have been depreciated with 5.5 though? I would like to make sure I implement it properly.

[2016-12-08 18:45] yoDon commented on #375
If @riverar's unity package is the preferred install method (which makes sense to me), shouldn't it be listed at the top of the readme?

[2016-12-08 19:36] HodgsonSDAS commented on #375
@yoDon I've already addressed that in my latest PR

[2016-12-08 19:37] HodgsonSDAS commented on #230
https://github.com/Microsoft/HoloToolkit-Unity/issues/365

[2016-12-08 19:42] HodgsonSDAS opened #377 "TextPrefabSamplesTest missing Segoe Font & prefabs"
HoloToolkit/UI/Materials/3DTextSegoeUI.material missing Font Texture.

@cre8ivepark

[2016-12-08 19:59] yoDon commented on #375
I recommend instead moving the existing README sentence that points at the install instructions ("To learn how to add the HoloToolkit to your project see the Getting Started guide") forward to in the file the point where you're proposing to add the link to riverar's project, and then discussing riverar's project inside the instructions page.

At present, your PR is sort of trying to turn the main

[2016-12-08 20:01] HodgsonSDAS commented on #375
No you bring up good points, I'll make the update in the PR.

[2016-12-08 20:09] jessemcculloch commented on #375
I wrote up a blog post about installing the HoloToolkit a couple months ago.  You are welcome to poach any/all of it for the readme if you want.  I wrote it before knowing about the Builds that riverar was doing, but it wouldn't take much to add that in.  https://wordpress.com/post/hololensjournal.com/46 

[2016-12-08 20:10] HodgsonSDAS commented on #375
@jessemcculloch  your link takes me to a login page.  Do you have a direct link?

[2016-12-08 20:13] jessemcculloch commented on #375
Yeah, sorry, my bad, forgot I was logged in as admin on the blog.  Here you go.  https://hololensjournal.com/2016/09/14/jumpstarting-your-hololens-project-with-the-holotoolkit-installing-the-holotoolkit/

[2016-12-08 22:25] aalmada commented on #375
Why isn't HoloToolkit available in the Asset Store?

[2016-12-08 23:20] yoDon commented on #375
+1 for making HoloToolkit available in the Asset Store, but that feels like it should be its own tracked issue

[2016-12-09 07:36] aalmada opened #379 "Make HoloToolkit-Unity available in Unity Asset Store"
The Asset Store is the equivalent to NuGet in the Unity ecosystem. Having it the official releases available there make it much easier to install. Users are warned of updates.

[2016-12-09 07:37] aalmada commented on #375
#379

[2016-12-09 13:05] deriven opened #380 "Main Camera prefab missing"
Not a huge deal.  But the first step in the README.md says to delete the main camera and add the prefab.  This prefab does not exist in HoloToolkit/Utilities/Prefabs.

The README.md under HoloToolkit/Utilities also says the prefab exists.  Thankfully it details what the prefab sets (except for the clipping plane .. 0.85)

[2016-12-09 13:10] deriven commented on #380
Just noticed the HoloLensCamera is a better option.  Perhaps only the README files need to be updated?

[2016-12-09 13:53] HodgsonSDAS commented on #380
The main camera prefab was replaced by the HoloLensCamera prefab.
Yes, Seems like the documentation didn't get updated appropriately.

[2016-12-09 13:53] HodgsonSDAS commented on #379
@aalmada this has an issue already: https://github.com/Microsoft/HoloToolkit-Unity/issues/217

[2016-12-09 13:53] HodgsonSDAS commented on #375
It already has it's own issue: https://github.com/Microsoft/HoloToolkit-Unity/issues/217

[2016-12-09 13:58] HodgsonSDAS commented on #375
@yoDon is it safe to say this issue is closed?

[2016-12-09 15:08] aalmada commented on #375
@HodgsonSDAS I would say the Thanksgiving release is stable enough to be on the Asset Store. If you mean, lots of changes are planned, then I would bet that it will never be released... ;)

[2016-12-09 15:29] HodgsonSDAS commented on #375
So True XD

I think it's close, but we're ultimately not the deciders here, but MSFT.

[2016-12-09 15:37] deriven opened #381 "Deployed Apps Crash - HoloLensWorldManager error"
Tested both in emulator and remote device.

[code]

[2016-12-09 15:50] deriven commented on #381
Unity 5.5.0f3
OS Build on emulator: 10.0.14393.0

[2016-12-09 15:56] deriven commented on #381
Posted to Unity as well:
https://forum.unity3d.com/threads/deployed-apps-crash-hololensworldmanager-error.445312/

[2016-12-09 16:26] HodgsonSDAS commented on #381
Be sure to include a sample scene & repo steps.

[2016-12-09 17:12] jbienzms commented on #365
This code is unfortunately a little fragile. It's in [this file](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Utilities/Editor/ConfigureMenu.cs) at line 122 and it uses a lot of RegEx parsing. Does anyone know what the strings should be changed TO? I guess we could enable it in a project and look at that. I'll see if I can get to this on Sunday. I'm working on some

[2016-12-09 17:13] jbienzms commented on #230
Got it. Thanks. I'll see if I can resolve this weekend.

[2016-12-09 17:56] deriven commented on #381
Ah sorry about that.  I used created a new Unity project, imported the latest toolkit (included examples), and tried the GazeRulerExample scene (HoloToolkit-Examples/GazeRuler/Scenes) as well as the BasicCursor scene (HoloTookit/Input/Tests/Scenes).  I used the HoloToolkit menu options to apply to scene, project and player settings.  I also confirmed that each setting was done.  (I noted that the

[2016-12-09 18:56] keveleigh commented on #379
Closing in favor of #217. This is definitely still something being worked on.

[2016-12-09 18:56] #379 closed

[2016-12-09 19:21] keveleigh opened #383 "Billboard.cs doesn't have X as a pivot axis"
It was removed because it wasn't working properly.

References:
https://github.com/Microsoft/HoloToolkit-Unity/pull/382#issuecomment-266093566
https://github.com/Microsoft/HoloToolkit-Unity/commit/37247d9489910735b833f5bb20b3be840a07a5b0#diff-40903bdeebaf71c08a776607e5cb91e0

[2016-12-09 19:21] StephenHodgson opened #384 "Editor Hand Control breaks when transitioning to a new scene"
When using Editor Hand Controls and loading a new scene the hand positions stop updating correctly in the scene, although the input from mouse and keyboard still work correctly.

[2016-12-09 19:23] HodgsonSDAS commented on #381
Have you tried the new patch update? 5.5.0p1

I've been unable to duplicate this with your repro steps.

[2016-12-09 19:31] deriven commented on #381
Figured it out.  It's related to this:
https://github.com/Microsoft/HoloToolkit-Unity/issues/365

VR Supported wasn't checked.  Checked it manually and all good.

[2016-12-09 19:31] #381 closed

[2016-12-10 03:08] yoDon commented on #375
@HodgsonSDAS My personal belief is the root cause of the confusion is that the link to the Getting Started guide is too low on the page, leading to people not reading it until after they tried to install things incorrectly. I'd move the line "To learn how to add the HoloToolkit to your project see the Getting Started guide." up on the page, perhaps right above or right below the Unity editor versi

[2016-12-10 22:07] yoDon opened #387 "Please wrap toolkit code in #if UNITY_WSA"
Unity is used to build multi-platform applications. Simply adding the HoloToolkit-Unity code to a unity project should not break other build targets, but it does.

The HoloToolkit-Unity scripts and the HoloToolkit example scripts generate large numbers of compile errors preventing builds for Windows *.exe, Mac OSX, iOS, Android, and other targets. The root cause of these compile errors is HoloLens

[2016-12-12 00:13] yoDon commented on #387
Also, can someone from Microsoft please indicate whether this is a PR you'd accept (it's "easy" but will take a fair amount of time so it'd be great to know if the PR will hit a wall of objections if it's submitted)

[2016-12-12 13:18] GKersten opened #388 "Cursor design"
The native cursor in the HoloLens looks quite nice, I am talking about the white donut that turns into a filled white circle when airtapping. The cursor in the HoloTookit however looks not so great. Is there a reason for this? I have been searching for some alternatives, but was not able to find one. Anyone else facing this or created an improved cursor?

[2016-12-12 13:51] HodgsonSDAS commented on #387
This was mostly working without the define symbols until the last update to 5.50f3.  I second this because now certain parts of my application also rely on cross platform use.

@yoDon would you be willing to make these changes?

[2016-12-12 13:57] HodgsonSDAS commented on #388
That white cursor you described is indeed in the HoloToolkit:
[DefaultCursor.prefab](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/Prefabs/Cursor/DefaultCursor.prefab)

[2016-12-12 13:59] HodgsonSDAS commented on #375
@yoDon would you like open a more specific issue in regard to it and submit these changes via PR?

[2016-12-12 22:54] thebanjomatic opened #390 "Shaders don't support singlepass stereo instancing"
For a bunch of the holotoolkit shaders, single-pass stereo instancing in Unity 5.5 isn't supported, and as a result, the holograms only render in the left eye.

For reference, this is the setting I am referring to:
![image](https://cloud.githubusercontent.com/assets/17907922/21144815/0693638a-c11a-11e6-94a1-eb6fea9fd639.png)

So far my testing has reveiled the following:

Shader Name | Status
----

[2016-12-13 01:13] thebanjomatic opened #391 "NearPlaneFade Script no longer works on device"
I'm not sure if this is something new to Unity 5.5 or if it has been around for longer than that. I am currently running Unity 5.5.0p1. When running in the editor, the script behaves as expected and holograms rendered with a with supported shader fade out within the correct distance. When running on the device, however, the NearPlaneFade script appears to have no effect and the holograms no longer

[2016-12-13 05:29] thebanjomatic commented on #391
I think this has something to do with this line:
[code]

The Unity documentation says this about shader_feature:

So it sounds like given the way _NEAR_PLANE_FADE_ON is set dynamically via code, and not dependent on material settings, a better approach would be to use:
[code]

This seems like it fixes the problem, but being a relative novice in Unity, are there any downsides to this change that I

[2016-12-13 07:35] GKersten commented on #388
That's indeed what I am looking for, should have updated my HoloToolkit first:) Thanks!

[2016-12-13 07:35] #388 closed

[2016-12-13 17:52] dbastienMS opened #395 "Adding new fast configurable shader"
I'd like to start a discussion around the possible removal of the standard fast shader (~50 ALU ops per pixel is still too much for the device), and the adding of a new fast configurable shader designed to replace most of the existing shaders.

Currently, it supports main texture, main color, vertex color, occlusion/detail texture, normal map, ambient lighting via unity's spherical harmonics, diff

[2016-12-14 03:31] yoDon commented on #387
I can't get to it before this weekend

[2016-12-14 03:33] yoDon commented on #375
@HodgsonSDAS I can hope to do that this weekend

[2016-12-14 10:00] aalmada opened #396 "KeywordManager: NullReferenceException in Update() when initialization fails."
KeywordManager doesn't check if keywordRecognizer is null in Update(), resulting in an exception thrown on every loop cycle. Initialization can fail in two cases; an empty KeywordsAndResponses or it contains duplicate keywords.

Actually I don't think Update() needs to check if keywordRecognizer.IsRunning. The recognizer should be always running if this behavior is enabled (#359). Update() is not

[2016-12-14 10:45] felixmeissgeier opened #397 "ERROR_ALREADY_EXISTS: Path"
Hi,

when using build window to build the VS solution and then open it, I usually get following (attached) error message several times. It only works again after I closed Visual Studio. This is kind of an inefficient workflow  to always restart VS once I built the solution.

Any suggestions?

![error_win32_path](https://cloud.githubusercontent.com/assets/725640/21179087/bf88988c-c1f2-11e6-8154-72e

[2016-12-14 14:14] HodgsonSDAS commented on #397
Never seen this error. Do you have repro steps?

[2016-12-14 15:56] StephenHodgson opened #400 "Rendered Font does not face in the forward vector"
Font is rendered backwards in regard to its transform forward vector direction.

Might be how it's implemented in the shader?

[2016-12-14 16:58] keveleigh commented on #396
The fix should just be to check if keywordRecognizer != null in update before checking IsRunning. This check was a recent addition because you should typically call Start/StopRecognizer() to control recognition, which leaves the script enabled.

The addition of a duplicate keywords check is good too.

[2016-12-14 17:05] aalmada commented on #396
@keveleigh You're right. I missed the Start/StopRecognizer() paths. I'll fix it in the #398

[2016-12-14 19:37] HodgsonSDAS commented on #277
@maxouellet Does `OnInputClicked` happen before or after `OnInputUp`?

[2016-12-14 23:20] maxouellet commented on #277
@HodgsonSDAS OnInputClicked is not guaranteed to happen before or after OnInputUp. This is by design, because OnInputClicked is a OS-level gesture. The clicking speed is defined by the OS, so you can't modify it. It is also by design from the OS that if you click and hold for a certain amount of time, the OnInputClicked doesn't fire. This is all defined by the OS gestures: when you hold for a cert

[2016-12-15 06:31] jessemcculloch commented on #397
I have also never seen this error, and I almost exclusively use the build window for deployments, both with and without visual studio already running.

[2016-12-15 13:32] kirodge commented on #380
This also needs to be updated in [GettingStarted.md](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/GettingStarted.md)

[2016-12-15 13:42] kirodge commented on #380
The `Main Camera.prefab` is also referenced in [GettingStarted.md](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/GettingStarted.md) under the section "Preparing a Scene for Holographic Content"

[2016-12-15 13:59] HodgsonSDAS commented on #277
No, I just wanted to make sure I understand the timing.  Thanks for the info.

[2016-12-15 14:17] HodgsonSDAS commented on #380
Great catch @kirodge. Updated in the PR.

[2016-12-15 17:32] nealee93 commented on #228
I also encountered the same problems as you, can you tell me how you finally resolved please？

[2016-12-15 21:03] #396 closed

[2016-12-15 21:04] keveleigh commented on #396
Fixed via #398

[2016-12-15 21:06] HodgsonSDAS commented on #375
@yoDon is it safe to say this issue is closed?

[2016-12-15 22:02] #375 closed

[2016-12-16 06:04] seaswander opened #402 "Bluetooth iBeacon in Unity"
Now I'm working with an indoor localization project, which involves iBeacon. How can I access all the Bluetooth devices paired to HoloLens? And then, get the information that the iBeacon sends.

[2016-12-16 16:10] HodgsonSDAS commented on #198
@acylum is this still an issue now that we're using the new input methods?

[2016-12-16 16:11] HodgsonSDAS commented on #206
I'm going to close this issue and open it in the main HoloToolKit

[2016-12-16 16:11] #206 closed

[2016-12-16 20:40] HodgsonSDAS commented on #383
https://github.com/Microsoft/HoloToolkit-Unity/issues/208

[2016-12-16 20:42] keveleigh commented on #383
Oh, good catch!

[2016-12-16 20:43] keveleigh commented on #383
Or, well, I guess it's not 100% a duplicate. Thanks for pointing out the related Issue!

[2016-12-16 20:44] HodgsonSDAS commented on #383
Yeah not exactly a duplicate but related!

[2016-12-16 21:21] HodgsonSDAS commented on #336
FYI, Unity 5.5.0p2 was released today.

Fixes:
(none) - HoloLens: Fixed a crash in Editor when terminating Remoting App during an active Holographic Remoting session.
(848237) - HoloLens: Improved error reporting when failing to load PerceptionRemotingPlugin.dll (used by Holographic Remoting).

[2016-12-16 21:45] HodgsonSDAS opened #404 "Refactor TapToPlace.cs to be more generic"
Should probably be a base class that others can extend in their own projects.

Someone should be able to put their own logic into `Start`, `OnInputClicked`, and `Update` by extending this base class.

Also being able to specify a parent transform to move, but keeping the script and collider on the object you wish to tap would be helpful as well.

[2016-12-18 13:04] zer00p commented on #228
we didn't,
we ended up using FinalIK from the AssetStore.

[2016-12-18 22:22] madvlad commented on #404
Great idea. I thought about this as well since I'm frequently editing my TapToPlace.cs file in my own projects.

I've created a pull request with changes that address your issues here.

[2016-12-19 01:30] HodgsonSDAS commented on #404
Thanks @madvlad!

[2016-12-19 03:06] markingram7 opened #406 "RemoteMapping no longer working"
Hello,  I was trying out RemoteMapping test scene from the latest version (2016-12-18) of HoloToolkit, but after pressing "N" and speaking "send meshes", nothing shows up in Unity Editor. Would anyone know why or how to fix this?

FYI: I also put in my PC's local IP address in Unity before building the app, checked boxes of InternetClientServer, PrivateNetworkClientServer, and Microphone under Pub

[2016-12-19 04:07] Joeeeeeeeee opened #407 "Tagslong.cs"
My BoxCollider Size = (1,1,1)
when MinimumHorizontalOverlap and MinimumVerticalOverlap both set 1f, My UI always shake.

[2016-12-19 04:29] markingram7 commented on #406
Issue solved... by opening Windows Firewall Port 11000...  my bad :)

[2016-12-19 04:29] #406 closed

[2016-12-19 14:00] HodgsonSDAS commented on #407
I'd suggest using the Sphere Based Tagalong

[2016-12-19 14:19] HodgsonSDAS opened #408 "Plane Finding Test is currently not working."
SpatialMapping/Tests/PlaneFinding.unity is currently not working.

(This was the case even before my Spatial Mapping Refactor PR)

[2016-12-19 14:29] aalmada opened #409 "Create a EditorConfig with project code style"
This would save a lot of reviewer's time. Right @HodgsonSDAS? ;)
https://blogs.msdn.microsoft.com/dotnet/2016/12/15/code-style-configuration-in-the-vs2017-rc-update/

[2016-12-19 14:33] HodgsonSDAS commented on #408
Oh, the gizmos show up in the Scene window.

[2016-12-19 14:33] #408 closed

[2016-12-19 14:35] HodgsonSDAS commented on #409
very true.  But I think everyone would have to have vs 2017, correct?

[2016-12-19 14:47] aalmada commented on #409
I still have to test how it behaves with Unity-generated projects and if it can be optional for others.
My VS 2017 at work doesn't want to update itself.

[2016-12-19 14:53] HodgsonSDAS commented on #409
Yeah, we're currently on 2015.

[2016-12-19 18:07] maxouellet commented on #277
Closing this issue, as this has been integrated to HoloToolkit for a while now.

[2016-12-19 18:07] #277 closed

[2016-12-20 01:25] designnomad opened #411 "Minor text update request on "Getting Started" page"
Hello,

I noticed "ManualCameraControl.cs" changed into "ManualGazeControl.cs"
but the description did not change in the "Getting Started" page.
https://github.com/Microsoft/HoloToolkit-Unity/blob/master/GettingStarted.md

![oldtext](https://cloud.githubusercontent.com/assets/1609471/21334975/1e9e5908-c610-11e6-8a39-46b29b40e8f4.PNG)

[2016-12-20 02:54] keveleigh commented on #210
@HodgsonSDAS Was this completely fixed by #403?

[2016-12-20 02:56] keveleigh commented on #411
This looks to be fixed as part of #376

[2016-12-20 03:55] keveleigh commented on #370
Seems to be working again (see #393)

[2016-12-20 03:55] #370 closed

[2016-12-20 04:01] keveleigh commented on #359
Fixed with #360

[2016-12-20 04:01] #359 closed

[2016-12-20 04:04] keveleigh commented on #397
Closing due to not being able to repro either. Please reopen if you have repro steps for us to try!

[2016-12-20 04:04] #397 closed

[2016-12-20 13:53] HodgsonSDAS commented on #210
For the most part. I think we can close it and fix any we run across.

There were a few that couldn't be fixed easily and hiding is intentional.

[2016-12-20 14:02] #404 closed

[2016-12-20 15:01] keveleigh commented on #210
Resolved via #403

[2016-12-20 15:01] #210 closed

[2016-12-21 16:44] HodgsonSDAS opened #421 "TapToPlace hotfixes"
@madvlad, we should probably make the private fields in TapToPlace protected instead of private as well.

[2016-12-21 16:48] madvlad commented on #421
Good call.

[2016-12-21 16:51] HodgsonSDAS commented on #421
https://github.com/Microsoft/HoloToolkit-Unity/pull/422

[2016-12-21 17:15] LocalJoost opened #423 "Suggestion: used [obsolete] when you rename stuff"
Dear people,

I am trying to update a project that I made in September to the new version of the HoloToolkit. This is a painful process. For instance:

- In GazeManager all StableHeadXXX members are renamed to StableXXX

- Various classes have moved name spaces and some I have not been able to find back at all yet.

- I even lost my bloody CAMERA prefab. WHY?

As Unity works, my whole project is b

[2016-12-21 17:18] HodgsonSDAS commented on #423
Hi @LocalJoost. I definitely understand you pain.

There is a tag to use for the breaking changes: https://github.com/Microsoft/HoloToolkit-Unity/releases

[2016-12-21 19:22] madvlad commented on #400
I just looked into this. This might be what we want. For scripts like `Billboard` and `TapToPlace` the rotation of the object is based off the rotation of the camera, so when the camera looks at the object it will be looking at it from behind. For the text to be readable we want to face in the opposite direction of the forward vector.

[2016-12-21 22:30] S-Hodgson-MMOARgames commented on #400
I disagree. Most likely the text will be a child of the GameObjects that have the scripts on them in the first place.  Generally you'd want things to be facing in the forward direction, so if you need to do some maths on said object, you don't need to guess which direction it's facing.

[2016-12-23 15:46] mrbobbybobberson commented on #290
Coincidentally, I went down this rabbit hole over the past few weeks and got it working.  I can get the code cleaned up in a branch and share it within the next couple days.

[2016-12-23 16:47] slammer8 commented on #290
Excited for this!
On Fri, Dec 23, 2016 at 10:46 AM Robert El-Soudani <notifications@github.com>
wrote:

[2016-12-23 17:35] cgmagic commented on #290
I cannot seem to get the example scene to work on the Emulator or Remoting.

[2016-12-23 18:24] mrbobbybobberson commented on #290
It's currently broken (not implemented).  I'm working on a pull request that will implement it over the next few days.

[2016-12-24 04:15] Xwil opened #431 "Readme.md need to be updated"
some scripts or prefabs have already changed in HoloToolkit, but readme.md is still old.
such as GestureManipulator.cs and Main Camera.prefab etc..

[2016-12-24 04:27] HodgsonSDAS commented on #431
This is a partial duplicate of https://github.com/Microsoft/HoloToolkit-Unity/issues/380 and PR https://github.com/Microsoft/HoloToolkit-Unity/pull/376 has been submitted already.

Would you like me to address the GestureManipulator update, or would you be kind enough to submit a PR on my fork to get it submitted with the open PR?

[2016-12-24 04:52] HodgsonSDAS commented on #431
@Xwil was there anything else I missed that needs to be updated?

[2016-12-24 04:55] Xwil commented on #431
@HodgsonSDAS thanks

[2016-12-24 05:09] Xwil commented on #431
@HodgsonSDAS I can't find GestureManipulator.cs in HoloToolKit, all I can find about Gesture is (InputManager/GestureInput) GestureInput.cs and GestureResponder. and I added GestureResponder to my gameobject, I want to scale my gameobject by Gesture.What should I do?
I also add Hand Draggable.cs to my gameobject, it works fine.
Sorry to bother you  , I'm new to Hololens , and I'm confused about Ho

[2016-12-24 10:26] aalmada commented on #431
@Xwil To handle gestures you need to have one InputManager and at least one GestureInput in your scene. To handle the events, the MonoBehaviours that handle them have to implement any of these (one or more), depending on what you are interested: IInputClickHandler, IHoldHandler, IManipulationHandler, INavigationHandler.
The InputManager calls the handler that is at the GameObject with the gaze foc

[2016-12-25 01:50] Xwil commented on #431
@aalmada Thank you so much,I'll try it.

[2016-12-27 05:46] Mecil9 opened #434 "Holograms 210 Error! Can't display Billbard & Tag-Along"
Tutorial 210, i have done the tutorial 210
.But I am debugging on device,can't display billboard and Tag-Along.
 I can see the AstroMan in the sense.
VS debug throw the error:
[code]

[2016-12-27 05:49] Mecil9 commented on #434
I recoding this program. the problem begin form adding InteractibleManager.cs file .
:NullReferenceException: Object reference not set to an instance of an object.
at Interactible.Start()

code:
void Start()
{
defaultMaterials = GetComponent().materials;
        // Add a BoxCollider if the interactible does not contain one.
        Collider collider = GetComponentInChildren<Collider>();
        if

[2016-12-27 13:15] Xwil opened #435 "SpatialMapping and SpatialUnderstanding document clarification"
Hi,I'm new to Hololens,I'm making a dancer demo.
now,my dancer works good in Hololens,then I want my dancer standing on the floor ,just like RoboRaid on the wall .
I have read the documents about SpatialMapping and Holograms 230,but still confusing,please help me,thanks.
and I'm working on translate HTK doucments into Chinese,when I finished,will you guys include the Chinese version docs here?beca

[2016-12-27 13:55] Xwil commented on #435
I tried the spatial understanding example,but the ui are uninteractable...

[2016-12-27 14:38] WarrenMondeville opened #436 "How can I Anchor the position on load scene?"
The position when I load the next scene ,the position is changed, After mapping the room ,I find some position to place GameObjects, I use an empty GameObject with WorldAnchor and DonDestoryOnLoad Script On it to save the position,but when load to the next scene and get the position ,some Info has changed,Can you help me ? How to keep the virtual Object position in the real world,even I load scene

[2016-12-29 03:27] Joeeeeeeeee opened #437 "Build Error."
HoloToolkit->Bulild Window-> Build Visual Studio SLN
![image](https://cloud.githubusercontent.com/assets/13176253/21536154/c4113f1c-cdb9-11e6-955b-e7daae3600b4.png)

[2016-12-29 19:45] krishnan-unni opened #439 "GestureManager removed from holotoolkit for Unity 5.5?"
I was using the Unity 5.4 beta for hololens and using holotoolkit with GestureManager in it. Now when I updated the toolkit for Unity 5.5 I don't see the GestureManager anymore. Is there any direction on how to capture Tap event and other Gestures?

[2016-12-30 12:00] aalmada opened #441 "Public vs explicit implementation in handler methods"
IMO, handler methods should be private or protected but never public. These are not supposed to be called explicitly by the user.

Handlers have to implement interfaces (for example IInputClickHandler) which forces the methods to be public:

[code]

Or implemented explicitly:

[code]

When implemented explicitly, the method is still public but a bit hidden. They are only available for references o

[2016-12-30 18:23] S-Hodgson-MMOARgames commented on #437
@darax

[2016-12-31 15:23] MatrixInception opened #442 "TextToSpeech speed improvement"
Hello HoloToolkit team,

I have tried out the TextToSpeechManager. Thank you for this great tool. It simplified a lot of work.  However, I noticed that the Async calls were too slow for interactions... for example, I would gaze or tap at something and only 5 seconds later (sometimes longer), I hear the speech.

Could this be improved by separating the playing of the audio clip from the synthesizin

[2017-01-02 03:32] yoDon commented on #387
PR for this issue submitted above

[2017-01-03 04:33] imaginethepoet opened #444 "Prefab Cursors don't appear to work."
I created a new project today. I thought it was me at first.

1. Imported the toolkit
2. Create a new scene
3. fixed the "vr setting in unity
4. Added a cursor (tried them all to my scene)
5. Load my app in Holo. - The cursor doesn't display anywhere in the scene when I run it.

[2017-01-03 13:14] HodgsonSDAS commented on #444
@imaginethepoet, you will also need a few more components in your scene.

Take a look at my proposed update to [GettingStarted.md on my fork](https://github.com/HodgsonSDAS/HoloToolkit-Unity/blob/HTK-local/GettingStarted.md#3-preparing-a-scene-for-holographic-content)

[2017-01-03 13:59] HodgsonSDAS commented on #437
@Joeeeeeeeee, do you have repro steps?

[2017-01-03 14:31] HodgsonSDAS commented on #442
Hi @markingram7, would you be able to submit a PR that addresses this?

[2017-01-03 15:04] HodgsonSDAS commented on #193
Was this closed by https://github.com/Microsoft/HoloToolkit-Unity/pull/245?

[2017-01-03 15:32] imaginethepoet commented on #444
Thank you let me give this a go....

[2017-01-03 15:36] HodgsonSDAS commented on #98
Doesn't the Windows Device Portal support this already?
Is the issue that the work just needs to get done in the Build Window to support this?

[2017-01-03 16:20] jevertt commented on #98
The blocking issues was that the device portal code is latest .net & Unity editor only supports up to 3.5. Would love to find a way to get around this.

[2017-01-03 23:11] islacoder opened #445 "Cursor disappears when a navigation/manipulation gesture is cancelled"
I am using the new HoloToolkit Input Module.  I created an object to respond to navigation gestures - added a script to implement the INavigationHandler interface.

Things work well excepting for the fact that the cursor disappears when a navigation is cancelled( hand disappears from view). I am using the cursor prefabs (BasicCursor or CursorWithFeedback) provided by HoloToolkit.

Am I missing som

[2017-01-03 23:21] islacoder commented on #445
After some digging,  CheckCursorState function in Cursor.cs must also check that the # of visible hands is > than zero before returning CursorStateEnum.Select
[code]
must be changed to
[code]

[2017-01-04 00:43] #236 closed

[2017-01-04 00:47] HodgsonSDAS commented on #445
Hi @islacoder, great find!
Would you like to submit a PR that addresses these changes?

[2017-01-04 00:48] islacoder commented on #445
Thanks .  I will do that.

[2017-01-04 11:29] GKersten opened #448 "IManipulationHandler to rotate object and use in Unity Editor"
I am trying to use the IManipulationHandler to rotate a Sphere. I'd like to test this in Unity Editor, but I cannot seem to get this working by holding the click and move. Am I missing something or is this not implemented? The methods are called correctly when running on the HoloLens.

Also, did anyone already implement rotation of objects by using the IManipulationHandler?

[2017-01-04 11:45] LocalJoost commented on #423
Thanks for your clarification. I think I am 'through the looking glass' now, and although it was a pain to get my app working again, I must admit the new structure works way better.

[2017-01-04 12:27] kmikkel opened #449 "HandDraggable component is throwing NullReferenceException"
I hava a gameobject with the HandDraggable component on. When I start dragging a series of exceptions are thrown.

I use Unity 5.5.0p1 and I have tested using HTK code from both december 16 and today, january 4.

The stack trace looks like this:
First exception:
   at UnityEngine.EventSystems.HoloLensInput.GestureHandler_NavigationStarted(InteractionSourceKind source, Vector3 normalizedOffset, Ray

[2017-01-04 12:28] GKersten commented on #448
For anyone else searching for this, rotating an object is quite easy with the IManipulationHandler:

    public void OnManipulationUpdated(ManipulationEventData eventData)
    {
        float speed = 25f;
        var rotation = new Vector3(-eventData.CumulativeDelta.y, -eventData.CumulativeDelta.x);
        transform.Rotate(rotation * speed, Space.World);
    }

Still wondering how to interact wit

[2017-01-04 13:58] HodgsonSDAS commented on #444
@imaginethepoet, were you able to get your new project going with the updated GettingStarted document?

[2017-01-04 14:04] HodgsonSDAS commented on #434
I'm unsure how much of the HoloToolkit and the HoloAcademy files relate to each other.
They may be very different.
That being said, this might be a question for either the [HoloLens Forums](https://forums.hololens.com/categories/questions-and-answers) or if a bug, the [HoloAcademey 210 Github page](https://github.com/holoacademy/holograms-210).

[2017-01-04 14:06] HodgsonSDAS commented on #423
Glad to hear!
We welcome your sharp eyes in future pull requests to help keep the quality of the toolkit at its highest.

Has this issue been resolved for you?

[2017-01-04 14:08] LocalJoost commented on #423
Yes. I have the feeling though people are still a bit struggling here and there. Planning on a couple of blog post on it.

[2017-01-04 14:09] HodgsonSDAS opened #450 "Suggestion: Future PRs to incorporate at least 2 approvals by reviewers"
I've noticed sometimes we merge pull requests in too soon without proper time to get reviews.

I'd like to suggest that PRs require at least 3 reviews before we're able to merge into main.

There may be some CI solutions that can automatically check the build status of an incoming PR and flag it ahead of time if changes break the build.

[2017-01-04 14:12] LocalJoost commented on #450
Q: who is 'we'? Who are actually able to merge PRs?

[2017-01-04 14:14] HodgsonSDAS commented on #450
Microsoft and Moderators assigned by Microsoft, (like myself).

[2017-01-04 14:16] LocalJoost commented on #450
I understand, but who are the moderators assigned by Microsoft. You and ... ?

[2017-01-04 14:17] GKersten commented on #448
That's correct, I can see the small blue hand indicator moving, tried both left and right hand (with space bar). But I can not seem to trigger the events for the manipulationhandler when clicking, although I can see the cursor animating.

[2017-01-04 14:18] HodgsonSDAS commented on #450
I've got no clue. There's lots of people working at MS that contribute to this, and do merges.

As far as Moderators assigned by Microsoft, I really don't know.

[2017-01-04 14:20] HodgsonSDAS commented on #448
Make sure your scene is [set up properly](https://github.com/HodgsonSDAS/HoloToolkit-Unity/blob/HTK-local/GettingStarted.md#3-preparing-a-scene-for-holographic-content) and take a look at [HandDraggable.cs](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/Scripts/Interactions/HandDraggable.cs)

[2017-01-04 14:28] #421 closed

[2017-01-04 14:42] GKersten commented on #448
Scene is setup correctly, prove is that I get it successfully working on the HoloLens itself, problem is only related to Unity Editor.

The HandDraggable has it's own implementation, using the InputHandler directly which successfully calls the events when running in the Unity Editor.

[2017-01-04 17:09] imaginethepoet commented on #444
I followed the instructions on your branch and can now see the cursor. I was having difficulty though with the build not wanting to register when I added spatial. I believe that's on my side.

Just curious why the changes?

[2017-01-04 17:16] HodgsonSDAS commented on #444
spatial mapping is optional.

[2017-01-04 18:57] genereddick opened #451 "Build error after getting latest from IInputClickHandler in TapToPlace"
I just synced to latest and project no longer builds:

Error
CS0737
'TapToPlace' does not implement interface member 'IInputClickHandler.OnInputClicked(InputEventData)'. 'TapToPlace.OnInputClicked(InputEventData)' cannot implement an interface member because it is not public.

Also errors for:

Error	CS0621	'TapToPlace.Update()': virtual or abstract members cannot be private	HoloToolkit-Unity	D:\G

[2017-01-04 19:04] HodgsonSDAS commented on #451
There's already a PR submitted for this.

[2017-01-04 19:05] genereddick commented on #451
Then I'll delete.

[2017-01-04 19:09] #451 closed

[2017-01-04 19:11] HodgsonSDAS commented on #451
@genereddick, it was fine to keep open. We didn't have a specific issue to track with yet.

[2017-01-04 23:00] islacoder commented on #448
I have the same issue and it applies to INavigationHandler as well.  I cannot get Unity Editor to work with manipulation and navigation using those interfaces.  HandDraggable.cs doesn't use those interfaces.

[2017-01-04 23:22] jjarthur opened #452 "ManualGazeControl.cs NullReferenceException"
I'm having some trouble getting Manual Gaze Control working with my project. After adding the component to the main camera and playing, I am getting:

`NullReferenceException: Object reference not set to an instance of an object
HoloToolkit.Unity.InputModule.ManualGazeControl.Awake () (at Assets/HoloToolkit/Input/Scripts/Utilities/ManualGazeControl.cs:46)`

Am I missing something?
Thanks

[2017-01-05 00:46] S-Hodgson-MMOARgames commented on #452
Sounds like your missing a reference to your AxisController for MouseXYRotationAxisControl.  Did you assign these in the inspector?

[2017-01-05 00:50] jjarthur commented on #452
Oops, how do I do that?

[2017-01-05 01:09] S-Hodgson-MMOARgames commented on #452
I'd suggest taking a look at the [HoloLensCamera.prefab](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/Prefabs/HoloLensCamera.prefab) that implements it. Seems like it has some child objects that each have axis controller scripts attached.

[2017-01-05 01:11] S-Hodgson-MMOARgames commented on #452
I'd suggest just using the HoloLensCamera.prefab unless you've got a custom requirement.

[2017-01-05 01:12] S-Hodgson-MMOARgames commented on #448
I understand that HandDraggable doesn't use those interfaces, but I thought it would provide a good example of an implementation that could solve the problem.

[2017-01-05 01:17] jjarthur commented on #452
I had no idea that existed, thanks!

[2017-01-05 01:17] #452 closed

[2017-01-05 14:45] HodgsonSDAS commented on #448
After more investigation the only two options are to calculate the delta of your hand movement in the editor or to update the EditorHandsInput to handle the navigation and manipulation events properly.

[2017-01-05 15:10] HodgsonSDAS opened #453 "Spatial Understanding Example: Menu does not function properly with new Input System"
Users are unable to click on the uGUI elements and buttons with ease.

[2017-01-05 16:13] HodgsonSDAS commented on #390
@thebanjomatic this is now closed correct?

[2017-01-05 16:13] HodgsonSDAS commented on #391
@thebanjomatic this is now closed correct?

[2017-01-05 17:59] maxouellet commented on #448
All the editor input stuff is faked by the EditorHandsInput input source. This input source currently provides fake hand states, positions and airtaps,, but does not implement the Windows gestures such as Navigation and Manipulation.

If we wanted to support them, we'd have to update EditorHandsInput so that it properly fakes them, as @HodgsonSDAS suggested. Or it could be a new EditorGesturesInpu

[2017-01-05 18:03] thebanjomatic commented on #390
Yes, thanks!

[2017-01-05 18:03] #390 closed

[2017-01-05 18:03] thebanjomatic commented on #391
Yes, thanks!

[2017-01-05 18:03] #391 closed

[2017-01-05 18:35] NeerajW commented on #450
@HodgsonSDAS thanks for the feedback. Will get back to you on this.

[2017-01-05 18:40] NeerajW commented on #444
Please re-open with your new specific issue. Thank much!

[2017-01-05 18:40] #444 closed

[2017-01-05 18:41] NeerajW commented on #442
@jbienzms any thoughts or help you might be able to provide?

[2017-01-05 18:42] NeerajW commented on #441
Personally I agree with this. I believe you updated this in some PR?

[2017-01-05 18:44] #439 closed

[2017-01-05 18:46] keveleigh commented on #434
Just a quick addition, the Holographic Academy repo is here: https://github.com/microsoft/HolographicAcademy/tree/Holograms-210-Gaze. I'm not sure who the person is who owns the repo linked above.

Agreed that this likely should be added as an issue there instead of here. Also, you mentioned that you were debugging. Do you see this problem when running as Release?

[2017-01-05 18:46] NeerajW commented on #437
@Joeeeeeeeee please reopen with repro steps. I could not repro this.

[2017-01-05 18:46] #437 closed

[2017-01-05 18:59] jbienzms commented on #442
The main problem here is that Unity and UWP use different audio formats. UWP uses a standard WAV format and Unity has it's own proprietary format based on an array of floating point values. Because of this, the speech must be fully generated as WAV data, then we must convert that WAV data to Unity float values before they can be assigned to the AudioSource. Then the AudioSource buffers and begins

[2017-01-05 19:13] HodgsonSDAS commented on #434
@keveleigh , Sorry about that! I've updated my link to point to the correct repo.

[2017-01-05 19:14] keveleigh commented on #434
@HodgsonSDAS All good! Thanks :)

[2017-01-05 19:33] NeerajW commented on #450
How about we start with 2 approvers to begin with? See how this goes.
Any contributor can approve changes.
Before a moderator merges a PR there must be atleast one other Approver different from the merger.

[2017-01-05 19:34] HodgsonSDAS commented on #450
Sounds good to me.

[2017-01-06 01:58] markingram7 commented on #442
Yes, some of the test texts in my project were longer sentences, and sometimes I activated multiple of them in short sequence, so the delay was longer. I solved the problem for my own project by doing the following:
1. In the TextToSpeechManager (which is added as a component to each gameobject containing a text), I added a public "GenerateSpeech" method very similar to the "PlaySpeech", which doe

[2017-01-06 16:20] jbienzms commented on #442
That's a pretty good approach. I'm guessing your sentences don't change much then? (e.g. it appears you're just playing buffers that were previously generated). You are right that it's taking up memory, and depending on the length of the audio that could be notable. But probably not any more than having a lot of textures loaded. Just keep an eye on processor memory and GC pressure. You can do this

[2017-01-06 16:24] jbienzms commented on #442
P.S. after reading your workaround I did think about one possible optimization for the TextToSpeechManager. I could hold onto the last text spoken and the last audio clip. And if the next text spoken is the same as the last one, I could just play the clip. That would work similar to your approach, especially if multiple managers were used (one for each phrase). However this optimization wouldn't h

[2017-01-07 00:53] HodgsonSDAS opened #456 "Should we remove the unused ExtensibleInputModule branch?"
Work for the ExtensibleInputModule has been merged into the Master branch.

Does it make since to keep this branch?

[2017-01-07 00:58] #434 closed

[2017-01-07 00:58] #423 closed

[2017-01-07 01:01] HodgsonSDAS commented on #336
@NeerajW would you like to keep this issue open for future release announcements or close?

[2017-01-07 01:03] #230 closed

[2017-01-07 01:03] #365 closed

[2017-01-07 01:13] HodgsonSDAS commented on #435
I'm unsure how localization works for github, but I think that would be very beneficial for our Chinese friends.

I think there's already been another issue concerning the lack of documentation in these areas:
https://github.com/Microsoft/HoloToolkit-Unity/issues/218
https://github.com/Microsoft/HoloToolkit-Unity/issues/261

[2017-01-07 01:14] HodgsonSDAS commented on #198
I'm going to close this because there's a new input system.  Please reopen if issue still persists..

[2017-01-07 01:14] #198 closed

[2017-01-07 01:17] HodgsonSDAS commented on #374
Related to https://github.com/Microsoft/HoloToolkit-Unity/issues/133

[2017-01-07 06:15] myreee commented on #228
@zer00p @nealee93 I'm having this issue as well. How did you resolve it?

[2017-01-07 10:25] nealee93 commented on #228
@myreee No,we can't find any way to resolve this issue, it just happens only to a few people,incredible...

[2017-01-07 23:05] myreee commented on #228
@nealee93 so all of your characters are still twitching? I really need a fix for this! Soon!

Any help would be appreciated!

cc
@HodgsonSDAS
@izatar

[2017-01-09 13:12] HodgsonSDAS commented on #228
@myreee, Sorry, I haven't seen any fixes for this.

Anyone with insight is welcome to share their learnings.

[2017-01-09 14:21] StephenHodgson opened #457 "Investigate CI solutions"
Hi Everyone,
I'm interested in setting up an continuous integration server to automatically test and make releases.

Does anyone have any suggestions?
I was looking at free to use solutions like [Travis-CI](https://travis-ci.org/) or [Appveyor](https://www.appveyor.com/).

The main features I think we should look for is:

- GitHub Releases
- Build Testing on Pull Request Merge

Does anyone have ex

[2017-01-09 15:10] HodgsonSDAS commented on #457
I found a nice blog entry about [utilizing GitHub, Unity3D, and Visual Studio Team Services](http://afuzzyllama.github.io/2016/02/25/github-unity3d-and-visual-studio-team-services.html)

[2017-01-09 15:42] aalmada commented on #457
I've been using Appveyor for non-Unity projects. These is a legal issue with the Unity libraries required to build: http://help.appveyor.com/discussions/suggestions/1028-support-for-unity-3d

[2017-01-09 15:53] HodgsonSDAS commented on #387
Does it makes sense for the [HoloToolkit-Unity to be cross platform](https://forums.hololens.com/discussion/6011/should-the-holotoolkit-unity-primarily-focus-on-the-hololens-platform)?

We have the vanilla [HoloToolkit](https://github.com/Microsoft/HoloToolkit).
We could also provide just the glue for network connectivity for companion applications using the [sharing](https://github.com/Microsoft/

[2017-01-09 15:56] HodgsonSDAS commented on #457
https://youtu.be/kSXomLkMR68?t=24m45s

[2017-01-09 16:02] yoDon commented on #387
"Does it makes sense for the HoloToolkit-Unity to be cross platform?"

Yes.

Unity is a cross-platform development environment. Most (many?) large Unity projects are cross-platform. At present, simply checking out the files HoloToolkit-Unity into your project (without even adding any of the functionality to your application) is enough to break the build on all non-WSA projects. This is a complete

[2017-01-09 16:25] HodgsonSDAS commented on #387
@yoDon I really like your response. Sorry, I moved my comment over to the PR.  Would you be willing to move your reply over there for others to read?

Thanks

[2017-01-09 17:34] HodgsonSDAS commented on #450
https://help.github.com/articles/enabling-required-reviews-for-pull-requests/

[2017-01-09 19:29] jessemcculloch commented on #457
What is @riverar using to create the unity packages for his site?  Something that can be leveraged, or not?

[2017-01-09 19:48] HodgsonSDAS commented on #457
Great question!

I was hoping to leverage his setup but I think MS is kinda frowning upon that because they don't have control of it.

[2017-01-09 21:20] matthejo opened #458 "Consume new HoloToolkit sharing components, merge other Microsoft changes from shipping products back into HoloToolkit"
[PR #69](https://github.com/Microsoft/HoloToolkit/pull/69) in the HoloToolkit project changes the native Sharing library to remove the usage of unsafe code in the managed Sharing scripts.  This requires corresponding changes to HoloToolkit-Unity to match changes in the native library.

Additionally, there are a large number of other changes made in Microsoft-internal projects to the HoloToolkit th

[2017-01-09 22:51] myreee commented on #228
@HodgsonSDAS Thanks!

I tested with different avatars and still see the issue. It only starts after the Spacial Understanding gameobject is activated and if there is an active animation.

Spacial Mapping game object causes no issues

[2017-01-09 23:14] HodgsonSDAS commented on #228
Hopefully some of the updates to the spatial understanding namespaces might resolve this issue. I'd try pulling the PR https://github.com/Microsoft/HoloToolkit-Unity/pull/459 and testing that out as well.

[2017-01-10 14:15] cnsdato opened #460 "How to Handle URI activation and access URI in Unity Script"
How to access the URI in a GameObject Script, see: https://msdn.microsoft.com/en-us/windows/uwp/launch-resume/handle-uri-activation

[2017-01-10 14:44] HodgsonSDAS commented on #458
Totally stoked about the sync primitives in the sync system.

[2017-01-11 17:37] jessemcculloch commented on #456
I think its time to clean it up, I cant see any reason to keep it

[2017-01-11 17:38] HodgsonSDAS commented on #336
FYI, Unity 5.5.0p4 was released today.

Fixeds:

- (858208) AR: Fixed a crash when exiting play mode during a Holographic Simulation session.

[2017-01-12 08:49] cnsdato commented on #460
I find a working solution my self.
I have added a `SendMessage()` call into the `ApplicationView_Activated()` Method in App.cs:

[code]

Then in my GameObject script I have the Method 'LoadByUri' implemented:
[code]

[2017-01-12 08:49] #460 closed

[2017-01-12 14:14] HodgsonSDAS commented on #460
@cnsdato Thanks for sharing!

[2017-01-12 22:14] myreee commented on #228
@HodgsonSDAS Anything else I can do to help identify the cause of this problem? I am unable to use the new spatial understanding until this is resolved

[2017-01-13 12:57] HodgsonSDAS commented on #228
Unfortunately I can't really think of anything.  I'd also try opening a ticket with Unity just to be sure it's not a bug with the engine (which it may or may not be). Just be sure to provide them with the reproduction project.

[2017-01-13 13:11] HodgsonSDAS commented on #336
@NeerajW I'm going to go ahead and close this since the release plan has effectively been executed.

[2017-01-13 13:11] #336 closed

[2017-01-13 14:57] charlesMP opened #461 "Movement with IManipulationHandler"
Hey Guys,
I've been working with the updated version of HoloToolKit for Unity 5.5 and have been running into a lot up changes in how input is handled. Chief among these is the new IManipulationHandler and INavigationHandler interfaces.

I have IManipulationHandler implemented but am getting some weird movement from it.  Theres stutters(even with Time.deltaTime), jumps, movement on weird angles and

[2017-01-13 18:06] HodgsonSDAS commented on #461
Hi @charlesMP, do you have repro steps?

Are you sure it's not the geometry/rendering that's causing the studders to the rendering thread?

[2017-01-13 18:46] charlesMP commented on #461
Stutter might be the wrong word, more like it jumps.  And yeah its not rendering thats the cause as of now I only have a single cube rendered in the Scene. (I've run a lot more high-poly objects with particle effects and seen minimal lag on the HoloLens.)

[2017-01-13 19:34] charlesMP commented on #461
So the main thing I've tracked down is that when walking around an object things get flipped all sorts of directions. How does the CumulativeDelta get calculated? It seems to return an ABS of movement or local movement as opposed to the actual WorldSpaceMovement.

[2017-01-14 16:31] #431 closed

[2017-01-14 16:31] #380 closed

[2017-01-14 16:31] #411 closed

[2017-01-14 16:32] #450 closed

[2017-01-17 03:24] qian256 opened #462 "Tap without focused object is not responded"
Hi,
I noticed that in the latest release of HoloToolkit-Unity, there is no interface for responding to tapping event, if there is no focused object. It seems that "OnInputUp", "OnInputDown", "OnInputClick" are sent to the focused object only. Is there access point to the "background" tapping event?
In the old version, the GestureManager can do something like this:
`recognizer = new GestureRecogniz

[2017-01-17 09:05] aalmada commented on #462
You need to register as global listener the game object that contains the script. Add the SetGlobalListener to the object.

[2017-01-17 14:51] qian256 commented on #462
Nice! Thanks

[2017-01-17 14:51] #462 closed

[2017-01-17 21:33] NeerajW opened #463 "Release notes for v1.5.5.0 has incorrect Unity package"
The unity package in the [release notes](https://github.com/Microsoft/HoloToolkit-Unity/releases/tag/v1.5.5.0) is buggy.
Best to use one good source truth which is checked in under External\UnityPackages.

[2017-01-17 23:01] HodgsonSDAS commented on #463
Hmm, strange. I uploaded the file from that path to the release.

I'd fix it but I got removed from the project somehow.

[2017-01-18 00:03] markneville opened #464 "Windows Insider: Unity editor hangs in play mode when using UnityEngine.VR.WSA.Input.GestureRecognizer"
Latest build version of InputManager.prefab causes Unity to hang.

Unity 5.50f3
Windows 10

Cheers,
Mark

[2017-01-18 13:55] HodgsonSDAS commented on #464
I mark, can you provide us with a bit more details?

Were you able to pinpoint the issue with a debugger?

Do you have any reproduction steps?

[2017-01-18 17:17] HodgsonSDAS commented on #463
I re uploaded the unity package from the External\UnityPackages location to the release

[2017-01-18 19:18] flarb opened #465 "[vNext] Replace Windows Networking UWP code in GenericNetworkTransmitter with UNET compliant code"
I'm digging through the SharingWithUNET example and one thing that makes it tricky to work with is that GenericNetworkTransmitter contains a bunch of UWP code that can't be executed in the editor. It makes it a pain to debug, for one thing.

As far as I can tell, it's using this code to send bytestreams to the other client for anchors.  I think it would be much easier to use if this code was conve

[2017-01-18 20:07] NeerajW commented on #463
This was reported to me during a hack yesterday. I tested at my desk and it's good. Closing.

[2017-01-18 20:07] #463 closed

[2017-01-18 20:07] NeerajW commented on #456
Yes!

[2017-01-18 20:10] NeerajW commented on #457
Clarifying @HodgsonSDAS's statement to make intent more clear :)

I am not in favor of hosting packages on external websites which are not manageable easily using OSS.
I would recommend hosting packages in the Externals or UnityPackages folder in the same repository.
Would be happy to have riverar's updates to this repository if we deem that better.
Con:  Adding Unity packages increases repo size

[2017-01-18 20:12] NeerajW commented on #458
Merged #459

[2017-01-18 20:12] #458 closed

[2017-01-18 20:21] NeerajW commented on #464
Looks like I could repro this with:
1. Import latest release asset package into Unity 5.5.0f3 project
2. Use the HoloLensCamera prefab
3. Create Managers object and child a InputManager prefab to it
4. Click Play in editor and observe hang.

Working on more details.

[2017-01-18 20:29] NeerajW commented on #464
I remember this not being an issue when I checked in InputTapTest.unity scene. I am reinstalling Unity to see if it helps.

[2017-01-18 21:23] HodgsonSDAS commented on #456
@NeerajW yes we should remove, or yes we should keep it?

[2017-01-18 21:52] NeerajW commented on #464
@markneville are you on a Windows Insider Preview build? I could repro this issue only when I upgraded to a selfhost build.

[2017-01-18 22:37] NeerajW commented on #456
Q: Should we remove the unused ExtensibleInputModule branch?
A: Yes remove :)

[2017-01-18 23:06] NeerajW commented on #464
To unblock yourself in the editor consider disabling the GestureInput component under InputManager just when in the editor.

[2017-01-18 23:27] #456 closed

[2017-01-19 22:04] markneville commented on #464
@NeerajW Yes i'm on the Fast ring for the Windows Insider Preview build. Also the way you repro'ed the issue was exactly the same way I found the issue. I'll try disabling the GestureInput component to see if that helps.

[2017-01-19 22:37] NeerajW commented on #464
@markneville thanks for confirming. I have filed a Windows OS bug to track this issue and see where the real problem is.

[2017-01-19 23:39] NeerajW commented on #395
Merged #454

[2017-01-19 23:39] #395 closed

[2017-01-20 06:09] kotAPI opened #467 "Any Readme file or guidelines to follow for the new HTK - Unity 5.5?"
Hey, I've been using the previous version of HTK for a while and found my way across it quite well. I see that there have been major changes in 5.5 and my older projects dont work with the new HTK anymore. Is there any readme file/guidelines for migrating to use the new functionalities of 5.5?

[2017-01-20 17:51] NeerajW commented on #467
Your best bet with the input changes are:
1. https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/Tests/Scenes/InputTapTest.unity
2. https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/Tests/Scenes/InputManagerTest.unity

Please let us know if you have any specific questions.

[2017-01-22 23:54] flarb opened #469 "Sharing with UNET scene runtime error in log, devices never connect"
I'm trying to run the SharingWithUNET test scene on my devices but they can't connect to each other or the editor. The server is broadcasting, but the client never gets the broadcast. I see this error on the HoloLens from VS' output:

"host id out of bound id {-1} max id should be greater 0 and less than {1}"

Anyone else see this?

[2017-01-23 17:35] LocalJoost opened #470 "3DTextPrefab and samples report missing font"
3DTextPrefab and samples report missing font and don't shows texts, just outlines. Which is kind of confusing. Why is the font described https://github.com/Microsoft/HoloToolkit-Unity/blob/master/External/ReadMeImages/TextPrefabInstructions02.png not included? Copyright reasons?

[2017-01-23 17:50] cre8ivepark commented on #470
Hi @LocalJoost Yes, because of the font file copyright/license, we cannot distribute Segoe UI font file through GitHub. Please follow the instructions in this [Readme file ](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/UI/README.md)for importing the Segoe UI font file from your Windows/Font folder. Thanks!

[2017-01-23 18:11] LocalJoost commented on #470
Thanks for the explanation. Dunny if there is a free font you could use (and reship) instead.

[2017-01-23 18:11] #470 closed

[2017-01-23 18:30] HodgsonSDAS commented on #470
https://github.com/Microsoft/HoloToolkit-Unity/pull/425

[2017-01-23 22:40] bhtruong93 commented on #445
With just that fix it, the cursor disappears when the hand becomes visible because `IsInputSourceDown` is still set to true due to`OnInputUp` never being called.  Another check with an if statement resolves this:
[code]

[2017-01-24 01:48] mrbobbybobberson commented on #453
I believe I fixed this issue as part of #432.

[2017-01-24 02:16] S-Hodgson-MMOARgames commented on #467
Unfortunately, I don't think anyone has taken the time to write a upgrade guide.

Any insight would be beneficial to anyone still trying to upgrade.

[2017-01-24 02:26] HodgsonSDAS commented on #445
I don't think a PR ever got submitted for this.

[2017-01-24 02:28] HodgsonSDAS commented on #469
@flarb, are you having issues with the test scene in the example folder?

[2017-01-24 02:29] HodgsonSDAS commented on #469
@darax, any ideas?

[2017-01-24 08:50] kotAPI commented on #467
I could only find a handy website with a post that talks about basic implementation of the new 5.5
Hopefully someone finds some use of it

https://livierickson.com/blog/unity-5-5-and-the-holotoolkit-changes-in-input-when-developing-hololens-apps/

[2017-01-24 13:36] barmyard commented on #448
I second this.

Another problem which is related is that HandDraggable has its own implementation.
I assigned a Fallback ManipulationHandler to my scene, but if I do a manipulation gesture on a gameObject that also has HandDraggable attached, both events are triggered.

If HandDraggable would implement the proper ManipulationHandler, I think this issue should be fixed.
I'll see what I can do, but

[2017-01-24 16:04] HodgsonSDAS commented on #461
Might be related to https://github.com/Microsoft/HoloToolkit-Unity/issues/448?

[2017-01-24 18:26] maxouellet commented on #448
We've internally implemented the manipulation and hold gestures to EditorHandsInput. The code is relatively simple, but I've been pretty busy over the last few weeks, so not sure when I can bring this back... I can try to find some time this week or next week, but no guarantee :(

HandDraggable has its own implementation because it relies on the frame-by-frame updated position provided by the poll

[2017-01-24 20:32] charlesMP commented on #461
I did take a look at that and am using it for rotation. I did update to a newer version of holoToolkit and it seemed to address what ever issue I was having and the object is moving like expected.

Thanks,

The only issue I see right now is that Manipulation events still trigger when you rotate/move your head in space not just your hand.

[2017-01-24 21:34] HodgsonSDAS commented on #461
Thanks Charles.  Could you close this one and open a new issue addressing the manipulation events being triggered when your turn your head but keep your hand in place?

[2017-01-24 21:35] #445 closed

[2017-01-24 21:44] HodgsonSDAS commented on #295
Any change to this issue?

There have been some recent updates to the spatial understanding libraries.

[2017-01-24 22:13] HodgsonSDAS commented on #193
@JeffPack did https://github.com/Microsoft/HoloToolkit-Unity/pull/245 fix your issue?

[2017-01-24 22:18] HodgsonSDAS commented on #218
Updated the wiki to point to the[ Spatial Mapping in Unity](https://developer.microsoft.com/en-us/windows/holographic/spatial_mapping_in_unity) documentation.

[2017-01-24 22:18] #218 closed

[2017-01-24 22:23] HodgsonSDAS commented on #211
@vbandi any word on this?

[2017-01-24 22:25] HodgsonSDAS commented on #211
I'm going to close this in favor of https://github.com/Microsoft/HoloToolkit-Unity/issues/362 due to the major architectural changes from the new input modules.

[2017-01-24 22:25] #211 closed

[2017-01-24 22:27] HodgsonSDAS commented on #194
@teichgraf have you seen any substantial improvements?

There's been quite a bit of work to the spatial understanding libraries over the last few weeks.

[2017-01-24 22:31] HodgsonSDAS commented on #204
Hey guys,  Lots of updates to the Spatial Mapping libraries.

Is this still giving you problems?
Do you have detailed reproducible steps?

[2017-01-24 22:39] HodgsonSDAS commented on #203
@Waterine has this been fixed for you?

[2017-01-24 22:43] HodgsonSDAS commented on #22
@teichgraf, there was some shader updates recently.  Has those updates resolved this issue?

@ignavus Would you be willing to submit a PR with those fixes you've detailed?

[2017-01-25 02:13] flarb commented on #469
I'm not sure this error message has anything to do with the reason why they can't connect. I've narrowed it down to something wrong with my actual LAN. If I connect my HoloLens devices via iPhone hotspot, they connect. Has to be some weird firewall setting.

[2017-01-25 06:57] Waterine commented on #203
I won't be able to verify because I don't work on Hololens anymore.

[2017-01-25 07:42] flarb commented on #469
Ah, we can close this....I turned off all firewalls (on my dev box and firewall) and now it works.

[2017-01-25 07:42] #469 closed

[2017-01-25 13:51] charlesMP commented on #461
Will do

[2017-01-25 14:50] charlesMP opened #473 "Manipulation Update when Head moves."
IManipulationHandler works well when my hand is the only thing that is moving; but I've experienced that the OnManipulationUpdate event will trigger when I rotate my head.
It also keeps happening when the hand is not visible and the Manipulated object will keep moving until you refocus on your hand to trigger the end event.

An easy way to replicate this is get a GameObject that you can Manipulate

[2017-01-25 14:58] #461 closed

[2017-01-25 22:12] jbienzms opened #474 "Using multiple materials in the toolkit does not help with dynamic batching"
There is a very interesting forum thread going on about performance and Dynamic Batching:

https://forums.hololens.com/discussion/6376/gameobject-limit-on-performance

It appears that accessing .material instead of .sharedmaterial causes shared materials to become instanced and breaks dynamic batching. It also appears that some of the toolkit behaviors (e.g. gaze responder) access materials in thi

[2017-01-25 22:32] calebcannon commented on #474
Yes, using the renderer.material property does cause the renderer to create a new instance of the shared material. Using renderer.sharedMaterial avoids this, but any changes made to the material properties (such as color and texture) will be applied to all renderers using that shared material (excepting those that have instanced off a new material using the .material property).  There are also a '

[2017-01-26 14:30] HodgsonSDAS commented on #474
Even utilizing the MaterialPropertyBlock you'll still have to decide either to grab the sharedMaterial or the material instance, which is [known to cause memory leaks](http://answers.unity3d.com/questions/548420/material-memory-leak.html).

[2017-01-26 14:38] HodgsonSDAS commented on #474
I worked on this briefly last month. Probably good to look at the changes and make improvements: https://github.com/Microsoft/HoloToolkit-Unity/pull/424

[2017-01-26 14:49] HodgsonSDAS commented on #474
Also I know the shaders were recently updated to allow for single pass (stereo) https://github.com/Microsoft/HoloToolkit-Unity/pull/393 so it might just be a matter of updating how we're handling the material instances.

[2017-01-26 15:39] g-bataille opened #475 "Unity 5.5.1f1 Released"
Unity compiler errors with overriden Awake and OnDestroy noticely for the Singleton class.
And with Holotoolkit.Sharing.SharingClientPINVOKE : unknown definitions

[2017-01-26 15:44] HodgsonSDAS commented on #475
The HoloToolkit version is currently 5.5.0f3.

[2017-01-26 15:50] g-bataille commented on #475
Thank you ! :)

[2017-01-26 15:52] HodgsonSDAS commented on #475
Although this Known Issue doesn't bode well:
https://unity3d.com/unity/whats-new/unity-5.5.1

[2017-01-26 15:57] HodgsonSDAS commented on #211
Seems Unity 5.5.1f1 addresses this:

[2017-01-26 16:08] HodgsonSDAS commented on #475
@g-bataille I didn't get any of these errors when upgrading.

Do these errors show up when you create a build?

[2017-01-26 16:22] g-bataille commented on #475
They appeared after I imported the last package, I then pulled the last commit but it didn't change the issue.
Gonna try with a fresh new project.

[2017-01-26 16:23] HodgsonSDAS commented on #475
So it happens when you import the [HTK 1.5.5 asset package](https://github.com/Microsoft/HoloToolkit-Unity/tree/master/External/Unitypackages)?

[2017-01-26 16:31] g-bataille commented on #475
Yup, same here, doesn't happen on a new project, the problem occured on an existing project.

[2017-01-26 16:34] HodgsonSDAS commented on #475
It sounds like you need to do some work to get your existing project updated with the HTK.

[2017-01-26 16:50] HodgsonSDAS commented on #475
No worries! glad to hear you got it sorted out.

[2017-01-26 16:52] g-bataille commented on #475
Than you for your reactivity !

[2017-01-26 16:59] jbienzms commented on #474
Unfortunately GitHub won't let you search for ".material" because "." is an invalid search character. So I opened the toolkit in Visual Studio and did a search. Here are all the instances of referencing .material.

Looks like there are only 21 of them.
5 of them are in HoloToolkit-Examples.
5 of them are in a path that includes "Test"
11 of them in core code.

[code]

This probably wouldn't be too

[2017-01-26 18:31] HodgsonSDAS commented on #474
5 of them are in HoloToolkit-Examples.
5 of them are in a path that includes "Test"
11 of them in core code.

The HoloToolkit-Examples definitively use .material improperly causing material leaks.
The Test and Core snippets are correct, and I don't they they directly contribute to what Eswara was experiencing with scripts breaking the dynamic batching.

[2017-01-26 19:36] HodgsonSDAS commented on #474
A bit of research in the [Unity Documentation](https://docs.unity3d.com/Manual/DrawCallBatching.html):

[2017-01-26 19:40] HodgsonSDAS commented on #474
Does anyone know if [GPU instancing](https://docs.unity3d.com/Manual/GPUInstancing.html) is available on the HoloLens?

[2017-01-27 03:53] eswara1997 commented on #474
Original poster of the forum thread here.

I was initially trying to get GPU instancing working, but wasn't able to. Only then did I turn to Dynamic Batching. I followed all of the steps on Unity documentation for instancing but wasn't able to get it working. However Ameramer in the original forum thread claims to have instancing working.

[2017-01-27 04:38] Sachin4dotnet opened #480 "Can I know when new User joined to my Session?"
Hello All,

I have used a SharingService and successfully implemented my application. Sharing Service is installed in a live server, I have used the live IP and we have connected more than one devices successfully.

Now the issue is when some one joined to current Session then on Server (if we have run service with cmd > SharingService.exe -local) we can see "User UnknownUser at address 192.168.4.

[2017-01-27 09:24] g-bataille commented on #475
I confirm that this is due to a side effect generated by another package, gonna see that with the maintainer of the other package. Sorry for the inconvenience.

[2017-01-27 11:41] matmuze opened #481 "Spatial Mapping Meshes not aligned with Unity UP vector"
Hello,

I am using Unity to develop a Hololens app.

Most of the time the room mesh that I receive from the Lens is aligned with the UP direction in Unity's world (0,1,0).

However, it sometimes occurs that the room meshes suddenly losses its alignment with Unity UP vector, which results in a tilted mesh (about 40 degree off Unity's UP direction).

(Please note that the room mesh looks perfectly f

[2017-01-27 15:38] soraryu commented on #474
@HodgsonSDAS Yes, GPU instancing works (drawing approx. 200k tris on the Hololens right now with that).

[2017-01-27 18:00] NeerajW commented on #474
Right, as @HodgsonSDAS mentioned for dynamic batching to truly help its usually recommended to have one material and a combined texture atlas that can help with multiple game objects in the scene.

@dbastienMS any thoughts on material Vs sharedMaterial usage and any improvements we could make?

[2017-01-27 18:04] NeerajW commented on #480
There are Instance_SessionJoin events that you can subscribe to. Please look at the Sharing.unity test scene. Please post if that event join does not help you. Thanks!

[2017-01-29 14:45] HodgsonSDAS commented on #481
It's your device losing it's tracking when this error happens?

[2017-01-29 16:50] HodgsonSDAS commented on #480
There was quite a bit of changes to the sharing library.  Unfortunately some of the libraries were broken in https://github.com/Microsoft/HoloToolkit-Unity/pull/459

[2017-01-29 17:08] StephenHodgson opened #482 "Unit Testing"
@aalmada had a wonderful idea to start writing [unit tests for vector extensions](https://github.com/Microsoft/HoloToolkit-Unity/pull/427) and I thought it'd be a great idea to write a new test for each of the major feature areas of the HTK.

Unity Documentation: [Editor Test Runner](https://docs.unity3d.com/Manual/testing-editortestsrunner.html)
HTK Documentation: [Unit Testing Readme](https://gi

[2017-01-29 18:28] HodgsonSDAS opened #483 "Sharing.prefab contains component that does not derive from MonoBehaviour"
The `Sharing.prefab` no longer works like it did before https://github.com/Microsoft/HoloToolkit-Unity/pull/459

See https://github.com/Microsoft/HoloToolkit-Unity/pull/479 and https://github.com/Microsoft/HoloToolkit-Unity/issues/480 for more details.

`SessionUsersTracker` does not derive from MonoBehavior.  [The original file was renamed and overwritten](https://github.com/Microsoft/HoloToolkit

[2017-01-30 05:20] HodgsonSDAS commented on #480
SharingStage.cs creates an instance of SessionUsersTracker you can use to subscribe to UserJoined and UserLeft events.

[code]

[2017-01-30 14:20] matmuze commented on #481
The tracking is working fine, like I said, inside the lens everything is fine.

The up vector is only off ONLY compared to unity up vector, so If I place an object inside the scene and pointing in the UP direction (0,1,0) it  will not be aligned with the room anymore.

But again the room mesh appears perfectly aligned with the actual room.

This issue appears suddenly after several tests on the Le

[2017-01-30 14:26] HodgsonSDAS commented on #481
Do you have specific reproduction steps I can try?

[2017-01-30 16:03] matmuze commented on #481
Unfortunately no, I do not know how to reproduce the problem.

But since the problem seems to persist perhaps I could share one of my scene broken scene so that you guys could have a look.

[2017-01-30 17:08] HodgsonSDAS commented on #481
Sure, but I think you'd have to share more than just the scene file.
I'm unsure if the scene is broken or maybe scripts associated with the specific functionality.
It could possibly even be a bug in the editor.

[2017-01-30 18:12] matmuze commented on #481
Yes sure, thats what I meant

[2017-01-30 23:25] dbastienMS commented on #474
Swapping materials, using sharedMaterial, or using property blocks are the ways to handle this, and it depends on the particular use case.

Accessing .material should almost never be done.

FYI though - dynamic batching isn't likely to improve performance a ton anyway for most applications - draw call overhead will be massively dwarfed by per-pixel ALU ops.  Most applications I look at have ~50-10

[2017-01-31 03:32] jbienzms opened #486 "Proposed Fixes for Singleton"
I know this may be an unpopular topic, but personally I feel it's time we discuss the implementation of Singleton in the toolkit.

For those who aren't aware, many classes in the toolkit inherit from [Singleton](https://github.com/Microsoft/HoloToolkit-Unity/blob/d343a0897f43ba0094d8e5ca032dc3a243cf2712/Assets/HoloToolkit/Utilities/Scripts/Singleton.cs). In programming, Singleton is a pattern used

[2017-01-31 03:38] jbienzms commented on #486
I was just thinking more about the way System.Linq handles enumerable. Maybe there shouldn't be an exception if more than one instance is added to the scene. We could support Linq like queries. .First, .FirstOrDefuault, .All, etc.

[2017-01-31 10:11] DrNeuroSurg opened #487 "Sharing Service: Invalid Schema Version"
If using SharingService with schema version 15 on client and server everything works fine (as in HoloToolkit-Sharing-240).

With schema version 17 it isn't working anymore !

[2017-01-31 14:32] HodgsonSDAS commented on #486
Thanks for bringing this up Jared.  One of the things I've been mulling over myself but haven't had the time to address. I think you've made a wonderful proposal and would like to see other peoples input as well.

This is probably my biggest concern with the current implementation.

[2017-01-31 14:34] HodgsonSDAS commented on #487
Most likely related to the major sharing update (https://github.com/Microsoft/HoloToolkit-Unity/pull/459) that introduced multiple problems.
Thanks for submitting.

[2017-01-31 14:43] HodgsonSDAS commented on #475
Well Patch 5.5.1p1 is out already haha.

This one is probably really great for spatial mapping and understanding.

[2017-01-31 14:45] #475 closed

[2017-01-31 14:46] StephenHodgson opened #489 "Unity 5.5.2f1 Released"
Well [Patch 5.5.1p1](https://unity3d.com/unity/qa/patch-releases/5.5.1p1) is out already haha.

This last one is probably really great for spatial mapping and understanding.

[2017-01-31 15:58] Lordinaire commented on #487
I confirm, my application crashes when I try to use:
`SharingManager.Create(config);`

[2017-01-31 16:01] HodgsonSDAS commented on #487
If anyone has a fix, I've already submitted PR https://github.com/Microsoft/HoloToolkit-Unity/pull/484 for other misc fixes for the sharing service.

Please submit a PR on my branch to get those changes included to the existing PR.

[2017-01-31 16:08] HodgsonSDAS commented on #487
@Lordinaire are you using the SharingStage.cs class or do you have your own implementation?

I have not been able to get my application to crash on `SharinManager.Create(config);`

[2017-01-31 16:18] Ziugy commented on #465
You should be able to build the Visual Studio solution and debug the code with the HoloLens emulator, if there was an immediate thing you wanted to investigate.

[2017-01-31 16:43] HodgsonSDAS commented on #487
**RESOLUTION**
In the main HTK project launching the SharingService.exe always launches with schema v17.

If you're using the HoloToolkit from the unity package, or exported the package yourself chances are you  got your SharingService.exe from another source. You just need to replace that old executable with the newest version.

For example, in my project, I use a symbolic link to reference the H

[2017-01-31 17:00] StephenHodgson opened #490 "MixedRealityToolkit-Unity.assetpackage missing sharing services"
The Sharing Service executable is missing from theunity asset package releases of the MRTK.

[2017-01-31 17:06] HodgsonSDAS opened #491 "Sharing test scene throws excetptions when AutoDiscoverServer == true"
The Sharing test scene: Setting `AutoDiscoverServer` to true throws null reference exemptions in both the `ImportExportAnchorManager` and the `RemoteHeadManager`.

This is because no connection has been established before Start is called in both classes.
Should register `SharingStage.Instance.SharingManagerConnected += Connected;` then call associated method to register for 'SharingStage.Instance.

[2017-01-31 17:59] NeerajW commented on #486
Proposal seems reasonable to me.
@mrbobbybobberson do you have any additional thoughts?

[2017-01-31 18:00] NeerajW commented on #487
Great catch @HodgsonSDAS !!

[2017-01-31 18:01] NeerajW commented on #490
This is a tricky one as when creating asset packages the External folder really does not show up :)

[2017-01-31 18:02] #261 closed

[2017-01-31 18:02] #435 closed

[2017-01-31 18:03] HodgsonSDAS commented on #490
Yeah, I think there is a way to do it though. We might just need to include the extra setup steps in the GettingStarted doc.

[2017-01-31 18:06] StephenHodgson opened #493 "Sharing Stage Discovery Client fails to find systems to connect to"
When setting `AutoDiscoverServer == true` the Discovery Client fails to find server.

Repro Steps:

1. Open Sharing test scene.
2. Set `AutoDiscoverServer` to true on the sharing prefab.
3. Start `SharingService` from editor.
4. Observe that the client never connects.

[2017-01-31 21:42] StephenHodgson opened #494 "Unable to test sharing scenes on device"
Not all sharing test scenes are not set up to easily test on device.
- [x] ~SharingSpawnTest~
- [ ] RoomAndAnchorTest

[2017-02-01 03:07] mrbobbybobberson commented on #486
I like the direction of this.  It especially startled me when I found no error messaging in .Instance if you forget to create an instance or if you add more than one instance.  The only thing I shy away from is making a "First" and "FirstOrDefault".  I'd prefer to maintain the idea that this concept is for one-in-a-scene objects, so I'd keep the name as "Instance" or perhaps adopt the name "Single

[2017-02-01 04:54] jbienzms commented on #486
Thanks for weighing in @mrbobbybobberson. I think we really need to decide how much we want to enforce there being one and only one in the scene. If we really want to enforce exactly one, then I agree that First doesn't make sense. In that case we need to get much more explicit with the log messages **and** exceptions when one isn't found or when more than one attempts to register itself.

If, ins

[2017-02-01 05:07] jbienzms commented on #486
Oh, I forgot we didn't make TextToSpeechManager inherit from Singleton specifically because we wanted to support there being more than one instance. So my final sample doesn't entirely make sense right now, but it theoretically could. Then again, if there can be more than one instance I could see people starting to get confused about when to and not to inherit from this class.

I was hanging out w

[2017-02-01 11:07] Lordinaire commented on #487
@HodgsonSDAS I'm using the `SharingStage.cs` class and the latest version of HTK. I create a very simple project with just basic sharing scripts (see attached file) and it crashes after few seconds on my HoloLens. No exception are thrown :/

PS : I removed the HTK to be able to upload the project.

[SharedHologram.zip](https://github.com/Microsoft/HoloToolkit-Unity/files/744630/SharedHologram.zip)

[2017-02-01 11:19] Lordinaire commented on #490
I totally agree with @HodgsonSDAS, it will be nice to add some extra steps in the documentation.

The zip solution can be great! And split the asset package in two parts : _HTK base_ / _External_ ?

[2017-02-01 14:27] HodgsonSDAS commented on #487
Sorry @Lordinaire I'm not going to download your zip file.  You can share on github if you'd like.

[2017-02-01 15:48] Lordinaire commented on #487
Of course ! I put it on GitHub : [https://github.com/Lordinaire/HoloLens_Sharing_Test](https://github.com/Lordinaire/HoloLens_Sharing_Test)
If anyone can try to repro the crash it will help me a lot.

[2017-02-01 16:33] HodgsonSDAS commented on #487
Have you tried pulling my PR addressing some of the sharing services?

[2017-02-01 16:35] HodgsonSDAS commented on #490
Did a bit of research today. We would need to use .NET 4.x but unity does not support past 3.5 just yet.

There are some libraries we could use, but I don't know how we would do that to keep the licensing compatible.

[2017-02-01 18:02] #480 closed

[2017-02-01 18:02] #483 closed

[2017-02-01 18:02] #491 closed

[2017-02-01 18:17] NeerajW commented on #486
Personally, I've not found a use case for me when I really wanted say multiple GazeManagers in my scene. So I would say keeping it to one instance would work well for majority of the cases. With the verbiage change, we can avoid some confusion around legacy singleton stuff as well. But basically, it's almost like the Singleton design pattern. For scenarios that don't want to be a solo 'Scene.Insta

[2017-02-01 18:18] NeerajW commented on #493
@alexdrenea any thoughts here?

[2017-02-01 18:22] NeerajW commented on #490
Following up more internally with @matthejo

[2017-02-01 19:23] HodgsonSDAS commented on #490
I actually got something working today using powershell.

Keep an eye out for a PR

[2017-02-01 20:47] DominicBoettger opened #495 "Simple sharing example of gameObjects"
Hello,

in the Spawn sharing example i saw that it's possible to sharespawned objects.
Now i want to be able to share GameObjects which i added to the scene in Unity without the SpawnManager but i am still looking for a easy solution. I know that it should be possible by changing CustomMessage but i hoped there is something which is more simple like adding a component to the GameObject.

Some docu

[2017-02-01 21:06] HodgsonSDAS commented on #495
Dude, I just spent the last 3 days updating the docs...

[2017-02-01 21:27] HodgsonSDAS commented on #490
Done. Next time we make a package we just need to make sure that zip file is in there.

I'd also like to look into triggering the HoloLens Project Settings & Capabilities Window as soon as a user imports the asset package.

[2017-02-01 23:24] HodgsonSDAS commented on #374
The License at the top level is fine because no one should be basing their entire project off of the master, but instead be importing a unity asset package. Adding a duplicate license file at the root of the HoloToolkit folder should fix this issue and ensure there's a license file when users import the asset package.

[2017-02-02 00:00] DominicBoettger commented on #495
😀Thanks for your work and i swear that read the docs.

The problem is that it's hard to maintain a complex scene without a GUI.

And especially if you need to add sharing to a existing project its not the best idea to create everything in code with the spawn mechanism.

I hoped there is something simple like adding a component to a gameobject which i did not see in the existing docs...

[2017-02-02 00:44] riverar opened #497 "⚠️ HoloToolkit no longer supports Unity 5.4.0f1-HTP"
I maintain https://holotoolkit.download and was running builds on Unity 5.4.0f1-HTP. Just a heads up that a recent change (https://github.com/Microsoft/HoloToolkit-Unity/commit/261802b9767fc3ee77e1e271da4f68235771fdce#diff-d7c8f5f8602786a2bff59bc9835eccf9R219) broke compatibility. It's not clear if this project is attempting to maintain Unity back compat. so no patch submitted at this time.

I pla

[2017-02-02 01:29] cre8ivepark commented on #377
Submitted PR #498 It would be appreciated if you could check. Thank you!

[2017-02-02 02:49] S-Hodgson-MMOARgames commented on #497
I don't think it would be too difficult to revert that line, sense it was a trivial change.

Sorry about that @riverar. I'll have the fix in tomorrow.

[2017-02-02 03:27] thebanjomatic commented on #497
I could be wrong, but I don't think there is any expectation that anything beyond the [1.5.4.0 release tag](https://github.com/Microsoft/HoloToolkit-Unity/releases/tag/v1.5.4.0) is compatible with Unity 5.4. The with the current master branch targeting Unity 5.5 exclusively.

[2017-02-02 04:41] riverar commented on #497
I upgraded my build box so you don't need to reinsert the cast. We might want to instead note in the Readme that Unity `[v.current]` is required.

[2017-02-02 14:19] HodgsonSDAS commented on #495
No worries, a tutorial would really do nicely.

The latest updates to the sharing system did add a way to visualize the sync objects on the root via the SharingStage.

[2017-02-02 14:22] HodgsonSDAS commented on #497
It is noted in the readme.

[2017-02-02 14:31] DominicBoettger commented on #495
I tried some stuff...
I hoped i could solve it by adding a SyncObject to my MonoBehaviour, but i think this will not work as there will be different instances of the SyncObject on every client.

[code]

I also tried to SyncData on the SyncGameObject  but i have to be honest that i did not understand the sharing system yet....

[2017-02-02 14:34] HodgsonSDAS commented on #495
The instance is carried over to the other clients and you shouldn't have to spawn new instances of the same object on each.  The sharing system will handle that for you by notifying the other clients to spawn an instance in their games via the prefab spawn manager.

[2017-02-02 14:37] HodgsonSDAS commented on #495
Take a look at how the [sharing spawn test scene](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Sharing/README.md#sharingspawntestunity) works.

[2017-02-02 15:18] DominicBoettger commented on #495
I had a look at the test scene, but do you really think it's the best way to bundle the used objects into prefabs and place them progammatically instead of modeling them in the scene in Unity?

Maybe you are right and this makes also sense from the perspective that a room is dynamic and placing the objects in the Editor means they can later be inside a wall or outside the spatial mapping.

If i wa

[2017-02-02 15:59] HodgsonSDAS commented on #495
Yeah, most likely the environment your users are going to be interacting in will be very different from place to place. It's better to dynamically create and place your objects because of this very reason.

[2017-02-02 17:34] #497 closed

[2017-02-02 17:57] adamtuliper commented on #486
Another idea, why not convert these to an actual Singleton instance. This has been done many times in Unity before, and commonly using the DontDestroyOnLoad for keeping it around, and having any new instances destroy themselves if they are created - so we keep in line with the idea of a Singleton. If an Instance isn't set yet, its getter would Debug.LogError (then we get UnityPlayer.Log info for p

[2017-02-02 18:20] mgraszek opened #499 "AirTap and Manipulations and Shaking"
Hello

I want to use this Toolkit for my Unity project, but just today i upgraded my stuff to version 5.5. I see some changes in the code collide with my previous experience.
1) How do i do AirTap? Before i could add listener for GestureRecognizer and just add listener to it. Right now i can only attach some triggers only on GameObject. As a result, i cannot tap "nothing".
2) How do i make "Manipu

[2017-02-02 19:05] riverar commented on #497
Current Unity Editor Project Version isn't quite the same as Required Unity Editor Version. Suggest revisiting this. @NeerajW @HodgsonSDAS

[2017-02-02 19:49] HodgsonSDAS commented on #497
It's not part of https://github.com/Microsoft/HoloToolkit-Unity/pull/496

[2017-02-02 21:00] HodgsonSDAS commented on #473
I didn't get as bad of movement using Hand Draggable script.

[2017-02-03 15:36] HodgsonSDAS commented on #499
A. 1 & 2: Please be sure to review the [Input Documentation](https://github.com/Microsoft/HoloToolkit-Unity/tree/master/Assets/HoloToolkit/Input#input-module-design) and take a look at some of the test scenes like [InputTapTest](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/README.md#inputtaptestunity) or InputManagerTest.

Essentially any Monobehaviour you wo

[2017-02-03 15:47] HodgsonSDAS commented on #22
@dbastienMS did your recent updates fix this?

[2017-02-03 15:57] HodgsonSDAS commented on #295
@NeerajW I believe [this was fixed](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Utilities/Scripts/Editor/ProjectSettingsWindow.cs#L58-L86) with https://github.com/Microsoft/HoloToolkit-Unity/pull/392, correct?

I was unable to reproduce this in the current version.

[2017-02-03 16:03] #295 closed

[2017-02-03 16:09] HodgsonSDAS commented on #407
closing this in favor of 111

[2017-02-03 16:09] #407 closed

[2017-02-03 16:20] HodgsonSDAS commented on #489
I think Unity is getting faster with these patch releases! (That was two in one week!)

Patch 5.5.1p2 is out today with a few HoloLens specific fixes:

[2017-02-04 00:44] bobbycho opened #501 "In sharing, how to update the position of the spawnObject?"
Hi,

Once I spawned a cube, I moved a new position when I clicked as shown below. But, the new position was not synchronized with other HLs.

public void OnInputClicked(InputClickedEventData eventData)
{
DefaultSyncModelAccessor spawnedObject =        GameObject.Find("Cube").GetComponent<DefaultSyncModelAccessor>();
SyncSpawnedObject cube = (SyncSpawnedObject ) spawnedObject.SyncModel; (I am not s

[2017-02-04 05:48] S-Hodgson-MMOARgames commented on #490
Repro Steps:

1. New Project
2. Import HTK asset package
3. HoloToolkit -> Sharing Service -> Launch Sharing Service

![image](https://cloud.githubusercontent.com/assets/22268546/22616068/78f1ac84-ea73-11e6-91c8-b649dd9224c7.png)

[2017-02-04 13:09] lycheeyy opened #502 "add Cursor,Directional indicator,Navigation and Manipulation Input"
Hello,
I'm very new in unity, I just got the HoloLens. It’s amazing!! I already impoted holotoolkit(1.5.5.0) to assets folder. And I’m following the academy tutorial. Everything is alright and I can get the same effect like in the tutorial with the files that provided in the beginning of the tutorial. But when I created my new project, I got confused. As follow the tutorial as before, I cannot fin

[2017-02-04 16:02] S-Hodgson-MMOARgames commented on #502
The HoloAcademy and HoloToolkit are not the same.
There's actually a [repository dedicated for the HoloAcademy](https://github.com/Microsoft/HolographicAcademy).

[2017-02-04 21:53] lycheeyy commented on #502
@S-Hodgson-MMOARgames
Thanks for replying me. I already learned all the academy tutorials and got good result. Then I installed the **latest holotoolkit** and want to build my own project. My task is very basic and simple, I got a solidworks assembly, the effect what I need is, I can see the assembly hologram and interact with it, like move, rotate, explode the parts, etc in my hololens. Now I alr

[2017-02-04 22:06] sberhorst commented on #502
@S-Hodgson-MMOARgames
I can appreciate what @lycheeyy is saying as I am also new to Holo development.  Super great stuff, and the Academy was really straight forward.  A robot could have executed the steps as they were all prepackage, and ready to go.  It led to great quick and dirty to get into Holo Development, but as we now continue to take the next step and use the HoloAcademy as a starting po

[2017-02-04 22:19] lycheeyy commented on #502
@sberhorst yes, copy and paste.
As the very beginner, follow the academy is the best way to learn, but after this, just get confused. There's no information about how to build a new project without the files that provided by the academy tutorial.

[2017-02-04 22:20] sberhorst opened #503 "Sharing Service: is WAN network for multi-user supported?"
Can someone point me in the right direction for laymen usage of SharingService.exe and the SessionManager?

Objective:  Replicate and replace the HoloAcademy 240 example with my own assets using this latest toolkit across the Internet.  I know the Unity matchmaking service does not support Hololens, Soooo I'm assuming it needs to be built.  The HoloToolkit seems to have solved this problem with th

[2017-02-04 22:35] sberhorst commented on #502
@lycheeyy
I found that https://github.com/Microsoft/HoloToolkit-Unity/blob/master/GettingStarted.md did a nice job in getting the environment set up the correct way.  These guys have done a fantastic job of GUI driven setup for a Holo environment.  The problem exists for you here because the scripts used in the HoloAcademy do not reside in in the same manner, and some just don't exist at all, so y

[2017-02-04 23:09] S-Hodgson-MMOARgames commented on #503
Take a look at my latest PR https://github.com/Microsoft/HoloToolkit-Unity/pull/496.

It adds a way to unpack the sharing service with the asset package.

Currently you need to manually download/copy the externals folder [right here](https://github.com/Microsoft/HoloToolkit-Unity/tree/master/External) from this repository.

FYI, the HoloToolkit and the HoloAcademy are not exactly the same.   If yo

[2017-02-04 23:20] S-Hodgson-MMOARgames commented on #502
@lycheeyy @sberhorst , I encourage you guys to take a look at each scene in each of the test folders. They pretty much demonstrate how to use each of the components.

I've really been trying to get the documentation up to speed, but when it comes down to it, you're really just going to need to read the code and get your hands dirty trying stuff out.

If you want help I charge by the hour 💸 or 🍺 ha

[2017-02-04 23:27] S-Hodgson-MMOARgames commented on #502
@lycheeyy

For getting simple input working like a tap or gesture you will need to write your own script that will handle the right kinds of inputs for you. Specifically you're going to want to write a class that's similar to [TapResponder.cs](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Input/README.md#taprespondercs)

Pretty much any input script you write will i

[2017-02-04 23:34] sberhorst commented on #503
Yup, I actually cloned the entire project, so it included the Externals folder.  I got the same error message you guys where talking about, so I copied that External folder into the root directory of my Unity project.  That seemed to have solved the problem of getting access to it to spin it up.  I can run both the share as well as the session manager.

So I'm not really interested in the Holo Aca

[2017-02-04 23:40] S-Hodgson-MMOARgames commented on #503
Hmm, sharing assets may require a bit more work, you'd have to export asset bundles with the assets you're trying to share.  [That's covered extensively in the Unity documentation](https://docs.unity3d.com/Manual/AssetBundlesIntro.html).

[2017-02-05 01:57] S-Hodgson-MMOARgames commented on #503
Just to keep others who are watching this thread in the loop, @sberhorst was wondering if the sharing service supports connecting across the internet, and not just local networks.

[2017-02-05 21:25] jbienzms opened #504 "ManualCameraControl in Docs and Documenting Changes"
ManualCameraControl is still referenced at these locations:

[ColorPicker Readme](https://github.com/Microsoft/HoloToolkit-Unity/blob/135224a041201d388945a516bfdb0423ac9536cb/Assets/HoloToolkit-Examples/ColorPicker/README.md)

[MDFiles Readme](https://github.com/Microsoft/HoloToolkit-Unity/blob/bbc2aa9c4d44180bf3e2cfe719844ae324229025/External/HoloToolkit/Utilities/DocSource/MDFiles/ReadMe.md)

[I

[2017-02-06 14:18] HodgsonSDAS commented on #504
I'm curious to know if the MDFiles were autogenerated.  Could be fairly easy to just regenerate.

I also noticed a lot of those files are not directly linked anywhere in the main page, and I didn't even know a lot of them existed until recently.

[2017-02-06 15:55] DrNeuroSurg opened #505 "Autodiscovery (sharingmanager) isn't working"
Again:
The Sharing test scene: Setting AutoDiscoverServer = true **and** leaving the Server-Address empty there is no server found (not locally, nor remote - even in the same subnet).

This worked with schema 15 ... !
See #491

[2017-02-06 15:59] HodgsonSDAS commented on #505
Duplicate of https://github.com/Microsoft/HoloToolkit-Unity/issues/493

[2017-02-06 16:15] StephenHodgson opened #506 "Sharing Service: Unity Editor crashes when setting client role to Unspecified or Secondary"
Repro Steps:

1. Open `SharingTest.scene`
2. Set `Sharing.prefab` Client Role to Unspecified or Secondary
3. Start Sharing Service
4. Play in editor
5. Observe crash report.

[2017-02-06 18:46] HodgsonSDAS commented on #503
@sberhorst, I've been having issues just getting two to connect over just a wireless local area network as well.

[2017-02-06 19:04] HodgsonSDAS opened #507 "Sharing Service: Unable to get clients to connect to server"
Currently unable to build the SharingTest scene get HoloLens devices to connect to the sharing server over a wireless local area network.

Repro Steps:

1. Open `SharingTest.scene`
2. Start Sharing Service.
3. Copy Sharing Service IP address from server log and paste into Sharing Stage: Server Address field on your `SharingStage` scene object.
4. Build Settings -> Add current scene.
5. Build and d

[2017-02-06 19:19] NeerajW commented on #507
So it worked over WiFi?

[2017-02-06 19:21] HodgsonSDAS commented on #507
Does not work via WiFi.

[2017-02-06 19:22] NeerajW commented on #504
I believe [Doxygen](http://www.stack.nl/~dimitri/doxygen/) is a tool that can be used to generate API docs. I have not tried it personally though.

[2017-02-06 19:25] HodgsonSDAS commented on #501
Still trying to figure this out myself @bobbycho.

[2017-02-06 19:25] NeerajW commented on #507
It would be worth investigating which changes broke this. Was it the big refactor stuff or something later than that. Sorry I am stuck with snow and don't have a device at the moment :(

[2017-02-06 19:27] HodgsonSDAS commented on #507
No worries, I'm pretty sure it's the binaries that are broken.

[2017-02-06 19:33] NeerajW commented on #502
@lycheeyy  and @sberhorst completely appreciate and understand the problem you are having. And thank you giving another data point. This is a very typical issue with OSS and non-OSS components :) Academy is designed exactly for folks like you who are beginners and may or may not have experience with Unity or C# development. As HoloToolkit is OSS it grows as the developers using it grow. So it can

[2017-02-06 19:36] NeerajW commented on #507
@matthejo might be able to help with specifics.

[2017-02-06 19:39] bobbycho commented on #501
Thanks HodgsonSDAS. Please let me know when you resolve it.

Thanks again,
Woon

[2017-02-06 19:50] StephenHodgson opened #508 "Refactor redundant Interpolation Scripts"
[QuaternionInterpolated.cs](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Utilities/Scripts/InterpolatedValues/QuaternionInterpolated.cs) and [Vector3Interpolated.cs](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Utilities/Scripts/InterpolatedValues/Vector3Interpolated.cs) seems to be very similar to
 [InterpolatedQuaternion.cs](https

[2017-02-06 19:50] sberhorst commented on #503
@HodgsonSDAS I saw your new bug post.  I'm glad you guys are looking at it.  I figured it was just me having these issues with the service.

It would really be great if there was a more robust/verbose logging mechanism within the sharing service to be able to pinpoint connection issues other than the good ol' pcap which can be rough to interpret at times.  There should also be some mechanism to ac

[2017-02-06 19:54] HodgsonSDAS commented on #503
No worries, yeah after our conversation this weekend I thought something might be wrong.

If you'd like to take a look at the source, it's over in the main [HoloToolkit repository](https://github.com/HodgsonSDAS/HoloToolkit/tree/master/Sharing).  I'm currently unable to compile c++ code here at work, so I can't crack it open to take a look.

[2017-02-06 20:16] HodgsonSDAS commented on #507
Actually... Seems like my firewall was blocking it.  Thought that it was configured properly.

Never got a new prompt to allow the Sharing Service through the firewall.
Gonna keep on with more testing, and might add that in the documentation.

[2017-02-06 20:16] #507 closed

[2017-02-06 20:23] HodgsonSDAS commented on #503
@sberhorst, seems my firewall definitions needed to be updated. That issue is now closed.

[2017-02-07 16:14] thebanjomatic commented on #502
@NeerajW would it make sense to change the name of the toolkit that's part of the Academy tutorials ? It seems to me if it was called "HolographicAcademyToolkit" or something similar throughout the academy it wouldn't be as surprising that the code is divergent.

[2017-02-07 16:19] bobbycho commented on #501
I figured it out. Once I changed the root of the spawned objects, synctransform did not work well.
I fixed it.

Thanks,
Woon

[2017-02-07 16:19] #501 closed

[2017-02-07 17:36] matmuze commented on #481
This issue was probably due because my suddenly camera lost its original position & rotation (which is weird because I only modify these values in play mode, probably a unity glitch or something). Resetting the camera position and rotation will solve this issue.

[2017-02-07 17:46] r2d2rigo commented on #465
Why not provide an Editor-only implementation using `System.Net.Sockets` instead?

[2017-02-07 17:47] basuarya commented on #448
@GKersten Can you pleas elaborate how did you use IManipulationHandler to rotate gameobject?
Thanks.

[2017-02-07 17:54] basuarya commented on #277
@maxouellet Hello, I would like to know how to rotate a gameobject using ManipulationHandler. Please help?

[2017-02-07 18:08] HodgsonSDAS commented on #481
That's good to hear!

Did you submit a bug report to unity?

[2017-02-07 18:54] matmuze commented on #481
No I just made a script that always reset my camera transform.

I don't really want to bother them because I have literally no clue how/when/why the camera transform suddenly keeps changes made in play mode.

[2017-02-07 19:03] HodgsonSDAS commented on #481
I'd do a search and make sure you're not manually changing the camera transform for any reason.

[2017-02-07 19:22] HodgsonSDAS commented on #502
@thebanjomatic that's a good point. Do they currently share the same namespaces?

[2017-02-07 20:49] thebanjomatic commented on #502
@HodgsonSDAS I only checked Holograms 210, but scripts have the namespace as: `Academy.HoloToolkit.Unity`, and they sit inside of the `Assets/HoloToolkit-Gaze-210` folder, so there aren't any collisions.

I guess its already spelled out a little bit that its a specific fork of the holotoolkit, but I do think the right choice of name could make things more clear. I just don't know what that name wo

[2017-02-07 23:28] NeerajW opened #509 "InputManager: Add OverrideFocusedObject functionality"
Much like we did previously, add a property so users can override the gesture input and route input to specific gameobjects without having the need to have a collider on that object.
Currently input module forces us to have a focusedObject always.

This is useful in placement scenarios where we could be focus locked or simply started scenarios which don't have renderer or colliders say for anchor

[2017-02-08 13:54] lycheeyy commented on #502
@NeerajW  @S-Hodgson-MMOARgames It works!!!Thank you! I can see the cursor on and off my assembly!
I still have problem with gestures. Now I can use gaze and see the cursor. I can move the assembly using "Hand Draggable"script. I can use "HeadsupDirectionIndicator" as you told me in Utilities folder. But I can't get the same effect like in academy 210 and 211:
1,”Interactible(choose different part

[2017-02-08 22:20] genereddick opened #511 "Can't notify user of manipulation event"
I'm getting an error where manipulation drops but the OnManipulationCanceled event never gets called. The object gets stuck in this state and cannot be selected or manipulated again.

The error reported is:

    Can't notify user of manipulation event - error code says we successfully retrieved the delta, but it's null!

    (Filename: C:/buildslave/unity/build/Runtime/VR/HoloLens/Gestures/Gesture

[2017-02-09 16:04] jmfranz opened #512 "Hololens LiveView does not work with remoting"
Hey Folks,
I've noticed today that if you enable live while using an application in "remote to device" mode the holograms on the right eye scale up (a lot) and move around with the user's head. If I run the same application directly on the HoloLens the issue does not occur.

I am not sure if this is an limitation of the remoting or a bug. It is also hard to record this but it should be easy to rep

[2017-02-09 19:10] HodgsonSDAS commented on #489
Patch 5.5.1p3 is out today. HoloLens specific fixes:

- (850327, 851586) - HoloLens: Fixed an issue with InputField automatically getting activated for text entry as soon as you gaze at it.
- (none) - HoloLens: Prevented a potential memory stomps in very rare repro cases when resuming from suspend.
- (859819) - Graphics: DrawProcedural draws geometry only in the left eye when Single Pass is enable

[2017-02-09 19:20] HodgsonSDAS commented on #512
Are you sure this isn't a bug with Unity and not the HTK?

[2017-02-09 19:21] HodgsonSDAS commented on #511
Hi @genereddick, could you share some example code so I can confirm?

[2017-02-09 19:26] jmfranz commented on #512
Hey Stephen, it might be but this only happens when I am remoting (which is
provided by the toolkit isn't? I might be wrong here) and turn on live view
on a other computer.
Left eye works perfectly, right eye doesn't.

Any tips for me to investigate further and provide extra info?

On Thu, Feb 9, 2017, 15:20 Stephen Hodgson <notifications@github.com> wrote:

[2017-02-09 19:28] DrNeuroSurg commented on #493
Any news here ?

[2017-02-09 19:30] HodgsonSDAS commented on #512
No I believe the remoting features are built into the editor.

Sounds like it might be something to do with the graphics device on that particular machine.

[2017-02-09 19:32] HodgsonSDAS commented on #493
I think part of the issue is embedded into the sharing service binaries that come from the main [HoloToolkit](https://github.com/Microsoft/HoloToolkit) (which is written in C++).

I've been doing a lot of work trying to make sure everything is working again with the test scenes.
Unfortunately I haven't gotten this to work.

[2017-02-09 20:25] #509 closed

[2017-02-09 20:56] jmfranz commented on #512
Hmm I thought it was from the toolkit, not sure why. I'll open a post on the Unity forums :)
The setup was:

- Remoting machine:
Windows 10 x64
 Unity 5.5
 GTX 1070
- Live view machine
 Surface Pro 3

[2017-02-09 22:20] HodgsonSDAS commented on #512
Is it for a HoloLens companion application?

[2017-02-09 22:20] HodgsonSDAS commented on #512
Check out the [HoloLens Companion Repo](https://github.com/Microsoft/HoloLensCompanionKit)

[2017-02-09 22:46] StarWardo opened #514 "How do you exclude objects from gaze input?"
I am looking for a way to let the Hololens ignore certain objects that would not be affected by gaze input. When a gameobject is inside another gameobject (for example a glass orb) they cannot be tapped.

[2017-02-09 22:48] HodgsonSDAS commented on #514
I actually just merged a PR that addresses this exact issue. https://github.com/Microsoft/HoloToolkit-Unity/pull/510

You'd want to assign an overridden focused object.

[2017-02-09 22:50] HodgsonSDAS commented on #514
Also, you can assign objects to specific layers and on the InputManager's Gaze Manager remove the layer you'd like to ignore.

Or just remove the collider from the object you're having issues with.

[2017-02-09 22:56] HodgsonSDAS commented on #495
Doesn't help that the test scene doesn't work on device.

[2017-02-09 22:57] HodgsonSDAS commented on #495
I was able to get this working pretty well, but kept getting duplicate objects when I only wanted a single one haha.

[2017-02-09 23:01] StarWardo commented on #514
Sorry that I missed that, thanks a lot!

[2017-02-09 23:01] #514 closed

[2017-02-10 01:11] S-Hodgson-MMOARgames commented on #514
No worries, glad I could help.

[2017-02-10 16:16] #512 closed

[2017-02-10 19:54] genereddick commented on #511
Sorry, I already refactored everything and it has stopped happening.

As near as I can tell it occurred — both on HoloLens and the Emulator — when two sets of code, an Update and OnManipulationUpdated were both interacting with and moving the same object.

If it comes up again I'll capture in more detail and post a new issue.

[2017-02-10 20:02] dbastienMS opened #515 "Existing materials should be converted to use FastConfigurable"
This would result in a very large performance improvement and show best practices.

[2017-02-10 20:25] NeerajW commented on #511
I will try to build a min repro. I think it's with having Tap and Manipulation enabled on the same GR in GestureInput.cs.

[2017-02-10 23:06] genereddick commented on #511
I have both enabled.

[2017-02-12 01:07] S-Hodgson-MMOARgames opened #516 "Sharing Service: Many components do not handle server disconnects properly."
I've noticed a lot of the Sharing Service components do not handle disconnect & reconnect scenarios.

[2017-02-13 13:10] mgraszek commented on #499
Hi
Thanks for answers.
About 1):
I've read the documentation a lot of time since it changed, and the only thing allowing me to AirTap is putting some invisible object next to me (far away) and "tapping" it, or add some method inside library class InputManager (not remembar exact name, but it was something similar) and  listen when application recognize tapping.

About 2):
I didn't get how IManipul

[2017-02-13 20:53] DominicBoettger opened #517 "Sharing Service: How to remove sync objects"
I was not yet able to figure out how a spawned object could be removed.

I tried this (but it's only deleted locally):

[code]

[2017-02-13 22:14] HodgsonSDAS commented on #517
You need to keep a cached reference to the GameObject you're creating.  You also need to make sure that the user "owns" the object when spawning.

Here's an example of something I've done:

[code]

[2017-02-14 15:03] yacuzo commented on #493
I use the Holotoolkit library directly for sharing (not the scripts in this repo), and i have the same problem, so I made an issue at the Holotoolkit repo: https://github.com/Microsoft/HoloToolkit/issues/70.

[2017-02-14 20:02] #290 closed

[2017-02-14 20:03] #453 closed

[2017-02-14 20:04] #377 closed

[2017-02-14 20:05] #193 closed

[2017-02-14 20:07] #495 closed

[2017-02-14 20:09] HodgsonSDAS commented on #495
I plan up updating the two new sharing scenes in the near future https://github.com/Microsoft/HoloToolkit-Unity/issues/494

[2017-02-14 20:11] #502 closed

[2017-02-14 20:17] HodgsonSDAS commented on #499
1) All you need to get a tapable object is a collider and a custom `MonoBehavior` attached to it that implements `IInputClickHandler`, `IFocusable`, and `IInputHandler`.
2) Awesome! What you've learned here should also apply to above.
3) Really the only thing to do to avoid judder and shaking is to keep the frame rate at 60 fps and the graphics instructions low.

[2017-02-15 04:37] xwipeoutx opened #518 "Request: Better camera display"
The low FOV of the default camera makes it difficult to have context around what is in the room.  My suggestion is:

* Increase the FOV back to `60` (camera default)
* Show a box representing the "viewport" of the hololens (which is essentially at 14 degrees FOV)
* Decouple the input icons from the camera FOV

The result would be similar to the Web Portal's 3D View (in first person mode) - the gre

[2017-02-15 14:24] HodgsonSDAS commented on #518
This looks like a view from the device portal, correct?

Or is this a view from the editor using Holographic remote?

[2017-02-15 15:17] HodgsonSDAS commented on #481
@matmuze any update on this, or how to reproduce it?

[2017-02-15 15:19] HodgsonSDAS commented on #188
@mrbobbybobberson, did https://github.com/Microsoft/HoloToolkit-Unity/issues/290 also address this?

[2017-02-15 17:37] ForrestTrepte opened #520 "can't capture photos at 1280x720 resolution after using SpatialUnderstanding"
I am having a problem when I include SpatialUnderstanding in my application. This problem occurs whenever SpatialUnderstanding_Init is called, even if I am not actually using any SpatialUnderstanding features.

When I later call PhotoCapture.StartPhotoModeAsync, the following error is printed to debug output:
Failed to set capture resolution (hr = 0xC00D36B4)
(Filename: C:/buildslave/unity/build/R

[2017-02-15 20:38] mrbobbybobberson commented on #188
I believe it addressed it only in a minor way, but there’s a lot more that can be done for #188.

Sent from my Windows 10 phone

From: Stephen Hodgson
Sent: Wednesday, February 15, 2017 7:19 AM
To: Microsoft/HoloToolkit-Unity
Cc: Robert El-Soudani; Mention
Subject: Re: [Microsoft/HoloToolkit-Unity] How to Save Understanding Mesh(#188)

@mrbobbybobberson, did #290 also address this?
—
You are recei

[2017-02-15 20:39] mrbobbybobberson commented on #188
@matmuze has some great ideas on that.

Sent from my Windows 10 phone

From: mrbobbybobberson@gmail.com
Sent: Wednesday, February 15, 2017 12:38 PM
To: Microsoft/HoloToolkit-Unity; Microsoft/HoloToolkit-Unity
Cc: Mention
Subject: RE: [Microsoft/HoloToolkit-Unity] How to Save UnderstandingMesh(#188)

I believe it addressed it only in a minor way, but there’s a lot more that can be done for #188.

S

[2017-02-15 21:47] HodgsonSDAS commented on #503
@sberhorst, you mentioned in our conversation on LinkedIn, you were able to get a client to connect over WAN?

[2017-02-15 22:32] xwipeoutx commented on #518
@HodgsonSDAS , thanks for your reply. A few notes.

The recommended camera settings on the Windows Holographic site mention nothing about FOV - and their example screenshot has `60` as the FOV.

Note the FOV setting of the unity camera does not affect the render when on a device or emulator.

I would think that showing more context, with a box saying "this is what will be on the HoloLens" will lea

[2017-02-15 22:56] ForrestTrepte commented on #520
REPRO CASE:
1) Open HoloToolkit-Unity in Unity 5.5.1f1.
2) Create new scene.
3) Create a game object with the atached PhotoCaptureExample.cs script. (This script is based on https://docs.unity3d.com/ScriptReference/VR.WSA.WebCam.PhotoCapture.html, but the resolution is changed to 1280x720.)
4) Add the SpatialMapping prefab to your scene.
5) Add the SpatialUnderstanding prefab to your scene. In the

[2017-02-15 23:01] sberhorst commented on #503
@S-Hodgson-MMOARgames ,
YES!!! we finally got the WAN sharing working pretty smoothly.  We are now in the process of understanding how much can be shared via this service.  Initially we looked at UNET per your suggestion, and it's connection capability is far superior and consistent, but its documentation of it's usage is lacking.  We looked at the sharingwithUNET as a starting point, and we have

[2017-02-15 23:03] sberhorst commented on #503
Issue closed at this point, imho.

[2017-02-16 00:31] S-Hodgson-MMOARgames commented on #518
You're right, I should have left this open a bit longer for others to comment on. My Apologies.

[2017-02-16 08:14] cnspaha opened #521 "Changing cursor according to hovered object (Custom Cursor)"
**What I am trying to do:**
If my gaze hits a target (TargetedObject in Cursor.cs) I wanna show a custom cursor like in the hologram app where the cursor becomes two arrows for rotating the object.

Is there any simple way to achieve this?
As far as I know there is a "contextual" state in the Cursor.cs which is meant for something like this, but it isn't used anywhere...

**I already made a simple

[2017-02-16 14:26] HodgsonSDAS commented on #520
Thanks for the report @ForrestTrepte.

Instead of attaching a zip file could you share the project here on GitHub?  Thanks.

[2017-02-16 14:27] #503 closed

[2017-02-16 14:27] HodgsonSDAS commented on #503
Yeah the only thing holding me back from UNet is the price.

[2017-02-16 14:53] HodgsonSDAS commented on #521
Hi @cnspaha.  I've seen many projects just create their own implementation of the cursor and just animate the cursor changes via `OnFocusedObjectChanged`.  Checking the layer is much more efficient than using `GetComponent<T>`.  Take a look at the `DefaultCursor.prefab` and `AnimatedCursor.cs`.

[2017-02-16 16:39] ForrestTrepte commented on #520
You can access the repro case from my fork at https://github.com/ForrestTrepte/HoloToolkit-Unity/tree/issues/520_SpUndPhCap_FailedMinRepro. Use the scene Assets/Issue520.unity. Is that a good way to share the project? (I'm a new to GitHub and I don't know the best way to do things yet.)

By the way, the zip file just contains a C# script. (I couldn't figure out how to attach a .cs file to this iss

[2017-02-16 16:47] HodgsonSDAS commented on #520
I'd say so.  For instance, my work policies don't allow me to download zip files.

[2017-02-16 18:28] DominicBoettger commented on #495
By the way.... Wouldn't it always be better to use the UNET protocol instead of the Hololens sharingserver..?

[2017-02-16 18:32] HodgsonSDAS commented on #495
Depends on your use case. UNet is a paid service offered through Unity, where as the sharing service is hosted on your own equipment.

[2017-02-16 19:59] DominicBoettger commented on #495
But i can also use unet in Broadcast mode or create a dedicated windows or linux exe to host the game via Unet?!....

[2017-02-16 23:59] Ziugy commented on #495
@HodgsonSDAS - Match making is the only paid portion of UNET, IIRC.

@DominicBoettger - Having used HoloToolkit.Sharing and UNET, both are viable options for HoloLens shared experiences.

[2017-02-17 01:30] calebcannon commented on #495
UNET is the name of Unity's current generation of networking components.  I.e., it's an API. Matchmaker is their online match making and server system. We use UNET based networking a lot and it works just fine on private LAN and WAN. The trick part is connecting multiple devices over WAN. You need some sort of NAT punch-through or a server that is visible on WAN ... that's where Matchmaker comes i

[2017-02-17 01:37] DominicBoettger commented on #495
Yes, everything else doesn't make any sense cause in the local network there are only broadcasts for the connections and it also works without any WAN connection. In my oppinion there is no option to charge for UNET when used in the local network.

[2017-02-17 14:46] HodgsonSDAS commented on #495
Thanks for the clarification guys. Goes to show my lack of knowledge of UNET, haha.

[2017-02-17 20:49] DominicBoettger opened #522 "Adding NETFX_CORE compiler flag"
Hello guys,

i have a app for multiple platforms which I also want to release for Hololens.
To be able to share assets and prefabs I want to use the same project, but I get compiler errors as soon as the Toolkit is included because it's uwp code. I used the #if NETFX_CORE flag a few times and asked myself if you think it would make sense to add this to every c# script in the sources.
What do you t

[2017-02-18 00:27] HodgsonSDAS commented on #522
There's already a PR https://github.com/Microsoft/HoloToolkit-Unity/pull/443 addressing some of these concerns (but instead it wraps everything in `#if UNITY_WSA`.

Here's a [poll over on the MSFT Developer forums](https://forums.hololens.com/discussion/6011/should-the-holotoolkit-unity-primarily-focus-on-the-hololens-platform#latest) that asks the community what they think.

IMO I think it's mess

[2017-02-18 05:19] mr0ng commented on #503
@sberhorst Can you point me to a any instructions for how you got WAN working? I'm very familiar with local sharing - but have not tried sharing online yet.

[2017-02-18 11:17] sberhorst commented on #503
@mr0ng I used the sharingwithUNET as one way to use WAN, and I also used the https://github.com/Microsoft/HoloToolkit-Unity/tree/master/Assets/HoloToolkit/Sharing/Tests/Scenes

This takes you through it pretty well.  difference is that the WAN service requires you to have your server host on the Internet.  So give it a public IP, make sure the firewalls are open to get to it.  I opened 20602 incom

[2017-02-20 04:36] pranavgadamsetty opened #523 "Running an External batch (.bat) file"
Hi,

I want to run an external .bat file by clicking on a UI Button in Unity 3D. Can I do this using HoloToolkit. If so, how?

Thank you

[2017-02-20 08:14] DominicBoettger commented on #522
Should we close that issue as it's duplicated? I understand the decision and of course it's not the best solution to use compiler flags, but maybe it's a workaround as long as the toolkit is not compatible....

[2017-02-20 08:30] moisoiu opened #524 "Fix compatibility issues with Vuforia: GazeTransform initialization."
**What I'm doing**
- I'm using Vuforia framework in combination with Hololens Toolkit and for some reason the DefaultCursor.prefab that I'm using (or any other cursors) the position is set somewhere else.

**How did I found/investigated**
- At first I thought that Cursor.cs would be the main cause of setting the position different but after further investigations I found out that in the GazeManage

[2017-02-20 09:05] 8greg8 opened #525 "Hand draggable changes object's rotation when it shouldn't"
Let's say I use Hand Draggable script to move some cylinder which it lies on a plane (Z rotation 90°). Is Keep Upright and Is Orient towards user are unchecked.

When I click on it in Game mode to move it, it changes rotatation to upwards (Z rotation 0°).

Shouldn't the lines 199 and 200 in Hand Draggable script simply be:

`draggingRotation = HostTransform.rotation;`

[2017-02-20 09:06] cnspaha commented on #525
probably duplicate of #519 ?

[2017-02-20 13:59] HodgsonSDAS commented on #522
I wouldn't say it's a duplicate, because of how the issue is worded and it's solution, but I think that's up to you on if it's closed.  If you decide to close it, just be sure to comment your solution in the other issue, so others have a way to see it.

Yeah I think this is something we all need to discuss as a community and see if anyone has some clever ideas to fix this, without touching every c

[2017-02-20 14:00] HodgsonSDAS commented on #523
I think this is more a [general Unity question](https://www.google.com/search?espv=2&q=unity+c%23+run+batch+file&sa=X&ved=0ahUKEwio4uX86p7SAhXHgFQKHUhHAxkQ7xYIGSgA&biw=1680&bih=920).