[2021-03-23 18:53] #2505 closed

[2021-03-23 18:58] davidkline-ms commented on #9542
thanks @qian256 ! I will forward to the correct people

[2021-03-23 19:04] davidkline-ms commented on #9459
@omanuke,

Can you send me the log file that is in c:\users\<your name>\AppData\Local\MixedRealityFeatureTool? It might help identify the issue.

Based on the error message, Unity is claiming there is a missing dependency. Based on your images, that seems incorrect.

Also, if you are willing, a copy of the manifest.json file would be helpful as well. It is possible something did not get written co

[2021-03-23 19:30] Lo118 commented on #9535
Will do but this is a projekt for an intenship so i wont be abel to send it untill tomorrow (might never send it bc ill be working on a diffrent pc whitch might not have the issue. No worrys ill close this if that is the case but i alredy thank yall for your time)

[2021-03-23 19:35] dfields-msft commented on #9542
@qian256 thanks for raising this issue! The API coverage is a bit piecemeal, driven by scenario requirements, and we haven't had a need to support SpatialAnchor so far since Unity provides the [XRAnchor](https://docs.unity3d.com/Packages/com.unity.xr.arsubsystems@3.0/api/UnityEngine.XR.ARSubsystems.XRAnchor.html) API for this (or [ARAnchor](https://docs.unity3d.com/Packages/com.unity.xr.arfoundati

[2021-03-23 20:01] qian256 commented on #9542
In our scenario, we don't use Unity ARSubsyustem or ARFoundation. The API that we find in Unity is UnityEngine.XR.WSA.WorldAnchor, which behaves weird on HoloLens. e.g. it does not show up in the anchorstore. So we sticked to the UWP SpatialAnchor API. As a result, it does not work in editor.

[2021-03-23 20:08] keveleigh commented on #9542
Hey @qian256! Can you clarify the Unity version and XR package you're using please?

[2021-03-23 20:09] qian256 commented on #9542
Unity 2019.3.1 and legacy XR

[2021-03-23 20:17] keveleigh commented on #9542
This would be very surprising and a definite regression. Were you using the [WorldAnchorStore API](https://docs.unity3d.com/2018.4/Documentation/ScriptReference/XR.WSA.Persistence.WorldAnchorStore.html) to save it in the anchor store?

[2021-03-23 20:26] qian256 commented on #9542
Could I email you for further discussion?

[2021-03-24 00:01] polar-kev commented on #7034
Feedback from @m-the-hoff that I believe is relevant here,
"I downloaded and ran the MRTK Examples Hub at my dev desk, and it spawned into the wall. The app cleverly remembers its position even on a relaunch in the shell and I could not find any way in the experience to move the array of selection icons. I had to force quit the app from the Web portal to recover."

If I understand this feature req

[2021-03-24 00:30] davidkline-ms commented on #9535
no problem. if there is any way we can help, please let us know.

[2021-03-24 00:46] MaxWang-MS commented on #9540
Please see my response to a similar case in #9528. Also please fill out our template bug report next time or it may be very hard for us to try to fix the issue without the information requested in that template.

[2021-03-24 00:46] #9540 closed

[2021-03-24 01:01] MaxWang-MS commented on #9525
Please see the solution in #9528.

[2021-03-24 03:31] keveleigh commented on #8770
@brandf Can you confirm if you're still hitting this? Looks like for Unity 2019 this was fixed in 2.3.1

[2021-03-24 03:51] SiriusA7 opened #9544 "Click flickering rapidly on 2 finger pinch - Quest"
## Describe the bug

Started happening after upgrading to MRTK v2.6
When doing a 2-finger pinch, before the index and thumb meet there is a rapid fire click flickering. When the 2-fingers finally meet, it goes back to normal.

I've included a video below demonstrating the issue.

## To reproduce

Setup a new MRTK unity project for quest following the directions in the documentation.
Build and inst

[2021-03-24 10:06] elbuhofantasma opened #9545 "Windows Speech Input Provider generates Assertion failed error with non XR SDK profiles"
## Describe the bug

When using the in-editor player to run example scenes, after the 3rd session the Windows Speech Input Provider generates an Assertion failed error every time the in-editor player is used. The error is generated on every example scene in the MRTK after it starts showing up. This issue happens without the XR SDK installed and with the XR SDK installed when trying to use a non XR

[2021-03-24 10:13] lordlycastle commented on #7034
You understand it perfectly Kevin.

It is as simple as adding a root game object and adding a button to move it to where use is looking. Or using one of the dragging prefabs from MRTK; which apparently requires ☝️ click to setup.

This is Microsoft for you 🥲 gotta love to hate these giant corporations which no longer work for their customers’ benefit.
On 24. Mar 2021, 01:02 +0100, Kevin Semple ***

[2021-03-24 10:56] elbuhofantasma opened #9546 "NullReferenceException is generated with the in-editor player and an XR SDK profile"
## Describe the bug

When using the in-editor player and an XR SDK profile to run the example scenes, a NullReferenceException is generated once as well as a constantly generating error for the XR SDK Windows Mixed Reality Device Manager. The Device Manager error will generate as long as the in-editor player is running an example scene.

## To reproduce

Steps to reproduce the behavior:

1. Create

[2021-03-24 12:07] stychu commented on #9544
+1 I also experienced this behaviour

[2021-03-24 12:57] elbuhofantasma opened #9547 "'Virtual reality supported not enabled' warning is generated with no XR pipeline package in a project"
## Describe the bug

When the in-editor player is used to run an example scene in the Unity 2020 LTS, the 'Virtual reality supported not enabled' warning is generated. This issue occurs with the OpenXR + XR Plugin Manager packages are installed in a project. This issue also occurs on a new 2020 LTS project that has not installed the XR Plugin Manager or the OpenXR package. This issue does not occu

[2021-03-24 13:00] made3 commented on #7944
Wondering, too. But given that this issue is almost a year old with no actual response I don't have any hope

[2021-03-24 14:45] Merichbier commented on #7944
I've been testing with the Touchscreenkeyboard in 2019.4 but there it was not possible to open a different keyboard than the default one. I'm wondering if there is any progress from unity side in 2020

[2021-03-24 16:09] keveleigh commented on #7944
@MaxWang-MS Is this something you've explored in your keyboard investigations?

[2021-03-24 16:10] keveleigh commented on #9547
I'd like to understand more of what this means, since the OpenXR package is part of XR SDK. Which packages are you referring to by "XR SDK package"?

[2021-03-24 16:12] keveleigh commented on #9546
@elbuhofantasma Can you check this against the dev branch please? This sounds like https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9469, which was fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9521

[2021-03-24 17:25] #9535 closed

[2021-03-24 18:19] polar-kev commented on #7380
@keveleigh have the regressions been fixed?

[2021-03-24 18:23] keveleigh commented on #7380
@polar-kev As far as I'm remembering back, yes! One of the original issue topics (hand mesh gets clipped) is still in progress.

[2021-03-24 19:10] keveleigh commented on #9545
Since this error is happening in Unity code (`UnityEngine.Windows.Speech.PhraseRecognizer.Start()`) can you file a Unity bug please? Sounds like they might not be cleaning something up properly.

[2021-03-24 19:18] polar-kev commented on #5426
- A multiplatform app can exist as one scene
- Touch screen support is supported
- Several of these questions are answered by this video on multiplatform MRTK development, https://channel9.msdn.com/Shows/Mixed-Reality/Intro-to-MRTK-Unity

[2021-03-24 19:20] polar-kev opened #9548 "Profiles should be scenario based instead of platform based"
There is often confusion on which profile to use when creating an app for a device other than holoLens. By switching to a scenario based approach vs a platform based approach, we can avoid this confusion.

See #5426 for reference.

[2021-03-24 19:21] #5426 closed

[2021-03-24 19:23] polar-kev commented on #9270
Hey @cre8ivepark, we'll be closing this issue since we are not able to repro. Please feel free to share a repro project and reopen if this issue is still affecting you.

[2021-03-24 19:23] #9270 closed

[2021-03-24 19:36] elbuhofantasma commented on #9547
I am referring to two separate configurations in that quote. The issue happens in both configurations. I also updated the issue to clarify the separation.

The first configuration is a new Unity 2020 LTS project > import MRTK .unitypackages > skip [XR SDK setup](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Documentation/GettingStartedWithMRTKAndXRSDK.md#configuring-unity-for-th

[2021-03-24 19:51] KevinKennedy commented on #5426
Wow, blast from the past 😊.  Thanks for looking into this!

[2021-03-24 20:22] akzeac commented on #9544
I also saw something similar. Does it also happen with the left hand?

[2021-03-24 22:51] polar-kev commented on #7271
is there a Unity issue blocking this @keveleigh ?

[2021-03-24 23:44] keveleigh commented on #9544
@rogpodge have you seen this?

[2021-03-24 23:49] RogPodge commented on #9544
I haven't seen this issue before. The flickering of the pointer reminds me of a bug we had before where mrtk would rapidly flicker between near and far interaction modes, so it's possible we had a regression there (will investigate)

[2021-03-25 00:45] polar-kev commented on #7380
@keveleigh is there a public Unity bug that we can add here for reference?

[2021-03-25 00:46] keveleigh commented on #7380
@polar-kev Not that I'm aware of

[2021-03-25 01:03] omanuke commented on #9459
Here. But they seems OK.
Do I have to add some entries for package server?
[MixedRealityFeatureTool.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files/6201263/MixedRealityFeatureTool.zip)

[2021-03-25 14:31] elbuhofantasma opened #9551 "ARM builds deploy as 2D slate app in certain conditions"
## Describe the bug

When the user builds an example scene for _Release > ARM_, switches to and then builds for _Release > ARM64_, deploys the _Release > ARM64_ binary to HoloLens 2, switches to _Release > ARM_, and then deploys the _Release > ARM_ binary to HoloLens 2 the example scene binary will start as a 2D slate app.

## To reproduce

Steps to reproduce the behavior:

1. Create a new project

[2021-03-25 15:37] timkeo commented on #8723
Link to the Unity bug: https://issuetracker.unity3d.com/issues/uwp-touchscreenkeyboard-shows-word-suggestions-for-password-and-other-secure-input-fields

The issue is with the [CoreTextEditContext ](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Text.Core.CoreTextEditContext?view=winrt-19041) implementation, were the "secure" flag in Unity's [TouchScreenKeyboard.Open](https://docs.unity3d.com

[2021-03-25 15:52] elbuhofantasma commented on #9551
@keveleigh This is using the Windows XR Plugin.

[2021-03-25 19:10] jelmerS2 opened #9552 "Invalid teleport layers not working correctly"
## Describe the bug

When using the teleport system, in the ParabolicTeleportPointer prefab, users can set "valid" layers and "invalid" layers.
The invalid layers settings are not respected, because all layers that are not selected as valid layer, will show up as invalid destination. So one can not let choose a layer to be ignored.
In addition, the Unity default layer called "ignore raycast" will

[2021-03-25 21:01] nuernber opened #9553 "ScrollingObjectCollection's clippedRenderers should be a HashSet"
`clippedRenderers` is currently a `List`, which makes its `Contains()` calls take forever if you have a big object collection. Changing it to a `HashSet` makes things go much faster!

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/ca6f802b2107f3275feb34ddf083bd23d9a65b49/Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs#L1679

https://github.co

[2021-03-25 21:22] #9002 closed

[2021-03-25 22:53] reeseras opened #9554 "Elastics Manager Stops Working With Rigidbody"
## Overview
The elastics manager doesn't work if a rigidbody component is attached to the same object.

## Expected behavior
The object should behave towards its snap point whether or not a rigidbody is attached to it.

## Actual behavior
Without the rigidbody component the object behaves correctly according to its snap point. Upon adding the rigidbody component, the object acts as if the elastics

[2021-03-26 02:19] #8971 closed

[2021-03-26 14:44] mbentley-uk opened #9557 "IconSet does not show Vector Sprites in Preview"
## Describe the bug

An iconset containing vector sprites will not show a preview of the icons when attempting to assign them using the Button Config Helper

## To reproduce

Steps to reproduce the behavior:

1. Add package Vector Graphics 2.0.0-preview.14
2. Add an SVG as an asset and in the inspector set the Generated Asset Type to Vector Sprite
![image](https://user-images.githubusercontent.com

[2021-03-26 15:38] jessemcculloch opened #9559 "Smart selection of "default" profile"
## Describe the problem

I've noticed a lot of people who are starting to use Unity 2020 and XR SDK are running into issues for HoloLens where they select (or we default to) the DefaultHoloLens2 profile, which causes issues with XR SDK in that it's headlocked, etc.

## Describe the solution you'd like

It would be great if when adding the MRTK components, we could check if they are using Unity 202

[2021-03-26 16:20] keveleigh commented on #9559
I'm also tracking some improvements at #9419 so we might not need to swap the selected profile at all.

[2021-03-26 17:55] davidkline-ms commented on #9400
This is under active investigation. Looking into using faster unity APIs and caching some data where appropriate.

Hope to have more to share soon!

[2021-03-26 19:30] #3569 closed

[2021-03-26 20:51] AMollis opened #9560 "[HL2] MixedRealityToolkitVisualProfiler.ShouldShowProfiler is taking 2% of Unity's Player Loop's CPU usage"
## Describe the bug

Every frame MRTK checks MixedRealityToolkitVisualProfiler.ShouldShowProfiler.  Every frame MixedRealityToolkitVisualProfiler.ShouldShowProfiler checks AppCapture.IsCapturingVideo.

AppCapture.IsCapturingVideo is not cheap because it cross an ABI boundary.  It's taking about 2% of the Unity's Play Loop's CPU usage.

Instead, MixedRealityToolkitVisualProfiler should listen to Ap

[2021-03-26 22:07] srinjoym opened #9561 "Multiple Proximity Lights Warning"
## Describe the bug

We are occasionally getting a warning from MRTK that says we are exceeding the max proximity light count. This might be related to a [past issue](https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8543) with a similar warning about hover lights.

[code]

## To reproduce
We haven't been able to reliably reproduce this warning. It seems to happen occasionally when swi

[2021-03-26 23:57] #9442 closed

[2021-03-27 00:33] cre8ivepark commented on #9481
I was able to repro the issue. Here is the example scene that shows pink material issue.
Branch:
https://github.com/cre8ivepark/MixedRealityToolkit-Unity/tree/SOC_PinkShader

Scene name:
Examples/Demos/ScrollingObjectCollection/Scenes/PinkShaderIssue.unity

Error messages: In this case, it seems it is related to TMP. However, I saw different errors for the objects that do not contain TMP.
MissingR

[2021-03-27 00:52] MaxWang-MS commented on #7944
I think this is a Unity bug/feature request as the TouchcreenKeyboard is a Unity API. If you are impacted I strongly recommend filing a bug report with Unity as that they are aware of the issue and hopefully address it. Please post a public Issue Tracker link here after you hear back from Unity so that we can better track it.

[2021-03-27 09:52] bendrexl commented on #9533
Thanks! The log doesn't look very helpful, but here it is:
`Mixed Reality Feature Tool 1.0.2103.2
[3/20/2021 22:14:35] Loading feature catalog.
`

[2021-03-28 02:51] bendrexl commented on #9533
@davidkline-ms - I downloaded the latest Feature Tool. It still exits without error, but there's a little more in the log:

[2021-03-28 03:48] WuchiOnline commented on #9534
@RogPodge @keveleigh hope you both had a great week. I have some good (and confusing) news regarding this issue!

It still makes no sense to me, but I am relieved to have found the source and solution.

As part of one of my many hail mary attempts to reproduce this bug, I decided to make a build in which I enabled my Unity splash screen. I typically have this off, but I figured why not... I've alr

[2021-03-28 03:51] WuchiOnline commented on #9534
A thought: could it be that Oculus' app ID (or some other process) is initialized during the splash screen?

[2021-03-28 21:42] WuchiOnline commented on #9534
I've stripped down the project with the reproduced issue and have submitted a bug report to Unity. In case you're interested, here's a download link to the project zip: https://www.dropbox.com/s/wayqszzrky9t59c/Wuchi_MRTKQuestHandtrackingSplashBug.zip?dl=0

One more thing I tested: disabling the splash image causes the issue, regardless of if I'm logged into Unity hub or not. I figured maybe the i

[2021-03-29 02:59] AldeRoberge commented on #8489
Have the same exact issue, 2019.4.18f1
Have you ever been able to fix it?

As a side result, I think it's why the shaders do not work.
![image](https://user-images.githubusercontent.com/4276275/112781616-356f4980-9019-11eb-8e6f-b17126a73143.png)

[2021-03-29 07:03] PattyUnity commented on #9272
I also encountered the same issue. I could start session, create anchor and get anchor ID but when find anchor button is pressed, it stuck there forever with this log "Looking for Azure anchor... please wait"

![image](https://user-images.githubusercontent.com/58160271/112798267-3f3b9000-909f-11eb-9b68-868f301dd6f6.png)

I wonder if it has something to do with the quality of the anchor when it's c

[2021-03-29 17:01] las-nsc opened #9566 "Build Window Install, Uninstall AppX, Launch and Log buttons disabled"
## Overview
In the Build Window, on the Deploy Options Tab, the built packages are listed. Previously these 4 buttons were enabled for each package, but now all of them are disabled. A restart of Unity and Windows hasn't fixed the issue. I've ended up using the device portal to deploy, which is actually better as it shows the progress more clearly, and seems to go faster (but that might be psychol

[2021-03-29 18:16] RogPodge commented on #9559
We're also looking to a better default profile system for our next big release, but this scenario is definitely on our radar!

[2021-03-29 19:36] RogPodge commented on #9534
Wow! that's a really wild find! I can't believe that it was all because of the splash screen 😅😅💦💦

Thank you so much for looking into the issue, can you @ me when the bug is accepted and publicly tracked by Unity so we can add it to our documentation? Going to close this for now in the meantime.

Thank you so much for discovering this!

[2021-03-29 19:36] #9534 closed

[2021-03-29 20:06] SafetyOrange commented on #9544
+1 can successfully reproduce with MRTK 2.6.1 & Unity 2020.3.1

[2021-03-30 00:09] CDiaz-MS opened #9573 "Update Leap Motion Documentation"
Update Leap docs in the docs repo to reflect the changes in the this PR #9494

[2021-03-30 00:20] davidkline-ms commented on #9533
Thanks! That gives me a few things to look at.

[2021-03-30 00:21] davidkline-ms commented on #9533
Can you try version 1.0.2103.3? That might have more info.

[2021-03-30 01:15] MaxWang-MS opened #9574 "Add Dwell Documentation"
Dwell documentation needs to be added as the feature is now graduated.

[2021-03-30 01:22] MaxWang-MS opened #9575 "Instructions on the MRTK unitypackage release page are not very clear"
Currently the release page is not clear in the following aspects:
- The unitypackages are not clearly marked as alternatives to the MRFT
- There is no explanation/link to explanation for which package contains what
- The link to install the tools page seems not that relevant - maybe should replace it with another link?

[2021-03-30 01:38] MaxWang-MS opened #9577 "Hard to figure out how to import samples when using MRFT/UPM"
Currently it may be hard for someone new to UPM to figure out how to import the samples into the Assets folder even after importing the examples UPM package via Mixed Reality Feature Tool.

[2021-03-30 01:45] MaxWang-MS opened #9578 "MRTK Configurator needs to be improved"
The configuration should be improved in the following aspects:
- Only show options that are relevant to the current Unity version (i.e. no Legacy XR related item on Unity 2020)
- Provide information about XR SDK and Legacy XR pipeline, check the current pipeline (if any) and ask the user to select one if none is currently used (we should provide an easy path for users not understanding the pipelin

[2021-03-30 02:06] keveleigh commented on #9578
Related to #7513

[2021-03-30 02:08] keveleigh commented on #9578
Also might be a good time to look into https://github.com/microsoft/MixedRealityToolkit-Unity/issues/7514 and verify that https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8846 and https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9547 are fixed.

[2021-03-30 02:12] keveleigh commented on #9577
I think currently this is the only mention of importing examples from UPM in our docs: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/configuration/usingupm#using-mixed-reality-toolkit-examples

[2021-03-30 04:17] #9544 closed

[2021-03-30 04:32] MaxWang-MS commented on #9577
@keveleigh I have found a way to show the UPM window (with the example package in focus) via code and would propose to add a button or something to show it in the configurator (so that new users can easily import them). By the way, do you know how to tell whether MRTK is consumed via UPM or not besides using UPM API?

[2021-03-30 14:48] Spoon2311 opened #9579 "NearInteraction not working with MRKeyboardInputField prefabs"
## Describe the bug

Entering the HandInteractionExamples Demo, there is a MRKeyboardInputField_UGUI which calls the Keyboard when entering into it with the index finger (near interaction).
Using either the MRKeyboardInputField_TMP or MRKeyboardInputField_UGUI prefab from the MRTK it won't call the Keyboard when near interacting with it.

## To reproduce

Steps to reproduce the behavior:
1. Create

[2021-03-30 16:08] #9491 closed

[2021-03-30 16:12] keveleigh commented on #9579
@MaxWang-MS Do these prefabs need NearInteractionTouchable or something added to them for near interaction?

[2021-03-30 16:15] Spoon2311 commented on #9579
@keveleigh  I tried adding the NearInteractionTouchable (plane) and then in an other try adding a boxcollider, both didn't work.

Also I can't find a difference to the Demo scene in terms of components that might be different to the prefabs.

[2021-03-30 17:02] keveleigh commented on #9577
@MaxWang-MS Hmm...you should also be able to check something like (this should be runnable in any MRTK script that won't be copied to Assets even when consumed via UPM, that way it can always be assumed to be in the right place)

[code]

I haven't tested this but logically it seems to make sense

[2021-03-30 17:29] xiiihopeestheim opened #9581 "Mixed reality keyboard decimal pad"
## Describe the bug

Not sure if i'm just doing it wrong but it seems that decimal pad does not show up when using TouchScreenKeyboardType.DecimalPad on TouchScreenKeyboard.Open. Any sample or documentation would be nice

## Your setup (please complete the following information)

- Unity Version [2019.2]
- MRTK Version [e.g. v2.4]

## Target platform (please complete the following information)

-

[2021-03-30 17:40] bauervision commented on #9543
The client ultimately decided to go with Head Gaze interaction only and this is what I was able to piece together

[code]

[2021-03-30 17:42] #9543 closed

[2021-03-30 18:05] RogPodge commented on #9534
@polar-kev can you forward this splash screen issue to Unity so we can have it listed as higher priority?

@WuchiOnline do you have a link/confirmation of the sent bug report we can use to try to help elevate?

[2021-03-30 18:16] WuchiOnline commented on #9534
@RogPodge Sure thing, here's the Unity Bug Case #: 1325113

[2021-03-30 18:34] #9552 closed

[2021-03-30 20:13] MaxWang-MS commented on #9579
I do not think that is the expected behavior. Could you try the MixedRealityKeyboard Example scene and let us know whether that works for you?

[2021-03-31 03:45] elbuhofantasma opened #9586 "Sometimes ending a Holographic Remoting session generates exceptions"
## Describe the bug

Sometimes when ending a Holographic Remoting session, one or more exceptions can be generated. This can happen with both XR SDK and OpenXR pipelines. I found this issue while quickly starting and stopping remoting sessions to switch between the Hand Menu Examples scene and the Hand Interaction Examples scene. The XR SDK pipeline has different exceptions that get thrown than th

[2021-03-31 05:23] davidkline-ms commented on #9400
We believe this is fixed (in the upcoming 2.7.0 release) by #9490

[2021-03-31 06:42] vbandi commented on #9566
Addition: if Target Device is set to "Any Device", the Install and Uninstall buttons get enabled (Launch and View Player Log buttons are still disabled).
![image](https://user-images.githubusercontent.com/1344888/113101430-fd286080-91fc-11eb-9f5e-8628a5e8d45b.png)

If Target Device is set to HoloLens, all 4 buttons are disabled as the original post says.

[2021-03-31 07:19] elbuhofantasma opened #9587 "Reading Mode functionality does not work when Holographic Remoting with XR SDK"
## Describe the bug

In the Reading Mode example scene while Holographic Remoting to HoloLens 2, the functionality of the Enable/Disable Reading Mode radial set and the Render Viewport Scale pinch slider is not effected by the manipulation of their respective control interfaces. This issue does not happen when running the example scene on device as a package.

The Enable/Disable Reading Mode radia

[2021-03-31 07:33] ZAO29 commented on #3603
Finally, what is the property to know if a checkbox is checked ? or to check/uncheck it ?

[2021-03-31 07:35] elbuhofantasma opened #9588 "The Radial Button mesh has a typo"
## Describe the bug

The 'Radial Button' mesh has a typo. It is listed in the inspector as 'Raial Buton' instead of 'Radial Button'.

## To reproduce

Steps to reproduce the behavior:

1. Open the Reading Mode example scene
2. In the Hierarchy panel navigate to SceneContent > RadialSet > Radial (X) > ButtonContent > Dot/Button/Background
3. Look at the inspector after clicking one of the ButtonCon

[2021-03-31 08:05] RogPodge opened #9590 "Let Oculus Touch controllers not use the default gizmos"
## Describe the problem

Currently, Oculus Touch controllers will always render with our global default gizmos, even if they are using the visualization provided with the Oculus integration package.

We should only show the default gizmos if the Oculus integration defaults are not used.

[2021-03-31 08:34] elbuhofantasma opened #9591 "OpenXR Holographic Remoting apps can lose hand tracking when starting a session"
## Describe the bug

When Holographic Remoting with an OpenXR app, it is possible to lose hand tracking when starting a session. The GGV pointer/input starts by default when HoloLens 2 is not tracking any hands during the start of an app that uses XR SDK or OpenXR.

 Normally when an app starts in this state and the device starts tracking hands again, the app will switch from the GGV pointer/input

[2021-03-31 09:28] las-nsc commented on #9566
Thanks @vbandi, that explains what the root cause is. I think the behaviour may be intentional, just unclear and unexpected.

I think it would be better if the MRTK build window completely superceded the unity build window so everything that affects it is contained within the same place. There are various rules about how to correctly configure builds for Hololens, so if the build window could help

[2021-03-31 09:33] vbandi commented on #9566
@las-nsc hmm... I really miss my Launch and View Log buttons... How can I re-enable them if the current behavior is intentional?

[2021-03-31 09:41] las-nsc commented on #9566
@vbandi I have seen them working on this version of MRTK/Unity, but you're right there must be another thing that affects whether they work we've not found, and again it might be intentional but is unclear and unexpected.

[2021-03-31 11:21] MoritzKoehlerDesign opened #9592 "Spot for "3D app launcher" doesnt accept any files (glb or gltf)"
The spot in the build window and the spot under build settings, it seems it doesnt accept any glb or gltf.
Tested with different glbs and gltf.

Is there an example .glb files that works?

- Unity Version 2019.4.21f1
- MRTK Version v2.61

- HoloLens 2

[2021-03-31 11:37] elbuhofantasma opened #9593 "Hand Menu example eye tracking does not function well over Holographic Remoting"
## Describe the bug

When the user is in the Hand Menu example scene over Holographic Remoting and they raise their flat palm into view of the device sensors without looking at their palm, the hand menu will populate on the user's flat palm. This issue only happens with XR SDK and Holographic Remoting.  I do not know if this issue effects OpenXR as well since articulated hands do not work over Hol

[2021-03-31 11:55] elbuhofantasma opened #9594 "XR SDK profiles contain 'Undefined' controllers in the Controller Visualiztion Definitions"
## Describe the bug

When I was looking at the Controller Visualization Settings section in the inspector, I noticed that the 'Microsoft.MixedReality.Toolkit.WindowsMixedReality.Input.WindowsMixedRealityController' Controller Type is missing for the Windows Mixed Reality Controller [Left\Right] Hand. This issue only effects Unity 2020 and the below profiles.

Profiles effected:
1. DefaultHoloLens2

[2021-03-31 12:21] Spoon2311 commented on #9579
@MaxWang-MS Hey Max, just tested the MixedRealityKeyboard Example scene.
Sadly it didn't work either, using Far Interaction the Keyboard popped up, using Near Interaction for both InputFields the Keyboard didn't show.

[2021-03-31 13:08] elbuhofantasma opened #9595 "OpenXR Reading Mode FOV change does not function"
## Describe the bug

In the Reading Mode example scene on HoloLens 2, the functionality of the Enable/Disable Reading Mode radial set. The Render Viewport Scale pinch slider functions, but the effect is significantly different from when Reading Mode is ran as a package on device that is configured for XR SDK.

This issue occurs with OpenXR and the Reading Mode example scene as a package on device

[2021-03-31 14:34] killerantz commented on #3603
I believe it's IsToggled.

[2021-03-31 14:43] agzimmerman opened #9596 "Visual profiler moves out of view while taking screenshot or recording video on the HoloLens 2."
## Describe the bug

The [visual profiler](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/diagnostics/using-visual-profiler) does not appear while taking screenshots or recording videos on the HoloLens 2.

## To reproduce

Steps to reproduce the behavior:

1. Start any app that shows MRTK's visual profiler.
2. Use the HoloLens main menu to take a screenshot. The Visual

[2021-03-31 14:54] agzimmerman commented on #9596
After gathering all of the information above and taking a screenshot for the second time, I saw the "Show Profiler During MRC"  option in MRTK configuration settings in the Inspector:
![image](https://user-images.githubusercontent.com/9367569/113163975-f7546e80-9240-11eb-80b6-fa43cec099e5.png)
By default the option is disabled. If I understand the option correctly, then I think it would lead to wh

[2021-03-31 15:18] keveleigh commented on #9594
This is fixed in 2.7.0-preview.1 via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9550. I updated the profiles to reference the correct controllers.

[2021-03-31 15:18] #9594 closed

[2021-03-31 15:25] keveleigh commented on #9591
We've been tracking this bug on the OpenXR plug-in side, so I've marked this as "external" for the moment.

[2021-03-31 15:27] keveleigh commented on #9400
Or at least improved. I'm still investigating additional paths for improvement.

[2021-03-31 15:31] keveleigh commented on #9587
This is expected. Holographic Remoting doesn't currently support the APIs required for this feature: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/holographic-remoting-troubleshooting#limitations

[2021-03-31 15:41] agzimmerman commented on #9596
@keveleigh , FYI, I just noticed I had only changed the MRTK configuration in the examples hub scene, not in the hand interactions scene, so I'll test the MRC option again.

[2021-03-31 15:50] agzimmerman commented on #9596
Update: Now I've I enabled the option properly in the scene I was building. The visual profiler no longer disappears. Instead, it moves closer to me, almost out of view, and then goes back to the original position when recording (screenshot or video) is over. But it does show up in this screenshot:
![20210331_174755_HoloLens](https://user-images.githubusercontent.com/9367569/113173411-a301bc80-924

[2021-03-31 16:25] keveleigh commented on #9596
Hmm...I think it uses some camera resolution/frustum data for placement. The changes during MRC must be messing with it...I'll take a look

[2021-03-31 17:01] davidkline-ms opened #9597 "Plan of Record: MRTK v3.0 requires Unity 2020.3"
Given the planned release timeline (estimate: end of 2021), the team has determined that Unity 2020.3 LTS will be the minimum supported version for MRTK v3.

This brings several benefits:

- Longer lifetime of Unity LTS support (2020.3 will be ~6 months into it's support window)
- Support for OpenXR!

Running total (as of 4/20/2021 ~10am PDT)

- 2020.3: 13
- 2019.4: 1

Reasons (from the community)

[2021-03-31 17:04] elbuhofantasma commented on #9587
Awesome, I did not find that in the API area of the documentation. I am closing this issue since it is expected.

[2021-03-31 17:04] #9587 closed

[2021-03-31 17:14] polar-kev commented on #9593
By default eye tracking is turned off in the XR SDK profile while we wait on some Unity bugs to be fixed.

[2021-03-31 17:28] david-c-kline opened #9598 "Proposal: Bring in MixedRealityCommander like functionality into the MRTK Build Window"
The Mixed Reality Companion Kit's [MixedRealityCommander](https://github.com/microsoft/MixedRealityCompanionKit/tree/master/HoloLensCommander) app has a UI that may help make the build window a bit more intuitive.

We should consider merging some of the concepts into the build window.

![image](https://user-images.githubusercontent.com/13281406/113185815-c574e500-920b-11eb-8c50-2ec70d650891.png)

[2021-03-31 17:31] polar-kev commented on #9419
This issue should be fixed before #9378

[2021-03-31 17:34] polar-kev opened #9599 "Difficult to acquire sample scenes"
Each Tutorial that mentions a sample scene to load as a basis for that tutorial should ideally lead to a page that describes where to find and how to download that sample. This eliminates dependencies on level of expertise and level of  understanding of current organization of entire MRTK offerings.

[2021-03-31 17:56] polar-kev opened #9600 "MRTK Scene System does not work well for VR"
We're using MRTK2.6 in a Oculus Quest project, together with the MRTK scene system. I thought I just leave my 2 cents here, just some thoughts on the scene system and Vr development.

It seems that the MRTK Scene System is designed with HoloLens in mind, which has some implications for VR.

The main problem is lighting and active scene behaviour: by default MRTK proposes to use a separate scene wi

[2021-03-31 18:00] davidkline-ms commented on #9600
We are looking for feedback on the following questions:

* Should MRTK v3 remove the scene system from the product?
* If no, how can it be made better?

Thanks!

[2021-03-31 18:01] polar-kev commented on #5969
@Cameron-Micka, putting this on your radar again.

[2021-03-31 19:49] elbuhofantasma opened #9601 "Holograms are extremely sensitive to movement during Holographic Remoting"
## Describe the bug

During a Holographic Remoting session with an OpenXR app, the holograms are extremely sensitive to movement. The issue does not necessarily occur due to low tracking conditions. This issue occurs while facing the open space in the center of a room, and while directing the sensors at a curtain with too close of a distance.

## Screenshots
This is a video of the bug with the rea

[2021-03-31 20:09] RogPodge opened #9602 "Graduate Step Slider from Experiemental"
Graduate Step Slider from Experimental

Captures these sub issues:
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9401
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8881

[2021-03-31 21:21] vbandi commented on #9597
End of 2021 means that support for 2019 LTS will be running out in a few months anyway. Also, it is usually quite troublesome to find a working combination of Unity + MRTK + XR framework + Device OS, so the more variables can be removed from this, the better. Especially if limiting supported Unity versions mean that the team has more bandwidth to focus on stability and reliability.

[2021-03-31 22:03] elbuhofantasma opened #9603 "Importing the MRTK into new projects generates new warnings"
## Describe the bug

During the MRTK import to a new project, several new warnings are generated. This bug is meant to track all of them instead of having each platform separately filed.

## **OpenXR via MRTK Feature Tool per example import warnings:**

**Pulse Shader Example**
![pulse shader warning](https://user-images.githubusercontent.com/65038391/113213597-42fd1d00-922d-11eb-8cbb-1362a62c736e

[2021-03-31 22:10] MoritzKoehlerDesign commented on #9592
Yes it works with an empty project. In the other project, the trilib importer is installed and generates a different import file.

I have to further check with trilib.
Thanks for the response!

[2021-03-31 22:24] polar-kev commented on #9603
@elbuhofantasma can you include the OpenXR version you used here?
Did this occur in Unity 2020 with the Windows MR plugin as well or OpenXR only?

[2021-03-31 22:33] elbuhofantasma commented on #9603
I have updated this issue with the OpenXR Plugin version and reference to which warnings are for which plugin.

[2021-03-31 22:49] elbuhofantasma commented on #9603
One additional warning that I found in OpenXR for importing example scenes with UPM has been added.

[2021-03-31 23:09] elbuhofantasma opened #9604 "OpenXR Plugin Sample Scene has missing namespaces"
## Describe the bug

When importing the OpenXR plugin's Sample Scene into Unity 2020 LTS with the MRTK, the following errors are generated:

![OXRSampleSceneerror](https://user-images.githubusercontent.com/65038391/113222021-06d0b900-923b-11eb-8949-117d2b02ba03.png)

## Your setup (please complete the following information)

- Unity Version 2020.3.2f1
- MRTK Version 2.6.1
- OpenXR Version 0.1.5

#

[2021-03-31 23:24] elbuhofantasma opened #9605 "Air Tap gesture on Oculus Quest can select multiple times"
## Describe the bug

When Oculus hand tracking is enabled and the user attempts to use an Air Tap to select or use an object, the input can be received multiple times. This issue does not happen with the Oculus Touch controllers. There is nothing special that must be done for this issue to occur, it happens with the standard Oculus with hand tracking import and any example scene.

https://user-ima

[2021-03-31 23:51] keveleigh commented on #9605
This looks like a duplicate of https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9544, which was fixed in 2.7.0-preview.1 via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9576

[2021-03-31 23:56] RogPodge opened #9606 "Graduate Touch Slider from Experimental"
## Describe the problem

Tracking work to graduate the touch slider from experimental

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/8119

[2021-04-01 00:16] elbuhofantasma opened #9607 "Adding WMR plugin after the Oculus Integration Package generates shader warnings"
## Describe the bug

Adding WMR plugin after the Oculus Integration Package generates the shader warnings that are found in the screenshot below. It looks like most of them are related to the Oculus provided assets.

## To reproduce

Steps to reproduce the behavior:

1. Create a new project and switch the platform to Android
2. Import the MRTK .unitypackages
3. Import the XR Plugin Manager
![Scree

[2021-04-01 00:37] whitetigerhelix opened #9608 "PokePointer asserting on lineRenderer and visuals (XR SDK)"
Updated app to 2019.4.23f1 (since there were some fixes in 4.15, we were on 4.13)
        MRTK 2.5.1
	XRSDK versions:
		    "com.unity.xr.arfoundation": "2.1.16",
		    "com.unity.xr.legacyinputhelpers": "2.1.7",
		    "com.unity.xr.management": "3.2.16",
		    "com.unity.xr.windowsmr": "2.6.1"
	Added `Microsoft.MixedReality.Toolkit.XRSDK` to link.xml
	Refactored WorldAnchors for ReferencePoints

[2021-04-01 00:43] davidkline-ms commented on #9597
From holodevelopers.slack.com

Sahil Mayenkar  5 hours ago
I think this makes sense, and I'm in support of having 2020.3 LTS be the minimum version. Another thing that this could allow is dropping  Windows XR plugin support and having OpenXR plugin be mandatory for MRTK v3 HoloLens and WMR apps. There could be benefits in having everyone on the same platform, and it might be simpler for new develo

[2021-04-01 06:27] elenzil opened #9610 "MinMaxScaleConstraint should have a mode for non-uniform clamping."
## Describe the problem

This behavior in the MinMaxScaleConstraint makes sense as a default:
[The returned vector's direction will be the same as the given vector](https://docs.microsoft.com/en-us/dotnet/api/microsoft.mixedreality.toolkit.ui.minmaxscaleconstraint?view=mixed-reality-toolkit-unity-2020-dotnet-2.6.0)

but it would be nice to have an option where each axis could be constrained indepe

[2021-04-01 15:09] GMyjak commented on #9539
The workaround I found:
1. Have two separate parents for your Slates.
2. Add Orbital component on one of them.
3. Set SolverHandler target type to CustomOverride and target to main camera.
4. Add custom FollowMeToggle to Slate, which will change parent of slate.

[2021-04-01 15:09] #9539 closed

[2021-04-01 18:04] polar-kev commented on #9604
This is not MRTK specific. @keveleigh can you transfer this to the right repo?

[2021-04-01 18:09] polar-kev commented on #9551
This one could be an external issue. The scenario of switching between ARM and ARM64 makes this feel like low priority.

[2021-04-01 18:11] davidkline-ms commented on #9551
If this behavior occurs, uninstalling the app from the device and re-deploying should be a viable workaround.

[2021-04-01 18:17] polar-kev commented on #9545
We should test this on Unity 2019 to see if this is a newly introduced problem.

[2021-04-01 18:41] davidkline-ms commented on #9597
From holodevelopers.slack.com

Dino Fejzagić:speech_balloon:  7 hours ago
The 2020.X series is an important milestone where Unity introduced some breaking changes / new concepts. So keeping 2019.4 support from here will definitely add some unnecessary overhead and maintenance effort.

Adam Hill  2 hours ago
I am fine with 2020.3 LTS as being a minimum requirement.

[2021-04-01 18:44] davidkline-ms commented on #9597
More from slack

Glen Kingston  < 1 minute ago
The webrtc package supports ARM (NOT ARM64) and OpenXR only supports ARM64.  Right now trying to juggle which versions of different packages work with which versions of unity and which versions of MRTK is a mess.  Can this get resolved before trying to force everyone to OpenXR?  Seems like it's already happening which just results in people having to

[2021-04-02 00:55] keveleigh opened #9611 "InteractableOnToggleReceiver doesn't react to Interactable.IsToggled changing"
## Describe the bug

Since `InteractableOnToggleReceiver` responds to a click instead of the state updating, it misses the case where `IsToggled` is set directly.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/207ea221e4638c5697a3b5d618b36dccaded996f/Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Events/InteractableOnToggleReceiver.cs#L37-L55

## To reproduce

Add any trigger which

[2021-04-02 17:27] studentutu commented on #9597
Please take a look at the  Azure Spatial Anchors sample https://github.com/Azure/azure-spatial-anchors-samples   for MRTK - it is not yet ported to use new XR Management Subsystems system (it uses obsolete XR Management)

[2021-04-02 17:45] davidkline-ms opened #9612 "Feedback requested: Granularization of MRTK v3 packages"
As of MRTK 2.6, there are six core MRTK packages (plus three feature **addons).**

The core six are:
- Standard assets
- Foundation
- Extensions
- Tools
- Test utilities
- Examples

For version 3, we are investigating how these packages should be granularized,.

**Why?**
The team has heard from a number of customers that MRTK's packages are too large and that there is a desire for a more ala carte

[2021-04-02 17:51] #4303 closed

[2021-04-02 17:52] keveleigh commented on #4303
We're now shipping previews out of the main branch every couple weeks! @davidkline-ms may have more concrete information on the plan.

[2021-04-02 17:59] davidkline-ms commented on #9464
This is an ongoing process. Moving to v3 for the full resolution to be in place. I anticipate some changes may occur in dot releases as specific pain points are identified.

[2021-04-02 18:30] davidkline-ms commented on #8762
@eusebiu, looking at your image again, it appears you may have Player Projects selected in Preferences.

![image](https://user-images.githubusercontent.com/13281406/113443331-9cd52280-93a6-11eb-80d0-d7432624054a.png)

If not, please delete your build folder, rebuild in Unity and see if the solution continues to contain them. If so, please re-open this issue.

Thanks!

[2021-04-02 18:30] #8762 closed

[2021-04-02 19:19] #7284 closed

[2021-04-02 20:35] machenmusik commented on #9612
Not mentioned in the description:
- Whose responsibility will it be to identify the handful of the most common combinations of functionality?
- Whose responsibility will it be to ensure that the various permutations of possible packages function properly/as desired?
I defer to the implementation team of course, but I have some concern although automated tests for each individual package may be imp

[2021-04-02 21:13] davidkline-ms commented on #9612
Thanks @machenmusik! The MRTK team would take a first pass to propose the scenario packages. We will definitely solicit community feedback to finalize the set.

[2021-04-02 23:50] cre8ivepark opened #9614 "Merge updates from MRTK Examples Hub 2.6.0"
Merge updates from MRTK Examples Hub 2.6.0 Store version

[2021-04-02 23:57] #9590 closed

[2021-04-03 00:18] RogPodge opened #9615 "Documentation for the experience settings"
## Describe the issue
We need to consolidate documentation for the new experience settings profile: #9428

[2021-04-03 00:30] cre8ivepark opened #9617 "Update landing page links to MS Docs"
Since we no longer update github.io docs, we should update all links to corresponding pages on new MRTK MS Docs.

[2021-04-03 11:48] laultman opened #9618 "MRTK 2.6.1 Feature Tool Fails to add Mixed Reality Toolkit to Unity main menu"
## Describe the bug

When starting a brand new Unity project following the documentation [here ](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr) using Unity versions 2020.2.7 - 2020.3.2 with MR Feature Tool v1.0.2103.3 Beta does not add the Mixed Reality Toolkit option to Unity main menu. This prevents configuring projects for MRTK.

[2021-04-03 12:05] laultman commented on #9459
@davidkline-ms Reading this thread, looks like you are the person responsible for issues with the Feature Tool. I left a bug report [#9618](https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9618) on Feature Tool failing to add Mixed Reality Toolkit to Unity main menu. Hope you could take a glance at it. :)

[2021-04-03 13:48] laultman commented on #9618
Additional information.
I tested the configuration tool on 2019.4.2 and higher. I was in error on the configuration selections. In addition to the features selected in the documentation I had added the Spatial Audio and the Azure MR Services for Object Anchors.
My findings:
1. Following configuration exactly as documented works and the menu is added.
2. Following the configuration and adding the S

[2021-04-03 13:49] laultman commented on #9618
Errors:
Library\PackageCache\com.microsoft.azure.object-anchors.runtime@64cc8af4365c-1617447405787\Runtime\Core\ObjectAnchorsWorldManager.cs(13,22): error CS0234: The type or namespace name 'ARFoundation' does not exist in the namespace 'UnityEngine.XR' (are you missing an assembly reference?)

Library\PackageCache\com.microsoft.azure.object-anchors.runtime@64cc8af4365c-1617447405787\Runtime\Core\

[2021-04-03 13:55] laultman commented on #9459
@davidkline-ms I did more testing and found the issue is related to the Azure Object Anchors feature selection. When selected at the beginning of a new project, this feature fails with multiple error and warnings causing the Feature Tool process to fail to complete. See #9618 for more detailed results and errors list.

[2021-04-03 13:56] laultman commented on #9618
@davidkline-ms Linking this to you.

[2021-04-03 16:17] eusebiu commented on #9612
One level might be based on providers/target platform - e.g. OpenVR, Oculus, WindowsMR, LeapMotion - and then system based - e.g. Boundary, Teleportation, Spatial Awareness, Scene System.

In general Unity projects, the size comes from the assets, not from the code, so I think this can easily be solved by just excluding the folders the developer does not want using the ~ (indeed, this is possible

[2021-04-03 19:31] davidkline-ms commented on #9612
Interesting idea @eusebiu! Thanks!

[2021-04-03 19:35] davidkline-ms commented on #9618
@laultman,

This looks like it _might_  be a path length issue (Unity is limited to 260 characters). Can you try with a project that is in the drive's root?

[2021-04-03 21:53] studentutu commented on #9597
@vbandi @davidkline-ms  also, as some of the features do need to use Nuget packages (Like QR Code scanning feature)  it would be nice if MRTK included some sort of pre-execution checks /service that will allow assembly classes to be called on the editor start  (check for Nuget packages - as NugetForUnity deletes them on the first start and you need to manually/restart unity to resolve packages )

[2021-04-04 10:20] laultman commented on #9618
I will give it a shot. By the way Object Anchors is not available in Azure Government. We are building for USMC. Any ideas on that one? The documentation online at MS has you check the include previews and references 2.7.x mrtk. This does not appear to be available. Finally, I have tried the tutorial using OpenXR on Unity 2020.x LTS version and none of them work with spatial awareness. I have trie

[2021-04-04 10:28] laultman commented on #9618
By the way here is my path that I was using in the testing above. C:\a\Unity\HL2 (I have run into the path length issue more than once.) I like the new Feature Tools a lot!  I wish there were an easier way to manage all the cloning of profiles. I make a bunch of "starter" projects.

[2021-04-04 10:38] laultman commented on #9618
Tried it again Unity 2020.3.2, with project in the root "C:\" no luck, must not be a path length unless you need to shorten some of the internal MRTK names.

Library\PackageCache\com.microsoft.azure.object-anchors.runtime@57e3d252327c-1617447405787\Runtime\Core\ObjectAnchorsWorldManager.cs(13,22): error CS0234: The type or namespace name 'ARFoundation' does not exist in the namespace 'UnityEngine.

[2021-04-04 12:11] laultman opened #9619 "MRTK 2.6.1 OpenXR Spatial Awareness Does Not Function In HoloLens 2"
## Describe the bug

HoloLens 2 app often depend on the environment. OpenXR in Unity 2020.2.7 and higher (not tested lower versions of 2020) will not display the mesh nor will the occlusion work. It is as if it is not enabled. Verified spatial perception is enable in project, that Spatial Awareness is enable in the MRTK.  Followed the MS docs [here](https://docs.microsoft.com/en-us/windows/mixed-r

[2021-04-04 12:13] laultman commented on #9618
I created a new issue for the OpenXR in Unity 2020 and MRTK 2.6.1 not working with Spatial Awareness, #9619.

[2021-04-04 20:19] adamhill commented on #9612
Is there any way we could get a rough size for each component in the current granularization & the two proposals?

And since it is probably the most restrictive deployment — Would Hololens apps share same versioned runtime components or would thy all be linked (and stripped potentially) into / out of the APK?

[2021-04-05 02:52] davidkline-ms commented on #9612
For v2.6.1, the current package sizes are approximately

- Standard Assets : 4.5MB
- Foundation: 8.4MB
- Extensions: 1.1MB
- Tools: 2.0MB
- Test Utilities: 16KB
- Examples: 53MB

I haven't done the math on the proposals, yet. I anticipate Tools and Test Utilities to be pretty much unchanged.

[2021-04-05 04:42] adamhill commented on #9612
Roughly 15.1MB total excluding samples.

15.1 M / 19 or 15.1 M / 23 ~= 795K vs 652K per package

So the size savings are really that important go customers? Why? Don't un-referenced bits get stripped by the linker anyway?

Could this be done invisibly via more granular namespaces to give the linker an "easier" decsion path for stripping? Or do I completely misunderstand how mobile stripping works?

[2021-04-05 08:46] laultman commented on #9618
More information on this issue. From my use, the issue seems to be confined to the Object Anchors insert as the process fails as described above, in every version of Unity I have tried 2019.4.2 and higher. If I do not include the Object Anchors selection the process completes.

[2021-04-05 08:54] laultman commented on #9618
Finally, I tried running the Feature Tools a second time on the same Unity project in 2019.4.23f1. The tool reported all the previously selected components as installed. The actual state of this is unknown. Unselecting the Object Anchors and re-selecting the rest of the features desired caused Unity to load something (do not know what) but the Feature Tool did not add the Mixed Reality Toolkit to

[2021-04-05 10:28] eusebiu commented on #9612
It is less than than because those packages are the actual code and assets. The compiled version of MRTK is ~2.4 MB.
![image](https://user-images.githubusercontent.com/414589/113564799-a19e0e80-9612-11eb-8a84-97bee8e9a64b.png)

[2021-04-05 16:28] keveleigh commented on #9619
Yes, spatial awareness with OpenXR was not supported in the MRTK 2.6.1 release. This work was tracked by https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9491 and added to the 2.7.0 release by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9567. It's present in the 2.7.0 preview, which you can download via the feature tool if you enable previews in the settings.

[2021-04-05 16:28] #9619 closed

[2021-04-05 17:47] Cameron-Micka commented on #9561
Interesting! This should have been addressed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/8596 which made it into MRTK 2.5.

@srinjoym if you open [HoverLight.cs](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Core/Utilities/StandardShader/HoverLight.cs) do you see the below block comment near the top of the file?

[code]

Based on your error message

[2021-04-05 18:42] davidkline-ms commented on #9618
Thanks for the detailed follow up! Do you still see errors in the console? Unity generally does not run editor scripts (how MRTK adds the menu item) when there are any compile errors.

[2021-04-05 18:45] davidkline-ms commented on #9618
Can you open the Unity Package Manager UI (Window > Package Manager) and remove the Object Anchors package? If that is still being imported, it may be what is blocking the MRTK from adding the menu.

If this solves what you are seeing, I will work with the Object Anchors team to debug their package (it may be missing dependencies).

Thanks!

[2021-04-05 19:24] davidkline-ms commented on #9597
@studentutu, can you open a separate feature request for

[2021-04-06 00:02] laultman commented on #9619
@keveleigh Thanks, I am fine with closing this ticket. However, In response to email from Kurtis "Yes, spatial awareness with OpenXR was not supported in the MRTK 2.6.1 release. This work was tracked by #9491 and added to the 2.7.0 release by #9567. It's present in the 2.7.0 preview, which you can download via the feature tool if you enable previews in the settings."

As I noted in my discussion i

[2021-04-06 00:04] keveleigh commented on #9619
After enabling previews, did you click the refresh button on the package list page?

[2021-04-06 00:06] laultman commented on #9619
I enabled them from the beginning as it was detailed in the documentation. They were never present at any time.

[2021-04-06 00:11] laultman commented on #9618
@davidkline-ms, I will try your suggestion and report back. Likely will not be tomorrow, will be on base USMC for briefing on this project. Right now Object Anchors is not available in Azure Government so it seems to be a moot point. Stuck with QR.

[2021-04-06 00:26] keveleigh commented on #9619
Have you tried clicking the refresh button to resolve this issue? I just checked the preview box, clicked refresh, and could see the preview packages:

![image](https://user-images.githubusercontent.com/3580640/113642110-f1d99880-9633-11eb-8abf-8259323c916c.png)

[2021-04-06 06:18] studentutu opened #9622 "Pre-execution checks / validation service + custom execution check/validation of Nuget Package"
## Describe the problem

Some of the features do need to use Nuget packages (Like QR Code scanning feature) it would be nice if MRTK included some sort of pre-execution checks /service that will allow assembly classes to be called on the editor start (check for Nuget packages - as NugetForUnity deletes them on the first start and you need to manually/restart unity to resolve packages )

Solution:

[2021-04-06 07:28] ThomasMountainborn commented on #9612
I would personally weigh in against further granularization. In my experience, it just makes setting up a project more of a hassle, and maintenance from your end more difficult. With every new feature, it will be a question of which package it should end up in. Or it might even require a new package altogether because it doesn't quite fit in with the current ones. As eusebio highlights above, the

[2021-04-06 08:21] laultman commented on #9619
Honestly, no. Did not know a refresh button existed and there was no instruction to use it. But I will on my next try. :)

[2021-04-06 08:33] laultman commented on #9619
@keveleigh  Found the refresh button. It is available after you get to the Discover Features step. Works as you describe. Would have been easy if there had been a Note in the documentation about this as there is absolutely no hint of it in the docs so how would anybody know. My expectation is I think, fairly normal, check the box and the action happens.

[2021-04-06 12:01] Connor-Kerwin opened #9623 "Spatial mesh observer stops stops generating meshes at distance from the origin"
## Describe the bug

XR SDK Windows Mixed Reality Spatial Mesh Observer seems to have inconsistent behaviour when moving away from the origin. I can walk 10 metres away and it stops generating any mesh, but I'm not having any errors thrown, it just seems to stop creating. I've attached a screenshot of the observer profile below. I've also set the MRTK target scale to World scale, if this helps.

#

[2021-04-06 14:49] atiemark opened #9624 "Unreliable/Confusing Button Touch Behaviour"
## Describe the bug

This issue turned up in a project during the development phase. Buttons worked in this project before. Unfortunately it was not possible to trace back the cause.

Touch registers very unreliably with the Standard Hololens2 Button from the MRTK Toolbox. The only property that was modified is the Transform of the GameObject, GameObject Name, Text and Icon.

A copy of the ```Star

[2021-04-06 16:15] davidkline-ms commented on #9619
Beyond the basic flow described on the welcome page, each step is documented on a dedicated page.

Ex: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/discovering-features#refresh-the-feature-catalog

[2021-04-06 22:30] reeseras opened #9626 "isKinematic turns off on rigidbody objects."
## Describe the bug

An object with Networked Manipulator, rigidbody and with Realtime Transform from Normcore turn off isKinematic after moving the object. It's not very consistent.

## To reproduce

Steps to reproduce the behavior:

Create an empty with 2 objects (cube and cylinder). Create an empty as a child of the cylinder and add a collider to it (check "isTrigger" and move the collider so t

[2021-04-07 03:31] #9617 closed

[2021-04-07 04:01] cre8ivepark opened #9627 "MRTK MS Docs - polish & improvements"
Layout, images, etc.

Update - Button Docs:
https://github.com/MicrosoftDocs/mixed-reality-pr/pull/2914

[2021-04-07 05:20] cre8ivepark commented on #5121
@keveleigh Created skeleton page with screenshots. Draft Docs PR: https://github.com/MicrosoftDocs/mixed-reality-pr/pull/2915

[2021-04-07 14:54] Aleana27 opened #9630 "Mesh Outlines"
## Overview
Hello,
in our project we would like to use the Mesh Outlines as described here: https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/README_MRTKStandardShader.html#mesh-outlines
Currently the outline shader is setup with Depth Write off so that it does not prevent other objects from rendering.

![Screenshot 2021-04-07 at 16 43 54](https://user-images.githubusercontent.co

[2021-04-07 17:27] davidkline-ms commented on #7274
This looks to be for non-VR / non-Hand controls (ex: xbox controller). Things to consider:

- Controls to use to engage a behavior (ex: Press A and use triggers to resize)
- How to target the specific manipulation handle (ex: upper right, front corner)?
- Accessibility considerations (ex: difficulty holding a control while adjusting another)

[2021-04-07 17:33] davidkline-ms commented on #8397
Needs a way to track when a material was customized or cached. Also a way to say "force material refresh"

[2021-04-07 17:43] davidkline-ms commented on #9446
Should add zwrite off versions of all of the sdf materials and be consistent with when it is on and off

[2021-04-07 17:43] davidkline-ms commented on #9446
OR remove any zwrite off versions.

[2021-04-07 17:46] adambehringer commented on #7274
Generalizing the behavior of ObjectManipulator would aid the integration of controller such as the Xbox Controller. However, it would also be useful for things like speech commands ("scale up the blue box by 50%") or indirect controls such as a holographic control panel that manipulates 3D objects in the scene.

In both those cases, selecting specific handles is probably not part of the user flow.

[2021-04-07 17:54] davidkline-ms commented on #9395
The code path shown falls through if there are one or more cameras in the scene and none of them are tagged with MainCamera. MRTK cannot determine the correct one to choose.

Solution here would be to explicitly tag one of the cameras.

[2021-04-07 17:55] davidkline-ms commented on #9395
For v3, we should investigate eliminating the CameraCache in favor of asking the CameraSystem for the "primary" camera (and allow secondary, etc)

[2021-04-07 17:55] keveleigh commented on #9630
@Cameron-Micka Any insights?

[2021-04-07 17:56] davidkline-ms commented on #9395
For v2.7 the code should replace the log warning with a log failure

[2021-04-07 18:13] jbienz commented on #9290
@davidkline-ms this issue impacted a customer recently. I see that it's closed for the individual above, but I'm curious how we got in this state and if there's a way it could be avoided in the future. Could the feature tool package catalog include the expected size of the package or maybe even an expected hash? And could that information be used to detect when a package is damaged?

[2021-04-07 18:16] jbienzms commented on #9290
@davidkline-ms this issue impacted a customer recently. I see that it's closed for the individual above, but I'm curious how we got in this state and if there's a way it could be avoided in the future. Could the feature tool package catalog include the expected size of the package or maybe even an expected hash? And could that information be used to detect when a package is damaged? Re-opening in

[2021-04-07 18:51] keveleigh opened #9632 "Add support for OpenXR in scene understanding SDK usage"
## Describe the problem

Currently, MRTK explicitly uses the `SpatialCoordinateSystem`s for SU, which isn't compatible with OpenXR

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/098f232ed0d9c909b9b86e4907b8fa36166b2a6b/Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs#L767-L770

## Describe the solution you'd like

The Mixed Reality Ope

[2021-04-07 19:50] srinjoym commented on #9561
@Cameron-Micka  We do have the fix for the issue with hover lights in our project, but this issue seems to be for [Proximity Lights](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Core/Utilities/StandardShader/ProximityLight.cs). We're running the latest MRTK and are still hitting this warning occasionally. Seems like we need the proximity light support to scale as we

[2021-04-07 19:54] Cameron-Micka commented on #9561
Oh sorry, yes you are right. We generally don't recommend having many proximity lights active for HoloLens 2 since they are a bit more expensive than hover lights. But, if your app does need more you can do the following: https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Rendering/ProximityLight.html#advanced-usage

But, I'm not apposed to the idea of making them scalable like ho

[2021-04-07 23:05] Cameron-Micka commented on #9630
Thank you for bringing this up @Aleana27. Unfortunately the mesh outline technique in MRTK has a few caveats which are mentioned in the docs:

`Limitations of this effect include it not working well on objects which are not watertight (or required to be two sided) and depth sorting issues can occur on overlapping objects.`

Your issue brings to light the "overlapping objects" problem. Which is als

[2021-04-08 10:19] amitsheokand opened #9636 "IsEnabled value is null in WindowsMixedRealityDeviceManager"
## Describe the bug

I created a brand new Unity project following the documentation [here ](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr) using Unity versions 2019.4.23 with MR Feature Tool v1.0.2103.3 Beta. After setting MRTK configuration profile to "DefaultXRSDKConfigurationProfile" in Playmode it throws following error

"Micros

[2021-04-08 11:07] omanuke commented on #9459
@davidkline-ms , Do u have some plan to fix this issue?
Or if u know environments on which this tool works perfectly like Unity version or some, please tell me it. I'll try it.

[2021-04-08 12:33] Vangaorth opened #9637 "MRTK Standard Shader ignoring directional light when assigned at runtime on an Asset Bundle"
## Describe the bug

On the Hololens2 device, when loading an Asset Bundle at runtime, if the shader of any of its materials is replaced with the MRTK Standard Shader then no directional light is applied and the rendering appears flat. In editor, the rendering is fine.

This also happens if, instead of changing the shader, a pre-arranged material with the MRTK Standard shader is cloned and assigne

[2021-04-08 15:45] lilfish commented on #9600
I am currently working a lot with the MRTK scene system on various small projects. There are sometimes issues when switching between projects where the profiles act weird. Though I have to admit that I have not yet used the light scenes.

I think the scene system is quite nice and should stay in MRTK. It gives the project a nice fade animation and the switching scene options (prevScene, nextScene)

[2021-04-08 17:32] srinjoym commented on #9561
@Cameron-Micka Our app is not using any extra proximity lights, I think the issue occurs occasionally when the MRTK pointers are switching on/off (as there can be multiple proximity lights active). This warning may confuse users as they haven't actually added any proximity lights.

[2021-04-08 17:55] Cameron-Micka commented on #9561
Good to know, in that case we should see why that extra light (or overlap window) is occurring. @RogPodge is this something you have time to take a peek at?

[2021-04-08 18:26] keveleigh commented on #9636
This should be fixed in the 2.7.0-preview.2 release via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9521. It seems like the underlying cause is a weird state where Unity's settings object isn't accessible. It might be good to re-open the XR Plugin Management view in Project Settings and enable/disable the provider to try to get things properly serialized as a workaround if you can'

[2021-04-08 18:26] #9636 closed

[2021-04-08 18:26] keveleigh commented on #9636
Closing as fixed, but happy to continue to conversation here!

[2021-04-09 00:27] camnewnham opened #9640 "MRTK Feature tool fails to install WLT Core 1.3.0"
## Describe the bug

Attempting to install WLT Core 3.1.0 via the MRTK Feature tool appears to fail to correctly install.
It appears that the downloaded .tar.gz is invalid based on both the error message in Unity and attempting to open the .tar.gz with 7Zip.

## To reproduce

Steps to reproduce the behavior:

1. Download feature tool
2. Add WLT Core 1.3.0 to project via tool
3. Launch project
4. O

[2021-04-09 00:50] zxzkf1992 opened #9641 "How to identify whether the left hand or the right hand is operating"
## Describe the problem
In MRTK 2.6, is it possible to identify whether it is a left-hand click operation or a right-hand click operation?
I want to grab objects with both hands in HoloLens 2 at the same time, and obtain the data of the objects separately.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and

[2021-04-09 01:20] derzorngottes opened #9642 "Windows XR Plugin change to auto-enable remoting breaks projects"
## Describe the bug

The recent update of the Windows XR Plugin package in Unity to 4.4.2 brought in a change that makes the Holographic Remoting feature automatic and tied to the play mode enter/exit. HOWEVER because it takes a couple of seconds to establish the connection some of the settings in my project which assign input connections think that there is no headset connected and instead go int

[2021-04-09 15:28] Cameron-Micka commented on #5969
I will try and support this in the coming weeks. :)

[2021-04-09 16:28] davidkline-ms commented on #9612
This is a great discussion. Please keep it going!

[2021-04-09 21:07] keveleigh commented on #9642
Please file a Unity bug and/or report this on the Unity forums! This package isn't something we publish but it handled by Unity.

[2021-04-09 21:08] keveleigh commented on #9640
@davidkline-ms FYI

[2021-04-09 21:15] keveleigh commented on #9470
Windows XR Plugin 2.7.0 has just shipped for Unity 2019.4.24+. Eye gaze should be working over remoting again _and_ is now properly in an expected world coordinate system! Let me know if you run into any issues.

[2021-04-09 21:15] #9470 closed

[2021-04-09 21:17] keveleigh commented on #8715
Windows XR Plugin 2.7.0 has now shipped for Unity 2019.4.24+. The eye gaze WindowsMRUsages should now all work! With the addition of a new tracked usage as well. They're also now all in a predictable world coordinate system and should be usable without any additional transforms to their coordinate systems. Please let me know if you run into any issues!

[2021-04-09 21:17] #8715 closed

[2021-04-09 22:08] reeseras opened #9643 "Line Tooltips don't follow handle position when moving."
## Describe the bug

Any line tooltips, even when immediately created, don't transform properly with their handle position.

## To reproduce

Steps to reproduce the behavior:

1. Using MRTK Toolbox, spawn in a simple line tooltip.
2. Move the tooltip using the move tool.

## Expected behavior

Tooltips should move with their handle positions as to not break the handle positions of objects they may

[2021-04-09 22:09] davidkline-ms commented on #9533
I believe I have a fix that will release in the coming days (1.0.2104.0).

[2021-04-09 22:14] davidkline-ms commented on #9640
Thanks for the report @camnewnham! What version of the Feature Tool are you running? There were some recent changes to attempt to help resolve this issue (catch 0 length files).

To help diagnose, can you send us the contents of the MixedRealityFeatureTool.log file?  (c:\users\<yourname>\AppData\Local\MixedRealityFeatureTool)

[2021-04-11 06:20] ltwlf commented on #9597
Totally agree. Unity 2020 should be minimum. With OpenXR as the new standard this is necessary.

[2021-04-11 06:37] ltwlf opened #9645 "Tap to Place inspector issue (advanced properties)"
## Describe the bug

When you open the Advanced Property section of "TapToPlace" you get the following exception and the Magnetic Surfaces setting is missing:
[code]

This issue is also described here:
https://techcommunity.microsoft.com/t5/mixed-reality-feedback-and-help/error-when-trying-to-open-advanced-properties-section-of-tap-to/m-p/2202628

The issue seems to be caused by orphaned serialize

[2021-04-11 06:53] ltwlf commented on #9645
I'll create a pull request to fix the issue.

[2021-04-12 09:10] slimshader commented on #8928
ETA on the merge?

[2021-04-12 09:17] Spoon2311 commented on #9579
@MaxWang-MS Hey Max, thanks for Triaging the bug.
Can you already say by when it will be fixed or in which next MRTK release it will come?

We're going to need this feature for our clients.
Thanks

[2021-04-12 09:40] Aleana27 commented on #9630
Thank you for your support. I managed to reproduce your solution in the example scene.

[2021-04-12 11:30] iluvian opened #9647 "Setting up Photon Unity Networking，the type or namespace name "Azure" does not exist in the namespace“Microsoft”"
## Describe the bug

Follow the tutorial to import the following content, the tutorial error has been cleared, my error still exists
![image](https://user-images.githubusercontent.com/39895100/114387562-2c5bac00-9bc5-11eb-98a7-c46499564e9d.png)

## To reproduce

Steps to reproduce the behavior:
The step is this link  https://github.com/MicrosoftDocs/mixed-reality/blob/docs/mixed-reality-docs/mr-de

[2021-04-12 17:04] Connor-Kerwin commented on #9623
After some investigation, local packaging and instrumenting the mesh creation process, it seems like MRTK is not actually receiving MeshInfo data from the XRMeshSubsystem after a while.

I observed the mesh info list growing to a point, around 60 or 70 meshes, at which point it stopped providing them. The number of generated meshes in the scene matched the number of items in the mesh info list, bu

[2021-04-12 20:00] keveleigh commented on #9645
Fixed by #9646. Thanks for the contribution! 🎉

[2021-04-12 20:00] #9645 closed

[2021-04-12 23:37] #8928 closed

[2021-04-12 23:37] CDiaz-MS commented on #8928
@slimshader The PR has been merged.

[2021-04-13 04:45] MaxWang-MS commented on #9579
After looking into the issue I realized that this is not a bug in code - it's just the MixedRealityKeyboardExample scene is not configured for near interaction. In that scene select the Canvas GameObject, then in the inspector click on the "Add NearInteractionTouchableUnityUI" button under the Canvas section, and then go to the newly added near interaction section select pointer in the events to r

[2021-04-13 13:29] Tiger-Cross commented on #9505
I may be wrong but I believe these are enabled for the Oculus Quest devices in Eric Provencher's [MRTK Quest](https://github.com/provencher/MRTK-Quest) Plugin. I'm currently developing an application where this type of interaction would be extremely useful, since I have disabled the hand-ray.

[2021-04-13 13:55] atiemark commented on #9624
Still haven't managed to solve this issue or any idea where it comes from - trying to isolate it by trial and error.

[2021-04-13 14:08] rubit0 opened #9653 "Remove GLTF/GLB out of Foundation - It blocks TriLib editor time model importer"
## Describe the bug

1. MRTK GLFT asset importer blocks TriLibs own GLTF importer
2. MRTK Foundation should not have a GLTF importer to beginn with, but in in Extensions or Tools.

## To reproduce

Having MRTK package and TriLib package installed the same time.

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to

[2021-04-13 15:29] WikkidEdd commented on #9653
Just to add a little to this so the MRTK team don't need to get TriLib in order to reproduce the issue.

The problem is that both MRTK and TriLib use the [ScriptedImporterAttribute](https://docs.unity3d.com/ScriptReference/AssetImporters.ScriptedImporterAttribute.html) in order to support edit time importing of gltf/glb files.  Unity only allows one imported for each file extension, so there is a

[2021-04-13 16:06] keveleigh commented on #9653
Responded on Slack but I'll copy here too for visibility:

A couple reasons MRTK has a glTF loader/importer:
1. Runtime controller render models return from [the Windows API](https://docs.microsoft.com/en-us/uwp/api/windows.ui.input.spatial.spatialinteractioncontroller.trygetrenderablemodelasync?view=winrt-19041) as a glTF 2.0 Core binary file stream, so we need some way to load those
1. WinMR sup

[2021-04-13 17:15] javdavalos commented on #9642
This is a huge problem, same thing with unity 2019.4.24f and XR plugin 2.7

Except in my case it's worse, it doesn't even try to auto connect. it fails complaining it can't find some windowsmrremotesettings.asset file and erases the machine name i enter, then says: "Atempting to initiate remoting connection with no valid machine name set."

I notice the XR plugin has an optional sample scene, wher

[2021-04-13 17:16] keveleigh commented on #8607
@MaxWang-MS Is this the issue that can be solved by your PR https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9556?

[2021-04-13 18:01] keveleigh commented on #9642
@javdavalos Can you file a Unity issue from that project please (or another min repro project where you hit this case)? I haven't been able to repro this, so it'd be good to give Unity a project in this broken state.

[2021-04-13 18:42] MaxWang-MS commented on #8607
Fixed in #9556.

[2021-04-13 18:42] #8607 closed

[2021-04-13 20:58] radicalad opened #9660 "Unity -> MRTK canvas conversion doesn't work with poke pointer by default"
## Describe the bug

In order for the poke pointer to work with Unity UI, the MRTK canvas needs all the "Additional Shader Channels" turned on. Additionally, the button to add a NearInteractionTouchableUnityUI defaults to touch, and not pointer. The combination of these two issues prevent Unity UI out of the box.

In reading the near interaction documentation, the expectation is set that by conver

[2021-04-13 20:59] radicalad commented on #9660
FYI @pinkwerks

[2021-04-13 21:45] cre8ivepark commented on #7034
In each scene, a grabbable title bar was added so that the user can grab and move the entire scene. I haven't added this for the root menu. I'll add this for the next release.

[2021-04-13 21:57] javdavalos commented on #9642
I'm afraid i don't have time for that. But it happened even on a clean project for me.

When you hit play, it fails to find the file: UserSettings/WindowsMRRemoteSettings.asset the ip address i entered is cleared and then it fails with
"Atempting to initiate remoting connection with no valid machine name set."

[2021-04-13 22:03] javdavalos commented on #9642
I found  a workaround for Unity not connecting to the remoting player. Just create a folder named UserSettings on your project and it will start working.

[2021-04-14 00:10] RogPodge commented on #9615
PR out here: https://github.com/MicrosoftDocs/mixed-reality-pr/pull/2925

[2021-04-14 00:22] #9641 closed

[2021-04-14 01:10] zxzkf1992 opened #9661 "can not use InteractiveElement in HoloLens 2"
## Describe the bug
I wrote InteractiveElement's event monitoring code in one of the scripts, and hung the script on the corresponding GameObject in the Start() method of the other script. Everything is normal in the Unity Editor, and when published to HoloLens 2, it has no effect at all. Does HoloLens 2 not support InterarctiveElement now? Or all scripts must be hung on the GameObject first, befo

[2021-04-14 05:28] camnewnham commented on #9640
No worries @davidkline-ms  here is the log:
[code]
The file isn't zero length, just appears to be corrupt. In 7Zip:

![image](https://user-images.githubusercontent.com/19278856/114658863-e1ad7180-9d35-11eb-8abf-1671a731d48d.png)

If you'd like to inspect the exact file that's getting downloaded I've uploaded it here: https://drive.google.com/file/d/1niCxkyk0Gb8-IzLMJZ-a_KrF8OMgytjy/view?usp=sharin

[2021-04-14 16:30] javdavalos commented on #9642
I tried the XR plugin on our main project, i create the usersettings folder, it connects after i hit play but it just shows a black screen.

The unity editor does see my hands though, it's just that the video is not transmitted to the headset.

[2021-04-14 16:54] keveleigh commented on #9642
This sounds like the issue where you need to enable Windows Mixed Reality under the Standalone settings for remoting, since the editor itself is a Win32 app (vs UWP).

![image](https://user-images.githubusercontent.com/3580640/114749024-5917dc80-9d07-11eb-85e1-a0e8ba321a2b.png)

[2021-04-14 17:02] javdavalos commented on #9642
Yeah I'm not sure what the problem is but there is a problem, even if it's just that how things are done now should be better communicated.

I also want to note that we also have a problem with our spatial anchors in the editor, the auto-connect takes too long and the app starts and XRReferencePointSubsystem is not ready.

I would suggest to roll back to manual connect or do not start the unity pl

[2021-04-14 17:07] keveleigh commented on #9642
Good new on this front! Unity is working on making manual/automatic connect a setting, where you get to choose one or the other.

[2021-04-14 17:25] polar-kev commented on #8961
@kndrewa, there is a gaze and dwell example scene that has been graduated recently. There is also some ongoing pointer mediation work that will accrue to this in the 3.0 time frame. Please let us know if there are any features missing based on @keveleigh's comments above.

[2021-04-14 17:37] davidkline-ms commented on #9457
This is rooted around a limitation of Unity (it is not long path aware).

Some work has been performed on this as part of #9570. More work is queued up to analyze the lengths of files such as default profiles.

The expectation is that MRTK will not be able to 100% solve this issue (a project root could be constructed that will cause any package to exceed the limit), though the team will continue t

[2021-04-14 17:59] davidkline-ms commented on #9447
Potential short-term workaround would be to make a copy and update the material that needs depth to be written.

A solution under discussion is to ensure that there are depth on and depth off versions of all MRTK materials, to satisfy the requirements of multiple scenarios (ex: better stability, reduce z-fighting, etc).

[2021-04-14 21:55] #9653 closed

[2021-04-14 22:10] RogPodge commented on #9624
Can you replicate this in with input simulation? Generally wondering if there's a consistent way to repro this.

[2021-04-14 22:34] RogPodge commented on #9627
Thanks for the work Yoon! Can you make sure to keep this updated with the changes you add to the mixed-reality-pr repo?

[2021-04-14 22:36] RogPodge commented on #9637
@Cameron-Micka wondering if your shader expertise might be able to inform what's going on here.

[2021-04-14 22:57] RogPodge commented on #9647
Hey there,

These errors generally occur when the wrong ASA package(s) are being used in the project or are missing altogether. Since you are using Unity 2019.4, so you should target ASA SDK 2.8.1 or lower. For deploying to HoloLens, the Unity project will need to have both the ASA SDK Core package and the ASA SDK Windows package.

Let us know if you still see these issues after double checking th

[2021-04-14 23:31] RogPodge commented on #9626
Looking at the Object Manipulator code, we always ensure that the isKinematic state is preserved. One thought is that there may be some state desync when operating over a network, though it's hard to say for sure.

I'm not seeing Networked Manipulator within our API, is this part of Normcore?

[2021-04-15 15:55] Cameron-Micka commented on #9637
Thank you for the in depth bug report @Vangaorth! Based on the description my guess is that a shader variant (needed for lighting) is not being compiled for the build. Which sounds somewhat similar to [this bug/pr](https://github.com/microsoft/MixedRealityToolkit-Unity/pull/7543).

I'm in the middle of a MRTK-Unreal release, but once that is complete (which should be in the next few days). I'll pu

[2021-04-15 16:08] atiemark commented on #9624
It seems like the issue turned up because I was enabling/disabling the button GameObjects via script... I am not entirely sure.

[2021-04-15 18:15] polar-kev commented on #9395
After discussing with the team, this functionality is by design. We can consider any potential improvements in a later release.

[2021-04-15 18:25] RogPodge commented on #9378
Handled by #9419

[2021-04-15 18:26] RogPodge commented on #9419
Will solve:
#9378

[2021-04-15 18:29] RogPodge commented on #9545
Potentially be solved by:
#9419

[2021-04-15 18:50] MaxWang-MS commented on #9547
Will be fixed by #9652.

[2021-04-15 18:51] MaxWang-MS commented on #7513
Will be fixed by #9652.

[2021-04-15 19:03] reeseras commented on #9626
Yes, that's part of Normcore. As well as Realtime Transform.

[2021-04-15 19:17] reillydonovan opened #9668 "Remote Rendering Build Errors"
## Describe the bug

While building with all of the latest MRTK packages I am returned the following errors:

Library\PackageCache\com.microsoft.azure.remote-rendering@5551f252e88c-1615764029433\Runtime\ARRServiceUnity.cs(368,54): error CS0234: The type or namespace name 'Storage' does not exist in the namespace 'Microsoft.Windows' (are you missing an assembly reference?)

Library\PackageCache\com

[2021-04-15 23:09] justinpando opened #9672 "TapToPlace Inspector throws errors"
## Describe the bug

This error occurs when I try to expand Advanced Properties - it also doesn't show the Magnetic Surfaces field which prevents following along with [Creating dynamic content using Solvers](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-05)

## To reproduce

Follow the above tutorial and put a TapToPlace component on an object, the

[2021-04-16 00:06] keveleigh commented on #9672
This is a duplicate of https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9645, which was fixed in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9646 and shipped today in our preview.3 release of 2.7.0.

[2021-04-16 00:06] #9672 closed

[2021-04-16 02:18] #9661 closed

[2021-04-16 05:13] dahaideyu opened #9676 "how to use sqlite in hololens"
how to use sqlite in hololens2

[2021-04-16 10:56] djee-ms opened #9677 "-sceneList is ignored in UWP"
`UnityPlayerBuildTools.cs` is parsing the argument:
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/Core/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs#L226-L228

But `UwpPlayerBuildTools.cs` is not:
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/Core/Utilities/Buil

[2021-04-16 14:22] rafshawn opened #9678 "Hand Menu Activation and Deactivation: NullReferenceException"
## Describe the bug

Built a HoloLens 2 App that features the use of the Scene System and Hand Menus that builds and runs fine, but an error message shows up when using the HoloLens and bringing up a Hand Menu. Not exactly sure if its related to the scene system, but I had no trouble using the hand menu without it.

## To reproduce

On the Unity Editor:

The error won't show up when you click play

[2021-04-16 18:04] RogPodge commented on #9630
@Aleana27 can this issue be closed with this solution or are there other improvements you'd like to see here?

[2021-04-16 18:07] #9676 closed

[2021-04-16 18:15] #9507 closed

[2021-04-16 23:12] dahaideyu commented on #7496
But I have same issue in MRTK 2.6.1

[2021-04-16 23:46] MaxWang-MS commented on #9677
Hi @djee-ms, I just took a look at the relevant files but think we are using the scenes passed in by the -sceneList flag in UWP builds.

In `UwpPlayerBuildTools` we are reading the command line arguments as follows:
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs#L112-L119

And in

[2021-04-18 15:19] mbpictures opened #9682 "No Hand Interaction with Holographic Remoting on HoloLens 2"
## Describe the bug

No kind of hand interaction (except AirTap) is working with Holographic Remoting on HoloLens 2. It seems like hands aren't recognized at all.

## To reproduce

Steps to reproduce the behavior:

1. Create a new Unity project
2. Switch Build Platform to UWP
3. Import TextMeshPro Essentials
4. Import MRTK Foundations and examples
5. Open scene which contains buttons (e.g. NearHan

[2021-04-18 20:00] atiemark commented on #9624
Steps to reproduce this issue:

- Create 2 Canvas Gameobjects with one Standard MRTK Button as a child GameObject for each.

- Follow the How-to on Pressable Buttons (Convert to MRTK Canvas, scale the canvas, add NearInteractionTouchableUnityUI [](https://docs.microsoft.com/de-at/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/button#how-to-use-pressable-buttons)

- Deploy to HL2.

In

[2021-04-19 02:53] qian256 opened #9683 "Voice command over remoting"
## Describe the bug

Voice command seems not working with Unity remoting.

## To reproduce

Open a MRTK demo scene with "visual profiler" enabled. Start remoting and play mode in Unity (with audio enabled). Voice commands of "toggle profiler" and "toggle diagnostics" do not work.

## Expected behavior

The voice command should toggle the visual profiler.

## Your setup (please complete the followi

[2021-04-19 07:44] JSWorkspace1 commented on #8878
Retested with MRTK 6.2:
The behavior feels especial awkward when scrollen a list with a large canvas size ( for example same same height as the user)  from further away. Scrolling requires very large tiring arm movements.

[2021-04-19 08:03] WikkidEdd commented on #9682
Holographic Remoting with hand tracking also requires a certain (laptop/PC) Windows OS version.

I don't think there is any mention of it in the documentation, so I'm not exactly sure what version included this feature. I know that my desktop auto-updates got stuck on version 1809 and hand tracking wasn't working, while my laptop was on 1903 and hand tracking was working. I then upgraded my deskto

[2021-04-19 08:34] imsumittyagi opened #9684 "Oculus Hands (From Hand Tracking) visible at sides when using Controller"
Oculus hands are visible at the sides when a user picks up the controllers, It is hindering the view.

## Your setup (please complete the following information)

- Unity Version [2020.2.6f1]
- MRTK Version [2.6.1]

## Target platform (please complete the following information)

- Oculus Quest2

[2021-04-19 08:53] mbpictures commented on #9682
Thank you for your reply, here is my current windows version:
![image](https://user-images.githubusercontent.com/2772553/115207498-f3a75f80-a0fb-11eb-8e0e-8faba045524e.png)

The other fact is, that it didn't work with a build & deployed directly on the HoloLens 2 either. Which Profile of the MRTK do you use?

[2021-04-19 08:53] djee-ms commented on #9677
Well it looks like you're right, I hadn't seen the call to `UnityPlayerBuildTools.ParseBuildCommandLine`. But when I tried I ended up with the scene which is configured inside the editor config, and not the one I passed on the command line with `-sceneList`. Is that because the scene list does a union instead of overwriting the selected scenes? Because in any case if there's a `-sceneList` flag I

[2021-04-19 09:03] WikkidEdd commented on #9682
Ah, sorry. I missed that little comment at the end that the built version didn't work either. Next time start with that information as it probably has nothing to do with Holographic Remoting :)

For Unity 2020 which is now XR SDK only, you should be using the DefaultXRSDKConfirmationProfile

[2021-04-19 09:27] mbpictures commented on #9682
Thanks for that! Using this Profile, I can see the spatial awareness meshes but hand tracking doesn't work...

[2021-04-19 09:43] mbpictures commented on #9682
Oh, I got an update! I just created a blank project (using the same setup) but downgraded the MRTK version to 2.5.0 and it is working!
Is there a bug in the current version?

[2021-04-19 11:14] rwetzold commented on #8830
I wanted to check back on the issue. Were you able to make any progress yet? It's been 6 months now and there seems to be consensus that the item is important.

[2021-04-19 13:03] malikkayaalp commented on #6928
Hello there. I am working on a project. Scene understanding demo works without any problems. However, I cannot activate world mesh in my own project. I choose World as the surface type. And I'm calling the mesh data to the stage. As a material, I use the material that comes with the demo. I would be glad if you could help. Thanks.

Holollens 2
MRTK 2.6.1
Unity 2020.2.1f1

[2021-04-19 15:26] Aleana27 commented on #9630
Yes, you can close this issue from my side. Thank you. Although it would be nice to see an example in the MRTK tutorials in the future like Cameron-Micka suggested.

[2021-04-19 16:04] keveleigh commented on #9684
@RogPodge Is this the issue fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9589?

[2021-04-19 16:54] RogPodge commented on #9684
You can toggle the hands off when visualizing the Oculus Controllers with this setting under the XRSDK Oculus Device Manager

![image](https://user-images.githubusercontent.com/39840334/115274065-213cda80-a0f5-11eb-950a-845c982c812d.png)

We realize it's a bit unintuitive given that it's in a separate place from the visualization settings, we're looking to address this in a future framework update

[2021-04-19 17:20] RogPodge commented on #9626
@reeseras based on the response that Normcore gave, I think this issue is ultimately a network race condition problem. What might be happening is that we release an object, or revert of isKinematic to it's previous state may be getting overridden by the synchronization being done by the Networking library.

This is difficult to test and reproduce on our end since we're not currently using Normcore

[2021-04-19 17:34] Cameron-Micka commented on #9630
Makes sense to keep this open until we can provide better examples. Thank you!

[2021-04-19 17:46] RogPodge commented on #9630
Assigning me and you Cameron for tracking

[2021-04-19 17:52] Cameron-Micka commented on #8830
Thank you @rwetzold for bringing this up. I've been focused on [MRTK-Unreal](https://github.com/microsoft/MixedRealityToolkit-Unreal) for the last few months. So, haven't had a chance to touch this.

But, something I think should be considered/prioritized for MRTK v3. @davidkline-ms what are your thoughts?

[2021-04-19 17:55] Waffle1434 opened #9685 "SpatialAwareness SerializedObjectNotCreatableExceptions"
## Description

Cloning the default SpatialAwareness profiles causes `SerializedObjectNotCreatableException`s

## To reproduce

Steps to reproduce the behavior:

1. Select scene's MixedRealityToolkit
2. Enable Spatial Awareness
3. Clone default Spatial Awareness System
4. Clone default Spatial Mesh Observer
4. Start the scene
5. Produces multiple of these two errors in console:

[code]
[code]

##

[2021-04-19 19:09] reeseras commented on #9626
Sure, but just to be clear: Are we deciding it's ultimately a problem that can't be fixed individually by Normcore or MRTK teams?

[2021-04-19 19:28] RogPodge commented on #9624
@CDiaz-MS @cre8ivepark  you might be more familiar with the latter question, since you've both done practical implementations of UI canvas's recently

@atiemark We'll track this issue and hopefully get back to you with a repro + solution

[2021-04-19 19:35] studentutu opened #9686 "Can't enable Focused speech voice command, no voice commands on buttons"
## Describe the bug

Started from the default MRTK v.2.6.1 project for Hololens 2.
Enabled microphone, camera, internet capabilities
Using Cloned version of the Default Hololens2 XR SDK configuration profile
Added Windows Speech Data Provider (described here :  https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-09?tabs=winxr )

Inside the device I see t

[2021-04-19 19:35] RogPodge commented on #9626
On the MRTK side of things I don't think there's much we can do immediately.

The best solution I think might be adding events to OnManipulationStarted and OnManipulationEnded to sync the object's state, since aggressively syncing all of the properties during play might be resulting in unforseen race conditions

![image](https://user-images.githubusercontent.com/39840334/115293086-bf3b9f80-a10b-11

[2021-04-19 19:41] studentutu commented on #9683
same issue in my app - select is being recognized but the IMixedRealitySpeechHandler does not receive any calls from the CoreServices.InputSystem

[2021-04-19 19:44] reeseras commented on #9626
I've tried setting the object's velocity to zero and isKinematic to true upon starting &/ ending a manipulation. I'd like to say it helped but it didn't entirely solve the problem. I feel like the bug happened less often, but I can't be sure. I think that's clear enough to close the issue, thanks for your help!

[2021-04-19 19:44] #9626 closed

[2021-04-19 22:56] #9011 closed

[2021-04-20 05:12] imsumittyagi commented on #9684
@RogPodge The problem is not about the Controller visualization but about a separate hand mesh that is still visible at the side (near the user's left ear ) when we pick controllers, it disappears when we use hands. Your solution only toggles the controller and hands visuals. That extra hand problem still persists.

[2021-04-20 07:11] Merichbier commented on #9056
Any news about the issue affecting Unity 2019.4.19f1 and later ? Do we have more info on it ?

[2021-04-20 07:14] Merichbier commented on #5999
I think this issue is solved

[2021-04-20 16:00] jayd16 opened #9689 "Make the MRTK Standard shader compatible with _CameraDepthTexture by adding an optional ShadowCaster pass."
## Describe the problem

I would like to use Unity's _CameraDepthTexture for a post effect type shader.  Depending on platform, Unity generates this texture with a depth pre-pass using the ShadowCaster pass.  The MRTK Standard shader does not have this pass.
https://docs.unity3d.com/Manual/SL-CameraDepthTexture.html

## Describe the solution you'd like

I would like to see an (ideally opt-in) Shad

[2021-04-20 18:17] Cameron-Micka commented on #9689
Thank you @jayd16 for opening this request! That is correct the MRTK/Standard shader doesn't have a shadow pass since we often avoid dynamic shadows in mixed reality due to performance constraints. We also avoid features that toggle a depth prepass (such as shadows, soft particles, or other technique that require depth) to keep draw calls at a minimum.

But, I could see this being useful for other

[2021-04-20 18:20] #6270 closed

[2021-04-20 18:21] Cameron-Micka commented on #9630
Linking this task since they are similar: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8252

[2021-04-20 18:22] Kaimbelic opened #9690 "Object Manupulator failing to apply Release Physics Behavior"
The Bug:

When using the Object Manipulator with Spatial Awareness System enabled in the toolkit, objects when release do not keep released physics behavior.

Steps to reproduce the behavior:

1. Create a new scene
2. Add the MRTK to the scene
3. Create an object, I use a sphere
4. Add Component Rigidbody
5. Add Component Object Manipulator
6. Select the MRTK object in the Hierarchy
7. Create a cl

[2021-04-20 20:12] studentutu commented on #9597
@davidkline-ms @vbandi @ltwlf @gabriele  also, please update the Microsoft WebRTC package to use the newest XR Management System for Mixed Reality Capture feature (currently it uses obsolete XR Management and does not work with MRTK v2.6.1 and further on XR Management). I've already raised it in there - but just to make sure all the teams are aware of the consequences - https://github.com/microsof

[2021-04-20 20:20] bendrexl commented on #9533
@davidkline-ms , any guess when the next release will be? I'm still running into errors trying to follow the documentation to get MRTK packages installed and configured without the Feature Tool, and the documentation seems to be missing the 'legacy' manual installation steps.

[2021-04-20 20:56] justinpando commented on #9624
@atiemark I just ran into something similar and I suspect this may be related to the Scale property of the buttons. Try changing Scale from 1.5 to 1, or increase the size of the Box Collider and NearInteractionTouchable Bounds properties by 50%.

[2021-04-20 21:02] keveleigh opened #9692 "HP Reverb G2 motion controller model not tracked in Unity 2020"
## Describe the bug

When using the HP Reverb G2 controllers on Unity 2020, the model is loaded at the origin and isn't properly tracked.
Other motion controllers work as expected.

## Your setup (please complete the following information)

- Unity 2020
- MRTK main branch

## Target platform (please complete the following information)

- WMR immersive

[2021-04-20 21:25] DanSagmiller opened #9693 "GltfAsset has internal setters, but Unity is complaining that other classes in other assemblies can't reach them."
## Describe the bug
After loading MRTK into Unity, I am faced with an error in the IDE.
Library\PackageCache\com.microsoft.mixedreality.toolkit.foundation@6e1cf463ea39-1618851698458\Core\Utilities\Gltf\Serialization\Importers\GltfEditorImporter.cs(32,13): error CS0200: Property or indexer 'GltfAsset.GltfObject' cannot be assigned to -- it is read only
Library\PackageCache\com.microsoft.mixedrealit

[2021-04-20 21:31] DanSagmiller commented on #9693
This was due to a local bug that was hiding the internal visibility, it is not an issue.

[2021-04-20 21:55] keveleigh commented on #9692
After starting to investigate...i became unable to repro. Not sure what's up with that, but will try again later

[2021-04-20 23:04] #9693 closed

[2021-04-20 23:43] RogPodge commented on #9684
We'll need some time to take a closer look at this since it sounds like pretty surprising behavior. Will update in the future.

[2021-04-20 23:47] RogPodge commented on #9690
Can you provide a video of the unexpected behavior, it will help us replicate and better understand the issue.

[2021-04-20 23:53] RogPodge commented on #9686
@cre8ivepark might you have more context on this topic?

[2021-04-21 06:57] JSWorkspace1 commented on #9518
Hello, has the Scrolling Object Collection bin tested with VR Controllers? I found the interaction quite unintuitive. Documented in more detail here #8878 .

[2021-04-21 10:29] atiemark commented on #9624
According to my minimal reproducible example this also occurs with out of the box sized buttons when using 2 canvases, see above: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9624#issuecomment-822051709

[2021-04-21 15:34] davidkline-ms commented on #9597
I will make sure the WebRTC team is aware of the issues. Thanks @studentutu!

[2021-04-21 15:37] SafetyOrange commented on #5844
I'm sorry to poke a closed thread but his issue seems to have reappeared in Unity 2020.3.3 (and 2020.3.4).

Android Platform w/ Oculus VR, the Standard Shader fails to compile with error: `Shader error in 'Mixed Reality Toolkit/Standard': Non system-generated input signature parameter () cannot appear after a system generated value. at line 759 (on gles3)`

[2021-04-21 16:37] keveleigh commented on #9533
@bendrexl 1.0.2104.0 is available now! https://www.microsoft.com/en-us/download/details.aspx?id=102778

[2021-04-21 19:40] #5999 closed

[2021-04-21 22:00] #9608 closed

[2021-04-22 03:31] MaxWang-MS opened #9696 "NearInteractionTouchable has caveats when used with non-box colliders"
## Describe the bug

Currently NearInteractionTouchable depends on the bounds field being set correctly in order for it to work. The field is automatically calculated and populated for box colliders but not other types of colliders, which causes user confusion. The script should warn users when the field is not automatically calculated and contains an invalid value.

[2021-04-22 07:23] fschmidmichels commented on #9645
Hi! Will this also be fixed in a 2.6.x release? Or do I have to update to 2.7 beta version? Thanks

[2021-04-22 09:49] laufenes commented on #9533
hi @keveleigh I have downloaded the latest update but it's still crashing after pressing discover. here is my log:

Refreshing feature catalog.
ERROR: Failed to get data from Primary.
System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
 ---> System.IO.IOException: Unable to read data from the transport connection: An existing connection was forci

[2021-04-22 12:00] Alexees commented on #5844
@SafetyOrange last time it was a Unity issue, it's probably one this time as well. Filing a bug report referencing 1187259 would be the right step

[2021-04-22 12:51] mbpictures commented on #9682
I guess, that I finally confirm this issue is related to the MRTK version. I tested the same scene with the same configuration the first time with MRTK version 2.5.4 with working hand tracking and the second time with MRTK version 2.6.0 without working hand tracking. It seems 2.6.0 introduced a bug there, can someone confirm this?

[2021-04-22 13:20] BarboraAtVResearch commented on #8958
Is there a way to make the settings from the Parabolic Pointer prefab actually work? I am changing it to a different layer to no avail. No matter what I put in there, it only works on "Default" :(

[2021-04-22 13:28] kaushikwavhal opened #9698 "Multiple events are triggered when hold gesture is not precise"
## Describe the bug
I was trying to play with Oculus Quest and MRTK. I setup MRTK in a blank unity project and loaded the hand interaction scene.
As i was starting to interact with the scene, i noticed there's some heavy flickering of the hand ray when the ray falls on certain items. Later i released that it occurred when the ray was pointed to certain areas. Areas which will register click or mov

[2021-04-22 13:28] BarboraAtVResearch commented on #8958
SOLVED! For anyone interested, there are actually 2 places that needed to be changed: Pointing Raycast Layer Masks in MRTK settings AND the prefab

[2021-04-22 14:59] Kaimbelic commented on #9690
Here is a simple video of a cube I am trying to "Throw".
https://youtu.be/x2DXkOuZhIg

If I do this same thing but without the Spatial Awareness System enabled it will have the parabolic shape of falling after being thrown.

[2021-04-22 16:01] keveleigh commented on #9698
This sounds like the bug that should be fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9576. FYI @RogPodge
Looks like it should have shipped in our [2.7.0-preview.3 package](https://docs.microsoft.com/windows/mixed-reality/develop/unity/configuring-feature-tool#show-preview-releases), if you want to take a look!

[2021-04-22 16:10] davidkline-ms commented on #9533
Thanks for the update @laufenes. I will investigate and hope to find a solution soon.

[2021-04-22 16:26] #8958 closed

[2021-04-22 18:22] polar-kev commented on #3589
A fix for OpenXR is very likely to land for 2.7 here.

[2021-04-22 18:24] keveleigh opened #9699 "Support controller render model in OpenXR"
## Describe the problem

When the feature comes online in the [Microsoft OpenXR package for Unity](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/openxr-getting-started), we should support it in MRTK.

## Additional context

https://www.khronos.org/registry/OpenXR/specs/1.0/html/xrspec.html#xrLoadControllerModelMSFT

Related to #3589

[2021-04-22 18:27] polar-kev commented on #9545
@elbuhofantasma, can you make sure to double check this in the next build call?

[2021-04-22 18:37] davidkline-ms commented on #9603
This can be changed from a warning to a simple message:
![image](https://user-images.githubusercontent.com/13281406/115767894-7596c300-a35e-11eb-839a-7d57db47567d.png)

These have existed in MRTK for quite some time and are caused by the piano model in the Hand Interaction Demo:
![image](https://user-images.githubusercontent.com/13281406/115768029-9ced9000-a35e-11eb-868d-a43c6c7cabc5.png)

This on

[2021-04-22 18:38] CDiaz-MS opened #9700 "Rename NearInteractionTouchable components for clarity"

[2021-04-22 18:41] davidkline-ms commented on #9603
These are related to the Quest provider. @RogPodge may have some insights on them.
![image](https://user-images.githubusercontent.com/13281406/115768661-7419ca80-a35f-11eb-8600-b8ffc07cad12.png)

[2021-04-22 18:43] davidkline-ms commented on #9603
I will investigate these

![image](https://user-images.githubusercontent.com/13281406/115768887-bfcc7400-a35f-11eb-838f-97b337328f8e.png)

![image](https://user-images.githubusercontent.com/13281406/115768957-d5da3480-a35f-11eb-85f7-09854f01de8f.png)

![image](https://user-images.githubusercontent.com/13281406/115769001-e8546e00-a35f-11eb-82c4-328617e42823.png)

[2021-04-22 19:32] davidkline-ms commented on #9603
confirmed that the MSFT_texture_dds warning is preexisting and originates from the gltf utility

[2021-04-22 19:58] #9677 closed

[2021-04-22 22:10] #8573 closed

[2021-04-22 22:28] davidkline-ms commented on #9603
The "Creating missing ConstraintMananger" warnings are a new behavior in Unity 2020 that informs the developer that a RequiredComponent is being added on their behalf. The examples need to be updated to get rid of that message.

[2021-04-23 02:15] kaushikwavhal commented on #9698
With these changes, it seems to have gotten rid of the flicker . Another issue with this fix is that the gesture still emits the event even if there sizable gab between the index finger and the thumb. Although that's not much of a problem as the flickering was.

[2021-04-23 08:23] patrickmemestar commented on #7496
I have the same problem!

[2021-04-23 08:55] sloh-ms commented on #9400
@jbienzms have you been able to confirm whether the fix was good?

[2021-04-23 13:03] peter-clemenko commented on #9535
I'm getting the same issue.

[2021-04-23 13:04] peter-clemenko commented on #9535
[MixedRealityFeatureTool.log](https://github.com/microsoft/MixedRealityToolkit-Unity/files/6365463/MixedRealityFeatureTool.log)
This is my log file. No zlib mentioned in the log.

[2021-04-23 14:37] AsiaMartini commented on #8738
Any news about this?

[2021-04-23 16:20] Cameron-Micka commented on #5844
Yes, I agree with @Alexees. Filing a bug with Unity would be a great first step.

[2021-04-23 17:37] keveleigh commented on #9003
Fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9649

[2021-04-23 17:37] #9003 closed

[2021-04-23 20:04] keveleigh opened #9703 "Update usages of the old input APIs to the new input system (input simulation, keyboard/mouse provider, touch screen, etc)"
## Describe the problem

In Unity 2020 with OpenXR installed, Unity defaults to the new input APIs. This breaks many of our older data providers which rely on the legacy input APIs.

## Describe the solution you'd like

We should either update these providers to support the new input system inline (see branch below) or mark the existing ones as "legacy" and build new providers.

## Additional cont

[2021-04-23 20:43] keveleigh opened #9705 "Support depth reprojection mode with OpenXR"
## Describe the problem

Needs support for https://github.com/microsoft/MixedRealityToolkit-Unity/pull/6731 on OpenXR.

[2021-04-23 21:45] keveleigh commented on #7496
Those all seem expected on a standalone build. We should probably find a way to clean the logs up to something more accurate as far as why they aren't being registered. Are they causing issues?

[2021-04-23 22:15] davidkline-ms commented on #9535
@peter-clemenko, which package(s) are showing the error? your log looks as if everything downloaded successfully (no zero length files). that info may help diagnose the specific trouble you are seeing, thanks!

[2021-04-23 22:45] #7513 closed

[2021-04-23 22:45] #9547 closed

[2021-04-23 22:45] #9577 closed

[2021-04-23 22:45] #9578 closed

[2021-04-23 22:46] RogPodge commented on #9615
Done with the merge in the docs repo

[2021-04-23 22:46] #9615 closed

[2021-04-23 22:48] RogPodge commented on #9690
We'll monitor and take a look at this. Thanks for discovering it!

[2021-04-23 23:04] RogPodge commented on #9698
yeah currently the minimum pinch distance to determine whether an event ought to be raised isn't configurable outside of the code.

If it's alright, can you raise an issue for us to track to make the pinch sensitivity configurable, and we can try to get it in a future release! We could then also close this issue at the same time @kaushikwavhal

[2021-04-23 23:10] #6706 closed

[2021-04-24 02:25] keveleigh commented on #8589
Do you have an example of when `Enable` might be called twice? It should only really be called by the MRTK lifecycle manager, which shouldn't enable it multiple times in a row.

We can try to block against it being called too many times in a row, but I think mostly it's just that manually calling `Enable` and `Disable` isn't a fully supported scenario.

[2021-04-24 16:49] nuernber commented on #8589
Yes, this is definitely a rare, corner case that you might not want to support. It happened in the context of an app that had its own interaction system and I wanted to enable/disable MRTK's interaction system at certain points. I discovered it by accidentally calling `Enable` too many times. It's very rare, so it's understandable if you don't want to support this situation. I suppose most apps wi

[2021-04-26 04:52] imsumittyagi commented on #9684
@RogPodge Any solution for this yet ?

[2021-04-26 06:48] samuelspagl opened #9706 "Scene Understanding: ArgumentException when updating or toggle the view of Meshes"
## Describe the bug

I'm working on a project where I'm using the in #9524 added functionality to access GameObjects throught the provided IReadOnlyDictionary in the public method `GetSceneObjectsofType(SpatiaAwarenessSurfaceTypes type)`.
If the dictionary is accessed upon the startup of the App (in Unity as well as on the Hololens) no error occurres and i can process the data provided by the dict

[2021-04-26 13:48] Yolo-Jerome opened #9707 "Changing the "States" profile of a Microsoft.MixedReality.Toolkit.UI.Theme doesn't mark it dirty"
## Describe the bug

Changing the `States` profile of a `Microsoft.MixedReality.Toolkit.UI.Theme` doesn't mark it _dirty_ and therefore it is not saved.

Only if changing any other value in the Theme's Inspector the asset and the open scene are correctly marked as _dirty_ and the asset is saved on hitting <kbd>CTRL</kbd>+<kbd>S</kbd>.

## To reproduce

Steps to reproduce the behavior:

1. Go to an

[2021-04-26 16:27] keveleigh commented on #9645
Pinging @polar-kev to provide an update. I don't believe we're planning on shipping another 2.6.x release but are working towards 2.7's release next month / early June.

[2021-04-26 17:01] keveleigh opened #9708 "New configurator has truncated text"
## Describe the bug

When the new configurator spawned for me for the first time, a section of text was truncated:

![image](https://user-images.githubusercontent.com/3580640/116122089-2ad6bd00-a676-11eb-9fb8-1aa9df0187b5.png)

## Expected behavior

It'd be great if this text could be wrapped or something

[2021-04-26 19:14] polar-kev opened #9709 "MR Feature Tool should check if downloaded packages are corrupted"
There have been reports of the MRFT trying to open corrupted packages.

"Could the feature tool package catalog include the expected size of the package or maybe even an expected hash? And could that information be used to detect when a package is damaged?...If there's not a way to easily improve this, please feel free to close again."

_Originally posted by @jbienzms in https://github.com/microso

[2021-04-26 19:29] keveleigh commented on #7913
Fixed by #9428 and [MixedRealitySceneContent](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Core/Utilities/SceneContent/MixedRealitySceneContent.cs)!

[2021-04-26 19:29] #7913 closed

[2021-04-26 19:49] #9378 closed

[2021-04-26 19:49] #9419 closed

[2021-04-26 23:09] polar-kev opened #9711 "Missing documentation for profiles"
There are several profiles that are available for use and some profiles, like the ones used for sample scenes, don't have documentation. Documentation should describe what's different between a given profile and the default so that users can determine which settings provide the desired results

![image](https://user-images.githubusercontent.com/30964480/116161910-89695e80-a6a9-11eb-8ad5-435a2fe6da

[2021-04-26 23:20] polar-kev opened #9712 "Better presentation of profiles"
The drop down list for profiles in MRTK 2.6.1 has grown very large. We should use Unity's GenericMenu to reduce the amount of profiles shown to the user at once.
![image](https://user-images.githubusercontent.com/30964480/116162639-12cd6080-a6ab-11eb-91eb-1015f5bc5d0a.png)

![image](https://user-images.githubusercontent.com/30964480/116162627-0ba65280-a6ab-11eb-8160-3382fb03d634.png)

This improve

[2021-04-26 23:21] qian256 opened #9713 "What is the HoloLens 2 system default popup textbox when voice command is detected?"
In HL2, when some system reserved keywords are detected (e.g. select), there is a popup toast flying up: white border, black background, showing text of the keyword. Is this part of UWP API, or MRTK?
I did some search and could not find anything documenting this. Is this somthing available to hololens developers?

[2021-04-26 23:25] RogPodge commented on #9684
On my tracker for this week 🤞

[2021-04-27 17:04] burkewm opened #9715 "Asset Bundle error using OpenXR preview package"
## Describe the bug

Can not build asset bundles using the OpenXR preview package, returns the following error

`The type or namespace name 'OpenXR' does not exist in the namespace 'Microsoft.MixedReality'`

## To reproduce

Steps to reproduce the behavior:

1. Have OpenXR preview package for MRTK
2. Attempt to build asset bundle
3. Error, bundle will not build

## Expected behavior

Bundle is bui

[2021-04-27 18:10] keveleigh commented on #9465
@dilmerv The Mixed Reality OpenXR Plugin 0.9.3-preview.1 package that just shipped via the Feature Tool should have a fix for this issue! Please re-open if you're still hitting it after updating.

[2021-04-27 18:10] #9465 closed

[2021-04-27 18:32] keveleigh commented on #9715
Do you know which file is complaining about the missing namespace?

[2021-04-27 20:02] burkewm commented on #9715
MicrosoftArticulatedHands.cs
`#if MSFT_OPENXR
using Microsoft.MixedReality.OpenXR;
using Preview = Microsoft.MixedReality.OpenXR.Preview;
#endif // MSFT_OPENXR`

Would always complain about a compile error and stop the asset bundles from building on that script.

[2021-04-27 20:41] bruhnth17 opened #9717 "MicStreamSelector behaving inconsitently"
## Describe the bug

I am working on a collaborative MR environment in Unity, where people with different Headsets can work in the same Unity scene. A requirement for that is audio communication - Something we want to handle over UDP in C# Scripts.

To get the microphone data I am using the  MicStreamSelector dll from the Mixed Reality Toolkit Microphone Stream Selector.
But for me this has the we

[2021-04-27 21:25] polar-kev commented on #8066
This is now fixed as of Unity 2019.4.25

------------------

This is now fixed as of Unity 2019.4.25 if using 2019 and Unity 2018.4.34 if using 2018.

[2021-04-27 21:25] #8066 closed

[2021-04-27 22:49] RogPodge commented on #9684
He @imsumittyagi I've tried reproducing this error on Unity 2019.4.19 and 2020.3.5f1 on our latest code and wasn't able to do it. Do you have a video of the behavior or a solution project that reproduces this error?

Thanks!

[2021-04-27 23:59] RogPodge commented on #9624
Quick update on this, was able to repro, and taking a deeper dive in what's causing the unpress behavior

[2021-04-28 00:11] #9560 closed

[2021-04-28 00:11] #9596 closed

[2021-04-28 02:00] davidkline-ms commented on #9717
Thanks for the report bruhnth17! We will take a look.

By the way, does the example scene have similar problems?

[2021-04-28 06:50] RogPodge commented on #9624
Ok I've root caused the issue.

This occurs when the button is pressed in the space where two canvas's are overlapping. Evidence below

![touchableUI](https://user-images.githubusercontent.com/39840334/116358398-77271780-a7b2-11eb-8d48-e1cb88c6f5e9.gif)

The reason for this is in these two sections:

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/08587f724bf9f2d067189639c3a415649566ba

[2021-04-28 07:47] bruhnth17 commented on #9717
Great thank you! Could you point me to the direction of the example scene for Microphone Streaming? I checked out the SpeechInputExample from the Input-Demos, and AudioLoFiEffectExamples & AudioOcclusionExamples from the Audio Demos. They all work fine, but I did not see the WindowsMicrophoneStream in them.

The example where I have the code from is from this "older" example for a voice chat that

[2021-04-28 08:33] imsumittyagi commented on #9684
https://user-images.githubusercontent.com/20392525/116372795-69ad7400-a82a-11eb-89d4-19dc1e1f1118.mp4

@RogPodge Here is the video attached for the issue when we pick controller extra hand is visible but not during the hand tracking.

[2021-04-28 18:03] polar-kev commented on #9165
A fix from Unity is expected to land on May 7th and be available in the next XR SDK package.

[2021-04-28 18:18] #5969 closed

[2021-04-28 19:18] RogPodge commented on #9684
hey @imsumittyagi still having some trouble reproducing locally. Do you have a minimally reproducible example that I might be able to refer to? Information on the profile you are using would also help out here

[2021-04-28 22:19] rolandsmeenk opened #9719 "Iridescence in MRTK Standard shader is not recorded correctly with Render From PV Camera"
## Describe the bug

When recording a video on HoloLens 2 with _Render From PV Camera_ enabled the iridescence part of the MRTK Standard shader is not recorded correctly. When _Render From PV Camera_ is disabled the recorded video is as expected.

## Expected behavior

When recording with _Render From PV Camera_ enabled I would like to see the same outcome in the recorded video as what a user sees

[2021-04-28 23:11] polar-kev commented on #8016
A fix for this is expected from Unity on May 7th and will require an up rev in Unity versions. We will need a repro test from Remote Assist at that point.

[2021-04-29 04:49] imsumittyagi commented on #9684
I will share a demo project with you soon

[2021-04-29 06:03] Abbeychow commented on #7496
Have you solved the problem?

[2021-04-29 09:15] powerschaf opened #9722 "Register Problems for Providers like Unable to register IMixedRealityInputDeviceManager data provider"
## Describe the bug

I tested several MRTK 2.6.1 profiles in Unity 2020.3.6f1 but every time there are issues with registering providers, i also made custom profiles to fix that but at runtime i get other errors like:

WindowsMixedRealityDeviceManager has not set a value for IsEnabled, returning false.
UnityEngine.Debug:Assert (bool,string).

(even the provider is attached correctly now).

## To r

[2021-04-29 10:17] studentutu commented on #9686
for now I've just added MRTK.SpeechInputHandler (global) and added custom component (has a method for set focus, which is being set from interactable button). It works fine, but not ideal solution.

[2021-04-29 12:05] powerschaf commented on #9722
Well ladys and gents it seems, that i found a kind of hacky soloution which should be documentated for folks or the root problem should be fixed within next updates.

So first if you have any kind of unregistered providers click Copy & Customize in the MRTK inspector section to enable customization possibility:
![CpyCustomize](https://user-images.githubusercontent.com/55619747/116543761-92973d00-a

[2021-04-29 12:08] powerschaf commented on #7496
Hello everyone, i found a kind of soloution please check out my Bug Report (#9722).

I hope i can help you out.

[2021-04-29 14:27] TiMeJuMp commented on #6463
Same issue here with Unity 2019.4.25

[2021-04-29 18:48] srinjoym opened #9723 "MRTK Build Tool triggers indefinite "Importing" dialog in Unity 2020"
## Describe the bug
The MRTK Build Window triggers Unity 2020 to start an indefinite "Importing" message. I've reproduced on an empty Unity 2020 project with just MRTK 2.6.1:

![image](https://user-images.githubusercontent.com/7866060/116595419-26114380-a8d8-11eb-8a9b-76ade250cc85.png)

## To reproduce

Steps to reproduce the behavior:

1. Create a new Unity 2020 LTS Project
2. Add MRTK Foundation

[2021-04-29 21:50] RogPodge commented on #9690
Update, got a repro, diving deeper now. Thanks for your patience and your help!

[2021-04-29 21:53] #9699 closed

[2021-04-29 23:00] MaxWang-MS commented on #9056
Thanks for the follow up! The post has been updated to reflect the latest updates @Merichbier

[2021-04-29 23:09] CDiaz-MS opened #9727 "Track path length in code validation"
Add a path length limit in our code validation powershell scripts.

[2021-04-30 01:25] RogPodge commented on #9690
We've identified the velocity issue to be due to the XRSDK input sources not currently tracking the devices velocity for articulated hands, and we're fairly sure this is not restricted to just when spatial mapping is on (though it makes sense that it was discovered in this manner, given hololens is the primary use case for articulated hands).

We're looking into a few solutions, such as fixing the

[2021-04-30 14:38] NoTuxNoBux commented on #7726
You may be interested to know that Magic Leap announced [a fork of the MRTK a couple of days ago](https://github.com/magicleap/MRTK-MagicLeap). Hopefully this can get integrated at some point.

[The XRTK already seems to have support for it](https://github.com/magicleap/MRTK-MagicLeap/issues/2).

[2021-04-30 17:25] keveleigh commented on #9092
If this is referring to the "Windows XR Plugin Remoting" window, that's correct. That UI is shipped by Unity as part of their Windows XR Plugin package.

[2021-04-30 17:36] keveleigh commented on #9605
Going to close this out as fixed. Please re-open if you see it on the 2.7.0 previews!

[2021-04-30 19:26] keveleigh commented on #6463
I'd recommend reporting this on the Unity forums, as we don't have direct control over the contents of Unity's DLLs and packages.

[2021-04-30 20:22] Kaimbelic commented on #9690
I am not sure if I am using the XRSDK pipeline. What would be the best way to confirm this?

[2021-04-30 20:27] RogPodge commented on #9690
![image](https://user-images.githubusercontent.com/39840334/116750722-be322a00-a9b7-11eb-8c33-472a32f9cb1c.png)
 go to this part of the project settings and see if you have the following

[2021-04-30 21:03] keveleigh commented on #8452
Is this something that might be fixed by a change similar to https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9718 @MaxWang-MS?

[2021-04-30 21:24] Kaimbelic commented on #9690
The project is not using the XR Plug-in portion. It is still located under the Player tab.

![image](https://user-images.githubusercontent.com/38118010/116755727-7bc91700-a9d0-11eb-8fd4-088757853b4f.png)

[2021-04-30 21:31] RogPodge commented on #9690
ah thanks, good to know!

Our current bugfix is for XRSDK, when it goes through I'd recommend moving to that platform, since it's going to be the go-to one in the future:

https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/configuration/getting-started-with-mrtk-and-xrsdk

Though we haven't tested this on the Legacy XR Pipeline, our fix should address most of the incongruous behavio

[2021-04-30 22:35] keveleigh opened #9734 "Support controller haptics"
## Describe the problem

We currently have the interactionsource extensions for haptics left over from HTK, but they aren't used anywhere.
Also, Unity now has [proper support for haptics in XR SDK](https://docs.unity3d.com/ScriptReference/XR.InputDevice.SendHapticImpulse.html), so we should add that support to our controllers.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/ab01d39010

[2021-04-30 23:25] #9690 closed

[2021-05-01 02:42] MaxWang-MS commented on #8452
I don't think so... This one's apparent cause seems very different to me.

[2021-05-01 05:12] cre8ivepark commented on #9624
@RogPodge I'm not familiar with the technical details since I mostly did example layout & visual polish.
I remember that UGUI examples with NearInteractionTouchableUnityUI were added by Adam(MRW) https://github.com/microsoft/MixedRealityToolkit-Unity/pull/5781

[2021-05-01 09:45] imsumittyagi commented on #9684
@RogPodge  here is the link for the project
Unity Version : 2020.2.6f1
https://www.dropbox.com/sh/mw042pspbyrc91p/AABAXUyzLe7m41zrdQK_AtxGa?dl=0

[2021-05-01 20:12] raffael0 commented on #9533
Hi. I experienced a the same issue as @bendrexl and managed to "fix" it. It stopped crashing after I deleted the c:\users<yourname>\AppData\Local\MixedRealityFeatureTool folder.

[2021-05-02 19:45] ewolf29 commented on #9682
I'm using Unity 2020.3.6f1 together with MRTK Version 2.6.1 and I can confirm the issue. There seems to be a bug with the initialization of the hand tracking I assume. Interestingly, out of my approximately 50 attempts to test the hand tracking, in two cases it worked indeed but I could not figure out why and could also not replicate it. It seems just random.

[2021-05-02 22:09] mbpictures commented on #9682
@ewolf29 Glad to hear it's not on my end. I also got it to run once (with 2.6.1), but no idea why it worked.

[2021-05-03 08:03] cre8ivepark commented on #9686
I found that the **Select** keyword is not recognized/triggered. Tested with other example scenes as well.
Somehow, other keywords are working well. For example, if I add a new keyword **Message** to a HoloLens2 style button and assign it using Interactable's Speech keyword, it works well.

**Select** keyword is still in the Speech Input Profile list. @keveleigh any insights?

![2021-05-03 00_58_5

[2021-05-03 13:18] NoTuxNoBux commented on #9713
I think this is the `SpeechConfirmationTooltip`. It has a similar pop-up toast animation, but I don't know if the colours are the same.

There is also a sound called `MRTK_Voice_Confirmation` available that I think you can use to play a matching sound.

[2021-05-03 17:47] cre8ivepark opened #9737 "[2.7.0] Dwell example polish & volumetric UI example"
Current Dwell example scene only shows Unity canvas UI examples.
Need volumetric UI examples + polish.

[2021-05-03 17:51] #9092 closed

[2021-05-03 17:55] keveleigh commented on #9686
I think this might be due to the lack of a way to get information on the voice select state like we had in legacy XR via https://github.com/microsoft/MixedRealityToolkit-Unity/blob/38626e1c32e2d6268d5b3d5044f9c22fb35b3fba/Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs#L868-L887

We're actively thinking about the right way to expose this in OpenXR, and I'll hav

[2021-05-03 18:03] #9734 closed

[2021-05-03 18:03] keveleigh commented on #3589
Was hoping to unblock this for 2.7, but likely won't make it in for the stabilization snap. A couple blockers that we'll need to work through:

1. DotNetWinRT either needs the `TryGetRenderableModelAsync` (and related) API implemented
2. or there seems to be a bug with DotNetWinRT's support of obtaining the `SpatialCoordinateSystem` while running in the editor via an immersive headset (but not whi

[2021-05-03 19:21] RogPodge commented on #9684
Good news, this issue seems to be fixed on our latest MRTK version! (currently Version 2.7.0-preview.4 in the feature tool)

As for why it's fixed, does anything come to mind to you @keveleigh? Nothing immediately comes to mind when looking at our commits since 2.6.1, but maybe it ended up getting addressed as you were tackling the OpenXR work items?

[2021-05-03 19:37] polar-kev commented on #8229
@elbuhofantasma, can you check this in the next build call?

[2021-05-03 19:41] polar-kev commented on #5975
@elbuhofantasma, this should be fixed based on the PR that was merged. Can you confirm?

[2021-05-03 19:51] polar-kev commented on #8664
This looks similar to #5975. @elbuhofantasma will verify if it has been fixed.

[2021-05-03 19:57] polar-kev commented on #9518
@MaxWang-MS, can you look into "SOC collider was eating some inputs from children item colliders, causing one or both of them to get stuck in "entered" state" and see what it will take to migrate Alon's fix for "Colliders outside of clipping bounds were still enabled". I'd like to know if we can pull these into a sooner timeframe.

Hey @JSWorkspace1 your issue has been noted but there are some fun

[2021-05-03 20:00] polar-kev commented on #9517
Many of the issues we're seeing with scrolling object collection will be fixed by this--particularly with large lists, performance, and using dynamic data.

[2021-05-03 20:07] keveleigh commented on #5975
@polar-kev That PR was merged into a feature branch which hasn't yet made its way into the main branch.

![image](https://user-images.githubusercontent.com/3580640/116927424-81ad3b00-ac10-11eb-8401-b9da1d4f386f.png)

[2021-05-03 20:24] RogPodge commented on #9624
Looking at how Unity, it looks like they are able to handle buttons on overlapping canvas's just fine, meaning our canvas differs form Unity's native canvas in behavior. For now, going to update the documentation to inform users to avoid the pitfall of having overlapping canvases, as it would take some effort to identify and implement the right way to fix this.

[2021-05-03 20:54] keveleigh commented on #9684
@RogPodge Hmm...it's possible! I don't recall anything Oculus-specific, but there were some general XR SDK lifecycle improvements that could have fixed this.

My initial thought was that it could have been https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9338, but that looks like it made it into 2.6.0.

[2021-05-03 21:12] RogPodge commented on #9684
We've had some reports of this happening on hololens, where I had a similar experience with seeing the behavior fixed in 2.7.0. Just wanted to check!

[2021-05-03 21:48] polar-kev commented on #8664
Looks like this was fixed in a feature branch that hasn't made its way to main yet.

[2021-05-04 00:04] keveleigh commented on #9614
Completed by #9613

[2021-05-04 00:04] #9614 closed

[2021-05-04 00:04] keveleigh commented on #9692
I haven't been able to repro lately...closing out

[2021-05-04 00:04] #9692 closed

[2021-05-04 01:09] leonunity opened #9745 "Crash, along with error: XR ERROR PATH UNSUPPORTED"
## Describe the bug

We are experiencing a runtime crash our our HL2 app, and we get this error message along with it.

[XR] [OpenXR Input]: [xrSuggestInteractionProfileBindings] Failed to suggest Interaction Profile </interaction_profiles/hp/mixed_reality_controller> [ErrorCode: XR_ERROR_PATH_UNSUPPORTED][XR] [884] [09:59:05.540][Info   ] OpenXRSession::HandleSessionStateChangedEvent: state XR_SE

[2021-05-04 03:16] keveleigh commented on #9745
This likely isn't an MRTK bug (we don't do anything directly with enabling `/interaction_profiles/hp/mixed_reality_controller`) or controlling the permissions pop-ups. I'll keep this open for public tracking though.

[2021-05-04 05:03] imsumittyagi commented on #9684
@RogPodge that's great news, when we can expect the 2.7.0 in MIxed Reality Feature Tool or Unity Package Manager?

[2021-05-04 08:19] omanuke commented on #8839
I encountered same error on Unity2019.4.19f and ASA2.71 and MRTK2.5.
[#8839](https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8839#issuecomment-732730691) didn't solve.
Additionally, I changed ScriptingBackend  to IL2Cpp.
I'm not sure why but this solved problem.

![image](https://user-images.githubusercontent.com/1901757/116976980-d201c700-acfc-11eb-967a-d5a5c6fa21cf.png)

[2021-05-04 17:13] yl-msft commented on #9745
This looks like an issue related to openxr runtime integration to unity's plugin.  I would like to engage with @leonunity  offline to find out more details of this issue and ping back with investigation results.

[2021-05-04 18:10] davidkline-ms commented on #9603
@RogPodge, can you take a look at the identifier uniqueness warnings in the quest provider?

[2021-05-04 18:24] davidkline-ms commented on #9717
@bruhnth17, our example does not do streaming of the microphone data. I am interested in seeing if the demo (spatial mesh responding to your voice) has any of the same errors you are seeing in your application.

The demo is in MRTK\Examples\Demos\Audio\Scenes. Please use WindowsMicrophoneStreamDemo.unity

[2021-05-04 18:34] RogPodge commented on #9684
No explicit date yet, but I believe preview packages for 2.7 should be visible currently in the feature tool. Can you confirm @davidkline-ms?

[2021-05-04 21:09] keveleigh commented on #9708
Fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9748

[2021-05-04 21:09] #9708 closed

[2021-05-04 21:14] keveleigh commented on #9512
@RogPodge Is this completed after https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9691?

[2021-05-04 22:08] RogPodge commented on #9624
Docs have been updated, closing this PR

[2021-05-04 22:08] #9624 closed

[2021-05-04 22:11] RogPodge commented on #9512
yep! closing this now

[2021-05-04 22:11] #9512 closed

[2021-05-04 23:45] stephenprosso commented on #8835
The link to your example is broken. We are running into this same issue right now. Can you share your fix to get the controller to track?

[2021-05-05 00:25] RogPodge commented on #9603
@davidkline-ms looked into the Oculus warnings. I don't think we have a good way of solving this.

1. To remove the warning, we'd have to change the Oculus Device Manager to not reference prefabs from the Oculus Integration Pacakage. However, because MRTK package are "immutable" this would make it impossible to set them correctly in the future and have that persist across opening and closing the e

[2021-05-05 05:24] eusebiu commented on #8835
I've uploaded it here: https://1drv.ms/u/s!Aq1jgNgVNaunk3LGFzgZZItE12Aw?e=9wqLk9

For the sake of folder structure, you should put it in MRTK/Providers. Also, you will need to configure the manager with the SteamVR prefabs (similar to Oculus) - Player can be found here (after you import SteamVR): Assets\SteamVR\InteractionSystem\Core\Prefabs.
![image](https://user-images.githubusercontent.com/4145

[2021-05-05 06:51] jaraymsft opened #9750 "Unexpected manipulation behavior when object isn't centered on object"
## Describe the bug

We have an object with an ObjectManipulator attached. The manipulation colliders are ~85cm above the object's origin. When manipulating the object, it also moves unexpectedly in a vertical direction.

## To reproduce

Steps to reproduce the behavior:

Create a large object. (Ours is a 85cm tall table)
Add an ObjectManipulator, set to use ManipulationMoveLogic and RotateAboutOb

[2021-05-05 07:10] jaraymsft opened #9751 "Allow custom transform smoothing logic in ObjectManipulator"
## Describe the problem

By default, ObjectManipulator uses Smoothing.SmoothTo() for interpolating transforms, The built-in smoothing works great, but when moving large distances it can feel like the object lags behind and distance beams feel really "bendy". We'd like to be able to specify our own transform interpolation logic to e.g. interpolate more quickly for large movements and slowly for sma

[2021-05-05 12:16] eusebiu opened #9752 "MRTK support for VR through OpenXR"
## Describe the problem

According to the SteamVR plugin team we should use the OpenXR plugin which implies the SteamVR plugin will not be supported anymore.
https://github.com/ValveSoftware/steamvr_unity_plugin/issues/929

I tried the latest OpenXR 1.1.1 and MRTK 2.6.1 and it somehow works on Oculus Quest but it doesn't work at all with HTC Vive (including with SteamVR as the runtime).

## Descri

[2021-05-05 12:56] bruhnth17 commented on #9717
Alright thank you. I'll try out the WindowsMicrophoneStreamDemo this weekend and report back to you

[2021-05-05 16:02] stephenprosso commented on #8835
awesome! I followed your instructions and now the controllers track (as VR gloves). I had an error that said I was missing my actions.json file and I was prompted to create one from the example. I did create one and the error went away. The controllers track my hand movements, but I do not have a raycast to select anything. What am I missing to get the ability to raycast and select objects?

Your

[2021-05-05 16:09] davidkline-ms commented on #9603
Thanks for the investigation @RogPodge. I'll close this issue.

[2021-05-05 16:09] #9603 closed

[2021-05-05 16:46] keveleigh commented on #9603
We could also solve this by removing our dependency on Oculus prefabs. If we have a code-only dependency to pipe Oculus data into our systems, we could remove that need.

[2021-05-05 17:18] davidkline-ms commented on #9400
Some additional research uncovered some per frame allocs that have been mitigated. We also have identified some instances where the neutral pose version is changing over time. This is causing allocs at points throughout the runtime of the application.

There are some fixes incoming for 2.7.0.

At the same time, investigations will continue and incremental fixes (as identified) will be added in "do

[2021-05-05 17:19] davidkline-ms commented on #9400
#9746 adds some perf improvements.

[2021-05-05 17:25] keveleigh commented on #9632
Fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9744

[2021-05-05 17:25] #9632 closed

[2021-05-05 17:25] keveleigh commented on #9706
Fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9744

[2021-05-05 17:25] #9706 closed

[2021-05-05 17:35] RogPodge commented on #9603
Making a code only dependency could result in hard-coding a prefab path into the class, which I don't think would be ideal.

I think we could maybe do some reflection and do something like "look for the first prefab which has component x", but I think ultimately this could result in errors that are more impactful and blocking for developers, rather than a simple warning that only appears on first

[2021-05-05 17:43] polar-kev commented on #2090
Closing this issue since there isn't clear signal that it is desired.

[2021-05-05 17:43] #2090 closed

[2021-05-05 17:45] eusebiu commented on #8835
OpenVR plugin (the one from Package manager) is obsolete in the newer versions of Unity (I think in XR SDK projects). So you need to use SteamVR plugin, the one from the Asset Store (which will also be obsolete due to OpenXR).
The OpenVR XR plugin (the current one version 1.1.4) is part of the SteamVR Plugin (from asset store) and it will be automatically installed (N.B.: SteamVR plugin is not a p

[2021-05-05 17:48] eusebiu commented on #8835
Also, if you need to override the controls (e.g. to make the touchpad click to behave as the trigger - old VRTK style :) ), you will need to override the SteamVR actions json.

[2021-05-05 17:53] polar-kev commented on #3078
Closing out in favor of thinking through the entire core architecture.

[2021-05-05 17:53] #3078 closed

[2021-05-05 17:55] polar-kev commented on #3278
Keeping this until we make the call on XR interaction.

[2021-05-05 18:04] polar-kev opened #9757 "MRTK docs should have instructions for setting up HP Reverb G2"
Dear all,

I'm trying to build a basic prototype and I don't find basic tutorial which explain the "how to" set up HP reverb G2 controllers. I mean which prefab/3D object set up in my hierarchy, which script do I add to my prefac/3D object.

I don't understand how to manage the inspector device manager.

could you please provide screenshots guideline to set up controllers? The current documentatio

[2021-05-05 18:07] keveleigh commented on #9757
Our existing non-MRTK docs for this live at https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/unity-reverb-g2-controllers

Is this an issue that can be solved by

1. Ensuring that doc is correct and up-to-date
2. Filling out our docs on controller mappings
3. Maybe clarifying that controller models won't show up in the editor in non-OpenXR
4. Making it clear that MRTK's systems

[2021-05-05 18:21] keveleigh commented on #9603
I mean we might be able to remove _all_ prefab dependencies. I believe Oculus provides code access to the underlying hand data, which is likely how the prefabs themselves are accessing it. We could remove the middle-man of the prefab scripts and call Oculus' data access APIs directly.

[2021-05-05 18:24] stephenprosso commented on #8835
I think my setting match yours, but my raycast still isnt working. Our objects should all be interactible already. Our app works on Oculus and HoloLens2 and now trying to get it deployed to the HTC Vive Pro Eye.

when you say "For raycast you need to configure MRTK to hide the dummy controller - just clone the prefab and disable the Mesh Renderer (that's what I did)." I dont see where to hide the

[2021-05-05 18:26] RogPodge commented on #9603
Though that is a potential solution, I'm not sure of how confident I'd be in successfully replicating the behavior they've implemented here 😅

![image](https://user-images.githubusercontent.com/39840334/117190838-bfd36780-ad94-11eb-82b7-f4514159f2b3.png)

[2021-05-05 18:46] RogPodge commented on #9684
Closing this issue since we've confirmed that it's fixed on Oculus and Hololens in our 2.7.0 builds.

[2021-05-05 18:46] #9684 closed

[2021-05-05 19:15] keveleigh commented on #9603
I'd say several of those overlap with MRTK. TrackingSpace seems to be MRPlayspace, actually the right/left hand anchors align with the passive transforms we talked about earlier today (so not present today, but certainly that data is accessible), and left/right/center eye + left/right hand are all accessible using Unity's TrackedPoseDriver.

If devs want to drag an OVRManager into their scene, I d

[2021-05-05 20:02] eusebiu commented on #8835
I am referring to these settings. You can close  that prefab and then assign the clone in the profile. In the cloned prefab you can disable the Mesh Renderer component.
![image](https://user-images.githubusercontent.com/414589/117200990-cc87a800-adf4-11eb-9256-ebc36435e4fc.png)

I think the DefaultControllerPointer (the initial name) is the same as ShellHandRayPointer.

I think in your case the co

[2021-05-05 20:38] RogPodge commented on #9603
Yeah, though I'm somewhat hesitant to move away from Oculus's implementation at the moment from a "this is what's working and this is how their docs advise you to go about it" standpoint

[2021-05-05 21:08] mbeagley-MS opened #9758 "Improve solver performance"
## Describe the solution you'd like
Improve solver performance by preventing allocation every frame.

[2021-05-05 22:48] RogPodge commented on #9686
So a few comments on some findings.

1. The select command is being detected and processed by the input system, so we can be confident that the speech handler is able to understand and process the speech keyword
2. Focused objects that can be affected by speech commands seems to be limited to objects in focus via the GazeProvider, hence why the SpeechInputExamples Scene has this label over it's ob

[2021-05-05 23:01] RogPodge commented on #9686
We should also remove the 'Select' to bring up gaze cursor behavior since it's hard coded.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/Services/InputSystem/GazePointerVisibilityStateMachine.cs#L101-L107

[2021-05-05 23:46] polar-kev commented on #9757
@keveleigh Yes to 1,3, and 4.

For number 2, I'd like to clarify--I think those updates should be made on MRTK controller input docs at, https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/controllers. I think surfacing number 4 in these MRTK docs with a link to the Reverb g2 page mentioned above will address the types of questions we've received recently.

Is that wha

[2021-05-05 23:47] keveleigh commented on #9757
@polar-kev You got it exactly!

[2021-05-06 12:50] soshogoh commented on #9238
Hi MRTK team,
I also got the same problem from our customer.
The following problems occurred in Hololens2 application using MRTK.
Hand lost detection may not be performed correctly, and hand mesh / joint objects may continue to remain in the space.
As a result, the UI that follows the detected hand will follow the object of the hand that remains in space(Please see the image snapshot: red rectangl

[2021-05-06 12:58] mbpictures opened #9761 "MissingReferenceException in TeleportCursor"
## Describe the bug

I'm getting a "MissingReferenceException" exception several times while interacting with the hand menu.
[code]

## To reproduce

Steps to reproduce the behavior:

1. Create and configure a Project with MRTK
2. Create a hand menu game object containing buttons
3. Disable Teleport System in MRTK Configuration
4. See error

## Expected behavior

No exceptions.

## Your setup (ple

[2021-05-06 14:17] krishnan-unni opened #9763 "Missing mrtk_development branch"
## Overview
The documentation on MRTK contribution here: https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Documentation/Contributing/CONTRIBUTING.md says we need to get the
https://github.com/microsoft/mixedrealitytoolkit-unity/tree/mrtk_development branch.
Although this branch is no more available. What branch should be forked to use for contributions? Guess the docs need to be up

[2021-05-06 16:05] cwule opened #9764 "Missing Input Playback service for Hololens2XRSDK profile"
## Describe the problem

I want to play back hand movements on the Hololens 2 recorded with the `InputRecordingControls`. If I set the MRTK profile to `DefaultHololens2ConfigurationProfile`, playing the animation works in the editor, however that profile leads to problems of the app on the Hololens 2 (no room tracking).
If I chose the `DefaultHololens2XRSDKConfigurationProfile`, I cannot play anim

[2021-05-06 16:15] keveleigh commented on #9764
Starting with 2.7.0-preview.4, you no longer need to change profiles for XR SDK and all these asymmetrical service lists should be resolved! If you've cloned the profiles, you should be able to safely re-add the playback service to the cloned `DefaultXRSDKInputSystemProfile` without other changes.

[2021-05-06 17:07] torynfarr opened #9765 "Ability to Modify Camera Transform Position at Runtime"
## Describe the problem

Using MRTK 2.6.1 and Unity 2019.4.25f1 LTS, it's not possible to change the camera position (via code) at runtime. It's possible when running in the editor, but not in the player. Setting _Camera.main.transform.position_ to a new Vector3 does nothing.

The MRTK camera profile being used is: _DefaultXRSDKCameraProfile_ and at runtime the device being used is an Oculus Quest

[2021-05-06 17:18] keveleigh commented on #9765
This behavior is unfortunately not controlled by MRTK but is instead inherent in the way Unity keeps the camera aligned with your head.

For this reason, MRTK exposes the MixedRealityPlayspace, which we use for things like teleportation in order to move the camera from one area in the scene to another. You basically need to move a parent of the camera instead of the camera itself.

https://github.

[2021-05-06 17:38] torynfarr commented on #9765
Oh fantastic! Thank you!

I'll give this a shot and see if I can move the camera this way. Sounds simple enough!

[2021-05-06 18:08] polar-kev commented on #9711
Challenges with understanding profiles could be solved by a profile comparator feature.

[2021-05-06 18:20] RogPodge commented on #9763
Yeah we need to update the documentation. Currently, [main](https://github.com/microsoft/MixedRealityToolkit-Unity/tree/main) is the branch that should be forked for contributions

[2021-05-06 18:26] polar-kev commented on #7380
If you're still on 2018, everything should be fixed when 2018.4.35 releases.
If you're on 2019, the fixes are still in flight.
If you're on XR SDK, this should already be fixed in all recent versions of Unity.

[2021-05-06 18:48] MaxWang-MS commented on #9761
Hi @mbpictures, please try to reproduce with the latest MRTK version and let us know if the issue persists. We do not backport fixes to prior versions and the dot releases (e.g. 2.5.1, 2.5.2) only contain fixes to critical issues.

[2021-05-06 19:00] torynfarr commented on #9765
@keveleigh I can confirm that I'm able to both reposition and rotate the camera using the MixedRealityPlayspace.

[code]

Thanks so much for your quick help!

The way I was doing it before (repositioning the entire environment) was quite difficult to do (given that both position and rotation needed to be changed and destination position was not the pivot point. Way too much math 😅

[2021-05-06 19:15] davidkline-ms commented on #5527
sorry about the delay in seeing this!

i am actively looking at the XR Interaction toolkit to see how MRTK and it may work together in the future. i hope to have more to share in the not too distant future.

again, sorry i missed seeing this for so long

[2021-05-06 19:43] keveleigh commented on #9765
Glad to hear it!

[2021-05-06 20:07] RogPodge commented on #9686
Small update on how we're faring here compared to the hololens shell.

1. Hololens lets the select action work on objects that are in focus via the hand ray pointers.
2. Objects will always bring up a small dialogue under objects that can be activated via speech commands, greatly improving the usability of those controls
3. The Hololens doesn't hide the gaze cursor and disable interaction via gaze

[2021-05-06 20:38] MaxWang-MS commented on #9696
Fixed via #9749

[2021-05-06 20:38] #9696 closed

[2021-05-06 21:02] #9763 closed

[2021-05-06 21:30] mbpictures commented on #9761
Ah okay! Well I can't test the current Version, as it seems that HandTracking (and therefor hand menu) doesn't work in Version 2.6.1 and 2.6.0 (See #9682 )

[2021-05-06 21:43] keveleigh commented on #9682
There was a bug for OpenXR in 2.6.0 (and fixed in 2.6.1), but I'm not aware of any blocking Windows XR Plugin issues in 2.6.x.

Which version of Windows XR Plugin are you using? Are you using the "auto connect" feature or manual connection? I believe the latest Windows XR Plugin offers the ability to choose one or the other. Can you try manual if you're not already using it?

[2021-05-06 22:11] shmulk opened #9768 "MRTK Shader - Environment coloring have local position option"
Making an environment and using environment coloring to get some cool 'free' (as in no rasterized textures) coloring effects. For example, I set up the scene how I like it from our default position, using the environment coloring to add a slight orange hue on the mesh on the X-axis. This effect at the default position is only viewable along the edges of the viewable space. However, this project ha

[2021-05-06 23:53] torynfarr commented on #9765
@keveleigh So, I sort of spoke too soon. I'm able to move and rotate the _MixedRealityPlayspace_ Game Object and this does change the camera's position, however... it doesn't seem to alter the camera's rotation as expected.

The expectation would be that after the rotation is set on the _MixedRealityPlayspace_, the camera's rotation would be 0, 0, 0 (facing the same orientation as the playspace).

[2021-05-07 00:01] RogPodge opened #9769 "Allow input sources to raise events to all active pointers rather than a static selection"
## Describe the problem

Some input sources such as speech will want to raise inputs to the currently active pointers, rather than just a static pre-defined set. This will let MRTK better represent input sources that do not naturally have an associated pointer concept

This feature helps track part 1 of the steps needed to be done here for speech: https://github.com/microsoft/MixedRealityToolkit-U

[2021-05-07 01:03] keveleigh commented on #9758
Fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9759

[2021-05-07 01:03] #9758 closed

[2021-05-07 01:10] keveleigh commented on #9765
Ah yeah, we have some math in the teleport system to attempt to orient the playspace in a way that puts the camera in the correct pose:

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/d6398dd1603d7ba9376a0e75ff6e0a6f91d805d8/Assets/MRTK/Services/TeleportSystem/MixedRealityTeleportSystem.cs#L300-L308

You might be able to adapt that for your use case! Assuming I'm interpreting those im

[2021-05-07 05:39] cwule commented on #9764
@keveleigh  Yes, that works, thanks a lot!

[2021-05-07 05:39] #9764 closed

[2021-05-07 12:09] SabinMGeorge opened #9771 "Mutliple trigger events from single Pinch Geusture - MRTK Quest"
## Describe the bug
When interacting using far pointer on UI buttons or MRTK buttons (in hand mode, quest2), single pinch action results in multiple Click events gets invoked. Near interactions works fine as expected.

A clear and concise description of what the bug is.

Far pointer Pinch action using hand invokes multiple events instead of single.

## To reproduce

Steps to reproduce the behavior

[2021-05-07 15:59] Kent1LG opened #9773 "KnowFolder 3DModels path changing from an HoloLens to an other"
## Describe the bug

I'm currently working on a project where I need to get every file of the 3DModels folder. I did it and it's working fine,
until I deploy the application on others HoloLens.

I find that the path return by [KnowFolders.Objects3D](https://docs.microsoft.com/en-us/uwp/api/windows.storage.knownfolders.objects3d?view=winrt-19041#Windows_Storage_KnownFolders_Objects3D) is not the sa

[2021-05-07 18:02] keveleigh commented on #9771
This sounds like the bug that should be fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9576, which has shipped in our latest MRTK 2.7.0-preview.4 if you want to try it out! FYI @RogPodge

[2021-05-07 19:26] torynfarr commented on #9765
Yeah, I was already thinking somewhere along those lines:   get the playspace oriented correctly, then calculate the rotation difference on the _y_ axis between the playspace and the camera and adjust the playspace _y_ rotation accordingly.

This is what I came up with... and it seems to work correctly (going both up the stairs and down the stairs):

[code]

So that works correctly when the _rotat

[2021-05-07 19:26] #9765 closed

[2021-05-07 21:03] keveleigh commented on #9751
Fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9754

[2021-05-07 21:05] belugum opened #9774 "Compilation error when setting up Unity project"
## Overview
 I'm trying to install the MR Toolkit on a new Unity project, with no success so far.

## Expected behavior
An empty Unity project with the MR Toolkit properly installed. I would like to try an example scene.

## Actual behavior
Compilation errors:
[code]
And several other similar errors.
I tried adding "using System.Numerics" on that script, but I get an other error about an unimpleme

[2021-05-07 21:54] keveleigh commented on #9774
@MaxWang-MS Have you seen this?

[2021-05-08 00:43] MaxWang-MS commented on #9774
Hi @belugum, the reason you are seeing this is probably the new Unity project is targeting standalone build target and the Api compatibility level is set to .NET Standard 2.0. To solve this issue in Unity (no matter safe mode or not) go to Edit -> Project Settings -> Player -> Other Settings -> Api compatibility level and change it to .NET 4.x. Also after successfully importing everything remember

[2021-05-08 19:42] mbpictures commented on #9682
I'm using Windows XR Plugin 4.4.2. The issue appears in the packaged (built version) of the application, so I guess it's not related to holographic remoting. The only available emulation mode is "remote to device" as seen here:
![image](https://user-images.githubusercontent.com/2772553/117551426-2d59ef00-b046-11eb-9622-40e25a99d50c.png)

[2021-05-09 18:15] bruhnth17 commented on #9717
The example scene is not contained in the MRTK examples that I have in the project (2.6.1). When downloading the Audio examples through the package manager in Unity, I only get the two you see in the image below.

![intalledMrtk](https://user-images.githubusercontent.com/15120969/117582447-ba667c00-b10a-11eb-956d-f820dd6ffc09.PNG)
![no-stream-demo](https://user-images.githubusercontent.com/1512096

[2021-05-10 00:06] laultman commented on #9722
I had the same issue using the World Lock Tool with MRTK in 2020.3.7. The @powerschaf fixed the errors for me.

[2021-05-10 11:41] ajinkya446 opened #9777 "Need to provide support for QR code Tracking for azure"
## Need to provide support for QR code Tracking for azure

For tracking QR code in mobile platforms for placing anchors in real world.

## Describe the solution you'd like

With the help of Microsoft azure Object anchor using Spatial Graph Co-ordinate System for tracking QR Code on android & IoS devices.

## Describe alternatives you've considered

Need to provide support for this features to mobi

[2021-05-10 12:20] ajinkya446 opened #9778 "Need to minimize the distance for Select/Perform pointer operation on generated mesh models"
## Problem Facing

When i used IMixedRealityPointerHandler for performing object selection operation on 3D models generated by mesh it is not working accurately. For performing operation need to go close to the mesh for selecting object in flutter Android & IoS app

## Expected behavior

Need to provide pointer operation from long range also on generated mesh object

## Use Alternative if possible

[2021-05-10 13:44] blingopen opened #9779 "Microphone Stream Selector didn't work."
## Describe the bug

My OS is Win 10. I import the Microphone Stream Selector package. Then I run the WindowsMicrophoneStreamDemo.unity scene via Holographic. While I am speaking , the mesh doesn't change colour. I check the script WindowsMicrophoneStream.cs, the condition `#if UNITY_EDITOR_WIN || UNITY_STANDALONE_WIN || UNITY_WSA` is false, and the code below it is grey. I try to create a new scr

[2021-05-10 16:38] keveleigh commented on #9773
To clarify: KnownFolders.Objects3D isn't always pointing to a valid / the correct folder?
Can you report which versions of Windows each device is running please? It's also worth reporting this via the Feedback Hub.

[2021-05-10 16:50] keveleigh commented on #9722
If you're using XR Plugin Management / XR SDK in a version of MRTK prior to 2.7.0-preview.4, the DefaultMixedRealityToolkitConfigurationProfile is not the correct profile to use, as it only supports legacy XR (which Unity removed in Unity 2020). You can find more information about the correct profiles at https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/configuration/getting-starte

[2021-05-10 16:50] #9722 closed

[2021-05-10 17:26] #9686 closed

[2021-05-10 17:59] stephenprosso commented on #8835
Where do I add the STEAMVR_INTEGRATION? I have looked through my Project Settings but cannot find the Script Compilation of the Script Define Symbols.

Thanks again!

[2021-05-10 18:00] powerschaf commented on #9722
@keveleigh Yeah you are absolutly right. I use the DefaultHololens2XRSDKConfigurationProfil now and the DefaultXRSDKCameraProfil . Otherwise i get Problems with 2D frozen Holografic View.

[2021-05-10 18:05] RogPodge opened #9781 "Have SeeItSayIt Label's display the correct speech commands"
## Describe the problem
SeeItSayIt label's in general currently contain static, hardcoded information which does not reflect the relevant speech commands available for interacting with an object. For example, buttons have the label "Say 'Button'", which is not actually a keyword for buttons

![image](https://user-images.githubusercontent.com/39840334/117703821-fa674680-b17e-11eb-99da-6f0d74c704f9.

[2021-05-10 18:10] RogPodge opened #9782 "Make MRTK less aggressive with disabling the gaze cursor"
The Hololens doesn't hide the gaze cursor and disable interaction via gaze until the hands are actively engaging in near interactions or far interactions (ie. getting close enough to touch an interactable or forming a pinch gesture). This makes it much easier to stay in the Gaze Interaction Mode for an extended period of time.

We should match this behavior in MRTK, as turning off the gaze cursor

[2021-05-10 18:27] D3m0n92 opened #9783 "Dockable auto re-scale problem"
## Describe the problem

In some cases the re-scale done by the dockable script is not useful or desired. For example in my case I need to leave the real scales of the objects unchanged (already precisely scaled), even when they are in the dock.

## Describe the solution you'd like

The solution would be to add a flag in the Dockable script to enable or disable auto re-scale.

[2021-05-10 18:38] stephenprosso commented on #8835
What if we dont want to use the glove hands and we just want to see the controllers?

[2021-05-10 18:44] eusebiu commented on #8835
I think you need to check SteamVR documentation for that - maybe their Player prefab has some settings for changing the hands though I think you will also need to do the rigging, animations, etc.

[2021-05-10 18:57] stephenprosso commented on #8835
Is it as easy as just typing in STEAVR_INTEGRATION? Or do i need to import a script from somewhere?

[2021-05-11 01:44] #9774 closed

[2021-05-11 07:01] guodan opened #9789 "Scrolling Collection + Grid Collection(Radial Surface)"
## Describe the problem

Scrolling Collection can scroll well when the Grid surface type is plane.But if grid surface type is radial, behavior is odd.

## Describe the solution you'd like

When grid surface type is radial, I can scroll it like a rotation.

## Describe alternatives you've considered

If the surface type is radial, scroll collection just change rotaion.

## Additional context

[2021-05-11 08:44] bruhnth17 commented on #9717
@blingopen do you see a  `#if MICSTREAM_PRESENT` at the top of the file? It is a custom #define - You can find more information about them [here](https://docs.unity3d.com/Manual/PlatformDependentCompilation.html). If you remove the conditions at the top and the bottom of the file, the code will be highlighted as usual.

Because I have Mixed Reality Toolkit Microphone Stream Selector 1.0.0 installe

[2021-05-11 08:55] blingopen commented on #9717
Thanks. @bruhnth17 I've tried it, but there is another problem. This is my issue #9779 . My Microphone Stream Selector didn't work. Is your Microphone Stream Selector working normally? If so, is there any setting I should do?

[2021-05-11 09:03] bruhnth17 commented on #9779
Maybe a stupid question, but are you sure you have "Mixed Reality Toolkit Microphone Stream Selector" installed in your project?

![mrtkHighlight](https://user-images.githubusercontent.com/15120969/117789304-decc7080-b250-11eb-9160-110c6a961252.PNG)

[2021-05-11 12:48] blingopen commented on #9717
yeah, I found you imported this package successfully, so wanna ask if there are other steps after importing this package via official Mixed Reality Feature Tool

[2021-05-11 12:59] blingopen commented on #9779
@bruhnth17 I'm sure I've imported it. But it didn't work.
![pkg](https://user-images.githubusercontent.com/45249287/117818986-b1f17b00-b29b-11eb-993d-dc56c6168927.png)
![grey](https://user-images.githubusercontent.com/45249287/117819005-b6b62f00-b29b-11eb-9f57-07db291aa26c.png)

[2021-05-11 14:29] cjosewski opened #9791 "I'd like to be able to create a rotate gizmo with MRTK."
## Overview

I have a feature request.  I'd like the ability to create a Rotate Manipulator with a Sphere Collider.

## Expected behavior

Use sphere collider to create a Rotate manipulator.

## Actual behavior

## Steps to reproduce
_(Links to sample github project preferred)_

Modify the BoundsControl and ObjectManipulator scripts to be able to use a sphere collider so you can create a Rotate gi

[2021-05-11 14:36] cjosewski opened #9792 "I'd like to be able to create a Rotate gizmo using MRTK"
## Describe the problem

I have a feature request.  I'd like the ability to create a Rotate Manipulator with a Sphere Collider.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

Use a sphere collider to create a Rotate manipulator and modify the BoundsControl and ObjectManipulator scripts to be able to use a sphere collider so you can create a Rotat

[2021-05-11 15:17] Kent1LG commented on #9773
Hey, yes you right, is not pointing to the correct folder, nor the same depend on the HoloLens.

Here are the windows versions :
The one's working well : 20341.1000.arm64fre.fe_release_svc_sydney.210423-1109
The bad one : 19041.1144.arm64fre.vb_release_svc_sydney_rel_prod.210405-1628

Thank you very much for your help.

[2021-05-11 17:15] amccraw commented on #9458
I'm having the same issue with MRTK 2.6.1 and Unity 2020.3.1f1, I'm currently circumventing it by putting the inspector in debug mode and adding the icons.  Doing that allows the icon set to function correctly when referenced by another script, but the icon list disappears when the inspector is set back to normal mode.

[2021-05-11 18:06] #9769 closed

[2021-05-11 23:49] AMollis opened #9794 "Request: Make SpherePointer.IsNearObject virtual"
## Describe the bug

This bug impacts ARR Showcase/Mesh Showcase interaction with remote objects.  To support grabbing remote objects, without using Unity colliders, ARR Showcase implements a custom SpherePointer for grab interactions.

Most of the SpherePointer can be extended.  However we can't extend the IsNearObject::getter behavior.

At the moment we copy the code in SpherePointer, because we

[2021-05-12 02:10] davidkline-ms commented on #9779
@blingopen thanks for the report. i created that demo and will investigate this issue.

Can you send me a picture of the Build Settings dialog for your project? That might show a setting that needs to be adjusted.

Thanks!

[2021-05-12 02:38] blingopen commented on #9779
Hi,@davidkline-ms . This is my Build Settings below.
![buildsetting](https://user-images.githubusercontent.com/45249287/117908583-3f1fe880-b30b-11eb-9d5f-2be609f5a3ef.png)

I tried copy the three scripts to Asset Folder and it works.
![script](https://user-images.githubusercontent.com/45249287/117908914-e1d86700-b30b-11eb-85a5-990ab25e2461.png)

I can run the demo scene, but there is another probl

[2021-05-12 06:00] cwule opened #9795 "SaveInputAnimationAsync never completes"
## Describe the bug

If I record an animation and save it via `SaveInputAnimation`, a .bin file is saved in the respective folder as expected.
If I however try to record an animation and save via `SaveInputAnimationAsync`, only an empty .bin file is created and the async saving task is never completed.
I prefer to use `SaveInputAnimationAsync`, since `SaveInputAnimation `leads to a noticable inter

[2021-05-12 07:55] Brend-Smits commented on #8489
I've been having similar issues as of late.
Using the MRTK Feature Tool, I get these Shader errors. When using the standalone assets that are given to us via the Release (unity packages), it will import correctly and shaders work again.
Maybe this is an issue with the feature tool?

[2021-05-12 08:34] blingopen opened #9796 "Can Hololens 2 record stereo audio by MRTK？"
## Describe the problem

I wanna record stereo audio by Hololens 2. I import Microphone Stream Selector 1.0.0 and use the api `StartRecording` to record audio. Though the wav file have 2 channels, the data in 2 channels is same. So How to record stereo audio? I remember the microphone parameter of Hololens 2 is stereo.

## Describe the solution you'd like

An api can be used to record stereo audio

[2021-05-12 15:18] Kaimbelic commented on #9690
Can confirm this fix works on the Legacy pipeline as well.
Thank you!

[2021-05-12 16:08] qian256 commented on #9713
Thanks @NoTuxNoBux

[2021-05-12 16:08] #9713 closed

[2021-05-12 17:11] polar-kev commented on #9703
This requires Unity to be restarted twice when starting a fresh Unity project. This caveat should be included in the 2.7 known issues list.

[2021-05-12 17:19] polar-kev opened #9798 "Show samples menu item under MRTK (when Examples package is installed)"
Add an "Import Examples" item under Mixed Reality > Toolkit that will leverage the new configurator's code that instructs Unity to display the package manager UI for MRTK Examples. This will help customers to locate / import / update the demo scenes and other examples from our package.

[2021-05-12 18:50] elbuhofantasma opened #9799 "Importing Examples Hub scene with UPM generates SU namespace error"
## Describe the bug

When importing the MRTK Examples Hub scene with UPM into a project, the following warnings below are generated.

![SUnamespace](https://user-images.githubusercontent.com/65038391/118028068-7e543680-b317-11eb-866a-1b54204d0a37.png)

## To reproduce

Steps to reproduce the behavior:

1. Create a new project in Unity 2020
2. Import the MRTK UPM packages to the project via the Pac

[2021-05-12 19:04] elbuhofantasma opened #9800 "Importing samples with UPM generates "Invalid AssetDatabase path" warning"
## Describe the bug

When importing all example scenes into a project from the Examples UPM package, an "Invalid AssetDatabase path" warning for the sample that is being imported.

## Screenshots

![image](https://user-images.githubusercontent.com/65038391/118030335-00ddf580-b31a-11eb-92e0-096ee48fe1ce.png)

## Your setup (please complete the following information)

- Unity Version 2020.3.7
- MRTK

[2021-05-12 19:28] elbuhofantasma opened #9802 "Importing certain example scenes via UPM generates "Creating missing ConstraintManager" warning"
## Describe the bug

When importing the example scenes highlighted below via UPM, a "Creating missing ConstraintManager" warning is generated.

**Initial Examples UPM package import**
![image](https://user-images.githubusercontent.com/65038391/118031972-fae91400-b31b-11eb-8419-6b11ba8c1e8b.png)

**Demos - HandTracking **
![image](https://user-images.githubusercontent.com/65038391/118032270-5451430

[2021-05-12 20:48] RogPodge commented on #9794
PR out for 2.7! #9803

[2021-05-12 21:45] davidkline-ms commented on #9798
Closed by #9801

[2021-05-12 21:57] #9794 closed

[2021-05-12 22:14] #9798 closed

[2021-05-13 00:25] RogPodge commented on #8793
@imsumittyagi this is when using articulated hand tracking correct? The hand mesh that appears while using the controllers is different (though we can have that visualization be disabled if it's a source of confusion)

I am not able to reproduce this with our current MRTK.

[2021-05-13 00:42] sloh-ms opened #9807 "Disable teleport on HoloLens by default"
## Describe the bug

I keep getting a red "teleport" line like we use in VR, emitted from my hands while I'm in our app on HL2. We could work around this by turning off the parabolic teleport pointer in the articulated hands controller - but this probably is the wrong default for HoloLens.

## To reproduce

Steps to reproduce the behavior:

If you're like me, just wave your hands around naturally

[2021-05-13 00:45] RogPodge commented on #9757
Docs updated and reorganized a bit: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/controllers

Would a dedicated page describing the Microsoft.MixedReality.Input package and the role it plays in getting many WMR platforms up and running be useful? I'm thinking it could live in the newly revamped [Supported Device Overview](https://docs.microsoft.com/en-us/windows

[2021-05-13 02:07] MaxWang-MS commented on #9795
Hi @cwule, just to make sure could you confirm that you used the await keyword before RecordingService.SaveInputAnimationAsync()? If not please make sure to do that and mark the SaveRecordedInput function as async. Let me know if that works for you.

[2021-05-13 03:40] cwule commented on #9795
@MaxWang-MS Thanks for the quick reply, that was it!

[2021-05-13 03:40] #9795 closed

[2021-05-13 04:18] imsumittyagi commented on #8793
@RogPodge I am disabling and enabling it via the script

` MixedRealityInputSystemProfile inputSystemProfile = CoreServices.InputSystem?.InputSystemProfile;
        if (inputSystemProfile == null)
        {
            return;
        }

        MixedRealityHandTrackingProfile handTrackingProfile = inputSystemProfile.HandTrackingProfile;
        if (handTrackingProfile != null)
        {

[2021-05-13 11:24] fast-slow-still opened #9810 "XR SDK Spatial meshes partially broken with non-identity playspace"
## Describe the bug
When the transform on the playspace goes from identity to non-identity, the spatial meshes get into an inconsistent state. Some appear to still be correctly aligned with the physical environment, but some are offset by the new MRTK playspace transform.

## To reproduce

Steps to reproduce the behavior:

1. Build app with spatial mesh visualization on (XR SDK) for HoloLens
2. Ru

[2021-05-13 11:30] fast-slow-still commented on #9810
It _appears_ that spatial meshes correctly displaying before the change to the playspace transform continue to correctly display, but new meshes coming in and being created are displayed incorrectly offset.

[2021-05-13 16:17] elbuhofantasma opened #9811 "Example scenes generate "CanvasRenderer components are no longer necessary" warnings"
## Describe the bug

When opening the listed example scenes below in Unity 2020, "CanvasRenderer components are no longer necessary" warnings are generated.

## To reproduce

Steps to reproduce the behavior:

1. Create a new Unity 2020 project
2. Import the MRTK with either the .unitypackages or UPM packages
3. Import TMP Essentials
4. Open an effected example scene
5. See Unity console output

##

[2021-05-13 16:38] elbuhofantasma opened #9812 "HandCoachExample generates "Found an existing event system in your scene" warning when opened"
## Describe the bug

The HandCoachExample generates "Found an existing event system in your scene" warning when opened in the editor. This issue occurs with UPM and .unitypackages.

## Screenshots

![image](https://user-images.githubusercontent.com/65038391/118156727-8ae79600-b3ce-11eb-928b-50481a78ef90.png)

## Your setup (please complete the following information)

- Unity Version 2020.3.7
- MRT

[2021-05-13 17:25] laultman commented on #9810
I sent you two video captures that may reveal the issue.

[2021-05-13 17:29] RogPodge commented on #8793
Can you provide a video @imsumittyagi, I can't seem to reproduce this

[2021-05-13 22:19] MaxWang-MS commented on #9799
We are removing the following script from MRTK for now as it is not used by any scene/other script at the moment. The script is intended to properly clean up the mesh/GameObject generated in the Scene Understanding example scene before switching to another scene. We are planning to readd the script when we place it in a scene at a later date.
[code]

[2021-05-13 22:19] #9799 closed

[2021-05-14 01:14] davidkline-ms commented on #9802
Closed with #9805

[2021-05-14 01:14] #9802 closed

[2021-05-14 02:29] MaxWang-MS commented on #8723
According to Unity's release notes, this issue has been fixed in 2020.3.7 and 2019.4.26.

[2021-05-14 02:29] #8723 closed

[2021-05-14 03:19] MaxWang-MS opened #9817 "Hand tracking not working in Unity 2019 when using Legacy XR and targeting ARM64"
## Describe the bug

The hand tracking is not functioning properly (i.e. no hand mesh, no hand ray, gaze cursor does not go away, cannot trigger button etc.) when the Legacy XR is used and ARM64 is set as the target. The issue cannot be reproduced when targeting ARM or using the WinXR Plugin.

## To reproduce

Steps to reproduce the behavior:

1. Make sure Legacy XR is used
2. Build the hand inter

[2021-05-14 08:47] blingopen opened #9818 "Can't use microphones of Hololens to record audios via Microphone Stream Selector"
## Describe the bug

I'm studying how to use Microphone Stream Selector to record audios. I write an script and it can record audios via Holographic in Unity. When I formally deployed it to Hololens 2, though the app can work and generate wav files, content in every file is blank.

## To reproduce

## Expected behavior

The audio files recorded by Hololens should be valid.

## Screenshots

This is

[2021-05-14 17:18] davidkline-ms commented on #9800
At first glance, this appears to be due to the standard assets package (source of materials, etc) being in the library/packagecache folder.

while researching this issue, i discovered a similar report about the XR Interaction Toolkit: https://forum.unity.com/threads/xr-interaction-toolkit-sample-import-error.1095388/

[2021-05-14 17:21] davidkline-ms commented on #9800
The scenes with references to materials in the packagecache do work. I will try moving the standard assets into the Assets folder to see if this eliminates the warning (i expect it will).

Doing so will require adding logic similar to what is done for the shaders (copy to Assets, require explicit permission to overwrite) along with the risk of overwriting customer changes to materials, etc.

[2021-05-14 17:41] davidkline-ms commented on #9800
Moving to 2.x future while we investigate why Unity 2020 chose to point this out in packages that reference assets in the library folder.

[2021-05-14 17:51] #9810 closed

[2021-05-14 18:14] #9807 closed

[2021-05-14 18:15] elbuhofantasma opened #9821 "Importing ColorPicker sample generates ConstraintManager warning"
## Describe the bug

When importing the ColorPicker sample from the Examples UPM package, a "Creating missing ConstraintManager componenent..." warning is generated for ObjectManipulator in Quad.

## Screenshots

![image](https://user-images.githubusercontent.com/65038391/118311902-64e0f500-b4a5-11eb-8599-8e4fcc551dda.png)

## Your setup (please complete the following information)

- Unity Version

[2021-05-14 23:44] davidkline-ms commented on #9723
While investigating this, @CDiaz-MS and I came upon the following line in the MRTK EditorAssemblyReloadManager

[code]

We tried removing this line and also removing the Refresh() parameter and we still encounter the loop.

[2021-05-14 23:45] davidkline-ms commented on #9723
Testing was done on Unity 2020.3.8f1. This does not occur on previous versions (ex: 2019.4)

[2021-05-15 00:06] RogPodge commented on #9807
Hey there, we've decided to not move forward with disabling teleport on Hololens due to it already being a publically used an requested feature.

If you want to disable teleport for your project, you can do so by disabling the Teleport system under the MRTK profile in the MixedRealityToolkit Gameobject in your scene.

![image](https://user-images.githubusercontent.com/39840334/118342072-a76ef580-b

[2021-05-15 00:16] davidkline-ms commented on #9723
The more we look at this, the mo.re if seems like a behavior change in Unity 2020

[2021-05-15 00:34] elbuhofantasma commented on #9817
I can confirm that I am seeing this issue when following these steps. I think I have narrowed the cause down to IMixedRealityInputDeviceManager not registering the OpenXR input data providers, which causes it to be unable to calculate the bounds and tracking origin. I am putting the debug and release logs in this response to show what I am seeing, as well as the Unity Console output.

As a side no

[2021-05-15 08:24] imsumittyagi commented on #8793
@RogPodge Here is the video and project
https://user-images.githubusercontent.com/20392525/118353239-038f5380-b583-11eb-821b-cdb236f8e6c7.mp4
https://www.dropbox.com/s/tzb4kk60c7j10wy/MRTKDemo.zip?dl=0

[2021-05-15 19:21] RogPodge opened #9823 "Add way to disable controller visualization at runtime. Clarify Hand Joints and Hand Mesh as specifically for articulated hands"
## Describe the problem

Users currently have the ability to turn off articulated hand mesh and articulated hand joint visualizations at runtime, this issue tracks doing the same for controller visualizations. We also need to be more clear that hand mesh and hand joints refer specifically to articulated hand meshes and joints.

Related to this: https://github.com/microsoft/MixedRealityToolkit-Unit

[2021-05-15 19:21] RogPodge commented on #8793
Oh yeah, those hands are actually the "Avatar Hands" from the Oculus Controllers, and not the "hand mesh", which refers to the visuals that are displayed when using articulated hands.

![image](https://user-images.githubusercontent.com/39840334/118375603-8e6a5100-b577-11eb-9747-a8d06ef85009.png)

We will work towards adding a setting to dynamically turn motion controller visualizations on/off, and

[2021-05-15 19:21] #8793 closed

[2021-05-16 10:22] sogofurikai opened #9825 "Microsoft's MixedReality-WebRTC library. remote video player does not show up even though Peer conne"
Hi Everyone,

The remote video player does not show up.
Tutorials on https://microsoft.github.io/MixedReality-WebRTC/manual/unity/helloworld-unity-connection.html and https://forum.unity.com/threads/mic...mponent-doesnt-have-a-source-property.994370/ I'm referring to the question.
(The webrtc connection seems to be fine, and the offer and answer messages seem to be fine.)

I think it has something

[2021-05-16 13:06] eusebiu commented on #8835
Just add it in that list - it's simply a preprocessing directive.

[2021-05-16 13:07] eusebiu commented on #9195
Unity bug - closing - fixed in latest Unity releases.

[2021-05-16 13:07] #9195 closed

[2021-05-17 16:07] keveleigh commented on #7178
@RogPodge Is this fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9733?

[2021-05-17 16:25] keveleigh commented on #9682
I think this is a combination of a couple things.

1. Unity recently changed the behavior of remoting to auto-connect on startup instead of manually connecting before startup. This appears to have led to a slight delay in XR initializing after the app starts up due to needing to run through the connection hooks
    1. Unity re-added the manual connection option in the most recent releases (or the

[2021-05-17 16:34] keveleigh commented on #9823
This has always been a feature where its current implementation kinda goes against our other MRTK patterns. It currently checks against the profile itself, while we've always tried to use the profile as startup values and expose runtime settings on systems themselves.

Probably a larger overhaul than we'd want to do for 2.x (and not really in scope specifically for this issue) but could be good fo

[2021-05-17 16:52] keveleigh commented on #9705
Added via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9787

[2021-05-17 16:52] #9705 closed

[2021-05-17 19:11] cre8ivepark commented on #9811
@elbuhofantasma It seems this only happens in 2020? I just tried in 2019 but couldn't see the warnings.

[2021-05-17 19:57] keveleigh commented on #9817
I'm not able to repro this :/ I have full hand mesh and hand joint support running on-device with legacy XR and building Release/ARM64 as described

[2021-05-17 22:00] RogPodge commented on #7178
Should be!

[2021-05-17 22:00] #7178 closed

[2021-05-18 00:06] #9781 closed

[2021-05-18 01:13] cre8ivepark commented on #9811
Somehow, I don't see the CanvasRenderer component in the objects that gives warnings. Not sure if this is something related to TextMesh Pro issue on a specific version.

[2021-05-18 03:11] MaxWang-MS commented on #9817
The issue cannot be reproduced after Visual Studio is updated to 16.9.5. Marking as external and closing for now.

[2021-05-18 04:52] cre8ivepark opened #9829 "Bounds Control's Configuration files does not exist as asset"
## Describe the bug
BoundsControl.cs provides the capability for customizing visuals through Configuration (profile) files. However, currently, there are no configuration files in the assets. Users have to use configuration files under specific example (Cheese.prefab) which can cause problems when those prefabs are deleted or removed from the project.

## To reproduce
1. Add any object
2. Add Boun

[2021-05-18 07:26] cwule opened #9831 "Weird hand pose - InputSimulationService"
## Describe the bug

When recording hand input via the `InputRecordingService `on the Hololens 2 and playing it via the `InputPlaybackService`, the joint poses are usually correct while I often observe weird handposes of the hand mesh (screenshot below). I don't observe that weird behaviour during testing in the Unity editor, only when deployed to the Hololens 2.

## To reproduce

Record and play

[2021-05-18 11:40] SuriyaSwami13 commented on #7989
Do we have an update if this is resolved? Or any other workaround?

[2021-05-18 12:44] Kent1LG commented on #9773
Quick update :

I tried with the last update : 10.0.20346.1002
and it's not working either.

[2021-05-18 15:41] Rive4 opened #9833 "Object which contains BoundsControl.cs is crashing the app"
## Describe the bug
I am using BoundsControl.cs in order to modify the shape of a normal cube. I set up the GameObject as the following images:

![Captura1](https://user-images.githubusercontent.com/25901929/118681091-989e8080-b7ff-11eb-96cc-6c6c6c23458c.PNG)
![Captura2](https://user-images.githubusercontent.com/25901929/118681099-9b00da80-b7ff-11eb-8d4c-006a70eb701c.PNG)

The parts of the script

[2021-05-18 15:46] SabinMGeorge commented on #9771
@keveleigh, ya its fixed. Thanks

[2021-05-18 15:46] #9771 closed

[2021-05-18 15:58] keveleigh commented on #9831
Woah, that's weird! @RogPodge @cre8ivepark have you ever seen anything like this?

[2021-05-18 16:55] CDiaz-MS commented on #9833
Hi @Rive4,

You can achieve this behavior within Bounds Control

Add a y axis scale constraint:

![image](https://user-images.githubusercontent.com/53493796/118692009-7fc1ab00-b7be-11eb-9e9a-124353522248.png)

Adding a move constraint:

![image](https://user-images.githubusercontent.com/53493796/118691114-987d9100-b7bd-11eb-861d-0a5a383c8671.png)

![image](https://user-images.githubusercontent.com

[2021-05-18 17:51] keveleigh commented on #9553
Fixed visa #9813

[2021-05-18 17:51] #9553 closed

[2021-05-18 19:10] MaxWang-MS commented on #9833
Hi @Rive4, could you also confirm whether you are targeting ARM or ARM64 in Visual Studio when building and deploying? If it's ARM64 then you can try switching that to ARM and see if the crash goes away.

[2021-05-18 19:23] CDiaz-MS commented on #9750
Fixed by #9755

[2021-05-18 19:23] #9750 closed

[2021-05-18 20:02] cre8ivepark commented on #6735
The issue was resolved by hiding duplicated ToggleFeaturesPanel in each example scene.
Closing this.

[2021-05-18 20:02] #6735 closed

[2021-05-18 20:06] keveleigh commented on #6735
@cre8ivepark Is this what caused the missing ToggleFeaturesPanel that I re-enabled in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9687? Were these changes all checked into the repo? It feels like a weird state, since it'd make the scenes unusable on their own :/

[2021-05-18 20:28] keveleigh commented on #9586
Possibly related to https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8459

[2021-05-18 20:38] cwule commented on #9831
Also to note my comment above, since this is not so clear from the screenshot, only the hand mesh is affected, the joints are correct.

[2021-05-18 20:42] polar-kev commented on #8839
@mr0ng were there changes to the tutorial assets that would prevent this from working on older versions of MRTK?

[2021-05-18 20:49] polar-kev commented on #8899
Closing this issue since the questions have been answered.

[2021-05-18 20:49] #8899 closed

[2021-05-19 07:24] Rive4 commented on #9833
Hello,

@CDiaz-MS , I have tried to do what you did but I don't have "Uniform scale on flattened axis" button (maybe because of the MRTK version?).
Furthermore, when I set "Flatten Y", the handles disappear from the cube so I can't resize it.
Should I upgrade to v2.6.1?

@MaxWang-MS I have compiled targeting ARM in Visual Studio instead of ARM64 and seem it works. Is there any explanation for this

[2021-05-19 09:58] ewolf29 commented on #9682
Just to confirm, MRTK 2.5.4 is working with the new remoting auto-connect system. This issue is exclusively related to MRTK 2.6.

[2021-05-19 10:30] powerschaf commented on #6369
@keveleigh @davidkline-ms @Troy-Ferrell @johntran-git

Hello everyone, i also tried to use the GrammarRecognizer, with simple stuff or web examplels but nothing worked. I am programming an App for my bachelor thesis and the Voice Recognition is a core feature, so i need to get this to work :(

For example in my App the user says "Bloodpressure 120 to 80" , "Temperature 36,5°c"... and i need the nu

[2021-05-19 11:27] powerschaf opened #9836 "The GrammarRecognizer of UnityEngine.Windows.Speech seems not to work within Unity 2020.3.6f1 and MRTK 2.6.1."
## Describe the bug

The GrammarRecognizer of UnityEngine.Windows.Speech seems not to work within Unity 2020.3.6f1 and MRTK 2.6.1.

## To reproduce

Steps to reproduce the behavior:

1. Make Unity Project / Switch to UWP
2. Add MRTK 2.6.1 , add Windows Speech Input Provider
3. Use XRSDK profil for HoloLens2 , Install XR Plugin
4. Make sure Microphone is enabled in Player Settings
5. TestClass:
 `u

[2021-05-19 16:23] CDiaz-MS opened #9838 "Please remove the CanvasRenderer component from the [TextMeshPro] GameObject as this component is no longer necessary warning"
There are warnings in most example scenes:
![image](https://user-images.githubusercontent.com/53493796/118847931-1f487180-b883-11eb-9a8e-adae0e40934b.png)

[code]

The source is the TextMeshPro gameobject within the PressableButtonHoloLens2 prefab.

[2021-05-19 16:25] CDiaz-MS commented on #9838
Duplicate of #9811

[2021-05-19 16:48] keveleigh commented on #9682
That makes sense! That's when the data provider filtering was added. I have some ideas and should have a PR open this week.

[2021-05-19 17:13] davidkline-ms commented on #9829
resolved by #9830

[2021-05-19 17:13] #9829 closed

[2021-05-19 17:14] #9737 closed

[2021-05-19 17:20] cre8ivepark opened #9839 "Update MRTK UI Toolbox"
## Describe the bug
UI Toolbox hasn't been updated for a while and it is missing some newly added UX components.
Since Figma Toolkit relies on this list, it should be updated.

[2021-05-19 17:30] #9838 closed

[2021-05-19 17:46] polar-kev commented on #9499
Hey @dilmerv, it's not clear if this crash is being caused by MRTK or something else. Could you provide a player log? Have you retested on the latest version of Unity/OpenXR package?

[2021-05-19 18:04] davidkline-ms commented on #9723
Disabled the two likely causes of the importing trigger to no avail. From what I am seeing, I cannot identify where MRTK is doing something that is the root cause,

[2021-05-19 18:06] davidkline-ms commented on #9723
Here are the changes that were attempted:

EditorAssemblyReloadManager.cs
[code]

ProjectPreferences.cs
[code]

[2021-05-19 18:10] RogPodge commented on #9831
Yikes I never encountered this while recording the new set of hand poses. It might have to do with the joint rotations being weird even though the joint positions are correct? (Since the mesh deforms based on the rotations)

I don't think we have the time currently to dive deep into this, so for now I'd recommend just using the hand joint visualization for recording playback. We're looking to impr

[2021-05-19 18:44] MaxWang-MS commented on #9579
Fixed via #9816

[2021-05-19 18:44] #9579 closed

[2021-05-19 21:33] keveleigh commented on #9752
Makes sense to me! I think at a minimum, this means adding controller classes for the remaining Unity-supported controller types:

![image](https://user-images.githubusercontent.com/3580640/118887424-300edc80-b8af-11eb-9bea-e68a86edcfa0.png)

[2021-05-19 23:18] davidkline-ms commented on #9812
From looking at the scene file, there is o,ne EventSystem object and it is on the Camera object. However, in Unity 2020, the parent of the EventSystem is getting reported as the MixedRealityPlayspace, so another is added on the camera. This results in two (2) EventSystem objects on the Camera object.

[2021-05-20 03:12] davidkline-ms commented on #9821
I have a fix ready for this. It'll likely be part of a PR with at least one other import / asset load warning fix.

[2021-05-20 03:55] soshogoh commented on #9468
Could you please update when this issue will be fixed?

[2021-05-20 04:48] cwule commented on #9831
- It is not only the hand pose that is affected, the recorded camera pose also occasionally flips by 180deg.
- The hand tracking error can also be observed via holographic remoting.

[2021-05-20 08:52] JPhilC commented on #8915
@arunrajselvaraj  I have this problem. If you don't mind me asking, what was the internal problem with your project?

[2021-05-20 16:25] keveleigh commented on #9468
@soshogoh Which issue are you referring to? The decision matrix being created?

[2021-05-20 16:52] RogPodge commented on #9831
can you provide a video that describes the recorded camera pose issue that you are seeing?
if there's any error logs or can provide the hand data/hand animation data that would also help identify the issue!

[2021-05-20 17:26] CDiaz-MS commented on #9811
This warning is logged in TextMeshProVersion 3.0.4, 3.0.3 while using Unity 2020.

The warnings are not present in Unity 2019 or Unity 2018 because the default TMP versions depend on the Unity version.  For example, Unity 2019 uses TMP 2.x and Unity 2020 uses TMP 3.x:
![image](https://user-images.githubusercontent.com/53493796/119021348-2db28e00-b954-11eb-8cf0-29cef72b05cf.png)

In TMP 3.0 the fol

[2021-05-20 17:45] #9573 closed

[2021-05-20 17:48] CDiaz-MS commented on #9811
- [ ] Update release notes informing Unity 2020 users of the TMP warnings