[2019-05-02 23:38] provencher commented on #4170
Referenced here:
https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4077#issuecomment-488869755

[2019-05-03 05:57] TautvydasZilys commented on #4037
Here's documentation on how to debug C# scripts in Unity: https://docs.unity3d.com/Manual/ManagedCodeDebugging.html

On UWP with IL2CPP, you just need to make sure that Internet Client, Internet Server and Private Networks capabilities are enabled in the app manifest. I works great debugging remote ARM64 laptops and HoloLens 1. I haven't tried debugging HoloLens 2 yet but I don't see why it wouldn

[2019-05-03 08:53] limbusdev opened #4172 "Please provide updated SharingWithUNET example"
In MRTK v1 there was an example Scene "SharingWithUNET". Please provide this example for MRTK v2 as well.

[2019-05-03 09:40] zxzkf1992 commented on #1190
@gianidiny
This error occurred when I tested my project today.
And before i have this error everything works good with speech recognition!
I can be sure that the windows settings are completely correct and the Cortana Application always works very well !
I have tried many methods, including reinstalling windows system.
Can you tell me how you solved this problem?

[2019-05-03 11:13] lukastoenneMS opened #4173 "null reference when creating ManipulationHandler at runtime"
## Describe the bug
I am creating a number of ManipulationHandler components _at runtime_ (because there are too many parts to set up manually in the editor). I'm getting null references on the 4 ManipulationEvents in the component (ManipulationStarted/Ended, HoeverEntered/Exited).

The event fields are never explicitly assigned in the code, it seems they "usually" are created automatically someho

[2019-05-03 11:49] overedge commented on #4092
I saw a friend use immersive WMR to read aruco marker how did he do it knowing that he did not have access to the webcam and the specatorview mode only works for hololens?

[2019-05-03 14:03] jbienzms commented on #3957
Hey @provencher, interesting code. I'd like to understand a little better what the code is trying to do. When you say "which pointer is best represented by the ui targetting camera", how are you determining the "ui targeting camera"? Are you referring to the one that is referenced by the Unity UI system? You may not be referring to that one, but if you are I was under the impression that one of th

[2019-05-03 16:55] keveleigh commented on #4168
Are you able to work around this by just referencing the class name directly, after adding the `using`? We use references declared in the Windows namespace in some scripts, like https://github.com/Microsoft/MixedRealityToolkit-Unity/blob/mrtk_release/Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs#L232 without doing anything specific.

[2019-05-03 17:13] julenka opened #4174 "NearInteractionTouchable cannot be pressed from the side"
## Describe the bug

Near interaction touchables can only be configured to be touched within a quad region, from one direction.

## To reproduce

1. Create a box collider with cube on it.
2. Add near interaction touchable, set local forward to -1
3. Try to touch the cube from the side

## Expected behavior

1. As I approach the cube from side, finger cursor shows up correctly angled toward the cub

[2019-05-03 17:17] keveleigh commented on #4142
This should be fixed as of https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4088, though this has not yet made it into a release.

[2019-05-03 18:14] radicalad commented on #4168
Nope, it works in that file because the namespace is scoped past the conflict. Notice in my first screenshot I have a `using Windows.Storage'.

I know this is less of an issue for people consuming MRTK. I just wanted to point it out because I spent half the day yesterday thinking my assemblies were screwed up or I was missing a reference.

[2019-05-03 20:38] oitoito opened #4175 "TryGetJointPose only works on Handedness.Right/Handedness.Left but not Any"
## Describe the bug
TryGetJointPose only gives a result on Handedness.Right/Handedness.Left but not Handedness.Any.

A clear and concise description of what the bug is.
Using Handedness.Any as parameter will always return false. In the documentation it is pointed out that it should be placed in an if statement implying that true means the joint pose has been acquired and false otherwise.

## To re

[2019-05-03 21:09] provencher commented on #3957
Hi @jbienzms

I've found that `MixedRealityToolkit.InputSystem.FocusProvider.UIRaycastCamera.transform.rotation * Vector3.forward;` is roughly mapped to the direction of the pointer, but not exactly.

That camera moves to match the head rotation when the GGV pointer is active, and then moves to the hand position and orientation when the hand far interaction pointer is active. From what I found the

[2019-05-03 21:33] erhavir opened #4176 "Head cursor on by default in scene"
## Overview
We are seeing the head cursor being on by default. It turns off when hands enter the scene, and then turns back on when hands go away. This isn't the behavior in the shell, where head cursor appears only before first hand interaction and disappears and then only appears again when voice has been used and then goes away upon hand interaction and stays away.

## Expected Behavior
If the

[2019-05-04 17:16] julenka commented on #4170
Fixed by #4171

[2019-05-04 17:16] #4170 closed

[2019-05-04 17:24] randystiles commented on #4173
This same runtime issue with events is probably present in the other interaction types, where they presume things are set up in the editor, instead of created at runtime.

[2019-05-04 17:30] randystiles opened #4179 "ManipulationHandler transform not settable at runtime"
## Describe the bug

ManipulationHandler does not allow runtime setting of hostTransform for manipulation.

Works in editor, but not in a runtime script.

## To reproduce

Steps to reproduce the behavior:

1. Add manipulation handler to your GameObject in script using AddComponent
2. Try to set the hostTransform
3. It is private and there is no set method for it.

## Expected behavior

In script (

[2019-05-04 17:56] julenka commented on #4155
Hi, thank you for filing a bug!

If you want to make the object rotate using two hands, but not move, please double check the **Manipulation Type** field, and make sure it is set to **Two Handed Only**.

When I set the repro steps as described I get rotation only when Manipulation Type is set to Two handed only. I get one hand translation and two hand rotation when Manipulation Type is set to One

[2019-05-04 17:56] #4155 closed

[2019-05-05 09:05] SimMue commented on #4094
I'm going to test this on the real hololens and will come back with more information next week.

[2019-05-05 11:51] limbusdev commented on #4155
Hi, thank you for replying. Shouldn't this work with "One Handed Only" and "One and two handed" as well?

[2019-05-06 01:22] julenka commented on #4155
Hm, I think I'm a little bit confused...I'd like to come up with a solution though that's understandable, so let's debug this.

Could you describe the desired behavior you want again, and the configuration you used?

My understanding is you want to be able to have an object that can be rotated, but not moved. The rotation should be perform-able with two hands. If you try to use one hand, then noth

[2019-05-06 05:58] julenka commented on #4167
@cre8ivepark , I believe you worked on the slate prefab, could you please take a look?

[2019-05-06 05:59] julenka commented on #4169
@thalbern are you taking over on buttons now? Is this something you could look at?

[2019-05-06 06:00] julenka commented on #4168
@keveleigh is this something that @andreiborodin is owning, since he worked on namespaces? I'm unclear on who would take this bug on.

[2019-05-06 06:01] julenka commented on #4156
Thank you for the feedback! @lukastoenneMS  is this something that you worked on, and could help with?

[2019-05-06 06:10] julenka commented on #4089
Interesting. Out of curiosity, how would I actually load a second scene today, with MRTK. I've tried using `SceneManager.LoadScene` but that causes many null pointer errors. See my comments in PR #4035 to illustrate how I tried switching scenes while in Unity play mode, and the errors that I hit.

[2019-05-06 09:16] limbusdev commented on #4155
Alright, maybe it's better to tackle it from another side. I want to be able to set the behaviour for one and two hand gestures, not only for one handed. Right now only two handed gestures are settable. I watn to be able to set what happens, when using only one handed gestures. Maybe another setting "One handed manipulation type" where I can set "Rotate only" would be the way to go.

[2019-05-06 09:16] limbusdev commented on #4155
Alright, maybe it's better to tackle it from another side. I want to be able to set the behaviour for one and two hand gestures, not only for one handed. Right now only two handed gestures are settable. I watn to be able to set what happens, when using only one handed gestures. Maybe another setting "One handed manipulation type" where I can set "Rotate only" would be the way to go.

[2019-05-06 09:56] djee-ms commented on #4151
I can repro that:

![BoundingBoxRigOffsetBug](https://user-images.githubusercontent.com/49064175/57218011-21b53700-6fec-11e9-816a-cb05def4f8e5.png)

Any initial scale applied to `rigRoot`'s parent, that is the `GameObject` with the `BoundingBox.cs` script attached to it, affects the bounding box and produces artifacts as shown in @meulta's screenshot and above. In the example above the Y scale is

[2019-05-06 11:31] dl4mmers opened #4183 "Null reference when creating Interactable at runtime"
## Describe the bug

I'm getting a NullReferenceException @ Interactable.cs:272 when i'm creating gameobjects with  interactable components at runtime. This exception does not occur when i'm creating the gameobjects before runtime in editor.

## To reproduce

1. Create a new MRTK scene.
2. Add an empty gameobject and assign the following script:

[code]
3. Hit play button
4. Console should print f

[2019-05-06 14:31] AmineI commented on #4094
I just tested on real HoloLens and it's fine ! So the issue is only present in the emulator. That's still bothering at times - but thankfully the Editor Play Mode does the job most of the time :) .

[2019-05-06 16:41] AmineI commented on #4164
Can confirm it also happens on real HoloLens

[2019-05-06 17:46] wiwei opened #4184 "RC2 Notes"
This issue tracks release notes, migration guides, and other things of interest to mention in the RC2 release.

[2019-05-06 17:46] wiwei commented on #4184
Calling out that we should highlight https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4103 which makes it easier to do an HTK -> MRTK upgrade

[2019-05-06 18:00] Railboy commented on #4089
Right now there's no way to do it that doesn't cause problems. We've been attacking separate issues one-by-one (eg the camera cache fix) and there are still more to go (like the ones you list in your comments). The plan is to fix those issues individually and marge them into mrtk_development before this service is released.

[2019-05-06 19:40] andreiborodin commented on #4168
Yeah, @julenka, this should be assigned to me most likely.

[2019-05-06 19:55] jbienzms opened #4186 "Github.io Generation Problem?"
## Describe the Issue
Some pages are not rendering correctly on Github.io. For example, on this page:

https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/EyeTracking/EyeTracking_ExamplesOverview.html

Images do not show up correctly, and the **Eye Tracking example package** link on that page returns a 404.

However, if you click the [Improve this Doc](https://github.com/Microsoft/

[2019-05-06 20:06] Troy-Ferrell opened #4187 "MRTK Interactable speech keywords does not work"
## Describe the bug

Interactable speech keywords requires IsGlobal to be on (See OnSpeechKeywordRecognized()). However, this means the other interfaces on the button will respond to global select events.

Further, the voice command should be a toggle enum like SpeechInputHandler.cs

## To reproduce

1) If IsGlobal on and RequiresFocus off, then speech works but button responds to global select ev

[2019-05-06 20:07] keveleigh commented on #4186
GitHub is more forgiving with their image paths. I can update these.

[2019-05-06 20:14] mgrman opened #4188 "Instanced Color on Standard Shader causes Visual Artifacts on Device"
## Describe the bug

Turning on Instanced Color for back plates of the pressable buttons, to batch them, causes visual artefacts on device. Color flickers as the cursor moves over the buttons. Tested with PressableButtonPlated prefab.

## To reproduce

Steps to reproduce the behavior:

1. In PressableButtonPlated prefab, in the Material on BackPlate GameObject enabled Instanced Color (close to the

[2019-05-06 20:36] Cameron-Micka commented on #4188
Thank you Martin for filing this! Are you using the Graphics.DrawMeshInstanced api (or something similar) to render the backplates? Or, how are you passing in the instanced color?

[2019-05-06 20:56] keveleigh commented on #4163
Fixed via #4190

[2019-05-06 20:56] #4163 closed

[2019-05-06 21:00] keveleigh commented on #4186
Fixed links and images via https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4190

[2019-05-06 21:04] mgrman commented on #4188
Nothing special, backplate is part of the scene.  Only checked the checkbox in the material. Then the interactable Theme changes the color based on button state using materialBlock

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Cameron <notifications@github.com>
Sent: Monday, May 6, 2019 1:37:05 PM
To: Microsoft/MixedRealityToolkit-Unity
Cc: Martin Grman; A

[2019-05-06 21:59] jbienzms opened #4193 "Gaze Input capability missing"
## Describe the bug

Currently the _Gaze Input_ capability cannot be set in Unity. This is a Unity issue but it does [not appear](https://unity3d.com/search?refinement=issues&gq=Gaze) it has been reported to Unity. This bug severely affects MRTK and the ability for MRTK to properly set capabilities. Without this capability in Unity, the user must manually add it after the project has been exported

[2019-05-06 22:03] jbienzms opened #4194 "Auto-enable capabilities needed for eye tracking"
## Describe the problem

Work is being done in the MRTK to try and automatically enable the app capabilities (permissions) necessary for services to work. On HoloLens 2, a special capability called _'Gaze Input'_ is needed, but that capability is not currently being set when eye tracking is enabled.

This is mainly due to #4193 which is currently out of our control, but it could be possible to wor

[2019-05-06 22:08] Cameron-Micka commented on #4188
Ah okay! When the “instanced color” checkbox is checked the shader assumes a buffer of instanced color properties exists. If one doesn’t exist (which one will not unless explicitly set) then it is probably reaching into uninitialized, or neighboring, memory hence the flickering colors. I’m hoping to open source an example of using this feature soon, but I can send you the example early if you woul

[2019-05-06 22:14] #4186 closed

[2019-05-06 22:24] jbienzms opened #4195 "Inconsistency in eye tracking properties"
## Describe the bug

When viewing GazeProvider in the Unity inspector there is a option labeled "Prefer Eye Tracking". However, in the [GazeProvider](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs) code this field is exposed as the property **UseEyeTracking**. These are inconsistent.

MRTK will fall back

[2019-05-06 22:47] mgrman opened #4196 "Previous hand rays are visible when blooming out and back in"
## Describe the bug

Hand rays getting stuck if you "bloom" out of the app and going back. Old hand rays get stuck and new hand rays pop up. So you can see 3 or more hand rays at the same time.

## To reproduce

On device, in app, if you hit the home button with hand rays visible and then bloom to shell. And open the app the previous hand rays are visible and new ones come up.

NOTE: This does not

[2019-05-06 23:02] julenka commented on #4196
Marking as Urgency-Soon because it is a user-visible defect.

[2019-05-06 23:15] Troy-Ferrell commented on #4188
I think this is a bug we may have seen earlier Cameron whereby during initialization the material property is accessed causing a new instance to be created when that shouldn't be the case because the InteractableShaderTheme should be setting values via materialblocks

[2019-05-06 23:50] chbecker-ms opened #4198 "Create ARM64 and AMD64 build tasks"
MRTK RC1 (refresh) supports Unity 2019.1 which supports HoloLens 2 ARM64 applications. Our CI systems should validate this as well.

AMD64 appears to be missing as well which I assume we need for OpenVR/WRM support?

https://dev.azure.com/aipmr/MixedRealityToolkit-Unity-CI/_build/results?buildId=1469

[2019-05-07 00:23] chbecker-ms opened #4199 "Packaging: NuGet support"

[2019-05-07 00:44] chbecker-ms opened #4200 "[MRTK Shell Parity] UX Controls Parity with HoloLens 2 Shell"
# RC2
## Cursor/Pointer
- [x] [#4417][PR #4446][Yoon] Asset: Replace current MRTK cursor with shell-parity cursor.
- [x] [#4418][PR #4446][Yoon] Asset: Contextual cursor icons
- [x] [#4407][PR #4526][Lars] Tether line visual fit & finish

## Button
- [x] [#4410][PR #4501][Yoon] Visual fit & finish: proximity light intensity, distance, pulse effect polish, etc...

## Bounding Box
- [x] [#4416][PR #

[2019-05-07 00:55] chbecker-ms opened #4201 "Can't interact with UI components using a gamepad controller"
Run HandInteractionExamplesScene in the editor with an Xbox gamepad connected.
Click on any UI element
You'll hit the following assert:
`
KeyNotFoundException: The given key was not present in the dictionary.
System.Collections.Generic.Dictionary`2[TKey,TValue].get_Item (TKey key) (at <d7ac571ca2d04b2f981d0d886fa067cf>:0)​
Microsoft.MixedReality.Toolkit.Input.DefaultPointerMediator.UpdatePointers

[2019-05-07 00:57] chbecker-ms opened #4202 "MRTK uses OnValidate to initialize when it shouldn't be loaded"
OnValidate is being called, when a blank scene is loaded without MRTK even enabled.

OnValidate should not be using to initialize objects:

NullReferenceException: Object reference not set to an instance of an object
Microsoft.MixedReality.Toolkit.Core.Definitions.MixedRealityCameraProfile.ApplySettingsForOpaqueDisplay () (at Assets/Libraries/Core/Assets/Core/MRTK/MixedRealityToolkit/Definitions/M

[2019-05-07 00:58] chbecker-ms opened #4203 "Hand ray disappears when hand gets near SR"
Hand rays should only disappear when hands are near grababble or touchable things, not when the hand is near a non-interactive element like SR (the surface mesh).

## Additional Context
This is happening because SpherePointer.IsNearGrabbable will return true if it is near ANY collidable, but it should only return true if it is near something that is grabbable (has NearInteractionGrabbable componen

[2019-05-07 02:19] chbecker-ms opened #4204 "Enable DSLR/Capture Card SpectatorView experience in MRTK"

[2019-05-07 02:21] chbecker-ms opened #4205 "Enable HoloLens 2/HoloLens/VR Headset spectator experience"

[2019-05-07 02:24] chbecker-ms opened #4206 "Refactor Compositor plugin to live in shared codebase"

[2019-05-07 04:21] IfnoLee opened #4207 "errors in run source code(.zip) (or download two unitypackages)"
## Describe the bug
show some errors while run lastest relase v2.0.0 RC1 Refresh source without any change in unity 2018.3 remote to my hololens 1( I' m sure connecting success)。

A clear and concise description of what the bug is.
1.Failed to find a holographic camera. Is the Mixed Reality portal running?
2.Main camera does not exist!
         UnityEngine.XR.WSA.HolographicSettings:get_IsDisplayO

[2019-05-07 06:26] SimMue commented on #4183
Same problem here. Haven't found a nice way how to achieve this yet.
My current workaround copies the interactable settings from a gameobject which I added to the scene via editor.

var settings = loadedObj.AddComponent<Interactable>();
settings.enabled = true;
settings.States = copiedSettings.States;
settings.Events = copiedSettings.Events;
settings.OnClick = copiedSettings.OnClick;
return settin

[2019-05-07 06:40] IfnoLee opened #4208 "Destroy transform errors"
## Describe the bug
appear destroy transform errors when stop unirt editor.
A clear and concise description of what the bug is.
Can't destroy Transform component of 'SpatialMesh - 1023'. If you want to destroy the game object, please call 'Destroy' on the game object instead. Destroying the transform component is not allowed.
## To reproduce

Steps to reproduce the behavior:

1.unity editor remote

[2019-05-07 08:09] Tom-Wells-NW opened #4209 "All Interactable buttons do not play "click" sound until after bringing up the WMR windows menu and dismissing the menu."
## Describe the bug

Toggle button does not play "click" sound until after bringing up the WMR windows menu and dismissing the menu. Sometimes I have to bring the WMR windows menu up more than once to get a "click" to sound. After this when I "click" the toggle button, the sound is only played once - subsequent clicks fail to play the sound. If you repeat the process of displaying the menu, the fi

[2019-05-07 08:17] benjamincoven commented on #4172
Also please separate more the code of networking and anchor sharing, thank you.

[2019-05-07 08:21] Tom-Wells-NW opened #4210 "Throwing objects is not working in ManipulationHandler, object just drops to ground"
## Describe the problem

Please add **DragAndDropHandler** (or something similar) back into the MRTK v2. I think throwing and tossing interactable objects will be useful in MR games. ManipulationHandler does not seem to allow for throwing or tossing objects.

## Additional context

For and example of what I mean, see this video: https://www.youtube.com/watch?v=CcoX6g67S6o

[2019-05-07 09:06] lukastoenneMS commented on #4156
The way to distinguish different actions is by string comparison. Have a look at the gesture demo script, this handles the gesture events and looks at [eventData.MixedRealityInputAction.Description](https://microsoft.github.io/MixedRealityToolkit-Unity/api/Microsoft.MixedReality.Toolkit.Input.BaseInputEventData.html#Microsoft_MixedReality_Toolkit_Input_BaseInputEventData_MixedRealityInputAction) t

[2019-05-07 09:10] #4156 closed

[2019-05-07 11:03] luis-valverde-ms commented on #4158
Fixed by #4159

[2019-05-07 11:03] #4158 closed

[2019-05-07 11:18] luis-valverde-ms commented on #4160
Fixed by #4136

[2019-05-07 11:18] #4160 closed

[2019-05-07 11:23] Shizola commented on #4210
@cre8ivepark Hi Yoon, I tested this the other day and can confirm this behaviour doesn't currently work.
If you try the HandInteractionExamples scene and try to throw one of the cubes, it will just drop directly downwards. I had little look and it seems the method that gets the velocity of the controllers always returns zero.

I'm switching over from using VRTK and I would definitely appreciate mo

[2019-05-07 13:30] luis-valverde-ms commented on #3957
@provencher , I'd advise against taking a dependency on the value of `UIRaycastCamera.transform`. It is used by `FocusProvider` to perform raycasts against Unity UI for each pointer. The specific value it will end up with depends on the last pointer updated by the focus provider and there are no guarantees on pointer update order.

Would the forward direction of the main camera (`CameraCache.Main.

[2019-05-07 13:31] thalbern opened #4212 "Visual Debugger for pointers and colliders"
## Describe the problem

Currently it's really hard to figure out what's going on whenever you fail to manipulate or grab objects with articulated hands on hololens 2.

## Describe the solution you'd like

It would be great to have some sort of debug visualization that shows eg:
- which pointer is currently active
- (hand)rays
- intersection points ptr / geometry
collision spheres / bounding volum

[2019-05-07 13:37] thalbern opened #4213 "Make hand mesh / joint visualization a platform setting"
## Describe the problem

On Hololens 2 we usually don't want to visualize hand mesh / joints for performance reason, however for eg the hand input simulation in editor we still want to show the joints. Currently you have to modify the profile (or setting in the example scene) to switch the mesh / joints on / off whenever you switch your debugging / testing scenario from editor to hololens 2. It wo

[2019-05-07 13:39] MenelvagorMilsom commented on #4198
@chbecker-ms we're currently looking at ways to improve build times. Each build task we add is another 10-15 minutes for CI and PR validation. We're looking at ways that we can parallelize our build tasks over multiple build agents. Until this is a possibility, adding additional build steps isn't feasible.

I'll keep this GitHub issue up to date with the latest on parallelizing our builds.

[2019-05-07 14:08] thalbern opened #4214 "Offset ray while scaling a bounding box with near interaction on Hololens 2"
## Describe the bug

Ray that is drawn from your hand to the corner of a slate on scaling while hand is moving away from the slate has an offset

## To reproduce

Create a slate and try to scale by grabbing one of the end points. If your hand moves away from the slate while doing that there's a ray drawn that should point to the corner of the slate. On moving your hand that ray will start to drift

[2019-05-07 14:24] thalbern opened #4215 "Input is not working reliably on NearTouchInteractables placed next to/ close to each other"
## Describe the bug

Interacting with a NearTouchInteractable won't work reliably if there's another NearTouchInteractable closeby.

## To reproduce
 Place a pressable button next to a pannable view and observe that the edge of the button close to the pannable view can't be pressed anymore

## Expected behavior

Button and views should always work independent on what is next to them.

## Your Setu

[2019-05-07 14:29] thalbern opened #4216 "Trigger planes in pressable button won't scale with button"
## Describe the bug

Planes for defining the distances for a button to trigger / release are not scaled with the button.

## To reproduce

Create a pressable button and up or downscale the button. Observe the debug planes showing the maxDistance / releaseDistance etc won't adjust accordingly

## Expected behavior

Planes should either adjust accordingly to the scaling or have a setting to allow th

[2019-05-07 14:44] luis-valverde-ms commented on #3577
@Alexees , can we close this one?

[2019-05-07 14:51] thalbern opened #4217 "Grabbable objects have offset"
## Describe the bug

If there are several grabbable objects next to each other and you try to grab one of them you'll notice the grab will happen with an offset and might grab an object next to the one you actually wanted to interact with

## To reproduce

place several grabbable objects very close to each other in a scene and try to grab them with your hand on Hololens 2. Observe that you will gr

[2019-05-07 15:00] thalbern opened #4218 "Poke pointer shouldn't iterate over all NearTouchInteractables every frame and use interface rather than static list"
## Describe the bug

Currently we're iterating over all NearTouchInteractables that are registered to a static instance list every frame in the poke pointer which is a performance issue and will miss any interactable that isn't registering itself to that list.

Proposal:

Can we do a raycast to figure out which objects we're actually pointing to and then check for an interface instead of keeping t

[2019-05-07 15:09] thalbern opened #4219 "Make start interaction plane on pressable button configurable"
## Describe the problem

currently the point for that plane is the pivot of the movable button part. you can only modify it by putting a parent gameobject to that movable part and moving the pivot throught this hack

## Describe the solution you'd like

Make the start interaction plane configurable through the debug manipulators (independent from the movable button part)

## Additional context

fe

[2019-05-07 15:13] luis-valverde-ms commented on #4033
We should aim to at least remove the file for RC2.

[2019-05-07 15:18] luis-valverde-ms opened #4220 "Expand pointer documentation"
Focus on how-tos documenting common use cases like:

- Obtaining the primary pointer/cursor
- Obtaining the raycast result
- ....

[2019-05-07 15:20] luis-valverde-ms opened #4221 "Expand documentation on Input Actions"
Focus on documenting common use cases like:

- Setting up new actions
- Having different input sources triggering the same action
- ...

[2019-05-07 16:44] provencher commented on #3957
@luis-valverde-ms
I'll try using the main camera's forward direction as an alternative, however the reason I was using the rasycast camera was because it seemed to move to the far interaction pointer's world source dynamically.

Thinking about this further, I think my ideal usage scenario the following:
Before any click is detected:
- The first pointer to draw a cursor on screen is held onto
- If

[2019-05-07 16:50] Railboy commented on #4202
What version / branch produces these errors?

[2019-05-07 16:57] wiwei opened #4222 "Add playmode tests to mrtk_pr and mrtk_ci"
Currently playmode tests don't run in CI/PR pipelines, which would be nice because we don't want to regress these tests going forward.

This PR tried do this but hit an issue unrelated:

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4185

We'll need to fix the issue highlighted by that PR (i.e. making dictation/speech non-critical to MRTK startup)

[2019-05-07 17:04] genereddick commented on #4193
Wish I had seen this bug report one day of annoying debugging earlier. Thanks for saving me from day two!

[2019-05-07 17:15] provencher opened #4223 "Pointers should not be destroyed when source is lost"
## Describe the problem

Currently, pointers are destroyed and re-instantiated when their source is lost.
This has a number of side effects:

- It is not possible to cache them, since new ones take their place and the old ones go stale quickly.
- If attempting to cache a pointer, to detect that it has gone stale, it is imperative to first cast it to a monobehavior to then null check it using Unity

[2019-05-07 17:16] provencher commented on #3957
Pointers not being destroyed is filed as a separate proposal here: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4223

[2019-05-07 17:21] keveleigh commented on #4202
@Railboy This one is a migration from our internal bug tracker to GitHub. It was originally filed in February, so it's possible much of this has been mitigated by your work since then.

If I'm remembering correctly, this issue only occurred in a specific project where, after a build, Unity reloaded the scene in the editor and a Toolkit script was trying to reference the camera before it had been r

[2019-05-07 17:36] Tom-Wells-NW opened #4224 "Add "look at watch" gesture for WMR occluded and HoloLens"
## Describe the problem

Missing a gesture for both occluded and Hololens devices that is triggered by swinging the forearm towards the body and rotating the top of the wrist towards the eyes (gesture tentatively called "look at watch"). Rotating the arm/hand/hand into a more natural position should end the gesture.

## Describe the solution you'd like

This gesture would have uses cases and motiv

[2019-05-07 17:59] StephenHodgson commented on #4193
We're already modifying the appx manifest anyway. Shouldn't be hard to add something to fix it in the meantime.

[2019-05-07 18:33] Tom-Wells-NW commented on #4210
Thanks for the feedback. The DragAndDropHandler also had a distance scale property (that might not be useful in non-gaming systems). Would it be possible to add this property to the ManipulationHandler? The distance scale property is a Z-axis scale movement multiplier.

[2019-05-07 18:35] provencher commented on #3957
So I have another bit of code that helps recover the pointer that was used when you last clicked.

Basically I store the name, and when my cached pointer goes stale, I just search for the one that had the same name as the one that was cached when I clicked.

If that fails, I fallback to my dot product check.

`        private void Update()
        {
            if (PointerValid) return;

[2019-05-07 18:50] Cameron-Micka commented on #4046
Thanks! I'll give this a try when I get a chance.

[2019-05-07 19:22] Yoyozilla commented on #4140
@AMollis  feel free to open a PR with your change!
 @julenka  to review!

[2019-05-07 19:23] Yoyozilla commented on #4176
@julenka this seems like a shell parity issue, could you confirm?

[2019-05-07 19:28] Railboy commented on #4202
I don't believe this will be a problem moving forward but for good measure we ought to remove the OnValidate call altogether. I'll do so in PR #4035

[2019-05-07 19:39] davidkline-ms commented on #4202
Sounds good @Railboy! Will assign this issue to you

[2019-05-07 21:24] Cameron-Micka commented on #4188
I was able to get more context on this, this has already been addressed with https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4049

[2019-05-07 21:24] #4188 closed

[2019-05-07 21:32] Troy-Ferrell opened #4228 "Optimize Shader property and Material access on Interactable*Theme classe"
## Describe the bug

Interactable and other MRTK components utilize the Theme profiles to modify scene assets based on some input such as Focus, click, etc. InteractableShaderTheme.cs will modify a provided shader property based on scene interaction but does so using the string property name. The class should utilize Shader.PropertyToID() from Unity to modify shader properties via their integer ke

[2019-05-07 21:40] julenka commented on #4176
Yeah, by default shell does not show gaze cursor.

[2019-05-07 22:02] davidkline-ms commented on #4146
We (@keveleigh and I) have had similar discussions in the recent past. we should get together, share thoughts and update the proposal.

[2019-05-07 22:03] davidkline-ms commented on #4146
the primary guide should be the end-developer customer. we need to balance ease of use, ease of understanding, etc

[2019-05-07 22:39] chrisfromwork commented on #4142
Closing this issue, please reopen if 4088 doesn't resolve the compilation problem.

[2019-05-07 22:39] #4142 closed

[2019-05-07 22:41] julenka commented on #4200
Don't we already largely have shell parity? Most of these interactions and controls exist. Some of them, like button and slate, have bugs that make them not as good as the shell, but it may be more effective to track those bugs individually.

[2019-05-07 22:41] julenka commented on #4183
Thank you! I'd like to take a look at this one. FYI @thalbern since you are on buttons, and Interactable is like a button :-)

[2019-05-07 22:50] chrisfromwork commented on #4168
It's a bit unclear whether this breaking change will get accepted, but Andrei is actively looking into it.

[2019-05-07 22:53] chrisfromwork commented on #4172
UNET is deprecated by Unity. We are actively working on other sharing solutions but will not be building a new UNET based sharing experience for MRTK v2.

[2019-05-07 22:53] #4172 closed

[2019-05-07 22:55] chrisfromwork commented on #4173
A fix has been checked into mrtk_development. Please reopen this issue if additional problems occur or if the fix does not suffice.

[2019-05-07 22:55] #4173 closed

[2019-05-07 22:57] chrisfromwork commented on #4175
@wiwei is going to update the documentation for this behavior. It's unlikely that there will be a change in this behavior.

[2019-05-07 22:58] chrisfromwork commented on #4179
It appears that julia has fixed this issue. If this bug exists with the fix in 4184, please reopen.

[2019-05-07 22:58] #4179 closed

[2019-05-07 23:00] chrisfromwork commented on #4193
@wiwei will work to have documentation updated for this issue.

[2019-05-07 23:02] chrisfromwork commented on #4194
Assigning this to @wiwei based on #4193

[2019-05-07 23:13] Troy-Ferrell opened #4231 "GridObjectCollection should support undo"
## Describe the bug

"Update collection" button on GridObjectCollection, etc should be undoable when it performs the transform changes.
https://docs.unity3d.com/ScriptReference/Undo.html

Also, if the "Plane" type is default, the "Face Parent Forward" or "Face Parent Forward Reversed"
should be default over "Face Origin"

## To reproduce

Assing GridObjectCollection to component. Run "Update..." a

[2019-05-07 23:17] chrisfromwork commented on #4224
This is a cool feature request, but its a bit unclear whether the MRTK should create/support default custom gestures. @Yoyozilla can we get this triaged?

[2019-05-07 23:30] wiwei commented on #4161
Looking at this, it doesn't seem like it's an MRTK specific issue - I'm guessing that you'll hit the same problem if you just try to new up a KeywordRecognizer in a project that doesn't have MRTK:

https://docs.unity3d.com/ScriptReference/Windows.Speech.KeywordRecognizer.html

There are some other folks that I can see have hit this - it might be worth trying a few of these:
https://stackoverflow.c

[2019-05-07 23:30] #4161 closed

[2019-05-07 23:39] wiwei commented on #4084
I'm going to close this out - it looks like the code in ActivateModule probably doesn't need to be re-doing source detected, but at the same time we don't have any test coverage on this (i.e. doing this could break things in inadvertent ways) and the benefit here is purely cleanup (i.e. there's no end-user/consumer benefit)

[2019-05-07 23:39] #4084 closed

[2019-05-07 23:46] wiwei commented on #4203
This bug was filed a while back I think in response to some code review. At the time this was brought up, but the author actually fixed it in the same review and so this bug immediately went stale.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/FingerCursor.cs#L199

The original bug references this section, w

[2019-05-07 23:47] wiwei commented on #4200
I think this issue is designed to be a parent issue (i.e. tracking the larger area). I don't think that there's any specific action to be taken on this specific issue itself.

[2019-05-07 23:51] chbecker-ms commented on #4200
Yes, this is the parent to other issues in ZenHub. Still experimenting...

[2019-05-08 00:05] wiwei commented on #4195
Got around to looking at this one - as mentioned above, this is a breaking change, not just because it's a public property on GazeProvider.cs, but also because it's a public property on the interface IMixedRealityEyeGazeProvider.cs

Given that the value is primarily in consistency (and yes, prefer definitely a more correct term to use), it's somewhat difficult to argue the value vs break propositi

[2019-05-08 00:28] wiwei commented on #4193
Checking up on this, we have docs for this already but I think it's fair to call this out a little stronger (i.e. in bold). Unfortunately as folks have mentioned this is ultimately a Unity issue (i.e. it doesn't have the capability listed in the unity UI).

[2019-05-08 00:29] wiwei commented on #4193
I'll use the other issue (#4194) to handle the appx manifest modification so that folks who are using the build tools can get that for free.

[2019-05-08 01:25] julenka commented on #4210
Hi @Tom-Wells-NW, yes it  is possible to add, however it would be great to move this into a separate issue / feature request., since this issue is specifically about throwing objects.

[2019-05-08 01:54] wiwei commented on #4194
See https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4234 - I opted to make this a help text around the setting, rather than additional magic. I'm concerned that we already have a large amount of automagic in the toolkit, and additional stuff increases this automatic complexity.

[2019-05-08 02:07] IfnoLee commented on #4207
I upgrade hololens 1 and it is ok. @wiwei @chrisfromwork

[2019-05-08 02:07] #4207 closed

[2019-05-08 05:30] Alexees commented on #3577
@luis-valverde-ms sure, that's quite an old one

[2019-05-08 08:40] lukastoenneMS commented on #4157
You probably need to switch the input simulation hand mode from "Articulated" to "Gestures":
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/InputSimulation/InputSimulationService.html#hand-simulation

The Articulated mode does not raise gesture events, since it emulates the Hololens 2, which (afaik) does not raise these events either. "Gestures" is emulating Hololens 1, which

[2019-05-08 08:47] MenelvagorMilsom commented on #4215
Should be fixed by #4152

[2019-05-08 08:47] #4215 closed

[2019-05-08 10:27] Alexees opened #4235 "Replace PlatformUtility with class instances"
## Describe the problem

At the moment, the MRTK uses its own RuntimePlatform enum to distinguish between platforms. It neither lists all platforms that Unity supports nor does it distinguish between "platforms" on the same platform (OculusGo and mobile devices are both Android platform).

## Describe the solution you'd like

Instead of ever extending this enum with new platforms and thinking abou

[2019-05-08 10:59] Alexees commented on #4235
Same goes for SupportedControllerType actually. It's listing specific controllers and the base class you need to derive from to get a DeviceManager returns it. This would also be better if each device could provide its own controllers not based on an enum.

[2019-05-08 12:01] ghost opened #4237 "docfx generates "obj" cache folder and Unity then creates a meta file for it"
## Describe the bug

docfx creates a "obj" cache folder in Assets, next to the first folder by alphabet, which happens to be Assets\MixedRealityToolkit.Examples\Demos\Audio\Scripts. Unity then creates a meta file "obj.meta" which is included by git, while the obj folder is excluded via .gitignore.

## To reproduce

Steps to reproduce the behavior:

1. Run docfx: [https://microsoft.github.io/MixedR

[2019-05-08 14:54] KarlSupertramp opened #4238 "InteractableStates - "Focus"-state not working properly with HL1"
## Describe the bug
I'm using the DefaultInteractableStates for my Interactable objects. Everything works fine in the editor. The elements change color and offset when being focused and change back when focus is lost. Now it's basicly working on the HoloLens 1. The only problem is, when the HL1 recognizes a "pinch"-gesture (when I hold up my hand ready to click), the "focus-lost"-event is not exec

[2019-05-08 15:21] Alexees commented on #4235
I added some pseudo code to clarify my idea better. You basically lay out the current 5 supported platforms the way they are already checked anyways. Everyone can then refine the check to whatever platform specific he needs.

[2019-05-08 15:26] Alexees opened #4239 "Remove SupportedControllerEnum"
## Describe the problem

This enum has a fixed number of controllers. Any new device (Oculus Go) needs to define its own controller there. increasing the list of controllers is crucial when you want to add more controllers.

## Describe the solution you'd like

Like #4239, the enum should be replaced with classes instead. A lot of the code is converting between enum and actual class type already,

[2019-05-08 15:41] SimonDarksideJ commented on #4223
Agreed. I the source is "Lost" then everything should be cleaned up as you cannot guarantee the state of the controller if it is discovered again.

If however, it needs to be retained, better to look at ways to hold the controller and not fire the source lost in those instances.

[2019-05-08 15:51] wiwei commented on #4184
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4211

Hand input recording functionality. Note that because this is actually renaming a class this is technically a breaking change.

[2019-05-08 15:54] wiwei commented on #4237
Oddly enough, while I can repro the fact that the obj folder gets created, I don't see the obj.meta (or any of those files) showing up on git status as a new file.

[2019-05-08 16:06] wiwei commented on #4237
Oh duh, actually this is happening to me as well. Scratch my previous comment.

[2019-05-08 16:12] Railboy commented on #4235
Love this.

[2019-05-08 16:21] wiwei commented on #4218
@julenka Do you know why we didn't do a sphere raycast when this was originally written?

It seems like at the very least we should make it so that we don't re-allocate another read only array on each iteration (i.e. the AsReadOnly)

[2019-05-08 16:28] wiwei commented on #4168
Note that it's possible to workaround like this as well:

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/9ab0e9b69afe45f7856b5731436ae427c3fe7cc4/Assets/MixedRealityToolkit/Definitions/InputSystem/SpeechCommands.cs#L49

It might be possible to do a using with this at the top. Nevertheless, it's still annoying because it breaks the intellisense flow.

I ran into this a while back and r

[2019-05-08 16:29] wiwei commented on #4168
If someone is willing to do the work to write a migration script for customers then I think it's far less concerning, but otherwise it just seems like the tradeoff isn't worth it.

[2019-05-08 16:31] wiwei commented on #4154
@julenka Any concerns about this proposal? Seems reasonable to me (also seems like a good candidate for something that anyone including community could just issue a PR for assuming you're good with this proposal)

[2019-05-08 16:51] wiwei commented on #4115
I think that someone else hit something similar here because their gitignore rules were ultimately ignoring the manifest.json that we have (which will ensure that the WMR package gets pulled down).

It would be interesting to check to see that you didn't hit this issue.

Going forward if you hit this again + have a min repro we can look at, feel free to reopen this issue or file a new issue.

[2019-05-08 16:51] #4115 closed

[2019-05-08 17:58] DominicBoettger opened #4241 "Eye tracking support with external camera"
## Describe the problem

The eye tracking needs to be simulated via different key presses.

## Describe the solution you'd like

It would be great to be able to add an external camera to simulate the eye tracking in unity.

[2019-05-08 18:04] ForrestTrepte opened #4242 "changing a setting in the MRTK configuration is too difficult for new users"
## Describe the bug

The first time I used the MRTK configuration settings I was confused about how they work. Now that I understand it's not too bad, but they can still be quite cumbersome to change. This will be one of the first things that users experience with the MRTK and we should make this easier.

In my opinion, usability problems include:
1. Very deeply nested settings.
1. Read-only setti

[2019-05-08 18:12] ForrestTrepte commented on #4242
This may be related to #3545, but I think that's a larger issue. It looks like a fancy design patterns thing that I can't really fathom, so I wanted to open this issue just to focus on the usability aspect of changing configuration settings. But they may be interrelated.

[2019-05-08 18:15] wiwei commented on #4242
This is something that many folks have raised already, and something that we're aware of. We're thinking about ways that we can address this going forward.

The issue linked above is designed to make things less painful, though obviously because there's still the single massive object and it's profile there's still that problem.

[2019-05-08 18:24] wiwei commented on #3605
Closing this out - I was looking through old issues and I think that @Railboy already fixed this particular issue in PR #3610

[2019-05-08 18:24] #3605 closed

[2019-05-08 18:25] radicalad commented on #4168
I agree - mostly I wanted to point this out. I could not for the life of me figure out what was wrong, I thought there was a broken assembly or reference something.

[2019-05-08 18:33] wiwei commented on #1625
Closing this one out, as I believe that @killerantz already implemented the flow/description above.

Feel free to reopen with deltas if this is not correct.

[2019-05-08 18:33] #1625 closed

[2019-05-08 18:35] ForrestTrepte commented on #4242
Here are some potential alternative ideas for addressing this:
1. Put settings on regular old Unity game objects in the scene. Everything would understand how this works and it would be easy to extend/browse/add/remove different components. MRTK could include a default settings prefab. Unity makes it easy to override a prefab in your scene, accepting its defaults and overriding particular settings

[2019-05-08 19:55] ForrestTrepte opened #4243 "ability to search MRTK settings?"
## Describe the problem

There are a lot of settings in the MRTK in a deeply-nested hierarchy.
A customer mentioned to me that he would like to have the ability to search for settings.

## Describe the solution you'd like

I'm picturing this as a text entry box that can be used as a free-text search of MRTK settings.

## Describe alternatives you've considered

I'm picturing that this would find s

[2019-05-08 20:19] wiwei commented on #4242
I think that going forward something that spawns out of #1 is probably where we want to go, as #2-4 are kinda just bandaids on top of the system. We could do a lot of work making inspectors nicer, or making cloning more understandable, but at the end of the day it's still such a foreign concept that new users will still need to pay that tax.

I just want to be transparent here that doing something

[2019-05-08 20:27] wiwei commented on #4243
One note is that the inspector/profile system is already fairly complex, and adding things like search-ability would make things more usable but still not fix the true underlying issue (which is that profiles are super hard to understand as a new user).

If we had better and actually comprehensive settings listed in our docs, would that help, or is the customer in this case interested in staying p

[2019-05-08 20:37] ForrestTrepte commented on #4243
In this case, the customer was overwhelmed with the amount of settings and the amount of expanding required to browse for them. He says documentation may be helpful, but he really wanted to do this within Unity. The example he gives is in Visual Studio you use the Quick Launch (Ctrl + Q) box to search for settings.

If this were done via documentation then all the settings would have to be in one

[2019-05-08 20:37] wiwei commented on #4175
The intent of this function as I understand it was to provide the joint information for a specific hand (i.e. user wants the right hand, user wants the left hand).

Handling "Any" or "Both" puts it in this weird case where it's non-deterministic which hand gets returned (I guess we could always default to a specific one, but without a good understanding of the use cases it's tough to say whether o

[2019-05-08 20:39] ForrestTrepte commented on #4243
I agree with this concern about complexity and that we should sort out the underlying profile usability issues before adding searchability on top.

Afterwards, there may still be a lot of settings so a search feature may be useful. Or perhaps it will feel unnecessary at that point.

[2019-05-08 20:57] provencher commented on #3957
Further update that should include support for controllers

`// If active pointer is gaze, search for a better one
            if (PointerValid) return;

            Handedness handInView = Handedness.None;

            // Check for controllers
            var connectedControllers = MixedRealityToolkit.InputSystem.DetectedControllers;
            bool isControllerConnected = connectedControllers.C

[2019-05-08 21:16] StephenHodgson commented on #4235
Agreed, I like this idea as well.

Having a base device class and interfaces defining each platform and device is an interesting idea.

I'm unsure how it'll play out in the UI for selecting one, and how platform capabilities will be enabled.

We should definitely discuss this idea more.

[2019-05-08 21:47] Troy-Ferrell opened #4245 "Simplify enabling/disabling eye tracking feature support with MRTK"
## Describe the problem

The user has to go to three different components to enable Eye tracking support from MRTK in their app (not counting the need to also enable the capability in every VS build).

## Describe the solution you'd like

Turning on the feature should be consolidated to one checkbox or at the very least one section for the user to control.

## Describe alternatives you've consider

[2019-05-09 01:15] StephenHodgson commented on #4242
Thanks for the feedback @ForrestTrepte

I'm def not a fan of 1 as it's the breaking from the `Monobehavior` that's the goal here, and one of the key principles behind the original design. (Even newer Unity stuff is moving towards more ECS and DOTS which all try to break from this same thing) We tested and measured that it was a 60-70% increase in speed. Doing 1 goes back to the way things used to

[2019-05-09 03:39] ForrestTrepte commented on #4242
Thanks for explaining the thinking behind the original design, Stephen. I'll admit that #1 is my preference because it is more familiar and easy to use/understand. You do raise a point, though, about game object overhead. When I developed a Unity game with tens of thousands of units I had to break with game objects for performance reasons. I am surprised that for settings and small numbers of mono

[2019-05-09 03:44] ForrestTrepte commented on #4242
Can you explain how to do #2? That sounds really great. I have been doing Add To Scene and Configure and then the options I found were *Copy & Customize* (only clones one level) or *Create new profiles* (creates empty profile--you'd have to fill everything in).

[2019-05-09 03:48] Railboy commented on #4242
This absolutely needs to go. I'm 100% comfortable with profiles at this point and I still find myself frustrated by this limitation daily.

[2019-05-09 04:03] julenka commented on #4218
Robert Ferrese wrote the original code, we should ask him. Here is a reason I think we might have wanted to keep a list of items instead of doing a ray cass in the scene. Let's say you have the following setup:

![image](https://user-images.githubusercontent.com/168492/57426382-d5c4e680-71d3-11e9-9fb6-3f4d3558c301.png)

In this case, if I cast a ray from the finger and take the closest hit, the ra

[2019-05-09 04:08] Railboy commented on #4242
@ForrestTrepte You're correct that #3545 is related to some of the issues you're raising.

If you open your config profile's Editor Settings - after cloning your read-only profile, natch 👍  - and check _Enable Service Inspectors_, MRTK will generate a set of game objects that mimic the kind of standalone objects we're all used to dealing with.

This doesn't change the way services actually work, n

[2019-05-09 04:29] IfnoLee opened #4247 "Assertion failed on expression: ValidTRS()"
## Describe the bug
The contents of the display are clear while unity editor remote connected HoloLens 1，but
 then the contents of the display are very vague;
Assertion failed on expression: 'ValidTRS()';
## To reproduce

Steps to reproduce the behavior:

1.unity editor remote connect to Hololens 1 and open SpatialAwarenessMeshDemo scene;
2. Click on play button in unity editor;
3. show SpatialMes

[2019-05-09 05:12] StephenHodgson commented on #4242
I wasn't a big fan of the Russian nesting dolls either.

imho the way it's setup in the Project tab is essentially the same way. It's something you select in a folder hierarchy vs a scene hierarchy. Not much of a difference in workflow, just a different window you're selecting items in. That's why I don't agree with the Facades in any way. All of the services and systems don't exist in the scene,

[2019-05-09 05:22] julenka commented on #4154
No, I think it's a great idea, and limbusdev has something that seems very reasonable already done.

I would recommend the following:

"Constraints on Movement":
- "None"
- "Along X-Axis Only"
- "Along Y-Axis Only"
- "Along Z-Axis Only"
- "In X-Y-Plane Only"
- "In X-Z-Plane Only"
- "In Y-Z-Plane Only"
-  "Fixed Distance from Head"

There is still the question whether the X/Y/Z axes should be in lo

[2019-05-09 05:25] julenka commented on #4154
I'd be curious about the priority of this -- is it something blocking a partner from progressing, something that is not blocking but significantly impacting progress, or something that's more of a nice to have. For example, limbusdev provided a workaround above, which could be implemented either by directly changing ManipulationHandler, or extending / inheriting from ManipulationHandler.

To me it

[2019-05-09 05:26] julenka commented on #4168
So should we close this or leave it open?

[2019-05-09 05:51] Railboy commented on #4242
@StephenHodgson Yes I did some work on the profile clone tool but it could still use some work.

Agreed, that's how I learn too, poking around and breaking things. I get the need for a safety net but kneecapping that natural instinct and all the potential learning along with it really seems like the nuclear option. A better safety net might be a big fat RESET TO DEFAULTS button on default profiles

[2019-05-09 06:08] StephenHodgson commented on #4242
It wasn't supposed to be a safety net, per say. It was intended that the profiles would be the defaults for most people's use cases.

Every decision was intentional with a lot of thought behind it, and having the default profiles be locked down was a good idea as we wanted to ensure that the toolkit worked out of the box, like magic, and we didn't want people to edit them only to grab an update an

[2019-05-09 06:22] Railboy commented on #4242
@ForrestTrepte Just looping back to make it clear that we're hearing your feedback on this issue and on the setting discoverability issue in #4243. Keep posting this stuff, it's really valuable.

[2019-05-09 06:30] StephenHodgson commented on #4243
The original plan was to have the configuration profile in the editor's preferences window (which itself is searchable) but that got sidelined at some point I think.

[2019-05-09 06:40] handyjellyfish commented on #4066
Hi there,

I am running the examples through 2019.1 using the RC1 refresh and I have encountered this same issue when previewing.

After a bit of debugging, I have pinned it down to changing platform to UWP. After doing this I get the error. If I switch back to PC Mac & Linux standalone I no longer get the error when previewing.

Let me know if you would prefer a new issue - just found this one wh

[2019-05-09 06:58] StephenHodgson commented on #4066
Pretty sure this is a Unity bug with the `Observer`.

I'd double check to make sure you have the latest `1.0.9` Windows Mixed Reality Package installed in the Unity Package Manager.

[2019-05-09 06:59] StephenHodgson commented on #4066
@wassx probably relates to your bug report on the fork as well.

[2019-05-09 07:17] handyjellyfish commented on #4066
@StephenHodgson definitely have 1.0.9 installed. Should I be logging an issue with Unity? Not that I can currently find the place to do so.

[2019-05-09 07:27] StephenHodgson commented on #4066
Yeah I think this is a bug with 2019+ (Is that the version you're using as well?)

![image](https://user-images.githubusercontent.com/13334553/57435010-25fe7180-71f1-11e9-859a-9037a03ed963.png)

[2019-05-09 07:31] handyjellyfish commented on #4066
Yep 2019.1 - thanks for the help - will report :D

[2019-05-09 07:48] wassx commented on #4066
@StephenHodgson ah thx for the hint!
@handyjellyfish do you have a link to the filed unity issue please?

[2019-05-09 08:36] handyjellyfish commented on #4066
Have just submitted it - will let you know as soon as I have more info :)

[2019-05-09 08:43] handyjellyfish commented on #4066
https://fogbugz.unity3d.com/default.asp?1153049_2d4gcjera1n04qou

[2019-05-09 08:45] StephenHodgson commented on #4066
@handyjellyfish might be best to send them a repro that doesn't include the MRTK.

They'll be able to rule it out easier.

a min repro is good.

[2019-05-09 09:59] SimonDarksideJ commented on #4242
Completely agree with the identification of the source issues being identified here and have to say we do know.
But to explain slightly, you need to understand its history.  The first major challenge was to break the old chains and make it work, deliver a solution that could be defined by a core set of configuration and break the old prefab / Go style of maintaining the Core solution.  This doesn'

[2019-05-09 10:12] migueltiago opened #4249 "Recreating Tap to place in MRTK 2"
Hello every one, I'm trying to recreate the TapToPlace interaction with the objects using Surface Magnetism, but I need to apply Ignore Raycast to the object so the object don't "snap" with the main camera, but after that I can't interact with object.

Was someone able to recreate the same interaction with this new version?

[2019-05-09 12:24] provencher opened #4250 "No way to identify loaded holographic device"
## Describe the bug

HoloLens 1 and HoloLens 2 are both considered windows Holographic, and there is no way to differentiate them within a C# codebase, beyond manually testing if certain capabilities are available.

Beyond that, testing capabilities can fail if permissions are not accepted, and so it is not a reliable way to differentiate devices.

## Expected behavior

A clear enum or string iden

[2019-05-09 16:04] Railboy commented on #4239
@Alexees I think you meant to link to #4235

Really like this proposal as well.

[2019-05-09 16:26] thalbern opened #4251 "Remove Pose Synchronizer from Mouse Pointer"
## Describe the bug

We're currently working around the Pose Synchronizer in the Mousepointer to make the spatial mouse cursor work. There's no need to derive from the Pose Synchronizer base class

## Additional context

Follow up bug for PR https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4101

[2019-05-09 16:39] #4193 closed

[2019-05-09 16:41] wiwei commented on #4168
Okay, closing this out. If there are strong enough opinions in the other camp and they are willing to write a migration script, feel free to reopen.

Or, if there is other data (i.e. customers will be affected), feel free to reopen with additional data because that could change our decision

[2019-05-09 16:41] #4168 closed

[2019-05-09 17:00] #4195 closed

[2019-05-09 17:00] wiwei commented on #4195
Removed the breaking change label, because we took a non-breaking route here.

[2019-05-09 17:20] julenka opened #4252 "NearInteractionTouchable gets touch up when finger goes more than 20cm behind front surface"
## Describe the bug

NearInteractionTouchables will always get a TouchUp or PointerUp event when a finger goes more than 5 cm behind a surface, even if a collidable is actually much larger.

## To reproduce
1. Import the following .unitypackage into mrtk_development latest
[repro.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files/3163242/repro.zip)
2. Open repro scene and hit play.

[2019-05-09 19:10] provencher commented on #4250
It seems that you can at least get the OS architecture information from interop services
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.osarchitecture?view=netstandard-1.3

I created an active device checker like this. Its not perfect for distinguishing WMR from HoloLens however

     public static MixedRealityDevice CurrentlyActiveDevice
        {

[2019-05-09 19:16] julenka commented on #4140
Removing myself from asignees for now, since as I understand @AMollis will be making the PR, and I'll be doing the review.

[2019-05-09 19:23] julenka commented on #4140
Feature request from a DDE partner, Hae-Jin Lee could provide details on the design / request.

[2019-05-09 19:23] julenka commented on #4140
Clarified a bit with Adam, I don't think Adam actually agreed to do the PR :-)

[2019-05-09 19:40] provencher commented on #4250
Ok this doesn't work

`Unsupported internal call for IL2CPP:"Is64BitOs" - L"It is not possible to check if the OS is a 64bit OS on the current platform."`

[2019-05-09 20:10] chrisfromwork commented on #4250
Do you generate different appx's for hololens 1 vs hololens 2? It may not be an ideal long term solution, but you could create a custom preprocessor directive that you change in your player settings based on what you are building: https://docs.unity3d.com/Manual/PlatformDependentCompilation.html

Before we commit to exposing this hololens 1 vs hololens 2 hardware check, what scenarios do you have

[2019-05-09 21:13] Yoyozilla commented on #4250
This should get fixed soon.
With this bug, the developer can't differentiate HL1 and HL2 and do different things at runtime.

We should discuss if we want to let people differentiate hardware vs ask for capabilities.

[2019-05-09 21:14] Yoyozilla commented on #4245
Active thread discussing the right approach. We should fix this soon to reduce confusion

[2019-05-09 21:16] Yoyozilla commented on #4231
This is a new feature ask.
Assigning to Yoon to investigate.

[2019-05-09 21:20] Yoyozilla commented on #4223
This is a performance issue where pointer is destroyed everytime when hand is not in view, and recreated when it comes back.

@provencher  could we get performance profiling data on perf gain when not destroying pointers?

[2019-05-09 21:25] Yoyozilla commented on #4214
@cre8ivepark  could you please evaluate this?

[2019-05-09 21:27] Yoyozilla commented on #4213
This would be nice to have. We should also add a doc in the perf section to note this.

[2019-05-09 21:30] Yoyozilla commented on #4213
Docs needs to be soon.

[2019-05-09 21:31] Yoyozilla commented on #4212
nice to have!
If community wants to add this, would be awesome!

[2019-05-09 21:32] Yoyozilla commented on #4196
@julenka  is this something you can fix, or should this go to luis?

[2019-05-09 21:32] Ecnassianer opened #4255 "Add a Solver Tracked Object option for the tip of a pointer"
## Describe the problem

I'd like to position an object at the tip of a pointer that I'm using on an articulated hand. It would be nice if I could just pick this like I pick a controller point.

## Describe the solution you'd like

Tracked Object To Reference could be set to "Right Pointer", "Left Pointer", or "Gaze Pointer".

[2019-05-09 21:33] Yoyozilla commented on #4187
@wiwei  could you please take a look at this one?

[2019-05-09 21:35] Yoyozilla commented on #4149
This impact user confidence in pressing buttons. we should fix soon!

[2019-05-09 21:39] Yoyozilla commented on #3921
@davidkline-ms  could you follow up with Eric on his fix

[2019-05-09 21:41] Yoyozilla commented on #3637
This is impacting user. we should fix soon

[2019-05-09 22:18] Railboy commented on #3921
@Yoyozilla @davidkline-ms I am completely removing the scene checker popup window in #4035

[2019-05-09 22:20] provencher commented on #3921
I don't think just removing the scene checker is enough for this to be solved.

You need to also prevent the instance getter from creating instances if you are not in play mode.

[2019-05-09 22:23] Railboy commented on #3921
@provencher That is also taken care of. The instance getter doesn't create new instances at all, period. Would you like to take it for a spin?

[2019-05-09 23:02] julenka commented on #4196
I caaI think either of us could do it, I'm happy to do it. I've got quite a number of issues on me, I'm currently doing this one: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4176. Might be good to give to Luis if he is not actively working on urgency-soon issues. But otherwise I can keep it on me.

[2019-05-10 00:29] chbecker-ms opened #4257 "Can't see hand mesh when simulated in editor"
Set hand visualization in Hand Tracking Profile to just be the mesh (make all joints null).
Simulate hands in editor using mouse + keyboard
Expected: I see the mesh, or at least some hand joint visualization so that I cdan see what my simulated hand is doing

Actual: I see nothing.

From Lukas:
Julia, isn't the hand mesh provided entirely through the Mirage API?

Only WindowsMixedRealityController

[2019-05-10 00:29] chbecker-ms commented on #4257
Ported from internal database.

[2019-05-10 00:40] chbecker-ms opened #4258 "Remove PhysicalPressEventRouter"
We have gotten feedback that
Interactable + InteractablePressEventRouter + Pressable Button is confusing for developers.

Specifically, they don't understand how the components work together, and often don't know they need to add components such as PhysicalPressEventRouter.

One way to simplify this is to remove one of the components: PhysicalPressEventRouter.

The PhysicalPressEventRouter is just

[2019-05-10 00:40] chbecker-ms commented on #4258
Comment from Jonathan Palmer:

I agree this is a architecture conveyance problem and removing the overloading that the EventRouter causes.

I do not think removing it in entirety is the best step. If we do, we'd lose that level of abstraction of a dev wanting to have PressableButton sending events to non-Interactables, or if a dev wants to have it process in a different way then On Touch/Click/Pre

[2019-05-10 00:40] chbecker-ms commented on #4258
Ported from internal database.

[2019-05-10 00:42] chbecker-ms opened #4259 "MRTK buttons activate on release, not press. Not reliable to hit"
MRTK buttons default behavior in the "PressableButton" prefab s to activate on release instead of on press. But this is difficult to actually trigger because the user needs to carefully 'unpress' the button in order to activate the button. If the user exits the collision region without 'unpressing' the button, the button activation state will cancel.

I think the simplest way to fix this is to mak

[2019-05-10 00:42] chbecker-ms commented on #4259
Comment from Sophie:

Please also think of whether it makes sense aligning with the button behavior from the Shell keyboard which activates on touch. It's especially confusing in the HandsInteraction sample app, where we have both the native Shell keyboard behavior and the custom MRTK buttons.

[2019-05-10 00:42] chbecker-ms commented on #4259
Ported from internal database.

[2019-05-10 00:45] chbecker-ms opened #4260 "UnityTouchController controller should be Handedness.None"
Note: There is some special-case handling in BaseDeviceManager.RequestPointers for Handedness.Any which should be looked into.

[MixedRealityController(
    SupportedControllerType.TouchScreen,
    new[] { Handedness.Any })] // should be None as Any is a combination of Handedness.Left | Right | Other
public class UnityTouchController : BaseController
{
...
}

[2019-05-10 00:45] chbecker-ms commented on #4260
Comment from Daniel:

This is not actually a bug and does not cause any problems, and should be done for consistency reasons. Sometimes we use Handedness.Any and sometimes we use Handedness.None if there is no designated handedness for a controller per se.

[2019-05-10 00:45] chbecker-ms commented on #4260
Ported from internal database.

[2019-05-10 01:01] provencher commented on #4250
@chrisfromwork. Setting a serialized field at compile time to change the runtime functionality is the solution I landed on at the end of the day today. It's certainly not ideal long term though.

There are a few reasons I need to know the differences, but the main one is that hand tracking and eye tracking are not available, and the hand tracking service, from what I noticed could return that a ha

[2019-05-10 01:10] provencher commented on #4223
@Yoyozilla I don't think I should be assigned to solve this.
I'm personally not very familiar with how pointers are managed at a data provider level, especially in regards to WMR platforms which our apps don't support.

I haven't benchmarked how this performs, but I know from much experience with unity that instantiating a prefab can take a non-trivial amount of CPU time and block the Unity thread

[2019-05-10 01:14] provencher commented on #3921
Cheers @Railboy, thanks for following up!

 think that's a much better behavior. I've been doing the fix I just listed, but I'm interested in seeing how your PR performs.

Do you have a PR that changes how Instances are created from the getter? I haven't seen the Instance getter modified in the pr you linked above.

[2019-05-10 02:04] Railboy commented on #3921
This is the new getter:

[code]

[2019-05-10 03:35] provencher commented on #3921
Awesome!

My only complaint is the error logging if the instance is null.

Also, if you're no longer adding instances, doing a findobject of type seems frivolous and expensive.

The registration also should happen outside the instance getter.

[2019-05-10 03:55] Railboy commented on #3921
@provencher Let's discuss these points in the PR.

[2019-05-10 11:07] thalbern commented on #4214
@Yoyozilla @cre8ivepark i've got screenshots and a video showing the problem. Please poke me if you need access to that!

[2019-05-10 14:40] MenelvagorMilsom commented on #4252
@thalbern, I don't have much on my plate at the moment. Do you mind if I grab this one?

[2019-05-10 15:25] shaddadjr opened #4261 "Unity editor pauses for a significant amount of time when ending Play mode in a scene when using MRTK 2.0"
## Describe the bug

The Unity Editor freezes for a significant amount of time when ending Play mode in scene

This has been corroborated by several developers in the HoloDevelopers slack channel:
https://holodevelopers.slack.com/archives/C2H4HT858/p1557497162412800

## To reproduce

Steps to reproduce the behavior:

1. Import MRTK2.0
2. Configure a scene to use MRTK 2.0
3. Play the scene
4. Exit

[2019-05-10 15:52] chrisfromwork commented on #4250
Thanks for this context, @provencher.

In terms of content/ui design, would you expect to design separate, specialized AR/UI experiences for these different FOVs/near cut planes? Or would you anticipate building FOV/cut plane agnostic ui that would work for any FOV/cut plane configuration?

[2019-05-10 16:02] julenka commented on #4176
Started on this yesterday.

[2019-05-10 16:19] chbecker-ms opened #4265 "NuGet + IL2CPP + UWP Doesn't work for Hands (SystemType reference is broken)"
Take latest NuGet packages, build IL2CPP for UWP, and the hands won't work.

The log has the following (it appears getting the type from the serialized reference is broken).

Failed to properly initialize the MixedRealityToolkit
UnityEngine.DebugLogHandler:Internal_Log(LogType, String, Object)​
UnityEngine.DebugLogHandler:LogFormat(LogType, Object, String, Object[])​
UnityEngine.Logger:Log(LogType

[2019-05-10 16:19] chbecker-ms commented on #4265
Ported from internal database

[2019-05-10 16:21] StephenHodgson commented on #4223
That's pretty much what we're saying. We shouldn't be calling source lost on these, but instead just update the tracking to reflect that the position is unknowable.

We should def have the input sources clean up the pointers when the source is lost. We just need to update the hands so that they don't raise source lost when they leave the camera view.

[2019-05-10 16:23] mgrman commented on #4196
This seems to happen also with finger pointers, not just hand rays.
There is a KeyAlreadyExists exception thrown in OnSourceDetected in MixedRealityInputModule (refresh version), changing the file to version from mrtk_development branch prevents exception but pointers are still stuck.

[2019-05-10 16:24] chbecker-ms opened #4266 "Buttons do not activate on release if frame rate is low."
This is a bug in response to experience with OOBE.

To repro, after pressing a button, move your hand out very quickly.

Alternately, force a very low framerate on your app (e.g. 30 fps).

The button will only fire a release when you were still touching, but crossed back above the press plane.

So, if the following sequence happens:

button press
touch up + cross press plane
Then the event would n

[2019-05-10 16:24] chbecker-ms commented on #4266
Ported from internal database

[2019-05-10 16:24] StephenHodgson commented on #4242
Yes, 💯 definitely this

[2019-05-10 16:26] StephenHodgson commented on #4242
@SimonDarksideJ I remember us having a conversation about making our own preferences window as well.

Imho that's really the key I think and being able to enable the breadcrumb navigation is going to be key here.

[2019-05-10 16:28] chbecker-ms opened #4267 "[HTK] HoloToolkit's Selection Gestures Broken on HL2. Works fine on HL1"
Tap gestures seem to be behaving differently on HoloLens 2 devices, than on HoloLens 1 devices.  This is causing apps built with older MR toolkits to not work correctly on HoloLens 2. Apps built with older toolkits, should still work on HoloLens 2.

Sample App Repro

1) Open attached Unity Project  (used Unity version 2018.1.9f2, and HoloToolkit version 2017.4.0.0).  (note versions selected based

[2019-05-10 16:28] julenka commented on #4196
Great! It's on me right now, I'm currently on #4176 but will look at this as soon as that PR is out. If it's P0 urgency-now issue, we may want to try finding somebody else to look at it, since I'll probably only have the PR for #4176 out by mid-day today.

[2019-05-10 16:28] chbecker-ms commented on #4267
Ported from internal database.

[2019-05-10 16:29] Troy-Ferrell opened #4268 "Turning off "Enable Hand Joint Visualization" turns off hand input in Editor"
## Describe the bug

In the MRTK configuration, under input, under Hand Tracking settings, unchecking "Enable Hand Joint Visualization" hides the hand joints in play mode but also disables hand joint input.

## To reproduce

Example => Open "HandInteractionPanZoom" example scene
Turn off "Enable Hand Joint Visualization" in MRTK configuration inspector
Try to pan on the slates, nothing happens
Tur

[2019-05-10 17:07] chbecker-ms opened #4269 "PressableButtonExample needs polish or removal"
Open PressableButtonExample scene and play in editor.
Look at Click Indicator cube and click mouse button or press gamepad button.
Observe no color cycling.
The buttons to the left look a bit wonky too and the scene lacks a description panel. We need to freshen this scene up or remove it from examples.

![untitled](https://user-images.githubusercontent.com/42761412/57544169-681bd600-730b-11e9-985b

[2019-05-10 17:07] chbecker-ms commented on #4269
Ported from internal database.

[2019-05-10 17:13] julenka commented on #4196
Started on this.

[2019-05-10 17:27] julenka commented on #4196
Hi @mgrman I am actually not able to repro this on the latest mrtk_development branch, on my particular HoloLens 2 device. Could you please verify that you are seeing this behavior in the HandInteractionAllExamples scene in the latest mrtk_development? You could also send me your application package and I can test if it is fixed in my OS version (perhaps there was an OS level change to fix applica

[2019-05-10 17:30] provencher commented on #4223
How you define losing source in that case? For controllers it could be disconnected, but for hands, I don't see any case in which they should be cleaned up.

[2019-05-10 17:30] mgrman commented on #4196
this is happening in v2 refresh for us. would you recommend then updating to mrtk_development?

[2019-05-10 17:37] kircher1 commented on #3562
This appear to be fixed in RC1 Refresh.

[2019-05-10 17:37] #3562 closed

[2019-05-10 17:43] provencher commented on #4250
I don't think the experiences will be starkly different, but I anticipated tuning them to better suit the detected device.

For cut plane, things just don't look good below roughly 40cm on Hl1, while that's not the case on HL2 due to better vergence accommodation.

For the Fitbox, or some of our persistent headlocked HUD UI that we place in the view periphery, positioning and scale will change dep

[2019-05-10 17:43] mgrman commented on #4196
I will test with mrtk_development update and report back

[2019-05-10 17:47] ForrestTrepte commented on #4242
I agree. Starting with already-cloned setting would go a long way.

[2019-05-10 17:47] chbecker-ms opened #4271 "MRTK defaults to teleport and boundary services on for HoloLens developers"
## Describe the bug

MRTK V2 profiles default to teleport and boundary services even when intent is to create a HoloLens 2 application

## To reproduce

Steps to reproduce the behavior:

1. Install latest MRTK build
2. Notice Teleport and boundary are defaulted to on

## Expected behavior

A way to express my intent of building an AR app and getting great defaults tuned for those app types.

## Yo

[2019-05-10 17:50] ForrestTrepte commented on #4242
By the way, if we kept settings in prefabs we'd get the revert functionality for free. Unity's new prefab features would even allow you so see exach setting you have changed from the default and to revert changes individually. This works really great in MRTKv1.
![image](https://user-images.githubusercontent.com/17389739/57546299-4de4f680-7311-11e9-89bc-8079545ae3ad.png)

[2019-05-10 17:52] thejawson opened #4272 "Update collection on a Grid object in a prefab does not save changes."
## Describe the bug

I click Update Collection on a Grid Object that is in a prefab. Leave the prefab and the changes are not saved. Looks like a dirty flag is not getting set when update collection is called.

## To reproduce

1. Create a Grid object in a prefab
2. Add a collection of objects. I used pressable buttons.
3. Click update collection
4. Delete an object from the middle of the collecti

[2019-05-10 17:54] Railboy commented on #4272
I'm going to say this is related to #4231 since adding undo support will automatically dirty the object.

[2019-05-10 17:59] #3876 closed

[2019-05-10 18:11] julenka commented on #4196
Also verified that the finger cursors correctly disappear in the handinteractionallexamples scene

[2019-05-10 18:47] mgrman commented on #4196
mrtk_development did not help, I will try with default profile

[2019-05-10 18:55] julenka commented on #4196
Can you confirm that in your mrtk_development branch that in the HandInteractionExamples scene the rays do not disappear? If we can verify that then we know there is a difference between the example implementation and your implementaiton.

[2019-05-10 18:56] julenka commented on #4196
Marking this as no repro because it does not reproduce in the MRTK example scene, however it does reproduce in the customer application. The issue might be with the mgrman's application itself, not MRTK.

[2019-05-10 19:15] EricWilson-SG opened #4273 "Bounds Extension uses world space incorrectly"
## Describe the bug
the bounds extension to get bound corners returns incorrect world space values.
this function is meant to return the world positions of the corners of a given bounds. However, it uses the Bounds.center which is a world space position, making corner calculation operate in local space in relation to the world position. the wording is confusing but it should be operating off of th

[2019-05-10 19:40] Kjakubzak opened #4274 "Manipulation Gesture is not triggering when expected, only triggers at the same time as the Navigation gesture"
## Describe the bug

We realized recently that Gestures are no longer working properly for our app; the Manipulate Gesture and Navigation gestures seem to be going off at the same time and the expected behavior of "tap to start Manipulate" is no longer working. Now, tapping and then moving your hand while holding the tap seems to trigger both Navigation and Manipulation. 

Making sure that this wa

[2019-05-10 20:05] provencher commented on #4250
Since I added a hardcode enum in a serialized field to granularize functionality based on detected capabilities, I added some code that looks like this:

![image](https://user-images.githubusercontent.com/7420990/57553710-594e1700-733d-11e9-83ac-6360c11f732d.png)

[2019-05-10 21:06] mgrman commented on #4196
ok, I will do further investigations on our side. Seem we can reproduce it with Unity 2018.3 and 2019.1.

[2019-05-10 21:40] chbecker-ms opened #4276 "Spatial mapping visualization doesn't work with non-identity playspace transform"
Easiest repro:

1) Enable MRTK spatial mapping visualization (on by default in default MRTK profile)
2) Add 1 meter offset on Y in MixedRealityPlayspace position
3) Deploy and run on HL

Note that all the spatial mapping wireframes are one meter low.

This is significant in any situation where it is desired to effectively apply a transform to the camera. This includes situations such as teleport,

[2019-05-10 21:40] chbecker-ms commented on #4276
Comment from David:

This is likely due to the parenting of the meshes... I will investigate.

[2019-05-10 21:40] chbecker-ms commented on #4276
Ported from internal database

[2019-05-10 21:48] chbecker-ms opened #4277 "MRTK: spatial mesh spams warning messages"
(Ported to GitHub)

MRTK: spatial mesh spams warning messages

[Warning]OnDataReady reported no data written for mesh id 1974
UnityEngine.DebugLogHandler:Internal_Log(LogType, String, Object)
UnityEngine.DebugLogHandler:LogFormat(LogType, Object, String, Object[])
UnityEngine.Logger:Log(LogType, Object)
UnityEngine.Debug:LogWarning(Object)
Microsoft.MixedReality.Toolkit.Core.Devices.SpatialAwarene

[2019-05-10 21:49] chbecker-ms commented on #4277
Comments from David:

Compare messaging with HTK's implementation.  Should we consider retrying or just try again the next time the observer notices a change (current behavior).

This indicates that Unity did not update the object in OnDataReady. Not an issue to remove the warning,. Is more of a debugging message for the system developer than for application developers.

[2019-05-10 21:54] chbecker-ms opened #4278 "Voice command input focus is different than HoloLens Shell"
(ported to GitHub)

Shared Window Targeting

1.  If I have my gaze directly on an interface, and says its SeeItSayIt keyword, it will activate.
2.  In Shell, if I look at **a button in a App Window** in Shell, and say a buttons SeeItSayIt keyword, it will activate.
3.  In Shell, if I look at **an App Window** in Shell, and say a buttons SeeItSayIt keyword, it will **still** activate the button fro

[2019-05-10 21:55] chbecker-ms commented on #4278
Comment from Luis:

MRTK uses Unity's event system to propagate events in the hierarchy, meaning that the speech command event will be raised from the object in focus up the hierarchy (i.e. towards the scene graph root, see Unity's ExecuteEvents.ExecuteHierarchy). I think this is a reasonable default.

A possible solution is to have an "app window" component added to the window game object that fo

[2019-05-10 21:57] chbecker-ms opened #4279 "Don't dispatch touch events for a hand that is already grabbing something and vice versa"
(Ported to GitHub, reference 19739652)

If a hand H1 is grabbing and moving an object O1, then touchable objects should not receive touch events from H1 until H1 has released O1.

For example: if I am moving something that has a touchable surface/button, I should not be accidentally pressing that button while moving.

### To reproduce

Import the unity package below, and then grab the cube, and mo

[2019-05-10 21:58] chbecker-ms opened #4280 "Coffee cup can get lost in playground app"
(Ported to GitHub, reference 21172526)

From Sophie:

First, the scene is great! Love it! However, if I drop an item, it’s lost! For example, I grabbed a coffee cup and accidentally opened my hand and it fell into the abyss. Would be nice to either have a respawn layer so that if they fell low enough they would just rematerialize at their original position (or spawn point). And/or have a button to

[2019-05-10 22:02] chbecker-ms opened #4281 "Remove velocity tracking from ManipulationHandler"
(Ported to GitHub, reference 21400301)

In follow up to comment on this PR https://github.com/Microsoft/MixedRealityToolkit-Unity/pull/4118:

I agree that using velocities in ManipulationHandler is something we can remove. This is to support a specific behavior of throwing things, which I think is a great idea to have as a separate component, but doesn't seem critical for manipulation.

Creating a

[2019-05-10 22:05] chbecker-ms opened #4282 "Near tether line style does not match the HoloLens shell"
(Ported to GitHub, reference 21020620)

The tether in the shell is a dotted line, however in MRTK it is a solid line.

Tether in shell:
![untitled](https://user-images.githubusercontent.com/42761412/57559020-d9bc4a00-7334-11e9-955b-38a025bc6faf.png)

Tether in MRTK:
![untitled2](https://user-images.githubusercontent.com/42761412/57559049-e771cf80-7334-11e9-84d4-f08b881171ca.png)

[2019-05-10 22:06] chbecker-ms opened #4283 "Buttons pressing via far interaction does not animate buttons in/out."
When pressing buttons with far interaction, buttons don’t animate (in and out like when touched). Is this normal? I would expect them to do the same when clicked far and near. Maybe it’s a Leap Motion bug

[2019-05-10 22:06] chbecker-ms commented on #4283
Comment from Daniel:

Far interaction performs a Select action which is directly processed by the `Interactable` component. It thus doesn't affect the `PressableButton` functionality.

The piano keys in the HandInteractionExamples scene move as their `Interactable` component is configured to play an animation on Select. This again is independent of the `PressableButton` functionality.

We would so

[2019-05-10 22:10] chbecker-ms opened #4284 "Unity UI interaction toggle button doesn't work on playground"
(Ported to GitHub, reference 21070689)

No further description. Let's double check that this works as expected with Daniels latest change to support hand interaction with Unity UI.

[2019-05-10 22:12] chbecker-ms opened #4285 "Cursor stops working after first airtap on HoloLens 1"
(Ported to GitHub, reference 21232947)

No further description

[2019-05-10 22:13] chbecker-ms opened #4286 "Diagnostic panel should indicate the 8 ms per GPU frame thermal/power limit in addition to the 16 ms 60fps limit"
(Ported to GitHub, reference 21300666)

There will be power/thermal guidance for how long per frame an app should be using the GPU, but it's not decided yet. Tentatively it's no more than 8 ms per GPU frame, and that's what we're using for internal apps.

We should upgrade the diagnostics panel to show red above 16 ms per GPU frame, yellow above 8 ms GPU frame, and green below 8 ms GPU frame. We c

[2019-05-10 22:14] chbecker-ms commented on #4286
We need to decide on the future of the diagnostic panel.

HoloLens 2 will support a low overhead FPS counter. The more complex we make this panel, the more GPU we are using.

It does provide great value on non-HL platforms where a counter may not be available.

[2019-05-10 22:16] chbecker-ms opened #4287 "Exception raised in call to InteractionManager.GetCurrentReading() : "Assertion failed on expression: 'index < size()'""
(Ported from GitHub, reference 21323136)

It happens when starting a MRTK app on a HoloLens 2 device. This is the exception reported:

[code]

[2019-05-10 22:16] chbecker-ms commented on #4287
Comment from Luis:

Link to similar looking issue, no resolution: https://forum.unity.com/threads/assertion-failed-on-expression-index-m_size.490584/

[2019-05-10 22:17] chbecker-ms commented on #4287
Comment from Kurtis:

I started seeing this for the first time yesterday as well. I believe it was caused by our change to passing in a preallocated array to the InteractionManager call.
I started investigating a little bit on the Unity-side, but haven't found anything yet.
I'll file a Unity bug as well, to get it on their radar (since it looks like the forum reporter never filed one).

[2019-05-10 22:34] chbecker-ms opened #4289 "Changing ActiveProfile at runtime does not work"
(Ported to GitHub, reference 21522491)

Issue encountered using MRTK V2.0.0 RC1 Refresh

There's a property on MRTK.Instance called ActiveProfile, which supposedly will
swap out the profile and reset the configuration, but when I attempted to call
this I ran into a bunch of the below errors, and fixing just the camera related
errors exposed a lot more.  I managed to "fix" these locally by actively

[2019-05-10 22:34] chbecker-ms commented on #4289
Comment from Julia:

Seems like an issue that has provided significant pain for customer in the past

[2019-05-10 22:36] chbecker-ms opened #4290 "Far beams start where the original head position was"
(Ported to GitHub, reference 21098803)

When hands begin tracking, the far beam starts out originating from the original head position where the user starts the app (both in editor and on device) for a frame before correctly positioning based on the hand.

[2019-05-10 22:37] chbecker-ms commented on #4290
Comment from Luis:

Looks like this could be another instance of: https://github.com/Microsoft/MixedRealityToolkit-Unity/issues/3612

[2019-05-11 00:11] StephenHodgson commented on #4261
See https://github.com/microsoft/MixedRealityToolkit-Unity/issues/3026

[2019-05-11 00:36] StephenHodgson commented on #4223
Instead their tracking state will change from known to lost

[2019-05-11 03:47] julenka commented on #4196
I further verified that this does not repro in 2018.3 IL2CPP release build, I think the issue is unfortunately with the customer application, not MRTK.

[2019-05-11 03:47] #4196 closed

[2019-05-11 06:08] Alexees opened #4292 "Remove controller switch statements"
## Describe the problem

Most controllers, foremost the WindowsMixedRealityController, use a switch statement each frame to distinguish what InputType calls what method.
These have a one to one correlation with input types statically typed in the override of the default interactions or DefaultLeftHandedInteractions and DefaultRightHandedInteractions.
Therefore switching on each input type each fra

[2019-05-11 06:13] julenka commented on #4261
Note: you can work around this by creating a custom MRTK profile, then creating a custom input profile, and removing the following two Data Providers from the list:

![image](https://user-images.githubusercontent.com/168492/57565822-35102b80-7379-11e9-8500-360881043c2c.png)

[2019-05-11 06:15] julenka commented on #4261
Closing as duplicate of #3026. Please use the workaround mentioned above. One way we could fix this would be to remove speech input from the default providers, but that would have the disadvantage of removing speech support from MRTK.

[2019-05-11 06:24] julenka opened #4293 "Service Inspector dropdown in scene turns off after I play and then stop in editor"
## Overview
Playing and then stopping a gaame in editor turns off the service inspector dropdown.

## Steps to reproduce
In MRTK profile, check "use service inspectors"
![image](https://user-images.githubusercontent.com/168492/57565903-95ec3380-737a-11e9-8970-77db3a89bd87.png)

Notice that MRTK game object now has dropdown:
![image](https://user-images.githubusercontent.com/168492/57565911-a43a4f8

[2019-05-11 06:55] julenka commented on #4283
Animating button states visually is actually implemented in Interactable, see for example Interactable Example scene -- there are buttons that animate down. Perhaps we could simply update the piano keys to animate using the existing Interactable infrastructure.

[2019-05-11 08:15] julenka commented on #4183
Adding Urgency-soon tag because it is blocking a few people, with an unpleasant workaround (see SimMue comment above)

[2019-05-11 09:29] julenka commented on #4261
Re opening based on suggestion from eprovencher that we should avoid running the speech code in edit mode, seems like a path to a solution

[2019-05-11 18:20] #4292 closed

[2019-05-11 22:07] chbecker-ms opened #4294 "[ManipulationHandler] Cheese rotates on grab"
(Ported to GitHub, reference 20940836)

In the HandInteractionExamples scene, cheese rotates on grab.

![MRTK_Manip_Click2](https://user-images.githubusercontent.com/13754172/57643230-250d6d00-756e-11e9-9763-987a61bde83a.gif)

[2019-05-11 22:08] chbecker-ms opened #4295 "Rotations marked as 'maintain rotation to user" rotate as I roll my head."
(Ported to GitHub, reference 20941268)

[2019-05-11 22:08] chbecker-ms commented on #4295
Comment from Luis:

A bit more info here, this seems to refer to the One Hand Rotation Modes in the Manipulation Handler script.

[2019-05-11 22:10] chbecker-ms opened #4296 "[ManipHandler] rotate about object center is not rotating about object center"
(Ported to GitHub, reference 20956325)

@julenka - Do you have a more detailed description for this issue?

[2019-05-11 22:11] chbecker-ms opened #4297 "Clicking 'Copy & Customize' in the Mixed Reality Toolkit component adds AsyncCoroutineRunner to scene"
1. Create a new scene
2. Mixed Reality Toolkit > Configure > Choose default configuration profile
3. Go to MRTK component and click 'Copy & Customize'
4. Observe 'AsyncCoroutineRunner' game object added to scene root.

From Lukas:

This probably is a consequence of
commit 1c3e99bc: Fixed an issue with creating multiple async runners.

Previously the AsynCoroutineRunner would be created as well, bu

[2019-05-11 22:13] chbecker-ms opened #4298 "MRTK should flag shadow usage on HoloLens"
(Ported to GitHub, reference 21089139)

HoloLens Setup looks better in the latest build, but GPU time is still excessive during the overlay section (8ms for a black screen). I noticed some functions in the trace that hint at directional light shadows being enabled. If I'm looking at the right scene in Unity, this would cause it:
![fdbae597-4fa9-4300-ad51-9394f0c2456f](https://user-images.githubuse

[2019-05-11 22:14] chbecker-ms opened #4299 "HandInteraction Example scene does not run at 60 fps"
(Ported to GitHub, reference 21395675)

All our example scenes should probably run at 60 fps, to match best practices.

[2019-05-11 22:14] chbecker-ms commented on #4299
(Ported to GitHub, reference 21395675)

All our example scenes should probably run at 60 fps, to match best practices.

[2019-05-11 22:18] chbecker-ms opened #4300 "AVs in UpdateLoop if machine doesn't support Speech"
(Ported to GitHub, reference 19307249)

I've recently been hitting:

[code]

I removed my null check wrapper, and I'm now only getting this second callstack (in addition to the original error)

[2019-05-11 22:19] chbecker-ms opened #4301 "SeeItSayIt should either not require the phrase to be added to the Speech Input Profile or should have a drop down to indicate such"
(Ported to GitHub, reference 19337614)

1. Add a Holographic Button to an MR Scene
2. Add "Hello" as the See It Say It" and hook an item up to "OnClick"
3. Check "Is Global" and uncheck "Require Gaze"
4. Run Scene, say "Hello"

Expected: Button OnClick is triggered
Actual: Button OnClick is only triggered if I *also* add the SeeItSayIt keyword to the SpeechCommandsProfile

If SeeItSayIt allows me

[2019-05-11 22:19] chbecker-ms commented on #4301
Comment from Yoyo:

This is a nice to have.
We should consider this update post beta to improve developer experience.

[2019-05-11 22:20] chbecker-ms commented on #4301
Comment from David:

Adding a dropdown to select the configured speech command makes a lot of sense as there are some tie-ins with the action definitions that are also needed to properly wire up a speech command.

[2019-05-11 22:21] chbecker-ms opened #4302 "Voice Commands in Editor do not work after focus transferred to headset"
(Ported to GitHub, reference 19337743)

From Alex:

1. Add some voice commands to an MRTK Scene
2. Press play in the editor
3. Say some commands, observe that they run
4. Put focus into headset
5. Say Commands
6. Observe that they do not work
7. Remove focus from headset
8. Say Commands
9.  Observe that they do not work

Expected: Commands should run in all of 3, 6, and 9
Actual: Commands only run

[2019-05-11 22:21] chbecker-ms commented on #4302
Comment from David:

Best of my knowledge is that the platform (Windows) is responsible for mic / speaker switching when using headsets.

There may also be an issue with Unity's play mode.

Should continue to investigate. Perhaps asking for help from the audio team.

[2019-05-12 04:24] ForrestTrepte commented on #4261
I am seeing lengthy delays in both startup and shutdown as described in #3026, but I couldn't quite tell what the conclusion was to that issue. Disabling speech in the editor sounds like a good interim solution, but would it also be possible to fix the underlying solution? (If it's a Unity issue, make sure they know that it's still a problem?)

[2019-05-12 05:14] StephenHodgson commented on #4261
Just FYI, I was able to fix this in my fork by not destroying the `DictationRecognizer` & `KeywordRecognizer`s when entering and leaving playmode.

[2019-05-12 05:31] julenka commented on #4296
Heh, I don't remember what I meant, let's close it since it's not detailed enough.

[2019-05-12 05:31] #4296 closed

[2019-05-13 09:01] #4125 closed

[2019-05-13 09:08] #3577 closed

[2019-05-13 09:14] Alexees opened #4303 "MRTK branch like Windows Insider Preview"
## Describe the problem

The MRTK seems to be considered stable enough and is used by a lot of companies already, that it's hard to get breaking changes in that can improve the MRTK faster.

I can only speak for myself, but I have been contributing to the current MRTK for at least 2 months now, at work, and it's still not in a state where we can use it. I have no idea how others do actually.

## D

[2019-05-13 09:50] Alexees opened #4304 "Mouse Pointer does not move on slow mouse movement"
## Describe the bug

When moving the hardware mouse very slowly, the Mouse Pointer does not move at all. This is most noticeable when you want to adjust its position just a little and nothing happens.

## To reproduce

Steps to reproduce the behavior:

1. Go to any empty scene and add a MRTK profile
2. Add the MouseDeviceManager to the InputSystemProfile
3. Start the scene and move the mouse slowl

[2019-05-13 09:59] luis-valverde-ms commented on #4285
Closing as duplicate of #3909

[2019-05-13 09:59] #4285 closed

[2019-05-13 10:05] Wolfoso opened #4305 "Input on Unity UI not working ONLY when ran with WMR"
## Describe the bug

While trying to build the same application for both HoloLens and WMR, I noticed that if I ran that App through the Mixed Reality Portal, UI input did not work. Everything worked in Editor and HoloLens.
To be clear, the raycast _did_ stop on the Canvas, but the button did not highlight on hovering and click did nothing.
Also, simulating the controllers in the WMR Portal while r

[2019-05-13 10:06] Alexees opened #4306 "MouseController requires InputProfile but does not force it"
## Describe the bug

Among others the MixedRealityInputSystemProfile provides the UnityMouseDeviceManager. It's one of a few that actually require a DeviceManagerProfile, otherwise a constant call to MixedRealityToolkit's GetService throws an error that it does not exist.

## To reproduce

Steps to reproduce the behavior:

1. Add a UnityMouseDeviceManager to an InputSystemProfile you use in a scen

[2019-05-13 10:13] Alexees opened #4307 "Sub-Profile navigation instead of fold out"
## Describe the problem

The MRTK provides foldouts for each profile it contains to show their configuration. Using IMGUI this noticeably slows down the inspector and editing/ scrolling is kinda laggy.

## Describe the solution you'd like

Each profile already has a "Back to configuration file" button. The MRTK could have an "eye" button next to the clone button, that opens the desired profile in

[2019-05-13 11:51] thedevleon opened #4310 "Public properties in SurfaceMagnetism are missing"
## Describe the bug

Not exactly a bug per se, but while the SolverHandler, RadialView, Orbital, and a couple other Solvers have their private properties also exposed as public properties, that is not the case for SurfaceMagnetism. The only public accessible property is OnSurface.
I want to add a SurfaceMagnetism Component and setup its variables during runtime, which is not possible currently.

#

[2019-05-13 14:59] luis-valverde-ms commented on #4295
This sounds like a job for @julenka . Feel free to re-assign otherwise.

[2019-05-13 15:01] luis-valverde-ms commented on #4287
There doesn't seem to be anything wrong here on our side. @keveleigh , do you mind following up with Unity?

[2019-05-13 15:37] luis-valverde-ms commented on #4223
I see two separate issues here:

1. I can't keep references to pointers because they get destroyed

What is the specific use case that requires you to keep the references? Would it be enough with keeping the pointer ID?

2. Re-creating pointers is expensive

Have you profiled a use case were this is an actual issue? Can you share that data with us?

I can see how @StephenHodgson suggestion would h

[2019-05-13 17:46] Troy-Ferrell commented on #4307
If you double click the object field of a given profile (component to left of "Clone" button), it will drill into that particular profile asset in the inspector thus allowing you up and down navigation

[2019-05-13 17:51] cre8ivepark commented on #4283
Correct - I can easily add pressing animation for the PressableButton using Interactable's offset theme. (Just like I did on the piano keys) However, I haven't seen this behavior in the shell. Need to verify the POR.

[2019-05-13 17:57] Railboy commented on #4307
@Alexees Troy is working on an inspector upgrade that reduces drawing overhead quite a bit. @Troy-Ferrell when can we expect that PR?

[2019-05-13 17:59] Troy-Ferrell opened #4313 "Simplify UI of MRTK Configuration profile inspector"
## Describe the bug

The MRTK configuration inspector is difficult to navigate and rationalize different properties both for new and veteran users.

## To reproduce

Propose simpler UI design that matches more closely to the unity built-in "Project Settings". This would allow users to explore & view are a large section of settings, balanced against the other spectrum of a full lengthy property lis

[2019-05-13 18:01] cre8ivepark commented on #4294
For any object with ManipulationHandler, there is a very subtle movement on each click. I suspect this is because there is a small movement of the simulated fingertip when the mouse is clicked?
@julenka @thalbern

[2019-05-13 18:08] provencher commented on #4223
@luis-valverde-ms
1. The use case is driving my UI from the far interaction pointer.
I do this because I have my own UI system, and this is described at length here:
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/3957

Right now I cache the pointer, and I use the handedness or name to recover it after it gets set to null.
However, because it gets destroyed, I have to null check it,

[2019-05-13 18:10] Troy-Ferrell commented on #4307
Just submitted :) https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4314

[2019-05-13 21:40] djohnsomsft commented on #4273
There is a secondary bug here as well where the bounds is initialized to the default center=(0,0,0), size=(0,0,0), and using Extend on this will always include the world origin. The fix to this is initialize with the first valid bounds instead of using Extend on the default value.

[2019-05-13 21:40] Troy-Ferrell commented on #4272
PR out: https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4317

Also, if children object transforms are modified in scene level, they will overwrite any changes made at prefab level of course. But so far working for me as expected with above change

[2019-05-13 22:33] djohnsomsft commented on #4273
This also does not account for scale. If an object is at 0.01 scale to start off, for example, the bounding box will be at 0.0001 scale.

[2019-05-13 23:32] chbecker-ms opened #4319 "MRTK design time code execution puts Editor/project into bad states"
(Ported to GitHub, reference 20076381)

When using MRTK vNext, there seems to be a fair bit of code that executes at
edit/design time. This logic seems to be buggy and puts the Unity Editor/project
in a bad state that sometimes requires reopening the scene or restarting Unity.
This is expected to be a major developer workflow issue and is a major
contributing factor for MRW teams not adopting MRTK

[2019-05-13 23:33] Cameron-Micka commented on #3953
A pull request is up to address this: https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4311

[2019-05-13 23:36] Troy-Ferrell commented on #3927
Current work in progress

![image](https://user-images.githubusercontent.com/25975362/57660835-3c178380-759d-11e9-92f7-110c073954d0.png)

[2019-05-13 23:39] chbecker-ms opened #4320 "Voice Commands in Editor do not work after focus transferred to headset"
(Ported to Github, reference 19337743)

1. Add some voice commands to an MRTK Scene
2. Press play in the editor
3. Say some commands, observe that they run
4. Put focus into headset
5. Say Commands
6. Observe that they do not work
7. Remove focus from headset
8. Say Commands
9.  Observe that they do not work

Expected: Commands should run in all of 3, 6, and 9
Actual: Commands only run in step 3.

[2019-05-13 23:39] chbecker-ms commented on #4320
Comment from David:

Best of my knowledge is that the platform (Windows) is responsible for mic / speaker switching when using headsets.

There may also be an issue with Unity's play mode.

Should continue to investigate. Perhaps asking for help from the audio team.

[2019-05-13 23:40] chbecker-ms commented on #4320
Comment from Yoyo:

This seems like an input routing issue.

[2019-05-13 23:45] chbecker-ms opened #4321 "Xbox One Controller Right Analog Stick and DPad returns no input when deployed to HL using MRTK default controller settings when deploying via Unity"
(Ported to GitHub, reference 19637798)

## Describe the bug

Xbox One Controller Right Analog Stick and DPad returns no input when deployed to HL using MRTK default controller settings when deploying via Unity

## To reproduce

Steps to reproduce the behavior:

After testing, all other input seems to work fine. Just the Right Analog Stick and DPad seem to be experiencing the failure. The controlle

[2019-05-13 23:46] chbecker-ms commented on #4321
Let's validate that Xbox One controller works as expected on HoloLens 1 and if yes we can close this out.

[2019-05-13 23:48] chbecker-ms opened #4322 "Play a scene without an Mixed Reality Toolkit object in the scene will trigger some errors."
(Ported to GitHub, reference 19937520)

[Editor Bug] Play a scene without an Mixed Reality Toolkit object in the scene will trigger some errors and one will be added to the scene automatically, and it will prompt for making a profile selection. However, once profile is chosen and tries to Play again, it won't work. I see a popup animation on the MixedRealityToolkit object in scene tree, but the ap

[2019-05-13 23:50] chbecker-ms opened #4323 "Remove need for camera at startup. Partner dynamically inserts a camera, based on platform type. This cause null exceptions during MRTK initialization."
(Ported to GitHub, reference 19937570)

Remove need for camera at startup.   Our project dynamically inserts a camera, based on platform type.  This cause null exceptions during MRTK initialization.

Addition from Graham:

Common request to decouple MRTK from camera in the main scene (or scene where MRTK lives) and dynamically create cameras in sub-scenes.  Does not block current customers, but wo

[2019-05-13 23:52] chbecker-ms opened #4324 "MRTK vNext has build breaks when using "warnings as errors" (-warnaserror+)"
(Ported to GitHub, reference 20029618)

Production apps typically build with "warnings as errors" (the -warnaserror+ compiler option).  To enable it, add an "Assets\csc.rsp" file to MRTK and include "-warnaserror+".  Try to build MRTK vNext and you'll hit build breaks.

I fixed the build breaks I could and added TODOs to fix the remaining ones where the fix was non-obvious to me.  See the "Links"

[2019-05-13 23:53] chbecker-ms opened #4325 "Support custom raycasting implementations"
(Ported to GitHub, reference 20077217)

Some of the MRW apps use "custom" raycasting for certain interactions. It does not appear that there is a way to provide a custom raycaster with the MRTK vNext input system. This poses a problem when trying to adopt MRTK vNext (at least the input system) for MRW.

One of the requirements in was that we override the default RayCast logic that HTK has, and whi

[2019-05-13 23:54] chbecker-ms opened #4326 "[VR] Motion controller pointer ray (white) disappears after failing teleport"
(Ported to GitHub, reference 20223654)

Initiate a teleport, but aim the parabolic ray somewhere you can't go (e.g. where there's no floor).

On releasing the stick, there will be no ray from the controller axis proxy.

Doing a successful teleport will bring back the white (straight) pointer ray.

[2019-05-13 23:55] chbecker-ms opened #4327 "[MRTK Shell Parity] Voice Command Confirmation Label"
(Ported to GitHub, reference 20272553)

This came up while I was talking with Lia about SeeItSayIt and nailing down the requirements for the desired behavior.
Command Confirmation is a feature for speech oriented things (where it pops up a small box with the command words you said).
Shell does Command Confirmation for itself, but **not** for exclusive apps.

MRTK does not currently have any functi

[2019-05-13 23:57] chbecker-ms opened #4328 "Make fields in HandMeshInfo ReadOnly"
(Ported to GitHub, reference 20306351)

In IMixedRealityHandMeshHandler, all fields are public. Make the fields public, but read only.

[2019-05-13 23:58] chbecker-ms opened #4329 "Projects with a space in the title break the "Open in Visual Studio" button in the MRTK Build Window"
(Ported to GitHub, reference 20308712)

I created a project called Is Mirage? and made the project name IsMirage. When I hit Build Unity Project in the build window, everything is fine. But when I hit Open In Visual Studio it says it can't find my project and asks if I want to build again.

[2019-05-14 00:09] chbecker-ms opened #4330 "Input action references are ill-defined"
(Ported to GitHub, reference 21340634)

Input actions are created by adding an entry to the table of input actions in the input actions profile. On creation, they get their ID set to their index in the table. When a user sets an input action in a script property, e.g. the pose action in a pointer, the ID gets serialized with it. This is problematic because:

1. Removing and adding entries in the a

[2019-05-14 00:12] chbecker-ms opened #4331 "Radial button selection doesn't visually change when set from script"
(Ported to GitHub, reference 21387842)

Using either the CurrentIndex member or the SetSelection(int idx) set the current index and generate appropriate callbacks, but don't call SetDimensionIndex on the the ToggleList elements so that they can visually update. That happens in OnSelection(), which is protected.

It seems like ideally SetSelection(idx) should call OnSelection(idx, true).

This woul

[2019-05-14 00:17] chbecker-ms opened #4332 "[MRTK Shell Parity] Contextual cursor visualization logic needed"
(Ported from GitHub, reference 20672232)

MRTK Pointer/Cursor logic need to have a mechanism to show different types of cursors in various states. We need to provide shell's default cursor visualizations. Developers should be able to easily assign own cursor assets through Unity Inspector. (example image below)

![Shell_Cursor](https://user-images.githubusercontent.com/13754172/57989817-429e7300-7

[2019-05-14 02:50] megatran commented on #3653
Hello. I checked out the solver examples with different settings but couldn't find one that act similarly as HoloToolkit's TapToPlace. Do you have suggestion on what I should try? Thank you!

[2019-05-14 03:31] davidkline-ms commented on #4304
/azp run mrtk_pr

[2019-05-14 08:44] fast-slow-still commented on #4276
I have had to address this in other work. @davidkline-ms  I would be happy to help save some time for you here, either working up a fix or pointing out failure point. Just let me know how I can best assist.

[2019-05-14 09:05] lukastoenneMS opened #4333 "HandednessFlags enum to specify if combinations are supported"
## Describe the problem

Handedness enum currently supports all combinations of Left/Right, as well as the unused and badly defined "Other" value. Many functions expect one specific handedness value and don't support combinations, but the enum doesn't allow distinguishing these cases.

## Describe the solution you'd like

There should be a plain

[code]
and a separate mask enum like

[code]

That

[2019-05-14 09:07] luis-valverde-ms commented on #4223
@provencher , I do think it would be better if pointers weren't destroyed. I was hoping to get a bit more solid data about the issues you've encountered (e.g. concrete timmings showing performance/increased GC) and the posible alternatives (e.g. caching pointer ID instead) to prioritize accordingly. As it stands, I think it is something we need to tackle but not top of the list.

[2019-05-14 15:54] cre8ivepark opened #4334 "MRTK > Add to Scene and Configure menu does not add MixedRealityPlayspace"
## Describe the bug
MRTK > Add to Scene and Configure menu does not add MixedRealityPlayspace

## To reproduce

1. File > New Scene
2. Mixed Reality Toolkit > Add to Scene and Configure

![2019-05-15 00_49_40-Unity 2018 3 13f1 Personal - Untitled - MRTK-GitHub - PC, Mac   Linux Standalone](https://user-images.githubusercontent.com/13754172/57712437-6a40a600-7625-11e9-9f8b-c6f8d6dd9ea1.png)

## Res

[2019-05-14 15:58] cre8ivepark commented on #4332
@keveleigh I have the assets ready! we need logic to display different types of cursor icon prefab. This work also includes replacing the existing cursor asset to match shell.

[2019-05-14 16:18] Railboy commented on #4323
This change should be incorporated into our camera system service.

[2019-05-14 16:20] Railboy commented on #4334
This is a change introduced by the new static playspace class.

Is this considered a bug, or is it just new expected behavior? Does anyone know if people make use of the playspace transform prior to runtime?

[2019-05-14 16:22] Railboy commented on #4322
This issue is fixed in #4035

[2019-05-14 16:35] killerantz commented on #4331
The correct approach is to call SetSelection(idx) which calls into the Interactable and sets it to toggled, which should call back to the InteractableToggleCollection to change the Current Index. Changing the current index only effects the collection when enabled, it's a way to set the default selected value through the inspector. **Some recent updates to Interactable broke the round trip and actu

[2019-05-14 16:35] davidkline-ms opened #4335 "PROPOSAL: Add service profile accessor property to core system interfaces."
By strict definition, this is a breaking change (any custom system implementation would be required to update). For application code, this provides a new option for gaining access to the profiles.

## Describe the problem

Currently, application code is required to call MixedRealityToolkit.Instance.ActiveProfile.<system>Profile to access profile data at runtime. The work related to #3545 enables d

[2019-05-14 16:50] cre8ivepark commented on #4334
@Railboy Oh, if that's the case, we should update the existing example scenes and documentation. I can do it once it is clarified.

[2019-05-14 16:51] provencher commented on #4223
@luis-valverde-ms  I could try gathering some data, but there are a lot of moving pieces involved in the creation of the pointers, so it's hard for me to quantify.

I understand that it's not at the top of the list, though in my opinon, the very fact that pointers can ever be null causes a number of issues across the MRTK as a whole. The issue I linked above #4270 has a number of null checks that

[2019-05-14 16:55] Railboy commented on #4335
If we do this then we may want to standardize how profiles are used by services. At the moment some services continue to use profile data at runtime, so changing the profile changes their behavior. Other services consume the profile data on initialize and ignore it from that point forward.

So if all core services 'officially' expose their profile data, there may be an incorrect expectation that e

[2019-05-14 16:56] Railboy commented on #4334
If people depend on the playspace being there to do setup work then I think I'd call it a bug. I'll start asking around.

[2019-05-14 16:59] cre8ivepark commented on #4334
Currently, since we have MixedRealityPlayspace in our documentation:
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/GettingStartedWithTheMRTK.html

[2019-05-14 17:15] jtomizuka commented on #3530
Did this get solved with MRTK v2?

[2019-05-14 17:30] davidkline-ms commented on #4335
Great points, @Railboy!

[2019-05-14 17:32] davidkline-ms commented on #4335
Step 1 should be to review what gets exposed by the services and what can only be accessed via the profiles.

If memory serves, very few (any?) services read profile settings on demand.

[2019-05-14 17:32] julenka opened #4337 "PlayModeTests: MRTK does not get destroyed when unloading / loading a new scene"
## Overview
For playmode tests we need to be able to unload a scene, unload MRTK, and then load a new MRTK in a fresh / unmodified state. Currently after unloading a scene and then loading a new scene, MRTK does not reset its state.

To reproduce, import the unity package in this zip file into your MRTK branch.

[TestSceneLoadUnload.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files

[2019-05-14 17:35] julenka commented on #4337
This is blocking many play mode test behaviors which rely on MRTK scene being in a consistent state when the test starts. For example, since the MRTK object persists between tests, the currently focused object will not get cleared between tests. This means that we cannot ensure that a focus enter event will get sent in a brand new test when it is put in front of the camera, because MRTK might alre

[2019-05-14 18:01] jtomizuka commented on #3530
We may take your test code and try updating. Thanks!

[2019-05-14 18:01] chrisfromwork commented on #4287
Adding Urgency-Now this seems to break all vr uwp builds. I guess building for release is a work around, but this feels urgent to fix now.

[2019-05-14 18:02] wiwei commented on #4287
@Railboy

[2019-05-14 18:04] davidkline-ms opened #4339 "MixedRealityToolkit object does not properly unregister services on destroy"
## Describe the bug

When the MixedRealityToolkit object is destroyed, it does not remove the registered service instances from the static registry class. This results in destroyed objects being registered as well as the potential for client application confusion due to multiple instances of the same service existing unexpectedly.

## Your Setup (please complete the following information)

- Unity

[2019-05-14 18:09] keveleigh commented on #4330
Dupe of #4083

[2019-05-14 18:09] #4330 closed

[2019-05-14 18:53] andreiborodin opened #4340 "Building .NET Master (.NET Native) flavor to HL2 Breaks Hands"
## Overview
When you build Release version of .NET, everything works on latest MRTK as of today. However, the Master version (.NET Native) compiler breaks the hands.

## Expected Behavior
Hands to work.

## Actual Behavior
Hands don't work.

## Steps to reproduce
1. Take latest MRTK
2. Switch to .NET Scripting Runtime
3. Build UWP
4. Build and deploy to device the Master flavor (.NET Native enable

[2019-05-14 19:20] Railboy opened #4341 "NullReferenceException in editor on play when Mixed Reality Portal is closed"
## Describe the bug

In the Unity editor, hitting Play when a VR device is plugged in when the Mixed Reality Portal is closed causes a NullReferenceException in WindowsSpeechInputProvider.cs.

## To reproduce

- Plug in a VR device
- Ensure Mixed Reality Portal is closed
- Open Unity project
- Create a new scene
- Click Mixed Reality Toolkit -> Add to Scene and Configure... and select your config

[2019-05-14 19:31] davidkline-ms commented on #4335
Scanning for references to "ActiveProfile" uncovered two example/demo scripts that access a system profile:

- MixedRealityToolkit.Examples\Demos\HandTracking\Script\GestureTester.cs
- MixedRealityToolkit.Examples\Demos\HandTracking\Script\ToggleHandVisualisation.cs

[2019-05-14 19:44] davidkline-ms commented on #4335
Other key locations:

- MixedRealityToolkit\Inspectors (profile inspectors)
- MixedRealityToolkit\Providers (controllers and visualizers)
- MixedRealityToolkit.Providers (Windows mixed reality and windows voice)
- MixedRealityTookit,SDK (ux features and speech input handlers)
- MixedRealityToolkit.Services (input system and simulation)

[2019-05-14 20:14] Kanaoko opened #4342 "Missing Controllers on build"
## Describe the bug

When I build my application/game or whatever I cant see the controllers. I can when im on editor mode, but not when built. But if I have something happening when i press a button it works, so the problem its that i cant see or track the controllers. (Last time I tested it they spawned on the ground and wont move).

## To reproduce

Steps to reproduce the behavior:

1. Make a p

[2019-05-14 20:16] meulta commented on #4273
It might be the same cause as for this #4151

[2019-05-14 20:34] wiwei opened #4344 "Slate is missing sounds on touch down and on touch up. These should be configurable via OnTouchDown and OnTouchUp events in the slate contents, like we do for manipulation."
Ported to Github, reference 21090800.

Slate is missing sounds on touch down and on touch up. These should be configurable via OnTouchDown and OnTouchUp events in the slate contents, like we do for manipulation.

[2019-05-14 20:43] jwittner opened #4345 "Slate feature is buried in Examples package."
## Describe the problem

Slate feature is cool, but the documentation doesn't lead you to any prefab to use. After some investigation it turns out that the prefab exists inside the Examples. Core features that are surfaced in the README should not be inside the Examples package.

## Describe the solution you'd like

Move the Slate out of examples and into the core package. Update the Slate docs to

[2019-05-14 20:46] wiwei opened #4346 "Error "There's already a UIRaycastCamera in the scene. It will be ignored" when opening HandInteractionAll scene"
Ported to Github, reference 20337078

Open HandInteractionAll scene.
2. Error window shows the following error:

There's already a UIRaycastCamera in the scene. It will be ignored, so please delete it to avoid confusion.
UnityEngine.Debug:LogError(Object, Object)
Microsoft.MixedReality.Toolkit.Services.InputSystem.FocusProvider:Initialize() (at Assets/MixedRealityToolkit.Services/InputSystem/Focus

[2019-05-14 20:51] wiwei opened #4347 "MRTK should have different hand mesh/marker settings based on transparent or opaque displays"
In VR you always want hand visualizations, even if you only use it in the editor, but in AR there's a good chance you don't want the hand visualizations. You should be able to determine which to use based on display type.

[2019-05-14 20:51] wiwei commented on #4347
Ported to Github, reference 20585593

[2019-05-14 20:57] wiwei opened #4349 "MRTK's Appx Build Options tab on the build menu doesn't list "ARM64" as a choice"
Ported to github, reference 20430683

[2019-05-14 20:59] wiwei opened #4350 "DocFX API documentation assembly reference points to cs.temp.dll.dll"
Ported to Github, reference 20998588

Open any class entry in the api documentation generated by docfx and observe wrong assembly information:
Assembly: cs.temp.dll.dll

This is due to the fact that we're using the .cs files without any project files for generation. Docfx just can't figure out in which binaries they will end up. A solution would be to generate the unity project files on the CI and

[2019-05-14 21:12] keveleigh commented on #4346
I fixed this a while back.

[2019-05-14 21:12] #4346 closed

[2019-05-14 21:19] keveleigh commented on #4347
This feels like a dupe of #4213

[2019-05-14 21:32] wiwei opened #4351 "Add a default HoloLens 2 profile"
A common ask from a number of customers is to have a common HL2 profile, which does things like disabling boundaries, disabling hand visualizations (for perf), etc.

[2019-05-14 21:41] cre8ivepark commented on #4200
I have updated the list with detailed items.

[2019-05-14 22:07] wiwei commented on #4345
@cre8ivepark @julenka do you have any background here on why certain types of prefabs were put directly into the examples folder, instead of outside of the examples folder?

[2019-05-14 22:15] wiwei commented on #4342
Thanks for filing this issue! I'm guessing you might be hitting this issue:

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4287

If you believe this is different please share out some more specific details (i.e. are you building debug vs retail, if you have screenshots or videos, etc) we can reroute this.

[2019-05-14 22:38] Railboy commented on #4287
That would have been #3946

If that's the problem we can roll back the change with one line in WindowsMixedRealityDeviceManager.cs:
`interactionmanagerStates = InteractionManager.GetCurrentReading();`

Can someone try that and report back? My device is out for repairs.

[2019-05-14 22:40] wiwei commented on #4328
This would be a breaking change, would be good to get to. I think that we have enough other possibly breaking changes and issues that are more interesting to get to.

[2019-05-14 22:40] #4328 closed

[2019-05-14 22:49] wiwei commented on #4324
We need to keep our code warning and error clean, lest we break other projects that treat warnings as errors.

[2019-05-14 22:53] #4322 closed

[2019-05-14 22:58] wiwei commented on #4310
@cre8ivepark @keveleigh  do you have any history/background for why these variables weren't made public? Seems like a fairly obvious extension point that we should enable.

[2019-05-14 23:08] ryantrem commented on #4325
@wiwei - these folks would be good contacts to validate any proposed solutions to this issue: @Kjakubzak, @rferrese, @ritijain

[2019-05-14 23:11] wiwei commented on #4325
@Kjakubzak, @rferrese, @ritijain do you guys have some more specific asks here (i.e. are there some specific points in the code that you can help point to that are inflexible, or have snippets of code that show the overall pain points and illustrate things?)

I want to get sufficient detail within this issue that we can both understand what it is we're trying to improve and then also understand ho

[2019-05-14 23:12] wiwei commented on #4306
There's been other feedback around these profile things as well - i.e. it really should be restrictive to just the mouse one (or maybe have some way of marking a profile as required in the data provider attribute so that it's clear that something is needed).

I think for this one it might just be a matter of providing the default profile in the attribute, though I haven't actually looked deeply en

[2019-05-14 23:17] wiwei commented on #4305
I would ask if this repros on the latest release (i.e. RC1 refresh) but I think our latest actually has an issue where it doesn't work when deployed for reals (like you have here).

I think that we can try to validate this after fixing that bug (https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4287)

[2019-05-14 23:17] wiwei commented on #4304
Thanks for filing this issue, and then fixing it!

[2019-05-14 23:17] #4304 closed

[2019-05-14 23:18] keveleigh commented on #4334
Fixed via #4338

[2019-05-14 23:18] #4334 closed

[2019-05-14 23:18] wiwei commented on #4304
Closed out the issue, as I believe that with your fix merged in, it should be addressed.

[2019-05-14 23:20] keveleigh commented on #4287
@Railboy Yeah, that's the problem. There's a bug in Unity's implementation when no controllers are attached. I'm working on it with them.

[2019-05-14 23:24] chrisfromwork commented on #4342
I don't think that this should be treated as a duplicate. I'm convinced that these are separate issues. I am experiencing issues rendering windows mixed reality controllers in the compiled uwp executable. It seems like there are multiple problems:

1) We need to change how we kick off controller rendering. Some basecontroller function calls appear to have changed orders. TryRenderController model

[2019-05-14 23:25] ryantrem commented on #4325
Also @smcbeth may have thoughts here.

[2019-05-14 23:27] wiwei commented on #4303
This is a discussion that we've had amongst the team a number of times, and at this time all of our engineering focus and time is being spent on stabilizing a number of issues that have been reported by customers who are starting to onboard to MRTK.

It's difficult for us to try to split engineering work between future and current right now, since we're so focused on a number of different stabiliz

[2019-05-14 23:36] wiwei commented on #4299
@julenka if you still see this let me know how you're hitting it. Last I tried this, it was running at 60fps.

Would also be helpful to have the platform/settings specified (i.e. HL2? HL1?)

[2019-05-14 23:36] #4299 closed

[2019-05-14 23:50] wiwei commented on #4293
I think this was called out in the initial PR review as well, the workaround I believe is to re-toggle the service inspectors checkbox.

[2019-05-14 23:55] wiwei commented on #4284
There's not a lot of information in this issue, so I'm closing this out. I've messaged the original customer who reported this and have advised to reopen this with more details if this is still a problem.

[2019-05-14 23:55] #4284 closed

[2019-05-14 23:58] wiwei commented on #4095
@cre8ivepark what do you think of this request?

[2019-05-14 23:58] wiwei commented on #4290
Looks like a dupe, resolving. We can reopen if this is not the case.

[2019-05-14 23:58] #4290 closed

[2019-05-15 00:00] wiwei commented on #3612
Tagging with Input, but specifically this is pointers within Input

[2019-05-15 00:01] wiwei commented on #4286
I think that this also was originally called out to help with some HoloLens 2 specific things (around thermal/power) - not sure how generally useful this actually is.

I'm going to close this out - if we can show some value that accrues to VR and AR maybe we would take this.

[2019-05-15 00:01] #4286 closed

[2019-05-15 00:02] wiwei commented on #4280
@cre8ivepark do you guys have any "reset scene" affordances that you will put into a scene but rip out prior to checking things in?

[2019-05-15 00:03] wiwei commented on #4280
@julenka as well (see question for @cre8ivepark)

[2019-05-15 00:05] wiwei commented on #4281
@julenka is this purely "remove anything that has to do with velocity" or is this "refactor velocity into its own class?"

See this comment for reference
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4118#issuecomment-487824639

[2019-05-15 00:10] wiwei commented on #4279
@julenka can you add some more details on what the request/bug is here? The last mention I've seen here is around the mediator handling this.

[2019-05-15 00:13] wiwei commented on #4276
@fast-slow-still if you have cycles to look at this, this would be great.

I don't believe that @davidkline-ms is actively investigating this right now.

[2019-05-15 00:16] wiwei commented on #4274
@Kjakubzak just to check, is this primarily happening with input simulation, or also something that happens on a real device? The way input simulation and input works is slightly different.

[2019-05-15 00:17] keveleigh commented on #4310
I'm not aware of any specific reason. I know other solvers have had public properties added over time, so it's possible this is one that hasn't been worked on yet.

[2019-05-15 00:17] wiwei commented on #4351
Should have teleport off as well.

[2019-05-15 00:17] wiwei commented on #4271
Tracking this in this issue:

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4351

[2019-05-15 00:18] #4271 closed

[2019-05-15 00:19] wiwei commented on #4269
It looked really bad before, but it's better than it was when this bug was filed.

[2019-05-15 00:23] wiwei commented on #4267
I believe this ask is around the old HTK - we're primarily focused on V2 right now.

[2019-05-15 00:23] #4267 closed

[2019-05-15 00:28] wiwei commented on #4265
This is similar to https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4340, in that without this fix or that issue fixed, you can't have NuGet + articulated hands.

Just a note that these two are related, and that we need to get at least one of them working soon.

[2019-05-15 00:29] wiwei commented on #4340
This is similar to #4265, in that without this fix or that issue fixed, you can't have NuGet + articulated hands.

Just a note that these two are related, and that we need to get at least one of them working soon.

[2019-05-15 00:30] wiwei commented on #4266
If anyone has a scenario in which this affects non-low perf cases, would be good to have data here.

[2019-05-15 00:31] wiwei commented on #4261
Marked as Urgency-Soon, because it's a huge pain to deal with daily development.

[2019-05-15 00:32] wiwei commented on #4260
Seems like a good candidate for anyone to jump in and help out.

[2019-05-15 00:33] wiwei commented on #4259
@julenka, do you have any thoughts on this regarding the parity or suggested fix?

[2019-05-15 00:34] wiwei commented on #4258
@killerantz do you have any thoughts/concerns on the proposal above? Do you think we need more information?

[2019-05-15 00:36] wiwei commented on #4257
Nice to have, would tag with "Help Wanted" but I think it's a fairly significant chunk of work (@lukastoenneMS correct me if I'm wrong here)

[2019-05-15 00:42] wiwei commented on #4249
@cre8ivepark I think that you've got the most solvers expertise on the team. Can you help out with this one? If there's more information required here please let us know.

[2019-05-15 00:43] wiwei commented on #4245
@Yoyozilla do you have any new information from that thread? Ideally we could have that conversation on this issue.

[2019-05-15 00:46] wiwei commented on #4241
@DominicBoettger, do you have any other details on what you'd like to see here? i.e. is this external camera like a real image-camera (which we then maybe do some sort of ML/stuff to figure out what you're looking at on screen?) Or is this a request for maybe some 6dof controller toggle that will enable some "eye gaze pointer thing?"

[2019-05-15 00:48] wiwei commented on #4238
@hdaUwe, just to check, is this when you've deployed to HL1, or using holographic remoting?

[2019-05-15 00:52] wiwei commented on #4224
I don't think that we're looking into custom gestures in the near future, though this is good data for us to have as we plan for future iterations

[2019-05-15 00:54] wiwei commented on #4228
@Troy-Ferrell, do you have any data/numbers on the impact of this?

[2019-05-15 00:55] wiwei commented on #4219
I believe this issue was fixed by @thalbern in #4144 (due to the comment left:

_Yes there's at least 2 tickets that are fixed with this PR (#4219, #4216) - but I just wanted to open this as a draft for having a discussion about it. If possible I'd like to avoid having the migration step (if we have to keep it in it should be moved out of the class)._

[2019-05-15 00:55] wiwei commented on #4216
I believe that this was fixed by #4144 based on the following comment in that PR:

_Yes there's at least 2 tickets that are fixed with this PR (#4219, #4216) - but I just wanted to open this as a draft for having a discussion about it. If possible I'd like to avoid having the migration step (if we have to keep it in it should be moved out of the class)._

[2019-05-15 00:57] wiwei commented on #4214
@thalbern, any chance you could share that video here?

[2019-05-15 00:58] wiwei commented on #4347
Yep, definitely overlaps

[2019-05-15 00:58] wiwei commented on #4213
@Yoyozilla, is the Urgency-Soon issue for the documentation guidelines, or for everything?

[2019-05-15 01:01] wiwei commented on #4212
@thalbern do you have any more details on the specifics there? The level of detail so far is one where we can probably do something but not know if it is valuable.

[2019-05-15 01:04] wiwei commented on #4208
@IfnoLee, are you also seeing similar issues/blocking problems when deployed to HL1 (i.e. non-remoting scenarios?)

[2019-05-15 01:04] Troy-Ferrell commented on #4228
No, I don't have any numbers. It depends on how regularly you call Shader.SetBlah as well as how many different shader properties there are in the project. The goal is to bypass the memory lookup of the int key for every call.

[2019-05-15 01:09] wiwei commented on #4175
Alrighty, it looks like we updated this to work with Any as well, so this should be good.

[2019-05-15 01:09] #4175 closed

[2019-05-15 01:09] wiwei commented on #4176
Closing this out now that the fix was merged

[2019-05-15 01:09] #4176 closed

[2019-05-15 01:13] wiwei commented on #4165
@provencher do you have some other specific ones in mind? Or maybe this is a question for the greater set of folks on this, which is if the set of things that should be multi-editable is obvious (@Railboy)

[2019-05-15 01:14] wiwei commented on #4157
Closing this issue out, as it seems like @lukastoenneMS has provided an answer, please reopen if it hasn't addressed your question.

[2019-05-15 01:14] #4157 closed

[2019-05-15 01:22] wiwei commented on #4138
I can confirm, this is super weird.

[2019-05-15 01:24] #4114 closed

[2019-05-15 01:25] wiwei commented on #4114
Closing, I believe this was fixed by #4116

[2019-05-15 01:27] wiwei commented on #4111
Thanks for the feedback - there's a lot of feedback around this, and this is something we're looking to fix up. Tagging this with Profile and Inspectors to help with data around impact

[2019-05-15 01:29] wiwei commented on #4104
@davidkline-ms can you comment a bit on this? It seems like it would be valuable to have your take on the next steps associated with this change.

[2019-05-15 01:39] wiwei commented on #4009
I think that a bunch of this was addressed, feel free to reopen if there were things not covered by @killerantz's PR.

[2019-05-15 01:39] #4009 closed

[2019-05-15 02:40] Railboy commented on #4165
Most if not all of our UX controls should be using this feature.

[2019-05-15 04:02] julenka commented on #4259
I think for now it's better to err on making the controls easy to interact with, even though technically many buttons in the shell now activate on release (though you can activate them by pressing entirely through the button). Actually I just completed a PR a week ago to make buttons activate on press by default, so this bug is already completed :-)

[2019-05-15 04:02] #4259 closed

[2019-05-15 09:05] luis-valverde-ms commented on #3253
Reopening this as it is still an issue when for example trying to drive a rotation using a thumbstick. Once the thumbstick is pressed all the way its value won't change, events won't be raised and the rotation will stop.

[2019-05-15 09:28] thalbern commented on #4214
@wiwei I don't think I can - it's a hl2 capture from one of the customers - it doesn't show a lot, but I rather not post this until someone signs off on this

[2019-05-15 09:49] DominicBoettger commented on #4241
@wiwei I think it's not needed to have a special ML stuff. It would be sufficient to use eye tracking hardware like TOBII eye tracker or something similar.

[2019-05-15 10:28] gilbdev opened #4359 "NullReferenceException when disabling GazeProvider"
## Describe the bug

[code]
when OnDisable is called, it's calling `InputSystem?.RaiseSourceLost(GazeInputSource);` which access the get property for GazeInputSource which tries to recreate the gazeInputSource.
(and in BaseGenericInputSource, constructor access InputSystem,that may have been destryoed before)

=> simple ugly solution could jsut be to test if InputSystem is not null MixedRealityToo

[2019-05-15 11:10] luis-valverde-ms commented on #4223
@provencher , understood.

[2019-05-15 11:17] hdaUwe commented on #4238
I deployed it on HL1

[2019-05-15 11:26] provencher commented on #4165
Every time I come across a script that doesn't have, I wish it did.

I ran into this editing buttons and other controls, for example. I can't imagine a case where it wouldn't be useful.

[2019-05-15 11:31] gilbdev commented on #4359
GazeProvider.InputSystem is set by MixedRealityInputSystem class
but when MixedRealityInputSystem is disabled, GazeProvider.InputSystem is not changed

adding
`GazeProvider.InputSystem = null;`
 just before
`GazeProvider = null;`
in MixedRealityInputSystem.cs Disable() function fixes the exception (as InputSystem?.RaiseSourceLost(GazeInputSource) won't be called)
not sure this is the cleanest way,

[2019-05-15 13:23] Kanaoko commented on #4342
I have updated my problem. If you could read it I would appreciate it.

[2019-05-15 13:28] Kanaoko commented on #4342
Im not sure there is a rendering issue since last time i saw the controllers on the ground. They just wont move where they should (But if I press windows button they are where they should, maybe there is a building guide? I dont know what can i be missing)

[2019-05-15 14:13] luis-valverde-ms opened #4361 "Bounding box ignores pointer rotation when scaling or rotating"
Unlike in the Shell, only the pointer position is used to drive the scaling or rotation.

[2019-05-15 14:42] thalbern commented on #4216
not fixed! i was asked to close the draft PR - there's a comment in there that says there's going to be a second PR with the actual fix - the draft was just for discussing the fixes

[2019-05-15 14:42] thalbern commented on #4219
not fixed! i was asked to close the draft PR - there's a comment in there that says there's going to be a second PR with the actual fix - the draft was just for discussing the fixes

[2019-05-15 15:00] thalbern commented on #4212
the info i got from our customers is in the description. As far as i understood the optimal scenario would be a mix of some debug info on a 2d slate and some 3d debug visualizers.
2d slate: active pointer, focus object, ???
3d visualization: draw hand rays, draw intersection points when ptr ray hits geometry, draw collision spheres / bounding volumes (they only have that in unity editor, but would

[2019-05-15 15:15] julenka commented on #4345
No, I do not know. Yoon would be the right person to answer this.

[2019-05-15 15:18] julenka commented on #4280
I don't have one that I've used in MRTK, though I did have this in my old prototypes. I guess this should not be part of core MRTK but part of examples, or maybe part of MRTK.SDK.

[2019-05-15 15:19] julenka commented on #4280
Here is the script I used in my old prototypes to move the scene in front of the user and reset the world:
[MoveHereAndResetWorld.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files/3183227/MoveHereAndResetWorld.zip)

[2019-05-15 15:20] thalbern commented on #4214
@wiwei I posted a request for using screenshots / video on github

[2019-05-15 16:03] lukastoenneMS opened #4365 "Input Simulation: Persistent hands only visible when previously moved"
## Describe the bug

Hands in input simulation can be toggled on/off using T/Y keys for left/right hand. This keeps hands visible at all times, even when they are not actively controlled (shift/space keys).

However, the hands are not visible if they shift/space keys have not yet been pressed before toggling the persistent mode with T/Y.

## To reproduce

1. Open the example scene
2. Start play mo

[2019-05-15 16:28] andreiborodin commented on #4340
Well, I think we will need both of them working. As some apps rely on .NET others in IL2CPP.

[2019-05-15 16:28] andreiborodin commented on #4265
Well, I think we will need both of them working. As some apps rely on .NET others in IL2CPP.

[2019-05-15 16:33] luis-valverde-ms opened #4366 "Xbox thumb sticks raise input changed events even though I'm not touching them"
This is happening because the Unity input axes created by MRTK that are used to read the thumb stick values have a dead zone of 0.001 instead of the default of 0.19 used by Unity for the pre-created Horizontal and Vertical axes. See `ControllerMappingLibrary.UnityInputManagerAxes` and `XboxController.DefaultInteractions`.

I'd like to have those axes created with the Unity dead zone value instead.

[2019-05-15 17:12] lukastoenneMS opened #4368 "SpeechInputHandler gets triggered twice when "Is Focus Required" is disabled"
## Describe the bug

When the "Is Focus Required" toggle on SpeechInputHandler is off it gets triggered as a global listener. However, when it gets focused with the gaze cursor it **also** is triggered as the focused handler, leading to two invocations on the same command.

## To reproduce

Steps to reproduce the behavior:

1. Create a scene with a basic cube.
2. Add a SpeechInputHandler component

[2019-05-15 17:16] wiwei opened #4369 "Nested Prefabs work poorly with MRTK custom inspectors"
The new Nested Prefabs have extensive inspector functionality to allow you to apply selective updates to prefabs.
If working directly in a scene on prefabs, you can apply changes piecemeal to the prefabs.

However the custom inspector is nonfunctional or just decently frustrating to work with when using prefabs:

Examples:
The blue line on the left here indicates that there is a pending change tha

[2019-05-15 17:16] wiwei commented on #4369
Ported to Github, reference 20124104

[2019-05-15 17:19] wiwei opened #4370 "Prevent back-poking"
Ported to Github, reference 20798609

This issue was reported a few months ago that it's possible to press buttons from the back with the PokePointer - it's unclear if this is actually a button thing (or if it's just a fix to the way the poke pointer interacts with things)

[2019-05-15 17:22] wiwei opened #4371 "Default grab radius is too large"
Ported to Github, reference 20800672

During our work with ISVs over the past few weeks we have always lowered the grab radius on the GrabPointer. By default objects can be grabbed within a 15 cm (with an additional 0.5 cm constant) radius sphere. A 5 to 10 cm radius seems more appropriate.

![01750420-175e-4dda-8596-07dad8e7b315](https://user-images.githubusercontent.com/5840182/57795614-494a8480

[2019-05-15 17:23] wiwei opened #4372 "GGV cursor does not stick to object during manipulation"
Ported to Github, reference 20823387

Use HoloLens 1 gestures to move an object in HandInteractionExamples scene. You can use either in-editor simulation or go to an actual HoloLens device. For in-editor simulation set Hand Simulation Mode in InputSimulationProfile to Gestures:

![66739081-02a9-4a87-9924-ca0604dca01c](https://user-images.githubusercontent.com/5840182/57795709-81ea5e00-76fb-11e9-89

[2019-05-15 17:28] wiwei opened #4373 "Cannot re-invoke keyboard after closing"
Ported to Github, reference 20960938

Bring up keyboard
type, then press "x" on upper right to close
Try to bring up keyboard again
Expected: I can bring up keyboard
Actual: I cannot bring up keyboard

From what I can tell, this looks to actually be a unity bug:
https://fogbugz.unity3d.com/default.asp?1137074_rttdnt8t1lccmtd3

Given that we don't have any keyboard abstractions, this  might also ju

[2019-05-15 17:41] wiwei opened #4376 "Interactable setting IsGlobal to true makes nothing else movable clickable in the scene"
Ported to Github, reference 20963951

Find an interactable in HandInteractionAllExample scene
Check IsGlobal so it is true

![](https://microsoft.visualstudio.com/8d47e068-03c8-4cdc-aa9b-fc6929290322/_apis/wit/attachments/b96260d7-9a8b-4ac0-a00b-83fe053922e1?fileName=image.png)

Run the scene, and try to move something with hand rays
Expected: I can move things around with hand rays
Actual: I can'

[2019-05-15 17:41] wiwei commented on #4376
![b96260d7-9a8b-4ac0-a00b-83fe053922e1](https://user-images.githubusercontent.com/5840182/57796852-f9b98800-76fd-11e9-9075-d5cc91bd7ab2.png)

[2019-05-15 17:42] wiwei commented on #4376
@killerantz can you comment a bit about the original intent of the Is Global property?

[2019-05-15 17:43] wiwei opened #4377 "Rays do not turn off when hand are facing you"
Ported to Github, reference 20978095

In the shell, hand rays turn off when hands are facing you. This is encoded in MRTK via the pointer IsInPointingPose bool. Hand rays are currently not turning off when the hands are facing you.

[2019-05-15 17:44] wiwei opened #4378 "No hyperlinks for some base interfaces in DocFX API documentation"
Ported to Github, reference 20998110

Go to the documentation for LinePointer: https://microsoft.github.io/MixedRealityToolkit-Unity/api/Microsoft.MixedReality.Toolkit.Input.LinePointer.html
Observe how some of the interfaces have no hyperlinks to their doc pages

![9f0ec396-96e5-405d-8d1f-6d772678dadb](https://user-images.githubusercontent.com/5840182/57797058-72b8df80-76fe-11e9-943f-19d0dc8c7c67

[2019-05-15 17:51] Prithiaga opened #4379 "Extensible FocusProvider to add custom raycast"
In our application, we are performing a custom raycast for objects without colliders. So, in order to show pointers based on the custom raycast hit, we would need to add the custom raycast in QueryScene method of FocusProvider.

I tried to extend the FocusProvider's QueryScene method, but it is not virtual. So, I copy pasted the whole script and updated the necessary code.

Please provide solution

[2019-05-15 18:26] #4033 closed

[2019-05-15 18:40] wiwei commented on #4379
@luis-valverde-ms curious to hear your thoughts on this one.

[2019-05-15 18:48] julenka commented on #3970
Removing Yoyo since she is not actively working on this.

[2019-05-15 18:49] Railboy commented on #4379
I would like to specify the raycaster class as a SystemType in the input profile.

[2019-05-15 18:49] Cameron-Micka commented on #4379
@keveleigh I've seen a few developers utilize custom raycasting solutions, so we may need some way to inject logic or override the a portion of the MRTK scene query behavior.

[2019-05-15 18:50] julenka commented on #3970
@keveleigh is this a bug in Unity?

[2019-05-15 18:52] wiwei commented on #3909
I'll be checking in the workaround, scoped to only when remoting is connected/active. Should lessen the chance that this workaround will affect any other scenarios unintentionally.

[2019-05-15 18:54] julenka commented on #4183
Starting on this.

[2019-05-15 19:05] Railboy commented on #3601
These issues should be resolved by #4035. If you're still having trouble let us know and we can re-open this.

[2019-05-15 19:05] #3601 closed

[2019-05-15 19:55] keveleigh commented on #4377
I believe this was implemented (by @julenka?), unless it regressed recently.

[2019-05-15 20:57] Railboy opened #4381 "MRTK instance can be initialized twice in editor"
## Describe the bug

MRTK instance can be initialized twice in quick succession when entering playmode in editor. This can cause a null reference exception in GazeProvider, which cascades into a series of errors about missing cursors.

## Steps to Reproduce

- Open HandInteractionExamples scene, or any scene with a main camera that already has a GazeProvider component.
- Hit Play.
- Observe errors

[2019-05-15 21:17] Railboy commented on #4369
Agreed, and I think we may need some guidance from Unity here as well.

In the past, these rules of thumb have been an adequate safeguard against breaking prefab overrides:

- It's bad practice for a custom inspector to modify fields and properties directly. Always modify serialized properties.
- Use EditorGUILayout.PropertyField unless absolutely necessary.
- If using custom property drawers, mak

[2019-05-15 21:18] killerantz commented on #4376
The Is Global value was meant for things like a fitting guide (buttonless UI) or modal, or where we used to say, "air tap anywhere to continue." It's meant to be a button that gets all input, no matter if the button has focus or not. Normally this would be the only button that cares about input at a given time.

[2019-05-15 22:26] wiwei commented on #3909
Should be good in latest mrtk_development

[2019-05-15 22:26] #3909 closed

[2019-05-15 22:43] wiwei commented on #4287
Should call out, this is a Debug-build specific issue.

[2019-05-15 22:43] wiwei commented on #4287
I'm working on this fix.

[2019-05-16 00:17] kircher1 commented on #4325
This is a feature request that would benefit the [maps sdk project](https://github.com/microsoft/MapsSDK-Unity) as well.

It would be great if the focus/gaze cursors and controller rays would follow the surface of the map; however, the map doesn't generate a collider on the fly (a lot of perf overhead for that), so it's not ray-castable through Unity's physics system.

[2019-05-16 01:28] ritijain commented on #4325
@wiwei  This ask was due to multiple scenarios that were missing in HTK, and due to some custom solutions that our apps had. Some of the things have definitely been fixed in MRTK and having the ability to write custom Gaze/pointer  systems because of availability  of more interfaces  definitely makes this easier.

1. The version of HTK that we were using only did Layer prioritization based compari

[2019-05-16 01:34] julenka opened #4392 "In-Editor input simulation is not working"
Pressing Play in MRTK scene and then pressing space bar does not bring up hands.

Using mouse to move camera around does not work.

[2019-05-16 01:48] ritijain opened #4393 "BoundingBox script doesn't work when ManipulationHandler component is also added to the same gameobject"
## Describe the bug

I attempted leveraging the Bounding Box + ManipulationHandler capabilities. Turns out BoundingBox doesn’t work reliably when ManipulationHandler is also active in the same hierarchy.

## To reproduce

Steps to reproduce the behavior:
1. Create an object in the MRTK enabled scene
2. Add the ManipulationHandler script to the gameobject.
3. Add the BoundingBox script to the gameo

[2019-05-16 01:53] ritijain opened #4394 "Having the setting to toggle bounding box visualization enabled in editor will be helpful in debugging"
## Describe the problem

While using the bounding box, it would be helpful to have the rigidbody created for bounding box to be visible in inspector and the hierarchy. (I had my collider configuration messed up and so i was not able to get bounding box working, since it used to pop up at a different location in the 3d space.  Enabling this property helped me debug this issue faster)

## Describe t

[2019-05-16 01:59] ritijain opened #4395 "Setting ManipulationHandler script to “RotateScale” mode doesn't prevent Move operation from happening"
## Describe the bug
Setting the script to “RotateScale” mode doesn't prevent Move operation from happening
. If that is intended behavior, what is the purpose of constraining these manipulation Modes?

## To reproduce

Steps to reproduce the behavior:
1. Create a simple cube in the unity scene
2, Add the ManipulationHandler script to the gameobject.
Configure the script in the following manner:
![

[2019-05-16 02:06] ritijain opened #4396 "The ManipulationHandler script settings seem to imply that there is a “onehanded scale operation”"
## Describe the bug
The ManipulationHandler script settings seem to imply that there is a “onehanded scale operation”. Allowing configuration if Scale mode supporting manipulations in onehanded manipulation mode is confusing. From the code it seems that the only intended operation for onehanded manipulation is Move. This applies to any ManipulationType setting that contains Scale.
![image](https:/

[2019-05-16 04:57] julenka commented on #3950
All ManipulationHandler fields should now be publicly settable as of #4181

[2019-05-16 04:57] julenka commented on #3950
Looks like the remaining work is:

- verify that manipulationhandler can be added programmatically, and different fields set.
- verify that bounding box can be added programmatically, and configured programatically.

[2019-05-16 04:58] julenka commented on #3950
This will be fixed by #4391

[2019-05-16 05:12] julenka opened #4397 "Box collider should not be required on BoundingBox script"
BoxCollider is "required" by the BoundingBox script, but it isn't strictly needed since it can reference another object.

To reproduce, add a bounding box which references a different box collider not on the game object. I expect that I can do this, but actually because the component requires box collider component, I cannot do this without also adding a dummy box collider component.

[2019-05-16 05:13] julenka commented on #4397
@johnppella is this something you can take a look at?

[2019-05-16 05:35] julenka commented on #4376
@killerantz it sounds like you're suggesting that this is by design, is that correct?

[2019-05-16 05:35] julenka commented on #4370
This has been fixed for buttons, closing.

[2019-05-16 05:35] #4370 closed

[2019-05-16 06:31] julenka commented on #4397
Looks like the component is no longer required.

[2019-05-16 06:43] julenka commented on #4397
Correction, it looks like you cannot add bounding box in editor without a collider -- you will get an error when adding the component.

[2019-05-16 07:14] julenka commented on #3950
I've started on this in branch https://github.com/julenka/MixedRealityToolkit-Unity/tree/bbox

Test files:
[BoundingBoxTest.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files/3185734/BoundingBoxTest.zip)

[2019-05-16 08:48] gilbdev commented on #4381
other repro:
- play
- edit some code, unity will auto recompile code and try to keep it played ("edit and continue")
=> mrtk is initialized again (you can see diagnostic twice)

[2019-05-16 09:03] djee-ms commented on #4394
I agree, this is a very simple yet valuable thing to have. I would like to understand the rationale of hiding those things in the first place. Creating some `GameObject` at runtime already makes it more difficult to reason about the `BoundingBox`; hiding those in addition increases the burden.

[2019-05-16 09:32] luis-valverde-ms opened #4399 "ManipulationHandler ignores pointer rotation when moving with one hand"
## Describe the bug

To match Shell behavior, ManipulationHandler should take into account the pointer rotation when moving objects. Right now only the translation is used.

## To reproduce

Steps to reproduce the behavior:

1. Using a WMR controller, grab an object with a ManipulationHandler in the HandInteractionExamples scene.
2. Observe how rotating the controller does not move the grabbed obj

[2019-05-16 10:28] #4366 closed

[2019-05-16 10:28] luis-valverde-ms commented on #4366
Fixed by #4367

[2019-05-16 11:10] luis-valverde-ms commented on #4379
My preferred solution would be to add a QueryScene() method to the pointer interface that would be called by the focus provider if pointer.SceneQueryMethod has a specific value (e.g. SceneQueryType.Custom).

[2019-05-16 12:16] lionrig opened #4400 "Runtime error when build mixed reality project with unity and visual studio"
## Overview
When we have built the solution, a runtime error appears in one eye on a corner.  Is imposible to read and we are tested in debug, release, master... and the error persist. In editor mode on Unity, the error dont appear. The experience is the same but is a little annoying. Any solution ?

## Expected Behavior
No runtime error
## Actual Behavior
Runtime error
## Steps to reproduce
Creat

[2019-05-16 14:38] devedse opened #4401 "v2.0.0 RC1 Refresh doesn't work with HoloLens 1 and loads of other issues"
## Describe the bug

**Quick disclaimer: This post may look a bit ranty but I'm simply struggling with a lot of issues that I'd like to get resolved. So please if someone has an answer to what I'm doing wrong let me know**

I've been struggling with loads of issues the last few days on getting anything deployed to the HoloLens 1 we have.

I first tried version v2.0.0 RC1 Refresh of MRTK and import

[2019-05-16 15:01] julenka commented on #4394
@johnppella wrote the Bounding Box, John could you please comment?

[2019-05-16 15:11] #4368 closed

[2019-05-16 15:13] ei2kpi-ptc opened #4403 "Support 2018.3 Unity Package Manager"
## Describe the problem

Importing MRTK via .unitypackages is always painful since it pulls it straight into the Assets folder.

## Describe the solution you'd like

Unity 2018 supports Unity Packages through the UPM system. 2018.3 does not support repos outside of Unity's own package repo but it does support local packages through the UI.

## Describe alternatives you've considered

I know we are

[2019-05-16 15:30] julenka opened #4405 "Cursor disappears when you bring up articulated hands set to GGVPointer"
## Describe the bug
If you set up articulated hands to use V1 GGV pointer, when you bring up your hands, the cursor will disappear.

Fix is to use the following code in GazePointerVisisbiiltyStateMachine.cs:

[code]

[2019-05-16 15:31] julenka commented on #4405
Setting as this milestone because it's a regression from my PR #4176

[2019-05-16 15:34] killerantz commented on #4376
The eventData.Use() methods were added recently, so the IsGlobal didn't stop the events propagating before, but from a design stand point, there should be one global button at a time consuming events. One scenario could be the Menu button on the controller, I could setup a global Interactable to listen for the menu button and wire up a panel to activate with the OnClick Unity event. Previously I c

[2019-05-16 15:43] Yoyozilla commented on #4245
Added Will and Luis to the thread to discuss

[2019-05-16 15:44] julenka commented on #4394
I will expose this in an upcoming PR

[2019-05-16 15:44] Yoyozilla commented on #4213
urgency soon on Doc.

[2019-05-16 16:16] Samvid95 opened #4406 "Getting started docs don't mention recommended build settings."
I am trying to build a simple scene for Hololens v1 using MRTK v2. After solving a few problems I am facing the deployment issue on the side of Visual Studio. I am getting the error saying, "DEP3321: To deploy this application, your deployment target should be running Windows Universal Runtime version 10.0.18362.0 or higher. You currently are running version 10.0.17763.502. Please update your OS,

[2019-05-16 16:17] cre8ivepark opened #4407 "[MRTK Shell Parity] [Pointer] Tether line visual fit & finish"
Part of #4200 UX Controls Parity with HoloLens 2 Shell
## Describe the bug
Match the shell design: Thickness, line style, color

- Display white sphere on the grab point
- Display dash line to the fingertip

![2019-05-19 16_47_55-ScreenToGif - Editor](https://user-images.githubusercontent.com/13754172/57989882-facc1b80-7a55-11e9-8c79-9c7ec093c256.png)

![2019-05-19 16_53_10-ScreenToGif - Editor](h

[2019-05-16 16:17] radicalad opened #4408 "Loading UX: Indeterminate loader"
## Describe the problem
Looking through our list of UX controls, we currently have no loading state.

## Describe the solution you'd like
We should have a Loader library. Both simple indeterminate loaders as well as loaders that use the scene transition service.

## Additional context
This is a gap from HTK UX.

[2019-05-16 16:17] #3540 closed

[2019-05-16 16:19] cre8ivepark opened #4409 "[MRTK Shell Parity] Teleport parabolic pointer + destination marker visualization & sound effect"
Part of #4200 UX Controls Parity with HoloLens 2 Shell
## Describe the bug
Match the WMR shell design. This is VR item, P2

[2019-05-16 16:21] cre8ivepark opened #4410 "[MRTK Shell Parity] [Button] Fit & finish: proximity light intensity, distance, pulse effect polish, etc..."
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:22] Railboy commented on #4293
This is (mostly) fixed in #4384. Once you select the MixedRealityToolkit instance, they will appear again without having to toggle the checkbox.

[2019-05-16 16:22] cre8ivepark opened #4411 "[MRTK Shell Parity] [Fingertip visualization] Match the final shell design spec. (distance, ring size, alignment behavior)"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:24] cre8ivepark opened #4412 "[MRTK Shell Parity] [Slate] Audio feedback on touch/release is missing"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:24] cre8ivepark opened #4413 "[MRTK Shell Parity] [Slate] Fingertip ring shadow on surface needed"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:25] Cameron-Micka opened #4414 "Visual Profiler Warning in Player Builds"
## Describe the bug

In player builds this warning is reported in the Unity.log: "A shader supporting instancing could not be found for the VisualProfiler, falling back to traditional rendering. This may impact performance."

## To reproduce

Play a scene with the Visual Profiler in use and check the Unity.log

## Expected behavior

The VisualProfiler finds a shader to utilize instanced and improv

[2019-05-16 16:25] cre8ivepark opened #4415 "[MRTK Shell Parity] [Bounding Box] Handles should be scaled up on hand proximity"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:26] cre8ivepark opened #4416 "[MRTK Shell Parity] [Bounding Box] Visual fit & finish: proximity light intensity, distance, handle color, etc."
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:27] Cameron-Micka commented on #4414
Fixed in this PR: https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4388

[2019-05-16 16:28] cre8ivepark opened #4417 "[MRTK Shell Parity] [Cursor] Asset: Replace current MRTK cursor with shell-parity cursor"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:29] cre8ivepark opened #4418 "[MRTK Shell Parity] [Cursor] Asset: Contextual cursor icons"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-16 16:31] luis-valverde-ms opened #4419 "'Select' input action in 'Select' speech command does not match the one in the input actions profile"
## Describe the bug

Using the default profiles, the speech command events raised on response to 'Select' contain a "Toggle Diagnostics" input action even though the speech commands profile show it as "Select". This is caused by the default speech commands profile containing outdated input action information (an example of #4083 ). Fix coming soon.

[2019-05-16 16:32] wiwei commented on #4406
It's possible that the minimum platform version you have in your build settings within Unity were set to 18362 instead of 17763:

![image](https://user-images.githubusercontent.com/5840182/57871047-562fac80-77bd-11e9-859f-bc86c45911dc.png)

Usually we'll have the lowest possible selected (so that it's possible to deploy the app to almost anything)

Looking through our getting started guide, we don

[2019-05-16 16:41] andreiborodin opened #4420 "[MRTK] Cloning items and saving prefabs periodically causes file lock errors to pop up in Unity."
## Overview
When cloning items, or saving prefabs, periodically an error stating "Saving from <TempPath>\RandomUnrelated.pfb to <LibraryPath>\RandomUnrelated.pfb failed". This is more easily reproable when cloning profiles based on the default profile (though I also suspect that this is enabled even further by having a project where a lot of editor script modifying files are running). It seems to

[2019-05-16 16:42] wiwei commented on #4420
Reference 21413012

[2019-05-16 16:44] andreiborodin commented on #4420
My repro:
I was waiting on editor to finish compiling so that I could immediately kick off a UWP compile, and that is when it repro'ed for me, after the UWP compiled.

[2019-05-16 16:50] julenka commented on #4394
I've got a PR that will address this.

[2019-05-16 16:51] wiwei commented on #4401
Thanks for the taking the time to write up everything (the pictures are super helpful). There's a number of things to talk about, so let's start from the top.

1) The assembly rewriter errors that you're seeing there are benign and are a Unity bug: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/3939

2) Some of the older docs + a few months ago you needed to get the insider SDK, but

[2019-05-16 16:51] wiwei commented on #4401
If others on the team have been using the flow mentioned above, please chime in here

[2019-05-16 16:55] wiwei commented on #4400
A couple of things here:

1) Can you try to see if you still have this issue on RC1 refresh (release or master, debug actually has an issue with some InteractionManager code).
2) Can you provide more details on what this runtime error is (i.e. can you tether the device to a debugger and look at the output, or otherwise do some logging to file to capture what it is)?

Please reopen this with more d

[2019-05-16 16:55] #4400 closed

[2019-05-16 16:58] wiwei commented on #4395
@julenka, can you comment on the intent here?

[2019-05-16 16:59] wiwei commented on #4393
@julenka @cre8ivepark what's the intent here? Was this ever designed to be supported, or should we have a more formal system by which there can only be a single component of type "manipulator" or something

[2019-05-16 17:05] julenka commented on #4393
Yes, bounding box and manipulation handler should work together -- design is for you to be able to manipulate by grabbing the box itself (manipulationhandler), or by using affordances on corners/edges (boundingbox)

[2019-05-16 17:09] wiwei commented on #4392
Closing this out, as the fix was checked in.

[2019-05-16 17:09] #4392 closed

[2019-05-16 17:25] cre8ivepark commented on #4418
WIP - Assets & prefabs will be added.

[2019-05-16 17:26] cre8ivepark commented on #4417
WIP - New Assets and Prefabs will be added.

[2019-05-16 17:28] julenka commented on #4377
Yes I think this regressed a while back actually.

[2019-05-16 17:31] julenka commented on #4395
This is actually by design, it's a duplicate of #2021. You can get the desired behavior (rotate only, no movement) by setting Manipulation Type to "Two Handed Only" and then setting "Two Handed Manipulation Type" to "Rotate Scale".

[2019-05-16 17:31] #4395 closed

[2019-05-16 17:31] julenka commented on #4395
This is good feedback though that the configuration is not obvious. Can somebody propose a better design?

[2019-05-16 17:32] cre8ivepark commented on #4411
@Cameron-Micka Could you please take a look at the latest shell and tweak the values to match?

[2019-05-16 17:35] cre8ivepark commented on #4409
This is for VR. Lars already created shell style teleportation target and ray. We just need to update to shell's asset and add proper audio feedback. **P2 item for now.**

[2019-05-16 17:37] julenka opened #4422 "Playmode tests fail if you run edit mode tests first"
## Describe the bug

If you run edit mode tests before PlayMode tests, all the PlayMode tests will fail. The workaround is to kill unity, and then run the PlayMode tests first.

## To reproduce

1. Open Test Runner Window (Window->General->Test Runner)
2. Run all edit mode tests in the edit mode tests tab
3. Run the play mode test sin the play mode tests teab

The play mode tests should pass, but

[2019-05-16 17:37] Cameron-Micka commented on #4411
Certainly! I might be low on time until late June. But, I would love to "fix" this.

[2019-05-16 17:58] Samvid95 commented on #4406
Hahaha. Yess it was the minimum platform version that was confusing me. Thank you.

[2019-05-16 18:11] chrisfromwork opened #4425 "Saving Unity AssetDatabase automatically adds MRTK Playspace to scene"
For whatever reason, saving the asset database in the unity editor automatically adds the mrtk playspace to a scene. This makes for a bad development experience for scenes that don't use the mrtk.

[2019-05-16 18:20] killerantz commented on #4369
I'll try to take a look today and report back if there's anything we need to update globally or just a bug in Interactable inspectors.

[2019-05-16 18:31] davidkline-ms opened #4426 "Assert failing in MixedRealityToolkitInspector.CreateMixedRealityToolkitGameObject()"
## Describe the bug
The following assert is getting hit, presumably, due to the initialization changes brought in as part of #4382 or #4035.

[code]

This appears to be a benign assert.

## To reproduce

1. Create a new scene
2. Mixed Reality Toolkit > Add to Scene and Configure

## Expected behavior

Free of asserts :)

## Screenshots

If applicable, add screenshots to help explain your problem.

[2019-05-16 19:46] killerantz commented on #4258
I like the PhysicalPressEventRouter because it shows a good pattern of setting state and pushing events through Interactable. I also agree that it is another component to add when there are others that sound like that functionality would already exist, like the PressableButton or the NearInteractionTouchable.

I want to consider the different paths one might build a button. we could start with Pre

[2019-05-16 20:08] wiwei commented on #4319
If anyone else is able to repro this, please let me know what steps you've undertaken to hit this. I've tried the steps a number of times without hitting this.

For folks who are hitting, if you can unpack the exception (i.e. attach VS to Unity) (i.e. dump the exception) that would be really helpful - I can put in a patch here to lessen the impact.

[2019-05-16 20:43] sostel opened #4431 "Eye targeting not working with near hand pointers enabled anymore"
# Describe the bug

Hand focus breaks BaseEyeFocusHandler in Unity Editor (did not test on device).

**Edit**: I noticed that after I remove all of the "Articulated Hand" pointers, namely PokePointer and GrabPointer, the expected behavior would work again: Look at a target and use airtap to select it. I had already removed the DefaultPointer (causing the hand ray to show up) a while ago, because i

[2019-05-16 20:47] wiwei commented on #4319
Okay doing some searches, I can see that this type of exception isn't common, but also isn't uncommon - especially given how we're enumerating possibly controller types by enumerating every single visible assembly, it probably makes sense to handle failures in one-off assemblies (especially if the assembly is a non-MRTK one that has nothing to do with controllers)

[2019-05-16 20:53] djohnsomsft opened #4434 "Bounding box scaling varies based on whether the box is directly on the target/collider or parented to it"
The scaling of the bounding box is inconsistent depending on whether it is applied directly to the target or to a parent of the target. While the scaling starts out the same, if the bounding box is on the target, the handles will shrink to be unusably small.

This example shows a set of two of the same model:
The left one has no target and the overridden BoxCollider on the same object as the Bound

[2019-05-16 20:54] cre8ivepark opened #4436 "Add min/max scaling value field to the ManipulationHandler"
## Describe the problem
Currently, Bounding Box has min/max scaling values that developers can set. However, ManipulationHandler does not have these limits and the user can scale up/down without constraints. ManipulationHandler is frequently used together with the BoundingBox on the same object.

For the content developer, there is no way to limit the scaling min/max for the two-handed manipulatio

[2019-05-16 21:02] #4381 closed

[2019-05-16 21:36] killerantz commented on #4258
I actually started moving some of that functionality to Interactable with PR #4357 , but that means some of the functionality is duplicated with pressableButton. The easiest thing would be to create a public method for click on Interactable and you can call it from the event of your choice on PressableButton. There are a couple public methods already, SendOnClick(IMixedRealityPointer) or OnPointer

[2019-05-16 22:39] devedse commented on #4401
Thanks for the quick response, but what exactly do you mean by this? Are you talking about the version of MRTK or of Windows?

Also, what suggestion would you suggest for "Production" for HoloLens 1 development?
Would that be HoloToolkit, MRTK Renew or the old MRTK? (If possible, could you specify the exact version number)

[2019-05-16 23:33] wiwei opened #4440 "MRTK assemblies are built against the "split" Unity assemblies"
Ported to Github, reference 21543183

MRTK assemblies are built against the split Unity assemblies, such as UnityEngine.CoreModule.dll. I believe these are only supposed to be used at runtime so that Unity can load smaller assemblies. At compile time, it seems that the intention is that you reference the top level UnityEngine.dll. The following pages suggest this is the case:

https://docs.unity3d

[2019-05-17 01:25] ritijain opened #4444 "Solver documentation is sparse"
## Describe the Issue
Solver model is too convoluted for ease of understanding, and the documentation doesn't help.

## Feature Area
It is hard to leverage the Solver script, and its implementations.
1. Some of the solvers exhibit too many settings. The tooltips on those are not very helpful and can be more descriptive.
2. It would be great if the Solver implementations that come with MRTK have se

[2019-05-17 07:12] lionrig opened #4445 "Runtime error when build mixed reality project with unity and visual studio (LOG FILE ATTACHED )"
Overview

When we have built the solution, a runtime error appears in one eye on a corner. Is imposible to read and we are tested in debug, release, master... and the error persist. In editor mode on Unity, the error dont appear. The experience is the same but is a little annoying. Any solution ?

Expected Behavior

No runtime error

Actual Behavior

Runtime error

Steps to reproduce

Create proje

[2019-05-17 08:01] davidraguilar opened #4447 "Tooltips rendering grey plane in scene"
## Describe the bug

When using any of the ToolTip prefabs, a grey plane is displayed in the scene rendering the tooltips useless. It works fine when playing the scene in the editor, but broken when testing on device. This happens when using tooltips in a custom scene as well as when testing the TooltipExamples demo scene in the MRTK examples.

## To reproduce

Steps to reproduce the behavior:

1.

[2019-05-17 08:09] IsaacSurfraz commented on #2722
is this actually going to be in the release version? I know UNET is unsupported but mirror https://github.com/vis2k/Mirror is a 1:1 working implementation of UNET that is supported, allows in place updates from UNET to mirror within 5 mins and allows users **who have already created architecture using the sharing with unet example to continue functioning**. It worries me that the sharing with unet

[2019-05-17 15:18] provencher opened #4448 "Articulated hand pose loading is broken is broken in editor if MRTK not in Assets root"
## Describe the bug

ArticulatedHandPose.cs is expects the hand poses to be stored in "Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/"

That said, I stored the MRTK in a sub folder so as to not clutter my project with all the MRTK folders at the root. Because of this, the articulated hands fail to load.

Moreover, `private static ArticulatedHandPose LoadGesturePose(Gestu

[2019-05-17 15:37] julenka commented on #4376
Resolving as by design for now.

[2019-05-17 15:37] #4376 closed

[2019-05-17 16:01] provencher opened #4449 "Clean up MRTK inspector dependencies"
## Describe the bug

Prior to merging the new UI, it was possible to edit MRTK profiles without an MRTK instance in the scene.

This is no longer the case since https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4314 was merged yesterday
![image](https://user-images.githubusercontent.com/7420990/57940844-5a31fc00-789b-11e9-91c5-16c9c25ba526.png)

## To reproduce

Try to edit and MRTK prof

[2019-05-17 16:05] Railboy opened #4450 "MRTK doesn't deterministically select a MainCamera / EventSystem."
## Describe the bug

When multiple scenes with MixedRealityToolkit instances and MainCameras are loaded, warnings  and errors are issued about event systems. At runtime, selection of a MainCamera is non-deterministic.

## To reproduce

- Create and save two scenes containing a MixedRealityToolkit instance, MixedRealityPlayspace and MainCamera.
- Open both scenes in editor simultaneously.
- Switch

[2019-05-17 16:13] julenka commented on #4183
Hi @dl4mmers I thought about this a bit more and actually was wondering if maybe you are looking for a quick, in-code way to add a component that handles clicks from pointers out of the box. Is this correct? In that case, Interactable may not actually be the tool that you want to use, since it is fairly complex and intended mostly to be something that can drive visual states based on pointers. The

[2019-05-17 16:31] wiwei commented on #4448
We should fix this soon, because we know that lots of customers import MRTK into the non-root folder

[2019-05-17 16:40] cre8ivepark opened #4451 "Teleportation for the HoloLens experience"
## Describe the problem
In HoloLens experience, there are situations that require movement inside a large object. (e.g. immersive view of architecture model). Moving camera is not recommended which can cause motion sickness. Need a way to support MRTK's existing teleportation(point destination and commit, fade transition) in the HoloLens apps too.

## Describe the solution you'd like
We could use

[2019-05-17 16:41] Railboy opened #4452 "Configuration profile inspector doesn't constrain profile types for camera and diagnostics systems."
## Describe the bug

When selecting profiles for the camera system and diagnostics system the object picker doesn't constrain available profile types.

## To reproduce

- Select a MixedRealityToolkit instance
- Try to select a CameraSystem profile
- Observe that all scriptable objects are available

## Expected behavior

Profiles should be constrained to service type.

## Your Setup

- MRTK Versio

[2019-05-17 16:47] Troy-Ferrell commented on #4449
Also need to revert other edge cases to allow editing (i.e no inputsystem enabled, etc)

[2019-05-17 16:54] davidkline-ms opened #4453 "[Proposal] Reduce the number of core assemblies"
## Describe the problem
We have received customer feedback that the number of MRTK core assemblies is overwhelming (in VS, etc). They have requested that we combine them into a single core assembly and a single core-editor assembly.

This _may_ also have the desired effect of reducing the number of instances of Unity reporting a failed dll copy on project (re)load.

## Describe the solution you'd

[2019-05-17 17:02] provencher commented on #4453
I think Examples should be in a separate assembly, but all be grouped together.

Specific supported platforms should also be their own assemblies, so that when the package manager solution goes live, you can only bring in the examples you want.

[2019-05-17 17:03] provencher commented on #4453
Personally, the way that @StephenHodgson setup the XRTK makes the most sense to me.
https://github.com/XRTK

[2019-05-17 17:03] davidkline-ms commented on #4453
@provencher, there are currently no plans to bundle the services or platforms. Examples are something that needs to be further thought out

[2019-05-17 17:04] Troy-Ferrell commented on #4449
To summarize discussion extended in the PR referenced above, the MRTK inspectors need to be updated to only block rendering/editing when that particular profile requires an MRTK instance in scene. Or conversely to allow a design such that ALL profile inspectors do not require a MRTK instance at all.

Before the PR, some profiles were blocked under certain conditions or although would render, they

[2019-05-17 17:05] Railboy commented on #4449
Some rules of thumb I think we should consider when reworking these profiles:

- First ask ourselves why this profile needs an instance to display its data and whether we can avoid this requirement altogether.
- When an instance really is required for a profile to function, don't just exit early if no instance is found. Display as much of the data as possible.
- Replace sections that can't be disp

[2019-05-17 17:05] Railboy commented on #4449
@Troy-Ferrell Classic cross-posting, haha. Clearly we're on the same page.

[2019-05-17 17:31] Troy-Ferrell commented on #4449
Indeed, also point to mention for record, when the inspectors require a MRTK instance in scene to function properly, the instance many times MUST be it's own. Example: When editing the speech commands profile, this looks at what input action mappings are available....but it needs to look at the input actions for the instance in which it is the assigned speech profile.

[2019-05-17 17:44] Railboy opened #4454 "Feature Request: Assign services an auto-incremented ID so they're easier to track"
## Describe the problem

It can be hard to tell which instance of a service you're dealing with when debugging.

## Describe the solution you'd like

An auto-incremented ID would make it easier to verify / track the identity of a service instance.

Since this ID would only be used for diagnostics we could add the property to `BaseCoreSystem` or even `BaseService` instead of `IMixedRealityService`

[2019-05-17 19:19] julenka opened #4456 "Add an example of how to instantiate Interactable at runtime"
Filed in response to #4433.

In that PR, I updated the change to no longer use Resources folder. I think it would be useful in future to provide an example of how to instantiate Interactable at runtime, since even though the null ref is fixed, the resulting interactable is not very useful.

The task is to create an example of the following:

- Create a game object at runtime
- Add Interactable com

[2019-05-17 19:25] wiwei commented on #4261
Should be good now, please reopen if folks still hit this with the latest mrtk_dev

[2019-05-17 19:25] #4261 closed

[2019-05-17 19:26] keveleigh commented on #4331
Fixed by #4356.

[2019-05-17 19:26] #4331 closed

[2019-05-17 19:33] Railboy commented on #4453
I like the simplicity but this might be case where devs don't realize what they'd be giving up.

Assemblies keep editor compile times down when editing scripts in large projects. Maybe we can measure the impact? I recall it being pretty miserable before they were introduced.

They're also free best-practice enforcement. They make it impossible to write the kind of spaghetti that made the HTK hard

[2019-05-17 19:45] provencher commented on #4453
I remember speaking to @andreiborodin about how all these assemblies would eventually simply be imported via nuget or some other package management system.

For people actively changing the MRTK, as @Railboy points out, keeping these separate assemblies improves editing performance.

For folks simply consuming the MRTK, who are the ones largely making this complaint, package delivery would solve t

[2019-05-17 19:46] Troy-Ferrell commented on #4449
Also the back button when on a sub-profile inspector turns out has always been broken. It returns back to the ACTIVE parent which is not necessarily that profile's parent. For example you could create a speech profile but not assign it to any input profile

[2019-05-17 20:08] wiwei commented on #4300
Looks like @lukastoenneMS fixed this quite a while back

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4054

Closing this one out.

[2019-05-17 20:08] #4300 closed

[2019-05-17 20:33] #4335 closed

[2019-05-17 21:01] wiwei commented on #4167
I've got a fix for this.

[2019-05-17 21:05] wiwei commented on #4167
A couple of notes for future folks, especially people who don't know that much about unity physics debugging guides.

Note that the screenshot above was taken in play mode with the physics analysis tools enabled - that is, you'll want to:

1) Go to Window->Analysis->Physics Debugger
2) Check this box

![image](https://user-images.githubusercontent.com/5840182/57956092-a76a9980-78ac-11e9-84e8-76a7e

[2019-05-17 21:08] Railboy commented on #4425
@chrisfromwork Is this in the dev branch or in an RC branch?

[2019-05-17 21:15] wiwei commented on #3518
Closing this out, I think that this question has been answered.

[2019-05-17 21:15] #3518 closed

[2019-05-17 21:38] wiwei commented on #4034
I'm working on adding a default HL2 profile, which will have hand mesh turned off by default.

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4351

I think that this plus this:

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/4213

Means that I think that we'll have good coverage on this (i.e. this issue is a duplicate/will be handled by the other stuff)

[2019-05-17 21:38] #4034 closed

[2019-05-17 21:53] #4347 closed

[2019-05-17 22:41] chrisfromwork commented on #4425
After merging a recent mrtk_development into feature/spectatorView this started happening for non mrtk configured scenes. I can track down the commit as needed.

[2019-05-17 23:10] #3927 closed

[2019-05-17 23:10] #4137 closed

[2019-05-17 23:10] #4231 closed

[2019-05-17 23:11] #4272 closed

[2019-05-17 23:11] #4298 closed

[2019-05-17 23:11] #4307 closed

[2019-05-17 23:11] #4313 closed

[2019-05-18 00:02] #3878 closed

[2019-05-18 01:28] julenka opened #4469 "Xbox Controller ManipulationHandler Using Bumpers should move object forward / backward"
In the Mixed Reality Shell, using a gamepad controller has the following behavior:

- Joystick moves the object up/down/left/right in camera space
- Bumpers move the object forward/back
- Object can be rotated using secondary bumpers

After #4398 the gamepad will move the object up/down/left/right in camera space, but will not move it forward/backward or rotate the object in camera space.

We shou

[2019-05-18 06:43] davidkline-ms commented on #4454
Interesting thought. How do you suggest ensuring a consistent auto-incrementing value in scenarios where there is not a single registrar?

[2019-05-18 06:47] davidkline-ms commented on #4449
@Railboy, can you give an example of a profile that _needs_ an MixedRealityToolkit instance to render? We should strive to eliminate that need since systems should be fully usable without this instance (once #3545 is complete -- which it very nearly is)

[2019-05-18 12:45] Troy-Ferrell commented on #4449
@davidkline-ms , I believe it is the same single dependency everywhere atm. Certain profiles rely on the available input action mappings (action Ids & labels) and right now this can only be attained via the current MRTK instance. Look at the speech profile inspector for an example.

Of course, this is actually a bit troublematic still since a speech profile could technically be referenced by multi

[2019-05-18 17:32] Railboy commented on #4454
@davidkline-ms Huh good question. I'll have to think about it.

[2019-05-18 18:46] JShull opened #4470 "Vive Pro Defaults OpenVr Generic Device causing one hand operation errors due to missing Spatial Grip Input Action"
## Describe the bug
When using the default MRTK profile provided with Vive Pro hardware you cannot use one hand interactions with the controllers.

## To reproduce
**This happens when using Vive Pro hardware**
Steps to reproduce the behavior:
1.) SteamVR added to the Project
2.) Make sure you have all of the other XR settings on as suggested by the generic toolkit setup.
3.) Run the HandInteractio

[2019-05-19 23:38] cre8ivepark opened #4471 "[MRTK Shell Parity] [Cursor] Replace current MRTK cursor with shell-parity cursor"
Part of #4200 UX Controls Parity with HoloLens 2 Shell
Logic or AnimationController has to be updated to assign new cursor assets.

[2019-05-19 23:44] cre8ivepark commented on #4332
Image updated based on the latest shell design. (Alex Gough)

[2019-05-19 23:55] cre8ivepark opened #4472 "[MRTK Shell Parity] [AppBar] Add carry mode button"
Part of #4200 UX Controls Parity with HoloLens 2 Shell

[2019-05-19 23:56] cre8ivepark commented on #4472
duplicated

[2019-05-20 14:27] jbienzms commented on #4194
Thanks for the work @wiwei. However, just adding help text isn't sufficient. We're in Berlin right now and partners are already struggling with this. In fact, one user created a PowerShell script that he could use as part of his automated build just to make sure this capability gets set. I don't feel that help text is enough. We either need to do something to modify the manifest or we need to push

[2019-05-20 15:06] luis-valverde-ms commented on #4419
Resolved via #4421

[2019-05-20 15:06] #4419 closed

[2019-05-20 15:07] luis-valverde-ms commented on #4361
Resolved via #4362

[2019-05-20 15:07] #4361 closed

[2019-05-20 16:31] wiwei commented on #4453
I think that it would be important here to understand what we're giving up (as @Railboy mentions) - it seems like to understand the impact of the change here we should do the due diligence of doing some basic benchmarks, so that we can understand the tradeoff of:

Pros:
Simpler binary story
Better navigate-ability in VS

Cons:
X% slower?

If on average we're losing single digit times or low double

[2019-05-20 16:34] luis-valverde-ms opened #4477 "Handler for gesture events with data receives events with no data"
## Describe the bug

`IMixedRealityGestureHandler<T>` derives from `IMixedRealityGestureHandler` causing it to receive events (calls to the base interface methods) for gesture events with no data. We should do the same we do for the `IMixedRealityInputHandler` interface and keep the two versions separate.

## To reproduce

Steps to reproduce the behavior:

1. Add a cube with a `GestureTester` scri

[2019-05-20 17:37] genereddick commented on #4445
This looks like the same issue as in #3971.

[2019-05-20 17:41] Railboy opened #4479 "ScriptableObject serialization error reported in player"
## Describe the bug

Dev console in player reports ScriptableObject serialization error.

## To reproduce

- Build MRTK project with the Development Build option checked.
- Run built app.
- Observe error in dev console.

## Screenshots

![SerializationError](https://user-images.githubusercontent.com/9789716/58040627-c35b7e80-7aea-11e9-9a66-583e861c728d.PNG)

This looks like an incorrect diagnosis

[2019-05-20 17:54] Ecnassianer commented on #4453
To @wiwei 's point, I bet that there's some subset of asmdefs that make very little difference in compile times, even if we see huge gains from others. For instance, is splitting Inspectors from Service Inspectors really giving us a huge benefit? We could likely reduce the total number of asmdefs without going back to not using them at all.

[2019-05-20 18:11] wiwei commented on #4477
@luis-valverde-ms would this involve a breaking change in order to fix this?

[2019-05-20 18:47] genereddick commented on #4479
Also #3971 if you want to consolidate

[2019-05-20 19:34] Railboy commented on #4454
@davidkline-ms On reflection I don't think the registrar should assign the ID. I think the base core system should handle this in its constructor. That would reinforce the notion that this is not considered a dependable system-wide ID. What do you think?

[2019-05-20 19:46] SimonDarksideJ commented on #4454
I take it this is an artifact of the multiple instances change.  In the single instance, service ID isn't an issue as the majority of services are singular and accessed from the registry via its interface.

For the multi-service registry, it's up to the developer to manage them how they see fit.

[2019-05-20 19:49] #4268 closed

[2019-05-20 19:53] #4287 closed

[2019-05-20 19:53] #4319 closed

[2019-05-20 19:54] keveleigh commented on #4414
Fixed via #4388

[2019-05-20 19:54] #4414 closed

[2019-05-20 20:18] Railboy commented on #4454
@SimonDarksideJ No, multiple instances don't change registration behavior. Each instance just acts as a 'terminal' for interacting with a shared set of services.

This has more to do with services being rapidly torn down and recreated before scripts have a chance to react. Example:

- Service 1 initialized in state X
- Script A subscribes to a Service 1 event that fires when service enters state Y