[2021-07-27 00:09] #9825 closed

[2021-07-27 00:19] MaxWang-MS commented on #9773
Hi, it seems that the issue you are encountering is external to MRTK. As @keveleigh mentioned, please submit a feature request to the appropriate team through [feedback hub on your HoloLens device](https://docs.microsoft.com/hololens/hololens-feedback).

[2021-07-27 00:19] #9773 closed

[2021-07-27 00:25] MaxWang-MS commented on #9884
Please reopen if you are still encountering this issue.

[2021-07-27 00:25] #9884 closed

[2021-07-27 00:27] MaxWang-MS commented on #9878
@keveleigh Could you please provide an update here?

[2021-07-27 00:28] MaxWang-MS commented on #9871
@davidkline-ms Do you feel like we should close this one as I believe you have fixed several issues causing a crash?

[2021-07-27 00:34] MaxWang-MS commented on #9761
Please reopen the issue if you are still encountering it. Also the hand tracking issue mentioned above has been fixed.

[2021-07-27 00:34] #9761 closed

[2021-07-27 00:37] MaxWang-MS commented on #9745
Hi @yl-msft could you let us know if there's any update?

[2021-07-27 00:56] MaxWang-MS commented on #9715
The Mixed Reality OpenXR package has graduated from the preview state and the latest release as of now is 1.0.1. Could you retry with that version (along with MRTK 2.7.2) and let us know if the issue still appears? If so sending us a repro project will be helpful for us to investigate. Thanks!

[2021-07-27 01:05] MaxWang-MS commented on #9542
Please reopen the issue if you are still encountering it.

[2021-07-27 01:05] #9542 closed

[2021-07-27 01:09] MaxWang-MS commented on #10057
Is this the same as #9505?

[2021-07-27 01:11] MaxWang-MS commented on #9500
Please reopen the issue if you are still encountering it.

[2021-07-27 01:11] #9500 closed

[2021-07-27 01:21] MaxWang-MS commented on #9468
The Mixed Reality OpenXR plugin has been graduated from the preview state and as of now the latest version is 1.0.1. It is expected to be better than or on par with the XRSDK/Windows XR plugin in every aspect. As such, we recommend you to use OpenXR. Please remember to get the latest MRTK release (as of now 2.7.2) for the best experience.

[2021-07-27 01:21] #9468 closed

[2021-07-27 01:30] MaxWang-MS commented on #9429
Please reopen the issue if you are still encountering it.

[2021-07-27 01:30] #9429 closed

[2021-07-27 01:32] MaxWang-MS commented on #9405
The issue has been fixed.

[2021-07-27 01:32] #9405 closed

[2021-07-27 01:39] MaxWang-MS commented on #9345
Hi @CDiaz-MS this sounds like what you having been working on!

[2021-07-27 01:42] #9277 closed

[2021-07-27 01:43] MaxWang-MS commented on #9272
Hi @Sean-Kerawala could you take a look at the issue since it seems to be external to MRTK?

[2021-07-27 01:47] MaxWang-MS commented on #9145
Please reopen the issue if you are still encountering it.

[2021-07-27 01:47] #9145 closed

[2021-07-27 01:55] MaxWang-MS commented on #9104
Please reopen the issue if you are still encountering it.

[2021-07-27 01:55] #9104 closed

[2021-07-27 02:04] MaxWang-MS commented on #9025
Could you elaborate on why detecting platform/capability does not sound right? We do have built in utilities to detect device capabilities as mentioned [here](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/supported-devices/detecting-platform-capabilities) and [here](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/camera-in-unity).

[2021-07-27 14:22] danzeeeman commented on #10114
I did the tutorial a couple times with the same result each time..  Here is the screen shot of the Packages in Project.
![image](https://user-images.githubusercontent.com/719564/127170484-f1e01a8c-126e-4225-bb7e-6f577492940a.png)

below is my manifest that was auto generated by the Mixed Reality Feature Tool

I did not attempt to use the URP.

`{
  "dependencies": {
    "com.microsoft.azure.object

[2021-07-27 14:38] AdCCooN commented on #8377
On MRTK 2.6.1 and Unity 2020.3.6f1 the menu works but error persists and seems that it is causing also a pretty major FPS drop...

[2021-07-27 17:34] RogPodge commented on #10057
Yeah it's the same issue, this time with a PR attached :)

[2021-07-27 18:08] MaxWang-MS commented on #10057
OK, please remember to close the other issue as well when the PR is merged.

[2021-07-27 18:11] keveleigh commented on #9878
There should be some updates to XR Management and Windows XR Plugin releasing soon with the fixes for this! Will update when they're public.

[2021-07-27 18:15] keveleigh commented on #9878
Actually! This may have been a WinXR 2.7.0-only issue. Can you try updating to Windows XR Plugin 2.8.0?

[2021-07-27 19:41] keveleigh commented on #9623
We identified this as an issue in Windows XR Plugin. A fix has been merged and is pending Unity's next package release. I'll update this thread when it goes live!

[2021-07-27 20:09] sBailey5449 commented on #10099
Turns out this problem was resolved once I upgraded to a more recent version of windows

[2021-07-27 20:39] #10099 closed

[2021-07-28 09:11] AdCCooN opened #10117 "HandMenu causes warning display and app glitches"
## Describe the bug

I know that there was an old issue of the HandMenu not working in the old MRTK versions. In my current setup (details below) the hand menu is working but I still get the warnings "HandConstraintPalmUp requires a palm joint, but none was provided by ArticulatedHand Controller Left.", "HandConstraintPalmUp requires a palm joint, but none was provided by ArticulatedHand Controlle

[2021-07-28 12:49] Spoon2311 opened #10118 "Deactivate Native Voice commands in App"
## Describe the problem

We developed our own video recording system when clicking a Button.
Nevertheless when saying "Start recording" the native recording function will start and interrupt our recording.

## Describe the solution you'd like

It would be great if we could disable the this functionality when entering our app, but still be able to use it outside our app.

## Describe alternatives y

[2021-07-28 19:46] polar-kev commented on #10106
Hey @Walkramis, can you submit a PR with your code changes so we can run some tests on it and see if anything breaks?

[2021-07-28 19:48] polar-kev commented on #10118
Hey @Spoon2311, @davidkline-ms is going to track down if this is even possible. We believe there are certain voice commands that are restricted as they are part of the OS.

[2021-07-28 19:51] RogPodge commented on #10073
Closing as resolved. If you're still seeing this issue please feel free to repoen.

[2021-07-28 19:51] #10073 closed

[2021-07-28 19:56] Zee2 commented on #10097
Hi, thanks for reporting this issue.

Does this issue still occur when your `ObjectManipulator` is _not_ inside a Canvas? We'd like to figure out if this behavior is unique to your situation where the `ObjectManipulator` is nested inside of a canvas, vs a more general issue with our event system.

Also, is it possible in your use case to avoid nesting the `ObjectManipulator` inside the canvas? We

[2021-07-28 19:57] polar-kev commented on #10108
Thanks for reporting this. Can you let us know which Unity/MRTK version you experienced this on?

[2021-07-28 19:59] polar-kev commented on #10109
Hey @ADP-JoNeff, which version of Unity/MRTK was this on?

[2021-07-28 22:28] keveleigh commented on #10114
Did you see any errors in the console when you imported all the packages?
Also, do you have an MRTK folder in your Assets? The MRTK Standard Assets _should_ import some shaders, including what looks to be the one you're missing in your screenshot.

To try to get those shaders to import, can you try selecting this menu item?

![image](https://user-images.githubusercontent.com/3580640/127404354-c63f

[2021-07-28 23:02] #10004 closed, assigned to RogPodge

[2021-07-29 05:05] nomi27951 commented on #7100
@kapitanmliko The solution we found was to get GameObject.FindObjectsOfType<TeleportPointer>(); and then disable it.

[2021-07-29 05:38] hermann-noll commented on #10097
Yes in my tests the `ObjectManipulator` reacted to the poke pointer only when nested inside a canvas; in the same scene with equal configuration but without a parent canvas the `ObjectManipulator` reacted correctly.

As far as I see there is no *technical reason* the `ObjectManipulator` could be moved outside of the canvas. However this would require major restructuring on our side (thanks to Unit

[2021-07-29 17:10] m-the-hoff opened #10120 "Hover tooltip for MRTK system profiles"
## Describe the problem

Without referring to online documentation, it's hard to know exactly what each system encompasses. For example, what is the separation in roles between Boundary and Spatial Awareness?

## Describe the solution you'd like

I recommend a hover tooltip for each system button that describes the system and a short list of what functionality it provides.

## Additional context

[2021-07-29 18:27] Zee2 commented on #10097
@RogPodge Is this something you might want to take a look at? You came to mind w.r.t. your work on multiple pointers/pointer architecture, but if it's not a good fit let me know.

[2021-07-29 18:54] RogPodge commented on #10097
I can keep this in mind as we start updating our interactables infrastructure, though I'm not sure there's anything specifically pointer related going on here. Maybe it has something to do with the Physics layers?

[2021-07-29 20:06] Zee2 opened #10121 "[v3 + XRI] Port PressableButton to XRI"
This issue tracks the porting of PressableButton to XRI. (Assigning you too, @keveleigh, based on your ideas + input for state + visuals isolation)

- [x] Map 2.x events to interactor/XRI events
- [x] Near interaction feature complete
- [ ] Fix multi-pointer hover issue with XRI isHovered
- [ ] Far interaction/ray support
- [ ] Visual feedback (states, themes, prox lights, etc)

[2021-07-29 20:10] Zee2 opened #10122 "[v3] Spatial meshing support"
This issue tracks the development of a spatial mesh visualization solution for v3.

- [x] Evaluate diff between existing MRTK 2.x spatial meshing system/provider
- [x] Port spatial mesh visualization from2.x system into a scene-only visualizer
- [x] Evaluate connection between spatial mesh visualization and SU
- [x] Migrate from Windows XR plugin-based mesh API to the Unity native API (Blocked on

[2021-07-29 20:21] Zee2 opened #10123 "[v3 + XRI] XRI-compatible pointer mediator system"
This issue tracks the development of an XRI + v3 compatible pointer mediator system. @RogPodge, please add work items here as you see fit.

- [x] Feature parity with 2.x mediator
- [x] Compatibility with "pointers = interactors on child objects" XRI pattern
- [x] Compatibility with multiple input modalities

[2021-07-29 20:25] Zee2 opened #10124 "[v3] Subsystem for interaction pointer aggregation"
This issue tracks the development of a v3 subsystem for the aggregation of multiple sources of truth for hand pose, near interaction cursor locations, and other hand-related input data.

- [x] Subsystem scaffolding
- [x] Querying entire hand skeleton
- [x] Querying near interaction point
- [x] Reusing past same-frame queries to reduce performance overhead
- [x] Querying individual specific joints

[2021-07-30 04:05] Proton-V opened #10126 "Problems with your tests && ShellHandRayPointer"
Hello!
I see that your test for cursor sometimes doesn't work correctly.
`BaseCursorTests.CursorContextMove`
Bug with
`            yield return rightHand.SetGesture(ArticulatedHandPose.GestureId.Pinch);
`

I thought about what it was connected with and found a connection.
Your raycast is not working correctly in some place.

Demonstration of inappropriate behavior:
![Optional Text](https://i.ibb.c

[2021-07-30 07:20] Walkramis commented on #10106
Sure thing!
I have now added a pull request at https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10127
Let me know if you need anything else :)

[2021-07-30 17:52] davidkline-ms opened #10128 "[v3] Diagnostics support"
Implement a new diagnostics "system" approach.

- [x] separate visualization from data layer
- [x] hardware status (battery, etc) system
  - [x] battery level (critical, low, restored) events
- [x] basic visualizers
  - [x] frame rate, etc
  - [x] memory statistics
  - [x] battery level, etc
- [ ] Configuration UI

[2021-07-30 19:22] #10106 closed

[2021-07-31 23:10] ARecentDeveloper opened #10130 "Build Error on Unity 2021.1.15f1 / MRTK 2.7.2.0"
The following errors are thrown while trying to build an app using MRTK for Hololens 2.

 `ArgumentException: The Assembly UnityEditor.CoreModule is referenced by UploaderTool_Editor ('Packages/com.microsoft.altspacevr_uploader/Plugins/UploaderTool_Editor.dll'). But the dll is not allowed to be included or could not be found.
UnityEditor.AssemblyHelper.AddReferencedAssembliesRecurse (System.String

[2021-08-02 08:18] boersig commented on #10103
Hello,

Could you tell me if you plan on implementing something like this in the near future, so that I know wether I should wait for it or build my own ad-hoc solution?

Thank you in advance!

[2021-08-02 15:14] keveleigh commented on #10130
Are you using the AltspaceVR Uploader package? You might be able to uninstall it to work around this issue if not. As far as I can tell from the linked tutorial, the only packages it asks to be installed are `Mixed Reality Toolkit Foundation` and `Mixed Reality OpenXR Plugin`:

[2021-08-02 15:27] keveleigh commented on #10103
You're likely going to want to look into the `PointerBehavior` concept in MRTK. We have some helpers at https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/SDK/Features/UX/Scripts/Utilities/PointerBehaviorControls.cs that might be usable in this case (things like `SetHoloLens1()` turn off hand rays but keep the gaze pointer on). You can

[2021-08-02 18:39] RogPodge commented on #9505
@MikkelVirsabi sorry for the late reply, a PR is out for this feature, it just needs to be reviewed and approved. Expect it in our next MRTK release!

[2021-08-03 08:48] boersig commented on #10103
Perfect, this was exactly what I needed!

Thank you very much✌

[2021-08-03 08:48] #10103 closed

[2021-08-03 14:20] keveleigh commented on #8526
@P3runi4n It's been a while, but I think I've fixed some issues with the XR SDK observer (and Unity 2020 compatibility!) over the last few months. Are you able to update to MRTK 2.7.2 and try again?

[2021-08-03 17:50] #10071 closed

[2021-08-03 17:51] #10057 closed

[2021-08-04 08:12] Ahim13 opened #10134 "BoundsControl rotation issue after Upgrading from BoundingBox"
Hi
We upgraded from the BoundingBox to the BoundsControl to get the fix for the flickering issue, but it brought up a new issue

## Describe the bug
BoundsControl does not rotate around the object's center but the object's pivot. Most of our assets and Gameobjects have their pivot elsewhere because the medical devices are using a different coordinate system. So they are rotating around an invisibl

[2021-08-04 14:22] saed219 opened #10135 "<!-- < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < ☺"
## Summary of Bug

## Version

## Steps to Reproduce

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

__Originally posted by @saed219 in https://github.com/cosmos/cosmos-sdk/issues/9714__

[2021-08-04 14:23] saed219 opened #10136 "**Describe the bug**"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-04 15:15] nickxr opened #10137 "Didn't find information about area restrictions of spatial mapping"
## Describe the issue
I need to scan large spaces and save the entire mesh to an .obj format model.

## Feature area
Everything works fine, but I didn't find any information on area restrictions.

## Existing doc link
https://docs.microsoft.com/en-us/windows/mixed-reality/design/spatial-mapping

## Additional context
I increased the Observation extents, but all I got was to keep the scan no more t

[2021-08-04 16:12] #10136 closed

[2021-08-04 16:12] #10135 closed

[2021-08-04 17:15] atarng-medivis opened #10138 "[Feature Request] Object Manipulator: Movement Constraint within region"
## Overview
Currently there exists ways to constrain the move axis to X-Y-Z axes.

Is there a way to add a constraint for movement to be restricted to within a collider? (Eg. within a box/sphere etc.)

## Mixed Reality Toolkit release version
2.3.0

[2021-08-04 17:15] #10138 closed

[2021-08-04 17:17] atarng-medivis opened #10139 "Constrain Object Manipulation within Collider/Region"
## Overview
Currently there exists ways to constrain the move axis to X-Y-Z axes.

Is there a way to add a constraint for movement to be restricted to within a collider? (Eg. within a box/sphere etc.)

## Mixed Reality Toolkit release version
2.3.0

[2021-08-04 17:20] Zee2 commented on #10134
Thanks; we can take a look into this.

[2021-08-04 17:21] polar-kev commented on #10095
@cre8ivepark can you share your response to this issue here?

[2021-08-04 17:24] davidkline-ms commented on #10137
Thank you @nickxr. I will forward this issue to our documentation repository.

[2021-08-04 17:24] Zee2 commented on #441
Moving forward we will be trying to de-emphasize handler methods; for any we will still need, we will make sure that they are extensible + overridable in the relevant scenarios, in addition to following the current Unity patterns.

[2021-08-04 17:24] #441 closed

[2021-08-04 17:31] davidkline-ms commented on #10137
Closing in favor of the linked documentation issue

[2021-08-04 17:31] #10137 closed

[2021-08-04 17:37] #9505 closed

[2021-08-04 17:37] Zee2 commented on #7599
The comments on #7613 are relevant here; currently, our recommendation is to explore the [Microsoft Mesh](https://www.microsoft.com/en-us/mesh) solutions for multi-party XR experiences.

[2021-08-04 17:37] #7599 closed

[2021-08-04 17:40] Zee2 commented on #7678
Hi @CubicVR; apologies for the delayed response. We'd love to review your code and accept it as a community contribution! Feel free to open a PR with your improvements.

[2021-08-04 17:42] Zee2 commented on #7724
If you're on SteamVR, you can always set the roomscale boundary option at the SteamVR platform level to show floor edges at all time. Otherwise, please see @davidkline-ms 's response for configuring the boundary system.

[2021-08-04 17:42] #7724 closed

[2021-08-04 17:45] Zee2 commented on #7746
XRI may handle this entirely differently; let's make sure that XRI is also doing this in an efficient way.

[2021-08-04 17:49] Zee2 commented on #7772
`BoundsControl` resolves this problem. It supports arbitrary handle sizes, shapes, prefabs, etc.

[2021-08-04 17:49] #7772 closed

[2021-08-04 17:51] Zee2 commented on #7820
#9199 fixed this issue.

[2021-08-04 17:52] #7820 closed

[2021-08-04 17:52] Zee2 commented on #7837
This feature will be included in MRTK v3.

[2021-08-04 17:53] #7837 closed

[2021-08-04 17:55] Zee2 commented on #7806
Apologies for this accessibility issue; unfortunately as mentioned above we are limited by the platform API. Please use Feedback Hub to communicate this to the platform team.

[2021-08-04 17:55] #7806 closed

[2021-08-04 17:57] RogPodge commented on #7837
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/2608#issuecomment-892837732 addressing this specific issue will help get this issue completed as well.

[2021-08-04 17:59] Zee2 commented on #7414
The HoloLens 2 platform does not track forearm joints, unfortunately. @Naphier the HoloLens's system shell does not consume an extra forearm joint to display the start button; it is, in fact, just extrapolated from the palm orientation/vector. I would suggest using a similar heuristic to create forearm-mounted UX controls, if necessary.

[2021-08-04 17:59] #7414 closed

[2021-08-04 18:01] Zee2 commented on #7988
Hi, we are going to close this issue, unless there is additional information available or reproduction steps. Please reopen if you'd like further support on this issue.

[2021-08-04 18:01] #7988 closed

[2021-08-04 18:04] keveleigh commented on #7820
Yep, as @Zee2 this issue has been fixed since 2.6 I believe, though I was tracking it via a different issue, so I missed closing this one! I took the path where NearInteractionTouchableVolume caches the collider of the object it's being added to automatically in `Awake()`

[2021-08-04 19:25] Naphier commented on #7414
@Zee2 similar heuristics don't work for our use case as we wanted the elements flat against the arm. This is a feature request. Are you denying it by closing it? There are many use cases as pointed out above and it is a shame that this is being so easily discarded.

[2021-08-04 19:27] Naphier commented on #7806
@Zee2 hopefully @sostel already did that. Feedback Hub is a dead end and black void.

[2021-08-04 20:20] keveleigh commented on #7414
@Naphier For something like a new forearm tracking point, we can't really add that in MRTK ourselves as we can only use the data provided by the platform. I'd suggest filing a Feedback Hub feature request to get it in the hands of the feature team.

Specifically, for "flat against the arm", is the wrist joint (with some offset) stable enough for that use case?

[2021-08-04 20:31] Naphier commented on #7414
No. We explored that. Because the Home button is on the underside of the
arm it is a bit in the way. And if you use the back of the arm the wrist
flexes a lot more so the elements lift off the arm too easily. We settled
on the back of the hand and it works OK but not ideal.
I'm fairly certain we put this in Feedback Hub but got nothing back. It's a
moot point now.

On Wed, Aug 4, 2021 at 4:20 PM K

[2021-08-04 23:10] davoodkharmanzar opened #10141 "get teleport target position??"
hi,
how can i get teleport target position?

`public void OnTeleportCompleted(TeleportEventData eventData) => position = eventData.Hotspot.Position;`  ??

[2021-08-05 07:47] khodenikhil22 commented on #9777
**Actual Problem :**
I'm working on AR application with the support of Flutter-Unity integration. In which i wanted to get real world anchor by tracking the QR code. So while working on it, i noticed that there is no support for the "QR Tracking" feature for the mobility platforms. I found only "Hololens 2" and "Immersive Device" support for this feature.

**Platforms:**
- Unity Editor 2019.4.15f

[2021-08-05 11:13] KevinCCucumber opened #10142 "Unable to load AssetBundles"
## Describe the bug

I am loading files from an assetbundle and cannot instantiate them at runtime on Hololens 2, but in the Unity-Editor

## To reproduce

1. Add MRTK to your empty unity project
2. Set the MRTK to DefaultHololens2ConfigurationProfile
3. Add a Unity Streamingasset to the path "Assets/StreamingAssets" (In my case, 1 fbx file is in the bundle)
4. Add a button to the scene
5. Connect

[2021-08-05 13:59] NoTuxNoBux opened #10143 "Separate user-specific holographic remoting settings to avoid polluting VCS'"
## Describe the bug

On OpenXR and Unity 2020, holographic remoting settings seem to be stored in `Assets/XR/Settings/Open XR Package Settings.asset`. This includes the IP address under `m_remoteHostName`, and whether it is enabled or not. By nature, these settings are user-specific, meaning that in a team with multiple developers with different local networks, local changes will keep showing up i

[2021-08-05 17:13] keveleigh commented on #10143
This is a great callout! I'll bring this back to our Mixed Reality OpenXR Plugin workstream and figure it out.

[2021-08-05 17:31] keveleigh commented on #10141
You may be able to go off the pointer object itself, something like `public void OnTeleportCompleted(TeleportEventData eventData) => position = eventData.Pointer.Result.Details.Point;`

[2021-08-05 18:41] davoodkharmanzar commented on #10141
thanks for your reply :]
but is this local position or world position?

[2021-08-05 19:49] davidkline-ms commented on #9888
Thanks to everyone for the feedback! The team made the call today (8/5/2021) to adopt XRI.

[2021-08-05 20:21] ltwlf commented on #9888
Great news!

[2021-08-06 09:59] lovelieren commented on #4655
change render mode from single pass (Instanced) to multi pass may solve the problem.

[2021-08-06 14:55] Arthr702 commented on #10114
Same issue here: After checking for Shader updates I got the following error

`DirectoryNotFoundException: Could not find a part of the path 'D:\ExampleProject\Library\PackageCache\com.microsoft.mixedreality.worldlockingtools@c74fd40f002f-1627456544624\Packages\Microsoft.MixedReality.Unity.FrozenWorld.Engine.1.1.1\lib\unity\iOS-ARM64\FrozenWorldPlugin.framework\_CodeSignature'.
System.IO.__Error.W

[2021-08-06 16:10] keveleigh commented on #10141
Should be in world position, as that's what we use to position the teleport cursor, but if you're seeing otherwise let me know!

[2021-08-06 18:36] Chase-William opened #10144 "Visual Masking Bug"
# Visual Masking Bug
This bug involves masking game objects within a unity canvas. Masking a child object of a panel while all being inside a canvas doesn't work on the physical device correctly. To elaborate, the simulator works as expected masking the child object, but when ran on the actual device, the user doesn't see the mask in effect. Now for the confusing part, when you are running on the

[2021-08-06 22:05] Zee2 commented on #8008
Hi @provencher ; our move towards utilizing XRI primitives in MRTK v3 will make pointers much more modular and flexible. When that time comes (soon), please let us know if the additional flexibility fits your needs.

[2021-08-06 22:11] Zee2 commented on #7720
@davidkline-ms what is the status on this issue? Assuming it will be moot for XRI, but was there a 2.x-era resolution?

[2021-08-06 22:12] Zee2 commented on #8157
Seems this was resolved by #9045. If this persists, please reopen.

[2021-08-06 22:12] #8157 closed

[2021-08-06 22:14] Zee2 commented on #6094
@CDiaz-MS Have you seen this? This involves visual feedback states for UnityUI-based elements. Is this possible, or maybe a good candidate for InteractiveElement?

[2021-08-06 22:15] Zee2 commented on #6179
@CDiaz-MS  This is covered by the voice keywords in InteractiveElement, correct? @ritijain buttons created with the InteractiveElement pattern should support arbitrary keywords, pending @CDiaz-MS info

[2021-08-06 22:18] Zee2 commented on #6208
@CDiaz-MS @davidkline-ms  @RogPodge  Is creating MRTK UX-equivalents in Unity Canvas UI in-scope right now? I feel like we typically recommend using non-Canvas-bound MR UX.

[2021-08-06 22:20] Zee2 commented on #7388
@davidkline-ms This is definitely resolved + improved by our v3 packaging strategy.

For the community: we are pursuing splitting many parts of MRTK in wholly-independent packages, which can be loaded/unloaded as the developer desires. This will cut down drastically on unneeded assemblies being loaded.

[2021-08-06 22:21] Zee2 commented on #7154
#7993 should have resolved this. If this use case is still not resolved, please reopen.

[2021-08-06 22:21] #7154 closed

[2021-08-06 22:22] Zee2 commented on #5888
#8596 should have resolved this, as the number of hover lights is now configurable. Please reopen if further issues are experienced or more information is needed!

[2021-08-06 22:22] #5888 closed

[2021-08-06 22:23] Zee2 commented on #8169
@N0RAIR looks like this got fixed. Closing issue!

[2021-08-06 22:23] #8169 closed

[2021-08-06 22:23] Zee2 commented on #7381
@elbuhofantasma is this resolved/have you seen this?

[2021-08-06 22:24] Zee2 commented on #8047
@ninjanoka did @MrMatthias 's suggestion resolve your issue? Closing this issue for staleness now, but please reopen if you need further assistance.

[2021-08-06 22:24] #8047 closed

[2021-08-06 22:26] Zee2 commented on #8067
#8072 was closed but not resolved. @RogPodge you interacted with a recent issue involving serialization of these profiles. Is this fixed now?

[2021-08-06 22:27] Zee2 commented on #8233
@CDiaz-MS this is an interesting one. Have we improved our dev UX for runtime-registered event listeners?

[2021-08-06 22:28] Zee2 commented on #8235
@MRW-Eric What is the state of this? Did this ever get fixed?

[2021-08-06 22:28] Zee2 commented on #8241
@CDiaz-MS another event inspector issue.

[2021-08-06 22:30] Zee2 commented on #8125
This appears to have been fixed by #8244. If it was not, please reopen this issue.

[2021-08-06 22:30] #8125 closed

[2021-08-06 22:30] Zee2 commented on #8237
@Merichbier thanks for reporting this. We'll look into it.

[2021-08-06 22:31] MaxWang-MS commented on #10114
Hi @Arthr702 are you also following [the tutorial](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr)? It seems that you are encountering some issue related to the WLT package but that is independent to MRTK. Could you try again and just import the MRTK packages (and the OpenXR one if you are following the tutorial/using OpenXR) and see

[2021-08-08 08:35] Spoon2311 commented on #10144
I have a similar issue. We use the same setup, but as soon we use Unity UI components either taking "screenshots" or while recording videos. The Unity UI components won't be rendered in video/photo although we can see them on the physical device.

[2021-08-08 20:35] ARecentDeveloper commented on #10130
Thank you, the error seems to come from AltspaceVR as you mentioned. I removed the package and everything works as it should for now. Thanks again.
As for the build platform, (if I understood you correctly) I was using 10.0.10240.0.
Thanks again.

[2021-08-09 10:01] MiPa12 opened #10145 "HP Reverb G2 - Button Input"
## Describe the bug

Hi,
currently, my HP Reverb G2 is listed under unsupported Devices (Screenshot below - Input Debug). Could this be a bug? However, I'm able to interact with the environment via the default button input actions (e.g. HP Motion Controller Right Hand Controller - Input Action Assignment). I'm trying to do some custom inputs with the new input system and open XR, but it is not wor

[2021-08-09 11:33] Arthr702 commented on #10114
Hi @MaxWang-MS yes I have followed this tutorial. Removing the WLT Core package manually from the project solved the error for me. So "Check for shader updates" didn't show any other issues. The incorrect preview for the material in the Unitys project window still persists, but clicking on the material will show the correct result.

[2021-08-09 17:54] davoodkharmanzar opened #10147 "Navmesh based Teleport ??"
is it possible to teleport based on navmesh ??
against of surfaces and objects??

[2021-08-09 19:23] keveleigh commented on #10130
Thanks for following up! Going to close this for now, as it's up to the Altspace team to update their package. I've made them aware of this issue.

[2021-08-09 19:23] #10130 closed

[2021-08-09 19:58] keveleigh commented on #7271
Closing this out as Won't Fix, as the Windows XR Plugin is being deprioritized on the Unity side in favor of OpenXR and this work won't be completed.

[2021-08-09 19:58] #7271 closed

[2021-08-09 20:00] keveleigh commented on #8930
Closing this out due to lack of traction. Please reopen with more info if you're still hitting this!

[2021-08-09 20:00] #8930 closed

[2021-08-09 22:32] RogPodge commented on #8067
Unfortunately this is not yet fixed and is probably on hold for a bit. The error itself has does not impact or cause any functional issues on runtime to out knowledge, and properly squashing it would take quite a bit of effort to refactor our folders. Looking to revisit this during early 3.0 timeframe.

[2021-08-09 22:33] RogPodge commented on #10015
Tagging related issues: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8067

[2021-08-10 13:50] MiPa12 commented on #10145
Hi, I solved it somehow.

[2021-08-10 13:50] #10145 closed

[2021-08-11 07:06] saed219 opened #10149 "**[]()**"
**[]()**

__Originally posted by @saed219 in https://github.com/etherscan/ethvalidate/issues/22__

[2021-08-11 08:45] Kent1LG commented on #8796
Hello, my team and I also really need a solution on this when it's possible ! Any news?

[2021-08-11 16:16] davidkline-ms commented on #9913
@dnlwbr, would you be open to sharing your log? we can take a look and see if we can help direct the OS team to a potential suspect.

[2021-08-11 16:35] #10149 closed

[2021-08-11 16:38] #10147 closed

[2021-08-11 17:30] polar-kev commented on #7046
Hey @Morgan-6Freedom, ARFoundation is owned by Unity so this work here would be out of scope for the MRTK team.
https://unity.com/unity/features/arfoundation.

I recommend exploring Azure Object Anchors since it will work on HoloLens.

[2021-08-11 17:30] #7046 closed

[2021-08-11 17:32] polar-kev commented on #8242
@RogPodge can you let us know what the effort for this would be?

[2021-08-11 17:38] polar-kev commented on #8257
Hey @jbienzms, thanks for this investigation. Flexible prefabs will be achievable in MRTK v3 using new volumetric layout tools.

[2021-08-11 17:38] #8257 closed

[2021-08-11 17:42] Zee2 commented on #8257
@jbienzms this is pretty cool. Like @polar-kev said, we're pursuing some new standalone volumetric layout tools, but using built-in recttransforms for layout is neat. I would have figured that this would cause some serious perf issues but I guess not! I'll ping you to chat about this some more.

[2021-08-11 17:45] polar-kev commented on #8283
Hi @Silverbugi, this is an ObjectManipulator mode we haven't got to yet. We're currently focusing on bringing parity to MRTK v3 but this is something for us to consider afterwards.

[2021-08-11 17:55] polar-kev commented on #7517
@davidkline-ms, it would be worth our while to update our MRTK icon to not require the extension in question.

[2021-08-11 17:56] polar-kev commented on #7517
Closing since this was addressed by #9716

[2021-08-11 17:56] #7517 closed

[2021-08-11 17:59] polar-kev commented on #8143
Hey @cellarmation, we haven't been able to reproduce this so I'm going to close this issue.

[2021-08-11 17:59] #8143 closed

[2021-08-11 17:59] CDiaz-MS commented on #8297
Hello @rlbogue

The NearInteractionTouchable component is represent as a plane and currently requires the use of a Box Collider, we do have the NearInteractionTouchableVolume component that supports a mesh collider.  Does your use case require the plane representation or would the NearInteractionTouchableVolume functionality suffice?

[2021-08-11 22:01] tiripon opened #10151 "Project path???"
## Describe the bug

I click Start
It asks for the project path
I click the ... 3 dots
And browse to the project folder which contains the Assets, Packages and ProjectSettings folders
And I'm stuck there because it's expecting me to choose a file not a folder.

Is it a file or a folder that it wants???

You see since it's expecting a file when you click open it opens the Assets folder because it's

[2021-08-11 22:36] RogPodge commented on #8242
My initial investigations showed that it should be as straightforward as removing the raycast calls and having the various Eyetracking components query the EyeGazeProvider, since the eye gaze does get updated by MRTK systems in the two scenarios that are enabled for it (Input simulation and when using the WMREyeGazeProvider).

Will try implementing it and see open a PR if there's no deeper issues.

[2021-08-11 23:29] davidkline-ms commented on #10151
@tiripon, thank you for your issue report.

It wants a file. The tool pre-sets the value '_', which does not exist (but that's ok). This is a limitation to the WPF UI framework's implementation of the Windows Common Dialogs. If you navigate to your project folder and select nothing, you should be able to select the project.

I am investigating a better solution and will update as soon as possible.

[2021-08-12 14:51] tiripon commented on #10151
@davidkline-ms
Thanks for the reply.
Actually, if I select nothing (By clicking into the blank area) and click "Open" it goes in the Assets folder.
Either I keep or I remove the "_" character and click "Open" it still goes into the Assets folder.

There is absolutely nothing I can do that will enable me to proceed to the next step.

[2021-08-12 15:53] tiripon commented on #10151
UPDATE: I was able to progress by deleting the "_" and type it back in. Then clicking "Open" works.

[2021-08-12 16:14] MiPa12 opened #10152 "Teleportation System - Select target points in 3D environment"
## Problem

I have the problem that I need to be able to teleport in the whole 3d environment and not just on a 2d surface.

To clarify it a bit, assume I want to teleport from the black plane to the center of the cube

<img src="https://user-images.githubusercontent.com/61323363/129224048-5da0f2ca-2504-4da1-a733-fce31434ced7.png" width="400" height="400">

With the current version I'm just able t

[2021-08-12 16:20] akash14darshan opened #10153 "Gesture not being recognized in Hololens 1 using XR SDK"
## Description

Input gesture which was working with the legacy XR no more works with the new XR SDK. In the sample scene in :
``Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionGestureEventsExample.unity``
with default settings with no modification what so ever.

However it seems to work on the editor with the same setup.

## Steps to reproduce the behavior:

1. Assets/MRTK/Examples/

[2021-08-12 16:33] cj-lopez opened #10154 ""Select" voice command does not fire the appropriate events when using OpenXR on HoloLens 2"
## Describe the bug
When you Gaze and say "Select" on a HoloLens 2, the MRTK input system should fire the appropriate events for the "select" action. This no longer works like it did for the Legacy XR. Other keywords work just fine.

## To reproduce

Steps to reproduce the behavior:

The easiest way to see the problem is with the EyeTrackingDemo example
1. Install the OpenXR Plugin
2. Import the E

[2021-08-12 16:49] Spoon2311 commented on #10144
Thanks for the answer.
I think you're right, our issue is not the masking but actually the components not showing in the video.

Therefore I don't think using the black bar would work.

[2021-08-12 17:00] Spoon2311 opened #10155 "Hololens Video recording & images not showing UI elements"
## Describe the bug

We're working with the Hololens 2 and sadly when recording a video, taking an image or going into the live-view, Unity UI-components are not shown in the image/video.

We are using: We're using Unity 2020.3.6f1, MRTK 2.7.2 with OpenXR backend.

## To reproduce

Open a Unity project with MRTK 2.7.2 and OpenXR backend.

Create a Window and put one TextMeshPro-Component and a Tex

[2021-08-12 17:10] keveleigh commented on #8483
I'm going to close this issue out. Unity did some work to improve this scenario on legacy, but it should be fully fixed on the latest Windows XR Plugin and OpenXR releases. Since legacy XR is now deprecated in the current Unity LTS, I don't expect any additional work to be done there. Please let me know if you run into any issues!

[2021-08-12 17:10] #8483 closed

[2021-08-12 17:13] keveleigh commented on #10155
This was a bug in the Unity engine. It should be fixed on 2020.3.8, 2021.2.0a16, and 2021.1.6f1. Looks like you're on 2020.3.6, so you'll need to update if possible.

[2021-08-12 22:50] MiPa12 opened #10157 "ShellHandRayPointer(Clone)_Cursor disable script/action"
Hi,
how can I disable the default controller pointer (Right_ShellHandRayPointer(Clone)_Cursor) and afterwards enable it again if necessary during runtime?
Thanks

![Screenshot (71)](https://user-images.githubusercontent.com/61323363/129414306-7b44e6a1-ec88-4dba-bacd-143f068442b9.png)

[2021-08-13 08:58] MiriamCor opened #10158 "MakePlanes() method of SurfaceMeshesToPlanes throws a Run-Time failure using Hololens 1"
## Describe the bug

When instantiating a new SurfaceMeshesToPlanes object and making a call to the MakePlanes method, when compiling and running the application, it throws the following exception in the PlaneFinding.cpp class

Run-Time Check Failure #0 - The ESP value has not been saved correctly through a function call.  This is usually the result of calling a function declared with one calling

[2021-08-13 11:50] dnlwbr commented on #9913
@davidkline-ms Sure, here it is: [DebugLog.txt](https://github.com/microsoft/MixedRealityToolkit-Unity/files/6982218/DebugLog.txt)

By the way, I have also filled in a bug report as suggested by @polar-kev .

[2021-08-13 14:50] wirelessdreamer opened #10159 "MRTK (Hololens 2) Active pinch event with HID Joystick plugged into usb-c port"
## Describe the issue
https://stackoverflow.com/questions/68774309/mrtk-hololens-2-active-pinch-event-with-hid-joystick-plugged-into-usb-c-port

I've been browsing through the document below trying to figure out how to fire off a pinch action with a hardware button plugged into the hololens 2.

## Feature area

The simple test I'm trying to build is when using the target selection demo, where you

[2021-08-13 16:51] elbuhofantasma commented on #10158
Hello @MiriamCor thank you for submitting this plane finding issue! I am unable to reproduce this issue with your reproduction steps. I am using Unity 2019.4.29f1, MRTK 2.7.2 (via the Mixed Reality Feature Tool), Legacy XR, Plane Finding 1.0 to attempt a reproduction.

Below are this issues I ran into when trying to reproduce this issue on Step 3. Can you please provide some more information in yo

[2021-08-13 17:35] davidkline-ms commented on #9913
Thank you @dnlwbr! I will be sure to get this data to the bug owner.

[2021-08-13 17:55] keveleigh commented on #10159
Are you getting any input through the button? If you're not sure, you can run the controller mapping tool from the MRTK tools package: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/tools/controller-mapping-tool?view=mrtkunity-2021-05
and see if any buttons or axes update when you press the button.
You can also check the UnityPlayer.log file on your HoloLens 2 to see if

[2021-08-13 18:24] wirelessdreamer commented on #10159
I can write a unity script to read the button, and it work as expected when deployed to device. So I know the button number.  I don't know how to create a new input system I can enable in MRTK to emit a pinch event when it sees for example Joystick button 1.

[2021-08-13 18:30] wirelessdreamer commented on #10159
to better clarify. Using example scene:
EyeTrackingDemo-02-TargetSelection

when you look at a target, and then pinch to do selection. I want to be able to have the joystick button fire off the pinch event to be properly received by MRTK system wide, and destroy the ball that was being looked at.

[2021-08-13 22:57] elbuhofantasma commented on #10154
Hello @cj-lopez Thanks for reporting this speech issue! I was able to reproduce this across Unity versions, MRTK versions, and across XR pipelines. @cre8ivepark will investigate this in the near future and we will give you an update when the investigation is complete.

[2021-08-13 23:12] cj-lopez commented on #10154
Is this also related - [https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8582](url)?

[2021-08-14 20:15] tommensink commented on #10134
This is a very disturbing bug.

[2021-08-14 22:22] elbuhofantasma commented on #10154
@cj-lopez I do not believe that issue #8582 is related to this issue. The "Select" voice command in this issue seems to be occurring due the MRTK not being detected by the EyeTrackingTarget.cs script as seen in this picture below in the Eye Tracking Targeting example scene. This issue occurs in the OpenXR and XR SDK pipelines and across Unity versions. I have not tried to reproduce this issue on U

[2021-08-14 23:21] wirelessdreamer commented on #10159
Using that tool I see its button 5 that I want to activate pinch. I'm not sure how to configure mrtk to make that happen though.

[2021-08-15 01:02] saed219 opened #10160 "originally"
__Originally posted by @davidkline-ms in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10156__

[2021-08-15 06:37] Spoon2311 commented on #10155
Thanks a lot for the answer it was a simple issue of updating! 👍
Problem solved now.

[2021-08-15 06:37] #10155 closed

[2021-08-15 13:09] saed219 opened #10161 "💪"
__Originally posted by @GinMu in https://github.com/TP-Lab/tp-android/pull/4__

[2021-08-16 07:37] jiedaokou commented on #10114
@MaxWang-MS  你好，我按教程操作遇到了同样的问题
问题原因：怀疑是MixedRealityFeatureTool工具没有成功导入MRTK Standard Assets包，导入后的Assets文件夹里没有出现下图所示的MRTK和Shaders文件夹，造成了材质丢失
![image](https://user-images.githubusercontent.com/45547829/129524435-c9a3c47e-d6e1-4d57-943b-1c7aeb68a049.png)

解决办法：在MixedRealityFeatureTool工具的Discover features界面，除了勾选教程中所说的两项，再勾选MRTK Standard Assets包，如下图所示。其他步骤按教程来，经我测试后，问题消失。@Arthr702 @danzeeeman

![image](

[2021-08-16 07:50] dnlwbr commented on #8377
The same is the case for MRTK 2.7.2 and Unity 2020.3.16f1. The menu works, but the error messages still occur.

[2021-08-16 08:03] MiriamCor commented on #10158
Thank you very much for your quick reply. I am out of the office until next Monday. As soon as I get back I will be able to attach more information and screenshots. Thanks again.

[2021-08-16 18:23] m-the-hoff commented on #10134
I recommend we maintain backwards compatibility by adding a choice between Rotate around center of bounds / rotate around pivot option where the default is the prior behavior around pivot. Open to not adding an option if we feel confident no one is depending on the prior pivot behavior.

[2021-08-16 18:26] tommensink commented on #10134
Agreed, and I cannot think myself about a reason to rotate around the pivot. The pivot is most often an art designers choice. But of course I do not know all the use cases. At least it is then as it was, which was the most natural way for a human.

[2021-08-16 19:47] #7746 closed

[2021-08-16 22:56] elbuhofantasma commented on #10157
Hello @MiPa12 Thank you for submitting this Documentation issue. You can enable/disable the default cursor using [PointerUtils.cs](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/SDK/Features/Utilities/PointerUtils.cs).

You can use the "SetHandRayPointerBehavior" and "SetMotionControllerRayPointerBehavior" classes from lines 178-196 in PointerUtils.cs to enable or dis

[2021-08-16 22:56] #10157 closed

[2021-08-16 23:18] elbuhofantasma commented on #10158
You are very welcome @MiriamCor! Enjoy your out of office time, and I look forward to your additional information and screenshots when you return.

[2021-08-16 23:36] elbuhofantasma commented on #10152
Hello @MiPa12 thank you for submitting this teleportation feature request! I am assigning @RogPodge to investigate.

[2021-08-16 23:49] elbuhofantasma commented on #10142
Hello @KevinCCucumber thank you for submitting this AssetBundles loading issue. I will investigate this issue and report my results here.

[2021-08-17 00:25] elbuhofantasma commented on #10139
Hello @atarng-medivis thank you for submitting this Constraint Manager feature request!

I spoke with @CDiaz-MS and she thinks that it sounds like you would like to define the greater bounds of where an object can be moved externally. This can be achieved by creating an external Bounds and then check if the position of the object is within the Bounds using Unity's [bounds.Contains](https://docs.un

[2021-08-17 00:25] #10139 closed

[2021-08-17 03:34] elbuhofantasma commented on #10144
Hi @Chase-William thank you for submitting this beautifully detailed visual masking bug, and creating the supporting reproduction Unity Project repository! I will investigate this issue, and then it will get sorted out.

@Spoon2311 Thank you for the additional insight that you have provided on this issue. It will save me some time during the investigation!

[2021-08-17 06:00] elbuhofantasma commented on #10117
Hello @AdCCooN thank you for your Hand Menu issue submission! I am going to need some more information from you about the issues that you are seeing.

Are you using XR SDK or OpenXR when you see this issue? If you are using OpenXR, what version of OpenXR are you using? I see that you attached the debug console view to the deployed Hand Menu example scene app. When you deploy the Hand Menu example

[2021-08-17 13:22] cgsaxner commented on #10082
Yes, I use the `SpatialCoordinateSystem` to locate my device (HoloLens 2) using, e.g., [SpatialLocator.TryLocateAtTimestamp](https://docs.microsoft.com/en-us/uwp/api/windows.perception.spatial.spatiallocator.trylocateattimestamp?view=winrt-20348), and for locating frames, e.g. using [SpatialCoordinateSystem.TryGetTransformTo](https://docs.microsoft.com/en-us/uwp/api/windows.perception.spatial.spat

[2021-08-17 15:06] RogPodge commented on #10152
For teleporting to angled or sloped surfaces, what should be the user's pose should be after teleporting to that surface? We currently we maintain the user's orientation after a teleport because it reduces discomfort, so I'm not sure that tilting the user's pose would be the correct solution.

As far as making the teleport pointer a line, you can alter the ParabolaPhysicalLineDataProvider componen

[2021-08-17 15:50] Spoon2311 opened #10165 "Gaze cursor not reappearing"
## Describe the bug

When starting the app the gaze cursor is visible, when the hands appear in the line-of-sight the normal hand cursors appear.
But then when taking my hands behind my back again the gaze cursor does not reappear.

## To reproduce

Create a normal Hololens 2 app with OpenXR and using the eyegaze cursor also as an input (NOT the head cursor)

## Expected behavior

When the Hololen

[2021-08-17 16:34] elbuhofantasma commented on #10165
Hi @Spoon2311 thank you for your Gaze Cursor issue submission. The scenario that you described is now expected behavior, as we are trying to match the HoloLens 2 Shell behavior.

You can enable/disable the Gaze cursor using [PointerUtils.cs](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/SDK/Features/Utilities/PointerUtils.cs).

You can use the "SetGazePointerBehavior

[2021-08-17 16:34] #10165 closed

[2021-08-18 17:40] keveleigh commented on #10082
Yeah, when running on OpenXR, I'm not sure there's a guarantee that these types will still be valid. OpenXR uses different types for locatability, which I wrote about at https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10082#issuecomment-880980827.

`HolographicFrameNativeData` is provided as a copyable snippet in the non-MRTK docs but is only relevant for legacy XR. If you're running

[2021-08-18 17:43] polar-kev commented on #8252
@Cameron-Micka do you have any cycles to look at this?

[2021-08-18 17:45] polar-kev commented on #7932
@Zee2 will retest and see if this is still an issue.

[2021-08-18 17:50] polar-kev commented on #8364
Hey @xempie, although something like this should be possible today in the MRTK by turning off hand rays, turning on eye gaze, and writing some custom code, we are working on bringing an out of the box solution to MRTK v3. If you have a HoloLens 2, you can check out a preview of this experimental feature in the latest release of the Mesh app in the Microsoft store.

[2021-08-18 17:50] #8364 closed

[2021-08-18 17:55] polar-kev commented on #8365
Hi @laultman, we've done the work to make sure that every example scene now has the correct profile by default. If you use MRTK 2.7 this should no longer be an issue. If you still encounter problems please let us know.

[2021-08-18 17:55] #8365 closed

[2021-08-18 17:55] Zee2 opened #10170 "TestGazeProviderTargetUnityUi fails sporadically"
## Describe the bug

The play mode test `TestGazeProviderTargetUnityUi` fails sporadically when testing in-editor.

## To reproduce

Steps to reproduce the behavior:

1. Run the `FocusProviderTests` in editor.
2. May need to run them several times to repro the sporadic failure

## Expected behavior

Tests should either pass every time or fail every time... nondeterministic tests are scary!

## Scr

[2021-08-18 19:29] Cameron-Micka commented on #8252
Hey @polar-kev, I just started a new project and trying to gauge my availability. I'll put this on my "todo" list to visit as soon as I can. Good news is I just wrote similar docs for MRTK-Unreal we could borrow from: https://github.com/microsoft/MixedReality-GraphicsTools-Unreal/blob/main/Docs/MeshOutlines.md

[2021-08-18 19:59] MaxWang-MS commented on #10114
@jiedaokou 感谢你的反馈。请问你可以告知我们你所使用的MixedRealityFeatureTool的版本吗？在一打开工具的第一个页面上就有版本号。我们目前怀疑这个问题可能跟MRFT有关。
关于无法自动导入Standard Assets包的问题，正如你所说的按照设计即使你在你截图的这个页面中只勾选MRTK Foundation但不勾选standard assets，在点击Get Features按钮后standard assets也应该出现在Required dependencies一栏中。而standard assets包的下载会在你点击get features按钮后进入下一个界面前完成（程序知道standard assets是foundation的依赖所以会先把包自动下载下来），所以按照教程进行操作不应该导致导入失败。
关于你提到的按照教程操作也出现材质丢失的问题，请问这种情

[2021-08-18 20:28] RogPodge commented on #10159
Calling RaiseOnInputUp and RaiseOnInputDown should let you raise a pinch action to the event system and allow you to translate buttonPressed events into MRTK gesture events. Look at your controller implementations such as GenericJoystickController for more details.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/Core/Providers/Unity

[2021-08-18 20:33] wirelessdreamer commented on #10159
Thank you. 👍

[2021-08-18 20:38] cre8ivepark opened #10171 "Input simulation error on 2.7.2 + 2020.3.11"
## Describe the bug
When I run input simulation (click the play button) I see these messages and input simulation is not working. (Game mode screen is on)

InvalidOperationException: You are trying to read Input using the UnityEngine.Input class, but you have switched active Input handling to Input System package in Player Settings.
UnityEngine.Input.GetKeyDown (UnityEngine.KeyCode key) (at <6af20

[2021-08-18 20:47] RogPodge commented on #10141
@davoodkharmanzar did this answer your question? If so, may we close this issue?

[2021-08-18 20:49] #10141 closed

[2021-08-18 20:55] RogPodge commented on #10141
Thanks!

[2021-08-18 21:04] keveleigh commented on #10171
This is currently a known issue, tracked by https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9703.
The configurator _should_ prompt you to update to "Both", but you can also do it manually in the Player Settings under Other Settings at
![image](https://user-images.githubusercontent.com/3580640/129972020-4c739206-0e54-48ae-b835-7188bd6d4fea.png)

[2021-08-18 21:17] cre8ivepark commented on #10171
Active Input Handling under Player Settings > Other Settings > Configuration
With update to 'Both', Input simulation works well.

[2021-08-18 21:40] keveleigh commented on #10171
Going to close this and leave #9703 for tracking

[2021-08-18 21:40] #10171 closed

[2021-08-19 01:51] RogPodge commented on #7629
Updating this issue to reflect with thoughts on future implementation. At the moment, this problem does not have a good solution, since both ClosestPoint and ClosestPointOnBounds will return the pointer's position when it is located inside of the collider. To implement this solution, we'd need to keep track of the "layers" of colliders we pass through and be sure to keep track of the latest one, s

[2021-08-19 02:44] wirelessdreamer commented on #10159
@RogPodge once I started looking into GenericJoystickController It got me to wonder, is there a way to configure / map a joystick already as a generic controller, since that class exits?

[2021-08-19 14:08] jmfranz commented on #10117
Hey @elbuhofantasma I am having the same issue

Unity 2020.3.16f1
MRTK 2.7.2.0
Master on ARM64

Messages come pretty fast on the console.

[2021-08-19 15:54] markfrede opened #10172 "MRTK Shader for URP does not use Environment Lighting"
## Describe the bug

The MRTK Shader when upgraded to work with Universal Render Pipeline (URP) is not affected by the Environment Lighting (Skybox, Gradient, and Color).
## To reproduce

Steps to reproduce the behavior:

1. Create a Unity project with MRTK and the URP packages.
2. Apply the MRTK standard shader to a new material and apply that material to an object.
3. Adjust the environment ligh

[2021-08-19 16:11] RogPodge commented on #7630
Fixed with #10146, though it is technically still possible for the SpherePointer to query with different sets of layer masks at different steps. This is because OnSceneQuery takes prioritized layer masks as an argument, while PreSceneQuery will always use the pointer's PrioritizedLayerMaskOverride. This is something that is not easily adjusted without introducing breaking changes, but with our mov

[2021-08-19 16:11] #7630 closed

[2021-08-19 16:12] RogPodge commented on #8912
Happening with v3 engine changes!

[2021-08-19 16:17] reeseras opened #10173 "Dynamic lighting disappears before the vertical edges of VR view."
## Describe the bug

Dynamic lighting, or at least a spotlight, doesn't show except within an almost straight-on vertical angle of the headset. (see video for example)

## To reproduce

Steps to reproduce the behavior:

1. Create 1 grabbable object with a spotlight attached, and another object that the light can shine on.
2. Build the project to the headset.
3. Open the project on the headset, pic

[2021-08-19 16:41] provencher commented on #10173
CC @Cameron-Micka

[2021-08-19 19:42] keveleigh commented on #10143
This has been updated in the Mixed Reality OpenXR Plugin but hasn't yet been released. I'll update this thread when the next release comes out.

[2021-08-19 20:10] RogPodge commented on #10159
@keveleigh do you know of any existing example docs we have getting the generic controller working?

[2021-08-19 22:19] jbienzms opened #10175 "UI Elements as a SOURCE for Input Actions"
### This issue has been migrated a new [MRTK repository](https://github.com/MixedRealityToolkit/MixedRealityToolkit-Unity), and the status of this issue will now be tracked at the following location:

 - https://github.com/MixedRealityToolkit/MixedRealityToolkit-Unity/issues/307

___

## Describe the problem

As we're currently planning MRTK 3.0, I wanted to revisit a topic that I started back in

[2021-08-19 22:21] jbienzms commented on #10175
I assigned this to @CDiaz-MS since I know she's looking at interactions for MRTK 3. But I also wanted it to be on the radar for @Zee2, @cre8ivepark and @BillingsAm3. Thanks for considering this feature!

[2021-08-20 16:37] Cameron-Micka commented on #10173
Hi @reeseras thank you for the bug report. Could I ask what shader the cube in your example video is using?

Please note the MRTK/Standard shader is authored to only support one Unity Directional Light: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/rendering/mrtk-standard-shader?view=mrtkunity-2021-05#directional-light and won't calculate light contribution from other

[2021-08-20 17:05] reeseras commented on #10173
I can't properly check until Monday, but it should be the default shader any newly created game object has in Unity/MRTK. The scene itself is an MRTK example scene, and the scene I'm trying to use the light in has only baked lighting and a single spotlight.

[2021-08-20 18:01] keveleigh commented on #7474
I'll add a note to the interface method to clarify when this method will be called and how it can be used. Your code snippet above with `Application.isPlaying` is the same pattern we've adopted in various parts of the MRTK, and I'm also going to work that into our docs.

[2021-08-20 19:11] #7474 closed

[2021-08-21 03:31] mura94 commented on #9283
Seconded, I would also love this!

[2021-08-21 09:32] jiedaokou commented on #10114
您好：
1. MixedRealityFeatureTool的版本号是v1.0.2104.4 Beta
2. 材质丢失的问题是一直出现的，unity3d 2020.3.16和unity3d 2021.1.16都出现了该问题
3.&nbsp;我在其他论坛上也看到有人报告了该问题，他们是通过手动导入shader包解决的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/MixedRealityToolkit-Unity"

[2021-08-23 07:07] cgsaxner commented on #10082
If you are referring to the properties described [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.mixedreality.toolkit.windowsmixedreality.windowsmixedrealityutilities?view=mixed-reality-toolkit-unity-2020-dotnet-2.7.0), unfortunately, no. For me, the `WindowsMixedRealityUtilities` class only exposes the methods described in the docs, but none of the properties, except for `WindowsMixe

[2021-08-23 10:40] alienshek337 opened #10179 "How can I disable the debugger?"
## Describe the bug

Can't disable the debugger after build the package from visual studio 2019

Here's the screenshot of the debugger
![Screenshot 2021-08-23 181248](https://user-images.githubusercontent.com/68799623/130433954-b39f0053-91ee-4c1c-b1fa-aaab6971065c.png)

## Expected behavior

Building without any debugger

## Screenshots

If applicable, add screenshots to help explain your problem.

[2021-08-23 13:40] AdCCooN commented on #10117
Hello @elbuhofantasma,

Sorry for forgetting to mention those details.

I am using Windows XR Plugin v.4.4.2 with XR Plugin Management v4.0.3 and AR Foundation 4.0.12

Basically I followed the documentation https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02

When I deploy my app to the Hololens 2 I am using the Release + ARM64 build configuration in V

[2021-08-23 18:17] MaxWang-MS commented on #10179
Please see discussion thread #10116 for the solution.

[2021-08-23 18:17] #10179 closed

[2021-08-23 19:40] Ahriana commented on #9855
i have this same issue, however im not building for iOS, i get this warning for all targets for PlaneThatCallsIntoPlugin and Sphere neither of which are apart of my scene so im not sure why this error has started showing up all of a sudden

![image](https://user-images.githubusercontent.com/28003629/130509117-c094351e-9bf0-48d1-bc9d-fec0bffb197f.png)

[2021-08-23 19:56] keveleigh commented on #9855
While it's not super clear to me initially where these objects are coming from, I'm not aware of anything we do in MRTK to create these objects. It might be worth filing a Unity bug or posting on the Unity forums to try to resolve this.

[2021-08-23 20:05] polar-kev commented on #6826
This issue will be addressed in large part by #10120 .

[2021-08-23 20:12] keveleigh commented on #9607
I'm going to mark this as External. If we want to report this to Oculus and track it ourselves, we can leave this open. If nobody's going to do that, we may as well close this down as there's nothing we can do to fix this ourselves.

[2021-08-23 20:18] keveleigh commented on #4258
Super old at this point, but wanted to tag some people as we're looking at what buttons look like in v3: @CDiaz-MS @Zee2 @RogPodge

Might be some interesting context in here for why things are the way they are and ideas for how we might improve. Might be something of relevance; might not!

[2021-08-23 22:11] killerantz commented on #4258
A good direction would be taking all the View functionality, like themes and feedback, out of Interactable. Have a base button class that is only events, then we can add states, themes, pressable button triggers and other visuals on top. Drive button states based on the types of handlers the button processes, like grab, physical press, focus.

The state system (which drives themes) is a stub of wh

[2021-08-24 03:12] MaxWang-MS commented on #10114
@jiedaokou 感谢您的回复。我们这边可能需要更多的信息来复现并解决这个问题，如果可以的话可以请您打开出现问题的电脑上的MixedRealityFeatureTool，在首页点击左下角的小齿轮图标进入Settings，再选择Diagnostics栏，最后按照软件上显示的地址找到log文件并将文件发给我们吗？

[2021-08-24 08:01] MiriamCor commented on #10158
Hello @elbuhofantasma!

The steps you have done are correct, you just need to add "using Microsoft.MixedReality.Toolkit.Experimental.SpatialAwareness;" to find "SurfaceMeshesToPlanes". After this, Build in Unity (File>Build Settings) and, when finished, open the .sln generated in VS 2019, and (very important) compile using the Debug option, because if you do it in Release you will not see the bug

[2021-08-24 10:01] A00107408 opened #10181 "Examples -> Demo -> Eye Tracking"
## Describe the bug
Speech commands "Start Recording" and "Stop Recording" used in this example seem to have priority in activating the video camera application.

A clear and concise description of what the bug is.

## To reproduce
This example uses key words that seem to be used elsewhere, so they cannot be used properly in the example.

Steps to reproduce the behavior:

1. Go to 'MRTK 2.5.4 -> E

[2021-08-24 10:42] IslamAbdlhalim opened #10182 "MRTK console errors when imported in latest versions of Unity 2021.2"
## Describe the bug

Mixed Reality Toolkit packages don't work on the latest versions of 2021.2 on Unity which is 2021.2.0b9. When installing Mixed Reality Toolkit Foundation and Mixed Reality Toolkit Standard Assets on to a project, it will cause Console errors.

## To reproduce

Steps to reproduce the behavior:

1. Create a Unity project
2. Open Mixed Reality Tool Kit
3. Import Mixed Reality Too

[2021-08-24 11:42] MiriamCor commented on #10158
I fixed the problem by specifying the calling convention of the dll in PlaneFinding.cs.

![image](https://user-images.githubusercontent.com/45427710/130610022-2aebb0bc-4191-4707-bd1f-a69af7031f51.png)

I guess it would be a binding problem with the incompatibility of __cdecl and __stdcall, due to Il2Cpp and Unity. The issues #1784 and #2531 help me a lot.  Perhaps this is something that should be

[2021-08-24 12:20] jiedaokou commented on #10114
您好，邮件附件里是log文件，但打开后只显示了软件的版本号，路径见下图。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/MixedRealityToolkit-Unity"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月24日(星期二) 中午11:12
***@***.***&

[2021-08-24 13:56] IslamAbdlhalim commented on #10182
Hey, this issue is also apparent in 2022.1.

[2021-08-24 14:04] Spoon2311 commented on #10154
Any updates on this issue?

[2021-08-24 18:30] keveleigh commented on #10182
The System.Numerics issue looks tracked on Unity's side, with a fix in review for 2022.1 and planned for 2021.2: https://issuetracker.unity3d.com/issues/compiler-error-cs0433-when-using-types-from-the-system-dot-numerics-namespace-under-net-standard-2-dot-1

The "unassigned guid" issue is fixed in the latest MRTK dev branch via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9938. It'l

[2021-08-24 19:21] Dominik-Schoen opened #10183 "Using localspace constrained RotationAxisConstraint on Objects with ObjectManipulator requires Handgestures to be performed around world's axis to effect local rotation."
## Describe the bug
Near rotation gestures are only sensed in global-space and not local-space when using a local-space constrained RotationAxisConstraints. This leads to an issue, when the local-axis do not match with the world-axis anymore. Thes user has to perform the Rotationgesture around the world-axis to manipulate the respective local-axis.

For example, if an object is limited to Y rotati

[2021-08-25 18:52] elbuhofantasma opened #10184 "Release Notes link to the 2.6 version"
## Describe the issue
The Readme's links to the Release Notes are currently linking to https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/release-notes/mrtk-26-release-notes instead of the current 2.7 Release Notes.

## Feature area
MRTK repository Readme

## Existing doc link
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/README.md

## Additional context
Add any o

[2021-08-26 15:56] andikay opened #10186 "More options for Slider/PinchSlider/StepSlider"
I have been working on porting an application to HoloLens 2 and while I was able to make Unity UI buttons and checkboxes work I have not been able to make sliders work at all.
(I would love for the Unity UI to just work with HoloLens 2 in general obviously)
Therefore, I have been trying to recreate the existing sliders, but the MRTK sliders are lacking a lot of features. It would be great if the M

[2021-08-27 03:17] hugorichir opened #10187 "Opening Internal Keyboard Crash Hololens 2"
## Describe the bug

On opening the native keyboard with the Hololens 2 (void TouchScreenKeyboard.Open()) my application crashes in certain circumstances. When running my build for the first time this error doesn't occur but then it keeps on crashing even though nothing really changed.

## Expected behavior

Keyboard should open and run normally whenever you're using it.

## Screenshots

When debu

[2021-08-27 03:59] #10187 closed, assigned to nobody

[2021-08-29 15:54] andikay opened #10189 "Changing StepSlider's SliderStepDivisions at runtime does not affect the StepSlider"
I have been working quite a bit with the StepSlider component recently and I noticed an(other) issue with it.

I have created a small script that calculates the required steps for the StepSlider via the possible values of the Unity Slider and then set the SliderStepDivisions accordingly, but I had to realize that this does not work - even though the calculated number is visible in the Unity Editor

[2021-08-30 14:02] MarkoXR commented on #9272
Are there any updates on this issue? I am having the same problem.

[2021-08-30 16:39] Spoon2311 opened #10191 "Keyboard disappearing all of a sudden"
## Describe the bug
We are using TMPInputs for our users to input some notes.
When pressing into the input field the keyboard pops up.

But while tipping it can happen that all of a sudden the keyboard disappears again, sometimes after like 2 seconds, sometimes after 15seconds. Although no closing action is executed.

## To reproduce

Steps to reproduce the behavior:

Add a TMPInput field onto a p

[2021-08-30 16:45] koudic commented on #10191
Have been seeing the same problem in my application. Sometimes the keyboard just disappears without any input, even if I have my hands out of the FOV

[2021-08-30 16:59] keveleigh commented on #10191
@MaxWang-MS This sounds similar to a bug you were talking to me about last week. Is it?

[2021-08-30 17:30] vbandi commented on #9963
Happens on MRTK 2.6 as well. Very annoying.

[2021-08-30 18:13] MaxWang-MS commented on #10191
This is a Unity bug and is tracked here: https://issuetracker.unity3d.com/product/unity/issues/guid/1360514/

[2021-08-30 19:24] Spoon2311 commented on #10191
@MaxWang-MS Meaning we'll have to wait until Unity fixes the issue?
Is there not possibly something that could be changed on the MRTK side?

[2021-08-30 19:37] MaxWang-MS commented on #10191
You will have to wait for Unity to fix the bug as the code with bug is in Unity's engine (not event the TMP package). Meanwhile you can try to rollback to a previous version (given Unity's comment that this seems to be related to one of their recent fixes) or upvote on the issue. The TMP input field and the touch screen keyboard are all implemented by Unity.

[2021-08-30 20:16] #10184 closed

[2021-08-30 20:18] MiPa12 commented on #10152
Hi, thanks for the answer. I think my drawing was a bit confusing. The orientation from the user after teleportation should stay the same. I just want to change the position.
![teleportation](https://user-images.githubusercontent.com/61323363/131398707-d5368e1f-2891-4adc-91cb-6f3df9a9f8eb.png)
Currently, I don't have access to the hardware .I'll test it when I get back to the office. I think turni

[2021-08-31 02:22] MaxWang-MS commented on #10058
The keyboard disappearing for no reason part is a Unity bug and is tracked here: https://issuetracker.unity3d.com/product/unity/issues/guid/1360514/

[2021-08-31 13:06] cgsaxner opened #10192 "HandTracker access violation"
## Describe the bug

I have a custom C++/WinRT plugin which I include in an MRTK/Unity App for HoloLens2. When I run the App, after one or two minutes of moving my hands in front of the device, I get an `0xC0000005: Access violation reading location 0x00007FF93D839D31` error thrown in the Windows.Mirage.dll. Unfortunately, symbols for this .dll are not available. However, the call stack shows that

[2021-08-31 16:23] #8992 closed

[2021-08-31 20:39] reeseras opened #10194 "Registering a Scene Transition Service doesn't enable a Scene Transition Service."
## Describe the bug

Registering a Scene Transition Service according to the [documentation](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/extensions/scene-transition-service?view=mrtkunity-2021-05) doesn't properly enable a scene transition service.

## To reproduce

Steps to reproduce the behavior:

1. Create a new scene with MixedRealityToolkit and MixedRealityPlays

[2021-09-01 01:36] F1batman commented on #9272
If I set wifi to private then run it until it says please wait then switch back to public while the app is still running. Then select Find Azure Anchor again it says it is unable to find the anchot then set it to 0,0,0. I did get it to work once when swapping to or from public but have not been able to replicate.

[2021-09-01 02:54] wirelessdreamer commented on #10159
@RogPodge @keveleigh I feel like I must be missing something.

1. I started with the eye tracking target selection demo.
2. Under Input -> Controllers -> Add new controller definition
3. I created the following controller:

![image](https://user-images.githubusercontent.com/140221/131604091-0b0a786d-a5e8-41cd-b710-2a67ddea1a29.png)

When I run the demo, and press button one (which I verify through

[2021-09-01 02:59] wirelessdreamer commented on #10159
Additionally looking at the generic joystick example above, I was not able to see a way to trigger the select action using that api. If I am being dense with that. I would appreciate an example function of how to call the select action to blow the gems up when looking at them.

[2021-09-01 04:25] #8242 closed

[2021-09-01 08:34] MarkoXR commented on #9272
Updating the ASA SDK Core and Windows to v2.10.2 solved the issue for me: https://github.com/Azure/azure-spatial-anchors-samples/issues/291

[2021-09-01 17:31] vbandi commented on #9963
Workaround: hide the TMP for one frame (e.g. move it to a hidden layer).

[2021-09-01 17:44] davidkline-ms commented on #10183
This will also need to be covered in v3.0

[2021-09-01 17:53] davidkline-ms commented on #6475
@keveleigh, you mention this may have been fixed and not closed. please confirm and close as appropriate

[2021-09-01 17:57] davidkline-ms commented on #6685
Things to consider:

1. Make presumptions on what should be included in the build for gltf import
2. Write a new shader for gltf materials

[2021-09-01 17:58] davidkline-ms commented on #6685
For v3, consider moving to an alternative gltf loader

[2021-09-01 18:04] keveleigh commented on #6475
Fixed (a while ago) via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/6686

[2021-09-01 18:04] #6475 closed

[2021-09-02 01:02] wonkee-kim opened #10195 "GLTF object appears black when it is loaded with Unity's Standard shader"
## Describe the bug

When loading gltf, and if there's no MixedRealityStandard shader, ConstructGLTF creates materials using Unity's Standard shader.
And if the main color data is null, CreateStandardShaderMaterial() assigns the null data to the main color of the material so the gltf object appears black.
This can be avoided by checking the color data is null as like the same as CreateMRTKShaderMa

[2021-09-02 07:27] edgar-rodrigo-santos commented on #6685
@davidkline-ms I would like to point out that the original issue is not specific to the gltf loader. I'm using a completely separate loader and this issue still occurs. I would say it's a "MRTK shader" issue but none of the workarounds mentioned here worked.
Just wanted to clarify this. Thank you.

[2021-09-02 07:50] serup opened #10196 "Visual Studio 2017 is required to build projects using the MRTK"
Visual Studio 2017 is required to build projects using the MRTK

_Originally posted by @StephenHodgson in https://github.com/microsoft/MixedRealityToolkit-Unity/issues/1830#issuecomment-372893353_

It saw a similar issue with Visual Studio 2019 installed

[2021-09-02 12:34] StephenHodgson commented on #10196
Unity should be installing this dependency if it is required. the full 2017 installation isn't required, but the build tools installer is.

I believe this also depends on the Unity editor version and UWP sdk versions you're targeting.

[2021-09-02 12:54] StephenHodgson commented on #10196
An example of errors you might expect to see if missing workloads:
[code]

[2021-09-02 12:55] StephenHodgson commented on #10196
If this happens simply open Visual Studio 2019+ and it should prompt you to install the missing requirements

[2021-09-02 18:15] #9980 closed

[2021-09-02 19:31] #10120 closed

[2021-09-02 19:45] keveleigh commented on #9363
Thanks for the report! This is being fixed in #10197 and will be in the 2.8.0 release.

![image](https://user-images.githubusercontent.com/3580640/131906575-6c982328-afc3-4689-a159-1fcc2adea7d9.png)

[2021-09-02 20:56] keveleigh commented on #10196
Can you expand a bit on the Visual Studio and Unity versions you're using please?
And also paste a selection of the errors you're seeing, if possible. Thanks!

[2021-09-02 21:02] keveleigh commented on #10082
Perfect, thank you for following up! I'm going to close this issue down now as it seems we have a solution. Please reopen if I'm mistaken. Thanks!

[2021-09-02 21:02] #10082 closed

[2021-09-02 22:09] F1batman commented on #9272
Thanks Heaps thats what fixed it for me.

[2021-09-02 23:22] #9272 closed

[2021-09-03 15:40] #10045 closed

[2021-09-03 22:31] reeseras opened #10198 "Objects leave hand when head moves."
## Describe the bug

When holding an object with hand tracking, moving your head (and not your hand) will cause the object to drift out of your grip. It's extremely noticeable in small objects. (Is this a problem with hand tracking in general, or is it MRTK?)

## To reproduce

Steps to reproduce the behavior:

1. Create an object in unity about the size of your finger.
2. Add NearInteractionGrabba

[2021-09-05 02:53] HoloMoto opened #10199 "Scene system errors occur in projects using MixedRealityFeatureTools."
## Describe the bug

When I try to use the scene system in a Unity project with MRTK imported by MixedReality FeatureTools, I get a lot of dialogs saying "It is not allowed to open a scene in a read-only package.

## To reproduce

1. Use the MixedRealityFeatureTool to deploy the MRTK Foundation, Tools, Examples, and Extentions packages.
2. Configure MRTK in the scene and enable the scene system in

[2021-09-07 10:25] abhimanyusinghal commented on #9715
Facing same error in:
Unity 2020.3 16f1
com.microsoft.mixedreality.openxr-1.0.2
com.microsoft.mixedreality.toolkit.foundation-2.7.2

[2021-09-07 11:24] HoloMoto commented on #10199
I found an issue with a similar problem. This may be helpful.
However, when I place the DefaultMixedRealitySceneSystemProfile from Colne in Assets, the same dialog occurs whether I close or close it.
https://github.com/microsoft/MixedReality-WebRTC/issues/526

[2021-09-07 14:42] robbbbbb opened #10200 "XRSDKDeviceManager can no longer create GenericXRSDKControllers as a fallback"
## Describe the bug

If XRSDKDeviceManager attempts to create an instance of the base GenericXRSDKControllers class it will fail as the invocation of Activator.CreateInstance no longer passes the correct number of arguments.

This occurs because GenericXRSDKController's constructor now takes 5 arguments, but all of its base classes still take only 4.

Because all subclasses of XRSDKDeviceManager (

[2021-09-07 15:27] studentutu opened #10201 "Remove System.Numerics Extension or rename it - while using Sentry, it can't compile"
## Describe the bug

Use sentry for unity (0.5.1)
Use latest MRTK

While having both of those  packages, MRTK should not use System.Numerics Extension class names

## To reproduce

1. Install  entry for unity (0.5.1)
2. Install  latest MRTK
3. See error - project can't compile (already in project)

## Expected behavior

Project should compile successfully

## Your setup (please complete the follow

[2021-09-07 16:39] keveleigh commented on #9715
Can you please paste the specific error log here? The previously mentioned line no longer exists in the same format in 2.7.2

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/c3d43b802cef99936cb9751a7b2740c6754be444/Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs#L20-L29

[2021-09-08 06:56] Kathy1211 opened #10204 "Failed to connect to Holographic Remoting Player using OpenXR with MRTK 2.7.2"
I just wanted to connect to Holographic Remoting Player with OpenXR in MRTK2.7.2,but when I Clicked "Play" in Unity editor mode,nothing was happened,and objects in gamewindow still could be controlled by mouse and keyboard.I configured the project as follows.
Packages I had Imported:
![image](https://user-images.githubusercontent.com/19795813/132460738-2c88a35a-6c66-4485-be59-93aa984b715d.png)
Bui

[2021-09-08 17:37] davidkline-ms commented on #10201
Will import and investigate the errors

[2021-09-08 17:38] davidkline-ms commented on #10200
Likely a side effect of the constructor change

[2021-09-08 17:41] davidkline-ms commented on #10199
Investigate which default scenes are in the immutable folder and possibly create a migration code path

[2021-09-08 17:43] davidkline-ms commented on #10198
@RogPodge, can you please try a repro on 2.7.2 (or the main branch)?

@reeseras, can you also try updating your project to MRTK 2.7.2?

[2021-09-08 17:45] davidkline-ms commented on #10195
@wonkee-kim, Thanks for the report and the suggested fix! Would you be willing to submit a PR with the proposed change?

thanks!

[2021-09-08 17:47] davidkline-ms commented on #10194
Consider a documentation fix describing how to avoid this issue.

[2021-09-08 17:49] davidkline-ms commented on #8213
@MaxWang-MS, can you try this on 2.7.2 and see if it has been fixed?

[2021-09-08 17:52] davidkline-ms commented on #8429
The fully realized controller extensibility feature will most likely be realized in MRTK v3.

We will continue to look into opportunities to improve this in v2.x

[2021-09-08 17:54] davidkline-ms commented on #8390
@RogPodge, assigning to you to ensure that this scenario is straight forward in MRTK v3

[2021-09-08 17:57] davidkline-ms commented on #8231
It appears there is a viable workaround. MRTK v3 will be based on a different foundation and should get a feature like this "for free".

[2021-09-08 17:57] #8231 closed

[2021-09-08 18:45] RogPodge commented on #10198
I couldn't get this to repro on 2.7.2. There's some jittering which may be attributed to the natural movement of the hand, but I didn't see any drift to the degree that was shown in the video.

[2021-09-08 20:17] keveleigh commented on #9169
This should be fixed in 2018.4.34 and 2019.4.24 or later. Please reopen if you're still hitting this on these versions or later!

[2021-09-08 20:17] #9169 closed

[2021-09-08 20:29] reeseras commented on #10198
I'll try updating mrtk as soon as I can; my admin is out for 2 weeks.

[2021-09-08 20:40] polar-kev commented on #8367
Hi @laultman, since the MRTK is built on top of Unity, there are some prerequisite Unity concepts that we do not cover in our docs.

[2021-09-08 20:40] #8367 closed

[2021-09-08 21:17] keveleigh commented on #10192
A couple things:

1. Do you only hit this while debugging? Or in a release/master build as well without the debugger attached?
2. We've made some improvements to our error handling in MR OpenXR 1.0.x releases, so it might be worth updating to the latest 1.0.3 release and seeing if anything changes. Your stack looks like the issue is at an even lower layer, but it could be worth trying.

[2021-09-08 21:39] #8122 closed

[2021-09-08 21:39] #9363 closed

[2021-09-08 21:39] #10181 closed

[2021-09-08 22:09] reeseras commented on #10198
I tried to update using the Mixed Reality Feature Tool found [here](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/welcome-to-mr-feature-tool). I don't have a mixedrealitytoolkit folder so I don't know how to check the version.

The problem persists. Also, I can't see my hands anymore (they work fine in the oculus menus).

There's also a new error: System.IO.DirectoryNotFound

[2021-09-08 22:16] terence733 commented on #9363
.amz_inline_image{
                max-width: 100%
            }

        body{
            font-family: -apple-system-font, HelveticaNeue, LucidaGrande;
            font-size:  17px;
        }

[2021-09-08 23:50] keveleigh commented on #8475
What were you trying to open the obj with? I haven't been able to get something to refuse to import/open it (I generated my file from the Unity editor, so maybe it's something about on-device? or I wonder if this is a globalization culture difference, where we're assuming `.` but sometimes it's represented as `,`), using

1. Paint 3D
2. 3D Viewer
3. Unity

I do repro the incorrect coordinate syste

[2021-09-09 10:05] wonkee-kim commented on #10195
Yeah I would like to. If you can give me an access to push a branch, I will make one.
Cheers!

[2021-09-09 14:20] Futo23 opened #10207 "Videos was shot using Mixed Reality Capture (MRC) have a gray overlay."
## Describe the bug

Videos was shot using Mixed Reality Capture (MRC) have a gray overlay.

## To reproduce

1. Click on [ Mixed Reality ] > [ Project ] > [ Apply recommended scene settings for HoloLens 2] .
2. Move to Display Settings at Camera Profile in Mixed Reality Toolkit.
3. Check the value that Transparent > Background Color > α = 0 (transparent).
4. Deploy to HoloLens 2
5. Start App
6. C

[2021-09-09 15:50] CZSeas commented on #8986
I'm also encountering the exact same issue when unloading a content scene. Was this ever resolved, or were you able to find a workaround @lnlytumbleweed?

[2021-09-09 17:22] keveleigh commented on #10195
@wonkee-kim We've tended to recommend making a fork of the repo in order to create PR branches. More info can be found at https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/contributing/contributing?view=mrtkunity-2021-05#contribution-process! Thanks!

[2021-09-09 18:07] keveleigh commented on #8475
@thibaultgrad I opened https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10208 to try to fix the coordinate space, winding order, and culture-specific formatting issues. I wasn't able to repro any issues with `/`, so I wasn't sure what to fix there. Please take a look and see if this fixes your issue! Thanks!

[2021-09-09 20:16] wonkee-kim commented on #10195
Thank you for the instruction! I just made a PR here.
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10209

[2021-09-09 22:43] #10195 closed

[2021-09-10 13:52] NLR-L commented on #8796
Hi, are there any updates?

[2021-09-10 17:03] RogPodge commented on #10198
@davidkline-ms do you know what this frozen world exception is?

[2021-09-10 17:16] RogPodge commented on #10152
I think currently we don't change the user's orientation when teleporting to a surface, except for when using the teleport hotspot, which can optionally orient the direction the user is facing with respsect to the y-axis.

Have you been able to get back to the office? If you have do you have a video showing the issues you're encountering?

[2021-09-10 19:28] keveleigh commented on #10207
Is this using OpenXR, Windows XR Plugin, or legacy built-in XR?

[2021-09-10 21:17] reeseras commented on #10198
If it helps, I also get this error when I try to upgrade:
![image](https://user-images.githubusercontent.com/26148056/132918273-0c5c2456-e5d4-457b-9e58-9c5a52b070c8.png)

Removing the file allows me to launch unity.

[2021-09-10 22:17] derekfreed opened #10212 "Missing Material References on Buttons"
## Describe the bug

On my team we found through our automated testing suite that there are buttons in MRTK Samples that have missing material references.

## Screenshots

![image](https://user-images.githubusercontent.com/10147303/132923262-d596fcf8-fc80-4990-b1ed-d7dbb6967fbb.png)

[2021-09-10 23:20] david-c-kline opened #10213 "Enable in-editor simulated boundary"
Customer question from slack

"Is there any way to display test boundary in editor (similar to test scene understanding data)?"

Today. the mechanism for getting boundary data in playmode is to trace your boundary using a VR headset and then have the headset attached when entering playmode.

MRTK v3 should consider providing one or more test boundary data sets to use when testing without an HMD.

[2021-09-11 07:10] #7629 closed

[2021-09-11 14:15] daffy76 commented on #9354
same problem

[2021-09-13 00:11] maradanovic opened #10214 "Depth Buffer Format settings"
## Describe the bug

Depth Buffer Format is set to 16 bit in Setting-> XR Plugin Management -> Windows Mixed Reality.
Despite this, I get "Depth Buffer Sharing has 24-bit depth format selected. Consider using 16-bit for performance." notification on play.

## Expected behavior

No notification on run.

## Your setup (please complete the following information)

- Unity Version [2019.4.16f1]
- MRTK

[2021-09-13 04:04] cherrysodalady commented on #9703
hi @keveleigh wanted to ask if your work in the branch is enough to allow mouse functionality in a unity MRTK hololens2 project? or if it still needs work (as I am having issues making the mouse input work on the hololens2 but it works within unity) thanks!

[2021-09-13 11:07] D0miq opened #10215 "Unity UI Button calls OnClick on both down and up events"
## Describe the bug

On HoloLens 2 when a button in a canvas gains focus, it starts to call its OnClick actions on both down and up events.

## To reproduce

I created two test projects. The first contains MRTK Example scenes and the second one just a canvas with a button. Both are attached in zip files.

[MRTKTestCanvas.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files/7153532/MRT

[2021-09-13 15:00] robbbbbb commented on #10200
I haven't made this a PR since the organisation of that hierarchy and its constructors seems like a question of taste. Happy to do so though, since all you really need is to add a second constructor to GenericXRSDKController that takes 4 arguments rather than 5.

[2021-09-13 15:08] robbbbbb opened #10216 "Samples can't be individually imported in MRTK Examples package"
## Describe the bug

Hitting 'Import' on the "Demos - Input" sample in the MRTK Example results in a scene with several broken prefab links. These all turn out to be references to the 'FigerChaser' prefab inside the "Demos - Utilities" sample, but without knowing that ahead of time you're stuck.

## To reproduce

Steps to reproduce the behavior:

1. Create a new project and import the MRTK Example

[2021-09-13 15:28] robbbbbb opened #10217 "HandJointChaserExample sample uses deprecated tracking targets"
## Describe the bug

The HandJointChaserExample from the MRTK Examples package is using deprecated TrackedObjectType values for all SolverHandlers in the scene. This results in all SolverHandlers defaulting to tracking the 'Head' target object type.

## To reproduce

Steps to reproduce the behavior:

1. Create a new project and import MRTK Foundation and Examples packages with the feature tool
2.

[2021-09-14 07:44] STak4 commented on #8785
I'm having the same problem on MRTK2.7.2.
NearInteractionGrabbable missing even if boxpadding is non-Vector3.zero. (EnsureComponent not working correctly?)

[2021-09-14 10:22] tv-gc opened #10224 "WebcamTexture locatable camera byte[] encoding problem"
## Overview
Hi!
I'm currently working on a project that requires sending a live feed from the Hololens' camera to an android device, over UDP connection.
I'm able to show the live feed on a RawImage, using WebcamTexture but even before sending to the packet, the byte[] conversion using .EncodeToPNG() (or Jpeg) scrambles the image.
The same code works sending the Android's webcam feed over to the H

[2021-09-14 13:51] Futo23 commented on #10207
@keveleigh Thank you for your reply. I'm using OpenXR.

[2021-09-14 17:58] polar-kev commented on #10212
Hi @derekfreed, which version of MRTK did you find this on and how did you acquire the MRTK packages (from the MR Feature Tool or from Github)?

[2021-09-14 19:23] derekfreed commented on #10212
This was from v2.7.2 and we've seen it both on feature tool and from source on github. Perhaps is this an intentional pattern for the buttons to have missing materials that can be assigned through the editor tools?

[2021-09-15 08:12] thibaultgrad commented on #8475
Thanks @keveleigh, i tested the culture specific issue and it did the trick. The coordinate space is also correct. The only problem i still have is the one with the "/".
Paint 3D or 3D Viewer won't open the exported obj file. The same file opens up well in SolidWorks or CAD Processor. It might be a Windows tools issue.
I check the obj file format specification and i saw that :

![image](https://us

[2021-09-15 17:31] seancheno commented on #10054
Just wanted to bump this thread and see if a potential fix of workaround to this issue has been found. Thank you.

[2021-09-15 17:38] polar-kev commented on #10224
Hey @tv-gc, I don't see anything MRTK related here so this is likely a Unity issue. Can you file a Unity bug and report the Unity bug number here?

[2021-09-15 17:48] polar-kev commented on #10214
Hey @radacadabra are you sure this was in MRTK 2.4? If so, could you please update to a later version of MRTK? I don't believe this was supported in MRTK 2.4.

[2021-09-15 17:49] polar-kev commented on #10212
@davidkline-ms, putting this on your backlog to look into.

[2021-09-15 17:52] polar-kev commented on #10170
Closing since reported as fixed during issue triage meeting.

[2021-09-15 17:52] #10170 closed

[2021-09-15 17:57] polar-kev commented on #8481
Hi @darsh2811, have you tried implementing this without MRTK? I suspect this may be an AR Foundation bug. If you see the drifting without MRTK in the scene you should post this issue on the Unity forum.

[2021-09-15 18:01] polar-kev commented on #8408
@anandmulay3, sorry for the delay. @elbuhofantasma can you try to reproduce this one?

[2021-09-15 18:24] RogPodge commented on #10198
Sorry for the late response, we're juggling some other feature work at the same time as our existing work.

Are you still experiencing this issue? If so, can you provide a package or some means of recreating the scenario shown in the video? We can't seem to reproduce the drift on our end.

[2021-09-15 18:25] RogPodge commented on #10152
ping on this @MiPa12

[2021-09-15 19:25] elbuhofantasma commented on #10054
Hello @seancheno I apologize for not giving any updates for this long. Some other duties took precedence until now.

I have not found a workaround just yet, as my investigation paused on this issue paused for a little bit. However starting tomorrow I am putting all of my focus on this repo's issues. This issue is first on my list tomorrow morning.

One suggestion I have to try until I conclude the

[2021-09-15 19:27] reeseras commented on #10198
Yes, I can create a package of the project, but how do you want me to get it to you? Github doesn't seem to like the .zip I put it in.

[2021-09-15 19:52] seancheno commented on #10054
Thank you very much for the reply and information. I am eager to see what you uncover after digging into this issue. Your time is greatly appreciated. I will look into the workaround, but am suspecting that with our current setup, switching back to legacy might cause some issues. Thus, really hoping for the best as you dig into this issue.  Will stay tuned.

[2021-09-15 20:55] RogPodge commented on #10198
A google drive link would be viable.

[2021-09-15 21:04] keveleigh commented on #8475
Huh! For whatever reason, I'm not having the same problem opening in the Windows tools :/ We shouldn't need the `//` from the spec, since we're writing out all three. Would you be able to drop me a sample obj to test on my end please?

[2021-09-15 21:17] reeseras commented on #10198
I think this will work:
https://drive.google.com/file/d/1qyYwB2G8ALn2FyaxtrGW_VjEkDX-6rfX/view?usp=sharing

[2021-09-15 21:36] ShayneRC opened #10225 "Hand-ray jittering with the Windows Mixed Reality plugin for Unity"
## Describe the bug

We had to do an upgrade to Unity 2020.3.13 and MRTK 2.7.2. With that came a few hurdles that we have overcome but the main issue we are having right now is the hand-rays start jittering after the hand being active for 5 seconds.

So I created a new unity project and added all the MRTK packages with 1 of the example samples (solver examples). Here are my findings:

•	I started

[2021-09-15 21:47] RogPodge commented on #10198
Thanks! I'll try to take another look at this when we have a bit more capacity from our other endeavors.

[2021-09-17 08:16] janezk7 commented on #10225
Was just about to make the same thread.
Noticed that if you move the hand out of view and let it be detected again, it sort of "resets" and its smooth again. But only for another 5 seconds, then starts to jitter again.
Most easily to see the jitter if you try to rotate just your wrist left and right (or up and down), while keeping the pointer in place.

[2021-09-17 21:38] keveleigh commented on #8757
It's possible we had some reprojection issues in those versions of Windows XR Plugin. We've been improving them over the past year. Are you still hitting this?

[2021-09-20 07:06] Spoon2311 commented on #10154
Any updates on this issue?

[2021-09-20 11:27] WikkidEdd commented on #10225
We've got the same issue. We've also noticed that the general performance seems way worse when using WMR XR plugin vs OpenXR. For example in the HandExamples scene we get <30 fps when using WMR XR plugin.

[2021-09-20 13:16] WikkidEdd commented on #10172
@markfrede I think you're expected to tick Spherical Harmonics to have the MRTK shader respect the environment lighting. I think you'd find that even using the Built-in Pipeline and the MRTK you wouldn't get true environment lighting (skybox as opposed to an single ambient color) without Spherical Harmonics.

When you don't have that ticked it falls back to a very old shader constant "glstate_ligh

[2021-09-20 18:24] polar-kev commented on #10225
Hey @elbuhofantasma, this is the issue I referenced at standup. Can you follow the repro steps and report back?

[2021-09-20 18:26] polar-kev commented on #10225
@ShayneRC, @janezk7 can you confirm that you saw this jitter while holding your hand still and that you were not rotating your hand at all?

[2021-09-20 19:00] ShayneRC commented on #10225
Yes this was happening while holding my hand still.

[2021-09-20 19:10] polar-kev commented on #10225
Thanks. @ShayneRC what are the specific ARR requirements you're referring to here?

[2021-09-20 19:12] ShayneRC commented on #10225
Using the OpenXR plugin causes our UI to be very wavy around the edges whereas the WMR plugin doesn't cause this.

[2021-09-20 20:00] Cameron-Micka commented on #8830
I spent some time last week looking at how we might better support the Universal Render Pipeline (URP) and remove the somewhat-hacky upgrade tooling we have right now.

After experimenting with the above suggestions I found we can do this rather easily in Unity 2020+; 2019 support is on & off due to various bugs; and 2018 support is non-existent. Here are the changes that make switching between re

[2021-09-20 20:14] polar-kev commented on #6826
Closing since tooltips were added when hovering over the various profiles in the Editor Inspector for the MixedRealityToolkit prefab as part of #10180.

[2021-09-20 20:14] #6826 closed

[2021-09-21 09:03] shoukailiang commented on #8796
Hello,I also need a solution.

[2021-09-21 10:21] tv-gc commented on #10224
Hi polar-kev
I've filed the bug on their forums but no answer yet.
Though, i managed to narrow down the problem.

If i choose this resolution 896x504, the image is converted correctly, which is the resolution used on power mode on...Hololens 1.
I don't know why i'm getting this while working on the second Hololens but the image is now converting correctly.
I'll wait and see what the guys there hav

[2021-09-21 14:58] keli95566 opened #10226 "Gestures Can not be Detected on Hololens2"
## Describe the bug

Gesture not detected on hololens2 using IMixedRealityGestureHandler<Vector3>

## To reproduce

Steps to reproduce the behavior:

1. Copy the ```GestureTester``` Gameobject from the MRTK example for the gesture event scene.
2. Paste the Gameobject in a new scene in the same project.
3. The above-mentioned things work. But I implemented almost the SAME code with a new game objec

[2021-09-21 16:02] polar-kev commented on #10224
Hey @tv-gc, thanks for the update. Can you post a link to your forum post here for others who run into the same issue?

[2021-09-21 17:25] powellsky opened #10227 "Swim Issue on HoloLens2"
## Steps to reproduce the issue using Unity and Hololens2
- Get checkered paper
- Create a cube with size 1x1cm (0.01 scale in Unity)
- Attach _ObjectManipulator_ to the cube (I also recommend adding _RotationAxisConstraint_ to block rotation on all axis)
- Re-position the cube where the paper is and match the cube with one of 1x1cm squares
- Look at the cube from different angles (good practice i

[2021-09-22 00:47] peterneil-bimholoview commented on #10225
Yes I can confirm (I work with Shayne).  Viewing the same asset on OpenXR vs WMR gives 60FPS vs 45FPS.

[2021-09-22 09:03] LocalJoost opened #10228 "Buttons cannot be clicked when Hand Physics Service is active with FingerTipKinematicBody selected in the Hand Physics Service profile"
## Description

MRTK buttons cannot be clicked when Hand Physics Service is active with FingerTipKinematicBody selected in the Hand Physics Service profile

![image](https://user-images.githubusercontent.com/4129183/134315223-3df8778d-9a83-47a5-9b06-9fd8f3d2b022.png)

## To reproduce

1. Pull [this repo containing a fully configured repro](https://github.com/LocalJoost/HandPhysicsButtonBlock) from

[2021-09-22 11:43] thibaultgrad commented on #8475
Here is the 2 files the modified is the one that opens with 3D Viewer the other one is the raw file exported by the unity app on Hololens 2.
As I said the raw one opens up well with SW or CAD Processor.

[XR SDK Windows Mixed Reality Spatial Mesh Observer.zip](https://github.com/microsoft/MixedRealityToolkit-Unity/files/7210341/XR.SDK.Windows.Mixed.Reality.Spatial.Mesh.Observer.zip)

[2021-09-22 12:12] FejZa opened #10229 "IconSet inspector is broken"
## Describe the bug

The inspector for custom icon sets is broken it seems and does not allow adding any icons.

![image](https://user-images.githubusercontent.com/9565734/134341195-d1bbddcf-be3e-47a3-ab84-dc60e204ff6a.png)

## To reproduce

Steps to reproduce the behavior:

1. Create icon set using `Assets->Create->Mixed Reality->Toolkit->IconSet`
2. Select the created file
3. See error

## Expec

[2021-09-22 12:27] 962557346 opened #10230 "Requesting access to Extended Eye Tracking API"
## Describe the problem
Hi!
I'm currently working on a project that requires left and right eye gaze vectors for obtaining eye gaze depth. Current Eye tracking SDK of HoloLens 2 doesn't provide left and right eye gaze vectors, only offering the single (cyclopean) eye gaze direction and hit position.

## Describe the solution you'd like
We found [Extended Eye Tracking SDK](https://github.com/magdav

[2021-09-22 17:42] polar-kev commented on #10230
Hey @962557346, I'll reach out to internal teams and get back to you.

[2021-09-22 17:43] polar-kev commented on #10229
Hey @FejZa, can you let us know which Unity version and MRTK version you saw this in?

[2021-09-22 17:46] polar-kev commented on #10228
Hi @LocalJoost, this sounds like it could be related to a past issue. Can you see if this solves your problem, https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8465#issuecomment-689727087

[2021-09-22 17:50] polar-kev commented on #10227
Hey @powellsky, this appears to be a platform limitation--a combination of the tracking and optical systems. I will share this internally to see what if there are any other opinions from other teams.

[2021-09-22 17:52] polar-kev commented on #8184
We'll be looking at this for MRTK v3

[2021-09-22 17:55] polar-kev commented on #7466
Hey @Holo-Viktor, is this issue still present in the latest version of MRTK? If it is please feel free to let us know and reopen this issue.

[2021-09-22 17:55] #7466 closed

[2021-09-22 18:00] polar-kev commented on #8440
We should look into this for the MRTK v3 public release.

[2021-09-22 18:40] LocalJoost commented on #10228
I tried. Setting this checkbox does unfortunately _not_ fix it.

[2021-09-22 19:18] elbuhofantasma commented on #10225
I have followed the repro steps with Unity 2020.3.18f1 and found that the issue reproduces 100% of the time as shown in the videos. I am currently looking into the cause of the issue.

The jitter occurs at every distance possible when pointing the Hand Rays at objects, though it is significantly less noticeable at closer distances to an object or the edge of a Spatial Mapping boundary and can easi

[2021-09-22 19:20] elbuhofantasma commented on #10225
@ShayneRC Would you please file a separate issue about the wavy UI when using OpenXR?

[2021-09-22 20:59] peterneil-bimholoview commented on #10225
For our application the wavy UI is 100% expected for Depth LSR + ARR because we are dealing with a combination of near local rendered assets (UI) and far ARR rendered assets.   That is one of the reasons whey we use Planar LSR as it does not have that problem.

[2021-09-22 22:52] polar-kev commented on #10229
@RogPodge, I saw this message from the HoloDeveloper Slack on this issue,

[2021-09-22 23:28] elbuhofantasma commented on #4881
SPIR is currently supported in the version of TMP that we use in the latest MRTK release, so I am closing this issue.

[2021-09-22 23:28] #4881 closed

[2021-09-23 00:38] 962557346 commented on #10230
Thank you very much. Looking forward to your prompt reply.

[2021-09-23 06:28] Merichbier opened #10231 "Missing documentation for Custom Input Data Provider"
While I usually find MRTK documentation well furnished, we had trouble while implementing a custom data provider profile.

We followed the documentation (https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/create-data-provider?view=mrtkunity-2021-05)

Then we did not understand why we couldn't set a profile on our custom input data provider. We haven't found help on in

[2021-09-23 07:09] FejZa commented on #10229
@polar-kev sure. This is

- Unity 2020.3.18.f1
- MRTK 2.7.2

[2021-09-23 10:11] Xudarker opened #10232 "Multi-user sharing issue"
I have followed the  Multi-user capabilities tutorial(https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-02)
 After being deployed to Hololens, and  when I open it, it seems crashed right away,

## Your setup (please complete the following information)

- Unity Version 2020.3.16
- MRTK Version 2.7.0
- ASA SDK 2.10.2
- MRTK.HoloLens2.Unity.Tutorials.A

[2021-09-23 10:41] WikkidEdd commented on #8408
This isn't an MRTK Shader issue. This is just an artifact of how most real-time renderers work.

When rendering transparency, to get correct rendering the triangles need to be rendered back to front. That is to say the triangles furthest from the camera should be rendered first followed by the next closest away and so on. Within a single object, most real-time renders won't sort individual triangl

[2021-09-23 11:54] PubEne commented on #10204
Any updates on that? I have the same issue. Is there any configuration that Holographic Remoting Player with OpenXR on 2.7.2 is working? Windows Mixed Reality mode stoped to work for me after update to OpenXR and 2.7.2 - only audio is streaming, app on HoloLens is stuck on "Receiving..."stage.

[2021-09-23 12:59] WikkidEdd commented on #10204
I've been using Holographics Remoting successfully today using the following configurations:

Unity 2020.3.6
MRTK 2.7.2
Mixed Reality OpenXR Plugin 1.0.1
Unity OpenXR Plugin 1.2.8
Holographics Remoting App Version 2.6.2.0

[2021-09-23 13:21] mihaits commented on #9307
I am also having this issue with runtime outline enabling/disabling. Another problem is that you can't use MeshOutlineHierarchy if you want to disable outlines since it can only be destroyed. It doesn't implement OnEnable/OnDisable.
My workaround is to disable MeshOutline components instead of destroying them.

[2021-09-23 14:55] PubEne commented on #10204
Thanks for response! Can You provide Your settings from XR Plug-in Managment section? Or are these settings the same as in screenshots above?

[2021-09-23 15:11] Softelectro opened #10233 "Crash when hovering gaze pointer on MeshCollider from AssetBundle"
## Describe the bug

Hovering the gaze pointer over an object with a MeshCollider component instantiated from an AssetBundle results in an editor crash.

## Additional context

The problem has allready reported and closed in an other thread #7632 but it still have it.

Now the issue is causse by
[code]

## Some tip that I've found to avoid it

First solution - Export assetbundle with 'Read/Write e

[2021-09-23 17:05] WikkidEdd commented on #10204
I have the same settings as in the screenshots.

[2021-09-23 19:30] WikkidEdd commented on #10233
We hit this same problem and implemented the exact same fix back in January, so no adverse effects ;)

We should have reported it back in January, but other things came up.

[2021-09-24 05:20] Kathy1211 commented on #10204
Thanks for your response!I'll try it again with the same version.

[2021-09-24 06:01] berndolauerto opened #10234 "Oculus Quest 2 Teleport stopped working with Integration tools v.30"
## Describe the bug

Since Oculus updated their Integration Tools to v30 (and above) I cannot use hand tracking combined with teleport anymore. The teleport is fixed to the controllers, even though when they are not even connected. They work with controller, but not with hand tracking.
Same for the hand rays to interact with MRTK buttons etc.

## To reproduce

Install Unity 2020.3, MRTK latest, Oc

[2021-09-24 08:23] WikkidEdd commented on #10117
We also have this issue. We had it on this setup:
Unity 2019.4
Legacy XR
MRTK 2.5.2
ARM

We actually correlated this to a Holographic Windows OS update. i.e with no change to the app and only changing the OS started producing this warning message. I believe it was the May release of 21H1 which caused it.

We've since upgrade to
Unity 2020.3
MRTK 2.7.2
Both ARM and ARM64
Both OpenXR and WMR XR.

Al

[2021-09-24 09:47] PubEne commented on #10204
I've tested with that configuration:
Unity 2020.3.6
MRTK 2.7.2
Mixed Reality OpenXR Plugin 1.0.1
Unity OpenXR Plugin 1.2.8
Holographics Remoting App Version 2.6.2.0

Before I was using Unity 2020.3.3 and Mixed Reality OpenXR Plugin 1.0.3.

After update Unity to 2020.3.6 and downgrade to Mixed Reality OpenXR Plugin 1.0.1 nothing has changed.

[2021-09-24 10:18] WikkidEdd commented on #10204
A few other things to look at perhaps:
HL OS Version: 20348.1014.arm64fre.fe_release_svc_sydney_rel_prod.210805-1444
OpenXR Runtime Version: 107.2108.5003.0 (Found in the device portal under OpenXR)

Could be worth checking your laptop/desktop windows version too. I've had issue with hand tracking not working when on an older version. I'm on 19043.1237

Try different video codec options instead of

[2021-09-24 14:39] 962557346 opened #10235 "Error: IOException: Attempted to Seek before the beginning of the stream"
## Describe the bug
In Unity, I used the NuGet to install the Microsoft.Windows.MixedReality.DotNetWinRT, and the error happened. However, I used the NuGet to install other package such as Microsoft.MixedReality.QR and no error happened.

## To reproduce

Steps to reproduce the behavior:

1. Create Unity Project.
2. Import MRTK.
3. Import NuGet.
4. Search Microsoft.Windows.MixedReality.DotNetWinRT

[2021-09-24 15:20] powellsky commented on #10227
I will add a note on that as we are struggling to find solution. We found out that this might be a micro-parallax effect explained by [Stanford Computational Imaging Group](http://www.computationalimaging.org/publications/gcstereo/). They introduced a solution to it via gaze-contingent stereo rendering technique. We are wondering what techniques are used by HoloLens 2 to overcome this issue? Also,

[2021-09-24 18:29] WikkidEdd opened #10236 "ShellHandRayPointer Cursor appears at origin for one frame when hand is detected"
## Describe the bug

When a hand is detected, the ShellHandRayPointer Cursor spawns at the origin of the scene and is visible for one frame before it is updated into the correct position. This happens both in editor and on the HoloLens. It is particularly noticeable on the HL when your hands are on the border of being detected and it flickers on and off rapidly.

The gifs shows the scene view poin

[2021-09-24 18:33] WikkidEdd commented on #10235
Microsoft.Windows.MixedReality.DotNetWinRT is supposed to be installed via the [Mixed Reality Feature Tool](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/welcome-to-mr-feature-tool) now.

![image](https://user-images.githubusercontent.com/1579290/134723692-31787035-b3a8-4411-9096-7c77a912f001.png)

[2021-09-25 01:41] 962557346 commented on #10235
@WikkidEdd Thank you very much. It works.

[2021-09-25 01:42] #10235 closed

[2021-09-26 14:23] 962557346 opened #10238 "Requesting access to Extended Eye Tracking API and enabling the custom capability."
## Describe the problem

Hi!
I'm currently working on a project that requires left and right eye gaze vectors for obtaining eye gaze depth. Current Eye tracking SDK of HoloLens 2 doesn't provide left and right eye gaze vectors, only offering the single (cyclopean) eye gaze direction and hit position.

## Describe the solution you'd like

We found [Extended Eye Tracking SDK](https://github.com/magd

[2021-09-26 18:02] BlackTr commented on #8955
There is no Pointer in HandTrackingInputEventData event. Is this example correct?
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/how-to-add-near-interactivity?view=mrtkunity-2021-05#touch-code-example

[2021-09-27 01:53] peterneil-bimholoview commented on #10225
Any update on this?  We have a App build that we cannot submit to Store until this jitter issue is resolved.

[2021-09-27 09:03] Softelectro commented on #10233
Thanks for your return. I keep this solution and hope microsoft team add it in a next release to avoid forget this modification.

[2021-09-27 13:44] AakashM29 commented on #4987
Can you please share the code here again with the updated datagram.socket ?

[2021-09-27 14:22] agzimmerman opened #10239 "Integration with Unity's UI Toolkit"
## Describe the problem

Recently UI Toolkit (`UnityEngine.UIElements`) provided the functionality needed to render its runtime GUIs on 3D objects in the world space and to interact with that GUI using a mouse. The features are available in their latest preview packages which work with the Unity 2020.3 LTS but also are now in the core of Unity 2021.2 beta.

Unfortunately this seems to only work wi

[2021-09-28 00:12] polar-kev commented on #10238
Hi @962557346, I'll be closing this as a duplicate of #10230. I will add the specific questions you mentioned here to the first issue you opened on this topic.

[2021-09-28 00:12] #10238 closed

[2021-09-28 00:13] polar-kev commented on #10230
Additional context provided by @962557346 in #10238
[code]

[2021-09-28 00:35] polar-kev commented on #10230
Hey @962557346, some answers to your questions.

**Do I need to request the custom capability? If don't need, how can I compile the script in Unity that uses the EyeGazeTrackerWatcher class successfully?**
Yes, you need to be granted access to use the Extended Eye Tracking SDK.

**If need, how can I contact the Microsoft Mixed Reality team? We found the URL. The instructions request us to reach ou

[2021-09-28 01:42] 962557346 commented on #10230
@polar-kev Hi, Kevin. Thanks for your reply. I have answered your questions on the HoloDeveloper Slack.

[2021-09-28 08:36] VickyNicholls commented on #9703
@cherrysodalady Did this branch work for you? I am also having mouse functionality issues, specifically the mouse click not working, but all other mouse functions working fine.

[2021-09-28 14:22] powellsky commented on #10227
Thank you for your suggestion. We are already using it. World Locking Context is in place, along with Adjustment frame, so everything is world locked.

[2021-09-28 16:37] cre8ivepark commented on #10101
@polar-kev I verified that the current content displayed in the Store is for HoloLens 1st gen (x86) It shows HL1 apps such as Holo Tour, Fragments, etc, including x86 version of my personal app. The store endpoint for the HL2 emulator needs to be properly updated.
Verified with the latest version of HL2 emulator as well. (10.0.20348.1018)

[2021-09-28 17:15] rolandsmeenk commented on #10227
Ok, good, and did you also apply pinning known reference points? Drifting occurs due to "the scale problem" and it may help to add multiple spacepins with known real world distances. Typically this is advertised for fixing larger scale drifting, but it may also help with smaller scale drifting although there still will remain errors due to the nature of inside-out tracking.

[2021-09-28 21:05] powellsky commented on #10227
@rolandsmeenk That was very informative. I tried using QR codes as known reference points. Each QR was statically positioned not far from my object of interest, I also added to my QR prefab; SpacePin.cs script provided by WorldLockingTools. Another method I tried was making my object of interest a child of space pinned QR object. Please correct me if I was doing something wrong, otherwise, could y

[2021-09-28 23:09] polar-kev commented on #10225
Hey @peterneil-bimholoview, no updates to share as yet.

[2021-09-28 23:31] polar-kev commented on #10225
@keveleigh, please post your updates here when you have them.

[2021-09-29 17:53] polar-kev commented on #10234
@berndolauerto, it sounds like you have a work around for now. Is there anything particular in the new package that makes this a pressing issue?

[2021-09-29 18:12] berndolauerto commented on #10234
I do not have a workaround since you cannot download previous version of the Integration toolkit from the Unity Asset Store. The version I have in a backup has OpenXR support in experimental mode and causes other issues.

I've spend couple of hours to get this to work with the current oculus tools, but wasn't able to find a workaround.

[2021-09-29 19:13] polar-kev commented on #10234
@berndolauerto, by workaround I was referring to this comment that made it seem like you got it working,

Thanks for the additional context.

[2021-09-29 21:44] reeseras commented on #10198
Ok, I tried a fresh installation of MRTK on a completely new project. I'm on Unity 2020.3.19f1 with MRTK 2.7. After loading it in I picked up a block and it had the same problem as above. For some reason I'm unable to record it off the computer, so I tried building it to the headset. Unfortunately, building it to the headset gives me a dialogue box requesting that I use controllers. I loaded the s

[2021-10-01 09:33] eusebiu commented on #9473
We are using this for a MRTK based app - https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview (only Standalone Windows because MSAL.NET is not supported directly on Android - one could use the native aar and a wrapper).
Are you looking for something else?

[2021-10-01 09:43] eusebiu commented on #8835
Will close this as we have a solution by using the custom SteamVR MRTK integration package - https://1drv.ms/u/s!Aq1jgNgVNaunk3LGFzgZZItE12Aw?e=9wqLk9

[2021-10-01 09:43] #8835 closed

[2021-10-01 09:45] eusebiu commented on #9864
Just FYI: That is using XR SDK, not OpenXR

[2021-10-01 09:51] eusebiu opened #10242 "Oculus hands&controllers not visible when using OpenXR on Oculus Runtime"
## Describe the bug

Oculus hands&controllers not visible when using OpenXR on Oculus Runtime.

## To reproduce

Steps to reproduce the behavior:

1. Install MRTK 2.7.2, Oculus runtime (latest)
2. Create a OpenXR profile based on the default one
3. Do the configuration in XR Management to use OpenXR and Oculus Touch controllers
4. Run app on Oculus Runtime.

## Expected behavior

Controllers and h

[2021-10-01 14:52] jasonhbartlett commented on #9836
Hello, I'm also having a problem with UnityEngine.Windows.Speech namespace working with Windows Mixed Reality/OpenXR.

I'm actually not even using MRTK. Also my target platform is Standalone>Windows.  I'm building a VR training app with Unity 2020.3 and OpenXR.  I've added the Mixed Reality OpenXR plugins with the MS Mixed Reality Feature Tool.

In my app the UnityEngine.Windows.Speech KeywordReco

[2021-10-01 17:25] larryNexus opened #10244 "If a hololens 2 goes to sleep while running a Unity OpenXR MRTK app with spatial awareness enabled, the app throws exception and runs poorly after resuming"
## Describe the bug

A hololens 2 app built in Unity using OpenXR with spatial awareness runs properly on launch until the device goes to sleep. After waking the device and resuming the app, the app throws this exception:

[code]

at

[code]

(See screenshot below for a more complete stack trace)

The application also runs very poorly from that point forward, at a frame-rate of approximately 15fps

[2021-10-01 20:19] larryNexus opened #10245 "If the Unity splash screen is disabled for an OpenXR hololens 2 app where spatial awareness is enabled, the spatial mesh is not built."
## Describe the bug

If the Unity splash screen is disabled for an OpenXR hololens 2 app where spatial awareness is enabled, the spatial mesh is not built. In the same project, if the splash screen is enabled, the spatial mesh is built and functions properly.

## To reproduce

Steps to reproduce the behavior:

1. Create an MRTK app in Unity for hololens 2 with spatial awareness enabled by followin

[2021-10-02 12:08] HerrKatzen commented on #8968
this is still a problem in MRTK 2.7.2

[2021-10-04 22:44] RogPodge commented on #10229
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9999

We've pushed in a fix for this, it looks like it just missed out 2.7.2 window. It'll be fixed in the next release!

[2021-10-04 22:45] #10229 closed

[2021-10-05 21:24] astaikos316 commented on #10165
@elbuhofantasma I have been trying to use the PointerUtils to try and re-enable the gaze cursor when hands are not in field of view, but the PointerBehaviour enums are not clear.  There is either AlwaysOn, AlwaysOff, or Default.  When hands aren't tracked, i would like to know how to re-enable the gaze cursor.  Tried setting the SetGazePointerBehavior to Default in a Start function of one mf my sc

[2021-10-06 15:06] SajjadRostami commented on #8860
Hi @brandf

I have faced the same error as you had. Did you solve it? Could you please let me know how did you solve it? Thanks

[2021-10-06 15:15] tletie opened #10247 "HoloLens native keyboard issue"
## Describe the bug

OS keyboard won't show up inside immersive app when place focus on text field while other app like edge is opened.

## To reproduce

Steps to reproduce the behavior:

When using the MRTK example hub app => go to "Hand Interaction Examples" => Keyboard Interaction => Keyboard => the os System keyboard is show up.
Now if user use the home gesture to bring up something like Edge

[2021-10-06 17:40] #7158 closed

[2021-10-06 17:50] polar-kev commented on #10247
Hey @tletie this sounds like a platform bug. Can you share what version of the Hololens OS you're running?

[2021-10-06 17:58] polar-kev commented on #10244
Will route this to the OpenXR team for further investigation.

[2021-10-06 18:31] cre8ivepark commented on #10154
Verified that this is not only for the Eye Tracking example scenes. I don't see a gaze cursor even if when 'Select' is recognized. It does not trigger any target objects (e.g. buttons)

[2021-10-06 20:01] b-huynh opened #10248 "MRTK Tools Build Window stuck in Importing Assets loop after accessing Visual Studio project."
## Describe the bug

Building an MRTK project using the Build Window provided in MRTK Tools, and then subsequently accessing the Visual Studio project to build an app package, causes the Unity Editor to get stuck in a loop of constantly "Importing Assets" indefinitely. This renders Unity unusable until it is restarted.

## To reproduce

1. Create an MRTK app for HoloLens 2 in Unity, following the

[2021-10-06 20:04] tletie opened #10249 "Immersive application voice commands stop working leaving and resuming"
## Describe the bug

Immersive application voice commands (utilize UnityEngine.Windows.Speech.KeywordRecognizer) stop working when user open other app like Edge, File Explorer while immersive application still running.

## To reproduce

Steps to reproduce the behavior:

- Create any immersive application on Hololens 2 that uses voice commands (utilize UnityEngine.Windows.Speech.KeywordRecognizer).

[2021-10-07 07:08] eusebiu commented on #10242
Hey @polar-kev - I don't think this has to do with Unity 2021. Does the scenario work on Unity 2020?

[2021-10-07 11:52] ChristopherManthei opened #10250 "Reprojection mode override on OpenXR does not work with Universal Render Pipeline"
## Describe the bug

When using OpenXR, there is an MRTK camera setting that lets you override the reprojection mode. However, when using URP, these settings do not have any effect.

## To reproduce

Steps to reproduce the behavior:

1. Use any MRTK project on HoloLens2 that was set up to use OpenXR and URP.
2. Goto **MRTK Settings > Camera > Camera Settings Providers > OpenXR Camera Settings**
3.

[2021-10-07 12:05] ChristopherManthei opened #10251 "Reprojection mode override on OpenXR does not allow for the focus point to be set"
## Describe the bug

When using OpenXR, there is an MRTK camera setting that lets you override the reprojection mode. However, when
setting it to **Planar Manual**, there is no way to set the focus point.

## To reproduce

Steps to reproduce the behavior:

1. Use any MRTK project on HoloLens2 that was set up to use OpenXR and the legacy renderer (URP doesn't work due to [another bug](https://githu

[2021-10-08 07:48] berndolauerto commented on #10242
This is the same behavior as my submitted bug. This has to do with the OpenXR implementation of the Oculus Integration Tools.

![image](https://user-images.githubusercontent.com/24796274/136518425-ca866137-0c21-4ea4-bca2-3ffd14f307fa.png)

[2021-10-08 08:37] eusebiu commented on #10242
OpenXR might not support all XR SDK features but at least the controllers should be visible, no? :)

[2021-10-08 16:51] MiPa12 opened #10252 "Motion Sickness Teleport System"
## Describe the problem

Hi, with the current teleport system provided by the mixed reality toolkit, I get motion sickness when moving back or turning.

## Describe the solution you'd like

Similar to the solution provided in the mixed reality portal (black shadows appear on the edge when turning or moving back):

https://user-images.githubusercontent.com/61323363/136593913-0c1fe757-16aa-47f9-aa5d

[2021-10-10 20:26] jbienz opened #10253 "InteractiveElementExampleScene is in SDK Package and cant be edited"
## Describe the bug

I'm interested in the Interactive Element feature described here:

https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/experimental/interactive-element?view=mrtkunity-2021-05

Unfortunately, it's not possible to view the **InteractiveElementExampleScene** because it's in the SDK and not in the Examples Package Manager package.

![image](https://user-imag

[2021-10-12 09:15] WikkidEdd commented on #10204
Which exact issue were you having @All-the-other-names-were-taken?

The important setting in that config is lockInputToGameView. Without that setting you should be seeing a warning triangle next to the OpenXR setting in your XR Settings

![image](https://user-images.githubusercontent.com/1579290/136927315-995c0247-a698-4be6-b835-873d7561a91d.png)

When you click the warning triangle it opens up a

[2021-10-12 09:55] MiPa12 commented on #10152
I made a little custom version and now it worked. Thanks again

[2021-10-12 09:55] #10152 closed

[2021-10-12 16:44] keveleigh commented on #7924
Closing as fixed via https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9938. Thanks for catching that, @osense!

[2021-10-13 03:35] tchemaly opened #10254 "An error occurred while resolving packages"
## Describe the bug

I created a new, empty, 3D Unity project and imported the Mixed Reality Feature Tool. I get the following error upon opening the project:

An error occurred while resolving packages:
  Project has invalid dependencies:
    com.microsoft.mixedreality.toolkit.examples: zlib: unexpected end of file

A re-import of the project may be required to fix the issue or a manual modificat

[2021-10-13 12:12] NiklasDanz opened #10255 "Rigidbody's velocity gets set to 0 after releasing from near interaction (workaround included)"
## Describe the bug

When trying to grasp and throw an object from close proximity (not pointer), the object is not keeping its previous velocity, but stops in mid air and falls down straight.

## To reproduce

Steps to reproduce the behavior:

1. Create a Cube with a Collider, a Rigidbody, a ObjectManipulator and NearInteractionGrabbable component attached.
2. Optional: Reduce the project's gravi

[2021-10-13 12:49] toshi211 opened #10256 "While the MixedRealityPlayspace is moving, manipulated objects using hand do not move as intended."
## Describe the bug

I had the following problem when using the MRTK toolkit.
Is there any solution to this problem?

While MixedRealityPlayspace is moving, the MRTK toolkit's "PinchSlider" and "CoffeeCup" are moving in unintended.
When MixedRealityPlayspace is not moving, they work without trouble.
("PressableButtonHoloLens2" can be pressed without any problem while "MixedRealityPlayspace" is mov

[2021-10-14 00:43] dallen-28 opened #10257 "slider"
## Overview

## Expected behavior

## Actual behavior

## Steps to reproduce
_(Links to sample github project preferred)_

## Unity editor version

## Mixed Reality Toolkit release version

[2021-10-14 03:26] toshi211 commented on #10256
@davidkline-ms Thank you for reply.
In "Coffee Cup", is it another bug or the same cause?

[2021-10-14 13:01] Florimondable opened #10258 "HandConstraint don’t work with Oculus (Link) Controller in OpenXR"
## Describe the bug

HandConstraint don’t work with Oculus Controller in OpenXR

## To reproduce

1. Configure your project with OpenXR plugin
2. Create a scene with MRTK toolkit and a gameobject with a HandConstraint Behaviour, add a cube as a child
3. Change at behaviour SolverHandler : Tracked Target Type -> Controller Ray
4. Play on Oculus with Link
5. The cube don’t follow the controllers

##

[2021-10-14 13:13] Audenrith opened #10259 "How to access the native GlobalCoordinateSystem pointer with OpenXR"
Before Unity 2019.3, one has been able to access the native pointer to the world `SpatialCoordinateSystem` via `UnityEngine.XR.WSA.WorldManager.GetNativeISpatialCoordinateSystemPtr()`.
Switching to Unity 2019 one is able to access the same pointer via `UnityEngine.XR.WindowsMR.WindowsMREnvironment.OriginSpatialCoordinateSystem` using the `Windows Mixed Reality` XR Plugin.
Can you describe the way

[2021-10-14 21:35] mins-verse opened #10260 "Azure Spatial Anchor doesn't work"
## Overview

Hi, I have a problem about Azure Spatial Anchor in the tutorial from Microsoft Document.

Here is the link:
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-05

I followed all instruction and the log showed me that it worked but the anchor wasn't updated.
In other words, the position and rotation of the object from each user was differ

[2021-10-15 01:05] #10040 closed

[2021-10-15 23:47] rolandsmeenk opened #10261 "UnityUIToggleButton is not setup as toggle"
## Describe the bug

UnityUIToggleButton is not setup to be an Interactable with Selection Mode Toggle.

## Expected behavior

I was hoping for a few more Volumetric UnityUI compatible controls especially controls that would match what is currently available for testing in SlateUGUIHoloLens2Buttons that is part of the HandInteractionExample.

## Your setup
- Unity Version 2018.4.36f1
- MRTK Develo

[2021-10-16 11:27] BensonMaZIHao opened #10264 "How to set left and right eyes to render different things in HPReverbG2"
I have two balls for left and right eyes in the VR project scene, but there is only one camera in the SDK. How can I set left eye rendering left eye and right eye rendering right eye ？

[2021-10-16 11:31] BensonMaZIHao opened #10265 "HPReverbG2 Handle display"
I did not find the handle preform in SDK2.7.2. How do I call the display in the scene ?

[2021-10-18 08:30] zxubian commented on #10236
Also experiencing this bug.

[2021-10-18 18:38] #10259 closed

[2021-10-19 04:02] BensonMaZIHao opened #10268 "Mixer Reality Input running error was added"
Why is it happen?
Error message :
Microsoft.MixedReality.Toolkit.XRSDK.WindowsMixedReality.WindowsMixedRealityDeviceManager has not set a value for IsEnabled, returning false.
Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Input.OculusXRSDKDeviceManager has not set a value for IsEnabled, returning false.

and
COMException
System.Runtime.InteropServices.Marshal.ThrowExceptionForHR (System.Int32 errorC

[2021-10-19 13:51] D4ykoo opened #10269 "EyeTrackingDemo - 03-Navigation Example broken, Eye Tracking scrolling text and more is not working"
## Describe the bug

The Demo **EyeTrackingDemo - 03-Navigation** is not working.

- **Auto Eye Scroll:** After building the project for Hololens 2 the whole text is shown without any scrolling behaviour (see screenshot 1).
- **Eye-supported Target Rotations:** Earth is not rotating.

That makes it impossible to create a auto eye scrolling text in a custom project.
## To reproduce

Steps to reprod

[2021-10-19 19:48] larryNexus opened #10270 "In Unity Hololens builds, a pointer reticle flashes at MRTK playspace origin when user hand tracking is lost"
## Describe the bug

In Unity Hololens builds, a pointer reticle flashes at MRTK playspace origin when user hand tracking is lost.

## To reproduce

Steps to reproduce the behavior:

1. Create an MRTK app in Unity for hololens 2 by following the MRTK project setup instructions  [here](https://docs.microsoft.com/en-us/learn/modules/learn-mrtk-tutorials/1-3-exercise-configure-unity-for-windows-mixed

[2021-10-19 22:54] wlewis55 opened #10271 "Unity app / MRTK not receiving input from connected Bluetooth & Wired Devices on HoloLens 2"
## Describe the bug

After the October 2021 update, Bluetooth Xbox controller and Keyboards (BT & Wired) do not connect to a Unity app running on an HL2. They can control the HoloLens OS - if you press the Windows/Xbox button it will open the start menu - but no input is received by the Unity application. I am testing this on a Unity application that I haven't changed the (controller/keyboard) cod

[2021-10-20 13:38] YisharPixelsHub commented on #10191
Looks fixed in Unity 2020.3.19+ and 2019.4.31 (I tested it in 2020.3.20)

Patchnotes for [2019.4.31](https://unity3d.com/es/unity/whats-new/2019.4.31) and [2020.3.19](https://unity3d.com/es/unity/whats-new/2020.3.19)

[2021-10-20 14:52] Gescheld opened #10272 "Problems using NearInteractionGrabbable with loaded Robot"
## Overview
Hi,
I loaded my robot into Unity using the Unity-Robotics Urdf importer, wrote my own controller to control the joints via ROS (TCP-ROS connection).
That all worked. Unfortunately, I cannot transform the robot, or the base-link, during runtime with the "NearInteractionGrabbable".
I have also tried to attach the robot to a movable empty object as a child, but that doesn't work either (a

[2021-10-20 17:51] polar-kev commented on #10272
Hey @Gescheld, are you able to use the near interaction grabbable and object manipulator scripts on a cube primitive in the same scene?

[2021-10-20 17:55] polar-kev commented on #10271
Hey @wlewis55, this is a known platform issue. We will update you here when we hear from the HoloLens platform team on this.

[2021-10-21 06:08] Gescheld commented on #10272
Hey @polar-kev,
yes, I can move everything else in the scene in game with near interaction grabbable and object manipulation [white cube to which the 2nd robot is attached - like in the gif  & the text].
I also thought that maybe I didn't activate the right properties of the robot.
At first I thought it might be related to the "immovable" property of the base-link - but it was not. Then I tried to

[2021-10-25 22:53] deibu opened #10275 "BaseControllerPointer.overrideGlobalPointerExtent logic is reversed"
## Describe the bug

BaseControllerPointer.overrideGlobalPointerExtent defaults to false, forcing all the default pointer prefabs to use their pointer extent instead of the global value in the Pointer Profile.

## Expected behavior

When overrideGlobalPointerExtent is false, it is expected that the global value from the Pointer Profile will be used.

## Your setup (please complete the following in

[2021-10-25 23:07] deibu opened #10276 "BaseControllerPointer.defaultPointerExtent not behaving correctly"
## Describe the bug

Increasing only the PointerExtent on the ShellHandRayPointer does not allow the pointer to hit objects far away. To get it to work properly, the DefaultPointerExtent also needs to be changed.

## To reproduce

Steps to reproduce the behavior:

1. Create a prefab variant of the ShellHandRayPointer
2. Change the PointerExtent to 1000
3. Add interactable objects far away (~900m)

[2021-10-26 14:04] FelixWeichselgartner opened #10277 "Object manipulation with variable control to display ratio"
## Object manipulation with variable control to display ratio

I want to precisely position an object with gestures. Therefore, I would like to use a 1:1 control to display ratio for rough positioning in the destination area and later use a e.g. 5:1 ratio for precisely reach my destination.

## Describe the solution you'd like

Introduce a float variable (for the object manipulator script), that c

[2021-10-26 14:52] MiPa12 opened #10278 "Disable/Enable OpenXR Device during runtime"
## Describe the bug

Hi, I need to switch between mulitple devices during runtime (Desktop, HP Reverb G2 and Hololens 2). Currently, I'm working on the device switch between Desktop and VR. When I disable XR with StopXR() and try to enable it afterwards with StartXR(), then I'm not able to provide Inputs to the motion controllers anymore. The headset is working fine, I'm able to see the controller

[2021-10-26 18:03] MaxFromDoqpal opened #10279 "System.IO.DirectoryNotFoundException on long file paths"
This method https://github.com/microsoft/MixedRealityToolkit-Unity/blob/83b9e5763a2a501d419bd722b0c0253fa9b93ba8/Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs#L139

in MRTK/StandardAssets/EditorUtilities searches the whole Unity project and its packages. It fails when it encounters a too long file path.

I got a "System.IO.DirectoryNotFoundException: Could not find a part of the pa

[2021-10-26 20:17] #10257 closed, assigned to nobody

[2021-10-27 12:24] 962557346 opened #10281 "Requesting for downloading the app "designing holograms" on HoloLens 2"
## Describe the problem

Hi. I want to download the app "designing holograms" on HoloLens 2. Because I can't open the Microsoft store due to the Web Proxy, so I download the app from microsoft website, but it tolds me that "It looks like you don’t have any applicable device(s) linked to your Microsoft account. To install, sign in on a device with your Microsoft account." However, I always sign in

[2021-10-28 13:21] dudziakl opened #10283 "Custom speech command label is overwrite by ButtonConfigHelper editor"
## Describe the bug

ButtonConfigHelper Editor script has bug that that overwrite custom speech command label when editor is opened. Value of Display Speech Command is not stored inside of button game object and custom editor cannot load unchecked state during loading that cause to overwrite value in See it / Say it label with default `Say "Select"`.

## To reproduce

Steps to reproduce the behavi

[2021-10-29 09:53] FlorianJa opened #10285 "Long press for Presablebuttons"
I would like to create similar button functionality as from the OS buttons in the start menu to open something like a context menu when a user pushes a button for a longer time (1 or 2 seconds).

The Interactable script provides the OnHoldReceiver with the functionlity I am looking for. However, this does only work properly when using the Far interaction. "Physically" pushing the button also trigg

[2021-10-29 22:28] polar-kev commented on #9800
@davidkline-ms, are we confident this is a Unity bug?

[2021-10-29 23:16] polar-kev commented on #10272
Hey @Gescheld, can you try disabling your custom scripts, adding a mesh for your robot arm into the mesh field of the "Mesh Collider" and let me know if ObjectManipulator/NearInteractionGrabbable work in that scenario?
![image](https://user-images.githubusercontent.com/30964480/139509881-328acf8d-8b68-4be1-80b8-29b3bf14d0c5.png)

[2021-10-29 23:29] polar-kev commented on #9853
Friendly ping on this @elbuhofantasma.

[2021-10-30 11:44] hanjianwei92 opened #10287 "The whole picture of the official unmodified scene example is flashing In HoloLens2"
## Describe the bug

Started with app open (Unity Logo appearing), The whole picture of the official unmodified scene example is flicker In Hololens2 with Unity2020 3.21f1c1 and MRTK2.7.2, But, This question doesn`t appear In Unity2019 and MRTK2.7.0(It work well in the same sample )

**Add**

   **Unity 2020 3.20f1c1 can work well in the same sample.**
.
## Your setup (please complete the followin

[2021-11-01 07:09] #10287 closed

[2021-11-01 15:56] anthony-simetri opened #10288 "Unity 2020.3.21f, 2020.3.22f1, and 2020.3.23f1 causes flashing/strobing effect on HoloLens 2 (Epilepsy Warning)"
## Overview
Scene Understanding example not rendering as intended.

## Expected behavior
Creates meshes for different parts of the scene

## Actual behavior
Creates meshes for different parts of the scene but frame rate is choppy and flashy.

## Steps to reproduce
Pasted development branch into new project
Installed Scene Understanding SDK with Mixed Reality install tool
Built and uploaded to Holo

[2021-11-01 15:57] anthony-simetri commented on #10288
UnityPlayer log attached

[UnityPlayer(14).log](https://github.com/microsoft/MixedRealityToolkit-Unity/files/7454503/UnityPlayer.14.log)

[2021-11-01 15:59] anthony-simetri commented on #10288
Uses Plugin managers rather than OpenXR

[2021-11-01 21:40] BarboraAtVResearch commented on #4268
Hi, it is now 2021 and sadly, the above-described behavior still remains for my Oculus Quest project using MRTK 2.7.2.0 . Is there any workaround, or anything I can do to see hands without the cubes?

[2021-11-01 22:48] radacadabra commented on #9290
Thanks, didn't know that!

[2021-11-02 15:20] provencher commented on #10198
I'm looking at this bug, and it reminds me of some of the behavior exhibited by the far ray pointers, where the distance from hand to head influences the offset from the grab point. It's designed like this to bring objects closer.

I'm wondering if the object manipulator here is setup in such a way that it's using that behavior for proximity grabs.
@reeseras my recommendation is to try and repro t

[2021-11-02 18:07] RogPodge commented on #10198
Extremely sorry I had not been able to look at this @reeseras, I got swamped with some high priority asks the week right after I promised to look at your project :(

I will try to get back to you later this week about my findings

[2021-11-02 18:43] polar-kev commented on #10288
Hey @anthony-simetri, thanks for reporting this. That flashing looks awful and I'm sorry to hear you experienced it. We did some digging and found that this issue is a Unity bug that was introduced in Unity 2020.3.21f. We've seen it across multiple example scenes, not just the scene understanding example. Unity is aware and working on a fix that is expected to be part of the 2020.3.22f release.

I

[2021-11-02 18:45] polar-kev commented on #10288
I am going to change the title of this issue to accurately reflect that it affects Unity 2020.3.21f across the board.

[2021-11-02 18:55] anthony-simetri commented on #10288
Ah. Thank you for looking into this.

[2021-11-02 20:08] elbuhofantasma commented on #10288
I have looked into this issue as well and found that not every way (example: ARM Release) to build MRTK HoloLens 2 apps are effected by this issue. Below you can find the results of my investigation and the effected architectures.

**Architectures WITH the flashing issue**
Unity 2020.3.21f1
_ARM64 Release_
_ARM64 Master_
_ARM Master_

**Architectures WITHOUT the flashing issue**
Unity 2020.3.21f1

[2021-11-02 21:36] tletie opened #10289 "Keyboard not shown up when immersive app and a 2D app like edge are running"
## Describe the bug

When an immersive application is running and user is focusing on a text input field, the virtual keyboard is shown just fine.
However, if we have Edge running together with the above immersive app, user focusing on text input field inside immersive => no virtual keyboard is shown up. Edge or any other 2D app that has text input field takes over the keyboard.

## To reproduce

[2021-11-02 22:18] keveleigh commented on #10225
Update! I believe I've narrowed down the underlying issue in Windows XR Plugin and have proposed a fix. I'll work with Unity to get it released and will update the thread when it's out there!

[2021-11-02 23:29] RogPodge commented on #10198
Hey @reeseras @jcellswo I didn't see a test scene in this project, just asset models and scripts.

Feel free to ping me in the holodevelopers slack directly and I can respond and tackle this issue much more quickly. There's also an active broader community of MRTK and Hololens developers on there!

Again super duper sorry for how long it's taken to revisit this.

Holodevelopers slack: https://join

[2021-11-03 08:44] iweinbau opened #10290 "MRTK BoundsControl destroys Box Collider or NearInteractionGrabbable"
## Describe the bug

When the` OnDisable()` function is called on `BoundsControl` The `NearInteractionGrabbalble` is removed when the `BoundsControl` has an `Bounds Override` assigne to it. Otherwise it removes the `Box Collider` attached to the same gameobject.

## To reproduce
1. Create a game object with a `BoundsControl`, `Box Collider` and `NearInteractionGrabbable`
2. Disable `BoundsControl`

[2021-11-03 09:00] iweinbau opened #10291 "Add support for WebXR"
## Describe the problem

As AR/VR web applications become more and more popular.  Adding support for WebXR would be a nice addition to the toolkit. In this way we can use all features the MRTK toolkit provide without having to rely on external packages.

## Describe the solution you'd like

Adding a new `Input Data Provider` to support WebXR and adding project settings for WebGL like we have now f

[2021-11-03 09:01] iweinbau opened #10292 "Add support for WebXR"
## Describe the problem

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context o

[2021-11-03 10:22] Nox7atra opened #10293 "Spatial Awarness System doesn't work in Holographic Remoting Player v2.7.1 from build"
## Describe the bug

Spatial Awarness System doesn't work in Holographic Remoting Player

## To reproduce

Steps to reproduce the behavior:

1. Follow steps from this tutorial (OpenXR) https://docs.microsoft.com/en-us/learn/modules/pc-holographic-remoting-tutorials/
2. Add HolographicRemoting prefab to any Sample scene with spartial awarness system and build. For example SpatialAwarenessMeshDemo

[2021-11-03 16:57] fxjoanny commented on #10260
Hi,
I have exactly the same issue.
To answer you :
1. Yes, I use OpenXR
2. When my Azure anchor os located successfully, I have a position with (2.7, 0.0, -1.1) and a rotation with (0.0, 0.5, 0.0, -0.9)

I hope it might help.
Thank you for your help.

[2021-11-03 19:19] reeseras commented on #10198
Thanks! I'll mention this in Slack, but meanwhile here's a video of the same thing happening in a blank version of MRTK 2.7.2 installed on Unity 2020.3.19f1. I installed it using the Mixed Reality Feature Tool. I didn't change any settings. I duplicated the blue block and rescaled it to make a shape similar to the syringes I was using in the original video. Everything seems to work as normal, so I

[2021-11-03 19:47] polar-kev commented on #10293
Hey @Nox7atra, we've seen some issues with Unity 2020.3.21f. Can you try testing on an earlier version of Unity 2020.3 LTS?

Also, which version of the Microsoft Mixed Reality OpenXR plugin are you using?

[2021-11-03 19:51] polar-kev commented on #10291
Hey @iweinbau have you explored this community contribution for webXR? https://github.com/Rufus31415/Simple-WebXR-Unity

[2021-11-03 19:57] polar-kev commented on #10290
Hey @iweinbau, when you re-enable bounds control does the NearInteractionGrabbable get re-added?

[2021-11-03 19:58] polar-kev commented on #10289
Thanks for filing this @tletie. We need to do some investigation to determine if this is an MRTK bug or a Unity bug.

[2021-11-03 21:01] iweinbau commented on #10290
No, once the nearinteractiongrabbable component is removed it remains removed even after activating the boundscontrol

[2021-11-03 21:04] iweinbau commented on #10291
Yes, but I was wondering if there would be native support in the future as this package does yet not support all interaction.

[2021-11-03 21:07] ChauNTran commented on #4268
you could clone the hand tracking profile and clear the references of those joints. That way the cubes won't get instantiated.
![shot](https://user-images.githubusercontent.com/18691055/140192375-0186ec42-a8fc-4f21-96fe-64fd075e7202.JPG)

[2021-11-03 22:17] polar-kev commented on #10291
Oh great. This is something that's on our radar for v3.

[2021-11-04 01:10] ShayneRC opened #10295 "Rogue mesh for OpenXR spatial mesh observer"
## Describe the bug

We have some rogue mesh appearing. It looks like chunks of mesh that are separate from the rest of the main spatial observer mesh. It appears separate because when we enable/disable or switch to occlusion/wireframe, it isn't affected and remains there. Sometime the mesh is the no-shader pink and sometimes it is just invisible. The main way we can recognise it is by the hand ra

[2021-11-04 06:20] Nox7atra commented on #10293
1.1.2

[2021-11-04 08:35] iweinbau commented on #10291
Oke, thanks we can close this issue.

[2021-11-04 14:00] vitorfgd commented on #8489
Could this be related to the string size? Starting from Library/ there are more than 200 characters, In my case, the full path have almost 300 characters. Also, there are no spaces which could also be a problem.

[2021-11-04 14:21] vogr opened #10297 "OpenXR/Vive: different hand models in play and build mode"
## Describe the bug

When using MRTK with an HTC Vive (SteamVR) using the OpenXR plugin, the hand visualizer used in play mode is the one specified in the MRTK options, but this option is not respected in the resulting build. Instead, the hands are shown using the gizmo models.

## To reproduce

Steps to reproduce the behavior:

1. Install MRTK with the OpenXR plugin, run SteamVR.
2. Connect an HT

[2021-11-04 14:22] vogr commented on #10297
Sorry, I hit CTRL-Enter and sent the bug report before I was finished writing it, I will complete it ASAP!

[2021-11-04 14:34] fxjoanny commented on #10260
After further researches, I found a solution [here](https://github.com/Azure/azure-spatial-anchors-samples/issues/307#issue-1020197758).
The AnchorModuleScript is missing the alignement stuff. It quite solve the problem for me.
Now the object correctly rotated but the object is at the place of the avatar for me.

[2021-11-04 17:23] qian256 opened #10298 "MRTK still activates when MixedRealityToolkit is disabled in scene"
## Describe the bug

When MixedRealityToolkit.cs is disabled in scene, MRTK still loads up when playmode starts / app starts. e.g. default gaze cursor is created.

## Expected behavior

MRTK should not run.

## Your setup (please complete the following information)

- Unity Version [e.g. 2020.3.21f1]
- MRTK Version [e.g. v2.7.2]

## Target platform (please complete the following information)

- Wi

[2021-11-04 18:10] istvanContXtual commented on #9354
Same problem,

Created a new icon set, Quad and Sprite Icons error in inspector panel:
"You cant nest Foldout Headers, end it with EndHeatherFoldoutGroup"

[2021-11-04 18:37] polar-kev commented on #10293
Thank you.
FYI @keveleigh. Is this expected on either of these versions?

[2021-11-04 19:45] keveleigh commented on #10293
It's not! From initial tests on the OpenXR plugin side, this may be MRTK-specific.

[2021-11-05 07:53] darksnakezero opened #10299 "MRTK never finishes on "Refreshing catalog""
## Describe the bug
When starting MRTK v1.0.2109.0 Preview, the start button is greyed out and the status "Refreshing catalog..." never changes.

## To reproduce

Steps to reproduce the behavior:
1 )Download the MRTK v1.0.2109.0 Preview
2) Unpack to Desktop\MRTK
3) Start the MRTK v1.0.2109.0 Preview via double-click
4) Wait for it to load.

## Expected behavior

After a while, the start button sho

[2021-11-05 07:54] Nox7atra commented on #10293
So maybe right now there are any workaround?

[2021-11-05 09:53] KuraiAndras commented on #7924
I have the same issue. I can't change the code, because MRTK is installed from the microsoft registries using UPM

[2021-11-05 16:53] polar-kev commented on #8408
Thanks @WikkidEdd. Closing this since it's not an MRTK issue.

[2021-11-05 16:53] #8408 closed

[2021-11-05 17:01] polar-kev commented on #10182
@keveleigh, is there anything outstanding for this issue?

[2021-11-05 17:12] keveleigh commented on #10182
Not that I'm aware of! Every change is in the dev branch. Just needs to be in a release.

[2021-11-05 18:35] keveleigh commented on #7924
We're planning on putting out a new release (likely later this month) to resolve this issue!

[2021-11-05 19:24] davidkline-ms commented on #10299
Thank you for the report. I will attempt a local repro!

[2021-11-05 21:56] reeseras opened #10300 "Green platform when building to Quest 2 from Unity?"
## Describe the bug

I don't know why this suddenly started happening, but all of my unity projects now create this green platform when I build them to the headset.

## To reproduce

I have no idea how to reproduce this.

## Expected behavior

No Green platform. Especially on older projects.

## Screenshots
![Incorrect Scene](https://user-images.githubusercontent.com/26148056/140582859-87187ae7-cc

[2021-11-07 04:45] jarrettd96 opened #10301 "MixedRealityPlayspace keeps being created, camera bug."
## Describe the bug
Hello, i recently converted my unity project to a MRTK and getting ready to export it to my hololens 2 for testing. I keep getting an error where i have a playspace already thats set as main camera but once i exit out of unity and reopen it, unity will duplicate the playspace and put the one i want as a child to the new one that was just made. This gives me an error were there

[2021-11-07 19:55] peterneil-bimholoview commented on #10295
I work with Shayne and have found another case where instead of pink or invisible mesh showing, actual mesh is showing as the rogue artifact. The first image is with the Spatial Observer enabled.  The second is with it disabled and there are a few rogue mesh artifacts left.
![20211104_174050_HoloLens](https://user-images.githubusercontent.com/58964321/140659761-1ae7e6c3-becc-4508-9c44-73fc8afc4ce9

[2021-11-08 13:17] Gescheld commented on #10272
Hey @polar-kev,
sorry for my late response.
Unfortunately, this does not work either. I also do not have a mesh of the entire arm but only of the individual joints & a urdf file.
In this [issue](https://github.com/Unity-Technologies/Unity-Robotics-Hub/issues/325) I was told that transformations via the inspector does not work with the articulation body, but you can use ArticulationBody.TeleportRoo

[2021-11-08 20:18] polar-kev commented on #10288
I'm going to keep this bug open until there is a fix published.

[2021-11-08 20:41] polar-kev commented on #10288
@elbuhofantasma reported today that this is still being seen in HoloeLens 2 ARM64 releases on Unity 2020.3.22f.

[2021-11-08 21:57] srinjoym commented on #10244
@polar-kev Any updates on this issue? I am hitting this exception when resuming from sleep in our apps as well

[2021-11-08 22:17] reeseras commented on #10300
As an update, it seems platform only appears if I have a roomscale guardian set up. If I use a stationary guardian it's not there.

[2021-11-09 00:04] anthony-simetri commented on #10288
The release notes on Unity 2020.3.22f only note that this is a known bug. It seems they have not fixed it yet.

[2021-11-09 08:14] bhtruong93 opened #10304 "Dropdown bug for right hand"
## Describe the bug

On HL2, we're unable to use the right-hand pinch gesture to scroll on a dropdown's options list. The left hand works as intended.

## To reproduce

Repo: https://github.com/bhtruong93/dropdown-bug
Build: https://github.com/bhtruong93/dropdown-bug/releases/tag/v1

Steps to reproduce the behavior:
1. Build and launch the app on a Hololens 2
2. With the left hand, confirm that th

[2021-11-09 18:23] polar-kev commented on #10293
No workaround yet @Nox7atra. Thanks for reporting this.

[2021-11-09 18:29] AMollis commented on #10304
@davidkline-ms , Our partner is hitting this odd issue.  Is this something we've seen before?  Do you know what might be faillng here?

[2021-11-09 22:03] #10198 closed

[2021-11-09 23:46] #10290 closed

[2021-11-10 10:14] SWARAVL opened #10305 "Unity app / MRTK not receiving input from connected Bluetooth Mouse on HoloLens 2"
Describe the bug
Bluetooth Mouse do not receive click and grab events to a Unity app running on an HL2. They can control the HoloLens OS - if you press the Windows, it will open the start menu. I am testing this on a Unity application. General movement seems fine as does scrolling but having issues with button clicks and grab object. They do not seem to be working. When tested on a unity editor, i

[2021-11-10 13:27] mihaits opened #10306 "Scene Understanding: selected surface types in inspector differ from actual behaviour"
## Describe the bug

This is happening to me when setting the surface types in the MRTK profile in inspector. It seems like the SpatialAwarenessSurfaceTypes enum isn't properly mapped to the dropdown. All I can say for sure is that Unknown corresponds to Floor now.
Setting IMixedRealitySceneUnderstandingObserver.SurfaceTypes flags in code works fine.

## To reproduce

Steps to reproduce the behavi

[2021-11-10 13:29] mihaits commented on #10306
might be a duplicate of #9987 but it's closed

[2021-11-10 13:44] mihaits opened #10307 "Scene Understanding: objects are rotated around the origin in editor playmode with remoting"
## Describe the bug

When using Scene Understanding through holoremoting, the returned spatial data objects are rotated around the scene origin (0, 0, 0) relative to where they should be with a seemingly arbitrary offset.

## To reproduce

Enable Spatial Awareness System.
Add a Windows Scene Understanding Observer.
Observe as the returned meshes/planes are offset from real world surfaces.

## Scre

[2021-11-10 15:05] PowZone opened #10308 "Heavy flickering"
I just created a new project, used MixedRealityFeatureTool to install all packages, applied recommented settings to project and scene for Hololens2 and added a sphere to an empty scene.

With Hololens 2 I can move around the sphere, but the entire scene flicker badly. Like the rendering jumps between eyes.

Versions:
- Unity 2020.3.21f1
- MRTK 2.7.2
- OpenXR 1.2.8

Platform:
- HoloLens 2

[2021-11-10 18:56] keveleigh commented on #10308
This is a known issue with Unity versions 2020.3.21f1 and newer. We're tracking it at https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10288, and Unity is tracking it at https://issuetracker.unity3d.com/issues/severe-flickering-in-unity-2020-dot-3-21f1-with-openxr-on-hl2?_ga=2.265488847.1383477956.1636396113-862490274.1597860099.

I'll close this as a duplicate of #10288, and we'll be

[2021-11-10 18:56] #10308 closed

[2021-11-10 20:16] wlewis55 commented on #10271
After talking with Microsoft Support, they said that the October update should have fixed controller issues and that input through MRTK should work... but they also said that I should be using the [Gamepad API](https://docs.microsoft.com/en-us/uwp/api/windows.gaming.input.gamepad?view=winrt-20348&preserve-view=true). Does anyone know if this is the case, and if so, would I be able to see a working

[2021-11-11 00:26] polar-kev commented on #10304
Hey @elbuhofantasma can you please do a repro of this on HL2?

[2021-11-11 21:16] davidkline-ms commented on #10232
Hello @Xudarker, would you be willing to post your configuration files and a screen shot of your XR SDK settings? The log _seems_ to be pointing toward a configuration issue.

Thanks!

[2021-11-11 21:21] polar-kev commented on #10153
@keveleigh, should this have been fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9843?

[2021-11-11 21:34] polar-kev commented on #10265
Hey @BensonMaZIHao, are you using LegacyXR or XR SDK for your project?

[2021-11-11 21:37] #10265 closed

[2021-11-11 21:46] keveleigh commented on #10153
Unfortunately, not fully. That only added support for OpenXR, but Windows XR Plugin support is still lacking.

[2021-11-11 21:53] polar-kev commented on #4257
Closing since there is now a rigged hand visualizer in v2 that meets this need.

[2021-11-11 21:53] #4257 closed

[2021-11-11 22:02] polar-kev commented on #4766
Closing this in favour of specific feature related issues that do not hold true to run time access/extensibility.

[2021-11-11 22:02] #4766 closed

[2021-11-11 22:11] polar-kev commented on #4069
Hey @LocalJoost, I'm happy to say that this is possible in our early builds of MRTK v3.

[2021-11-11 22:11] #4069 closed

[2021-11-11 22:19] polar-kev commented on #4576
@Zee2 can you confirm that this is solved in v3?

[2021-11-11 22:39] polar-kev commented on #10301
Hi @jarrettd96 it looks like your project has ended up in a weird state with the MixedRealityPlayspace gameobject not being named correctly. I recommend starting a new project and using the "Add to Scene and Configure" button to automatically configure your scene for MRTK.

[2021-11-11 22:39] #10301 closed

[2021-11-11 22:42] polar-kev commented on #10300
Hey @reeseras, if you go to the Boundary Visualization Settings section of the profile system, you can turn off "Show" under Floor Settings or change it to another color.
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/boundary/boundary-system-getting-started?view=mrtkunity-2021-05#configure-boundary-visualization

[2021-11-11 22:42] #10300 closed

[2021-11-11 22:45] polar-kev commented on #10298
Hey @qian256, what is the context in which you're disabling MixedRealityToolkit.cs and are there other error messages logged?

[2021-11-11 22:52] polar-kev commented on #10297
Hey @vogr, when you're in playmode, are you using your motion controllers to control the hands or are you using the mouse and keyboard for input simulation?

Does your scenario require hand detection? If so, have you considered using a leap motion controller with your vive for articulated hand support?

[2021-11-11 22:57] polar-kev commented on #10295
@peterneil-bimholoview, is this something you're able to reproduce? @ShayneRC mentioned that the issue with the pink mesh is random.

[2021-11-11 23:05] polar-kev commented on #10283
Thanks for filing @dudziakl.

[2021-11-11 23:07] peterneil-bimholoview commented on #10295
Unfortunately I am not what conditions cause this to happen.  Essentially we enable the spatial observer, then (after user action) we disable the spatial observer and sometime after that the rouge mesh sometime appear.  If it is straight after the disable then we will generally see mesh (bottom case), but if it occurs later in the session then the mesh will be 'no shader pink' or colorless.

[2021-11-11 23:09] cre8ivepark opened #10313 "Adding AWE2021 Auggie Awards Banner"
![AWE2021_AuggieAwards](https://user-images.githubusercontent.com/13754172/141381866-33907d26-53db-49a4-ba63-2c79132eb138.png)

[2021-11-11 23:09] #10313 closed

[2021-11-11 23:18] polar-kev commented on #4469
In MRTK v3, xbox controllers can move, rotate and pinch objects.

[2021-11-11 23:18] #4469 closed

[2021-11-12 02:25] Xudarker commented on #10232
hi, I'm using the default profile as below:
![image](https://user-images.githubusercontent.com/18206640/141398179-c7ae6b32-e42f-4481-a095-1ec485ca65ef.png)

and here is my xr setting
![image](https://user-images.githubusercontent.com/18206640/141396534-25277802-08f9-4000-aa51-104984eab911.png)
![image](https://user-images.githubusercontent.com/18206640/141398066-45289414-b295-48fd-ae3d-241baa12559

[2021-11-12 06:55] LocalJoost commented on #4069
Wow. I had all but forgotten this. :D Thanks

[2021-11-12 09:07] vogr commented on #10297
Hi @polar-kev, in play mode in that case I was using the motion controllers (the simulated input also works).

We don't need hand detection for our scenario, or at least not when using Vive+Controllers; but we are trying to use the same OpenXR project for both Vive+Controllers and Hololens 2 with hand detection.

We are using the joint data from a local user to display the hands (tracked or from t

[2021-11-12 15:37] tletie commented on #10289
@MaxWang-MS & @polar-kev  any update on the issue?

[2021-11-12 20:01] keveleigh opened #10318 "Hard to select the handles on BoundsControl in HandInteractionExamples"
## Describe the bug

I'm seeing some strange behavior on the objects in HandInteractionExamples which contain both BoundsControl and ObjectManipulator.

I weirdly was even able to get into a state where i was both selecting with my far ray (which wasn't turned off due to proximity for some reason) for movement _and_ grabbing the bottom corner with near interaction.

## To reproduce

Steps to repro

[2021-11-12 20:02] keveleigh commented on #10318
My first thought was this might be due to the recent changes in https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10296, but I tried reverting that and didn't see a change in behavior

[2021-11-12 20:22] reeseras commented on #10300
Thanks so much! Not sure how I turned this on or didn't notice it before.

[2021-11-15 01:04] MiPa12 opened #10321 "mixed reality toolkit camera issue"
## Describe the bug

I need to switch between multiple devices (Desktop and VR) so I need to switch between different cameras. When I start in the desktop mode an Event System, a Mixded Reality Input Module and a GazeProvider is added automatically to my Desktop camera component (because it has the MainCamera tag), but I only need those components when I'm in the VR mode (VR camera). How can I pre

[2021-11-15 16:44] keveleigh commented on #10297
This is likely caused by the bug tracked by https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9849.
Basically, the OpenXR integration into Unity works by spinning up two `InputDevice`s per hand/controller: one for providing the button/thumbstick/airtap/etc interactions and one for the hand joints.
MRTK currently makes an incorrect assumption that _only_ a hand can provide hand joints.

[2021-11-15 18:02] wlewis55 commented on #10271
@polar-kev I've confirmed that Xbox controller support works on MRTK with OpenXR, but not on a project set up with only the XR SDK providers. This should probably be updated in the MRTK documentation.

[2021-11-15 18:05] wlewis55 commented on #10305
@SWARAVL This sounds fairly similar to my issue #10271 . A possible solution may be to upgrade to 2.7.0+ and set up your project with OpenXR.

[2021-11-15 18:22] wlewis55 opened #10322 "Build Window should use USB Ncm instead of IpOverUsb"
## Describe the bug

The MRTK Build Window (Deploy Options) defaults to connecting to a HoloLens over 127.0.0.1. As per the MRTK documentation ( See [Using the Windows Device Portal](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/using-the-windows-device-portal) ), IpOverUsb is no longer recommended. The link/button "Open Device Portal" is now broken since http://

[2021-11-15 20:19] polar-kev commented on #10288
The fix for this should be in Unity 2020.3.24 that is targeting Dec 1st.

[2021-11-16 06:35] yeongjuBae commented on #10191
Hello?
I'm using 2021.1.12. Can't you fix it?
Currently, the version with this issue resolved is not available because the package manager has not been called normally.

[2021-11-16 18:04] polar-kev commented on #10322
Thanks for catching this @wlewis55.

[2021-11-16 19:44] SajjadRostami commented on #8860
It happens to me when my Internet bandwidth is weak. Try to increase your Internet bandwidth.

[2021-11-16 20:52] polar-kev commented on #10281
Hey @962557346, this is outside the scope of the MRTK team.  I recommend filing this bug on Feedback Hub.
You can find Feedback bug by selecting the Start  button, and then typing or selecting Feedback Hub.

Full instructions here: https://support.microsoft.com/en-us/windows/send-feedback-to-microsoft-with-the-feedback-hub-app-f59187f8-8739-22d6-ba93-f66612949332

[2021-11-16 20:52] #10281 closed

[2021-11-16 21:14] polar-kev commented on #10260
@mins-verse did this solution work for you as well?

[2021-11-16 21:31] DanDomingues commented on #10304
Ran into similar issues with the MRTK NonNativeKeyboard. Like @bhtruong93's issue, it only happens with the right hand and seems input-related.

After clicking the backspace button, it remains highlighted. When interacting with another button, the backspace button fires again. After investigation, seems to been an issue with the MixedRealityInputModule.cs class, which is not clearing **eventSystem

[2021-11-16 22:24] polar-kev commented on #10230
Closing as per our discussion on slack.

[2021-11-16 22:24] #10230 closed

[2021-11-16 22:25] polar-kev commented on #4693
Closing since this will be covered by Unity's input system/Unity abstractions in MRTK v3.

[2021-11-16 22:25] #4693 closed

[2021-11-16 22:47] polar-kev commented on #5009
Hey @Jordu29, this is not something that's currently supported in MRTK v2. After speaking with @Zee2, it is something that would be easy to support in MRTK v3. Given that this is an old issue and we haven't heard back from you, I'm going to close this request. Feel free to reopen if you would like to see it in MRTK v3.

[2021-11-16 22:47] #5009 closed

[2021-11-17 09:46] MiPa12 commented on #10298
Hi, I have the same issue. I need to disable MixedRealityToolkit, because I need to switch between different cameras/devices. More details to my problem are described in issue #10321 and #10278. So I tried to rename my other camera tags and keep the MainCamera tag only for the VR camera. When I start playmode with a different camera I need to disable the MixedRealitytoolkit otherwise it is searchi

[2021-11-17 13:17] MiPa12 opened #10328 "switch mrtk profile runtime"
Hi, is it possible to switch between profiles during runtime?
Thanks

My setup:
Unity Version [2020.3.17f1]
MRTK Version [v2.7.2]

[2021-11-17 13:37] MiPa12 commented on #10328
Found it in the doc....
MixedRealityToolkit.Instance.ActiveProfile = profileToUse;

[2021-11-17 13:37] #10328 closed

[2021-11-17 14:44] qian256 commented on #10298
@polar-kev my usecase is a remote app. So when app starts while remoting is not started, i want my app to be a normal 2D app, without gaze cursors and etc. Also at this time, there is no XR input, so gaze is really not useful. I would disable MRTK script, and expect MRTK to not run at this time. When remoting starts, I want to enable MRTK to load up all MRTK features.

[2021-11-17 18:44] polar-kev commented on #10304
@MaxWang-MS can you take a look at this?

[2021-11-17 18:54] davidkline-ms commented on #10321
@MiPa12, thank you for raising this issue. This is something we have thought about off and on since the beginnings of MRTK v2. Unfortunately, resourcing and other critical issues kept us from fully investigating proper camera management and switching between desktop and immersive environments.

Your idea of selectively enabling and disabling the Mixed Reality Toolkit object sounds reasonable. I wo

[2021-11-17 18:54] #10321 closed

[2021-11-17 20:24] davidkline-ms commented on #10295
This is something I recall addressing for the legacy spatial mesh observer. i am trying to repro now

[2021-11-17 20:37] davidkline-ms commented on #10295
while i get the project loaded, i thought i would jot down a few notes..

this feels as if there is a mesh bake in flight and the callback is not honoring the flag that indicates whether or not the observer should be running. the 'no shader pink' condition is a bit puzzling, but is something i will definitely look for cases where there may be confusion regarding _which_ material to apply

[2021-11-17 21:37] davidkline-ms commented on #10295
looking at the code, if my hunch is correct, this should impact all spatial mesh observers shipped in MRTK

[2021-11-17 21:56] peterneil-bimholoview commented on #10295
We only have seen this with the OpenXR plugin, and we did a lot of testing with the WMR Plugin before switching over.

[2021-11-18 15:05] AurelienConte commented on #7924
Hi, any ETA on this issue ?

[2021-11-19 00:33] julesra commented on #4954
Hi (in MRTK 2.7.2 with Hololens2), is there a reason why the MyPointerMediator is being created/destroyed at runtime ? I can't seem to store any data inside it unless I keep setting the data in Update(). The mediator seems to get destroyed every time my hands go off/on.
Just wanted to say in case this is not the intended behavior. Why doesn't the same mediator object get reused ?

[2021-11-19 07:56] WikkidEdd commented on #10225
That is good news. @keveleigh

Does this fix both the hand jitter and the performance issues?

Do you have any time frame for this? We switched to OpenXR to not be blocked by this, but there are blocking issues in OpenXR as well.

Our current options are:
1. Wait for OpenXR Fixes
2. Switch back to WMR XR Plugin when this fix comes out
3. Downgrade to Unity 2019 and Legacy XR

Any info you can shar

[2021-11-19 11:51] melixor opened #10333 "MRTK GridObjectCollection Vertical scroll limit"
## Describe the bug

i'm building a ScrollingObjectCollection by code. I'm having a problem consisting in a limit of vertical scroll dimension. In few words i'm not able to scroll to the end of items. Have anyone meet this problems and solved it? Thank in advance

## Your setup (please complete the following information)

- Unity Version [e.g. 2019.4.24f1]
- MRTK Version [e.g. v2.7.2]

## Target p

[2021-11-19 15:45] Piflik commented on #8377
Still the same issue with MRTK 2.7.2 and Unity 2020.3.20f1. Really annoying.

[2021-11-19 19:47] polar-kev commented on #10288
Unity has confirmed the fix will be in the 2020.3.24 release in this post here,
https://forum.unity.com/threads/flickering-issue-affecting-hololens-2-projects-in-2020-3-21-and-later.1200199/

[2021-11-19 23:37] MaxWang-MS commented on #10306
Closing as this is a duplicate of #9987 and the fix will be shipped soon!

[2021-11-19 23:37] #10306 closed

[2021-11-20 01:16] MaxWang-MS commented on #10289
After some investigation and also bringing this issue up with Unity we believe this behavior is due to a flaw/restriction in the WinRT API Unity/MRTK is calling so unfortunately we cannot fix the issue.

[2021-11-20 01:19] MaxWang-MS commented on #10247
Closing this issue as duplicate of #10289 (which also contains a video for the issue).

[2021-11-20 01:19] #10247 closed

[2021-11-20 01:32] MaxWang-MS commented on #9836
Hi @powerschaf, sorry for the delayed response. The issue you described seems to be a Unity bug. Could you file a bug with Unity by going to Help (in the Unity editor menu bar) → Report a bug... and post a link to the Unity Issue Tracker page once it's created so that the community can get updates on the bug? Thanks!

Regarding your need to register a large amount of strings for the use case you m

[2021-11-20 01:40] MaxWang-MS commented on #9836
Hi @jasonhbartlett, looking at the link you posted the issue seems to be tracked by both the Unity forum post and [a OpenXR sample repo issue](https://github.com/microsoft/OpenXR-Unity-MixedReality-Samples/issues/47), so please rest assured the issue you are seeing is being handled by the right people.

[2021-11-20 02:09] MaxWang-MS commented on #10307
Hi @mihaits, thanks for reporting this issue. We have yet to officially support Scene Understanding via Remoting due to a recently resolved limitation in one of our dependencies. We will add SU via remoting support in the coming release. cc: @keveleigh

[2021-11-20 02:40] MaxWang-MS commented on #10304
Hi @bhtruong93, thanks for reporting the issue. I have successfully reproduced the issue and am now looking for a fix.

[2021-11-22 13:50] ttkrpink opened #10334 "Mixed Reality Feature Tool Download Error"
## Describe the bug

After I click "Get Features" button, an error message shows up, indicating the download has failed. The log file is attached. Refresh catalog works fine though.

## To reproduce

Steps to reproduce the behavior:

1. Go to 'Discover Features.'
2. Click on 'Get Features'
3. Error message shown as shown and log atteched.

## Expected behavior

Feature tools should go to "Import F

[2021-11-22 14:13] lekhachoa opened #10335 "Mesh Resolution"
Hello,
Just a question: How much is the max Resolution of Mesh/Depth Sensor in Hololens 2. Can I set/push or so something to push every Meshes Resolution to 1 cm.  I did try change LevelOfDetail, and TrianglesPerCubicMeter but the mesh picture is not good enough

[2021-11-22 14:48] #10334 closed

[2021-11-22 16:03] rynaldi95 commented on #10297
Hi @vogr. I'm also currently trying to develop a VR application using HTC Vive Pro and MRTK using OpenXR. So far, I am only able to get the gizmo showing up even in the playmode. I am also unable to get the near interaction working. I have previously tried the near and far interaction without the headset and it's working fine. Do you mind sharing how you actually configure the project for Vive and

[2021-11-22 18:46] keveleigh commented on #10289
@MaxWang-MS Has this been reported/suggested to the platform team?

[2021-11-22 19:12] MaxWang-MS commented on #10289
@keveleigh Not yet, but not sure whether we have a path there as to fully resolve the issue a breaking change may be needed at the WinRT API level.

[2021-11-22 19:18] cre8ivepark commented on #10313
Design updated one based on AWE's official graphics asset.

![MRTK_AWE_AuggieAwards_2021](https://user-images.githubusercontent.com/13754172/142921914-0517c086-32c8-4029-a6e7-b221e9b83877.png)

[2021-11-22 20:05] tletie commented on #10289
Thank you @MaxWang-MS  and @keveleigh for looking/reponses to this. Is there a workaround or something like that can be done to get this solve or nothing we can do for now?

[2021-11-22 20:15] MaxWang-MS commented on #10289
Unfortunately, we are not aware of anything you could do to work around this at the moment. If the use case is really important to you, please share more information on the use case and we may be able to pass the information to some other teams. That said, there will be no guarantee on whether/when this will be fixed due to the fact that it's beyond our team and Unity's control.

[2021-11-22 20:22] tletie commented on #10289
@MaxWang-MS . Thank for the response.
The use case is any immersive application that need to use the text input field. Then we are in the app and then we need to open Edge browser to browse internet for some information that support the immersive app, or open a pdf files etc. In these case, we need to leave Edge open for the documentation but want to interact with text input of immersive app. This

[2021-11-22 21:54] pajama opened #10337 "Reading Mode Doesn't work with URP"
Reading Mode Doesn't work with URP. Likely because OnPreCall is never called. RenderPipelineManager events needs to be implemented.

Also RenderViewportScale doesn't work with URP, but I'm guessing this is an underlying Unity OpenXR issue?

## To reproduce
Switch to URP. Try the ReadingModeDemo.

## Expected behavior

Reading mode demo should perform as expected.

- Unity Version 2020.3.20f1
- MRT

[2021-11-23 13:16] horatiu665 commented on #10207
Hi. I have this issue as well, however my issue does not exist when I use MRTK packages 2.7.2 without URP, but exists as soon as I use URP. I am able to set which color should be in the background, but the alpha value does not matter and it always draws a dark (or colored) overlay in the background, instead of the expected transparent.

I have tried everything, but I am out of ideas.

I'm using Un

[2021-11-24 06:55] cclo-astri commented on #8785
Hi all,

I also encountered the same issue in MRTK 2.7.0

"NearInteractionGrabbable" will disappeared when the Gameobject (which also contains BoundsControl) disabled then re-enable.

In addition, the BoundsControl will become weird even I added back "NearInteractionGrabbable" in Unity Editor runtime.

My current work-around:

1. Remember the GameObject called OnDisable() (set flag)
2. Remember th

[2021-11-24 09:14] WikkidEdd commented on #10225
For anyone else tracking this issue. The package with the jitter fix is available now 4.6.1

https://docs.unity3d.com/Packages/com.unity.xr.windowsmr@4.6/changelog/CHANGELOG.html

It doesn't mention addressing any of the performance issues in the release note, but I'm going to give it a go.

[2021-11-24 15:33] YisharPixelsHub commented on #10191
@yeongjuBae For Unity 2021.1.x is fixed in version 2021.1.22 ([Patchnotes](https://unity3d.com/es/unity/whats-new/2021.1.22)).

There is no mention of the issue in patchnotes for Unity 2021.2.x or 2022.x, maybe it was fixed in the first release already, or still to be deployed.

[2021-11-24 17:45] keveleigh commented on #10225
I didn't do anything directly to address any performance issues you might be seeing, but the minor rework of source states I did _could_ help. Please let me know!

[2021-11-24 17:45] NLR-L opened #10339 "Unity 2020.2 - OpenXR Issues - Texture coordinate channel "0" not found."
## Describe the bug
I'm getting spammed with errors, which makes it impossible to read actual interesting errors messages. The focus provider might be broken aswell, but I'm not really using it at the moment.

I'm getting the following warning on startup:

[code]

And after startup I'm getting the following errors every frame.

[code]

## To reproduce

Steps to reproduce the behavior:

I've set up

[2021-11-24 18:47] polar-kev commented on #10339
Hi @NLR-L, which version of the OpenXR plugin are you using? I suspect you're not on the latest version. There were also some important fixes added in the dot releases. Can you update to MRTK 2.7.2?

[2021-11-24 18:50] polar-kev commented on #10337
Thanks for filing @pajama

[2021-11-24 18:51] polar-kev commented on #10337
FYI @KevinKennedy.

[2021-11-24 18:57] polar-kev commented on #10322
Hi @wlewis55, until we fix this, the current workaround is to change the Target Type so you can input your USBNcm IP address.

[2021-11-24 19:32] MaxWang-MS commented on #10333
Hi @melixor, could you share a video or a repro project with us so that we can take a look?

[2021-11-24 19:40] WikkidEdd commented on #10225
So far so good. The performance issues seem to be resolved too.

There is a small issue which I had to fix up. I was getting this error every time a hand came in to view.

`Could not create a device for 'Hand - Left (XRInputV1)' (exception: System.ArgumentException: Expected control 'positionAccuracy' to be of type 'AxisControl' but is of type 'IntegerControl' instead!`

Inside the HololensHand cl

[2021-11-24 23:22] NLR-L commented on #10339
My bad, I'm using MRTK v2.7.2.0, I've downloaded from the master a week ago, which was probably commit [a6471e7 ](https://github.com/microsoft/MixedRealityToolkit-Unity/commit/a6471e7c35d45db617a3b093fc6a689084b7df3a)since the last release had some errors in unity 2021.

As for OpenXR I'm using version 1.3.0.

![image](https://user-images.githubusercontent.com/44224883/143324785-819f9af7-70e8-4902

[2021-11-25 00:00] yeongjuBae commented on #10191
@YisharPixelsHub  Thank you for leaving comments.
However, it is currently unavailable due to issues that the package manager has not been called normally since 2021.1.22.
Just in case, the version we are using is January 12, 2021, so I requested it because it was patched to this version.

[2021-11-25 01:31] MaxWang-MS commented on #10191
Hi @yeongjuBae, please reach out to Unity directly as this is a Unity bug and thus beyond our control.

[2021-11-25 09:40] iweinbau opened #10341 "InteractableOnClickReceiver must be a non-abstract type"
## Describe the bug

When adding a receiver to an `Interactable `component I got the following error: ` 'InteractableOnClickReceiver' must be a non-abstract type with a public parameterless constructor in order to use it as parameter 'T' in the generic type or method 'Interactable.AddReceiver<T>()'`

## To reproduce
Create GameObject with an `Interactable` component e.g. Try to add an new receiver

[2021-11-25 09:47] xandrew94x commented on #10333
Hi,
I have a similar error.
Same Unity and MRTK version.

I noticed that when I put the objects in the container before playing scene the scroll object works well.

If instead I insert the objects in runtime, the container shows only the first objects and by activating the scroll they are not scrolled even though the objects are present. I mean, the scroll is activated, but trying to scroll, the a

[2021-11-26 15:45] iTreby opened #10342 "Kiosk mode and USB keyboard Input with the HL2"
## Describe the bug

Unity Keyboard Input doesn't work when HL2 is in single app kiosk mode.
I have a menu in a scene and using a USB keyboard I can interact with it.

## To reproduce

Steps to reproduce the behavior:

Build an application on Unity using MRTK
Enable Kiosk mode from HL2 Portal
Press a key on the USB keyboard
See if there is detection

## Expected behavior

Detection of the key pres

[2021-11-29 03:28] peterneil-bimholoview opened #10343 "World Locking causing inaccurate Spatial Observations extents"
With a brand new installation of our App the spatial observer will display correctly with the extents as expected (Point A). However, I shut down the application and move a few meters (Point B) and start up the application again no spatial observer is visible. I walk toward Point A and look back toward Point B and the Spatial Observer is visible at Point B.  I walk toward Point B and the spatial o

[2021-11-29 04:16] peterneil-bimholoview commented on #10343
Also, turning off WLT Auto-Load also stops this issue

[2021-11-30 10:52] KReguieg commented on #9888
Howdy y'all,

Great news indeed and thank you in general for the good and open work you provide! 💯

Nevertheless, I have a question: Can a statement be made about where in this graph MRTK will be located?

![image](https://user-images.githubusercontent.com/6112303/144033796-33400353-31c1-49fb-8dc5-4f524a2e8e71.png)

[2021-11-30 11:34] MSDNAndi commented on #7924
Later this month is pretty much today or not this month :) any chance?

[2021-11-30 12:11] whatever881 opened #10344 "Not able to debug in VS - Microsoft.MixedReality.QR.pdb could not be found in the selected paths"
## Describe the bug

Symbol loading for Microsoft.MixedReality.QR.dll was skipped because it is not specified in the included modules list

## To reproduce

Steps to reproduce the behavior:

1. Install  Microsoft.MixedReality.QR (NuGet) & MRTK
2. Try to debug

## Expected behavior

We should be able to debug app with Microsoft.MixedReality.QR.dll

## Screenshots

![Capture](https://user-images.git

[2021-11-30 17:40] keveleigh commented on #9888
I'd say it makes the most sense to me to put MRTK in the "Developer Tools" red layer with XR Interaction Toolkit and AR Foundation. We're building on both of those for v3, as well as building directly on some XR Subsystems (the blue area) where needed.

[2021-12-01 09:54] fast-slow-still commented on #10343
In the past, this issue has come from MRTK failing to transform the spatial mesh data from the coordinate space in which they are reported (e.g. by WinMR Plugin) into Unity's global coordinate space.

In general, low level systems like the WinMR Plugin or OpenXR Plugin are unaware of any transform that might be applied to the camera, for example the teleport transform in the MRTK Playspace. So tha

[2021-12-01 14:16] MilanPolle commented on #9354
This problem still exists in MRTK 2.7.2

[2021-12-01 15:51] fast-slow-still commented on #10343
@peterneil-bimholoview , are you using MRTK v2.7.2 from a release package (either .unitypackage or from MRFeatureTool), or is it the latest from the MRTK github main branch? Thanks!

[2021-12-01 19:26] peterneil-bimholoview commented on #10343
Hi @fast-slow-still we got the MRTK and WLT from the MRFeatureTool.

Some more background, all with the same MRTK, WLT and Unity versions

WMR Plugin: 4.5.0
Axis Aligned Cube = Observer Extents Correct
User Aligned Cube = Observer Extents Incorrect

OpenXR Plugin:
Axis Aligned Cube = Observer Extents Incorrect
User Aligned Cube = Observer Extents Correct

WMR Plugin: 4.6.1
Axis Aligned Cube = Obse

[2021-12-01 19:31] RogPodge commented on #9354
The fix is checked into the main repo but is not yet released in one of our official packages.

We are looking to put out a release which contains this bug fix before end of the year, so stay tuned

[2021-12-01 19:35] MilanPolle commented on #9354
Thank you for your reply! I downloaded the fix and applied it to the mrtk core package, this solved the problem.

[2021-12-01 21:35] julesra opened #10346 "BoundsControl missing documentation of some properties"
## Describe the issue
The page for BoundsControl doesn't describe some of the properties (ex: BoundsCorners, Active). Please explain what these are.

## Feature area
Missing documentation

## Existing doc link
https://docs.microsoft.com/en-us/dotnet/api/microsoft.mixedreality.toolkit.ui.boundscontrol.boundscontrol?view=mixed-reality-toolkit-unity-2020-dotnet-2.7.0

## Additional context
PS: I used

[2021-12-02 00:16] MaxWang-MS commented on #10346
Hi @julesra, thanks for letting us know about the issue. The API reference doc you linked was automatically generated from the source code by tools so there is no feedback button there. Here (this repo) is the best place for you to report issues regarding the API reference docs.
@Zee2 Could you take a look and add the missing comments when available?

[2021-12-02 00:21] MaxWang-MS commented on #10339
Hi @NLR-L, from your screenshot it seems that you are not using the latest version of **Mixed Reality OpenXR plugin** (under the Packages - Microsoft section). Please use the Mixed Reality Feature Tool to update it to the latest version (as of now is 1.2.0) and let us know if that solves your issue. Thanks.

[2021-12-02 00:25] keveleigh commented on #10304
On some investigation with @MaxWang-MS, this is looking to be because the OpenXR plugin is reporting HoloLens right hand select across both button 0 (the offending button the InputModule is reading as "submit"), while Window XR Plugin reported it button 15. Looking at https://docs.unity3d.com/Manual/xr_input.html, those correspond to `primaryButton` and `triggerButton` respectively. I'll follow up

[2021-12-02 02:19] #10307 closed

[2021-12-02 02:21] MaxWang-MS commented on #10342
Closing this one as a duplicate of #10053

[2021-12-02 02:21] #10342 closed

[2021-12-02 02:29] MaxWang-MS commented on #10053
Hi @mindfreaak, could you share an update with us on whether it work for you?
@iTreby Could you use the OpenXR plugin and see if the issue is still there? Note you likely need to enable both the new and old input systems at the same time when using OpenXR. Regardless whether it works in OpenXR or not, the issue is very likely to be a Unity bug. Could you file a bug with Unity by going to Help (in

[2021-12-02 08:48] Kent1LG opened #10347 "[ObjectManipulator]Runtime physics not working after remove and add again a rigidbody"
## Describe the bug

Hi everyone. I'm currently trying to allow userto enable or disable the objects collision in runtime.
As far as the Rigidbody can't be disable, I tried to removed it and add it again in order to disable then enable the physics.
In this situation (which is the same manually or by script), when I removed Rigidbody from the object, it lost is collision behaviour (this is what I w

[2021-12-02 09:42] kkyuri0419 commented on #9354
@MilanPolle
I am facing the same issue with MRTK 2.7.2
May I ask what do you mean by you downloaded the fix?

[2021-12-02 09:54] MilanPolle commented on #9354
@kkyuri0419 the file with the fix is here: [https://raw.githubusercontent.com/RogPodge/MixedRealityToolkit-Unity/02f3e41f650a14eb744b41507270fea0d0470d6a/Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs](url)

Open the /packages/MixedReality folder, in your Unity project and then open the toolkit.foundation tgz file there (with 7Zip, for instance).

In the tgz file, navigate to /packag

[2021-12-02 19:34] iTreby commented on #10053
Hello, thank you for the reply.
On my original ticket, I meant to say that both input system are on but I am using the old one in my code.
I am continuing @mindfreaak work, I was able to update everything needed to match the versions noted by @elbuhofantasma
(In Unity 2019.4.28f1 with XR SDK and MRTK 2.7.2) but once I set up kiosk mode from the portal I still can't detect.
I will try to use OpenXR

[2021-12-03 03:00] kkyuri0419 commented on #9354
Thank you so much @MilanPolle !! it perfectly works!

[2021-12-03 03:52] peterneil-bimholoview commented on #10295
Just seen this with WMR Plugin.

[2021-12-03 08:07] vahpy opened #10349 "WindowsMicrophoneStreamDemo doesn't work if AlreadyRunning"
## Describe the bug
MicStreamSelector doesn't work in [WindowsMicrophoneStreamDemo ](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Examples/Demos/Audio/Scripts/MicrophoneAmplitudeDemo.cs) if initialize returns AlreadyRunning

In `Awake()` method of MicrophoneAmplitudeDemo.cs if `initialize` method returns AlreadyRunning, it calls return in `Awake()` and then `StartSt

[2021-12-03 08:09] MilanPolle commented on #9354
@kkyuri0419 Glad to hear that! Thanks for letting me know.

[2021-12-03 09:35] xandrew94x opened #10350 "MRTK ScrollingObjectCollection doesn't work correctly"
Hi,
I'm building a ScrollingObjectCollection, but the objects inserted in the list do not scroll correctly.

I noticed that when I put the objects in the container before playing scene the scroll object works well.

If instead I insert the objects in runtime, the container shows only the first objects and by activating the scroll they are not scrolled even though the objects are present. I mean, t

[2021-12-03 13:02] Holo-Krzysztof opened #10351 "MRTK-Quest prefab instance problems with Unity 2020.3.24"
## Describe the bug
After importing MRTK 2.7.2 into Unity 2020.3.24 and trying to open one of the MRTK-Quest prefabs I get these error messages:
[code]

## To reproduce

1. Import MRTK 2.7.2 into a Unity 2020.3.24 project
2. Open one of the MRTK-Quest prefabs
3. Observe errors about missing components

## Expected behavior

I'd expect all the prefab components to exist.

## Your setup (please comp

[2021-12-03 15:39] fast-slow-still commented on #10343
@peterneil-bimholoview Hi Peter, I'm going to try to have a look at this this weekend. I was hoping you could clarify something for me. Which of the following statements would you say best describes the issue you are seeing?

1. The spatial mesh appears offset from the physical geometry that it is supposed to represent.
2. The spatial mesh is aligned with the physical geometry, but the area being

[2021-12-03 19:32] polar-kev commented on #10295
@peterneil-bimholoview, was this still a random event or is it happening consistently now?

[2021-12-03 19:34] peterneil-bimholoview commented on #10343
Hi @fast-slow-still No.2 is the problem we are seeing.  If you have trouble reproducing the issue I have side-loadable version of our App which shows the issue.

[2021-12-03 19:43] peterneil-bimholoview commented on #10295
@polar-kev still intermittent.  This was the first time I have seen in with WMR, but with OpenXR it occurs in about 1;4 application sessions.  However, it may relate to the Observer Shape being User Aligned Cube rather than the plugin type.  Our OpenXR version is running User Aligned Cube, and we just switched our WMR version from Axis Aligned Cube to User Aligned Cube and saw the issue. But I nee

[2021-12-03 20:25] frere97 opened #10352 "hand not rotating when using XR plug-in management"
the virtual object used to represent the hand will follow your hand but will not rotate until you lose the focus of the window.

https://user-images.githubusercontent.com/35118366/144668157-6924d363-4e4f-4eaf-984b-244c458c3ff5.mp4

obs: for a temporary solution i'm minimizing and maximizing the game by code.
obs 2: i'm using the XR plug-in management, this is the open XR configuration Tab

![image

[2021-12-03 20:54] elbuhofantasma commented on #10288
I am closing this issue, but keeping it pinned since these versions will always be susceptible to this issue. On 12/2/2021 Unity released Unity 2020.3.24f1. I can confirm that this version fixes the screen flashing problem noted in this issue.

We are now recommending Unity 2020.3.24f1 for the latest MRTK supported Unity 2020 LTS.

[2021-12-03 20:54] #10288 closed

[2021-12-03 22:08] #10182 closed

[2021-12-03 23:36] peterneil-bimholoview commented on #10225
Been doing some testing on the 4.6.1 WMR version, but I am getting some really bad z-fighting type artifacts.  But only on some assets.  OpenXR and 4.5 WMR work fine

[2021-12-04 00:27] MaxWang-MS commented on #10295
@peterneil-bimholoview Just to clarify is this the same as #10343 or these two issues are different?