[2021-05-20 18:17] arunrajselvaraj commented on #8915
@JPhilC I closed this bug by mistake. Still I are facing this issue.

[2021-05-20 18:46] keveleigh commented on #9492
@atiemark Update! I just opened #9843 for MRTK 2.7 which will add gesture support when running on OpenXR

[2021-05-20 18:50] keveleigh commented on #9520
Looks like the bug fix on the Windows XR Plugin side shipped in the latest versions across Unity 2019, 2020, 2021, so I'm going to close this tracking issue out.

[2021-05-20 18:50] #9520 closed

[2021-05-20 19:10] JPhilC commented on #8915
Funnily enough this started happening for me when I changed the Managed Stripping Level from Low to Medium. I changed it back and the problem went away.

[2021-05-20 20:19] davidkline-ms commented on #9812
fixed with #9842

[2021-05-20 20:19] #9812 closed

[2021-05-20 20:20] davidkline-ms commented on #9821
Fixed with #9842

[2021-05-20 20:20] #9821 closed

[2021-05-21 00:34] cre8ivepark commented on #9574
Stared draft document
https://github.com/MicrosoftDocs/mixed-reality-pr/pull/2976

[2021-05-21 02:28] ahmedaniss25 commented on #8460
Problem fixed here : https://youtu.be/w6cRuLJQ7E0

[2021-05-21 02:36] keveleigh commented on #9499
@dilmerv Another update: it looks like the latest Unity OpenXR package (1.2.0) should have better support for Quest! I haven't been able to test myself, but I was told they added better support for the Oculus deployment tools for Android.

[2021-05-21 02:39] MaxWang-MS commented on #9833
Glad to know that ARM worked for you. We have seen some infrequent cases where ARM64 builds do not work as intended potentially due to some external (e.g. compiler) issues, so I suggested that you try ARM instead. In general, I would still suggest you use ARM64 but since you are hitting this issue you can probably just target ARM before you update to a newer version of MRTK, which in some cases so

[2021-05-21 09:08] laultman opened #9848 "Out dated and Missing from New Documentation Site Related to #6355"
The new documentation for Bounds Controls discusses the use of configurations. The reader is unable to find the necessary commands to actually complete the task of creating the configurations to be shared.

## Feature area
Usage is missing.

## Existing doc link
[here](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/bounds-control?view=mrtkunity-2021-0

[2021-05-21 14:51] #9811 closed

[2021-05-21 14:59] Rego363 opened #9849 "Hand tracking for HP Reverb G2 controllers"
## Describe the bug

I was able to get hand tracking on the Reverb G2 controllers when I first added MRTK to my project. I could see the models, move them, point and close my hands yesterday. Over night it appears to have stopped working. I can no longer see the models and the gameobjects for the models are in the hierarchy anymore. I don't remember changing anything to make this happen.

## To re

[2021-05-21 17:07] keveleigh commented on #9492
Fixed for OpenXR via #9843

[2021-05-21 17:07] #9492 closed

[2021-05-21 17:14] elbuhofantasma opened #9851 "Shader errors are generated when building for iOS"
## Describe the bug

When the user attempt to build on a mac for iOS, Unity generates several shader errors in the console during the build process. This issue will sometimes cause the build to fail. on the first attempt. This issue also happens in Unity 2019 and Unity 2020 with OpenXR and XR SDK.

## To reproduce

Steps to reproduce the behavior:

1. Setup your project for iOS
2. build any exampl

[2021-05-21 17:21] elbuhofantasma opened #9852 ""Compressed texture IconMRTKLogo is used as icon" warning is generated when building for iOS"
## Describe the bug

On every build for iOS with Unity 2019 and Unity 2020 with OpenXR and XR SDK, 19 "Compressed texture IconMRTKLogo is used as icon" warnings are generated. This issue occurs with every iOS build.

## Screenshots

![Image 5-21-21 at 10 15 AM](https://user-images.githubusercontent.com/65038391/119174745-d37dff80-ba1d-11eb-97c2-bf446f9bf0da.jpg)

## Your setup (please complete the

[2021-05-21 17:34] elbuhofantasma opened #9853 ""Script attached to Sphere in scene is missing" warning is generated when building example scenes"
## Describe the bug

On certain builds a "Script attached to Sphere in scene is missing" warning is generated. This issue occurs in Unity 2019 and Unity 2020 with OpenXR and XR SDK.

## Screenshots

![Image 5-21-21 at 10 27 AM](https://user-images.githubusercontent.com/65038391/119176461-fe695300-ba1f-11eb-9d43-152d66e632c0.jpg)

## Your setup (please complete the following information)

- Unity V

[2021-05-21 17:41] keveleigh commented on #9853
I'm pretty sure I've seen this in non-iOS builds as well. I don't think it's an MRTK issue, since I couldn't find anything in the scene named "Sphere".

[2021-05-21 17:56] davidkline-ms commented on #9839
resolved with #9844

[2021-05-21 17:56] #9839 closed

[2021-05-21 18:39] elbuhofantasma opened #9855 ""Script attached to _PlaneThatCallsIntoPlugin in scene" warning is generated when building for iOS"
## Describe the bug

On every build for iOS the "Script attached to _PlaneThatCallsIntoPlugin in scene" warning is generated. This issue occurs in Unity 2019 and Unity 2020 with OpenXR and XR SDK.

## Screenshots

![Image 5-21-21 at 10 27 AM (1)](https://user-images.githubusercontent.com/65038391/119183582-214c3500-ba29-11eb-8312-46bb1cb1f89c.jpg)

## Your setup (please complete the following info

[2021-05-21 19:05] elbuhofantasma opened #9856 ""Script attached to DefaultOpenXRCameraSettingsProfile is missing" warning is generated when building for iOS"
## Describe the bug

On every build for iOS a "Script attached to DefaultOpenXRCameraSettingsProfile is missing" warning is generated. This issue occurs in Unity 2019 and Unity 2020 with OpenXR and XR SDK.

## Screenshots

![Image 5-21-21 at 10 28 AM](https://user-images.githubusercontent.com/65038391/119186335-cfa5a980-ba2c-11eb-8c80-8c91bba7a77e.jpg)

## Your setup (please complete the following

[2021-05-21 20:15] elbuhofantasma opened #9857 ""The MRTK Standard Shader was not found" warnings are generated when importing MRTK into a new project"
## Describe the bug

When the user imports the MRTK Foundation and Examples packages to a new project, they generate 5 "The MRTK Standard Shader was not found" warnings. This issue happens with .unitypackages, UPM packages, and a fresh clone of the 2.7 stabilization branch. It also happens in Unity 2019 and Unity 2020.

## To reproduce

Steps to reproduce the behavior:

1. Create a new Unity Proje

[2021-05-21 20:21] elbuhofantasma commented on #9853
I am seeing this in other non-iOS builds as well. I am changing this issue to remove the iOS specific info.

[2021-05-21 20:49] cwule commented on #9831
[Here is a video](https://youtu.be/jAuhiX9f5XA) showing both the weird hand poses and the camera flipping back and forth.

[2021-05-21 21:50] davidkline-ms opened #9858 "Release notes: add note about #9723"
The team is working with Unity, who can reproduce #9723 in our scenario and possibly some others. For 2.7.0, this should be documented in the release notes

[2021-05-21 22:02] davidkline-ms commented on #9723
Contacted Unity. They are able to repro this issue (and potentially in a similar scenario). Moving this to the 2.x future milestone.

[2021-05-22 03:37] RogPodge opened #9861 "Oculus controllers not visualized without Oculus Integration package"
## Describe the bug

This PR: #9589 makes it so that the Oculus controllers don't use the MRTK controller visualizations by default, since the Oculus Integration Package comes with it's own visualization. We need to have a visualization in the case that the Oculus Integration package is present.

## To reproduce

Steps to reproduce the behavior:

Deploy on Oculus without importing the Oculus integ

[2021-05-22 04:45] MaxWang-MS commented on #9817
Just managed to create a reliable repro (at least on my end)
Environment: OS 10.0.19042, Unity 2019.4.26, VS 2019 16.9.6, HL2 OS 21H1 20346.1002
UPM package used: https://dev.azure.com/aipmr/MixedRealityToolkit-Unity-CI/_build/results?buildId=18985&view=artifacts&pathAsName=false
Steps to repro:
1. Create a new Unity 2019.4.26 project
2. Switch to UWP platform
3. Import the standard assets and fou

[2021-05-23 03:01] jbienzms opened #9863 "AsyncCoroutineRunner Callable without Instance"
## Describe the bug

It is possible to `Post` actions to [AsyncCoroutineRunner](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Core/Utilities/Async/Internal/AsyncCoroutineRunner.cs) that will never get executed. This is because it's possible to `Post` actions without an instance of `AsyncCoroutineRunner` ever getting created. If the instance is never created, actions

[2021-05-23 03:13] jbienzms commented on #9863
@MaxWang-MS and @keveleigh, I wanted both of you to be aware that this bug affects [DemoSceneUnderstandingController](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs) and the Scene Understanding sample. I tried to create my own app that used Scene Understanding and it took over an hour

[2021-05-24 11:39] jorgejgnz opened #9864 "HTC Vive Pro controllers are not being tracked"
## Describe the issue
According with [documentation for MRTK 2.6](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/supported-devices/controllers-mrtk?view=mrtkunity-2021-01), _many controllers, such as HTC Vive Knuckles and HTC Vive Wands, will work natively once an application built with MRTK is launched on the compatible device._

After installing XR Plug-in Management package a

[2021-05-24 15:16] davidkline-ms commented on #9853
@elbuhofantasma, what is the specific scene that is being built? Is this a batch build?

[2021-05-24 16:35] keveleigh commented on #9861
Fixed by #9862

[2021-05-24 16:35] #9861 closed

[2021-05-24 17:41] keveleigh commented on #9863
I agree! Looking at the code, it was initially confusing to us why it _wasn't_ getting auto-created. All the public paths I could see (`AwaiterExtensions.GetAwaiter*`) ended up queuing up an `Action` that calls `AsyncCoroutineRunner.Instance`, which should create the component if needed.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/c6a869097ecf8f68a986772aea9569b70243351b/Assets/MR

[2021-05-24 19:11] jbienzms commented on #9863
Awesome! Thank you so much for following up with the detail and for getting this one scheduled!

[2021-05-24 19:33] keveleigh commented on #9817
Looking at the logs and tracing through, I _think_ this is to do with the scenario described at https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9681#discussion_r616305946. At the time, we chose not to take action.

I think the reason we're hitting it with these repro steps is that, by default, Unity builds the app using Template3D as the package name. Windows caches the subsystems list

[2021-05-24 20:13] Cameron-Micka commented on #9851
This seems like it could be a dupe of this issue: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/6359

It's hard to see what the shader compilation issue is based on the output. But, my guess is the Metal shader compiler is warning us about fixed or half type conversions. We could "fix" this by changing all types to full floating point precision, or do a sanity check of all conversi

[2021-05-24 20:19] torynfarr commented on #7100
I'm experiencing this issue as well using MRTK v2.6.1 and Unity 2019.4.25f1.

[2021-05-24 20:35] davidkline-ms commented on #9460
@eusebiu, are you able to reproduce this on the Unity 2020 LTS (2020.3)?

[2021-05-24 20:41] davidkline-ms commented on #9852
does not impact the ability to build/properly run the application. moving to 2.x future.

[2021-05-24 20:42] davidkline-ms commented on #9855
does not impact the ability to build/properly run the application. moving to 2.x future.

[2021-05-24 20:42] davidkline-ms commented on #9856
does not impact the ability to build/properly run the application. moving to 2.x future.

[2021-05-24 20:43] davidkline-ms commented on #9857
this also occurs on Windows. Has been around for several releases. does not impact the ability to build/properly run the application. moving to 2.x future.

[2021-05-25 00:18] davidkline-ms commented on #9717
Question for folks. Are you using the Unity XR SDK pipeline or the built-in "legacy xr" one?

I have been able to repro what looks like this, but only in the following scenario:
* Unity 2019.4
* XR SDK / Windows MR

I am using the prerelease of MRTK 2.7

[2021-05-25 00:19] davidkline-ms commented on #9717
There are no other required steps. Just import the package into the project and use the API

[2021-05-25 00:39] MaxWang-MS opened #9867 "XR SDK Remoting moves MixedRealitySceneContent to random place"
## Describe the bug

Using remoting causes MixedRealitySceneContent to be moved to a position with very large/small y value.

## To reproduce

Steps to reproduce the behavior:

1. Create a new Unity 2019.4.26 project
2. Switch to UWP platform
3. Import the standard assets, foundation, extension and example UPM packages
4. In the configurator that pops up, choose xr sdk, follow the instructions
5.

[2021-05-25 00:58] keveleigh commented on #9867
Interesting...the MixedRealitySceneContent is marked as "align with head height", which means it should align with the camera on start-up. I wonder if the camera happens to be reporting some completely wrong position at the time we try to align? @RogPodge have you seen this?

[2021-05-25 01:32] keveleigh commented on #9642
@javdavalos In the latest Windows XR Plugin releases, the manual connection option is restored! Uncheck "Connect on Play" and the button will return:

![image](https://user-images.githubusercontent.com/3580640/119426626-68068d00-bcbe-11eb-976c-a9a1982d4043.png)

[2021-05-25 01:33] #9642 closed

[2021-05-25 02:09] RogPodge commented on #9867
I have not seen this errror though I imagine it's what's causing the bug... I'll investigate it as I start looking into XR SDK remoting

[2021-05-25 02:47] tianliang0314 opened #9871 "Mixed Reality Feature Tool crashes after click Discover Features"
## Describe the bug

Mixed Reality Feature Tool crashes after click Discover Features

## Screenshots

![image](https://user-images.githubusercontent.com/13743806/119432106-5668c800-bd46-11eb-8611-8a907a8d41bc.png)
when i click the discover button ,the tool window closed after few seconds. and i find the log,it shows below:
![image](https://user-images.githubusercontent.com/13743806/119432280-a2b4

[2021-05-25 08:46] eusebiu commented on #9460
I haven't tested on that version. If this is not reproducible on the LTS, you can close it.

[2021-05-25 10:51] mbpictures commented on #9682
Thanks for fixing this! Is there an ETA for 2.7?

[2021-05-25 12:51] JSWorkspace1 opened #9872 "Exception when unloading contentscene with ScrollingObjectCollection"
## Describe the bug

Following Exception is being repeated per Frame in the editor log:
`MissingReferenceException: The object of type 'ClippingBox' has been destroyed but you are still trying to access it.
Your script should either check if it is null or you should not destroy the object.
Microsoft.MixedReality.Toolkit.Utilities.ClippingPrimitive.CheckTransformChange () (at Library/PackageCache/c

[2021-05-25 13:29] torynfarr commented on #7100
Here's a suggested workaround:

When you need to disable the teleportation system, have a script change the layer of all the teleportation hot-spots / surfaces in your environment to a layer other than the one you've defined as valid for teleportation.

This won't prevent the teleportation arc / beam from being displayed when the user makes the hand gesture... but it will prevent them from telepor

[2021-05-25 14:29] fast-slow-still opened #9873 "Hand mesh off OpenXR w/ non-identity playspace"
## Describe the bug

The hand meshes display in the incorrect position with OpenXR, when the playspace has a non-identity transform.

## To reproduce

Steps to reproduce the behavior:

1. Open HandInteractionExamples scene
2. Set the X position of the MixedRealityPlayspace object to 1 meter.
3. Build and deploy to HoloLens2, using OpenXR as the XR plugin.
4. Run application
5. You will start up on

[2021-05-25 17:48] keveleigh commented on #9682
Current ETA is the 27th!

[2021-05-25 19:03] elbuhofantasma opened #9878 ""DirectoryNotFoundException" error is generated when attempting to start a Holohraphic Remoting session"
## Describe the bug

In Unity 2019.4.x when the user attempts to initiate a Holographic Remoting session on XR SDK, the session fails to start and generates 2 errors in the Unity Console.

## To reproduce

Steps to reproduce the behavior:

1. Create a new Unity 2019 project
2. Import the MRTK with the UPM or .unitypackages and configure for XR SDK
3. Open an example scene
4. Set up the project for

[2021-05-25 19:42] keveleigh commented on #9087
If you're using the legacy Windows Mixed Reality package, you'll need to [additionally install DotNetWinRT](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/tools/holographic-remoting?view=mrtkunity-2021-01#legacy-xr-setup-instructions).

If you're using Windows XR Plugin with an MRTK version pre-2.7.0, you'll need to make sure you're [using the correct profiles](https://

[2021-05-25 19:42] #9087 closed

[2021-05-25 19:45] keveleigh commented on #8930
Hand mesh over remoting isn't currently supported, as [the APIs aren't supported](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/holographic-remoting-troubleshooting#limitations).

Hand joints not working does sound like the DotNetWinRT issue if you're using legacy Windows Mixed Reality. If you're using Windows XR Plugin, it could be related to [MRTK

[2021-05-25 19:53] elbuhofantasma commented on #9460
@eusebiu I was unable to repro this on the LTS or with the versions that you listed above. I am closing this issue since it seems to be fixed in the LTS.

[2021-05-25 19:53] #9460 closed

[2021-05-25 20:27] keveleigh commented on #9878
This is a bug on the Unity package side. I've proposed a fix for it, and it should be released in a future package. Removing some tags as this isn't an MRTK issue.

[2021-05-25 20:38] D3m0n92 commented on #9783
Anyone?

[2021-05-25 22:41] keveleigh commented on #9682
Fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9868

[2021-05-25 22:41] #9682 closed

[2021-05-25 22:41] keveleigh commented on #9586
Exceptions fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9868

[2021-05-25 22:41] #9586 closed

[2021-05-26 00:36] #9867 closed

[2021-05-26 06:03] Avinash0795 opened #9882 "NullReferenceException: Object reference not set to an instance of an object"
## Describe the bug

Upon playing and stopping the developed Scene, the Interactable Script (in whichever Gameobjects attached) are not accessible in the inspector. Upon clicking the interactable script in the inspector window I get this Error:

**NullReferenceException: Object reference not set to an instance of an object
Microsoft.MixedReality.Toolkit.UI.Editor.InteractableInspector.TryGetInputA

[2021-05-26 07:18] tjhappy opened #9883 "MTRTK2.54 Hololens2 can't get button status when using Xbox one"
## Describe the bug

Hololens2 can't get button status when using Xbox one.
But in unity edit mode, i can get the key status。

## To reproduce

Steps to reproduce the behavior:

1. using “HandInteractionExamples.unity”
2. start HandInteractionExamples

## Expected behavior
Get key status，like “JoystickButton0，JoystickButton1...”

## Screenshots

## Your setup (please complete the following informa

[2021-05-26 08:48] ChasingD commented on #8034
Same issue

[2021-05-26 15:25] fschmidmichels opened #9884 "Scene Understanding Example - White intransparent background on HL2"
## Describe the bug

I'm having a white intransparent overlay while using the SceneUnderstandingExample-Scene from the Examples. See the screenshots. I expect the white to be transparent or see-trough to see my real room in the background. There are some small areas where I can see through, but I cannot say why. These "black" or see-through areas have nothing to do with the features in my (real) r

[2021-05-26 17:08] elbuhofantasma opened #9885 "Holographic Remoting does not fail to connect to device gracefully on OpenXR"
## Describe the bug

When the user has configured the MRTK for Holographic Remoting but does not have their device running the Holographic Remoting app and presses the Play button, Unity and OpenXR will not handle the failure to connect gracefully. Unity will become unresponsive while the in-editor player is active, but the Play button will respond to being clicked while in this state so it is pos

[2021-05-26 17:12] keveleigh commented on #9885
This looks by-design to me. The remoting feature will continue to attempt to connect until you tell it not to. How would you prefer it to behave otherwise? @elbuhofantasma

All the warnings are also by-design. The idea is that you call the API and it either succeeds or it doesn't depending on the OpenXR feature being supported. All these cases should have appropriate fallback behavior, with the lo

[2021-05-26 18:00] davidkline-ms opened #9888 "Plan of Record: Adopt XR Interaction Toolkit as the foundation of MRTK v3"
Currently (v2.x) the Mixed Reality Toolkit implements a collection of core systems that
provide, in part, a level of platform abstraction that enables developers to use their
choice of Unity (2018 LTS, 2019 LTS, 2020 LTS), XR platform (built-in XR, XR SDK, OpenXR)
and hardware.

With the creation of XR Interaction Toolkit (XRI), Unity now provides much of what the
MRTK v2.x built into our foundati

[2021-05-26 18:19] davidkline-ms commented on #9779
Marking external as the mic stream is managed in an external repository. Will continue investigating as a flaw in that component/script set.

[2021-05-26 18:19] davidkline-ms commented on #9717
Marking external as the mic stream is managed in an external repository. Will continue investigating as a flaw in that component/script set.

[2021-05-26 18:40] keveleigh commented on #9856
Fixed via #9880

[2021-05-26 18:40] #9856 closed

[2021-05-26 18:40] MaxWang-MS commented on #9817
Fixed via #9869

[2021-05-26 18:40] #9817 closed

[2021-05-26 19:27] elbuhofantasma commented on #9545
I can confirm that this issue is fixed by #9419 and is not present in 2.7 with XR SDK and OpenXR on Unity 2020.3.7f1

[2021-05-26 19:27] #9545 closed

[2021-05-26 21:41] keveleigh commented on #9873
Fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9875

[2021-05-26 21:41] #9873 closed

[2021-05-26 21:52] keveleigh commented on #8770
This should be fixed across the latest Windows XR Plugin releases!

[2021-05-26 21:52] #8770 closed

[2021-05-26 21:53] wlewis55 opened #9891 "Windows Mixed Reality Eye Gaze Data Provider Not Available"
MRTK 2.6.1 and 2.6.2 do not contain the WindowsMixedRealityEyeGazeDataProvider.

![image](https://user-images.githubusercontent.com/4706315/119734340-d8411a00-be48-11eb-9ee1-d7fd7e0c7973.png)

When I try the _**Try Repair**_ button, I get the foloowing pop up window.

![image](https://user-images.githubusercontent.com/4706315/119732159-d7f34f80-be45-11eb-9806-83e45f27c2be.png)

This is similar to

[2021-05-26 22:15] keveleigh commented on #9516
This should be fixed in the latest Windows XR Plugin releases. Please re-open if not!

[2021-05-26 22:15] #9516 closed

[2021-05-26 23:04] keveleigh commented on #9165
The head-lock issue should be fixed in the latest Windows XR Plugin releases, and the stuck hand tracking should be fixed via #9890 in the upcoming 2.7.0 release.

[2021-05-26 23:04] #9165 closed

[2021-05-26 23:04] keveleigh commented on #9151
The stuck hand tracking should be fixed via #9890 in the upcoming 2.7.0 release. Please re-open if you're still able to repro on 2.7.0.

[2021-05-26 23:04] #9151 closed

[2021-05-26 23:05] keveleigh commented on #9238
The stuck hand tracking should be fixed via #9890 in the upcoming 2.7.0 release. Thanks for the investigation here, and please re-open if you're still able to repro on 2.7.0.

[2021-05-26 23:05] #9238 closed

[2021-05-26 23:20] #9833 closed

[2021-05-26 23:59] RogPodge opened #9894 "Microsoft.MixedReality.Input package causes a headlocked display with Holographic Remoting"
## Describe the bug

Tracking an external issue where the presence of the Microsoft.MixedReality.Input package causes the display to lock to the head when doing holographic remoting. This package is used for deploying to the HP Reverb Headset, so this may impact users working across both WMR and Hololens platforms.

## To reproduce

1. Add the Microsoft.MixedReality.Input package
https://docs.micr

[2021-05-27 00:16] keveleigh opened #9895 "MRTK 2.7 won't build for Android on OpenXR"
## Describe the bug

With the Mixed Reality OpenXR Plugin package installed, MRTK won't build for Android anymore due to https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9880. This is due to the MR package not being compatible with Android and thus not including its assembly.

[2021-05-27 00:34] cre8ivepark opened #9896 "Examples Hub - Error: 'There should only be one AsyncCoroutineRunner in the scene'"
## Describe the bug
In Unity editor, when you run MRTKExamplesHub.unity scene, it continuously prints out the error messages.
The scene works well without any problems.

![2021-05-26 17_24_18-Unity 2018 4 35f1 Personal -  PREVIEW PACKAGES IN USE  - MRTKExamplesHub unity -](https://user-images.githubusercontent.com/13754172/119747792-55b85a80-be48-11eb-856b-9ac5a52def5c.png)
![2021-05-26 17_24_36-U

[2021-05-27 00:42] cre8ivepark commented on #9896
Even if I delete AsyncCoroutineRunner in the Hub root scene, it is automatically added when I hit Play.

![2021-05-26 17_39_04-Unity 2018 4 35f1MRTKExamplesHub unity -](https://user-images.githubusercontent.com/13754172/119748415-bbf1ad00-be49-11eb-8d4a-b082835bc4aa.png)

[2021-05-27 02:42] adamhill commented on #9888
I think taking this dependency is much better in the long run, despite the migration pain.

[2021-05-27 06:37] tjhappy commented on #9883
Can someone help me？

[2021-05-27 07:45] eusebiu commented on #9888
As a developer would also like to have:
- Backwards compatibility for v2.x projects - minor changes would be fine
- Well documented migration procedure

Otherwise, if the effort to migrate is too high, existing apps will stay on v2.x and only the new ones will be built on v3.
This is exactly what VRTK did (i.e. VRTK4 was completely different that VRTK3) and that's why I moved towards MRTK (that an

[2021-05-27 07:58] anders-lundgren commented on #9888
What would this mean for future versions of MRTK on Unreal (and potentially other engines)? I would much prefer MRTK to adopt a UI first, platform agnostic approach that would be somewhat easy to port across different game/rendering engines. Specifically, I'd like to see official support for a WebXR engine, Babylon JS would be a sensible choice I think: https://github.com/BabylonJS/Babylon.js/issu

[2021-05-27 14:24] wlewis55 commented on #9891
Update:

The WindowsMixedRealityEyeGazeDataProvider is in the _WindowsMixedReality / XR2018_ folder within the MRTK Foundation package, but **not** in the _WindowsMixedReality / XRSDK_ package.

![image](https://user-images.githubusercontent.com/4706315/119843537-a5913300-bed5-11eb-9fa9-f74df0bada02.png)

[2021-05-27 17:51] davidkline-ms commented on #9895
Fixed by #9897

[2021-05-27 17:51] #9895 closed

[2021-05-27 18:06] davidkline-ms commented on #9858
resolved in the documentation repository

[2021-05-27 18:06] #9858 closed

[2021-05-27 18:08] davidkline-ms commented on #9574
resolved in the documentation repository

[2021-05-27 18:08] #9574 closed

[2021-05-27 18:20] davidkline-ms commented on #9896
fixed by: #9898

[2021-05-27 18:20] #9896 closed

[2021-05-27 18:29] davidkline-ms opened #9901 "Add authors.md to the packages (UPM and UnityPackage)"
With the recent changes to our documentation process, we would like to add the authors list to our package distributions.

This should be easily doable in a potential 2.7.1 release.

[2021-05-27 19:28] MaxWang-MS opened #9903 "Scene Understanding causes complier error during build time"
## Describe the bug

Due to a change in LoaderHelpers Scene Understanding generate an error in build time when OpenXR is used.

`WindowsSceneUnderstanding\WindowsSceneUnderstandingObserver.cs(134,36): error CS0266: Cannot implicitly convert type 'bool?' to 'bool'. An explicit conversion exists (are you missing a cast?)`

[2021-05-27 19:38] davidkline-ms commented on #9888
We are investigating a thin layer that would translate from the v2.x patterns to v3. We are early in the process and still have much to discover before committing.

That is 100% the plan.

The goal is to reduce the amount of platform abstraction work that the MRTK team would need to write, in favor of more innovation in Mixed Reality features and capabilities.

[2021-05-27 19:42] davidkline-ms commented on #9888
Unreal, Unity, Babylon, etc. have different asset and scene formats as well as supported programming languages. That said, we are always looking for ways to unify our offerings.

One of the goals of moving to Unity's XRI is to focus more on features such as UX, layout, etc, that pose unique challenges in the Mixed Reality world. The more we are able to build upon the strengths of others, the more

[2021-05-27 21:37] MaxWang-MS opened #9905 "Scene Understanding demo script causes exception after scene transition"
## Describe the bug

The Scene Understanding demo script assumes it tracks observed object during the full life cycle of the object. But this is not the case when one enters the SU demo scene from another scene and switch the profile to enable SU before the demo script start working.

[2021-05-27 22:36] jbienzms opened #9907 "Need way to access Observation Parent"
## Describe the problem

Observers create GameObjects to represent their observations.  Since there can be many many observations, it's important to keep the hierarchy from getting too cluttered. To help with this, [IMixedRealitySpatialAwarenessSystem](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.c

[2021-05-28 01:13] davidkline-ms opened #9908 "MicStream selection demo scene does not process the voice (UPM package)"
## Describe the bug

When importing via Mixed Reality Feature Tool, the asmdef file that checks for the Mic Stream dll and sets the appropriate preprocessor flag does not get imported into the Assets folder with the sample.

This is causing the code that is protected by the preprocessor check to not be compiled, resulting in a white wireframe that does not respond to the voice.

## Steps

- Import

[2021-05-28 01:14] davidkline-ms commented on #9908
The proper fix for this is to create an asmdef file for the audio demos and remove the micstream reference from the parent MRTK.Examples asmdef

[2021-05-28 03:52] andikay commented on #9891
I ran into the same issue while doing the Microsoft HoloLens2 MRTK tutorials with the following configuration:
* Unity 2020.1.9f1
* MRTK 2.5.4
* Windows XR Plugin 3.3.1
* XR Plugin Management 3.2.16

[2021-05-28 15:22] dnlwbr opened #9913 "Error Messages after OS update"
## Describe the bug

After updating Windows Holographic on my HoloLens 2 to the newest Version (I think 21H1), the following error keeps showing up in the debug log:

`analog\Input\Mirage\Lib\ClientComponentManager.h(131)\Windows.Mirage.dll!00007FFB186A8560: (caller: 00007FFB18674BD0) ReturnHr(21) tid(ba8) 8007007A The data area passed to a system call is too small.`

A month ago this was not the

[2021-05-28 16:09] davidkline-ms commented on #9913
@dnlwbr, thank you for the report. Has you application stopped working correctly as a result of this log message? If so, it would be good to understand what no longer works when we discuss this new log message with the team that owns the dll.

Thanks!

[2021-05-28 16:28] keveleigh commented on #9122
This sounds like the issue fixed in 2.7.0 with #9890. Please re-open if you're still experiencing in 2.7.0.

[2021-05-28 16:28] #9122 closed

[2021-05-28 16:37] keveleigh commented on #6962
We've made improvements across profile switching, scene switching, and the examples hub over the last couple years. I'm going to close this out now, but please re-open if you're still seeing this.

[2021-05-28 16:37] #6962 closed

[2021-05-28 16:41] keveleigh commented on #9380
Closing as duplicate of #7271.

[2021-05-28 16:41] #9380 closed

[2021-05-28 16:42] keveleigh commented on #9058
Ah, I think I misunderstood this issue based on the configuration.
Turns out, gestures aren't currently supported on Windows XR Plugin. That's tracked by #7271, so I'm closing this one as a duplicate.

[2021-05-28 16:42] #9058 closed

[2021-05-28 16:45] TerraSame commented on #6962
Okay... Thanks!

On Fri, May 28, 2021, 12:37 PM Kurtis ***@***.***> wrote:

[2021-05-28 16:45] keveleigh commented on #8935
This sounds like a Unity bug, since the engine is what handles the rendering to this additional camera. Please file a bug with them and/or post on the Unity forums. Thanks for the report!

[2021-05-28 16:45] #8935 closed

[2021-05-28 16:50] keveleigh commented on #8775
This is an internal Unity error. Are you still seeing it? It _should_ be an uncommon case to get into, possibly at lower frame rates. I'm going to close this issue as external, but feel free to add more info!

[2021-05-28 16:50] #8775 closed

[2021-05-28 16:59] keveleigh commented on #6362
I'm going to close this issue down in favor of the more-recently-active https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9863.

[2021-05-28 16:59] #6362 closed

[2021-05-28 17:01] keveleigh commented on #8026
This is fixed:
![image](https://user-images.githubusercontent.com/3580640/120018179-a42a3e00-bf9b-11eb-926b-9a222f10c0bd.png)

I don't remember the exact PR, but it shouldn't be an issue anymore!

[2021-05-28 17:01] #8026 closed

[2021-05-28 17:01] davidkline-ms commented on #9905
closed by 9906

[2021-05-28 17:01] #9905 closed

[2021-05-28 17:02] davidkline-ms commented on #9903
fixed by 9904

[2021-05-28 17:02] #9903 closed

[2021-05-28 17:52] keveleigh commented on #7757
Going to close this one down. It should be possible to build an ARM flavor of this DLL, and we've since replaced it with built-in [MRTK Scene Understanding suppor](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/spatial-awareness/scene-understanding)t.

[2021-05-28 17:52] #7757 closed

[2021-05-28 18:43] dnlwbr commented on #9913
@davidkline-ms  Thanks for your quick reply. The application works more or less normally. Very rarely the program crashes, but not reproducibly either. At least, I haven't recognized a scheme yet. Due to the many messages, however, the output is so full of text that other normal log messages get lost in the mass.

[2021-05-28 18:55] keveleigh commented on #5121
Closed via MicrosoftDocs/mixed-reality-pr#2915

[2021-05-28 18:55] #5121 closed

[2021-05-28 19:07] #9757 closed

[2021-05-28 19:08] keveleigh commented on #8044
I can. Windows XR Plugin only supports remoting to HoloLens 2.

[2021-05-28 19:09] keveleigh commented on #7399
HoloLens 1 isn't supported with Windows XR Plugin remoting. Closing this as external.

[2021-05-28 19:09] #7399 closed

[2021-05-28 19:31] #8686 closed

[2021-05-28 22:44] #5806 closed

[2021-05-29 01:07] MaxWang-MS commented on #9907
After some investigation I believe you can call `CoreServices.SpatialAwarenessSystem.SpatialAwarenessObjectParent` to achieve the desired result. It's public so you should be able to call it from anywhere.

[2021-05-29 01:46] JShull commented on #8489
I can confirm
![image](https://user-images.githubusercontent.com/12342337/120054445-fa2fcd80-bffd-11eb-991d-7bbb6a2f73d1.png)

I used the MRTK Feature Tool and looks like for whatever reason the Standard Shader is no where to be found.

[2021-05-29 02:09] MaxWang-MS opened #9917 "Misleading warning from AsyncCoroutineRunner in SU Demo"
## Describe the bug

The sample scene logs a `There is no active AsyncCoroutineRunner when an action is posted.` warning under certain circumstance due to the initialization/thread execution order, even when the runner is placed in the scene before entering play mode in an active and enabled state. This happens when the MRTK GameObject gets the OnEnable call earlier than the runner, and thus calls

[2021-05-29 02:23] MaxWang-MS commented on #9891
This issue is a duplicate of #7284. Eye tracking support via Windows XR plugin is added in MRTK 2.7 (see [release notes](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/release-notes/mrtk-27-release-notes?view=mrtkunity-2021-05#support-for-eye-tracking-on-windows-xr-plugin)). @andikay Please note we only officially support the LTS versions of Unity (e.g. 2020.3). Also your WinXR

[2021-05-29 02:23] #9891 closed

[2021-05-29 02:29] MaxWang-MS commented on #9891
@keveleigh Could you double check whether [the docs](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/eye-tracking/eye-tracking-basic-setup) is still up to date? Thanks!

[2021-05-29 02:41] andikay commented on #9891
@MaxWang-MS the MS tutorials use Unity 2019.3 LTS which is very similar to 2020.1 and MRTK 2.5.3 . I tried installing 2.6.x and the MS Feature Tool just crashes when I attempt to do that. I was able to complete all toturials with my setup except for the issue mentioned here. The suggestion to use MRTK 2.7 seems very new, when I worked through the tutorials a few days ago the MRTK 2.7 suggestion wa

[2021-05-29 04:58] davidkline-ms commented on #8489
The standard assets package should copy the shaders into Assets/MRTK/Shaders automatically. If this is not happening, please let us know.

I also recommend trying the Mixed Reality > Toolkit > Utilities > Check for Shader Updates menu item. If they have already been copied, there will be no message displayed.

Thanks!

[2021-05-29 17:32] ltwlf opened #9918 "OpenXR issue with Quest and MRTK 2.7.0"
## Describe the bug

When you configure MRTK for OpenXR the Andriod/Quest build fails with compile issues, e.g. Library\PackageCache\com.microsoft.mixedreality.toolkit.foundation@01982308d54f-1621870973616\Providers\OpenXR\Scripts\MicrosoftArticulatedHand.cs(22,50): error CS0234: The type or namespace name 'OpenXR' does not exist in the namespace 'Microsoft.MixedReality' (are you missing an assemb

[2021-05-29 18:54] keveleigh commented on #9918
I'm not able to repro this :/ @elbuhofantasma and I both tested building for Quest/Android, which is what led to #9897 (the `&& (UNITY_STANDALONE_WIN || UNITY_WSA)` should cause those methods to _not_ be compiled on Android, so it's odd that you're seeing them try to be built). Testing after that PR didn't have any issues.

I also just ran through what I think were your steps (but please correct m

[2021-05-29 20:05] ltwlf commented on #9918
@keveleigh thanks for the fast reply. I checked the version and setup again and it should be okay. See here: https://www.youtube.com/watch?v=JoPYsKacF0Q

I tried it again with a new project and this time it is working. This is really weird :/ Don't know maybe something was cached.
But great that it is working :) I close the issue and hope it was just a local-never-happens-again-sometime-unity-is-w

[2021-05-29 20:05] #9918 closed

[2021-05-29 21:13] ltwlf commented on #9888
I vote for XR Interaction Toolkit (XRI), even it may be painful migrating, exactly for the reasons as described above.

[2021-05-30 09:39] ltwlf opened #9919 "OpenXR with Quest and other devices"
I just realized in the MRTK config splash that currently Quest is not supported (coming soon)
It seems there is not much missing. Far interaction/movement seems to work, but Pointers and Controllers/Hands are missing.
Would be glad to support here dev/documentation.

[2021-05-30 14:05] NoTuxNoBux opened #9920 "Holographic Remoting with WindowsMR or legacy XR fails in virtual machines (Question or bug)"
## Describe the bug

I did a cursory test with a virtual machine (gratis version of VMWare Player) to see how viable it is to use one for HoloLens 2 development on Windows, and, whilst most things seem to work fine, holographic remoting gives a hard crash as the connection is established.

Perhaps this needs special features in Windows 10 that don't work in a VM? Everything else in Unity seems to

[2021-05-30 20:46] provencher commented on #9918
@keveleigh one issue with this is that OpenXR on Quest doesn't support hand tracking, so it's worth keeping that in mind, and making it possible to build for Android without OpenXR, for now.

[2021-05-30 21:30] ltwlf commented on #9918
Android build works. I couldn't reproduce this issue. I also saw Quest OpenXR currently doesn't support hands, but in the MRTK controllers aren't working too. this should be possible #9919
I didn't check if the classic way with the Oculus OVR plugin is still working. As long Quest doesn't support hands this is important.

[2021-05-31 11:37] bruhnth17 commented on #9717
I am using the XR-Plugin Management and MRTK 2.6.1

@davidkline-ms

Does that mean, you were able to reproduce the problem? Any workaround you can recommend at this time?

[2021-06-01 09:21] markus-enklu commented on #563
and then .isLocated went away in 2019.4 without any mention of what to replace it with :(

[2021-06-01 12:22] D3m0n92 commented on #9783
As mentioned, I fixed the scripts myself. Closed.

[2021-06-01 12:22] #9783 closed

[2021-06-01 20:06] MaxWang-MS commented on #9884
Hi @fschmidmichels, Scene Understanding via Remoting is not supported at the time. My guess for the opaque background showing up is that you selected the should load from file option in the SU observer profile and the loaded sample data was shown on device during remoting. However I am not sure why that would happen on device. Can you try clicking on the clear scene button and then the update scen

[2021-06-02 00:54] MaxWang-MS commented on #9871
@davidkline-ms Hi Dave any chance you have seen this before?

[2021-06-02 01:17] qian256 opened #9921 "Dragging visual on disabled ManipulationHandler"
## Describe the bug

When a GameObject has a disabled ManipulationHandler, the pointer still shows "dragging" visual, although the object is not going to be dragged anywhere.

## To reproduce

1. Attach ManipulationHandler.cs to a mesh (e.g. a cube)
2. Disable the ManipulationHandler component
3. When dragging using one-hand far interaction, there is a curve showing the dragging manipulation.

##

[2021-06-02 05:37] ashwinir05 opened #9924 "MRTK assets having shaders issue (shaders being pink )"
We are using HDRP pipeline with MRTK (V 2.6.2) for one of our project . All the MRTK assets such as buttons will appear pink , and shaders are also not editable in the Inspector window.

We tried doing edit -> render pipeline ->hdrp pipeline -> upgrade from builtin pipeline to hdrp , none of our other approaches  worked. We do not have any errors in the console.

The error messages in the previous

[2021-06-02 09:47] followertryingtobeprogrammer opened #9925 "MRTK Spatial Awareness Mesh.Color is NULL"
## When I get the Meshes from SpatialAwarenessMeshObserver, I found the Mesh.Colors is NULL.

[2021-06-02 09:50] followertryingtobeprogrammer commented on #9925
Can I get the color of real world through MTRK?

[2021-06-02 14:41] werto165 opened #9926 "Scrolling Object collection prefab Mask disabled by default"
## Describe the bug

The scrolling object prefab for MRTK v2.5 does not have Mask enabled by default

## To reproduce

drag  the Assets/Samples/Mixed Reality Toolkit Examples/2.5.0/Demos - ScrollingObjectCollection/Prefabs/ScrollingOC_Objects_Plated32x32.prefab into the scene the clipping box will not be enable by default.

## Expected behavior

have the prefab ready to go with the Mask enabled

#

[2021-06-02 16:53] keveleigh commented on #9925
Do you mean have the meshes auto-colored with the real world? Or just make the real world visible through the meshes? The default wireframe visualization should allow the real world to be visible, or you can change the spatial mesh settings to occlusion for colliders without any visibility.

[2021-06-02 17:04] keveleigh commented on #9924
I don't believe `MaintainBorderLightWidth` is compatible with shaders other than the MixedRealityStandard shader. Adding @Cameron-Micka to confirm.

I know we have a step for upgrading to the lightweight / universal render pipeline to prevent pink materials: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/rendering/mrtk-standard-shader?view=mrtkunity-2021-05#lightweight-

[2021-06-02 17:05] keveleigh commented on #9926
@MaxWang-MS Do you know the reason this setting is set this way by default, from your SOC investigations?

[2021-06-02 17:10] polar-kev commented on #9924
@davidkline-ms, this looks similar to the issue we saw when the project path was too long. Thoughts?

[2021-06-02 17:16] polar-kev commented on #9920
Hey @NoTuxNoBux, we haven't tested this scenario in the past. We will attempt to reproduce this error on a virtual machine.

[2021-06-02 17:20] Cameron-Micka commented on #9924
Yes, based on the errors it sounds like the materials have switched from using the `MRTK/Standard` shader to the `HDRP/Lit` shader.  To continue to use features such as `_FluentLightIntensity`, `_BorderWidth`, etc. you will need to continue to use the `MRTK/Standard` shader.

I've never tried to use the HDRP since it is not advised to use with most AR and VR projects. But, as @keveleigh mentioned

[2021-06-02 17:22] davidkline-ms commented on #9924
@polar-kev, at least one customer reported that the issue was resolved by shortening the project path.

[2021-06-02 17:22] RogPodge commented on #9919
Hey there, can you give the Oculus Integration Package and MRTK version that you are using, we can use those to start investigating.

In the meantime, I would suggest using the Oculus XR plug-in provider rather than the OpenXR one, since the OpenXR plug-in does not support hand tracking on Quest quite yet.

![image](https://user-images.githubusercontent.com/39840334/120524860-6018ae00-c38c-11eb-84

[2021-06-02 17:23] polar-kev commented on #9913
@dnlwbr this sounds like a bug external to MRTK. It should be routed to the HoloLens OS team. Can you please follow these instructions to file a bug?
https://docs.microsoft.com/en-us/hololens/hololens-feedback

[2021-06-02 17:32] davidkline-ms commented on #9907
The suggestion from @MaxWang-MS will get you the top-most parent for ALL observers. Unfortunately, the observation parent for the individual observers is protected.

[code]

We should consider making this public in a future release.

[2021-06-02 17:34] keveleigh opened #9927 "MRTK UPM packaging pipeline doesn't include Version.txt or AssemblyInfo.cs"
## Describe the bug

When trying to figure out the current version of MRTK, checking the assembly version is a decent way to do it. These files also embed copyright and ownership information into the binaries.

![image](https://user-images.githubusercontent.com/3580640/120526041-a15d8d80-c38d-11eb-9947-6686c34efe2e.png)

## To reproduce

1. In a project with MRTK installed, go to the Library folde

[2021-06-02 17:35] davidkline-ms commented on #9901
Fixed by #9922

[2021-06-02 17:35] #9901 closed

[2021-06-02 17:53] polar-kev opened #9929 "Localization key in SpeechCommand is not documented"
Does anyone know what the Localization key does and how to use it?

when i try to enter a text i get the following exception.

_Exception thrown at 0x00007FF80124A71C (KernelBase.dll) in SpeechTest.exe: WinRT originate error - 0x80073B1F : 'ResourceMap Not Found.'.
onecoreuap\base\mrt\runtime\com\winrt\core\winrtresourceloader.cpp(114)\MrmCoreR.dll!00007FFFFAFF7ADC: (caller: 00007FFFFAFCDFB0) Retu

[2021-06-02 17:54] ltwlf commented on #9919
Thanks @RogPodge - I tried it without the oculus integration. My understanding of openxr is that I don’t need the Integrations anymore, because openxr is the abstraction layer, do I? (When no native controllers are found, MRTK should use the default ones.

Regards hand tracking, I really hope Oculus will fix this soon.

In production I use MRTK 2.6 with oculus integration. Works like a charm :)

[2021-06-02 18:04] davidkline-ms commented on #9929
Here is the logic.

[code]

[2021-06-02 18:55] RogPodge commented on #9919
Yeah the current Oculus handtracking feature set is locked to the Oculus Integration package, we'll update our [documentation](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/supported-devices/oculus-quest-mrtk?view=mrtkunity-2021-01) when we learn of a more convenient way to get handtracking on the quest.

Closing this issue for now. Glad to help!

[2021-06-02 18:55] #9919 closed

[2021-06-02 18:58] Brend-Smits commented on #9919
Could you explain why this is locked to the Oculus Integration package? It would be very convenient to only be able to use MRTK instead of MRTK + Oculus...

[2021-06-02 19:03] RogPodge commented on #9919
It's an Oculus side constraint: https://developer.oculus.com/documentation/unity/unity-handtracking/?locale=en_US their hand tracking api's are currently only available via the OVRHand, which is a Oculus Integration Package specific API

[2021-06-02 19:06] ltwlf commented on #9919
And in my case the controllers didn’t work too. Of more concrete the models weren’t loaded. MRTK should show the default controllers.
anyone can confirm this?

[2021-06-02 19:34] jbienzms opened #9930 "Variable Button Icon Size"
## Describe the problem

Currently the icon size for `PressableButton` is fixed. It's based on **ux_icon.png** which is 64 x 64 and the size is controlled by the scale of various UI elements such as `UIButtonSpriteIcon`.

## Describe the solution you'd like

I would really like to see support for variable icon sizes without having edit the prefab or create a variant. Perhaps ButtonConfigHelper mig

[2021-06-02 19:36] wlewis55 opened #9931 "Cannot Select the UnityJoystickManager Input Data Provider"
I am not able to select the _MixedReality.Toolkit.UnityInput.UnityJoystickManager_ Provider. Below is a picture of the provider I am trying to select.

![image](https://user-images.githubusercontent.com/4706315/120539446-97e81b80-c3b5-11eb-93ab-53ef1809030a.png)

## To reproduce

Steps to reproduce the behavior:

1. Create a new MRTK project.
2. Create a new MR Toolkit config profile, and clone a

[2021-06-02 21:35] #9927 closed

[2021-06-02 22:01] cre8ivepark commented on #9930
Thanks for the feedback! I feel this is a great use case with image content. Might be better to add a prefab variant with an image that fills up entire backplate surface. Possibly with both 4:3 ratio and 16:9 ratio to fit the image content nicely.

[2021-06-03 02:41] dahaideyu opened #9932 "How to open word excel pdf. in app (open edge web view in UWP)"
## Describe the problem

I want to open word /excel /PDF  in my application. and can next page etc.
## Describe the solution you'd like

Unity ,there have a plugs  to open pdf .but open word in UWP

## Describe alternatives you've considered

 Option   can use edge in my app.

## Additional context

[2021-06-03 02:52] austinbhale commented on #9831
Hi, I have tried a few different MRTK setups and am encountering this exact same issue with the head and joint rotations on playback.

### Setup ###
Unity Version 2020.3.11f1
MRTK Version 2.7.0, 2.6.1, 2.5.4
Mixed Reality OpenXR Plugin 0.9.5

Attached is a quick, similar video showing the hand mesh deformations: [video demo](https://drive.google.com/file/d/13U0pZamt9e2x_EomeEKzTZATCAF0rJzx/view?us

[2021-06-03 04:39] followertryingtobeprogrammer commented on #9925
I mean the meshes auto-colored with the real world.  We used hololensForCV before, and we got point cloud data with color. Can we get any data from mrtk with color information like that? Thanks a lot!

[2021-06-03 04:56] zantiu commented on #8796
Any update on this?

[2021-06-03 05:08] MaxWang-MS commented on #9932
Please take a look at the `LaunchUri` class in MRTK. It might also be helpful to look at `UnityEngine.WSA.Launcher`, the Unity class we used inside our class.

[2021-06-03 09:48] bruhnth17 commented on #9864
I have the same issue, using  Unity 2019.2.14f1 and MRTK 2.6.1 @jorgejgnz did you make any progress yourself?

[2021-06-03 12:19] bruhnth17 commented on #9864
#8835 is related

[2021-06-03 16:56] keveleigh commented on #563
It should still be present (though deprecated) in 2019.4 if you're using the legacy APIs. https://docs.unity3d.com/2019.4/Documentation/ScriptReference/XR.WSA.WorldAnchor-isLocated.html

If you're using the new XRReferencePoint/XRAnchor API, you can use the `trackingState` property.

[2021-06-03 18:48] #8373 closed

[2021-06-03 20:44] markus-enklu commented on #563
Yes it is! I had "show warnings as errors" turned on in that package, sorry.

[2021-06-04 00:18] wlewis55 commented on #9931
After doing some testing I believe this is only a problem with 2.7.0

[2021-06-04 02:26] tjhappy commented on #9931
My test found that the latest version of hololens2 does not support Xbox one, but the old version can use .

[2021-06-04 12:00] JSWorkspace1 commented on #9872
Seems to be solved with MRTK v2.7.0

[2021-06-04 12:00] #9872 closed

[2021-06-04 14:21] salvolannister commented on #5435
I am facing a very similar situation and setting Point Extend to a bigger value doesn't solve my problem :/

using:
Unity 2019.4.16
Azure Mixed Reality Services 2.7.1

[2021-06-04 19:22] austinbhale commented on #9831
I believe one notable cause for this issue occurs in the optimization of the animation curves:
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/119f16f59e7b4cd54142be29845c846bc2a2db12/Assets/MRTK/Core/Providers/InputAnimation/InputAnimation.cs#L534
Which, in this case, leads to the optimization of rotation curves defined here: https://github.com/microsoft/MixedRealityToolkit-Unity/blob

[2021-06-05 17:10] MalteRei commented on #9800
I am having the same issue although with _Demos - Input_. Is there an ETA on when this will be fixed or a workaround? I can also provide more information if that helps with triage for the issue.

[2021-06-07 17:12] keveleigh commented on #9800
@davidkline-ms This feels like it could be a Unity bug, especially if other packages (like you pointed out XR Interaction Toolkit) are hitting it.

[2021-06-07 18:03] keveleigh opened #9936 "link.xml causing build errors in Unity 2021"
## Describe the bug

In Unity 2021, the build starts failing when an assembly referenced in a link.xml isn't actually present.
This happens in MRTK because the legacy XR MRTK assemblies aren't loaded in Unity 2020+ due to a lack of legacy XR in Unity.
Unity 2020 appears to be okay with this case, but Unity 2021 will refuse to build.

## Options

1. Add a patcher to update any existing link.xml fil

[2021-06-07 18:13] keveleigh opened #9937 "Update deprecated methods in Unity 2021.2"
## Describe the problem

A few methods (like `UnityEditor.Experimental.SceneManagement.PrefabStageUtility.GetCurrentPrefabStage();`) are now in different namespaces (like `UnityEditor.SceneManagement.PrefabStageUtility.GetCurrentPrefabStage();`).

[2021-06-07 18:37] #9932 closed

[2021-06-07 19:24] keveleigh commented on #9919
Is this referring to the RGB axis gizmos too? Or just the model that looks like the physical controller?
If the model that looks like the physical controller, this is expected, as only Windows Mixed Reality controllers support this OpenXR at the moment. If the other, that's definitely a bug!

[2021-06-07 20:57] RogPodge commented on #9919
We've also fixed a potential issue where the RGB axis wouldn't load when the Oculus Integration package wasn't imported, there should always be some sort of visualization when deploying to the Quest for Quest controllers now.

[2021-06-07 22:39] RogPodge commented on #9921
We've replicated the issue and will take a look at it. Thanks for point this out!

[2021-06-07 23:04] RogPodge commented on #9882
After downloading and trying the Vuforia scene, it seems like that interactable is loaded in at runtime

In Editor:
![image](https://user-images.githubusercontent.com/39840334/121097959-bc733780-c7a9-11eb-89db-be97de9992a7.png)

At Runtime:
![image](https://user-images.githubusercontent.com/39840334/121098015-d6ad1580-c7a9-11eb-89f3-9aa3f1504a41.png)

Closing since there is not much we can do on o

[2021-06-07 23:04] #9882 closed

[2021-06-07 23:14] keveleigh commented on #9882
@RogPodge Do you think it's worth adding a null check wherever this is failing? Or is it better off being an obvious failure state?

[2021-06-08 00:04] RogPodge commented on #9931
Figured out why this occurs, the Joystick Manager is classified as a Legacy XR device manager, so adding it while the XR SDK tab is selected does not show that it is added.

![DeviceManagerBug](https://user-images.githubusercontent.com/39840334/121102437-6b1b7600-c7b2-11eb-9be5-666f66b21a0f.gif)

I'm not entirely sure why it is locked to Legacy XR, @keveleigh  any insights on this?

[2021-06-08 00:35] RogPodge commented on #9882
Well the exact error seems to be raised because that piece of code in particular has a dependency on the presence of CoreServices.InputSystem. I'm not sure which part ultimately ended up null, but I can add a null check around raise a more relevant warning.

[2021-06-08 02:22] wlewis55 commented on #9931
@RogPodge I had a feeling that's what is happening... but I didn't have the Legacy tab (see the first image above). Do you know if I have to have OpenXR installed to get that? My current projects are setup with the built in Unity plugins.

[2021-06-08 09:21] JSWorkspace1 opened #9946 "BoundsControl Translation Handles have wrong colliders for some HandlePrefabs"
## Describe the bug

The grabbable colliders for the Translation Handles of the BoundsControl component are positioned wrong with some handle Prefabs.  As a result the handles cannot be grabbed as expected.

As seen in the following Image the generated colliders are offcenter or even fully inside the object.

![BoundsControle](https://user-images.githubusercontent.com/23420842/121157780-1fb4a680-c

[2021-06-08 15:36] Zee2 commented on #9946
Hi, thanks for reporting this. I'll take a look into what could be causing this.

[2021-06-08 17:10] RogPodge commented on #9931
Oh, since Unity 2020 no longer supports Legacy XR, the tab won't show up. All the more reason for us to double check that the joystick manager works on the XR SDK pipeline

[2021-06-08 17:31] keveleigh commented on #9931
Yep, this is exactly right! It looks like I may have prematurely locked it to legacy though, as it's technically just dependent on Unity's old input system. We have #9703 to track updating MRTK to the new input system, which is Unity's default for things like OpenXR going forward, but it _is_ still possible to run them side-by-side (at a perf cost, I assume).

@RogPodge I think it's reasonable to

[2021-06-08 18:19] #9921 closed

[2021-06-08 18:21] RogPodge commented on #9931
I'll unmark it today!

[2021-06-08 21:59] keveleigh opened #9955 "Allow requested hand joints to be configurable"
### This issue has been migrated a new [MRTK repository](https://github.com/MixedRealityToolkit/MixedRealityToolkit-Unity), and the status of this issue will now be tracked at the following location:

 - https://github.com/MixedRealityToolkit/MixedRealityToolkit-Unity/issues/309

___

## Describe the problem

Sometimes, asking for all 26 hand joints and visualizing them can be a performance bottle

[2021-06-08 22:46] #9937 closed

[2021-06-09 10:21] ttkrpink opened #9956 "Build failed with icons"
## Describe the bug

If a project is built with icons, only the first build in the MRTK Build Window will be finished without error. The second build will be terminated with

"Package.appxmanifest(8,6): error APPX3210: App manifest references the image 'Assets\StoreLogo.png' which does not have a candidate in main app package.
UnityEngine.Debug:Log (object)
Microsoft.MixedReality.Toolkit.ProcessEx

[2021-06-09 15:40] qian256 opened #9957 "What is the best way to disable a hand?"
## Describe the problem

I would like to disable one hand (the visualization joints/mesh + all interactions) dynamically in HL2. Is there existing way to achieve this?

## Describe the solution you'd like

An API to the enable/disable certain hand type (left/right)

[2021-06-10 08:50] dahaideyu commented on #9932
please give me a simple . I find the class. but how to use this class open excel or pdf

[2021-06-10 12:52] DSprtn opened #9958 "Hololens 2 - OpenXR - Unity 2020.3.10f - Scene Understanding not working"
## Describe the bug

The official scene understanding example scene does not seem to be working in a release build no matter what configuration I try.

## To reproduce

Steps to reproduce the behavior:

Setup Unity project in v.2020.3.10f, with all newest MRTK packages with the OpenXR target.
Build example scene, deploy on Hololens 2.

## Expected behavior

Demo should function properly. Instead,

[2021-06-10 16:29] nomi27951 commented on #7100
Any update on this issue? Thanks

[2021-06-10 16:35] Kent1LG opened #9959 "[Bounds Control] Activate by proximity and pointer not working"
## Describe the bug

When I create a Bounds control for a 3D model (even primitive like cube), with the setting Activation to "Activate by proximity and Pointer", a simple white bounds appear by default and never fade away.

My use case is to put an object at children of a GameObject with the BoundsControl. But the issue appear even with the component directly on the object.

## To reproduce

Step

[2021-06-10 16:54] keveleigh commented on #9958
This should be fixed in our 2.7.0 release! @MaxWang-MS added support in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9744.

[2021-06-10 20:39] DSprtn commented on #9958
Great to hear!

Is there any ETA on 2.7.0?

[2021-06-10 20:50] #9936 closed

[2021-06-10 20:52] keveleigh commented on #9958
@DSprtn May 27th (so it's already out!)

The GitHub release is at https://github.com/microsoft/MixedRealityToolkit-Unity/releases/tag/v2.7.0
It can also be accessed via the Mixed Reality Feature Tool https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/welcome-to-mr-feature-tool (make sure to click refresh on the package list page if you've already used the tool!)

[2021-06-10 21:02] MaxWang-MS commented on #9958
@DSprtn Also please make sure to use the latest version of MR OpenXR plugin (currently 0.9.5/1.0.0-preview 1).

[2021-06-11 06:47] DSprtn commented on #9958
Ah gotcha, I just didn't refresh my packages. 😅

That's kind of a confusing thing to make the user do though, to be honest.
Should it not refresh by itself every time it's started up?

[2021-06-11 07:06] c11epm opened #9960 "Scene Observer in Scene Understanding doesn't work in Unity Play Mode"
## Describe the bug

When initializing the SceneObserver in Unity Play Mode the `SceneObserver.IsSupported()` returns false and the try to Compute a scene freezes the Unity Editor indefinitely (Kill process to close and restart) if the IsSupported status is not checked.

## To reproduce

Set up a Scene with a script running the code from the Scene Understanding SDK page: https://docs.microsoft.com

[2021-06-11 07:15] c11epm opened #9961 "Having the query system for positions from old HTK Spatial Understanding"
## Describe the problem

I'm starting to look into the Scene understanding system for MRTK targeting the Hololens 2. In the HTK and our build for the Hololens 1 we used the Spatial Understanding service. The Scene understanding is described to be a super set of the Spatial Understanding, is it then expected that this query system will make it into Scene Understanding?

## Describe the solution you

[2021-06-11 09:04] kinaco17 opened #9962 "About integrating and using speech recognition and transcription"
Hi.

I have done the tutorial at the following URL.
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mrlearning-speechsdk-ch1
When I deploy to HoloLens2, I only get "select a mode to begin." when I press the microphone button, and cannot input voice.

When I use playmode on unity, voice input is possible.

Unlike the tutorial, I have set the Configration to DefaultHol

[2021-06-11 16:58] keveleigh commented on #7896
I haven't been able to repro this :/ possibly fixed by #9890? Going to close out, but please re-open if you're able to repro with MRTK 2.7

[2021-06-11 16:58] #7896 closed

[2021-06-11 17:02] keveleigh commented on #8044
I'm going to close this one out. The most common resolution has been to double check your Standalone XR Plugin Management settings. Unity has also defaulted to connecting automatically when you hit play, so if that doesn't work, reverting to a manual connection might help as well.

[2021-06-11 17:02] #8044 closed

[2021-06-11 18:54] RogPodge commented on #9962
It seems odd to me that the recognition service works on your computer and not on the Hololens device itself. MRTK doesn't directly reference any AzureSpeechServices code, so I'm not sure if there's something weird happening on our end, though I did notice that the tutorial  requests you to clone the default profile and change the start behavior.

https://docs.microsoft.com/en-us/windows/mixed-rea

[2021-06-11 19:19] RogPodge commented on #9962
@mr0ng perhaps you have a bit more context around this?

[2021-06-11 20:55] PeterRaze opened #9963 "Blinking TMP when use ClippingBox"
## Overview

Clipping Box is not working properly with **TMP - Text**

## Expected behavior

It is expected that TMP - Text don't blink when is entering in the mask.

## Actual behavior

TMP - Text is "blinking" when the object is entering in the mask.

## Steps to reproduce

1. Create a empty GameObject inside a card GameObject on ScrollingObjectCollection scene
2. Configure the object with the s

[2021-06-11 23:05] mr0ng commented on #9962
I'll check with the team and get back to you.

[2021-06-11 23:11] keveleigh opened #9964 "Expose hand joint radius"
## Describe the problem

Many platforms, like WMR and OpenXR, provide a radius for each hand joint in addition to the position/rotation. We should expose this somewhere for developers.

## Describe the solution you'd like

I see a couple ways we could go about this:

1. Add `scale` to `MixedRealityPose` which is the type we currently use to represent hand joints.
    1. Unfortunately, we already h

[2021-06-12 04:15] veeruby-developer commented on #9962
Hey @kinaco17  can you please confirm you have set up the Unity project to publish the Azure Speech plugins for ARM64 described in this part of the [Tutorial](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mrlearning-speechsdk-ch1#importing-the-tutorial-assets) after importing the tutorial assets.
and also what is the MRTK version, Unity Version using..?

[2021-06-12 14:08] NoTuxNoBux commented on #9920
I also have some information to report on OpenXR remoting using Unity 2020. It doesn't crash, but it doesn't seem to work either.

The HoloLens Remoting application on the HoloLens 2 shows the following message when Unity goes into play mode:

[code]

(I tried setting the video format to both h.264 and h.265, to no avail.)

The MRTK also logs a warning that `XR_MSFT_composition_layer_reprojection_

[2021-06-13 15:57] mwwm1 opened #9966 "ه"
## Describe the bug

A clear and concise description of what the bug is.

## To reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Your setup (please complete the fo

[2021-06-14 00:49] kinaco17 commented on #9962
Thank you all for your help.

I installed and ran the packages listed in the tutorial.

MRTK version is 2.6.1
The version of unity is 2019.4.24f1

[2021-06-14 08:16] veeruby-developer commented on #9962
not this. I'm referring to the Azure Speech plugins for ARM64 as in the below screenshot.
![image](https://user-images.githubusercontent.com/61759322/121860557-96541700-cd16-11eb-911f-d6b7258c1c87.png)

please also ensure that you have enabled Microphone in the capabilities section of the player settings.
![image](https://user-images.githubusercontent.com/61759322/121860816-dc10df80-cd16-11eb-8ea3

[2021-06-14 09:17] janick187 opened #9969 "Overview of available IconTextureNames missing"
## Describe the issue
I am trying to update the icon of a button with the help of ButtonConfigHelper.SetQuadIconByName(String).
However, I do not know the Texture Name of the new icon.
E.g. I want to update the button with the 'refresh' icon. But I don't know the Texture Name of this icon.

## Feature area
In the documentation the different Texture Names of default icons are not included.

## Exis

[2021-06-14 09:41] kinaco17 commented on #9962
I guess I was missing a setting there.
I fixed it and it works now.
Thank you so much!

[2021-06-14 09:41] #9962 closed

[2021-06-14 17:46] Railboy opened #9970 "Progress Indicator Demo & Documentation is inadequate"
## Describe the issue
We've received feedback that progress indicator demo and documentation isn't as useful as it could be.

## Feature area
People would like examples of progress indicators used in conjunction with real-world examples - eg scene loading, async tasks, animations.

## Existing doc link
[Progress Indicator Docs](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/feat

[2021-06-14 17:57] RogPodge commented on #9966
A mistakenly generated/empty issue. @davidkline-ms do you know who might have permissions to delete this?

[2021-06-14 17:57] #9966 closed

[2021-06-14 18:13] Zee2 commented on #9959
Hi, thanks for reporting this. I'll investigate this along with the other `BoundsControl` issues I'm checking out.

[2021-06-14 18:28] MaxWang-MS commented on #9960
Scene Understanding should work with in editor play mode (non remoting). The documentation you referred applies to the situation when you are not using MRTK. If you are using MRTK please look [here](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/spatial-awareness/scene-understanding). With MRTK you would not need to use the code you mentioned but you can use the MRTK ob

[2021-06-14 21:09] RogPodge commented on #9969
The texture names refer to the names of the icons in the icon set:
![image](https://user-images.githubusercontent.com/39840334/121959724-ff895980-cd19-11eb-9515-c27ca17ae301.png)

![image](https://user-images.githubusercontent.com/39840334/121959750-0a43ee80-cd1a-11eb-9d19-20b6cfc1fbd1.png)

We realize that these aren't easily surfaced within the button config helper, and will let users toggle the

[2021-06-14 21:44] RogPodge commented on #9969
Updated as follows in the PR:
![image](https://user-images.githubusercontent.com/39840334/121963508-0cf51280-cd1f-11eb-97f9-17f2476cb387.png)

[2021-06-14 23:25] #9969 closed

[2021-06-14 23:50] Zee2 commented on #9946
@JSWorkspace1 #9973 is a partial fix for this issue. Handle colliders will still have issues with the Scale handles, but this ought to improve the behavior with the translation and rotation handles, which you've seen.

[2021-06-15 06:09] c11epm commented on #9960
Hi, Thanks for the answer. I started some testing with the base form the example you refers to. Wasn't sure if it was a bug or documentation thingy, thanks for clearing that up!

[2021-06-15 14:13] arnasdev opened #9975 "PlayModeTests Project included in build"
## Describe the bug

The Microsoft,MixedReality.Toolkit.Tests.PlayModeTests is being included in the Unity build, before building to HoloLens
When attempting to build to the HoloLens, I get the following errors (see screenshots)

Currently have been able to workaround this by unloading the PlayModeTests project and unreferencing it from the Main Project.

## To reproduce

Steps to reproduce the be

[2021-06-15 15:02] #9975 closed

[2021-06-15 17:23] keveleigh commented on #9588
@cre8ivepark Are you able to make this edit? It looks like it's a rename of one of the sub objects.
I tried editing this myself in blender, but it ended up making the file 5 times as large and added a bunch of random nodes...not quite sure what I'm doing! 😅

[2021-06-15 18:18] MaxWang-MS opened #9979 "New profile creation does not work properly"
## Describe the bug

Currently if you attempt to create a new profile a null pointer exception may appear and the inspector window becomes unusable.

Separately, after clicking copy and customize button for an existing profile the settings remained grey out.

## To reproduce

Steps to reproduce bug 1:
(You need to follow the steps exactly)
1. Create an empty scene
2. Add to scene and configure
3.

[2021-06-15 18:54] davidkline-ms commented on #9979
This issue could potentially warrant a 2.7.1 as it is a pretty significant regression.

[2021-06-15 18:58] mikenotter opened #9980 "ObjectManipulator Virtual Functions"
## Describe the problem

I'd like to be able to create derived classes inheriting from ObjectManipulator, and use them to interact with the pointer events more directly.

## Describe the solution you'd like

I would like to make the OnPointerDown, OnPointerDragged, and OnPointerUp functions virtual. I would also like to make Start() and/or Awake() virtual for useful setup.

## Describe alternative

[2021-06-15 20:18] RogPodge commented on #9979
The second bug seems to be due to the inspector not refereshing, if you click on the profile asset itself, the sections become ungreyed out and that gets reflected in the original toolkit's inspector

As for the first bug, it seems to be because of the inspector code trying to render before the settings profile gets initialized. I'll post a patch for this later today hopefully.

[2021-06-15 21:09] MaxWang-MS commented on #9979
@RogPodge Could you maybe add a refresh call for bug 2?

[2021-06-15 21:32] RogPodge commented on #9979
I think it already is trying to do a refresh (everything works fine in previous unity version), it may be a different API for Unity 2020, trying to fix it.

[2021-06-16 00:19] #9979 closed

[2021-06-16 05:38] MaxWang-MS commented on #9958
We decided to by default not refresh but we will revisit the decision soon. Closing the issue as it has been resolved.

[2021-06-16 05:38] #9958 closed

[2021-06-16 17:54] davidkline-ms opened #9986 "Update release notes for 2.7.1"
Ensure that the release notes at https://docs.microsoft.com/windows/mixed-reality/mrtk-unity/release-notes/mrtk-27-release-notes are updated with the 2.7.1 changes

[2021-06-16 18:25] keveleigh commented on #9602
@RogPodge Not sure if these are directly related to the step slider (one mentions "ticks", but it could just be the pinch slider), but wanted to call these two issues out as well in case they're in scope for the graduation:

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9172
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9365

[2021-06-16 18:34] RogPodge commented on #9602
I'll try to get fixes for those in as well 💯

[2021-06-16 19:04] MaxWang-MS opened #9987 "Scene Understanding: the set surface type flags sometimes differ from actual behavior"
## Describe the bug

We have received a report where a customer set the surface types field of the observer to just floor and failed to get any events fired with floor until he also selected unknown.

## To reproduce

Steps to reproduce the behavior:

1. Go to the SU demo scene
2. Disable the unknown flag for the observer in inspector
3. Play
4. Observe there is no floor gameobject created

## Exp

[2021-06-16 20:02] RogPodge commented on #9172
Adjusting the prefab to line up the tick marks with the default tick every interval, also made the tick sound play at each "step" when using the step divisions aspect of the slider.

It's not entirely feasible to adjust the number of tick visuals to the tickEvery parameter, since other gameobjects which use this component may not want to use tick mark visuals.

[2021-06-16 20:46] RogPodge commented on #9365
Fixed by this #9163 in 2.6.0

[2021-06-16 20:46] #9365 closed

[2021-06-16 20:56] killerantz opened #9990 "Fixing namespace 'InputSystem' does not exist in namespace 'CoreServices' when using Assembly Definition and Unity 2020.3.11f"
## Describe the problem
[code]
The code above causes the following error

[code]

1. Create a new project in Unity 2020.3.11f1
2. Import MRTK
3. Create the script like the one above
4. Add an Assembly Definition to the directory with the script
5. Add MRTK.Core as an Assembly Definition Reference and Apply
6. Observe the error from above.

Unity added a namespace called CoreServices that's now con

[2021-06-16 22:05] Zee2 commented on #9946
@JSWorkspace1 #9973 is merged, can you take a look and see if this has resolved your issue?

[2021-06-16 22:23] keveleigh commented on #9990
@killerantz This is unfortunately a bug with Unity's Version Control / Collab package. They're accidentally including some [Xamarin types](https://docs.microsoft.com/dotnet/api/coreservices?view=xamarin-mac-sdk-14). Last I heard, they've acknowledged the issue and are looking into a fix.
Another workaround until then is to uninstall that package if you aren't using it.

[2021-06-16 23:27] davidkline-ms commented on #9986
PR submitted to the documentation repo - will be published with the release

[2021-06-16 23:27] #9986 closed

[2021-06-16 23:47] keveleigh opened #9991 "Add support for "show transparent/opaque settings at edit time" in camera profile"
## Describe the problem

Currently, the editor reports itself as opaque and our fallback case is also to display as opaque (since non-VR apps probably want a non-clear-flags-black background).

This becomes an issue at edit time, where Unity's game view will display the skybox even if you're primarily creating an AR app.

## Describe the solution you'd like

For proper appearance and edit-time con

[2021-06-17 17:15] keveleigh commented on #9200
Going to close this, as it looks like the Scene Manager and additive scene loading solved the issue.

[2021-06-17 17:15] #9200 closed

[2021-06-17 17:42] davidkline-ms commented on #9499
@elbuhofantasma confirmed that 2.7.0 and OpenXR was able to deply to Quest 2 successfully.

[2021-06-17 17:46] davidkline-ms commented on #8459
@CDiaz-MS can you please attempt a new repro and advise next steps?

[2021-06-17 17:48] davidkline-ms commented on #8395
physics and display modes are decoupled enough that there need be no artificial coupling added.

[2021-06-17 17:48] #8395 closed

[2021-06-17 17:53] davidkline-ms commented on #9446
Let's add zwrite off versions of all SDF materials and add documentation to explain when you may want one over the other.

We need to review all SDF materials and align them as such:

* mysdf == on
* mysdf_zwrite_off == off

[2021-06-17 17:56] davidkline-ms commented on #9447
@cre8ivepark please review and weigh flexibility vs default guidance needs.

[2021-06-17 17:59] davidkline-ms commented on #9458
@RogPodge please investigate. thanks!

[2021-06-17 18:06] davidkline-ms commented on #9530
com.microsoft.mixedreality.<feature> is a common umbrella for all of microsoft mixed reality offerings. should we consider something similar to com.microsoft.mrtk.standardassets?

[2021-06-17 18:20] davidkline-ms commented on #9598
Let's do a gap analysis of what the build window can do now vs what is missing. Another question is whether or not a ui refresh is valuable to customers here.

[2021-06-17 18:22] davidkline-ms commented on #9630
Mostly need example improvements.

[2021-06-17 18:23] davidkline-ms commented on #9685
Try a repro and advise.

[2021-06-17 18:47] davidkline-ms commented on #9907
Making this change would involve breaking interfaces. A workaround when talking to IMixedRealitySpatialAwarenessMeshObserver implementers would be to call

GameObject observationParent = observer.Meshes[0].GameObject.transform.parent.gameObject;

When talking to the scene understanding observer, Meshes[0] would be replaced with SceneObjects[0]

[2021-06-17 18:56] MaxWang-MS opened #9993 "OpenXR HoloLens 2 remoting generates error and warning"
## Describe the bug

Cherry picking #9954 caused new error and warning to show up during OpenXR remoting.

## Screenshots

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/68253937/122454696-8465b480-cf60-11eb-8587-a737ccf127cf.png)
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/68253937/122454735-8af42c00-cf60-11eb-8666-9ca732f24374.png)

## Your setup

[2021-06-17 19:04] jbienzms commented on #9907
Correct @davidkline-ms, the suggestion by @MaxWang-MS will give the top-level container for all observers. Not the container for a specific observer.

This approach is fragile for a few reasons:

1. Using this code it would not be possible to get access to the parent during app launch. This is because no surfaces have been observed at app launch.
2. This code will not work during an observer refre

[2021-06-17 19:42] davidkline-ms commented on #9907
any addition to the interface is a breaking change. we can investigate an alternative mechanism for exposing this data, however.

[2021-06-17 23:14] keveleigh commented on #9993
Fixed via #9994

[2021-06-17 23:14] #9993 closed

[2021-06-18 01:05] #9907 closed

[2021-06-18 02:54] keveleigh commented on #9641
Are you using an MRTK component for this or looking for how to get this info from MRTK events?

[2021-06-18 02:56] keveleigh commented on #9783
@D3m0n92 If you're able to contribute this back as a configurable setting (something like `maintainScaleOnDock`), I'm sure others would benefit from your fixes! Glad you were able to figure it out.

[2021-06-18 04:30] lovelieren opened #9996 "HandRay not work with OpenXR In HoloLens2,"
HandRay not work, two fingers operate not work like grab \hand drag \move, the editor play mode is normal

- Unity Version [e.g. 2020.3.12]
- MRTK Version [e.g. v2.7]
- HoloLens 2
- OpenXR profile

This is the log below:

Logging to C:/Data/Users/HuaYuHolo@outlook.com/AppData/Local/Packages/Microsoft.MixedReality.Toolkit_ph1m9x8skttmg/TempState/UnityPlayer.log
Loading native plugins
  Loading open

[2021-06-18 10:18] MiPa12 opened #9997 "HP Reverb G2 Controller Prefab - OpenXR"
Hi @keveleigh, I installed MRTK 2.7 + Open XR 0.9.5 + Inputs using MixedRealityFeatureTool + Unity Version 2020.3.11. I also enabled the HP Reverb G2 Controller Profile in the OpenXR Settings. Everything is working fine except the rendering of the HP Reverb G2 controllers. In my case it is just rendering the hand model (RiggedHandLeft, RiggedHandRight). Are there HP Reverb G2 Controller prefabs or

[2021-06-18 16:23] Simcard54 commented on #9458
Having the same issue with Unity 2020.3.9f1 and MRTK 2.7.0

[2021-06-18 17:36] rderbier-tibco commented on #9996
I experienced this bug. Same config.
Way to reproduce. Follow MRTK instructions to get started with Unity and OpenXR : new Unity project, switch platform, install MRTK 2.7 foundations + examples + Open XR plugin. Follow OpenXR configuration wizard. Install Hand Interaction example. Open the example Scene. Verify the profile. Build and Deploy.
Sceen is displayed, Gaze pointer OK, Hand tracking OK.

[2021-06-18 21:39] #9602 closed

[2021-06-18 21:39] #9401 closed

[2021-06-18 21:40] #9606 closed

[2021-06-18 21:40] #9172 closed

[2021-06-18 23:13] MaxWang-MS commented on #9996
@lovelieren @rderbier-tibco Could you please follow the [instructions here](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/openxr-getting-started#manual-setup-without-mrtk) and let me know if the issue persists? Please make sure you are using the latest Mixed Reality OpenXR plugin, as mentioned in the linked docs. If the issue does not go away please let me know what is the v

[2021-06-18 23:15] RogPodge commented on #9557
Unfortunately it looks like unity's implementation of the Vector Sprite currently does not provide a way to access it's textures. Usually, Texture2Ds have the ability to toggle a Read/Write flag, which seems to be absent from the Vector sprite implementation.

There is a workaround for this, you can import the icons as a Textured Sprite if you want to see the preview.

![Vector](https://user-image

[2021-06-18 23:45] MaxWang-MS commented on #9996
The latest MR OpenXR plugin version is 1.0.0. Please make sure you hit the refresh button in the discover feature page of the feature tool when installing the package.

[2021-06-19 00:02] MaxWang-MS opened #10000 "Update the configurator to match the behavior of MR OpenXR plugin 1.0"
The Mixed Reality OpenXR plugin 1.0 was just released. We should update some of the descriptions in the configurator to match the recommended setup procedures.

[2021-06-19 04:06] maxking7 commented on #9888
I vote XRI because it's nice and easy to get started so far as Unity dev is concerned.

[2021-06-19 04:22] lovelieren commented on #9996
this is my config, i checked the package and update MROpenXR from v0.95 to 1.0 ,but still not work.

![微信截图_20210619121925](https://user-images.githubusercontent.com/4540603/122630753-ba3da100-d0f8-11eb-84c4-582774ce4068.png)
![微信截图_20210619122001](https://user-images.githubusercontent.com/4540603/122630757-bf025500-d0f8-11eb-8015-6552042f88ed.png)
![微信截图_20210619122008](https://user-images.github

[2021-06-19 08:32] eusebiu opened #10002 "Inactive controller visualizer after update to 2.7.0"
## Describe the bug

After updating MRTK 2.6.1 to 2.7.0 the controller visualizer gameobject is inactive (e.g. Left_GizmoLeft(Clone)).
In 2.6.1 the visualizer is enabled and in sync with the actual controller.

## To reproduce

Steps to reproduce the behavior:

1. Update MRTK to 2.7.0
2. Run project with Oculus (Quest 1)
3. Controller visualizer (e.g. Left_GizmoLeft(Clone)) is inactive

## Expecte

[2021-06-20 13:09] Jasperouz commented on #9636
I have MRTK 2.7.0 but still get the same error.

[2021-06-21 09:35] mkemka opened #10004 "MRTK 2.7 - Quest 2 - Cannot Move Camera"
## Describe the bug

The camera is spawned in a seemingly random position and cannot be moved. It can be moved when the scene is played but not before.

## To reproduce

Steps to reproduce the behavior:

1. Using Unity 2020.3, Quest 2, MRTK 2.7
2. Import the toolkit into a scene and set up the camera.
3. Change the position of the camera
3. Run the scene.

## Expected behavior

Expect the camera t

[2021-06-21 17:17] keveleigh commented on #9636
@Jasperouz Any chance there's an exception before the `IsEnabled` errors in your console?

[2021-06-21 17:35] keveleigh commented on #9864
@jorgejgnz Can you please double check on OpenXR that the HTC Vive Controller Profile is listed in your Interaction Profiles?

![image](https://user-images.githubusercontent.com/3580640/122804037-3b717100-d27c-11eb-9625-6cfcb9352288.png)

The OpenXR runtimes should still track these controllers without the explicit profile being present, but there's a bug we're investigating on either the Unity-si

[2021-06-21 17:37] keveleigh commented on #10002
Was this previously working with 2.6.1 and Unity 2021? Also, are you able to see anything stand out in the player logs that might point to a cause? I'm wondering if Oculus needs to update their Unity support for 2021 or something.

[2021-06-21 17:42] keveleigh commented on #9996
![image](https://user-images.githubusercontent.com/3580640/122804998-65776300-d27d-11eb-8cd7-83fa7ddfe5fc.png)

I think this is the missing piece. You'll want to add the Microsoft Hand Interaction Profile here.

[2021-06-21 17:50] #9458 closed

[2021-06-21 17:50] #9557 closed

[2021-06-21 18:23] davidkline-ms commented on #10000
fixed by #10000

[2021-06-21 18:23] #10000 closed

[2021-06-21 18:38] RogPodge commented on #9921
Adding note here: the issue was caused by the disabled manipulation handler still claiming the focus of the far manipulator, even though it was disabled. The PR fixed this by making it so that disabled components could not longer steal the focus.

[2021-06-21 18:40] eusebiu commented on #10002
Yes, MRTK 2.6.1 is working fine in Unity 2021. There are no errors/messages in the logs.
I am using the latest Oculus Integration (v29, Oculus Utilities v1.61.0, OVRPlugin v1.61.0, SDK v1.61.0)

[2021-06-21 18:58] keveleigh commented on #10002
@RogPodge Any ideas on this one?

[2021-06-21 19:25] RogPodge commented on #8881
Closed with doc update

[2021-06-21 19:25] #8881 closed

[2021-06-21 19:28] RogPodge commented on #10002
We made changes since 2.6 so that the Oculus controller visualizer defaults to the oculus one when the integration package is present, since we received issues regarding the gizmos being visible even when people didn't want them visible.

Are the Oculus models no longer visible? (This PR)[https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9862] made it so that the MRTK controller visualiz

[2021-06-21 19:51] eusebiu commented on #10002
If an user wants to hide the gizmos, it would simple disable the renderer from the gizmo prefab (or else I don't understand what was the initial issue).

In my case I am using the visualizer game object (```controller.Visualizer.GameObjectProxy```) to parent some object to it using a ```ParentConstraint``` and this should work for both hands and controllers (for hands this works fine even in MRTK

[2021-06-21 19:51] RogPodge commented on #10004
When deploying to XR devices, the device drivers will assume control over camera location based on the user moving about their world / boundary. This is because it is super weird to have the scene's initial position be offset from reality, so it will always try to initialize the playspace to the origin and properly align the camera with respect to that.

This is why we try to reinitialize the came

[2021-06-21 20:08] RogPodge commented on #10002
I think users initially wanted to control the gizmo visibility through the profiles, rather than have to modify their visualizer prefabs directly.

The Visualizer.GameObjectProxy refers to the MRTK visualizer, which is what the PR disabled when the Oculus controllers are available.

Looking at our interface, we do seem to have a gap where we implicitly use the visualizer to communicate the control

[2021-06-21 20:38] rderbier-tibco commented on #9996
Thanks Kurtis, I confirm that adding the Interaction profile to the OpenXR setting solved the issue on my side. I'm able to use the Hand Interaction example from MRTK in Unity 2020.3.11f1 with OpenXR plugin 1.0.0 now.
Maybe a doc update needed.

[2021-06-21 22:46] #9946 closed

[2021-06-21 22:55] Zee2 opened #10009 "BoundsControl does not flatten correctly with auto flatten axis"
## Describe the bug
`BoundsControl`, when flattened onto a slate or other flat object with the flatten axis set to Auto, does not properly collapse rotate handles, and instead has rotate and scale handles superimposed, resulting in inconsistent manipulations of flattened `BoundsControl`s.

## To reproduce
Steps to reproduce the behavior:

1. Load the HandInteractionExamples example scene
2. Run th

[2021-06-21 23:12] mkemka commented on #10004
Thanks for the reply - this makes sense and I am sorry for the basic question.

Currently I am using the Quest in stationary boundary so the experience is sitting down. For some reason the spawn point is [0,-20, 0] (under the floor) and it does't change regardless of if I set the main camera to be [0, 0, 0] or update the transform upon creation. This seems like a very basic question so I apologise

[2021-06-21 23:18] RogPodge commented on #10004
Is your playspace configured to be centered at the origin? Any displacement between the camera and the playspace may cause issues when the scene is started.

In addition, can you check your Mixed Reality Scene Content object to make sure things aren't getting positioned in unexpected places

![image](https://user-images.githubusercontent.com/39840334/122839007-0bda5d00-d2ac-11eb-85b7-c600e12ab5e2.

[2021-06-21 23:22] cre8ivepark opened #10010 "MRTK branding update - Assets"
## Describe the bug
MRTK logo assets update. This issue will be used to reference images in GitHub documentation.
The existing logo texture files in the StadnardAssets folder will be updated.

## MRTK Generic logo images
### Plated - Dark & Light
<img width="1571" alt="MRTK_Generic_Logo_Dark_Plated" src="https://user-images.githubusercontent.com/13754172/122838769-9c646d80-d2ab-11eb-9b31-ef984c66c

[2021-06-22 06:55] timbrando opened #10015 "Scripted object (OculusXRSDKDeviceManagerProfile?) has different serialization layout when loading"
Hello everyone!
I get the following bug after starting my app that I deployed to HoloLens 2.
## Description of the bug
After starting my app on HoloLens 2 I get the following output in the Development Console:

It occurs in my current project I am working at as well as in a blank new one. It's not showing in Unity Play Mode but only on HoloLens 2.
Despite this error everything else works as expect

[2021-06-22 11:08] Jasperouz commented on #9636
Yes, I receive a _FileNotFoundException: Failed to load "vcruntime140_app.dll". Please ensure that "Microsoft Visual C++ 2015-2019 Redistributable" is installed_ exception maybe thats the reason why.

[2021-06-22 15:33] #9446 closed

[2021-06-22 16:33] keveleigh commented on #9636
Yep, that'll be it! Do you happen to have the Mixed Reality Input package installed?

[2021-06-22 19:35] #10009 closed

[2021-06-23 01:48] cre8ivepark commented on #9831
Tested and experiencing the same issue. Attached Recording vs Playing video.
https://user-images.githubusercontent.com/13754172/123022255-60540a00-d38a-11eb-8e03-07d79ffb1520.mp4

[2021-06-23 05:55] lovelieren commented on #9996
yes!!! it worked.  thank you.

[2021-06-23 05:55] #9996 closed

[2021-06-23 09:40] ikorin24 opened #10019 "The dependencies of MRTK 2.7.1 are wrong"
## Describe the bug

The dependencies of MRTK 2.7.1 are wrong.

The package which MRTK 2.7.1 depends on is `com.microsoft.mixedreality.toolkit.standardassets %version%` in the following link,
but `%version%` is not valid. So, Unity cannot resolve the dependencies and the installation will fail.

https://dev.azure.com/aipmr/MixedReality-Unity-Packages/_packaging?_a=package&feed=Unity-packages&packa

[2021-06-23 11:43] mangolas opened #10020 "Make it possible to track simple foot gestures"
## Describe the problem

We are building a HoloLens app for drone pilots and most of the time their both hands are tied to controller and they can't use any hand gestures. So the ability to give some very basic commands, like selecting between two options by stepping on them, would be very useful.

## Describe the solution you'd like

A way to track foot in a way that one could look down and be ab

[2021-06-23 12:01] mangolas opened #10021 "Common UI tool for headset alignment"
## Describe the problem

We have found that new HoloLens users don't know what is the correct alignment of the headset so that they see best possible image. It would be helpful to have common tool to show users some sort of UI that allows them to correct the alignment.

## Describe the solution you'd like

Maybe showing some sort of white framed box covering the full field of view and asking users

[2021-06-23 12:54] c11epm commented on #10021
This could be useful, similar to the "Let's calibrate Hololens for your eyes" procedure, first step there shows corner indicators for the displays and users instinctively knows and understands how to reposition the Hololens correctly.

A way to have a common tool / procedure that can be called for could improve the experience for some first time users. Even though the process of Eye calibration sh

[2021-06-23 13:25] mangolas commented on #10021
Sounds good, let's hope you could fit this in the roadmap at some point!

[2021-06-23 16:34] CDiaz-MS commented on #10020
An alternative to step driven input could be eye tracking input.  The eye tracking input entry point does not require hands or voice.  MRTK has eye tracking examples located here (requires a HoloLens2): [Eye Tracking Examples](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/example-scenes/eye-tracking-examples-overview?view=mrtkunity-2021-05)

[2021-06-23 16:47] CDiaz-MS commented on #10021
If you are looking for access to the the tracking cameras, then I would check out the HoloLens research mode: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/research-mode

This request seems more related to the HoloLens Shell instead of MRTK specifically.  Could you please provide more information on the MRTK specific solution you would like to see?

[2021-06-23 17:12] CDiaz-MS commented on #9925
@followertryingtobeprogrammer it looks like the HoloLensForCV project leverages the HoloLens research mode: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/research-mode

Do you mean that you want the spatial mesh's surface material to reflect the colors of the objects mapped in the real world?

[2021-06-23 17:28] CDiaz-MS commented on #9796
@davidkline-ms are you aware of an existing feature that can record stereo audio?

[2021-06-23 17:40] keveleigh commented on #10019
Thanks for the report! We just shipped a 2.7.2 release which fixes this configuration issue and have delisted the broken 2.7.1 release. Please refresh your feed at try out 2.7.2.

Fixed via #10018

[2021-06-23 17:40] #10019 closed

[2021-06-23 18:58] RogPodge commented on #10004
Small ping on if you have enough info to proceed and we can close this issue @mkemka

[2021-06-23 20:16] mkemka commented on #10004
Sorry - thank you so much for the follow-up. I am still having the same issue and found if I enter inverse co-ordinares (-20 instead of 20 on the x axis for example) it does position the camera as long as I select both the camera and the playspace. I will start a new project and test the above.

[2021-06-23 20:29] RogPodge commented on #10015
Unfortunately I was not able to reproduce this issue. For what it's worth, I didn't see this on 2019.4.26f1. Can you try updating your Unity version and let us know if you still see this?

2.7.1 also had some updates to various device managers, so it's possible it was fixed in the latest patch: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/release-notes/mrtk-27-release-notes?vi

[2021-06-23 21:03] RogPodge commented on #9831
Hey @austinbhale sorry for the late response getting to this, I tried out your fix and it works really well. I'll be opening a PR with it today!

![RecordingFix](https://user-images.githubusercontent.com/39840334/123167709-c17fea00-d42b-11eb-8975-54386604876e.gif)

[2021-06-23 22:52] austinbhale commented on #9831
@RogPodge Sounds great, thank you!

[2021-06-24 00:10] #9831 closed

[2021-06-24 00:57] Zee2 commented on #9531
Thanks for reporting this @Waffle1434. This is due to our constraints executing in a non-deterministic order. We test for the correctness of multiple constraints when they do not interfere with each other, but in this case, the two constraints directly affect each other.

In your case, in one order, the two constraints sometimes executed in the "correct" (i.e., obtaining expected result) order, bu

[2021-06-24 10:01] mangolas commented on #10021
At the simplest, just a way to trigger 'Lets calibrate Hololens' type of corner indicators programmatically from applications would be enough. Or even just explain how to draw something to the corners of users view.

In regards to HoloLens Shell, I'm unfortunately quite uncertain where the boundaries of MRTK and HoloLens Shell go.

[2021-06-24 10:19] mangolas commented on #10020
Yes, that is a good point, and it is in our roadmap to investigate could we utilise eye tracking for giving commands for our use case.

But the use cases for foot behaviour tracking would still in our opinion be an interesting and potentially useful even in wider sense, like for example virtual pedals for guitarists and so on.

[2021-06-24 11:47] timbrando commented on #10015
Hi,
I updated my project to Unity version 2019.4.28 (newest) and updated the MRTK to 2.7.2 but I still see this error. I also made a new blank project with this configuration and followed the steps described under the link in my initial post but nothing changed.
I will try to fiddle with the OculusXRSDKDeviceManagerProfile to see if this is really the problem...
Regards

[2021-06-24 12:42] Daniel4144 opened #10025 "Keyboard on the Hololens 2 not working"
## Describe the bug

The MixedRealityKeyboard is not showing up on the Hololens 2. I added a MixedRealityKeyboard to the scene and called ShowKeyboard("text").
The first call of ShowKeyboard throws an exception:
`ArgumentOutOfRangeException: Selection is out of range.
Parameter name: selection
  at UnityEngine.TouchScreenKeyboard.set_selection (UnityEngine.RangeInt value) [0x00000] in <00000000000

[2021-06-24 16:47] keveleigh commented on #10025
This was true a long time ago but is no longer true. XAML builds not working is unexpected though.

Adding @MaxWang-MS for the other keyboard questions.

[2021-06-24 17:48] davidkline-ms commented on #2608
With MRTK v3 moving toward building upon XR Interaction Toolkit, is this something that needs to be owned by MRTK?

[2021-06-24 17:49] davidkline-ms commented on #2608
The root question comes down to how to access the "left hand", for example, at runtime.

XRI and the Tracked Pose Driver look to handle much of this.

[2021-06-24 18:13] davidkline-ms commented on #2798
* Prefab creation loses the connection to the scriptable object
* Changes to scriptable object settings at runtime get applied to the asset without cloning
* How few customer requests around this issue.
* Is DOTS something we should move closer to?
* What is the Unity guidance for use of scriptable objects?

[2021-06-24 18:15] davidkline-ms commented on #3278
This is written talking about input events, but the logic needs to be consistent regardless of event type

[2021-06-24 18:19] davidkline-ms commented on #3395
This issue actually applies to the platform vs MRTK. Will talk to that team.

[2021-06-24 18:19] #3395 closed

[2021-06-24 18:21] davidkline-ms commented on #3571
we recall fixing this some time ago, if we are incorrect, plz reopen

[2021-06-24 18:21] #3571 closed

[2021-06-24 18:23] davidkline-ms commented on #3589
Fixed with the OpenXR plugin. Will not apply to v3 (via OpenXR). At runtime, models appear appropriately.

[2021-06-24 18:23] #3589 closed

[2021-06-24 18:25] davidkline-ms commented on #3636
XR Interaction toolkit will own the core "systems" (ex: input, teleport, etc.). MRTK addons in v3 are intended to be light weight and startable on demand.

[2021-06-24 18:25] #3636 closed

[2021-06-24 18:30] davidkline-ms commented on #3770
This will allow for an automated first review for PRs. We should consider cleaning up simple issues (whitespace, etc.) and mark "change requested" beyond those.

[2021-06-24 18:31] davidkline-ms commented on #3952
No runtime assemblies should have editor assembly dependencies.

[2021-06-24 23:48] keveleigh commented on #7520
@yuhe0925 Ah yeah, looks like that was added in MRTK 2.4. Have you been able to update your version and resolve this issue?

[2021-06-25 00:12] holomatt commented on #9623
I am also experiencing this issue where the mesh observer is always stationary, regardless of the "is stationary observer" setting.

The meshing data is getting created, but is not loaded in beyond the mesh extents vector3 range. When running in HAR, I can validate this by running and meshing beyond the observer extent value -> stopping and upping the observer extent value -> when pressing play I

[2021-06-25 00:40] RogPodge commented on #10015
Can you post a screenshot of where in the development console you are seeing this? I'm wondering if there's a set of warnings that we're filtering out without knowing

[2021-06-25 00:53] #9987 closed

[2021-06-25 01:26] MaxWang-MS commented on #10025
@Daniel4144 The issues you encountered are not expected. I just tested both D3D and XAML builds with Unity 2020.3.12 and things worked without any problem. The fact that you called Unity's API directly (TouchScreenKeyboard.Open) but it did not work seems to me that you are either seeing a Unity bug or there could be some setup problem. That said, I cannot think of any special setting that is requi

[2021-06-25 07:25] timbrando commented on #10015
![IMG_20210625_081453](https://user-images.githubusercontent.com/55574254/123386586-1db34d00-d597-11eb-916c-7b0124a3baaa.jpg)
It is a bit tedious to get a screenshot because the HoloLens photo capture doesn't include the development console. I hope it helps. :)

[2021-06-25 09:11] MiPa12 commented on #9354
Hi, I'm having the same issue.
![Screenshot (41)](https://user-images.githubusercontent.com/61323363/123399974-8b667580-d5a5-11eb-8e0b-a5d9d98f69a4.png)

Your setup (please complete the following information)
Unity 2020.3.11f1
MRTK 2.7.0

[2021-06-25 10:21] laultman opened #10029 "Feature Tool: Crash on import"
## Describe the bug

Since Unity 2020.3.11f1 the MixedReality Toolkit fails to "install" in a brand new Unity project.

Please note. If you initialize Unity project as described below then close Unity (all running instances) and restart Unity the problem does not surface. It only happens when Unity is running. I tend to have multiple projects open and this may affect the operation.

## To reproduc

[2021-06-25 11:50] Daniel4144 commented on #10025
Thank you for testing, I also tested with Unity 2020.3.12 now (both D3D and XAML); same results.
The ArgumentOutOfRangeException only appears, if ShowKeyboard() is called with a non-empty string.

Since I only need to type numbers, I could probably create a simple custom numpad as a workaround. I appreciate any other ideas what else I could try to make it work.

Regarding the XAML build:
Although

[2021-06-25 13:18] sebstax7 commented on #9997
@MiPa12   Do you have any interactable object in your scene? If not just add a cube with "object manipulator" script and "near interectable" script.
In your player settings, "XR plug in management", check OPENXR and then windows mixed reality feature set box appears, check the box.

[2021-06-25 13:25] sebstax7 opened #10030 "APPX - HP REVERB G2 - WMR immersive - Crash at opening"
I built my application for WMR, using hp reverb G2, no error in my Unity log.

The application does not starts( I have a certificate issue at launch),  please my screen shot, I'm stuck at launch, the screen freeze and that's it.

## Expected behavior

the application should run

## Screenshots

![crash](https://user-images.githubusercontent.com/83447881/123431398-7f8caa80-d5c9-11eb-840a-91b19120ef

[2021-06-25 17:44] keveleigh commented on #10029
What does it do instead?

@davidkline-ms for visibility

[2021-06-25 17:56] keveleigh commented on #9354
@RogPodge Was this an issue fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9999?

[2021-06-25 17:58] RogPodge commented on #9354
Yep! should be fixed

[2021-06-25 17:59] MaxWang-MS commented on #10025
Your results is definitely unexpected. Can you send us a minimum repro project so that we can take a look?
I also encountered the error when building with XAML but I was able to ignore it, open the VS solution and build successfully. (@keveleigh do you know what's going on with MR OpenXR?)
Also this is highly unlikely to be the issue, but can you make sure your HoloLens 2 has the latest updates in

[2021-06-25 18:35] keveleigh commented on #10025
FileNotFoundException: Could not find file App.cpp

Looks like a bug in the Mixed Reality OpenXR Plugin package. I'll get that filed and fixed.

[2021-06-25 18:40] #9531 closed

[2021-06-25 22:30] RogPodge commented on #10015
Update, I've been able to find the error and will be adopting a fix based on this old PR.

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/8072

This should get fixed in the next version of MRTK!

[2021-06-25 23:58] MaxWang-MS commented on #10025
After changing the setup on my side I reproduced the exception being thrown issue. However this is a Unity bug and I have filed the bug to Unity (will post the issue tracker link here after it gets created). Strangely, the bug only appears when the scene/scripts are set up in particular ways so I was not able to repro with the modified hand interaction example scene.
@Daniel4144 There are two pote

[2021-06-27 09:41] laultman commented on #10029
Immediately terminates. Nothing happens.

Larry - On the go...

On Jun 25, 2021, at 1:45 PM, Kurtis ***@***.***> wrote:

﻿

On pressing Import, I expect the MR Feature Toolkit to show me the list of packages as it previously has done.

What does it do instead?

@davidkline-ms<https://github.com/davidkline-ms> for visibility

—
You are receiving this because you authored the thread.
Reply to this e

[2021-06-27 12:21] handzlikchris opened #10034 "Record actual controller data to be replayed later for faster iteration (without using mouse/keyboard simulation)"
Hi,

I'm looking to quickly iterate on some gestures with Oculus controlles. The gestures can change quickly and it'd be ideal to be able to record actual controlers for later replay.

I know I can use simulation service to record SimulatedHand that's driven by mouse and keyboard althought that's not easiest to use and by far using actual controler to perform action is quickest.

Is there a way I

[2021-06-28 06:14] timbrando commented on #10015
Super cool! Thanks for the support. :)
Keep up the great work!

I don't know if you still need the issue for your todo list so I will leave it to you to close this issue...

[2021-06-28 09:13] Daniel4144 commented on #10025
@MaxWang-MS The Hololens is already on the latest version "Windows 21H1, Build 20348.1007", but I also tested with an older version before.

I created a minimum repro project to share and when I tested that project, the keyboard suddenly worked! Now also the project I was testing before works. I changed nothing on the old project, so I have no clue what solved the issue.
Sorry for the waste of tim

[2021-06-28 09:13] #10025 closed

[2021-06-28 16:10] FlyingFlambe opened #10035 "(Urgent) Unity 2020.3 + OpenXR: Visual Studio deploys to HoloLens 2 like a desktop application"
## Describe the bug

Once the project is built and deployed via Visual Studio, HoloLens 2 recognizes the app as if it's a windowed application (e.g. web browser, video player, image viewer, etc). In Unity Holographic Remoting Play Mode, this bug does not occur and plays normally.

## To reproduce

Follow the in the tutorial provided by MRTK:
(1) https://docs.microsoft.com/en-us/windows/mixed-reali

[2021-06-28 16:47] FlyingFlambe opened #10037 "OpenXR project validation inaccurately reads XR initialization and holographic remoting, preventing a successful build"
## Describe the bug

OpenXR Project Validation finds an error that contradicts itself (see images and expected behavior below). The error prevents Unity from building a VS solution.

## To reproduce

![xrmgmt](https://user-images.githubusercontent.com/22328598/123674467-3f1a7000-d807-11eb-87e2-01c670832feb.png)
![image](https://user-images.githubusercontent.com/22328598/123673702-658bdb80-d806-11e

[2021-06-28 17:04] FlyingFlambe commented on #10037
Found the cause of the contradiction. Change these settings so Unity can build.
Before:
![xrpluginbefore](https://user-images.githubusercontent.com/22328598/123675919-e1872300-d808-11eb-8e93-04190a6b7cc6.PNG)
After:
![xrpluginafter](https://user-images.githubusercontent.com/22328598/123675945-e946c780-d808-11eb-9588-e5172ca5d767.PNG)

[2021-06-28 17:04] #10037 closed

[2021-06-28 17:04] FlyingFlambe commented on #10035
See issue+comment for fix: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10037#issuecomment-869856207

[2021-06-28 17:04] #10035 closed

[2021-06-28 19:08] keveleigh commented on #9997
There's currently a bug in MRTK regarding the fact that OpenXR providers both controller input _and_ hand joint representations when using a controller. MRTK currently assumes only hands will provide hand joint representations.

I'm working on a fix this week. We're also tracking this via https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9849

As a workaround for your setup, you can un

[2021-06-28 19:29] CDiaz-MS opened #10038 "Add Leap Motion UWP build support"
# Overview

Add UWP build support to the Leap Motion Data Provider.  The Leap Motion Data Provider currently supports only Standalone builds.

[2021-06-28 20:09] MaxWang-MS commented on #6759
Closing as the lack of preview text in Unity app is external to MRTK (it's on Unity/OS side). Please check out `MixedRealityKeyboardPreview` if you want to see the preview with MRTK.

[2021-06-28 20:10] #6759 closed

[2021-06-28 20:10] #7626 closed

[2021-06-28 20:18] #8363 closed

[2021-06-28 20:24] polar-kev commented on #9534
Hey @WuchiOnline, the Oculus XR Plugin 1.10.0 preview 1 has been released https://docs.unity3d.com/Packages/com.unity.xr.oculus@1.10/manual/index.html

Can you please let us know if this fixes your issue?

[2021-06-28 20:54] #7733 closed

[2021-06-28 20:58] MaxWang-MS commented on #8228
Fixed via #8565

[2021-06-28 20:58] #8228 closed

[2021-06-28 23:22] Zee2 commented on #9959
This is interesting. This seems to be a "working as intended" situation, but I am inclined to agree with you that this is not what the end user ought to expect. I'll open a discussion with the team. Linking @CDiaz-MS @thalbern to this.

The situation is that everywhere in `BoundsControl` code, the "bounds" (really, the `Links`) are not coded to obey the current visibility rules. If they're configu

[2021-06-28 23:42] Zee2 commented on #10021
@mangolas MRTK has no influence/connection to the HoloLens shell. MRTK is purely app-side; I'm not sure if there's any way we can trigger the system shell's headset alignment experience from inside a Unity/MRTK app.

It would be possible to create our own headset alignment popup; this needs discussion as to whether this is something we should implement/provide on the MRTK side.

[2021-06-28 23:47] Zee2 commented on #10020
Hand tracking is implemented at the hardware/system level on HoloLens 2, and implementing a similar computer vision solution for tracking feet would not be feasible (in my opinion) in Unity without serious performance impact.

As @CDiaz-MS suggested, using eye tracking would be the suggested solution. Specifically, I'd recommend using this pattern: https://docs.microsoft.com/en-us/windows/mixed-re

[2021-06-28 23:47] #10020 closed

[2021-06-28 23:49] Zee2 commented on #9964
Could we move to using a `MixedRealityTransform`, or perhaps a bespoke hand-joint-specific struct, or some other breaking change on 3.x? @RogPodge @keveleigh  what is driving the 2.x urgency on this?

[2021-06-28 23:59] keveleigh commented on #9964
This has been a feature requested for a while from the platform and various partners. Essentially, it's platform data that we've inadvertently hidden in MRTK. I had thought we added it for 2.7 but turns out not!

If we wanted to move to using a `MixedRealityTransform` for the events, we could make it configurable in the Hand Tracking profile and default to the current behavior.
We'd also still lik

[2021-06-29 00:02] Zee2 commented on #4911
Looking through backlog; is this specifically for `ManipulationHandler` or is for `ObjectManipulator`? We've deprecated `ManipulationHandler` for `ObjectManipulator`, so should this be closed won't-fix?

[2021-06-29 00:09] keveleigh commented on #10021
We did have the headset adjustment scene back in the HTK days (https://github.com/microsoft/MixedRealityToolkit-Unity/tree/htk_release/Assets/HoloToolkit/Utilities/Scenes), but I'm not finding the related scripts in the file tree at the moment (and don't have it cloned locally now). There might be something there we could revive

[2021-06-29 00:12] keveleigh commented on #8745
@RogPodge Is this still an issue, or are MRTK rigged hands an option for Oculus now?

[2021-06-29 00:13] keveleigh commented on #9047
@Zee2 Adding you here for awareness, since you've been looking at BC bugs recently.

[2021-06-29 00:15] RogPodge commented on #8745
This has not been addressed since this issue primarily concerns the "hand avatar" visualization when using the oculus controllers (not hand tracking). I'm unsure if the Oculus Integration Package has an update that fixes this issue, though my initial gut instinct is to advise users to manually change Oculus's Hand Avatar prefab rather than us manually strip it out and replace it with out own.

Wil

[2021-06-29 00:20] keveleigh commented on #9102
I'm not able to repro this...did you possibly have your "Toggle Tool Hand Rotation" setting set to Global instead of Local?

![image](https://user-images.githubusercontent.com/3580640/123718868-17420100-d835-11eb-9c9d-3ff4847f7449.png)

[2021-06-29 01:40] keveleigh commented on #9603
I've been thinking about this for a bit, and I don't think this is something to worry about. Yeah, the Oculus Integration Package might do things a specific way, but we have established patterns in MRTK as well (our rigged hands, our hands APIs for accessing hand joints, our pointer rays, etc). For MRTK integration, I'd vote that it's best to do things the "MRTK way" as opposed to replicating anyt

[2021-06-29 01:43] keveleigh commented on #10025
I've fixed this on the plugin side and it'll be in our next release!

[2021-06-29 06:13] miyocrosoft commented on #9272
In my case, changing the wifi network profile of Hololens2 to "Public" was successful, but I don't know why.

[2021-06-29 08:20] mangolas commented on #10020
Ok, thanks for input and recommendations. Perhaps in HoloLens 3 then :)

[2021-06-29 08:29] jjimenezg93 commented on #9102
I can't repro either, so that must be it, sorry about the hassle.

[2021-06-29 08:29] #9102 closed

[2021-06-29 08:30] Kent1LG commented on #9959
Hey Finn,

Thank you for the update, I understand the situation. Even if the code is not intended for now to make appearing the link/wireframe with the proximity.
Currently, the project I am working on have unity 2019.4 dependency, so until I found a way to use Unity 2020.3 I will not update my MRTK version. I may miss the fix when it will be released. Thereby, did you know a way (even a tricky on

[2021-06-29 16:26] Zee2 commented on #9959
So, it is actually very easy to hide the links display!

Check out the BoundsControlExampleScene. The coffee cups in that scene are configured in many different ways, and most of them have the links disabled. You can disable the links by going into the BoundsControl inspector, and toggling "links visible" in the configuration profile. (You may need to create a config profile asset through the drop

[2021-06-29 16:47] Zee2 commented on #9047
Hi @ModischFabrications , this has already been updated/changed in the `main` branch. The handle transforms are properly rotated now. If you're still having this issue, try cloning `main` and seeing if your handles behave as expected now.

[2021-06-29 16:51] ModischFabrications commented on #9047
Great, but I've moved on to other projects in the meantime and am therefore unable to test it. Feel free to close this issue if it's fixed.

[2021-06-29 16:54] Zee2 commented on #9047
Great, no worries.

[2021-06-29 16:54] #9047 closed

[2021-06-29 17:30] davidkline-ms commented on #10034
@handzlikchris,
Thanks for the suggestion! We will take a look and post here if there are current solutions that may help.

[2021-06-29 17:33] davidkline-ms commented on #10029
@laultman,

Can you post the log file from c:\users\<yourname>\AppData\MixedRealityFeatureTool? That may help us understand what you are seeing.

[2021-06-29 18:05] wlewis55 opened #10040 "Xbox Controller implementation not working with HL2 & MRTK on Build"
A few of my colleagues (@lstearns86) and I have been attempting to get Xbox Controllers working with the newest updates to MRTK in Unity 2020. We have had this working on projects in the past (2.6.1), but unfortunately have had no luck with MRTK 2.7. As per #9931 and the updates found in 2.7.1, the Xbox controller **works in the Unity Editor, but not in the HL2 after a build.**

## To reproduce

S

[2021-06-29 18:12] keveleigh commented on #10040
Can you please let me know which Windows version you have on your HoloLens? We're currently investigating a potential issue in certain Windows versions with Xbox controller not coming through properly.

[2021-06-29 18:16] wlewis55 commented on #10040
@keveleigh My HL2 is running:
- Windows Holographic for Business 21H1
- OS Build 20346.1002

[2021-06-29 18:39] lstearns86 commented on #10040
I'm having this issue as well, but I'm running OS Build 20348.1007

[2021-06-29 19:04] elbuhofantasma commented on #9273
The Input Simulation Service documentation has been updated on the Microsoft Docs page available here: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input-simulation/input-simulation-service?view=mrtkunity-2021-05

[2021-06-29 19:04] #9273 closed

[2021-06-29 20:23] keveleigh commented on #10040
Yep, those builds both look solidly in the range where I'd expect this. I'll mark this issue as `External` and will follow-up here when a fix ships!

[2021-06-29 22:54] Cameron-Micka commented on #6359
A fix for most of these errors is coming soon: https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10041

One last error remains which I will reach out to Unity about (you can see the PR details for more info.)

[2021-06-29 23:09] wlewis55 commented on #10040
Thanks!

[2021-06-29 23:41] #9960 closed

[2021-06-30 02:41] Zikun-Huang commented on #6170
hi @StarWardo
I got same issue happens on HL2 as well. Did you fix the issue eventually?

[2021-06-30 11:45] Kent1LG commented on #9959
Awesome, thank you for the information!

[2021-06-30 16:39] #6359 closed

[2021-06-30 16:39] #9851 closed

[2021-06-30 17:29] davidkline-ms commented on #4069
Investigate XRI input simulator vs the custom MRTK simulated hands.

[2021-06-30 17:33] davidkline-ms commented on #4633
Confirm whether or not the platform suspends the app and resumes after calibration. Should follow up with @sostel as well.

[2021-06-30 17:34] davidkline-ms commented on #5693
This has been done :smile:

[2021-06-30 17:34] #5693 closed

[2021-06-30 17:37] davidkline-ms commented on #5936
@Zee, is this solved by your translation handles work?

[2021-06-30 17:41] davidkline-ms commented on #5952
If this is still something that is needed, please reopen and provide an example of how a gaze generated input action would work.

[2021-06-30 17:41] #5952 closed

[2021-06-30 17:43] davidkline-ms commented on #5985
We believe this has been addressed (and mistakenly not resolved). If it is still an issue, please reopen.

[2021-06-30 17:43] #5985 closed

[2021-06-30 17:47] davidkline-ms commented on #6028
You can perform this gesture by : rotating the hand is available in the input / hand simulation (hold control, move mouse). Set flat hand in the simulation profile.

If this does not solve the issue, please reactivate.

[2021-06-30 17:48] davidkline-ms commented on #6028
@CDiaz-MS, please add helper images, thjanks!

[2021-06-30 17:52] davidkline-ms commented on #6009
@CDiaz-MS, can you look into this for v3? How might this look with interactive element, etc.

[2021-06-30 17:54] davidkline-ms commented on #5994
@Cameron-Micka, is this still needed? Do we need a dialog to point to the update shader menu item?

[2021-06-30 17:59] davidkline-ms commented on #10030
The dialog appears to be asking for permission to use an application capability. Unfortunately, the dialog cuts off the specific capability being requested.

@keveleigh, please follow up to ensure that the proper versions of OpenXR, etc. are being used.

[2021-06-30 18:01] keveleigh commented on #10030
Hey @sebstax7! Can you please clarify which version of OpenXR you're using, as well as if you have the Mixed Reality OpenXR plugin installed (and which version)?

If you have the Mixed Reality OpenXR Plugin installed, can you confirm that you have the Mixed Reality Features feature enabled for UWP?

![image](https://user-images.githubusercontent.com/3580640/124009448-7cf7cf80-d992-11eb-9c58-97f16a

[2021-06-30 18:06] CDiaz-MS commented on #6028
To make the hand flat in the input simulation, change the `Middle Mouse Hand Gesture` in the input simulation profile to `Flat` located under Input > Input Data Providers > Input Simulation Service

![image](https://user-images.githubusercontent.com/53493796/124009305-48841380-d992-11eb-82a7-09071fee1ad6.png)

To rotate the hand in-editor, press the middle mouse button, then hold ctrl + move the m

[2021-06-30 18:06] #6028 closed

[2021-06-30 18:13] Cameron-Micka commented on #5994
I think this feature would be still helpful and an easy addition. We could follow the same "fix now" button paradigm we do for depth. See this PR for that: https://github.com/microsoft/MixedRealityToolkit-Unity/pull/4734

[2021-06-30 21:19] FlyingFlambe opened #10043 "Add repositioning for proximity and hover lights"
## Describe the problem

I frequently work with models that use a different origin position than the origin point that's needed for a given child/parent model. Without the ability to change a component's origin position, such as with proximity and hover lights, I don't have as much flexibility when providing a good UX.

![image](https://user-images.githubusercontent.com/22328598/124031074-7bdb9800

[2021-07-01 07:28] mgrman opened #10045 "MixedRealityTextMeshPro Sprite shader"
## Describe the problem

TextMeshPro uses TextMeshPro/Sprite shader to render any custom sprites that you author. This shader does not support single pass instanced rendering nor clipping primitites. So it makes TMP sprites not usable with MRTK.

## Describe the solution you'd like

Provide MRTK specific shader for use with TextMeshPro Sprite rendering.

## Describe alternatives you've considered

[2021-07-01 10:54] LuuSangCntt commented on #8377
I am using MRTK 2.6 on Unity 2020.3. The HandMenus works but I still receive this error

[2021-07-01 13:00] sebstax commented on #10030
Hello @keveleigh @davidkline-ms, thanks for your support.

I finally got an APPX built by renaming in the Unity hierarchy "MRTK playspace" by "MAIN CAMERA".

Indeed, I added in "MRTKplayspace" my XRRIG and main camera otherwise, when teleporting (to move around in my application), controllers were stuck at their start coordinates and only my camera was moving.

Since this modification, my APPX bui

[2021-07-01 16:46] elbuhofantasma commented on #10045
Hello @mgrman, Thanks for bringing TMP Sprite Shader issue this to our attention! Can you give us a little bit more information about your Unity and MRTK setup? This will help give a starting point for us to reproduce this issue as you saw it. Did you see any warnings or errors in the Unity console when you were trying to initialize custom sprites?

[2021-07-01 16:51] elbuhofantasma commented on #10043
Hello @FlyingFlambe thanks for your feature request! I have assigned the Urgency-Later label because this seems like it would be a significant refactor and it is not failing to build.

[2021-07-01 20:35] keveleigh commented on #9723
Unity provided an update with why it's newly failing (they hardened some state logic requiring a `ClearProgressBar` call), so I opened #10046 to fix! I double checked the rest of our progress bar calls, and this was the only one missing a corresponding clear.

[2021-07-01 21:06] keveleigh commented on #10043
@Cameron-Micka Is this something that's supported in any form today?

[2021-07-01 21:28] #9723 closed

[2021-07-02 08:11] MiPa12 commented on #9997
@keveleigh thanks.

This solved the problem.  I confirm controllers works fine. Prefab is visible and I also can interact with objects.

![Screenshot (59)](https://user-images.githubusercontent.com/61323363/124242982-9b3e0680-db1d-11eb-9d14-00337616f441.png)

[2021-07-02 08:11] #9997 closed

[2021-07-02 10:12] sinajahromi commented on #9533
Hi , is there any new updates regarding the issue? have the same one :(
1.0.2104.4 Beta
Thanks in advance

[2021-07-02 10:56] sinajahromi commented on #9533
Hi,is there any new updates regarding the issue?
Best,
Sina

[2021-07-02 11:42] Rinatsin commented on #4188
Добрый день. У меня возникла та же проблема с мерцанием после установки GPU Instance на материале. Хотя скрипт стоит уже исправленный.   Я делаю меню с компонентом Scrollig Objects, скрипт вешает на префаб меню , компонент MaterialInstance. И возникает ошибка
------------------
ArgumentException: Could not find MaterialProperty: '_InstancedColor', Num properties: 96
UnityEditor.ShaderGUI.FindPrope

[2021-07-02 12:13] Rinatsin commented on #4188
And further . Of course, I'm not very good at shaders, but as far as I understand, the UNITY_INSTANCING_BUFFER_START (Props) block should be implemented in the shader. The standard shader has this block, but it does not implement the _InstancedColor property (there is only _Color).

[2021-07-02 13:11] mgrman commented on #10045
Hi @elbuhofantasma,

the use case we have, is to use ClippingBox to clip text as you scroll.
For text we use TextMeshPro.

The problem is that even if you use ClippingBox and set both the TMP renderer and the sprite submesh renderer, the sprite is not clipped.
![image](https://user-images.githubusercontent.com/6034981/124279169-76f71f80-db47-11eb-8f0e-0e5bb19a3c9d.png)
![image](https://user-images

[2021-07-02 16:13] elbuhofantasma commented on #10045
Hello @mgrman Thank you for the detailed information! We will investigate and update this issue when the investigation is finished.

[2021-07-02 19:35] Aminadad27 opened #10049 "<button>tittle</button>"
_👍_

[2021-07-02 19:47] keveleigh commented on #10049
Hey @Aminadad27! Not sure if you hit submit too early, but I'm going to close this until you get a chance to add some more info. Thanks!

[2021-07-02 19:47] #10049 closed

[2021-07-02 19:59] Cameron-Micka commented on #10043
Hi @FlyingFlambe, thank you for bringing this request up. It would be easy to add a local offset to the light's position, but I'm curious if you could achieve this already with a child gameobject?

The hover light and proximity light behave a lot like Unity's built-in [point light](https://docs.unity3d.com/Manual/Lighting.html) since they are a component which get their transformation from the tra

[2021-07-02 20:06] Cameron-Micka commented on #4188
Hi @Rinatsin, that you for reporting this. You are correct the MRTK/Standard shader's instanced color property is named `_Color` and not `_InstancedColor` which you can [see here](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/e1d1a43632d2a84e567614b570ee114eaaa8ccea/Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader#L331).

Do you know where the exception you posted above

[2021-07-02 21:47] elbuhofantasma commented on #10045
The team and I looked at this issue earlier this morning, and determined that this is a Unity issue. So I marked it as an external bug and will follow up as we get more information from Unity. I am going to keep this issue open in the meantime.

[2021-07-02 21:54] mgrman commented on #10045
@elbuhofantasma Unity bug? MRTK provides own variant of the main Text Mesh Pro shader for use with clipping box, but does not provide a variant of Text Mesh Pro Sprite shader, which makes sprites in Text Mesh Pro not usable with MRTK Clipping Box.

To me it seems on MRTK to provide a variant of the shader for use with it's own features. Since Unity cannot provide a shader for feature only MRTK has

[2021-07-03 07:29] 6631210141 commented on #10034
Ok

[2021-07-03 07:30] 6631210141 opened #10050 "Ok"
## Describe the problem

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context o

[2021-07-03 09:40] 6631210141 opened #10051 "Uf"
## Describe the issue
A clear and concise what the issue

## Feature area
What's incorrect? What's missing?

## Existing doc link
If this is about something in an existing document, please provide link

## Additional context
Add any other context about the problem here.

[2021-07-03 09:41] 6631210141 commented on #10051
- Todo bien

[2021-07-04 13:38] skyzdev commented on #9037
can we switch camera profiles at runtime or switch between skybox and solid color at runtime?

[2021-07-05 05:01] Rinatsin commented on #4188
Thank you, Cameron. I corrected the name of the property in the file to _Color, since you say that it should be.

[2021-07-05 10:55] las-nsc opened #10052 "Interactable Speech Handler with RequiresFocus unset doesn't give visual feedback of being activated"
## Describe the bug

Global Speech commands on interactables don't appear to work without focus, even when `Requires Focus = false`.

Also, the existing (unchanged) Interactable Speech handlers which do require focus do not work on the HL1 & HL2 devices using either the gaze or hand pointer.

## To reproduce

I copied the Interactable Speech Handler buttons in the SpeechInputExamples scene, and sw

[2021-07-05 14:26] mindfreaak opened #10053 "Input issue when in kiosk"
Unity Keyboard Input doesn't work when HL2 is in single app kiosk mode. [Documentation](https://docs.microsoft.com/en-us/hololens/hololens-kiosk) doesn't mention anything about it

## To reproduce

Steps to reproduce the behavior:

1. Build an app on Unity using MRTK
2. Enable Kiosk from HL2 Portal

## Expected behavior

- The input detects keys entry

## Your setup

- Unity Version [2019.4.10f1]

[2021-07-05 18:01] seancheno opened #10054 "Preventing Interaction of 3d Objects Behind a 2d Unity Canvas"
## Describe the bug

On our mobile app utilizing MRTK, we have a 2d unity canvas that overlays half the screen. When dragging or clicking on the 2d panel, 3d objects behind it are affected. Have tried many potential fixes including changing the `Pointer Raycast Layer Masks` options in the Input -> Pointers section of the MRTK configurable options, but having no luck.

## To reproduce

Steps to rep

[2021-07-05 19:09] Aminadad27 commented on #10049
🦄

[2021-07-05 19:10] Aminadad27 commented on #10049
@Aminadad27

[2021-07-05 19:11] Aminadad27 commented on #10049
[https://apps.apple.com/us/story/id1463439480]()

[2021-07-05 19:12] Aminadad27 commented on #10049
In a world where you can be anything, never forget to be Kind🌐🦄

[2021-07-05 19:12] Aminadad27 opened #10055 "> https://apps.apple.com/us/story/id1463439480"
In a world where you can be anything, never forget to be Kind🌐🦄

_Originally posted by @Aminadad27 in https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10049#issuecomment-874289195_

[2021-07-06 10:17] janick187 opened #10056 "MixedRealityKeyboard does not have a method Show()"
## Describe the issue
In the documenation it is mentioned that after attaching MixedRealityKeyboard component, the keyboard can be displayed by the `Show()` method.
However, this component does implement a method called `Show()`:

![missing show metod](https://user-images.githubusercontent.com/43849960/124584068-1b34db00-de54-11eb-8f86-ec0f35278df9.PNG)

## Feature area
No method available to disp

[2021-07-06 10:53] MikkelVirsabi commented on #9505
I'm just going to bump this issue. The lack of articulated hand support similar to Provencher's MRTK Quest fork can really be felt after we upgraded one of our projects to the official MRTK. If I had time I would look into it myself. I can see it has been added to the backlog, but what is a realistic timeline for this feature request?

[2021-07-06 17:54] #10055 closed

[2021-07-06 18:53] RogPodge opened #10057 "Near Interaction for controllers"
## Describe the problem

Currently, near interactions are not enabled by default for controllers due to the near pointers (the poke and grab pointers), only be available for articulated hands

## Describe the solution you'd like

Enable these pointers on motion controllers across the board and ensure that they are usable.

[2021-07-06 20:55] elbuhofantasma commented on #10054
Hello @seancheno, thank you for your Mobile Platform bug submission. I will investigate this issue and then assign it to the appropriate person. I will update this issue when I finish investigating.

[2021-07-06 22:25] Knaoinr opened #10058 "Inconsistent keyboard triggering from TMP input field"
## Describe the bug

After dismissing the keyboard by any means other than tapping another surface (such as pressing the X or enter buttons), tapping another surface toggles the keyboard on instead of off.

In addition, the keyboard sometimes dismisses itself seemingly without any user trigger. I don't think this is an accidental tap of something in the background, because it experiences the same

[2021-07-06 23:10] MaxWang-MS commented on #10058
Thanks for reporting the issue. Could you try reproducing the behavior of TMP input field in the MixedRealityKeyboardExample scene and let us know if the problem also appears there?

[2021-07-06 23:26] MaxWang-MS commented on #10056
Thanks for reporting the issue. The `Show` and `Hide` function in the documentation should actually be `ShowKeyboard(string text = "", bool multiLine = false)` and `HideKeyboard()`. We are in the process of making the doc update. Please note you will not see `ShowKeyboard(string text = "", bool multiLine = false)` in the event dropdown as shown in the screenshot as it has two (optional) parameters

[2021-07-07 14:45] Knaoinr commented on #10058
It occurs for both types of input field in the MixedRealityKeyboardExample scene.

[2021-07-07 16:07] elbuhofantasma commented on #10052
Hello @las-nsc thank you for the Speech bug submission! I am investigating this issue and will assign it to the correct person when I am done.

[2021-07-07 16:23] elbuhofantasma commented on #10053
Hello @mindfreaak Thank you for the input issue submission! I am investigating this issue to see if it happens on the latest MRTK version and the latest Unity 2019 version.

[2021-07-07 17:00] elbuhofantasma commented on #10053
@mindfreaak I was unable to reproduce this issue with Unity 2019.4.28f1 and MRTK 2.7.2 with XR SDK. I am going to verify that I see this issue with Unity 2019.4.10f1 and MRTK 2.5.3.

I will update this issue shortly with the results.

[2021-07-07 17:59] keveleigh commented on #6376
List item 1 should be solvable using https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/spatial-awareness/spatial-object-mesh-observer?view=mrtkunity-2021-05

List item 2 does sound interesting to move away from referencing scene objects and thus the main thread requirement. We've added this to the backlog as a potential 3.x timeframe improvement.

[2021-07-07 17:59] davidkline-ms commented on #6295
Facades have been deprecated (removed?) since 2.4/2.5. We can safely close this.

[2021-07-07 17:59] #6295 closed

[2021-07-07 18:02] davidkline-ms commented on #6387
We should address this for all MRTK provided menus. Order consistency is important for customer experience (muscle memory of where to find items)

[2021-07-07 18:49] keveleigh commented on #10053
@mindfreaak, what isn't working for you specifically? "The input detects keys entry" sounds like some sort of keyboard input, but I'm wondering if certain parts of input (airtaps? touch?) work while something specifically doesn't.

[2021-07-07 18:55] mindfreaak commented on #10053
@keveleigh I have a keyboard and a mouse plugged in the headset. In a normal situation I am able to detect the key pressed from the keyboard.
random example scenario:
- I have an app that once I press on "s" on keyboard it will show a message
- Once I go in Kiosk mode, nothing happens when I press the key "s" and eventually applies to all keys on the keyboard

[2021-07-07 18:57] keveleigh commented on #10053
Thanks for the additional context! We've had some input-related issues in the OS recently (like https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10040) than I'm wondering if you're hitting. Which OS version are you running on your HoloLens?

[2021-07-07 19:02] mindfreaak commented on #10053
Thanks for your response
 I added OS build **10.0.19041.1154** to the original question too

 AirTaps seem to be working fine on Kiosk

[2021-07-07 20:49] elbuhofantasma commented on #10053
Hi @mindfreaak apologies for it taking longer than expected to test this, I realized with the help of @keveleigh that I did not consider the keyboard when I was initially testing so I retested everything with the onscreen keyboard

My OS version is: 21H1 20348.1007

I did not find any issues with the onscreen keyboard or far/near interaction with the objects in the Hand Interactions Examples scene

[2021-07-07 21:06] mindfreaak commented on #10053
@elbuhofantasma much thanks for the response,

I will make the tests tomorrow and will close if it works with the new XR SDK

[2021-07-08 14:47] BrunoVarelaKitAr opened #10061 "Get the thermal stage of Hololens"
## Describe the problem

We want to check the thermal stage of the Hololens to check how some features of our app behave when the hololens temperature gets warmer. We discovered that we can retrieve this information using the device portal rest API but for that, we need to have the hololens in Developer mode settings and also have a login for the Hololens.
This pre requisites for a production sett

[2021-07-08 15:30] FlyingFlambe commented on #10043
I'll look into this and get back to you on it.

[2021-07-08 18:07] polar-kev commented on #6491
Hi @zyjisdog, this doesn't appear to be an MRTK issue. I recommend asking your question on the Unity forums to get more information.

[2021-07-08 18:07] #6491 closed

[2021-07-08 18:10] polar-kev commented on #6537
Hi @Alexees, since Oculus Go is not supported I'll be closing this issue.

[2021-07-08 18:10] #6537 closed

[2021-07-08 18:14] polar-kev commented on #6538
@Zee2 can you check if this is still the case in the hand interaction scene?

[2021-07-08 18:20] polar-kev commented on #6690
The non native keyboard would need to be updated with the latest MRTK layout tools.

[2021-07-08 18:21] polar-kev commented on #6689
GridObjectCollection is being replaced by a new layout tool so this issue is no longer relevant. #6690 has been updated with a comment to use the latest MRTK layout tools.

[2021-07-08 18:21] #6689 closed

[2021-07-08 18:23] davidkline-ms commented on #6739
The MRTK v3 effort includes moving to using Unity's XR Interaction Toolkit (XRI), which will result in our UX components being usable in any application that utilizes XRI, even if other MRTK components are not included.

[2021-07-08 18:27] polar-kev commented on #6787
@keveleigh can you see what it would take this to update this to XR SDK?

[2021-07-08 18:31] davidkline-ms commented on #6897
We should ensure that the MRTK documentation recommends acquiring and using the Microsoft Spatializer. I will follow up.

[2021-07-08 20:59] keveleigh commented on #6864
@Railboy This is quite old, but do you remember if

was completed?

[2021-07-08 21:04] keveleigh commented on #8528
My guess is that this is a bug on the Windows XR Plugin side, where they're either setting the wrong type on the texture or writing the wrong alpha to the texture for MRC. Have you / can you file a Unity bug?

[2021-07-08 21:06] keveleigh commented on #8090
Closing as it's reported that this should work with a newer version of the spatializer.

[2021-07-08 21:06] #8090 closed

[2021-07-08 21:29] keveleigh commented on #8878
@MaxWang-MS Do you know if you've looked at this in any of your SOC investigations? I think several of our interactive components (the sliders as well, i think?) assume they should move according to the actual movement of the source, which makes sense on HL2 where the hand ray isn't affected by the hand rotation, but feels awkward with controllers where the rays are rotated easily

[2021-07-09 00:36] camnewnham commented on #8707
Have there been any updates on this issue or is there a Unity bug tracker for it?

[2021-07-09 00:48] keveleigh commented on #8707
Apologies about my lack of update here. This _should_ be fixed on the latest Windows XR Plugin across the latest Unity versions. I can narrow down the versions if needed, and please let me know if you're still seeing issues on the latest!

[2021-07-09 04:26] camnewnham commented on #8707
@keveleigh I can confirm that it's resolved and records correctly in the only configuration I tested:
Unity 2020.3.12f1 with Windows XR Plugin 4.5.0

The warning from https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9170 is still present in the MRTK MRC settings as of MRTK 2.7.2.0:
![image](https://user-images.githubusercontent.com/19278856/125023091-791a2a80-e0c1-11eb-9137-358d702ef7d4

[2021-07-09 06:14] keveleigh commented on #8707
@camnewnham Ah, thanks for pointing that out! It's probably been enough time that we can remove that now. I'll get it sorted tomorrow!

[2021-07-09 18:42] Cameron-Micka commented on #10045
Thank you @mgrman for reporting this! I agree this looks like a new feature request/bug we should support. In the MRTK we should fork the[ TMP sprite shader](https://github.com/UnityTechnologies/Presentation/blob/master/TextMesh%20Pro/Resources/Shaders/TMP_Sprite.shader) and add the relevant single pass instanced rendering support and clipping primitive support.

[2021-07-12 11:20] rolandsmeenk opened #10062 "Render from PV Camera with the same near plane distance as the main camera"
## Describe the problem

When recording with Render from PV Camera enabled I often run into near plane clipping in the recorded video. Typically does will be the case when using direct hand manipulation of holograms. This clipping is not visible in HoloLens, but only seen after the recording is done so this must be a difference in near plane settings for the PV camera and the camera used for rende

[2021-07-12 13:36] ChristophHoltmann commented on #9611
Hi, is there any workaround for this until the bug is fixed?

[2021-07-12 14:05] hermann-noll opened #10063 "TMP InputField submit event by cancelling Hololens Keyboard"
## Describe the bug

When using a TextMeshPro inputfield in a MRTK canvas and the system hololens keyboard a submit event is fired even though the user pressed the X-button to cancel the input.

## To reproduce

Steps to reproduce the behavior:

1. Create a scene containing a MRTK canvas and a TMP input field
2. Add a handler to the submit event
3. Build and run on Hololens
4. Observe the submit e

[2021-07-12 15:45] crunkett09 commented on #10040
I'm also running into this issue.

[2021-07-12 16:02] andikay commented on #10015
Is there any information in what version this fix will be applied? I also suffer from the same error in my HL2 project with Unity 2020.3 LTS / MRTK 2.7.0-preview5 / Windows Mixed Reality.

[2021-07-12 16:23] keveleigh commented on #10062
Which version of Unity are you using? If you're using Windows XR Plugin, which version of that are you using? I think this should be fixed on the latest versions across the board, but I can try to narrow down where the proposed fixes landed.

[2021-07-12 17:07] lstearns86 commented on #10040
@keveleigh Is there a workaround for this issue, or an estimate on when it will be fixed? Or can you provide a specific version of Windows (and/or MRTK) that we should roll back to so that the Xbox controllers will work again?

[2021-07-12 17:18] polar-kev commented on #9627
Closing since the referenced PR has been merged.
MicrosoftDocs/mixed-reality-pr#2914

[2021-07-12 17:18] #9627 closed

[2021-07-12 17:27] RogPodge commented on #10054
@elbuhofantasma any update on this?

[2021-07-12 17:27] RogPodge commented on #10053
@mindfreaak any update on this I saw that it was closed and re-opened?

[2021-07-12 17:28] keveleigh commented on #10040
This should be fixed in Windows 20348.1405 or newer (it should be in one of the Insider Preview rings). You may need to unpair/repair your Xbox controller to your device.

[2021-07-12 17:32] polar-kev commented on #9499
@elbuhofantasma, do you have any details to share here?

[2021-07-12 17:34] polar-kev commented on #9647
Hi @iluvian, I'm closing this issue since the response above should resolve it. Please reopen the issue if the proposed solution does not work.

[2021-07-12 17:34] #9647 closed

[2021-07-12 17:39] seancheno commented on #10054
Quick update @elbuhofantasma I posted a thread on the unity [forum](https://forum.unity.com/threads/mrtk-how-to-ensure-clicks-on-2d-unity-canvas-dont-affect-the-3d-objects-behind-it.1136413/). Someone replied saying `Is your canvas in screen space or world space? XR doesn't support screen space UIs, only world space.`

We are using screen space for our canvas and cannot change it, thus are hoping

[2021-07-12 17:40] polar-kev commented on #9711
Closing as a duplicate of #6826

[2021-07-12 17:40] #9711 closed

[2021-07-12 17:43] RogPodge commented on #10015
The original scope of the fix is looking a bit larger than initially forecasted unfortunately :(

Since the bug doesn't functionally affect MRTK during runtime, we've put it lower on our priority queue of issues, though be assured that it's still top of mind for us. It may need to wait until a later MRTK release however.

[2021-07-12 17:51] keveleigh commented on #7224
This should now be working across bother XR SDK and legacy XR for HoloLens 2

[2021-07-12 17:52] polar-kev commented on #7226
Hi @zhudaxing, a color picker feature was added to MRTK 2.5 as an experimental feature.
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/release-notes/mrtk-25-release-notes?view=mrtkunity-2021-05#color-picker-experimental

![image](https://user-images.githubusercontent.com/30964480/125333597-46f60c00-e2ff-11eb-9102-7eb90375f3de.png)

[2021-07-12 17:52] #7226 closed

[2021-07-12 17:56] polar-kev commented on #5574
@keveleigh can we close this given https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9649
![image](https://user-images.githubusercontent.com/30964480/125333983-b66bfb80-e2ff-11eb-8b1d-c49f919046d8.png)

[2021-07-12 17:59] andikay commented on #10015
Thanks for the update. I don't know whether or not it impacts MRTK functionality during runtime, it is an error after all and errors in Unity often lead to something not working as desired.

Do you have any suggestion for a workaround to get rid of this error? Oculus is not really relevant for HL2 development/usage anyway.

[2021-07-12 18:03] polar-kev commented on #7355
Hi @Yolo-Jerome, move, rotation and scale constraints are handled by the Constraint manager that can be used with the ObjectManipulator script that replaced ManipulationHandler.
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/constraint-manager?view=mrtkunity-2021-05

![image](https://user-images.githubusercontent.com/30964480/125334911-c33d1f00-e300-1

[2021-07-12 18:03] #7355 closed

[2021-07-12 18:03] RogPodge commented on #10015
Manually removing the data provider from the profile should resolve the issue:
![image](https://user-images.githubusercontent.com/39840334/125334883-bae4e400-e300-11eb-9336-eee492afc09d.png)

if there's other data providers raising an error as well, removing those should also be a good workaround.

[2021-07-12 18:03] keveleigh commented on #5574
@polar-kev I'd say they're slightly different, if we wanted to have these options in both places (under Mixed Reality and under Window) for maximum discoverability. I'm fine with closing this though if we don't want to make this change!

[2021-07-12 18:11] saed219 commented on #5574
Q

[2021-07-12 18:15] keveleigh commented on #10040
If you instead want to roll back, you can roll back to any 20H2 builds. This issue was only present on 21H1 builds.

[2021-07-12 18:20] polar-kev commented on #7315
The ObjectManipulator script which replaces ManipulationHandler allows for physics and collisions with rigid bodies, and will allow you to achieve the scenarios you mentioned.

Here's a link to the docs:
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/object-manipulator?view=mrtkunity-2021-05#physics-and-collisions

[2021-07-12 18:20] #7315 closed

[2021-07-12 18:21] andikay commented on #9722
I am having the same or very similar issue with HL2 builds with Uniy 2020.3 LTS / MRTK 2.7.0-preview5 / Windows XR Plugin. I do not have any errors or warnings when testing it in the Unity Editor, only on the final HL2 build. I do not have anything that needs repairing in the MRTK, so I cannot apply any of the fixes/workarounds mentioned in this topic. Here are the WARNINGS (not ERRORS according t

[2021-07-12 18:22] polar-kev commented on #6227
Now that documentation is hosted on docs.microsoft.com, we collect visitor count date.

[2021-07-12 18:22] #6227 closed

[2021-07-12 18:29] polar-kev commented on #8515
I believe this is now fixed. @elbuhofantasma, can you confirm?

[2021-07-12 18:33] polar-kev commented on #8824
Closing since this is no longer relevant.

[2021-07-12 18:33] #8824 closed

[2021-07-12 18:47] polar-kev commented on #9234
Hi @julesra, moving forward, all MRTK docs are being maintained on docs.microsoft.com. We've updated our documentation there to include pipeline specific instructions in different tabs.

[2021-07-12 18:47] #9234 closed

[2021-07-12 19:11] andikay commented on #10015
This worked, thanks a lot!

[2021-07-12 19:14] RogPodge commented on #10021
Adding this feature request into the backlog and temporarily assigning @keveleigh for now for consideration in a future iteration.

[2021-07-12 19:15] RogPodge commented on #10034
We have improved input recording/replay as a work item in our backlog, will be tracking this one as well under that larger umbrella.

[2021-07-12 20:43] polar-kev commented on #5574
@keveleigh I like that options/windows added by MRTK are all under the Mixed Reality dropdown because it makes it clear that they were added to the project and not part of native Unity.

[2021-07-12 20:52] holomatt opened #10064 "SurfaceMagnetism exhibits gimbal locking behavior when an object is placed on a horizontal surface and Orientation Mode is set to Surface Normal"
## Describe the bug

SurfaceMagnetism exhibits gimbal locking behavior when an object is placed on a horizontal surface and Orientation Mode is set to Surface Normal.

## To reproduce

1. Add SurfaceMagnetism and SolverHandler to an object.
2. Enable Spatial Awareness at runtime (holographic remoting works fine)
3. Configure SurfaceMagnetism Orientation Mode to "Surface Normal"
4. Set target on So

[2021-07-12 20:54] holomatt opened #10065 "SliderSounds plays sounds when the slider position is updated by the system"
SliderSounds plays sfx when the system updates the slider thumb position. This results in anomalous sounds from the user's perspective as they are not interacting with the slider.

Examples:

Slider position is set to a value on initialization. Slider position is set to a value ambiently by the system during the experience.

Expected Behavior:

SliderSounds only triggers as a result of user intera

[2021-07-12 20:57] holomatt opened #10066 "PinchSlider ThumbVisuals appears offset as a result of NaN issue"
## Describe the bug

At runtime, the ThumbVisuals object initializes into an invalid transform until the first interaction. Upon interaction it snaps to the right position.

## To reproduce

Issue caused by upstream parent gameObject being 0 scale transform during slider initialization. Can result in a visual issue and/or NaN exception.

## Expected behavior

ThumbVisuals is properly placed regard

[2021-07-12 20:58] Zee2 commented on #10064
Thanks for reporting this! I'll take a look as soon as I can.

[2021-07-12 21:02] Zee2 commented on #10065
@RogPodge Do you want to take a look at this, because I think you were working with the touch slider recently? If not, there is another bug with touch slider (#10066) that I was going to tackle (same root cause as a previous bug I fixed), and I could do this at the same time.

[2021-07-12 21:06] Zee2 commented on #10066
Thanks for reporting this! I'll take a look ASAP.

[2021-07-12 21:40] keveleigh commented on #5574
Works for me!

[2021-07-12 21:40] #5574 closed

[2021-07-12 21:49] rolandsmeenk commented on #10062
Unity 2019.4.21f1, Legacy XR, MRTK 2.7.2.0
But I will check with a newer Unity

On Mon, 12 Jul 2021 at 18:23, Kurtis ***@***.***> wrote:

[2021-07-12 21:51] keveleigh commented on #10062
Looks like it landed in 2019.4.26f1 for legacy

[2021-07-13 02:00] saed219 commented on #5574
E

[2021-07-13 06:57] RogPodge commented on #10004
Looping back around on this issue and pinging to see if it's still a problem @mkemka

[2021-07-13 07:29] jskim7018 opened #10068 "There is no Snap To Position toggle menu in Inspector for Slider"
## Describe the issue
Hello, I am unable to find the Snap To Position toggle in the Inspector for Slider.

## Feature area
In the MRTK document for slider there is snap to position menu in inspector properties description but I cannot find it in Unity inpsector tab.

## Existing doc link
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/sliders?view=mrtk

[2021-07-13 08:56] hermann-noll opened #10069 "Support not closing UWP keyboard on air taps with TMP_InputField"
## Describe the problem

When `TMP_InputField` is used with the system keyboard air taps will cause the Hololens keyboard to close. This happens very easily, especially for unexperienced Hololens users.

## Describe the solution you'd like

I would like an option to disable air taps closing the keyboard when using `TMP_InputField`.

## Describe alternatives you've considered

There is a  `DisableU

[2021-07-13 10:06] #10068 closed

[2021-07-13 10:09] jskim7018 commented on #10068
I was using old version, found the menu after updating.

[2021-07-13 10:24] arsdever opened #10070 "Allow the user to choose the button state depending on follow behavior"
The script looks a bit limiting with the current implementation. This somehow forces the user to have a `FollowMe` button, but the user may want to have a `Pin` button instead, which is impossible to assign as an interactable for the `FollowMeToggle` component the reverse behavior of `IsToggled` state.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682af

[2021-07-13 10:27] Rufus31415 opened #10071 "Unable to manipulate the sliders with the mouse or the touch screen"
## Describe the bug

With the gaze pointer or the hands it is easy to manipulate the slider. On the other hand, the slider has a strange behavior with the mouse or touch screen.
As shown in the screenshot below, you only need to move a few pixels to get to the extreme position of the slider.

## To reproduce

- Add a Unity Mouse Device Manager as a Input Data Provider
![image](https://user-images.

[2021-07-13 17:43] RogPodge commented on #10070
Just so I'm understanding this correctly, is this issue requesting a behavior that explicitly has the opposite behavior of the FollowMeToggle? From what I can tell, the FollowMeToggle will either pins its gameobject in place or set it to follow the user, so the desired "pin" behavior would work without any additional changes.

[2021-07-13 18:26] arsdever commented on #10070
The speech is not about the behavior of the `gameObject` it is assigned to, but rather the toggled state of the interactable, which is optional to be assigned. So, if the user has a `Pin` button (which is toggled when the `gameObject` is not following) the script doesn't fit, whereas for `FollowMe` buttons (which is toggled when the `gameObject` is following) it works perfectly.

[2021-07-13 20:16] polar-kev opened #10072 "MixedRealityKeyboardExample not working with HP Reverb"
Issue originally posted on Unity forum: https://forum.unity.com/threads/mixedrealitykeyboardexample-is-not-seems-to-work-with-hp-reverb.1139143/

"The new unity project has been initiated with unity hub and unity version 2020.3.12f1, MRTK configuration is done with Windows Mixed Reality Feature Tool! Imported the MRTK examples via unity package manager! and open up the scene "MixedRealityKeyboardE

[2021-07-13 20:33] janick187 opened #10073 "PinchSlider: How to update slider in script?"
## Describe the issue
I query a value from an external server inside my c# script. I get a float value from this server in the range of [0,1].
Now from inside the code I want to update the PinchSlider with this value.

Unfortunately the following calls do not work. The PinchSlider is not updated:
[code]

## Feature area
Documentation is very basic and does not include any information regarding upd

[2021-07-13 21:46] liberty293 commented on #7165
Hi Troy, in this case, I think it makes sense for OnDeselection to fire when deselected via the ToggleCollection. The purpose of the ToggleCollection is to ensure only one toggle is selected at a time. However, if OnDeselection is never fired, is as if the toggle is always selected.
For example, if you are using the ToggleCollection to display different states, but you only want one displayed at a

[2021-07-13 21:46] #10064 closed

[2021-07-14 00:03] RogPodge commented on #10070
Ah I see where the request is coming from. Basically, you're looking for the option to set the interactable's toggle state to false when the FollowMeToggle's follow property is true and vice versa right?

[2021-07-14 00:16] RogPodge commented on #10065
@holomatt do you have a quick video reproducing the issue? I'm wondering if rogue events are firing somewhere and want to make sure we're looking at the right scenario

[2021-07-14 00:19] RogPodge commented on #10073
Tested changing the slider values via code and it seemed to work in the example scenes. Which MRTK version are you looking at?

[2021-07-14 01:51] ttkrpink commented on #9956
It seems that OpenXR cause the problem. When I use Windows XR, I can build the project with icons.

[2021-07-14 01:54] athreatt07 opened #10076 "pinch slider"
## Overview

## Expected behavior

## Actual behavior

## Steps to reproduce
_(Links to sample github project preferred)_

## Unity editor version

## Mixed Reality Toolkit release version

[2021-07-14 01:54] #10076 closed

[2021-07-14 07:37] arsdever commented on #10070
Exactly. I would say it's even better to have an `enum` for choosing how should the `Interactable` behave depending. Maybe the user doesn't want the `Interactable` to change the state at all (although it's possible by not attaching the `Interactable` at all).

I was trying to prepare a PR. Maybe today I'll propose it. Let's see what comes.

[2021-07-14 08:06] janick187 commented on #10073
Sorry, how can I check my version of MRTK?
Also, youd cou kindly share your code lines for chaning slider value? Did it also adjust the slider visually (i.e. the line and toggle)?

[2021-07-14 09:08] Jason-Chn95 commented on #9077
Have you found the solution?I had the same problem  ):

[2021-07-14 09:24] Jason-Chn95 opened #10079 "Shader renderings are only visible in one eye"
## Describe the bug

Shader renderings are only visible in one eye，everything appears in the Unity editor. After packaging, I noticed that the shader effect is only displayed in the left eye, and the right eye does not see the shader effect.

## To reproduce

Steps to reproduce the behavior:

1.Write your own shader
2.Attach to the material ball and then add the shader to Unity's Graph includingsh

[2021-07-14 12:59] Manick94 commented on #10072
I've been using the MRTK version 2.7.0-preview.4 through Microsoft Mixed Reality Feature Tool.

[2021-07-14 13:13] Vectrobe opened #10080 "Project selection fails if folder names are lower case"
## Describe the bug

Project selection stage of the tool installer will fail, if the target project has lower case or mixed case folders, it will think its not a unity project and complain that the folders are missing

## To reproduce

Make a dummy project with any of the three "Assets", "Packages", "ProjectSettings", with the case of any character in any folder changed from the example.

Selectin

[2021-07-14 17:14] keveleigh commented on #9077
I'd recommend filing a Unity bug for this one. My first suggestion was going to be to double check that the shader you're using supports single pass instanced, which is described [in Unity's docs here](https://docs.unity3d.com/2020.2/Documentation/Manual/SinglePassInstancing.html) under "Custom shaders".

I noticed that https://docs.unity3d.com/2020.2/Documentation/Manual/SinglePassStereoRendering

[2021-07-14 17:17] MaxWang-MS commented on #10056
The documentation has been updated.

[2021-07-14 17:17] #10056 closed

[2021-07-14 17:40] keveleigh commented on #10079
I would recommend reading https://docs.unity3d.com/2020.2/Documentation/Manual/SinglePassInstancing.html, particularly the section under "Custom shaders". There may be some lines you'll need to add to your shader to properly support single pass instanced rendering.

[2021-07-14 17:42] RogPodge commented on #10073
This is the test update code I added to the PinchSlider.cs script and it let me increase a slider's value by pressing the up arrow key

        public void Update()
        {
            if(UnityEngine.Input.GetKeyDown(KeyCode.UpArrow))
            {
                SliderValue += 0.01f;
            }
        }

It ends up moving the slider thumb and increasing the value of the text display, thoug

[2021-07-14 17:42] keveleigh commented on #10072
I wonder if this is the issue, if Unity handles the keyboard differently across Standalone vs UWP. It may be worth filing a Unity bug.

[2021-07-14 17:46] elbuhofantasma commented on #10080
Hello @Vectrobe thank you for submitting this issue on the Mixed Reality Feature Tool! I have assigned @davidkline-ms to investigate this, and @keveleigh added it to the appropriate Project for the Mixed Reality Feature Tool

[2021-07-14 17:55] Manick94 commented on #10072
already did bro! this issue has been pulled out from the unity forum! all we want is a fix...

[2021-07-14 18:27] FlyingFlambe commented on #10043
Yep that solution works, thanks.

[2021-07-14 18:27] #10043 closed

[2021-07-14 18:44] #8707 closed

[2021-07-14 19:25] polar-kev commented on #6954
Hi @zhudaxing, sorry for the late reply. We're going through old issues and came across this one.
@keveleigh, do you have any thoughts here?

[2021-07-14 19:33] polar-kev commented on #7262
Hi @VRacity, this issue has been fixed in the new constraint system.
See the constraint manager docs page: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/constraint-manager?view=mrtkunity-2021-05

[2021-07-14 19:33] #7262 closed

[2021-07-14 19:40] polar-kev commented on #7320
Thanks for this submission. Please submit a PR for this and we can explore your implementation.

[2021-07-14 19:40] #7320 closed

[2021-07-14 19:43] polar-kev commented on #6724
Hey @HoloMoto, there hasn't been any activity on the PR associated with this, #6744. I'm going to close this issue. If you still want to finish the PR, feel free to open it again.

[2021-07-14 19:43] #6724 closed

[2021-07-14 19:50] polar-kev commented on #7416
This improvement to 2.x is no longer necessary given MRTK 3's move to Unity's XRI.

[2021-07-14 19:50] #7416 closed

[2021-07-14 19:50] keveleigh commented on #10072
The keyboard itself is mostly not an MRTK implementation, instead using [Unity's TouchScreenKeyboard](https://docs.unity3d.com/ScriptReference/TouchScreenKeyboard.html).

From that doc, I do see

so that's likely what you're hitting. You'll need to ask Unity to add support for VR apps on Windows Standalone.
If you're able to build UWP instead, that might resolve your issue in a deployed app.

I'm

[2021-07-14 19:54] polar-kev commented on #7398
Closing since Troy's reply is sufficient.

[2021-07-14 19:54] #7398 closed

[2021-07-14 20:27] keveleigh commented on #10080
I've just opened a PR on the MR Feature Tool repo to fix this. Thanks for the report!

[2021-07-14 21:12] RogPodge commented on #7104
There is currently a PR pending approval which adds near interactions to controllers, making it so that the users can use the grab action on 6dof controllers and move objects via near manipulation with the grab button.

I'm not sure if this issue is also asking for using the grab button for far interactions, but a more complicated set of effort would be required on that front, since each pointer i

[2021-07-14 21:14] RogPodge commented on #7274
This is an excellent suggestion and we'll make sure to consider it for the next evolution of our MRTK UI tools!

[2021-07-14 21:14] RogPodge commented on #7104
Related: #10057

[2021-07-14 21:37] RogPodge commented on #10052
@elbuhofantasma any update on this? Were you able to reproduce the issue?

[2021-07-14 22:54] #10065 closed

[2021-07-14 23:24] Zee2 commented on #10066
@holomatt I am having trouble reproducing this issue with the most recent version of MRTK. (`main` branch as I write this)

I have a "Scaler" gameobject that is the parent of the `TouchSlider`. It is initialized in the editor to have (0,0,0) scale.

![image](https://user-images.githubusercontent.com/5544935/125705092-59038971-375a-4a1f-b4f8-0b2e7dfc11f3.png)

![image](https://user-images.githubuse

[2021-07-15 02:48] Jason-Chn95 commented on #10079
I have modified these according to the instructions, but they are still not displayed after packaging. May I ask if there is something wrong with my operation?
![image](https://user-images.githubusercontent.com/57438511/125719919-e6077351-fa88-4546-bad3-c645c289917f.png)

![image](https://user-images.githubusercontent.com/57438511/125720011-0f79868d-5124-4c65-b2e0-73bae9c64d67.png)

`Shader "Move/

[2021-07-15 06:08] cgsaxner opened #10082 "How to get origin SpatialCoordinateSystem using MRTK + OpenXR"
## Overview
[This documentation](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/unity-xrdevice-advanced?tabs=mrtk) states that MRTK provides already marshalled types for getting the `SpatialCoordinateSystem` through the `WindowsMixedRealityUtilities` class.  However, this class does not seem to contain those members.

With Windows XRSDK, I obtained the origin `SpatialCoordina

[2021-07-15 09:01] konstyanchev commented on #8377
This warning also appears to me, using MRTK 2.7 on Unity 2019.4.24f1. It appears when I use the HandMenu_Small_HideOnHandDrop prefab. I think that the warning occurs whenever the tracked palm becomes visible or becomes hidden from the hololens. I can reliably get this warning if I but my tracked hand behind my back, hiding it from the hololens and then bringing it back up.

[2021-07-15 16:25] SebastianMeinberger opened #10083 "No version of GetRawBBCorners that works with BoundsControl is public"
## Describe the bug

GetRawBBCorners from the [BoundingBoxHelper](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/265a0ea3621c84b88e4b02e7fcd1b5682afef56a/Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBoxHelper.cs) is obsolete, since it uses the deprecated BoundingBoxes. The hint says "Use GetRawBBCorners and pass in TargetBounds", but GetRawBBCorners has no overloading that

[2021-07-15 20:09] keveleigh commented on #10082
`SpatialCoordinateSystem` as a type doesn't really exist in OpenXR. What are you looking to use it for?

If you're looking to locate a second spatial coordinate system relative to it, you should be able to use the Mixed Reality OpenXR Plugin's `SpatialGraphNode` API, like so:

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/e140bf2527f790d2c810ec1ffdecb3ddab8c3b00/Assets/MRTK/Providers

[2021-07-15 22:21] rolandsmeenk commented on #10062
Checked with 2019.4.28f1, Legacy XR and Unity 2020.3.11f1, OpenXR and near plane clipping is no longer an issue.

[2021-07-15 22:21] #10062 closed

[2021-07-15 22:31] keveleigh commented on #10062
Thank you for confirming!!

[2021-07-15 23:51] elbuhofantasma commented on #10083
Hello @SebastianMeinberger thank you for submitting this BoundsControl bug! We will investigate this and get back to you with our findings. Could you please add some additional details to your repro steps to help us investigate this bug faster? Thanks!

[2021-07-16 00:19] MaxWang-MS commented on #10061
Thanks for the feature request! Unfortunately this is something that MRTK cannot offer right now because currently there is no platform API for the thermal stage. Please submit a feature request to the appropriate team through [feedback hub on your HoloLens device](https://docs.microsoft.com/hololens/hololens-feedback).

[2021-07-16 00:19] #10061 closed

[2021-07-16 00:56] MaxWang-MS commented on #10072
Hi @Manick94, as @keveleigh pointed out and confirmed by Unity engineer Unity currently do not support TouchScreenKeyboard on the standalone platform, and thus `MixedRealityKeyboardExample` will not work on the platform as well as it depends on Unity's TouckScreenKeyboard. As an alternative, you can try to use the non native keyboard which is not based on Unity's keyboard implementation. We have a

[2021-07-16 01:03] MaxWang-MS commented on #10063
Thanks for reporting this issue! The TMP input field is owned by Unity so you might want to file a Unity bug and/or bring this up in their forum.

[2021-07-16 01:03] #10063 closed

[2021-07-16 01:07] MaxWang-MS commented on #10025
This issue is now tracked via #9056 and https://issuetracker.unity3d.com/issues/hololens-2-set-selection-throws-argumentoutofrangeexception

[2021-07-16 08:28] ajinkya446 opened #10084 "Can you add the Spatial awareness support to Android and iOS"
## Actual Problem

Spatial Awareness not supported in Android and iOS devices for detecting the spatial mesh in real world through device camera.

## Solution need to add

Can you add the support in Android and iOS device for scanning spatial mesh.

## Platform
Unity Editor: 2019.4.22f
Android OS: Android 11
iOS OS: iPhone 6s(13)

[2021-07-16 10:56] Sme1d opened #10085 "Empty EventHandler prevents adding of new"
## Describe the bug

A clear and concise description of what the bug is.

## To reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Your setup (please complete the fo

[2021-07-16 10:56] #10085 closed

[2021-07-16 16:31] Waffle1434 commented on #3430
This is happening to me as well and its quite annoying.
I plugged in a PS4 controller and this spams the log. This is a pretty bad default behavior.
[code]

[code]

[code]

[2021-07-17 11:56] janick187 opened #10086 "How to make a Hologram appear directly in fornt of the user's face?"
## Describe the issue
A clear and concise what the issue

## Feature area
What's incorrect? What's missing?

## Existing doc link
If this is about something in an existing document, please provide link

## Additional context
Add any other context about the problem here.

[2021-07-17 11:58] janick187 opened #10087 "How to make a Hologram appear directly in fornt of the user's face?"
## Describe the issue
From the documentation and solver overview it is not clear to me how I can make a Hologram to face always the user's face?
E.g. no matter if the user is looking up to the ceiling or looking down to the floor, changing a Hologram's state suddenly to activate should make it appear always in front of the user so that the user does not have to search for the hologram. Which solve

[2021-07-18 08:26] saed219 opened #10088 "****"
Edited to remove the spam link. Please delete this issue.

[2021-07-18 20:00] #10086 closed

[2021-07-18 20:00] janick187 commented on #10086
Duplicate

[2021-07-19 06:20] CyberBYTE24 commented on #4655
The bug is still here on "Unity 2020.3.9f1" & "MRTK 2.5.3"

[2021-07-19 06:57] hermann-noll opened #10089 "NullReferenceException when setting ManipulationHandler.ConstraintOnRotation early"
## Describe the bug

For some application we have to add the `ManipulationHandler` component via code, when proceeding to set the necessary property values a `NullReferenceException` is thrown when setting `ConstraintOnRotation`.
Looking at the source a null check seems to be missing as there is just a couple lines further down for the `UseLocalSpaceForConstraint` property.

## To reproduce

Steps

[2021-07-19 07:17] handzlikchris commented on #9309
That'd be awesome to have, I'm also working with snap zones extensively and those in VRTK have the required functionality althought you have to pull some more depedencies that use quite similar concepts as MRTK (interactors / interactables / etc).

[2021-07-19 10:00] CyberBYTE24 commented on #4655
The bug is still here on "Unity 2020.3.9f1" & "MRTK 2.7.2" too

[2021-07-19 10:01] CyberBYTE24 commented on #4655
The bug is still here on "Unity 2020.3.9f1" & "MRTK 2.7.2" too
Hololens (1 Gen)

[2021-07-19 16:17] Spoon2311 commented on #10052
I have a similar issue.
Already keeping the settings to IsGlobal = false, Requires Focus = true & Speech Command = Select, doesn't execute the Button.

Same happens when checking out the eyegaze_demo from MRTK, the Buttons won't react to the focus & speech command although gaze is working and is focused on the button.

[2021-07-19 17:28] Zee2 commented on #10087
Hi there @janick187, the Follow solver is exactly what you need. The Follow solver, when attached to your GameObject, will cause the object to always be within the user's field of view, with a configurable maximum degree angle/displacement that the solver will allow the object to be within.

![image](https://user-images.githubusercontent.com/5544935/126201444-5c07fc42-21b9-4a83-a183-00c24760a43e.p

[2021-07-19 17:28] #10087 closed

[2021-07-19 17:30] Zee2 commented on #10084
Unfortunately, ARKit/ARCore do not support meshing/scene reconstruction at this time.

![image](https://user-images.githubusercontent.com/5544935/126201835-b30c29c0-3c8d-48c5-bc99-4cb4ddd22451.png)

When ARKit/ARCore provide meshing support through ARFoundation, we will support it. @keveleigh we don't currently have any plans to support meshing on Android separate from ARFoundation, do we?

[2021-07-19 17:32] #10088 closed

[2021-07-19 17:36] keveleigh commented on #10084
Correct, we don't. We could add support for planes in the meantime though, as both ARKit and ARCore, as well as HL2 on OpenXR, support that.

[2021-07-19 17:37] Zee2 commented on #10089
Hi there @hermann-noll ! I wanted to check to make sure this issue is actually about `ManipulationHandler`, as we've deprecated this class and completely replaced it with `ObjectManipulator`. At this time, we won't be making any improvements or fixes to `ManipulationHandler` because it's been entirely subsumed by the new + improved `ObjectManipulator`.

If it's possible, I'd recommend migrating to

[2021-07-19 18:19] cre8ivepark commented on #9447
Writing depth option ON with the specific material (BoundingBox.mat) makes the borderlines not rendered correctly. I'll continue reviewing other materials in the Standard Assets folder.

[2021-07-19 18:26] polar-kev commented on #9499
@elbuhofantasma confirmed that he was able to deploy to device.

[2021-07-19 18:26] #9499 closed

[2021-07-19 18:32] mindfreaak commented on #8329
Any updates? Same issue

[2021-07-19 19:31] #10080 closed

[2021-07-19 20:05] Zee2 commented on #10084
Sounds good. Closing this, but we can track the addition of new scene reconstruction and scene understanding features on mobile platforms in a different work item.

[2021-07-19 20:05] #10084 closed

[2021-07-19 21:07] Cameron-Micka commented on #9447
The solution to this issue is a bit complicated. If we enable depth write on all translucent materials we should also warn developers what fallout that will have with self overlapping translucent objects and object to object overlap.

We may want to open up a second issue for the BoundingBox & BoundingBoxGrabbed materials since I agree they should write depth by default. But, we will need to also

[2021-07-19 21:24] Zee2 commented on #9959
OK, I'm going to close this now; this seems to be intended behavior at least for now. We may want to look into this in the future to improve `BoundsControl`, but the provided solution works for the functionality expected by the customer.

[2021-07-19 21:24] #9959 closed

[2021-07-19 21:26] Zee2 commented on #5936
@StarWardo , the new Translation Handles (part of the `BoundsControl` feature) should completely satisfy your needs. There is also a translation constraint that works in local space that will work with `ObjectManipulator`.

[2021-07-19 21:26] #5936 closed

[2021-07-19 21:30] Zee2 commented on #6538
Hi, this should be totally possible with `BoundsControl` by just rotating the object with the rotation handles, and reaching "through" the object.

![rotating](https://user-images.githubusercontent.com/5544935/126229924-aa9dba67-4e20-4c8f-bca2-7b4e7bf55b4f.gif)

@Alexees We understand this is a very old issue, but if there is something fundamentally missing from our implementation, we'd love to he

[2021-07-19 21:30] #6538 closed

[2021-07-19 22:02] #10083 closed

[2021-07-19 22:03] FlyingFlambe opened #10095 "Does Follow.cs replace FollowMeToggle.cs?"
## Describe the issue
Seeking clarification when using the follow/follow me toggle component in combination with a solver.

## Feature area
The MRTK documentation says very little about the **Follow Me Toggle** class solver which has me wonder if there is an intention to deprecate it. The **Follow Me Toggle** solver also auto-assigns the Radial View solver so that it works properly.

In comparison

[2021-07-20 05:42] hermann-noll commented on #10089
Migrating did help with that bug ( and some other shortcoming with constraints).
Nevertheless it would have been an easy fix whilst `ManipulationHandler` is still available and advertised (in the docs)

[2021-07-20 05:42] #10089 closed

[2021-07-20 06:03] hermann-noll opened #10097 "ObjectManipulator in a canvas is affected by PokePointer"
## Describe the bug

The `ObjectManipulator` should not be affected by the `PokePointer`, although not explicitly stated in the documentation this is the default behavior in the MRTK examples and is also stated by a comment in the `ObjectManipulator` source itself.
However if a default `ObjectManipulator` along with a `NearInteractionGrabbable` is added to a UnityUI object that is part of a MRTK c

[2021-07-20 16:59] elbuhofantasma commented on #10045
Hello @mgrman, I have written the shader that you have requested in PR #10096. This PR fixes the issue of sprites not clipping with the ClippingBox and not running on devices when Single Pass Instanced Rendering is enabled. I will close this issue when the PR is merged. Thank you again for your feature request!

 Here is this shader in action in the editor:
![clipping](https://user-images.githubus

[2021-07-20 17:04] elbuhofantasma commented on #10095
Hello @FlyingFlambe thank you for submitting this documentation issue! I have assigned @MaxWang-MS since he is our documentation expert, to help clarify this issue for you and the community.

[2021-07-20 17:08] RogPodge commented on #10073
@janick187 is this still an issue for you?

[2021-07-20 17:51] davidkline-ms commented on #9464
The anticipation is that package layout will be flattened (ex: to simple 'interfaces', 'baseclasses', 'prefabs', etc. with minimal subfolders)

[2021-07-20 17:57] davidkline-ms opened #10098 "v3: Core systems should be reimplemented XR Subsystems"
As part of MRTK v3 embracing more of the built-in and XR Interaction Toolkit components, the plan is to evaluate each core system and determine

1. Is there an equivalent built-in solution
2. Is there value in aggregating / wrapping built-in solution(s)
3. The shape of the new subsystem + additional components to achieve parity with MRTK v2.x

This combines and replaces #9186 and #9511

Some track

[2021-07-20 18:20] #9186 closed

[2021-07-20 18:20] #9511 closed

[2021-07-20 20:08] Waffle1434 commented on #10079
Your vertex shader modifications for single pass instanced look right to me, maybe its the fragment shader? Does rewriting the frag as:
[code]
display a green mesh in both eyes?

[2021-07-20 20:14] Waffle1434 commented on #10079
It looks like you have... two vertex shaders? (`v2f vert(appdata v)` and `VertexOutput vert (VertexInput v)`) There can only be one.

Maybe try:
[code]

[2021-07-20 21:56] sBailey5449 opened #10099 "Scene understanding crashes Unity 2020.3.2f1"
## Describe the bug

Unity immediately crashes when trying to open the Scene Understanding example scene in Unity 2020.3.2f1. Produces the error message shown in screenshots. This also happens if you try to add the WindowsSceneUnderstandingObserver in the MixedRealityToolkit object where all various MRTK settings reside.

## To reproduce

Create a new project in Unity 2020.3.2f1 and import essenti

[2021-07-21 01:44] MaxWang-MS commented on #10099
Thanks for reporting the issue. I was not able to reproduce with Unity 2020.3.2, MRTK 2.7.2, Mixed Reality OpenXR plugin 1.0.1 and Scene Understanding 0.6.0 (I was able to open the sample scene and run it successfully). Could you share with us which XR pipeline you used (Windows XR Plugin or OpenXR) and maybe attach the Unity editor log located at `%LOCALAPPDATA%\Unity\Editor\Editor.log` if you fe

[2021-07-21 06:28] Axiang666 commented on #8796
Looking forward to update

[2021-07-21 08:00] Jason-Chn95 commented on #10079
Thank you so much!!! It worked:)

[2021-07-21 08:00] #10079 closed

[2021-07-21 14:18] sBailey5449 commented on #10099
I have tried both the Windows XR Plugin and OpenXR with the exact same result. Just tried this again with a totally new project and used the mixed reality feature tool to add MRTK, examples, extensions, foundation, and standard assets. Also adding platform support for Mixed Reality OpenXR plugin and Mixed Reality Scene Understanding. Latest versions selected for all items. After opening the projec

[2021-07-21 19:23] #10070 closed

[2021-07-21 19:56] MaxWang-MS commented on #10099
Now that seems very weird now... So the runtime library popped up, you clicked OK, Unity crashed and there is nothing in their log? Could you send us a copy of the fresh project that on your side exhibited the behavior? We'll try to do a repro with it. At this point I am almost wondering if it's a runtime library not properly installed issue.

[2021-07-21 22:02] keveleigh commented on #10070
@arsdever Thanks for adding this new behavior!

[2021-07-21 22:39] polar-kev opened #10101 "MRTK Examples Hub does not support the HoloLens Emulator"
It was recently reported that the Example Hub only supports ARM--a developer was unable to install the Example Hub through the emulator (x64) store.

This issue is tracking work underway to bring Example Hub support to the emulator

## To reproduce

1. Go to the HoloLens Emulator
2. Go to the Microsoft Store
3. Search for the MRTK Example Hub

## Expected behavior

User can find and download the M

[2021-07-21 22:45] cre8ivepark commented on #10101
I found that the app binary supported in the emulator is x86, not x64. I was able to search my personal project 'Type In Space' in the emulator and it is x86 version that I published for HL1.
I can build and publish x86/HL1 version of the MRTK Examples Hub without Eye Tracking examples.

[2021-07-21 22:53] polar-kev commented on #10101
FYI @reburkea

Was the developer in question trying to use eye tracking in the emulator?

[2021-07-21 22:56] pbarnettms commented on #10101
They didn't specify.  They were trying to simply install and run the MRTK Examples Hub.

From: Kevin Semple ***@***.***>
Sent: Wednesday, July 21, 2021 3:54 PM
To: microsoft/MixedRealityToolkit-Unity ***@***.***>
Cc: Paul Barnett ***@***.***>; Manual ***@***.***>
Subject: Re: [microsoft/MixedRealityToolkit-Unity] MRTK Examples Hub does not support the HoloLens Emulator (#10101)

FYI @reburkea<http

[2021-07-21 23:09] Waffle1434 commented on #8819
+1

[2021-07-22 00:34] Axiang666 commented on #8796
Looking forward to the update

[2021-07-22 01:42] MaxWang-MS commented on #10101
I am wondering if that is true for HL2 emulator. I think the HL2 emulator itself is x64. @cre8ivepark

[2021-07-22 04:09] cre8ivepark commented on #10101
Yes, but the apps displayed in the emulator are all x86 HL1 apps including Fragments and my apps. I never created x64 apps.

[2021-07-22 10:05] boersig opened #10103 "Toggle switch to stop gaze input from deactivating"
## Describe the problem

I need the gaze input (without eye tracking) to be active at all times. At the moment it deactivates when my hands enter the Hololenses FOV.

## Describe the solution you'd like

A simple toggle switch in the inspector saying something like "keep gaze input active at all times"

## Describe alternatives you've considered

- implementing my own raycast-based gaze provider,

[2021-07-22 12:38] dudziakl commented on #8214
Solved! No need to buy new GPU :)
1. Open Microsoft Store on the HoloLens 2 and search for HEVC Video Extensions from Device Manufacturer
![image](https://user-images.githubusercontent.com/12583808/126639882-6a27d854-3b83-4c16-954e-b804820293ac.png)
2. Uninstall and then Install again
3. Ensure on the Downloads list that is installed without errors
![image](https://user-images.githubusercontent.co

[2021-07-22 13:12] SergoMar commented on #9636
@keveleigh Hi, I have exactly this issue, using MR Input from Feature tool for HP Reverb 2 Motion Controllers. As the A, B, X, Y buttons don't work, I thought this library (https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/unity-reverb-g2-controllers) would help and not break the existing functionality. I have downloaded that vcruntime140_app.dll but still IsEnabled error is the

[2021-07-23 06:28] dn-soft opened #10104 "Set 'OpenXR' Hand Ray Disable Bug"
## Describe the bug

The problem is that if you don't change your profile every time you build, 'Hand Ray' will be disabled with a very high probability.

## To reproduce

Steps to reproduce the behavior:

We are currently building HoloLens2 by adding QRCode in the Open XR environment.

The problem is that if you don't change your profile every time you build, 'Hand Ray' will be disabled with a ve

[2021-07-23 10:57] DevSelchow opened #10105 "Ad a Scale Axis Constraint"
## Describe the problem

I want to limit the axis along which my GameObject can be scaled with the Bounds control Component.

## Describe the solution you'd like

Ad a ScaleAxisConstraint  witch restricts the axis along which the Gameobject can be scaled .
The component should follow the patter of the MoveAxisConstraint or the RotationAxisConstraint.

## Describe alternatives you've considered

Al

[2021-07-23 12:47] Walkramis opened #10106 "EyeTrackingTarget not triggering OnLookAway when passing from collider with EyeTrackingTarget to collider without"
## Describe the bug

When having two objects with colliders right next two each other, one with EyeTrackingTarget and one without. If eye gaze is passing between these two directly (meaning eye gaze raycast is hitting a collider each frame) OnLookAway will not trigger. It will only trigger when looking at another object with EyeTrackingTarget or when the eye gaze raycast is not hitting anything.

[2021-07-23 16:53] keveleigh commented on #10104
This sounds like a bug we're tracking on the OpenXR plugin side. I'll report this as another data point and see if we can get to the bottom of it.

[2021-07-23 20:11] ADP-JoNeff opened #10107 "MixedRealityToolkitFiles.MapRelativePathToAbsolutePath seems to only return a path if the file exists already"
MixedRealityToolkitFiles.MapRelativePathToAbsolutePath seems to only return a path if the file exists already.  Some usages of this within MRTK use the pattern of "file doesn't exist?  write default contents to that path", except this method is returning null, so that pattern breaks.  For example, ControllerPopupWindow.Show, calls "ResolveEditorWindowOptionsPath", which uses MixedRealityToolkitFil

[2021-07-23 20:15] ADP-JoNeff opened #10108 "Cached window in ControllerPopupWindow can be garbage or in a bad state if an exception occurs during gui drawing"
If ControllerPopupWindow has an exception while rendering, the cached 'window' property can be non-null, but calling window.Close() will result in another exception.

For example, in Show(), the line "File.WriteAllText(editorWindowOptionsPath, JsonUtility.ToJson(empty, true));" had also been failing due to another bug, where the path was null.  The next time Show() was called, window.Close() would

[2021-07-23 20:20] ADP-JoNeff opened #10109 "ControllerPopupWindow: currentControllerOption.InputLabelPositions[] can get out of synch with interactionList"
In ControllerPopupWindow.RenderInteractionList, way down near the end, look for the line "var rectPosition = currentControllerOption.InputLabelPositions[i];"  This InputLabelPositions array can become out of synch, if you update the default controller definition mappings (such as "OculusTouchControllerDefinition.cs"), and choose "reset to default input actions" in the Controller Definitions inspec

[2021-07-25 09:27] LocalJoost opened #10110 "Rounded corners on buttons and screens"
Now that rounded corners seem to become the rage again (see Windows 11 for instance) I got a designer on my back wanting to have rounded corners on buttons in our HL apps and stuff because hip. I explained this would require either largely abandoning the MRTK UI stack and building our own, or so heavily modifying the MRTK stack it we will probably get stuck at some point at an old version. Either

[2021-07-26 00:48] cwule opened #10111 "Canvas contents not visible in Mixed Reality Capture"
## Describe the bug

I have a canvas with an image and text on it, eg. the SceneDescriptionPanelRev from the MRTK example EyeTrackingDemo-03-Navigation. When deploying the app to the Hololens and recording it via Mixed Reality Capture, the canvas appears empty (screenshots below).

## To reproduce

Open an example from the MRTK examples that contains a canvas with an image and text, eg. EyeTrackin

[2021-07-26 00:54] elbuhofantasma commented on #10111
Hello @cwule, thanks for submitting this issue with the Canvas and Mixed Reality Capture! We will start looking into this and update this issue with our findings.

[2021-07-26 04:39] davoodkharmanzar opened #10112 "Universal Renderpipeline compatible shaders ..."
hi,
seems that MRTK shaders is not compatible with URP ??

thanks.

[2021-07-26 04:42] #10112 closed

[2021-07-26 04:50] LocalJoost commented on #10110
Ehhhrrrm... It seems you can already do this by replacing materials. Shaders involved in the buttons, like HolographicBackPlate, already support this. The only thing is you have to replace 3 materials in the buttons.
![image](https://user-images.githubusercontent.com/4129183/126934719-ebccab1d-9a0b-4974-8921-b5f4ec1986df.png)

[2021-07-26 04:50] #10110 closed

[2021-07-26 07:21] dn-soft commented on #10104
Does the workaround you mentioned only apply to the first run of the build?
Or is it applied every time you run it?

When I tested, if 'Hand Ray' was not visible during the first build, 'Hand Ray' is not visible no matter how you close the app and run it again.

If you see 'Hand Ray' when building for the first time, it will continue to look good even if you continuously relaunch the app.

[2021-07-26 12:48] kapitanmliko commented on #7100
This issue is still valid in v2.7.2

[2021-07-26 12:59] arsdever opened #10113 "MinMaxScaleConstraint's RelativeToInitialState checkbox does the opposite"
## Describe the bug

The label of the checkbox explains, that the game object should not be able to have a scale less than the minimum value and more than the maximum value. But as for now, it does the opposite.

## To reproduce

Steps to reproduce the behavior:

1. Create a game object (e.g. Box)
2. Add `BoundsControl`, `ConstraintManager`, `MinMaxScaleConstraint` components
3. Set a minimum (max

[2021-07-26 13:03] arsdever commented on #10113
Since the behavior could be used in a lot of places, I'd recommend not to change the behavior but instead rename it to something better. Or at least add a tooltip, which could also help somehow.

[2021-07-26 15:36] danzeeeman opened #10114 "Shader Errors when setting up an Example project via HoloLens 2 tutorials"
## Describe the bug

I followed the guide [here](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr) on setting up a Unity project for Hololens 2 development.  I went an added the example from the Mixed Reality Toolkit Examples in the Package Manager of Unity.  Most of the UI elements are throwing shader errors shown below?

![image](http

[2021-07-26 17:32] danzeeeman commented on #10114
Also occurring with Unity 2020.3.14f1

[2021-07-26 17:34] keveleigh commented on #10111
This sounds like a fixed bug on the Unity side.

Looks like it was fixed in 2020.3.8f1, so you'll need to update your Unity version to get the fix.
FYI @elbuhofantasma

[2021-07-26 17:36] keveleigh commented on #10104
It's likely per app session, so if you aren't fully closing (clicking the X on the slate) and re-opening, the app may continue to have problems.

[2021-07-26 18:16] cwule commented on #10111
Thanks, that solved it. Tested and works with Unity 2020.3.14f1

[2021-07-26 18:16] #10111 closed

[2021-07-26 22:02] MaxWang-MS commented on #10114
I was not able to repro with Unity 2021.1.12f1 and this problem is not known to Unity 2020.3.x as well. @keveleigh @cre8ivepark I am wondering if you have some thoughts on what is happening here?
Also @danzeeeman could you share a screenshot of the unity package manager window and name some specific scenes where the issue is observed? Could you confirm that you strictly followed the tutorial and m

[2021-07-26 22:35] MaxWang-MS commented on #9926
@keveleigh I don't see any obvious reason why the mask is disabled by default, and agree it should be on. But since changing the prefab affects existing projects, do you see us making this breaking change?

[2021-07-27 00:09] MaxWang-MS commented on #9825
Hi, sorry for the delayed response. It seems like the issue you are having is related to MixedReality-WebRTC, so please report it in [their repo](https://github.com/microsoft/MixedReality-WebRTC). Thanks!