[2021-12-04 00:43] peterneil-bimholoview commented on #10295
@MaxWang-MS No different issue.  The Rogue mesh issue is where you mesh turns up (generally Pink) when the observer is off.  Issue #10343 is when the observation extents becomes offset due to world locking.

[2021-12-04 00:45] peterneil-bimholoview commented on #10295
@polar-kev Just confirming tests from today.  The issue appears in both User Aligned Cube & Axis Aligned Cube.

[2021-12-04 01:45] keveleigh commented on #10225
Have you changed your Unity version as well? I'm not aware offhand of any rendering changes between 4.5 and 4.6.1 :/

[2021-12-04 02:00] peterneil-bimholoview commented on #10225
@keveleigh No still on 2020.3.13f

[2021-12-05 12:31] fast-slow-still commented on #10343
If you look in the old XR2018/WindowsMixedRealitySpatialMeshObserver.cs, in function ConfigureObserverVolume(), you'll see the correct implementation for the volume:

[code]
The adjusted observerOriginPlayspace and observerRotationPlayspace are then passed to the observer to set the current bounds.

However, this logic is missing in later implementations. For example, in XRSDK/WindowsMixedRealityS

[2021-12-06 10:34] NLR-L commented on #10339
I have updated the Mixed Reality OpenXR Plugin version to 1.2.1, and the problem still occurs.

![image](https://user-images.githubusercontent.com/44224883/144829449-2e2bc118-eefd-421f-8021-5607f0f929db.png)

This is what the diagnostic report looks like

[code]

[2021-12-06 13:09] NLR-L commented on #10339
I think the issue stems from [MixedRealityRaycastHit](https://github.com/microsoft/MixedRealityToolkit-Unity/blob/601f868c418ba7cbc972f3aac8525bae2cfa9a10/Assets/MRTK/Core/Definitions/InputSystem/MixedRealityRaycastHit.cs#L35) not checking if the mesh has a texture before writing the texcoords to the RaycastHit struct. I don't think the HoloLens spatial mesh has uv's. So perhaps there could be a c

[2021-12-06 13:27] NLR-P commented on #10339
There was a problem in MixedRealityRaycastHit.cs , this assumed a UV was present in all hits it found. That caused the error. As Hololens doesn't create UV's , there was no way the raycast hit could set it's TextureCoord or its lightmapCoord. I changed the code to below, now no more errors:

[code]

[2021-12-06 15:53] jbienz commented on #9354
Just curious, since this was fixed in March what caused it to be missed in the 2.7.2 release? Also, would love to see this fixed in the next package release. It's kind of painful to apply the hotfix above and the next MRFT update will likely overwrite it. Thanks!

[2021-12-06 18:06] keveleigh commented on #9354
The PR that fixed this was #9999, which was merged in June and just missed the 2.7.2 stabilization cutoff. It'll definitely be in our next release!

[2021-12-06 20:32] keveleigh commented on #10351
I believe this is expected if Oculus' Unity integration package isn't installed, but @RogPodge would know best!

[2021-12-06 20:55] RogPodge commented on #10351
Yeah, those MRTK prefabs utilize prefabs that are located in the Oculus Integration package. Be sure to follow [these steps](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/supported-devices/oculus-quest-mrtk?view=mrtkunity-2021-05) to configure MRTK to deploy to the oculus quest

[2021-12-06 20:56] RogPodge commented on #10351
Let us know if those steps are out of date or if you are still encountering issues afterwards!

[2021-12-07 01:11] keveleigh commented on #10352
Which script are you using to have the cube follow the hand? Is it the action-based TrackedPoseDriver?

[2021-12-07 08:26] Holo-Krzysztof commented on #10351
Oh, alright. We don't deploy to Quest right now so I guess that's why I never noticed this before.

Wouldn't it be better if those prefabs lived in the Oculus integration package then? It'd prevent some confusion for sure, because once I got these error messages right after importing MRTK into a blank project. Doesn't happen always though.

[2021-12-07 09:44] binxie33 opened #10355 "Does MRTK works with the new Unity InputSystem package?"
I am trying to create a custom InputDevice that conforms to the Unity InputSystem package

https://docs.unity3d.com/Packages/com.unity.inputsystem@1.0/manual/index.html
https://docs.unity3d.com/Packages/com.unity.inputsystem@1.0/manual/Devices.html

Will it work with MRTK?

[2021-12-07 12:41] frere97 commented on #10352
it's the action based xr controller

![image](https://user-images.githubusercontent.com/35118366/145030952-82c3870d-a793-4969-9ead-2c9a2e53ad1a.png)

[2021-12-07 17:52] RogPodge commented on #10351
We're not directly plugged into the decision making on Oculus Quest's side of things, and because those prefabs take a dependency on MRTK packages I don't think it's quite feasible.

[2021-12-07 17:57] iuli4n opened #10356 "BoundsControl inspector does not refresh properly at runtime [2.7.2]"
## Describe the bug

BoundsControl inspector doesn't refresh itself in realtime when I make changes to its handles through a script. To see the updated values I have to refresh the inspector (point the inspector at another object then go back to BoundsControl).

## To reproduce

Steps to reproduce the behavior:

1. Have an object with BoundsControl where the Scale settings are set to don't show Sc

[2021-12-07 18:58] #10341 closed

[2021-12-07 19:06] keveleigh commented on #10352
Ah, okay! This is a known bug when using MR OpenXR's Hand Tracking feature. Unity's input system gets a little confused and tries to access the rotation from an input device that isn't providing rotation, so it just uses an identity quaternion.

If you aren't actively using articulated hand joints, you can turn this feature off. If you _are_ using articulated hand joints, unfortunately I'm not awa

[2021-12-07 19:11] frere97 commented on #10352
probably i will use, because the app will work with vr headsets too, so probably is better i've still minimize and maximize the window when i start the holoremote

[2021-12-08 00:12] MaxWang-MS commented on #9863
The issue has been mitigated by #9870 as users will now receive a warning in the log if AsyncCoroutineRunner is not properly set up in the scene when it is required. Fully resolving the issue could potentially lead to behavior changes in existing apps so that will be revisited at a later date.

[2021-12-08 13:21] FelixWeichselgartner commented on #10207
I'm experiencing the same issue since a few hours. If I take screenshots without my developed app open I have no gray overlay. If I open my app I get the gray overlay over all my screenshots. When I open live preview in the device portal and I move my head fast, the gray overlay does not always align with the video, so at the borders I can see the normal image (without overlay). When the head is s

[2021-12-08 16:04] FelixWeichselgartner commented on #10207
I did some more debugging and found this:

I tried with different projects that worked fine so far:

New Unity 2020 Projekt (Unity 2020.3.16f1, OpenXR Plugin 1.2.8, MRTK 2.7.2, ARM32 Release Build with Visual Studio 2019):
This message comes up a lot in the Visual Studio log:
analog\input\mirage\publicapi\holographiccamerarenderingparameters.cpp(552)\Windows.Mirage.dll!6F7BB68B: (caller: 6C69A847)

[2021-12-08 16:29] polar-kev commented on #10350
Hi @xandrew94x, is this in the editor or on device?

[2021-12-08 16:38] xandrew94x commented on #10350
Hi @polar-kev , I noticed that the problem is both on device and on the editor.

[2021-12-08 16:46] polar-kev commented on #10344
Hey @whatever881, MRTK does not ship the QR library. It looks like the owner of the library either,

1. did not include the pdb file in the nuget package, or
2. did not publish it to the symbol server

I'll forward this to the QR library owner.

[2021-12-08 18:42] #10216 closed

[2021-12-08 18:51] davidkline-ms commented on #10355
@binxie33,

In MRTK v2, we have no usage of the new Unity Input System package.

In the upcoming MRTK v3, it will be based on the new input system.

[2021-12-08 18:55] #10351 closed

[2021-12-08 18:58] davidkline-ms commented on #10347
@Kent1LG,

Can you give this a try on MRTK 2.7.2? It would be good to know if we handled this already :smile:

[2021-12-08 19:34] Zee2 commented on #10346
Hi @julesra, thanks for reporting this. This is resolved as part of our 2.7.3 release. Thank you!

[2021-12-09 01:11] polar-kev commented on #10350
Components should be configurable from code at runtime so this is definitely a bug @xandrew94x. Thanks for filing.

[2021-12-09 02:44] MaxWang-MS commented on #10350
Hi @xandrew94x, could you try calling `ScrollingObjectCollection.UpdateContent()` after modifying the collection? That should solve the problem you are facing.

[2021-12-09 02:49] MaxWang-MS commented on #10333
The issue posted by @xandrew94x is addressed in a separate issue #10350. Closing this issue as we have not been hearing back from @melixor. Please reopen the issue and provide us with more information if this continues to be an issue, thanks.

[2021-12-09 02:49] #10333 closed

[2021-12-09 03:32] #9908 closed

[2021-12-09 07:43] berndolauerto commented on #10234
I just wanted to add: This issue is resolved by the Oculus Integration Tools V35

[2021-12-09 08:37] FelixWeichselgartner commented on #10207
So I found out that in the "Web Windows device portal > Views > Mixed Reality Capture > Tick Off Render from Camera" solves the problem for me.

[2021-12-09 08:57] xandrew94x commented on #10350
Thanks for the reply @polar-kev and @MaxWang-MS.

Maybe it is.
it's like if the methods don't interact with the object.

I made several tests.
I tried calling `ScrollingObjectCollection.UpdateContent ()` and `GridObjectCollection.UpdateCollection ()` after inserting the elements. Alternating the methods or entering both. I also tried calling these methods before and after inserting new objects.
(O

[2021-12-09 10:46] rynaldi95 opened #10364 "Scene transition camera fader does not work in Unity URP"
## Describe the bug

When transitioning between scenes managed by the Scene Manager in a Unity URP Project, there is no fading effect, but it only shows an opaque color. I have tried with normal 3D project in Unity and it works fine. Hence, the problem is caused by the different shader being used in URP project.

## To reproduce

Steps to reproduce the behavior:

1. Create a new URP project in Uni

[2021-12-09 17:57] polar-kev commented on #10234
thanks for following up @berndolauerto

[2021-12-09 19:01] keveleigh commented on #10207
@FelixWeichselgartner Thank you for that great write-up!! Some super helpful information in there for us to dig into.

One quick question: which version of the MR OpenXR Plugin are you using?

[2021-12-09 20:24] vogr commented on #10347
Hello, I actually encountered this issue today: as a workaround for anyone hitting this bug, it seems that removing and adding back the ObjectManipulator after adding the Rigibody makes the collisions work again.

[2021-12-09 23:04] keveleigh commented on #10244
@srinjoym Update! This should be fixed by #10366, which is currently targeting 2.7.3 (FYI @polar-kev)

[2021-12-10 00:55] keveleigh commented on #10352
@frere97 I believe we've identified a way to fix this via an MR OpenXR Plugin package change. I have a PR open for it now internally, and I'll work to get it in our next release!

[2021-12-10 00:57] keveleigh commented on #10225
A fix for this was just merged into the plugin and should be in the next release! I'll update here when I have an ETA or when it's released (whichever comes first)

[2021-12-10 00:58] frere97 commented on #10352
thanks man, if there is anything i can make to help let me know

[2021-12-10 00:59] keveleigh commented on #10204
@Kathy1211 Were you ever successful getting Holographic Remoting to work? We've done some work over the last few versions of Mixed Reality OpenXR Plugin that should also improve our logs to narrow down the issue. Can you try with the latest version please (should be 1.2.1)?

[2021-12-10 01:01] keveleigh commented on #10196
Going to close this one out, since it's been a few months without activity. Please reopen if you're still having trouble and we'll figure it out!

[2021-12-10 01:01] #10196 closed

[2021-12-10 01:02] keveleigh commented on #10143
@NoTuxNoBux Sorry for not updating sooner: this shipped September 7th in the 1.0.3 release. Thanks for the suggestion!

[2021-12-10 01:02] #10143 closed

[2021-12-10 08:24] FelixWeichselgartner commented on #10207
@keveleigh I have to admit that I am not 100% sure what the difference between OpenXR-Plugin and MR OpenXR-Plugin is. Above I wrote the OpenXR-Plugin version, that I saw in the unity package manager and the section "Unity Technologies". In the section "Custom" I also see "Mixed Reality OpenXR Plugin" -> that is version 1.0.2. I hope that was the version you meant :). Let me know if you need more i

[2021-12-10 12:25] AnandMulay opened #10367 "Slider (step slider) doesn't work on iOS & android device"
## Describe the bug
I'm using MRTK slider for my AR app and it works as expected on hololens 2, but now when I build it for Android & iOS devices it doesn't move the ThumbRoot object , i can see that it is selected or grabbed already but doesn't move.
Am I missing any additional script attached to the ThumbRoot object to work on mobile devices?

## Expected behavior

slider moves as shown in slide

[2021-12-10 13:40] Kent1LG commented on #10347
Hello,

Thank you @vogr for the extra information, very useful !

@davidkline-ms sorry for the late response, the update of the project wasn't easy. I tried and yes there is also the issue on MRTK 2.7.2 .

[2021-12-10 20:51] deibu commented on #10215
I'm experiencing a similar problem. I think it also might be related to the previously selected UI button.

Example, I have button A and button B.
Scenario 1:
- Select button A: A's onClick gets triggered once
- Select button B: A's onClick gets triggered once and B's onClick gets triggered once
Scenario 2:
- Select button A: A's onClick gets triggered once
- Select button A: A's onClick gets trig

[2021-12-10 21:44] Schroedingers-Cat commented on #10350
I'm seeing the same issue with the GridObjectCollection's UpdateCollection() call via script. To work around this, I'm using a coroutine to delay the call by an additional frame when updating the collection during Awake/Start.

[2021-12-11 02:23] keveleigh commented on #10293
@Nox7atra Are you building for Windows Standalone or UWP? If Windows Standalone, looks like there are a couple issues. If UWP, there's still one!

One of the issues is that the OpenXR observer is only set to UWP. You can fix this by cloning the profile and updating the "Supported Platforms" dropdown:
![image](https://user-images.githubusercontent.com/3580640/145260270-5f339aa1-b1f9-45b2-99b5-b4590

[2021-12-11 02:28] keveleigh commented on #10233
Thanks for the write-up! Definitely looks like #7632 wasn't enough. I've opened #10370 for our upcoming 2.7.3 release to resolve this.

[2021-12-11 02:29] keveleigh commented on #10339
@NLR-P Thanks for the suggestion above! I ended up taking a similar path, but instead used [the `HasVertexAttribute` method](https://docs.unity3d.com/2019.4/Documentation/ScriptReference/Mesh.HasVertexAttribute.html) to query each index individually. I'm no longer seeing the logs!

[2021-12-11 03:55] MaxWang-MS commented on #10350
Hi @xandrew94x and @Schroedingers-Cat, I have tried but failed to reproduce the issue you mentioned. In my testing both SOC and GOC are correctly updated after calling `UpdateContent()` and `UpdateCollection()` respectively. If you are still encountering this issue, please provide us with more information (a min repro will work the best). Thanks.

[2021-12-11 17:24] Nox7atra commented on #10293
I'm building standalone. And I can't set XR Initialize in startup, because with this settings i can't build holographic remoting app

[2021-12-11 21:17] polygonfuture opened #10372 "Android Platform: Cannot run / compile example projects. 'ObjectManipulator' does not contain a definition for 'OnManipulationEnded'"
## Overview
After setting up MRTK in a new Unity Project for Oculus Quest 2 (Android) using OVR Plugin, I am getting compile errors about missing definitions related to ObjectManipulator.

After opening any of the Sample Scenes I receive the following errors related to ObjectManipulator.

[code]

Also alternatively, pulling the unity packages directly from the git release does not give this error.

[2021-12-13 10:57] xandrew94x commented on #10350
Hi @MaxWang-MS, [here](https://github.com/xandrew94x/TestMrtkScroll) you can find a sample repo where the issue happen.

The code simply clears and fills the list every n seconds. You can set the waitingTime from the editor. Also I inserted a flag to change from method `UpdateContent()` to method `UpdateCollection()`.

@Schroedingers-Cat  Thanks for the answer. I tried also with a Coroutine method

[2021-12-13 14:39] tommensink opened #10373 "Articulated hand mesh not tracking in MRTK 2.7.2 and Unity 2020.3.24f1 (and lower)"
## Describe the bug

When enabling the hand mesh option, the hands are shown and an incorrect pose and then will not move with the hands or with a long delay

## To reproduce

Steps to reproduce the behavior:

1. Create an empty Unity 3D project
2. Import the MRTK 2.7.2 packages, including the samples
3. Run the samples from the main samples menu and press the hand mesh button in the floating bar

[2021-12-13 16:17] MilanPolle commented on #10191
I still have this problem with Unity 2020.3.20f1

[2021-12-13 17:25] keveleigh commented on #10233
This should be fixed via #10370

[2021-12-13 17:25] #10233 closed

[2021-12-13 17:25] #10339 closed

[2021-12-13 17:44] keveleigh commented on #10293
Yeah, unfortunately with the second bug, I can't think of a good workaround for now...luckily, we should be able to get the fix in for 2.7.3!

[2021-12-13 19:13] keveleigh commented on #10245
For some reason, I wasn't able to repro this 🤔 based on looking at the code though, i think there's a good chance this will be fixed via #10366

[2021-12-13 21:17] hernancasta commented on #7617
I just tested using MRTK 2.7.2 with Spanish Language and works. First, I added the Spanish Language Pack to the OS as shown in the picture, then I configured de MixedRealityInputSystemProfile in the Unity Scene under the speech section, adding in the property LocalizationKey the value es-ES. In fact, I tested speech commands in Spanish and English in the same scene successfully.

![20211213_150230

[2021-12-14 00:05] RogPodge commented on #4934
Doc's updated, closing this issue

[2021-12-14 00:05] #4934 closed

[2021-12-14 04:32] MaxWang-MS commented on #10191
@MilanPolle Given Unity has resolved the issue and both us and the community have validated the fix, the issue you are facing is likely to be a different one. Please consider filing a new bug report to Unity and/or open a new issue here and provide us with more information.

[2021-12-14 08:34] NLR-L commented on #10339
Nice work @keveleigh 🙂

[2021-12-14 08:38] MilanPolle commented on #10191
@MaxWang-MS Thank you for your reply. The behavior is very similar to what is being reported here, it often either closes right away, or while you are typing. I also noticed tapping outside the keyboard closes it and haven't found a way to turn this behavior off.

I'll gather some more information about this problem and create a new ticket for it.

[2021-12-14 18:46] keveleigh commented on #10293
Going to close this out, as the fix is now in 2.7.3 and is making its way into the main branch via #10375

[2021-12-14 18:46] #10293 closed

[2021-12-14 18:46] Zee2 commented on #10346
Fixed with #10361.

[2021-12-14 18:46] #10346 closed

[2021-12-14 18:46] keveleigh commented on #10245
Going to close this out, as I'm unable to repo with the meshing fix in 2.7.3

[2021-12-14 18:46] #10245 closed

[2021-12-14 18:48] keveleigh commented on #10244
Closing this out now that the fix is merged into the 2.7.3 branch.

[2021-12-14 18:48] #10244 closed

[2021-12-14 19:43] polar-kev commented on #10344
Hey @whatever881, this request has been routed. I'll update this issue when share how they intend to proceed.

[2021-12-14 20:17] majaeger commented on #10344
Hi @whatever881 , I am working on adding symbols to the next release. In the meantime, you should still be able to debug your app by excluding the dll in the Visual Studio options

![image](https://user-images.githubusercontent.com/24962807/146072931-1a261096-3c2a-4c53-b151-302312b9ff7c.png)

https://devblogs.microsoft.com/devops/understanding-symbol-files-and-visual-studios-symbol-settings/#confi

[2021-12-15 18:57] m-the-hoff commented on #10304
Bug has a fix, but is being provided on an as-needed basis instead of integrating into v2.x because it is patching a Unity oddity around event mappings.

[2021-12-15 18:57] #10304 closed

[2021-12-15 18:57] #9575 closed

[2021-12-15 19:09] AMollis commented on #10304
@m-the-hoff  Where can the fix be found?

[2021-12-15 21:16] tommensink commented on #10134
Is this already being looked at @m-the-hoff ? It is a pretty bad bug. If you want I can fix it, have not done PRs yet for MRTK, but maybe nice to start with that and contribute?

[2021-12-16 00:01] Zee2 commented on #10134
Hi @tommensink , this is fixed in our internal MRTK v3 build, and will be backported as soon as we can.

[2021-12-16 10:10] iweinbau opened #10378 "Front plate does not return for nested NearInteractionTouchableUnityUI"
## Describe the bug

When creating a Unity Canvas with a `NearInteractionTouchableUnityUI`. The frontplate of all `PressableButton`'s will not return to its initial state when pushing further than max push distance. After some investigation the `OnTouchCompleted` is not triggered. This also occurs for other components with a nested `NearInteractionTouchableUnityUI`, e.g., a Unity UI `ScrollRect` w

[2021-12-16 14:22] iTreby commented on #10053
Hi,  I updated the old hololens 2 to the lastest version and I was able to read input from a keyboard. (Wired keyboard, usb / bluetooth keyboard and the virtual keyboard from the portal).
On a brand new hololens 2, none of the keyboard work and after also updating the new hololens to the lastest version everything work.

[2021-12-16 14:52] iTreby commented on #10053
Also the software version are
Unity Version [2019.4.10f1]
MRTK Version [2.5.3]
OS Build 10.0.19041.1154
Legacy XR

[2021-12-16 16:53] Damagae opened #10379 "clipBoxSizeID does not exist anymore on ClippingBox"
## Describe the issue
`clipBoxSizeID` does not exist anymore or is no longer accessible on `Microsoft.MixedReality.Toolkit.Utilities.ClippingBox`, thus making [Clipping Primitive - Advanced Usage](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/rendering/clipping-primitive?view=mrtkunity-2021-05#advanced-usage) tutorial obsolete.

## Feature area
Since `clipBoxSizeID` is

[2021-12-16 16:54] frere97 opened #10380 "left hand attached to my little finger"
So, my right hand is following normally my hand, but the left hand is following my little finger as we can see in the video, this make it really hard to interact with thigs such as UI, i am using the  XR plug-in management with the mrtk, and using the version 2020.3.20f1 of unity.

https://user-images.githubusercontent.com/35118366/146414245-39505485-74d9-4251-bfc2-7ea03d16c09a.mp4

and this is my

[2021-12-16 17:07] frere97 commented on #10380
forget it, i've just fixed it, change the rotation/handbonedata to pointer/rotation

[2021-12-16 18:25] RogPodge commented on #10305
@SWARAVL any update on if we wlewis's solution ended up fixing the issue?

[2021-12-16 19:22] keveleigh commented on #10380
Glad to hear you were able to resolve it!

[2021-12-16 19:22] #10380 closed

[2021-12-17 09:03] wei292224644 opened #10383 "How to convert GltfAnimation into Animation in Unity?"

[2021-12-17 10:25] eusebiu opened #10384 "Oculus 1 left hand is not tracked"
## Describe the bug

Oculus 1 left hand is not tracked after upgrade from 2.6.2 to 2.7.3

## To reproduce

Steps to reproduce the behavior:

1. Start app with Oculus XRSDK provider configured
2. Error is displayed in Console
NullReferenceException: Object reference not set to an instance of an object
Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Input.OculusXRSDKDeviceManager.UpdateHand (OVRHand ovr

[2021-12-17 10:44] eusebiu commented on #10002
OculusControllerVisualization is now internal.

[2021-12-17 10:56] eusebiu commented on #10002
For OpenVR/SteamVR the controller.Visualizer.GameObjectProxy is not null... Please add the same oculus object reference to the controller.Visualizer to have backwards compatibility and consistent/cross platform code.

[2021-12-17 12:05] smfrue opened #10385 "Handtracking of Stereo IR 170 not working with MRTK 2.7.2 + Oculus Quest 2"
## Describe the bug

Integrated successfully Leap Motion Core files but MRTK doesn't switch to Handtracking of Ultraleap IR 170. It still uses Handtracking of Quest 2. What am I doing wrong?

## To reproduce

Go to [https://developer.leapmotion.com/mrtk-unity](https://developer.leapmotion.com/mrtk-unity) and follow the steps for Leap Motion in MRTK docs.

## Expected behavior

Switch from Oculus Q

[2021-12-17 21:57] RogPodge commented on #10002
Reopening since #10067 never addressed the first point of the two I listed above (sorry about the early issue close!).

[2021-12-17 22:02] tletie opened #10386 "The type or namespace name Windows does not exist in the namespace Microsoft"
## Describe the bug

After update to 2.7.2 version, it play nicely in Unity. However when make a build from Unity to Hololens 2, I have following errors:
1.Assets\MRTK\Providers\WindowsMixedReality\Shared\WindowsMixedRealityReprojectionUpdater.cs(56,57): error CS0234: The type or namespace name 'Windows' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)
2. Assets

[2021-12-17 23:04] reeseras opened #10387 "Teleport raycast hits "Ignore Raycast" layer."
When using the teleport gesture, the teleport raycast interacts with all colliders including those on the "Ignore Raycast" layer. The pointer for grabbing works fine, just not the teleport.

I checked "MixedRealityToolkit" settings but there's nothing under teleport:
![image](https://user-images.githubusercontent.com/26148056/146617652-285aa4a3-60c6-4de5-aec4-147f04e6a2e6.png)

Anywhere else I sho

[2021-12-17 23:18] keveleigh commented on #10386
Hello! Do you happen to have (or used to have) the DotNetWinRT package installed? We have some info on that at https://docs.microsoft.com/windows/mixed-reality/mrtk-unity/features/tools/holographic-remoting?view=mrtkunity-2021-05#legacy-xr-setup-instructions

If you don't have it installed, you may accidentally have the define still set. You can find it and remove it via the steps at https://docs.

[2021-12-19 15:06] iivvaannxx opened #10388 "_PressIntensity was not found. Please provide a valid material property name. Oculus Quest Build."
This is the first time I write an issue so forgive if I don't explain myself well.

## Describe the bug

When I build my application using the Android Platform to an Oculus Quest device and run it, I only get a black screen. Using the Android Logcat I saw that there's an error with a Material Property. This is the trace:

[code]

I can't follow the error because the trace cuts on that line, and no

[2021-12-20 03:50] SWARAVL commented on #10305
@RogPodge Unfortunately, we haven't been able to upgrade our MRTK as we have some backend work going on and hence cannot do it as of now inorder to avoid any conflicts.

[2021-12-21 20:29] A-Ivan opened #10389 "Confusing Documentation around Hololens 2 Holographic Remoting with Unity"
## Describe the issue
There are multiple tutorials on Holographic Remoting but they provide different information, this is confusing. Some of it is also outdated compared to the current version (MRTK 2.7.3) when using Unity 2020.3.x (in my case, Unity version 2020.3.24f1).

## Existing doc link

1. **Set up Holographic Remoting - Unity 2020 + OpenXR**: [https://docs.microsoft.com/en-us/windows/mix

[2021-12-21 21:03] polar-kev opened #10390 "Unable to deploy hololens app via Unity (Build Window)"
Originally posted here by Lorans, https://docs.microsoft.com/en-us/answers/questions/670446/unable-to-deply-hololens-app-via-unity.html

I am using MRTK 2.7.2 and unity 2020.3.16f1.
I used the MRTJK Feature tool to import the MRTK package and configure the project.

I followed the project configurations in here (https://docs.microsoft.com/en-us/learn/modules/learn-mrtk-tutorials/1-5-exercise-confi

[2021-12-21 21:12] polar-kev commented on #10389
Thanks for your detailed writeup @A-Ivan. I'll have one of our tech writers take a look and see how we can incorporate your feedback.

[2021-12-21 21:19] danieldownes commented on #10261
I'm having an issue with Unity UI Toggle buttons. They seem to toggle haphazardly, or not at all.

I'm not sure if Unity UI Toggles work correctly with MRTK Canvas?

Would this be related to this issue?

[2021-12-21 21:28] A-Ivan commented on #10389
You're welcome @polar-kev, I hope it helps

[2021-12-21 21:55] polar-kev commented on #10383
Hey @wei292224644, since this is not an MRTK question, I'm going to close this issue. I recommend you to ask it on the Unity forums or on the HoloDeveloper slack channel at Aka.ms/holodevelopers

[2021-12-21 21:55] #10383 closed

[2021-12-21 22:02] polar-kev commented on #10372
Hey @polygonfuture, can you confirm that you followed these instructions to download the sample scenes?
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/running-example-scenes?view=mrtkunity-2021-05#using-mixed-reality-feature-tool-and-unity-package-manager

[2021-12-21 23:04] polar-kev commented on #7520
Hi @Jun-Hyung348 and @yuhe0925, since we haven't heard back from you, I'm going to assume the solutions provided worked. Please reopen this issue if that is not the case.

[2021-12-21 23:04] #7520 closed

[2021-12-21 23:16] polar-kev commented on #8114
@MaxWang-MS, any idea what's causing the AR Foundation comments to get removed from the API refs that are generated?
https://review.docs.microsoft.com/en-us/dotnet/api/microsoft.mixedreality.toolkit.experimental.unityar.arenumconversion?view=mixed-reality-unity-dotnet-2.5.2&branch=main

[2021-12-22 11:10] N0RAIR opened #10391 "Improve Grabbing Behavior"
## Describe the problem

I am always frustrated when I use the **ObjectManipulator** (or in general the PointerDown / PointerUp) because, to grab a virtual object and move it from point A to B, it requires that the hand is 100% visible. Once there is a short <100ms~ disturbance, where the hand that was grabbing gets "**lost**", it **releases/drops the object**. Which forces the user again to do th

[2021-12-22 15:31] tletie commented on #10386
Hi @keveleigh, that fix the issue. I don't have DotNetWinRT. Installed it solve the issue.
Thank you

[2021-12-22 16:01] keveleigh commented on #10386
Glad to hear you got it sorted!

[2021-12-22 16:01] #10386 closed

[2021-12-22 23:44] A-Ivan opened #10393 "Hololens Button Press not working while using Hand Physics Service"
## Describe the bug

My application requires both [pressable buttons](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/button?view=mrtkunity-2021-05), for specific button use, and [ hand physics service (component type)](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/extensions/hand-physics-service?view=mrtkunity-2021-05), to

[2021-12-23 02:02] polygonfuture commented on #10372
Hi Kevin,

I did follow these instructions directly.

I’ve used MRTK for a Hololens production prior but the Quest 2 is new.

On Tue, Dec 21, 2021 at 16:03 Kevin Semple ***@***.***> wrote:

--
____________________________________________

Jonathan Fletcher Moore

🎨 polygonfuture.com <https://www.polygonfuture.com>

✉️ ***@***.***

💭 870.692.6474

[2021-12-23 04:24] Galaxy1Entertainment opened #10394 "✌️"

[2021-12-23 04:26] #10394 closed

[2021-12-23 04:27] keveleigh commented on #10394
Closing due to empty issue. Please add more information and reopen if you hit "post" too soon!

[2021-12-23 13:07] whatever881 opened #10395 "How do I use German, French, Spanish Text to Speech, the voice is always the English voice"
## Describe the issue
How do I use German, French, Spanish Text to Speech, the voice is always the English voice

## Feature area
How do I use German, French, Spanish Text to Speech, the voice is always the English voice

## Existing doc link
How do I use German, French, Spanish Text to Speech, the voice is always the English voice

## Additional context
How do I use German, French, Spanish Text t

[2021-12-23 15:48] KritiaSthovania opened #10396 "ConstantViewSize solver changes the scale of the object to a ratio of (1:1:1) on three axes"
## Describe the bug

The _ConstantViewSize_ solver automatically changes the scale of the object to a ratio of (1:1:1) on three axes, as it directly computes the _GoalScale_ using _Vector3.one*scale_. However, there can be problems if the original scale of the object/prefab is not (1,1,1).

## To reproduce

Steps to reproduce the behavior:

1. Choose an object in the scene.
2. Change its scale to

[2021-12-23 18:36] graemeaj opened #10397 "oculus quest hand tracking fails with link cable in editor"
## Describe the bug

When using a link cable to connect to a quest 1 HMD for use in the editor, no pose info is sent to the hand prefab and an error appears. the hand location and rotation is accurate, but pinching and button pressing is impossible. **Note** that in an android build with the same settings, the hand poses work fine. This only affects the editor with the link cable it seems

## To r

[2021-12-24 18:22] havokentity opened #10398 "Strange errors in debug mode with MRTK 2.7.3 in Unity 2021.2.7f1"
## Describe the bug

In debug I get these strange exceptions continuously in my program.

[code]
## To reproduce

Steps to reproduce the behavior:

1. Install Unity 2021.2.7f1 with UWP
2. Create a simple scene with MRTK in it.
3. Build the program for UWP
4. Build program in Visual Studio to your Hololens 2 in debug configuration

## Expected behavior

No continuous exceptions

## Screenshots

If

[2021-12-24 22:32] astaikos316 commented on #10207
I am having the same issue.  I am running Unity 2020.3.16f1 with MR OpenXR Plugin 1.0.2 and Unity OpenXR Plugin 1.2.8.  I have tried the other suggestions of setting alpha to 0 but they have not worked.

[2021-12-24 23:22] FelixWeichselgartner commented on #10207
@astaikos316 does disabling rendering from camera (see above) get rid of the gray overlay for you?

[2021-12-24 23:23] astaikos316 commented on #10207
No it does not.

On Fri, Dec 24, 2021 at 6:22 PM Felix Weichselgartner <
***@***.***> wrote:

[2021-12-27 22:14] RogPodge commented on #10054
Heads up that this issue should be fixed going into MRTK v3

[2021-12-28 19:14] astaikos316 commented on #10207
Just updated MR OpenXR plugin to 1.2.1 and the problem is not there anymore.

[2021-12-29 20:24] keveleigh commented on #10304
It will not be in MRTK 2.7.3. I'll provide it here after it's been validated.

[2021-12-30 18:31] idea-lei opened #10399 "gltf node id and gameObject pairs"
## Describe the problem

till now we only have the whole `GameObjectReference` in `GltfObject`, and it's tidious to write own mapping logic to get corresponding GameObject of specific node, because we only have node name under `GltfNode` (without NodeId of course), meanwhile, some names could be the same. Comparing tranform could be a solution but definitly not elegant...

## Describe the solution

[2022-01-01 22:41] pratyush-p opened #10401 "Near Interaction Press is working in Unity Game view, but not physical Hololens when deployed."
## Describe the bug

I am not able to use any buttons via near interaction on my Hololens 2. I have to use far-interaction hand rays instead. In my Unity Game view, however, everything is working exactly as it should. Also, for some reason, near interaction grabbables work on my hololens too, just not pressables like buttons.

## To reproduce

Steps to reproduce the behavior:

1. Create Unity Proj

[2022-01-03 14:38] keveleigh commented on #10399
@idea-lei Do you think there's any benefit to having the dictionary indices be the string names instead of the int ids? I guess all nodes are guaranteed an id while only some may have a name, but the names are a little more human-parseable.

[2022-01-03 17:18] keveleigh commented on #10388
Huh, strange! @RogPodge, have you ever seen this? @iivvaannxx, can you please confirm which shader the `RiggedHandVisualizer` is using? You should be able to check the prefab under `Controllers > Controller Visualization Settings`, then looking in either `Global Left/Right Hand Visualizer` or a controller-specific override for Oculus.

[2022-01-03 17:31] RogPodge commented on #10388
I haven't seen this issue specificially, but I think it's related to the material we use for the rigged hands not compiling properly onto Android when using URP.

If you can't get the shader to work, you can comment these lines to work around the exception for now https://github.com/microsoft/MixedRealityToolkit-Unity/blob/f06939ebd47e1c200c83dcdc3e5d3928c90459cd/Assets/MRTK/SDK/Features/UX/Script

[2022-01-03 18:04] keveleigh commented on #10379
@Cameron-Micka Should we be pointing to a different property now?

[2022-01-03 18:09] keveleigh commented on #10379
Looks like that field was removed in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/8842, but it's not immediately obvious to me how to migrate the above doc.

[2022-01-03 18:40] iivvaannxx commented on #10388
Okay, so first of all, @keveleigh I looked into the Rigged Hand Visualizer prefab for both hands, out of play mode and also at runtime (during play mode, to make sure the material it's not somehow updated) and in both cases I saw the same material, called HandMeshOutline, which has the shader RimOutline. There wasn't any Oculus specific override.

Then, @RogPodge I did what you said and commented

[2022-01-03 18:44] RogPodge commented on #10388
I recall that exception being a non-blocking one, thought the black screen issue is something I am not familiar with.

https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/supported-devices/oculus-quest-mrtk?view=mrtkunity-2021-05

Do you have the same issues following these instructions and deploying to Unity 2020? I don't think we've done much development on Unity 2021 yet with MRTK

[2022-01-03 18:54] keveleigh commented on #9800
Ping @davidkline-ms

[2022-01-03 18:55] iivvaannxx commented on #10388
@RogPodge I will take a look and give it a try. It may take a little because I can't downgrade to Unity 2020 easily as the project is not particularly little. Besides I am a little busy these days.

I will reply and tell as soon as I can, thanks!

[2022-01-03 18:59] keveleigh commented on #10192
Going to close this out for now. Please reopen if you're still seeing it!

[2022-01-03 18:59] #10192 closed

[2022-01-03 19:16] keveleigh commented on #9849
I realized I had been leaving some updates on #10297 but not updating here:

MRTK currently makes an incorrect assumption that _only_ a hand can provide hand joints. Therefore, when we receive the hand joint `InputDevice` first, we spin up the hand joint visualization. When we receive the interactions `InputDevice` first, we spin up the controller visualization.
I'm not specifically sure about the

[2022-01-04 18:19] #10399 closed

[2022-01-04 20:45] Cameron-Micka commented on #10379
Ah yes, this system has changed a bit since that doc was made. I can update the docs to give more up to date advice. Thanks!

[2022-01-05 00:39] XPav opened #10403 "baselib link error when building from MRTK build"
## Describe the bug

When building via MRTK, the build fails due to:

`(Filename: Library/PackageCache/com.microsoft.mixedreality.toolkit.foundation@53ebe713ab19-1641334424296/Core/Extensions/ProcessExtensions.cs Line: 104)

         EXEC : error : Unity.IL2CPP.Building.BuilderFailedException: The Baselib library 'C:\Program Files\Unity\Hub\Editor\2021.2.7f1\Editor\Data\PlaybackEngines\MetroSuppor

[2022-01-05 08:29] RobinopdeBeek commented on #9774
Hi @MaxWang-MS , I am still getting these compilation errors when trying to import the Scene Understanding package into my existing project. In the Samples project importing it goes smoothly though.

Unity version: 2020.3.24
MRTK versions: 2.7.3
Scene Understanding version: 0.6.0

I tried switching to .Net 4.x, but this made no difference. There is probably a reason why it doesn't work with my pro

[2022-01-05 13:55] Ahim13 opened #10404 "Unable to register data provider - only in Build"
## Describe the bug

The following logs in the Hololens 2 player log: (These errors are not present in the editor, only in build - mostly everything works except the tracking of the handmesh which is not woroking at all)

Unable to register IMixedRealityInputDeviceManager data provider (Windows Mixed Reality Device Manager) because the value of concreteType is null.
This may be caused by code bein

[2022-01-05 16:33] csrussell commented on #10305
I've tested this with the MRTKExamples on Unity 2019.4.31, MRTK 2.7.3 with OpenXR.  The mouse is detected and can control the cursor but clicks do not work, the same behavior as with Legacy XR.

[2022-01-05 18:31] RogPodge commented on #10305
We looked into this a bit and aren't sure that this is ultimately an MRTK bug. We think it's more Unity related than MRTK related, so could you also raise a Unity bug?

Additionally, reporting this issue on the HL2 Feedback Hub would help, since we can then then raise the priority internally once we have the feedback hub report number.

[2022-01-05 21:56] RogPodge commented on #10391
This should get fixed in MRTK v3 as we move onto a newer input system backend!

[2022-01-05 21:58] RogPodge commented on #10387
The teleport layer settings should be on the teleport pointer itself.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.mixedreality.toolkit.teleport.teleportpointer.validlayers?view=mixed-reality-toolkit-unity-2020-dotnet-2.7.0

[2022-01-05 22:29] reeseras commented on #10387
Perfect! Found it in the inspector for MixedRealityToolkit under "input". I had to copy the prefab to make it editable then replace it in the input settings mentioned above. Thanks so much!

[2022-01-05 22:41] RogPodge commented on #10364
Hey there, when we were first building up MRTK v2, the Universal Render pipeline wasn't as popular or powerful as it is today, so we hadn't targetted or tested it as the main platform of choice. As such, there may be several graphical issues when using URP on v2, which we will strive to smooth out and improve for our next major version.

[2022-01-05 22:46] reeseras commented on #10387
Maybe I'm misunderstanding, but "ignore raycast" is in invalid layers as well as another layer I added. The only layer in "valid layers" is "default". I triple checked and the object I'm trying to pass through is on the "ignore raycast" layer, and the teleporter still doesn't cast through it. Do I need to change something in the prefab besides valid and invalid layers?

[2022-01-05 23:01] RogPodge commented on #10387
I think I also misunderstood. To get the actual ray to pass through other objects is a separate topic and I _think_ you'd have to change the raycast provider itself in order to get it to pass through objects. I don't think we expose that ability through code unforuntately....

Tagging @keveleigh for if he knows where this might be exposed, I didn't see anything when looking through our codebase.

[2022-01-05 23:05] reeseras commented on #10387
I know I've done this before via the pointer raycast layer masks inside the pointers settings. But this doesn't seem to work anymore:
![image](https://user-images.githubusercontent.com/26148056/148302379-734386b1-7dba-40a1-8410-563152604929.png)

[2022-01-06 07:46] Gongkaka commented on #10272
In the inspector of your base_link, is the immovable checked?

[2022-01-06 16:44] Kent1LG opened #10405 "[XR SDK] SpatialAwareness Observer Display Option get only"
## Describe the bug

I recently did the update of one of our project from VR Legacy to XR SDK, after making any profile changing everything works.
Except one thing, in the application we provide a button who enable or disable the spatial mapping occlusion with the "MixedRealitySpatialAwarenessMeshObserver.DisplayOption" property.

I find that the VR Legacy [WindowsMixedRealitySpatialMeshObserver](

[2022-01-06 20:07] cognitivedata commented on #10228
As of today the problem still persists as described above.
Workaround for me was to use a CapsuleCollider instead of SphereCollider for fingertips (as triggers) and track them manually, e.g.:
`HandJointService.RequestJointTransform(Microsoft.MixedReality.Toolkit.Utilities.TrackedHandJoint.IndexTip, Microsoft.MixedReality.Toolkit.Utilities.Handedness.Right);`
And of course you also want to set "Reg

[2022-01-06 21:20] MaxWang-MS commented on #9774
Hi @RobinopdeBeek, could you please post the exact error messages you receive after the import? Also are you using any DLLs in your project? It may be helpful if you compare the player settings between the sample project and your existing project to see if there is any difference.

[2022-01-06 21:25] graemeaj commented on #4655
It unfortunately behaves the same in any rendering mode. 2019.4.23 with MRTK 2.7.2

[2022-01-07 14:44] Kent1LG commented on #10405
Update :
I found the solution, using : CoreServices.GetSpatialAwarenessSystemDataProvider<IMixedRealitySpatialAwarenessMeshObserver>();

As I first tried it on Editor, that wasn't working (because XR SDK is not instancing I guess) I gave up, but now I tried it on HL2, and it works perfectly.

I close the issue.

[2022-01-07 14:44] #10405 closed

[2022-01-07 18:06] keveleigh commented on #10404
Running on Unity 2020, these logs are expected. They should be benign, and we can work on being less verbose in this case.
As far as the hand mesh not working, that's more concerning! Are you using a default MRTK profile (and if so, which one?) or a custom one?

[2022-01-08 02:21] thomaswester opened #10406 "Build Window / Deploy Options can't connect in 2.7.3"
## Describe the bug

Unable to connect or deploy to Hololens using the Build Window / Deploy Options tag. This works fine in 2.7.2.

## To reproduce

1. Setup  empty MRTK project with the MRTK Tools
2. Load Build Window
3. Fill in Hololens details (username / password)
4. Click Test Connection

## Expected behavior

Connection success console message

## My setup

- Unity 2020.3.18f1
- MRTK v2.7.3

[2022-01-09 22:10] HyperLethalVector opened #10407 "Help with articulated hand inputs."
## Unity editor version
2020.3.24

## Mixed Reality Toolkit release version
2.7.3

## Overview

Hi everyone!

For Experimentation purposes, I've created a virtual hand within the unity environment, and have been aiming to input the virtual hand joint positions as an articulated hand into the MRTK. I've done so based on the current MRTK Leap Motion Input Provider.

## Expected behavior

So far, I'v

[2022-01-10 07:44] Gescheld commented on #10272
Hi @Gongkaka,
I had already tried that and many other settings...
But the problem seems to be that the code (NearInteractionGrabbable.cs) is not designed for articulation body game objects. Or does it work for you with an articulation body? 🤔

[2022-01-10 08:52] Gongkaka commented on #10272
That's true. If you want to move the whole robot arm freely, you need to disable all the articulation body components for each link. When you want joint control, the articulation body component should be enabled again.

[2022-01-10 09:04] Gongkaka opened #10408 "robot controller script fails when built on HoloLens 2"
## Describe the bug

I'm trying to develop robot join control function and it works well in Unity Play mode. I can select a joint and rotate it. But when built to onto HoloLens 2, when the app runs, the robot links just fall in gravity just like no controller configuration on the robot.

## Screenshots
![image](https://user-images.githubusercontent.com/19341582/148740680-236370a6-9671-4c0d-96ca-94

[2022-01-10 09:59] Norair1997 commented on #10391
Any rough estimations when v3 will be released? Q1? Q2?

[2022-01-10 10:36] RobinopdeBeek commented on #9774
Thanks for responding @MaxWang-MS, below are the exact error messages:

[code]

It's a company project that has accumulated lots of DLLs over the years. Do you need a list of all of them? Here are some that might provide some insight:
- pdfrenderer.dll
- avatar_sdk_core.dll
- TriLibCore.dll
- glTFLoader2.dll
- Newtonsoft.Json.dll
- opus.dll
- Photon3unity3D.dll
- DOTween.dll
- RainbowFolders.dll
-

[2022-01-10 21:40] MaxWang-MS commented on #10403
Thanks for posting the issue! It seems that this is the same issue as [one on Unity Forum](https://forum.unity.com/threads/unity-il2cpp-building-builderfailedexception-baselib-dll-does-not-exist.1182046/). We will investigate.

[2022-01-10 22:35] RogPodge commented on #10391
We're currently targetting Spring/Summer 2022

[2022-01-10 23:37] RogPodge opened #10409 "Filter 414 error when updating the csc for Oculus Integration"
## Describe the bug

The MRTK csc doesn't filter out the 414 warning when the Oculus Integration package is imported. We probably need to filter out this warning as it comes up with the latest Oculus Integration package.

## To reproduce

Import oculus integration into a fresh mrtk project.

[2022-01-11 03:04] MaxWang-MS commented on #9774
Hi @RobinopdeBeek, given the issue you are facing only repros in your company's project, I am afraid that I am limited in the ways I could help. But I do want to share my understanding of "type not found in System.Numerics" issues generally: there are different flavors of .NET and some flavors only implement a subset of features (e.g. [System.Numeric.Vectors is not part of .NET Standard](https://g

[2022-01-11 03:54] HyperLethalVector commented on #10407
I've verified that the 'pinch' interactions and everything else is detected.

On inpsection, the pointer poses aren't getting updated.

[2022-01-11 08:06] RobinopdeBeek commented on #9774
Thanks @MaxWang-MS for the explanation. I was already afraid it would be something project specific that you couldn't help with. For now I will just work around it, untill I have time to investigate further. If I find a solution I will let you know :)

[2022-01-11 20:20] A-Ivan opened #10410 "Hololens 2: How to and ping set static IP for ethernet connection?"
I'm having issues trying to set a static IP for the ethernet connection on a Hololens 2 (build 20348.1442).

1. I went through the [settings app](https://docs.microsoft.com/en-us/hololens/hololens-new-settings) > Network & Internet > Ethernet > Network
2. IP Settings > Edit
3. Change Automatic (DHCP) to Manual
4. Toggle IPv4 to On
5. Input desired IP static address, Subnet mask, Gateway, Preferred

[2022-01-11 20:39] A-Ivan commented on #10410
I got it to work, not sure what exactly solved the issue though.

What I did: I restarted Hololens and I set the Preferred DNS encryption (in the IPv4 setup window) to: "Unencrypted only".

I wasn't able to ping Hololens, but my application which had ethernet network connection is now working correctly.

You can use any DNS address and it doesn't matter if the connection is set to public or privat

[2022-01-11 22:18] trzy opened #10411 "Oculus Quest 2: Cannot toggle profiler (dictation not working?)"
## Describe the bug

I am unable to toggle the profiler that is enabled by default on Oculus Quest 2 both in Link mode and when running an APK deployed to the device. I am using more or less the default settings profiles (I modified the camera profile to not render a skybox so that I could enable passthrough mode in my app).

Is dictation supposed to "just work" or is there some additional configu

[2022-01-11 23:37] A-Ivan opened #10412 "Creating and Modifying Icon Sets Different Menu Location"
## Describe the issue
In the [Buttons documentation page](Buttons), more specifically the section on [Creating and Modifying Icon Sets](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/button?view=mrtkunity-2021-05#creating-and-modifying-icon-sets), it is stated that "You can create a new button icon set with the asset menu: Create > Mixed Reality Toolk

[2022-01-12 09:32] SWARAVL opened #10413 "How to implement a custom Progress Indicator after the splash screen before loading a scene"
## Overview
How to implement a custom Progress Indicator after the splash screen before loading a scene

## Expected behavior
We want to customize the default progress indicator (basically, we don't want to see the rotating orbs and would like to replace it)
when the scene launches after the splash screen

## Actual behavior
Before the scene launches, for about 3 seconds, we see the default progre

[2022-01-12 14:58] Kent1LG opened #10414 "[Pointer Far & Near] Pointers profile's raycast layer masks not applied on every pointer"
## Describe the bug

The Pointing raycast Layer masks setting from Input/Pointer profile is not applied on every type of pointer.
In my case, the "ConicalGrabPointer" (for near interaction) don't have the same behaviour as the ShellPointer.

## To reproduce

Steps to reproduce the behavior:

1. Create a new Layer
2. Add a new GameObject in the scene with the new Layer
3. Add an ObjectManipulator +

[2022-01-12 18:46] polar-kev commented on #10413
Hey @SWARAVL, the rotating orbs are controlled by the HoloLens platform, not by MRTK. Although MRTK ships a progress indicator, it cannot be used during the initial app loading sequence.

Are you using the scene transition service at all here?

[2022-01-12 18:48] polar-kev commented on #10412
Hey @A-Ivan, thanks for raising this. I will forward it to our doc writing team so they can fix it.

[2022-01-12 18:57] polar-kev commented on #10411
Hi @trzy, thanks for filing. There currently isn't a plan to support keyword recognition on Quest in MRTK v2 which is required to toggle the profiler via speech. We are, however, planning to support this in MRTK v3.

[2022-01-12 18:57] #10411 closed

[2022-01-12 19:07] polar-kev commented on #10225
Update on the plugin release--we're anticipating that it will land on Jan 19th.

[2022-01-12 19:15] polar-kev commented on #10408
Hi @Gongkaka, can you share a screenshot of what's in your inspector for the robot links?

[2022-01-12 20:17] A-Ivan commented on #10412
You're welcome @polar-kev

[2022-01-12 20:44] polar-kev commented on #10412
The fix has been merged and should be live shortly.

[2022-01-12 20:44] #10412 closed

[2022-01-13 04:15] SWARAVL commented on #10413
Hey @polar-kev, he rotating orbs are controlled by the HoloLens platform, not by MRTK. Although MRTK ships a progress indicator, it cannot be used during the initial app loading sequence - I see, thanks for the info. We shall check on the Hololens page for a solution if it exists.

Are you using the scene transition service at all here? - Yup, we tried this concept. Unfortunately, it did not work

[2022-01-13 06:27] evilsly commented on #3967
Assets\MRTK\Providers\WindowsMixedReality\Shared\WindowsMixedRealityArticulatedHandDefinition.cs(26,17): error CS0246: The type or namespace name 'HandMeshObserver' could not be found (are you missing a using directive or an assembly reference?)
Assets\MRTK\Providers\WindowsMixedReality\Shared\WindowsMixedRealityArticulatedHandDefinition.cs(29,17): error CS0246: The type or namespace name 'HandMes

[2022-01-13 08:48] vtieto commented on #10379
@Cameron-Micka, if you'd like, we can do a quick meeting and go over the changes needed here. Or, you can just submit a PR--whichever works best for you.

[2022-01-13 10:51] Ahim13 commented on #10404
I see thanks for the info. No, I'm using a custom one (although not many things were changed). It was working with Unity 2019.4 LTS and then the project was updated to 2020 LTS and if I remember correctly, it stopped working. It appears, then floats in one place - initially it is not enabled when the app launches (because I set that) then I enable it via a voice command.

[2022-01-13 15:50] naseeb0 opened #10416 "Not showing the Camera and just showing Black Screen when Deployed to Android"
## Overview
When I launched the test Application, assume handtracking, then while opening on the android device (Realme Narzo 20 Pro). I can just see the black screen and MR Objects but the camera is not turned on and blacked out.
## Expected behavior
I was expecting that the camera would turn on and I could see the vitual Buttons interacting on the ral world.

## Actual behavior
Opposite to the e

[2022-01-13 18:55] keveleigh commented on #3967
Which SDK are you trying to build with in the Unity build settings? That looks like an issue with a too-old version. You'll want to use 18362 or higher.

[2022-01-13 20:12] A-Ivan opened #10417 "Confusing Documentation on Hololens 2 Spatial Awareness when using OpenXR"
## Describe the issue
It is unclear if the current Spatial Awareness documentation is targeted at Unity 2020 + OpenXR, Unity 2019/2020 + Windows XR Plugin, or Legacy WSA. In other parts of the Hololens 2 documentation this is clear, as you have the option to choose which is your target (for instance the [Holographic Remoting document](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/

[2022-01-13 20:24] A-Ivan commented on #10417
I figured out part of the solution.

When using OpenXR, if I remove the first two spatial observers ("XR SDK Windows Mixed Reality Spatial Mesh Observer" and "XR SDK Spatial Mesh Observer") and then run the code, to set the spatial awareness mesh display to not visible, it works (the mesh becomes invisible). The problem was that the code was not accessing the OpenXR Sptial Mesh Observer, which is

[2022-01-14 01:13] Cameron-Micka commented on #10379
Thank you for the offer @vtieto! It's been a while since I looked at this system so let me gauge how big the doc change would be, and I'll reach back out to you. 😊

[2022-01-14 04:38] gangmanm opened #10418 "Hololens2 azure spatial anchor problem"
## Describe the bug

I try to follow the tutorial
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-05
but when I import the project in to hololens or android device it seems that after finding the anchor the object is not able to set to anchor location

## Screenshots

https://www.youtube.com/watch?v=HCMKVexiwzo
This is the video that i recorded
as

[2022-01-14 04:51] Asif-Zahir opened #10419 "Scene Understanding crashes on awaiter.GetResult(); during Holographic Remoting with MRTK 2.7.3"
## Describe the bug

I tried to test the code snippets according to documentation: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/scene-understanding-sdk. I am unable to run my project in playmode/Holographic Remoting due to this line:

Scene myScene = SceneObserver.ComputeAsync(querySettings, 10.0f).GetAwaiter().GetResult();

Unity get stuck on Application.EnterPlayMode.

##

[2022-01-14 09:41] ClaudiaST commented on #7100
The temporary solution I found was to disable all colliders in "SceneContent" children (Empty GameObject that contains all the assets that make up the scene).
`foreach (var all in SceneContent.GetComponentsInChildren<Collider>())
            {
                all.enabled = false;
            }`
Doesn't disable the teleport system entirely, but prevents the player for teleporting.
It was really sim

[2022-01-15 22:02] Tom-Wells-NW commented on #8806
I would prefer option 3.

[2022-01-16 19:59] jelmer3000 commented on #10390
We never run from Unity here at my work. Don't know why but that just doesn't work.
About lag/low FPS: debug builds on HL2 are pretty slow. If you switch to release in VS before deployment it should run at "normal" speed.

[2022-01-17 05:20] #10413 closed

[2022-01-17 10:58] Manurocker95 commented on #3967
I got same issue with my hololense 2 (updated) and latest W11 update. Any idea?

[2022-01-17 13:24] jonas-weimar opened #10420 "MRTKFeatureTool doesn't start"
## Describe the bug

We want to develop an app for the hololens 2 platform with unity and face the problem, that the downloaded MRTKFeatureTool doesn't start up, not showing even the slightest sign of action besides a shortly appearing loading indicator. No errors thrown anywhere.

## To reproduce

Steps to reproduce the behavior:

1. Start a new Unity project
2. switch platform to universal
3. se

[2022-01-18 17:43] keveleigh commented on #10420
Any ideas, @davidkline-ms?

[2022-01-18 17:59] jonas-weimar commented on #10420
@keveleigh I sadly don't find this entry. But what I have found out today when scraping the eventlog is, the following:

####
Description: A .NET application failed.
Application: MixedRealityFeatureTool.exe
Path: C:\Users\jonasweimar\Desktop\MRTKFeatureTool\MixedRealityFeatureTool.exe
Message: Failed to load the dll from [C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.13\hostpolicy.dll],

[2022-01-18 20:13] A-Ivan opened #10423 "Is there any documentation on how to view a UI/canvas in Hololens 2?"
I want to use a UI/canvas that is constantly shown and fixed to the user's view, like a head-up display. I know this might not be the best way visualize information while wearing the Hololens and there are many drawbacks to using fixed displays, but for prototyping this is what I need for now.

Unity version 2020.3.24f1
MRTK version 2.7.3
Hololens 2 (build 20348.1442)

I tried the following things

[2022-01-19 00:15] GitKoenO commented on #9211
Much appreciated request! Currently I can set the Icon by utilizing `buttonConfigHelper.SetQuadIconByName("iconName")`, though the switchback to the _default/initial icon_ is cumbersome (I still haven't found a pretty solution to this, suggestion are welcome ^^). If only an option exists to Get the currently displayed/selected icon, it would help out a lot.

[2022-01-19 04:53] AzetaTakuya commented on #8034
Disabled `Input Simulation Service` from `Input Data Providers` , it worked.

[2022-01-19 08:49] JulieMo3 commented on #8796
Still looking for a solution. Any news?

[2022-01-19 09:17] NLR-L commented on #8796
I've got anchor downloading/uploading working in Unity 2021 (and 2020, but I haven't tested the code since updating it to 2021).

I pulled the code from an existing project and haven't tested if the code works standalone. But it might be a nice place to start for you guys. A very important step is to create an Assembly definition to enable the MR_OPENXR define when you're using unity 2021.

https:

[2022-01-19 09:39] NLR-L commented on #8796
I'm sorry I can't post the code of the solution.

But you can make use of the unity ArFoundation package, to convert an anchor to an anchor pointer.
https://forum.unity.com/threads/arfoundation-aranchor-nativeptr-needs-extra-conversion-for-openxr.1199446/

Then you can use this SpatialAnchor together with the [SpatialAnchorExporter](https://docs.microsoft.com/en-us/uwp/api/windows.perception.spati

[2022-01-19 16:47] tletie opened #10424 "NonNativeKeyboard for password field"
## Describe the problem

When dealing with password input field, NonNativeKeyboard display the password instead of asterisk characters in the display field of keyboard.
## Describe the solution you'd like

NonNativeKeyboard should handle password field like the NativeKeyboard that hide the password but only display asterisk characters.

## Additional context

In Unity when adding the input field t

[2022-01-19 16:53] jonas-weimar commented on #10420
# Update

After installing .NET (x64) and reconfiguring VS it all works now.

[2022-01-19 16:53] #10420 closed

[2022-01-19 17:34] keveleigh commented on #8796
For OpenXR, we have some samples showing off the new XRAnchorStore APIs: https://github.com/microsoft/OpenXR-Unity-MixedReality-Samples/blob/3917606bae2dd495cdd5680d33701ccd2caee3d7/BasicSample/Assets/ARAnchor/Scripts/AnchorsSample.cs#L51

[2022-01-19 20:11] thomaswester commented on #10207
I am still seeing the gray overlay.

Unity 2020.3.26f
MRTK 2.7.3
Universal Render Pipeline 10.8.1
MR OpenXR 1.2.1
Unity OpenXR 1.3.1

Changing "Render from camera" does not have any impact
I can also replicate on 2020.3.18

Note I don't see the gray overlay when working with Holographic Remoting Play Mode in the Editor.

[2022-01-19 20:39] thomaswester commented on #10207
I was able to fix this disabling HDR in the UniversalRenderPipelineAsset. It's under the Quality header and it's default is true/on.

Unity 2020.3.26f
MRTK 2.7.3
Universal Render Pipeline 10.8.1
MR OpenXR 1.2.1
Unity OpenXR 1.3.1

[2022-01-19 22:30] astaikos316 commented on #10207
I am not using URP for my project. I do occasionally see it come back if I
deactivate and reactivate the webcam source I have in my project. Then if I
do that again it goes away

On Wed, Jan 19, 2022 at 3:39 PM Thomas Wester ***@***.***>
wrote:

[2022-01-20 01:30] ba5909 commented on #10372
use <Microsoft.MixedReality.Toolkit.UI.ObjectManipulator>

[2022-01-20 06:32] cre8ivepark commented on #4472
![MRTKv2_AppBar3](https://user-images.githubusercontent.com/13754172/150285825-7e1f65ad-e8fb-44da-b80d-b03cf159c38c.gif)

[2022-01-20 13:45] BartheS23 commented on #10228
Thankfully I found this Issue soon enough. I have the same problem with Unity 2020.3.19f1 and MRTK 2.7.2.
As @franzabist reported, I have the same experience when pressing a button quickly it sometime works.

[2022-01-21 05:48] gangmanm opened #10426 "HTTP 1.1 400 Bad request in AzureAnchor Tutorials"
## Describe the bug

I'm doing the hololens2 tutorials shared by microsoft https://docs.microsoft.com/en-us/learn/modules/azure-spatial-anchors-tutorials/5-exercise-save-retrieve-share-azure-spatial-anchors It Worked prettey well last week

but when I tried it again today the ShareAzureAnchorIdToNetworkCoroutine function keeps showing me the HTTP 1.1 400 Bad request Error And I cannot find the rea

[2022-01-21 10:34] spany14 commented on #10015
I have defaultHololens2InputSystemProfile in place but still does not solve this issue for me.

[2022-01-21 11:17] themegaphoenix commented on #8214
Also suffering from the same issue.
Is the an NVIDA GPU with nvec support required?
I have a Intel i7 10th Gen and a Nvidia MX250 (no nvenc) laptop, and both throw the same errors.

[2022-01-21 11:22] PubEne commented on #10204
I had still that issue on:
2020.3.18f1 + MRTK 2.7.2.0 and Unity 2020.3.25f1 + MRTK 2.7.3.0 + OpenXR 1.3.1
on 3 different machines (I thought it was network / hardware related).

After using the hints from @All-the-other-names-were-taken I manged to fix the problem. Thanks for that!
I've created InputUserSettings.json file in Project/Library location and Holographic Remote is working again.
If anyo

[2022-01-21 19:26] iivvaannxx commented on #10388
@RogPodge Okay, so I apologize for such a late reply but I was too busy with a lot of other stuff. Today I tried to migrate the project to Unity 2020. It did not go quite well.

First I got a bunch of scripting errors because on the project I was using C# 9 features (I think) or at least features that are supported on 2021 but not on 2020, it took a little to fix. After I managed to get everything

[2022-01-21 22:29] istvanContXtual opened #10427 "Teleport or move the cam w/o the parabolic teleport pointer"
Hi,

Is there a way to teleport or move the camera without the parabolic teleport pointer?

I am trying to create a map or toolbelt based system, where i can just press a button in a ui panel and move the camera top a pre defined location in the world.

Tried CoreServices.TeleportSystem.RaiseTeleportRequest(pointer, teleportHotspot); but does not seem to be working.

Any help/suggestion is much ap

[2022-01-23 19:00] eusebiu opened #10429 "[Oculus] Allow only avatar hands to be visible (no controllers)"
## Describe the problem

In versions prior to MRTK 2.7.3 the avatar hands were visible without the controllers.

## Describe the solution you'd like

The Oculus Device Manager should allow what type controller to be visible: controllers only, avatar hands only, both.

## Describe alternatives you've considered

Unchecking Render Avatar hands with controllers in Oculus Device Manager hide the avata

[2022-01-24 18:57] RogPodge commented on #10387
Apologies for the late response on this. Will timebox looking into a fix for this during this week, though for v3 it'll definitely be addressed due to our input system changes.

[2022-01-24 21:56] RogPodge commented on #10407
Hey there,

Sorry for the late response. I believe the reason you aren't seeing any pointers associated with your new articulated hand is because you are missing the appropriate attribute in above the class:

Your implementation:
![image](https://user-images.githubusercontent.com/39840334/150869667-c83af436-7d3c-4d8f-8485-a1f469ff30f1.png)

LeapMotion Articulated hand definition:
![image](https://

[2022-01-24 21:59] RogPodge commented on #10401
We haven't been able to reproduce this issue on v2, nor on the new v3 architecture. Closing for now unless we see more occurrences of this happening/have some video/logs to look at.

[2022-01-24 21:59] #10401 closed

[2022-01-24 22:01] RogPodge commented on #10393
Filing as a documentation task. I'm not sure we'll be able to dig deep into this in the near term due to v3 priorities.

[2022-01-24 22:04] Tabsher2 opened #10430 "Upgrading MRTK via Feature Tool Throws Immutable Asset Errors"
## Describe the bug

Upgrading MRTK from version 2.7 (using .unitypackage files), to 2.7.3 using the feature tool and following the steps described here

https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/updates-deployment/updating?view=mrtkunity-2021-05#switching-from-unity-asset-files-to-mixed-reality-feature-tool

is throwing the following error for about 92 different assets whe

[2022-01-24 22:16] RogPodge commented on #10396
I think this was an unfortunate side effect of how this solver was designed (the assumption that the prefab had a starting scale of 1,1,1).

We're a bit busy at the moment with our v3 work but we'll see if we can make the starting scale configurable for the v3 version of the solver.

[2022-01-24 22:23] RogPodge commented on #10416
Did you make sure that the appropriate plug-in providers were enabled when you deployed? Black screen errors are usually symptomatic of that

![image](https://user-images.githubusercontent.com/39840334/150875064-df3db308-0dd1-49a8-a630-fe282bba9627.png)

[2022-01-24 22:24] RogPodge commented on #10418
@chrisfromwork Do you know what might be causing this/have a link to some other Azure Spatial Anchor documentation that would be useful here.

[2022-01-24 22:32] keveleigh commented on #10395
By default, the TTS script uses whatever your system default voice is set to. You'll want to follow the steps at https://support.microsoft.com/en-us/topic/how-to-download-text-to-speech-languages-for-windows-10-d5a6b612-b3ae-423f-afa5-4f6caf1ec5d3 to download additional voices.
Double checking my device though, I don't seem to see the page to update the default, and we currently only have the Engl

[2022-01-24 22:49] RogPodge commented on #10423
I think following [these steps ](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/button?view=mrtkunity-2021-05 )to make "Unity" canvas buttons, and then using [various solvers](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/solvers/solver?view=mrtkunity-2021-05) might be the way to go here. Having the user

[2022-01-24 22:49] RogPodge commented on #10424
@MaxWang-MS This seems like a feature we should track for v3 as well. Can you make a work item to track this?

[2022-01-24 22:51] RogPodge commented on #10429
Thanks for raising this issue, we'll try to accomdate for it ASAP

[2022-01-24 22:53] RogPodge commented on #10427
This code block might be what you're looking for.

https://github.com/microsoft/MixedRealityToolkit-Unity/blob/cb7b4c9349c58b731af015df94ac3e383771effa/Assets/MRTK/SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs#L278-L293

Essentially move the playspace and that should allow for the camera to move without having to raise teleports or other such things

[2022-01-24 23:05] tletie commented on #10424
Thank you @RogPodge and @MaxWang-MS

[2022-01-24 23:11] tletie opened #10431 "NonNativeKeyboard tag along and transform"
## Describe the problem

Compare to the Native Keyboard, the NonNativeKeyboard doesn't provide user capability to move around or tag along user when user moving around. After open the NonNativeKeyboard, user can't move it.

## Describe the solution you'd like

When using native keyboard, user have the capability to move the keyboard to wherever user want. And when user moving around, the keyboard

[2022-01-25 02:33] HyperLethalVector commented on #10407
Words cannot describe how hard I facepalmed after reading this, but I'm over-the-moon that it works very well.

Would there be an interest in doing a PR with this additional virtual hand driver?

[2022-01-25 11:09] whatever881 opened #10432 "Is there a support German, Spanish, French TTS(Text to speech)"
## Describe the issue
Is there a support German, Spanish, French TTS(Text to speech)

## Feature area
Is there a support German, Spanish, French TTS(Text to speech)

## Existing doc link
https://docs.microsoft.com/en-us/dotnet/api/microsoft.mixedreality.toolkit.audio.texttospeech?view=mixed-reality-toolkit-unity-2020-dotnet-2.7.0

## Additional context
Currently there are only 3 English voices, ho

[2022-01-25 11:18] whatever881 commented on #10395
Thanks for the info.
I can't execute step 4 - "Under Language options > Speech, select Download." on my Hololens 2. I think changing the speech on Hololens is not yet supported by the OS, am I right?

[2022-01-25 11:20] #10432 closed

[2022-01-25 11:20] whatever881 commented on #10432
Duplicate of https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10395

[2022-01-25 14:13] #10430 closed

[2022-01-25 20:16] MaxWang-MS commented on #10419
Hi @Asif-Zahir, could you try running the sample scene based on the instructions [here](https://docs.microsoft.com/windows/mixed-reality/mrtk-unity/features/spatial-awareness/scene-understanding)? The doc you linked is more for people not using MRTK. MRTK already handles the part you mentioned for you.

[2022-01-25 21:32] RogPodge commented on #10407
I think I'd want to know a bit more about how the functionality that the new hand provides. If the improvements/new features it adds are useful, we'll gladly take a look at a PR, review it, and hopefully try to get it in!

[2022-01-25 21:49] A-Ivan commented on #10423
Thank you @RogPodge for the information. In my case I only need to display text, no button interactions. I'll look into using a normal canvas UI.

It would be great if there was some information on the documentation to better explain the difference (pros/cons and example use cases) between a "Unity" and a "MRTK" canvas. This would make it clear when developing which one to use and why,

[2022-01-25 22:02] RogPodge commented on #10423
We'll keep that in mind and take another pass at clarifying out existing docs

[2022-01-25 22:13] A-Ivan commented on #10423
Happy to hear that, thank you.

[2022-01-25 22:15] RogPodge commented on #10015
You have to remove the XRSDK Oculus Device Manager to remove the error. The bug is mostly harmless, it'll only show up on application start but otherwise not affect performance or the application behavior during runtime.

[2022-01-25 22:39] HyperLethalVector commented on #10407
For sure!

The aim was to allow us to rapidly prototype MRTK interactivity using VR controlled hands, but to do so in an abstract enough way to allow compatibility with any virtual hand system. This is mostly us skirting around not having enough hand-tracking enabled devices for our developers.

[2022-01-26 12:52] Gescheld opened #10433 "Changes to IMixedRealitySpatialAwarenessMeshObserver are not applied"
## Overview
Hi,
I am extracting the spatial mesh via an observer and publishing it as a point cloud to ROS.
However, the changes I make to the observer are not applied. I tried changes separately from each other in 2 parts. Once via the editor and once directly in the script. I get an observer itself, but I can't change it.

## Expected behavior
For testing, I set the LevelofDetail to custom and t

[2022-01-26 18:17] davidkline-ms commented on #10343
@fast-slow-still, @peterneil-bimholoview

sorry this wound up falling under the radar and missing 2.7.3. I will look into this and work with the team to get it packaged as soon as possible

[2022-01-26 19:27] deviantdear commented on #10271
I am running into the same issue with a bluetooth keyboard, any further updates on this? Thanks!

[2022-01-27 11:41] wirelessdreamer opened #10435 "No Hand Interaction with Holographic Remoting on HoloLens 2 on Unity 2020 LTS (again)"
## Describe the bug

No kind of hand interaction is working with Holographic Remoting on HoloLens 2. It seems like hands aren't recognized at all. This affects Quest 2 hand tracking as well.

## To reproduce

Steps to reproduce the behavior:

Create a new Unity project
Switch Build Platform to UWP
Set Api compatibility level to .NET 4.x
Set OpenXR Depth submission mode to 16 for UWP and Desktop
Im

[2022-01-27 13:27] DavidShapiraRimon commented on #10154
Is there any update on this issue?

[2022-01-27 16:19] Asif-Zahir commented on #10419
@MaxWang-MS  this works. However, I was hoping to write a script on top of  [this](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/spatial-awareness/scene-understanding?view=mrtkunity-2021-05) to instantiate objects on a floor for example. How would I go about doing this?

[2022-01-27 19:25] keveleigh commented on #10435
In your Desktop settings for OpenXR, do you have Hand Tracking enabled?
![image](https://user-images.githubusercontent.com/3580640/151429271-68c95a00-f5e0-48d0-adcc-efe8f0bb9cd8.png)

[2022-01-27 20:17] ARGs-code opened #10437 "Conflict with MRTK and Azure Storage For Unity Package"
## Describe the bug

Importing the AzureStorageForUnity.package into a Unity Project with Mixed Reality Toolkit creates Compiler errors. If you remove the dll that comes with the AzureStorageForUnity.package you get errors because it references strong named Newtonsoft.Json assembly references for 10.0.0.0 and Mixed Reality Toolkit Package forces 12.0.0.0.

## To reproduce

Make a Unity Project in

[2022-01-27 22:49] keveleigh commented on #10437
Do you know where this dependency is coming from? Where's the DLL in the package structure? I'm not aware of MRTK 2.x having a Newtonsoft.Json dependency.

[2022-01-27 23:27] ARGs-code commented on #10437
Good point Keveleigh. You are correct, it appears that Newtonsoft Json is a default package included in Unity even in empty projects that I can not remove. My default unity template includes MRTK and nothing else, so I mistakenly thought this was part of MRTK. But it's not. It's part of any new unity project. It doesn't show up in the package manager so I can't remove it from there and it is a pac

[2022-01-27 23:27] #10437 closed

[2022-01-27 23:45] keveleigh commented on #10398
Interesting! Do these manifest themselves as any issues in-app, or mostly as debug spam in your logs?

[2022-01-28 03:16] havokentity commented on #10398
Oh yes! it does manifest as a minor issue in-app in the form of a very minor random stutters or a frame rate drop but apart from that it's mostly debug spam in my logs.

[2022-01-28 06:35] chinmaychinara91 opened #10438 "Integrate HoloLens hand tracking to my own DLL"
Hi,

I wanted to integrate the holoLens2 hand tracking feature into my own DLL. My work involves doing the integration in C++. Is there a c++ version of the MRTK that I can use to create my own DLL?

Chinmay

[2022-01-28 12:27] wirelessdreamer commented on #10435
yes, hand and eye tracking are both enabled, and remoting for play mode. as a side note, if eye tracking is turned off, the cursor that  comes out of your hand shows up, and is partially usable, but you still can't push buttons with your fingers, and of course OpenXR config yells at you because it wants eye tracking.

[2022-01-28 12:28] wirelessdreamer commented on #10435
using MRTK 2.7 and Unity 2020.3.8 worked with the same settings. is the a latest tested version of unity, with the current version of MRTK? since the latest version of unity is broken?

[2022-01-28 13:15] wirelessdreamer commented on #10435
The issue still exists in 2020.3.26f1

[2022-01-28 14:06] wirelessdreamer commented on #10435
Working package list in 2020.3.8f1
![image](https://user-images.githubusercontent.com/140221/151560646-4fb7c630-8618-4cae-85d8-b8587383b09d.png)

[2022-01-28 14:07] wirelessdreamer commented on #10435
2020.3.8 in editor only works with WMR, not openxr. builds work with openxr

[2022-01-28 18:32] keveleigh commented on #9622
We've been working on migrating our NuGet packages to UPM, accessible via the MR Feature Tool. Does this make this scenario better? I'm not fully sure what you're describing here, unfortunately.

[2022-01-29 14:40] mihaits opened #10439 "Hand Mesh Visualization not visible in Holographic Remoting for Editor Play Mode"
## Describe the bug

When using the editor play mode, the hand mesh visualization is not visible if holographic remoting is used.

## To reproduce

Under MRTK profile go to:
Input > Articulated Hand Tracking >Hand Mesh Visualization Modes
Make sure Editor is checked

Connect a HL2 device using Holographic Remoting for Play Mode

## Workaround

Under MRTK profile go to:
Input > Controllers > Micros

[2022-01-31 08:29] studentutu commented on #9622
It would still be nicer to have this option for older packages

[2022-01-31 08:29] #9622 closed

[2022-01-31 14:17] ApzSK opened #10441 "[External Bug] Keyboard crashing the app on HoloLens2"
## Describe the bug

When the native HL2 keyboard have any character long pressed, selection menu is being shown and user closes the keyboard before selecting the character the application crashes.
## To reproduce

Steps to reproduce the behavior:

1. Build an Unity application on HL2 with input field or something to show the keyboard when it's running and deploy it to the device
2. Show native Ho

[2022-01-31 18:28] keveleigh commented on #10439
It's a limitation of remoting. You can view the unsupported/limited APIs at https://docs.microsoft.com/windows/mixed-reality/develop/native/holographic-remoting-troubleshooting#limitations, including the hand mesh APIs:
![image](https://user-images.githubusercontent.com/3580640/151851445-36c7157c-41e8-431e-a921-cafda90473f1.png)

[2022-02-01 14:47] agzimmerman commented on #10258
FYI: Today I had the same issue on Oculus 2 without OpenXR, using MRTK 2.7.2 and Unity 2020.3.18f1 (LTS). I fixed it also by setting `handConstraint.UpdateWhenOppositeHandNear = true;` Thanks for finding the workaround @Florimondable !

[2022-02-01 18:24] polar-kev commented on #10225
The Windows Mixed Reality Plugin updates are live. @ShayneRC, can you update and let us know if the issue has been fixed?

[2022-02-02 02:33] PennoGT9 opened #10442 "Input Field confused by Bluetooth keyboard"
## Describe the bug

The Input field works great with the soft keyboard for Hololens 2, but when I have a Bluetooth keyboard connected to the Hololens 2, the input field still activates the soft keyboard as opposed to reading input from just the Bluetooth keyboard. The input field recognizes both the soft keyboard and the bluetooth keyboard at different times, but is unable to prioritize between t

[2022-02-02 03:17] peterneil-bimholoview commented on #10225
@polar-kev  Yes the issue has been fixed in the WMR Plugin!

[2022-02-02 13:47] Xispeo opened #10443 "Hand tracking feedback regression"
## Describe the bug

Hand tracking feedback is broken

## To reproduce

Steps to reproduce the behavior:

- Create a basic scene with MRTK 2.7.3 and Unity 2020.3.27
- Deploy on Hololens 2
- Try to visualize your virtual hands
- Hand mesh does not appear properly. You can see properly hand joints but not the ArticulatedHandMesh, which appears to stay at their original position or move from time to

[2022-02-02 18:38] polar-kev commented on #10443
@elbuhofantasma, can you take a look at this?

[2022-02-02 18:42] polar-kev commented on #10441
Thanks for filing @ApzSK. We will try and reproduce this bug independently of MRTK because it sounds like it could be a platform bug.

[2022-02-02 18:43] #10439 closed

[2022-02-02 18:50] polar-kev commented on #10435
Hi @wirelessdreamer can you update your Mixed Reality OpenXR Plugin to the latest? Also, can you double check which remoting window you're using? Based on your repro steps, "Open Windows Mixed Reality and enter the IP address of HoloLens 2" you appear to be using the wrong one. Please follow the instructions here: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/unity-play-mode

[2022-02-02 18:58] wirelessdreamer commented on #10435
@polar-kev
I've used both OpenXR with its remoting configuration, and WMR with its remoting configuration, each separately, and with the matching one to the enabled for it.

@keveleigh just saw your message, I had had and eye tracking enabled for all tests.

[2022-02-02 19:00] polar-kev opened #10444 "Image tracking as MRTK service"
### Discussed in https://github.com/microsoft/MixedRealityToolkit-Unity/discussions/10392

<div type='discussions-op-text'>

<sup>Originally posted by **Babilinski** December 22, 2021</sup>
I have been using mrtk for a while and realized that Image tracking for different platforms has to be managed externally. It would be nice if I could use MRTKs platform management to trigger image tracking acro

[2022-02-02 19:00] keveleigh opened #10445 "Use "PrefabUtility.InstantiatePrefab" instead of "Instantiate" in the MRTK Toolbox"
### Discussed in https://github.com/microsoft/MixedRealityToolkit-Unity/discussions/10434, posted by @vitorfgd

<div type='discussions-op-text'>

<sup>Originally posted by **vitorfgd** January 26, 2022</sup>
The MRTK Toolbox is an excellent feature and makes my life easier, however, I'm wondering why the default behavior for selecting an item on the list is an Instantiate on the root of the hierar

[2022-02-02 23:07] polar-kev commented on #10438
Hey @chinmaychinara91, please see this overview on native development for HoloLens 2 https://docs.microsoft.com/en-us/windows/mixed-reality/develop/native/directx-development-overview?tabs=openxr

[2022-02-02 23:07] #10438 closed

[2022-02-03 00:34] keveleigh commented on #10443
@Xispeo, thanks for confirming that this is happens across both MRTK 2.7.2 and 2.7.3.
Can you please confirm if you're using OpenXR or Windows XR Plugin?

[2022-02-03 03:26] Varnauld commented on #10426
@paco-ms can you assign this item to @pamistel please - we are tracking this issue under work item 37822133

[2022-02-03 06:38] xiiihopeestheim opened #10447 "HP Reverb Support"
Hi!

I was reading the documentation for MRTK 2.6.1 (https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/release-notes/mrtk-26-release-notes?view=mrtkunity-2021-05) and saw "HP Motion Controllers now supported with MRTK".

Before I purchase the hardware, I would like to confirm if HP motion controllers work with HoloLens 2? And how is the tracking compared to the built-in hand tracki

[2022-02-03 09:02] Xispeo commented on #10443
The problem occured with Windows XR Plugin.
I switched to OpenXR but the project is now messed up, deployed app does not launch anymore and crashes Hololens 2.
I have restarted from scratch a new project and am injecting previously code & content with OpenXR plugin, functions like a charm.

[2022-02-03 17:29] keveleigh commented on #10447
To clarify, these controllers don't work with HoloLens 2. They're intended for use with the WMR VR headsets https://docs.microsoft.com/windows/mixed-reality/enthusiast-guide/vr-journey

[2022-02-03 18:27] #10225 closed

[2022-02-03 18:51] elbuhofantasma commented on #10441
@ApzSK I have investigated this issue, and I have found that this is not an MRTK issue. This seems to be a Unity bug, as I am able to reproduce this issue in a basic Unity app without the MRTK.

We are submitting our findings to Unity to resolve this issue. In the meantime, I will leave this bug open until we hear back that it is resolved.

Thank you for finding this important issue!

[2022-02-03 19:04] elbuhofantasma commented on #10433
Hi @Gescheld Thank you for bringing this issue to our attention. I noticed that you are using MRTK 2.6.1, are you able to upgrade to the latest MRTK version?

I will investigate this issue and assign it to the appropriate person when I am done.

[2022-02-03 20:34] MaxWang-MS commented on #10419
@Asif-Zahir I would say take a look at the following class and function:https://github.com/microsoft/MixedRealityToolkit-Unity/blob/685a8f5daf6426fae9d73cde6af9894f692d8886/Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs#L104
You should be able to modify that function directly or create a similar class to achieve your goal.

[2022-02-03 20:49] keveleigh commented on #9591
This _should_ be fixed on the runtime side (and has been for a while). But please reopen if you're still seeing this on recent runtimes and plugin versions!

[2022-02-03 20:49] #9591 closed

[2022-02-03 20:51] keveleigh commented on #8926
I wonder if the root cause here is related to the bug being fixed for Leap Motion in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10446

[2022-02-03 23:33] elbuhofantasma commented on #10443
Thank you for the additional information @Xispeo, I am taking a look at this now and will report back soon with my findings.

[2022-02-04 08:40] Gescheld commented on #10433
Hi @elbuhofantasma,
Thanks for answering!
I have now updated both (Foundation and Standard Assets) to 2.7.2 (the latest available), but nothing has changed. Could it help to try directly the latest version of MixedRealityFeatureTool (1.0.2111.0-Preview)?
1. when I set the profile settings for the observer to visible in the inspector, I see the mesh at the beginning. However, in the script I set th

[2022-02-04 08:58] Gescheld commented on #10295
I have made the observation that it always occurs to me when I change my Level of Detail to custom at runtime, plus the density (Triangle per Cubic Meter) and then restart the observer. Changing only to custom does nothing. Only by additionally changing the density. (With WMR).
The oberver is reseted, cleared and restarted after the changes at runtime by the following:
CoreServices.SpatialAwarenes

[2022-02-04 18:19] thePostFuturist opened #10449 "Shader error when building Android for URP"
Upon using URP, the MRTK Standard shader will prevent the app from compiling. This error is thrown:

Shader error in 'Mixed Reality Toolkit/Standard': Non system-generated input signature parameter () cannot appear after a system generated value. at line 775 (on vulkan)

When using the update tools, the app will compile, but the error is still there. This will prevent you choosing the shader from

[2022-02-04 18:45] elbuhofantasma commented on #10449
Thank you for submitting this shader error @thePostFuturist! I will investigate this issue and report back shortly.

[2022-02-04 19:14] #10236 closed

[2022-02-04 19:14] #10270 closed

[2022-02-04 23:42] lmaxsmith commented on #10207
By updating all my stuff to the same as @thomaswester I was able to fix mine. Not sure which one did the trick, but MR OpenXR was the most out of date (was 1.0.1).

[2022-02-07 03:40] peterneil-bimholoview commented on #10295
@Gescheld I am good to hear someone else is seeing this issue - not just us!!!

We don't change the density but we do set the DisplayOption when we Enable the Observer.  I wonder if this is issue only appears if you Enable/Disable plus set another property on the observer?

[2022-02-07 07:16] matthewsanderssaab opened #10453 "MaterialInstance allocates memory each frame"
## Describe the bug

In the update loop MaterialInstance calls cachedRenderer.sharedMaterials which allocates memory to return the materials array.
When used in complex scene graphs under a component like a scrolling object collection, this can lead to large allocations on each frame (~5KB per 100 materials).

## To reproduce

Create a scene with 10 MRTK buttons inside a scrolling object collectio

[2022-02-07 07:27] matthewsanderssaab opened #10454 "ScrollingObjectCollection inefficient search in ManageVisibility"
## Describe the bug

ScrollingObjectCollection.ManageVisibility does a call clippedRenderers.Contains(renderer) for every renderer in the collection.

As this is an iteration over every renderer, leads to an n-squared performance drop off, and can be significant in complex scene graphs inside a ScrollingObjectCollection.

It also allocates a new array for each update (~1kb per 100 objects).

## Ex

[2022-02-07 12:21] handzlikchris opened #10455 "Interactable triggers OnInputUp even for pointers that did not initiate interaction"
## Describe the bug
If you use controllers and point at 2 interactables at the same time. Both of them will technically have Focus. When you then trigger action ('Select') then OnInputUp will be called in both Interactables that have focus.

## To reproduce

Steps to reproduce the behavior:
1) Set up 2 Interactables that handle 'Select' action
2) Enter playmode
3) Point left controller pointer to

[2022-02-07 20:02] Tabsher2 commented on #9715
Still having this issue in Unity 2020.3.26.f1, with MRTK 2.7.3, and OpenXR 1.3.1. It specifically happens when I the asset bundles Build Target is "Standalone Windows" instead of "WSA Player".

[2022-02-07 22:38] keveleigh commented on #9683
Unity Version 2019.3.12f1
MRTK Version v2.3
Legacy XR

This is likely something that needs to be fixed outside of MRTK. Unity has deprecated or removed legacy XR in all their current LTS branches. This _is_ something I'm starting to look into supporting for OpenXR though!

[2022-02-08 01:46] thePostFuturist opened #10456 "Addressables + Scene Transition Service"
Hello, I'd like to load a scene that was in a bundle via addressables using the Scene Transition Service. What would be the recommended approach?

[2022-02-08 01:50] thePostFuturist commented on #10449
Update: I have removed Vulkan and am building solely using OpenGLES3.

A similar error,
`
Non system-generated input signature parameter () cannot appear after a system generated value. GLES3X`

is thrown, although now builds are no longer failing. Can also now select the shader from the material dropdown.

[2022-02-08 07:31] Gescheld commented on #10295
@peterneil-bimholoview,
I had only tried from default visible and LoD coarse to not visible and swappable LoD with changeable Triangle per Cubic Meter.
And as it is with programming, when things don't work, you don't know why. And when they do work, you don't know why either :D
I changed my package.appxmanifest because of another task:

[2022-02-08 07:47] Gescheld commented on #10295
@peterneil-bimholoview,
I had only tried from default visible and LoD coarse to not visible and swappable LoD with changeable Triangle per Cubic Meter.
While continuing to work, I changed my package.appxmanifest due to another task. And I noticed that in my script, where I change the observer, I refer to an unassigned text element (but without error message and the program ran anyway). Since then,

[2022-02-08 10:59] Takahiro901 opened #10457 "MixedRealityKeyboard is unexpectedly invoked"
## Describe the bug
MixedRealityKeyboard is unexpectedly invoked after entering text.

## To reproduce

1. Acquire example scenes
   https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/running-example-scenes?view=mrtkunity-2021-05
2. Open `MixedRealityKeyboardExample` scene in HoloLens 2
3. Click a text area
4. Enter text
5. Click `X` button on top right of a keyboard
6. Tap somewher

[2022-02-08 13:30] dm3942 commented on #8214
I too was unable to resolve the issue using the HEVC advice.

Issue:
Disconnect : Transport connection was closed due to the requested video format not being available

Editor:
Unreal Engine 4.27  (Have also tried unity, and UE 4.26 and UE 5).
With Microsoft OpenXR plugin and Tool kits. Version 1.1.8.

Computer: HP ProBook 450 G8 Laptop
NVIDIA GeForce MX450, i7 11th Gen.
NVIDIA Driver 472.42

HEVC

[2022-02-08 14:05] dm3942 commented on #8214
Not a full solution, but it does appear to be related to the graphics card or NVIDIA second class drivers for M series hardware.

After disabling in the NVIDIA GeForce MX450 device.  The holographic player can start initiating the connection, but fails once D3D/Rendering operations are required.

Troubleshooting Steps:
Disable NVIDIA Graphics card to test holographic remoting connectivity.
![image

[2022-02-08 14:24] themegaphoenix commented on #8214
Thank you very much.
Disabling the NVIDA GPU (MX250) allowed it to work! It now uses the Intel UHD 620. I had previously tried setting to the iGPU only before in the NVidia control panel but that didn't work. This works like a charm.

[2022-02-08 17:16] AMollis opened #10458 "Update MixedRealityKeyboard to expose the Windows Runtime's HolographicKeyboard class"
## Describe the problem

In Windows 10.0.20348 a new HolographicKeyboard class was added.  This class allows an application to control the pose and size of the system keyboard. It would be useful if the MRTK wrapped this behavior and exposed it methods on the MixedRealityKeyboard Unity Behaviour

## Describe the solution you'd like

MixedRealityKeyboard Behaviour should expose a SetPose() and SetM

[2022-02-08 17:30] Aupuma opened #10459 "Hololens 1st gen camera not moving, spatial tracking not working"
## Describe the bug

When trying to implement an app for Hololens with Vuforia model tracking, the camera seems to be stuck, it doesn't track the world.

## To reproduce

Steps to reproduce the behavior:

1. Go to MixedRealityToolkit
2. Click on TargetScale and set to World (with Room or seated it doesn't work neither)
3. In Camera select DefaultHololens1CameraProfile
4. Place an object away from

[2022-02-08 20:11] thePostFuturist opened #10460 "Scene Transition Service "BeginSample / EndSample" errors"
Using

[code]

getting:

[code]

happens every time. The scene does load, not sure how benign this is.

- Unity Version [v. 2020.3.26f1]
- MRTK Version [v, 2.7.3]

Oculus Runtime Utilities
Running in Editor

[2022-02-09 00:10] thePostFuturist opened #10461 "Scene System: load occlusion mapping"
The Scene System currently does not load occlusion mapping, requiring hacks to get it to load for certain levels. For VR indoor scenes, I find occlusion mapping to be an incredible performance boost.

[2022-02-09 18:18] polar-kev commented on #10260
Hi @mins-verse, I'm going to close this issue since @fxjoanny proposed a solution. If that solution does not work for you, you can reopen the issue.

[2022-02-09 18:18] #10260 closed

[2022-02-09 20:37] dm3942 commented on #8214
Looking into the problem a little more, the requirements do spell it out. A GPU with Hardware H.265 or Hardware H.264 encoding capability (NVENC), is really what is required.  Some of the laptop graphics cards don't have that, which is what caught me out.

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/native/holographic-remoting-system-requirements

https://developer.nvidia.com/vi

[2022-02-09 23:18] bhtruong93 opened #10465 "Spatial mesh not recovering properly after device sleeps"
## Describe the bug

The spatial mesh is shifted when returning to the app after putting the device to seep

## To reproduce

Steps to reproduce the behavior:

1. Start the app (spatial mesh should be visible and aligned)
2. Press the power button on the HL2 to put the device to sleep
3. Press the power button again to wake the device
4. Return to the app (the spatial mesh should appear shifted)

[2022-02-10 19:06] A-Ivan opened #10466 "Updating Hololens build via Windows computer"
## Describe the problem

Updating Hololens (Hololens 2) currently requires going to, in Hololens, Settings -> Update & Security -> Windows Update. Because Hololens could go into sleep/hibernate mode if not being worn/moved, it can get difficult to update the device as it may not constantly be used during this download/update time.

## Describe the solution you'd like

It would be great if there we

[2022-02-10 21:36] AMollis commented on #10465
@keveleigh  or @davidkline-ms have either of seen this issue?   Does this seem like it could be related to this OpenXR issue?

https://github.com/microsoft/OpenXR-Unity-MixedReality-Samples/issues/52

@bhtruong93, have you seen this issue Unity 2019?  I believe you've recently upgraded to 2020.  Also, are you using the Windows XR Plugin or the Mixed Reality Open XR Plugin?  And what versions?

[2022-02-11 00:21] MaxWang-MS commented on #10466
Hi @A-Ivan, as mentioned in the windows device portal doc page you linked there are sleep settings that set the length of time to wait before the device goes to sleep when it's plugged in and when it's on battery. I suggest that you modify that setting to keep your device on while installing updates. Otherwise I am not aware of any feature that allows you to update your device from PC besides a fu

[2022-02-11 09:54] jloehr commented on #10443
Hey, we're experiencing the same issue after upgrading from Unity 2020.3.20 (and Windows MR/XR Plugin 4.6.0) to 2020.3.28 (using either Windows MR 4.6.1 or 4.6.2), while still on MRTK 2.7.0.

[Unity 2020.3.24](https://unity3d.com/unity/whats-new/2020.3.24) bumps the WMR XR SDK Plug-on to 4.6.1:

https://docs.unity3d.com/Packages/com.unity.xr.windowsmr@4.6/changelog/CHANGELOG.html

The com.unity.xr

[2022-02-14 19:19] #10385 closed

[2022-02-15 16:23] bhtruong93 commented on #10465
@AMollis no we haven't seen this in Unity 2019. Yes, you're right we're currently testing on an upgraded 2020 branch. We're also using Mixed Reality OpenXR, version 1.0.3

[2022-02-15 16:34] keveleigh commented on #10465
Are you able to update to a newer version? The spatial mapping support in Mixed Reality OpenXR was basically rewritten between 1.0.3 and 1.1.0. It would be interesting to see if you're still able to repro after updating to the latest.

[2022-02-15 18:11] mhussar commented on #9533
Apparently this issue has not been resolved yet. I am having the same problem. Sometimes won't even open when clicking in the exe. Sometimes it get as far as discovery and then it crashes. I have a good internet connection, the absolute latest version of Windows 10, .net 5 installed, restarted computer but this tool will not work. Hopefully this can be resolved soon. But, given there are certainly

[2022-02-15 20:35] davidkline-ms commented on #9533
@mhussar, we have a fix in flight. Hopefully, will be able to publish a new build soon.

[2022-02-15 21:09] mhussar commented on #9533
Thanks for your reply. Looking forward to the new build.

[2022-02-15 21:17] davidkline-ms commented on #9533
This issue should be fixed with v1.0.2111.1-Preview at https://aka.mrfeaturetool (available now)

[2022-02-15 21:17] #9533 closed

[2022-02-15 22:16] mhussar commented on #9533
This site can not be accessed: https://aka.mrfeaturetool/

![Capture](https://user-images.githubusercontent.com/4655568/154158880-18bff861-650e-4344-ad0e-e45ac7b8edc8.JPG)

[2022-02-15 22:22] mhussar commented on #9533
I went to the original URL: https://www.microsoft.com/en-us/download/details.aspx?id=102778  and downloaded the version you updated but it still is working the same as the previous version. Need to double-click the exe 5-6 times to get it to open.

[2022-02-15 22:39] keveleigh commented on #9533
The link was missing some characters: https://aka.ms/mrfeaturetool, but it sounds like you found it anyway.
@davidkline-ms this may be a different issue! Sometimes crashing on launch as opposed to just after the "Discover" button.

[2022-02-16 01:07] bhtruong93 commented on #10465
@keveleigh thanks for the tip. Verified that the problem still persists in our app as well as the clean test app using Mixed Reality OpenXR 1.3.0 and Unity OpenXR 1.3.1

[2022-02-16 01:56] keveleigh commented on #9715
Yep, this sounds like the correct answer! We don't ship 32-bit Windows Standalone support in the MR OpenXR package.

[2022-02-16 09:08] GusLee opened #10472 "MRTK"
## Describe the bug

A clear and concise description of what the bug is.

## To reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Your setup (please complete the fo

[2022-02-16 11:12] Kent1LG commented on #10472
I am facing this same issue as well !

Here's my own feedbacks :
[Put feedbacks here]

[2022-02-16 17:13] keveleigh commented on #10352
This has been released in the 1.3.0 release of the Mixed Reality OpenXR Plugin package!

[2022-02-16 17:13] #10352 closed

[2022-02-16 20:37] #10466 closed

[2022-02-16 22:29] MaxWang-MS commented on #10472
Hi @GusLee, please fill out the template so that we can help you with the issue you are facing.

[2022-02-17 02:16] #9970 closed

[2022-02-17 03:30] laoyigrace opened #10473 "How to remove the virtual hand when MRKT is used in Oculus VR glasses?"
How to remove the virtual hand when MRKT is used in Oculus VR glasses?

[2022-02-17 15:59] hemasree99s opened #10474 "OpenXR profiles isOpaque in Hololens2"
## Describe the bug

## To reproduce

Steps to reproduce the behavior:

OpenXR sample having OpenXR profiles is setting Opaque in Hololens2

## Expected behavior

OpenXR sample having OpenXR profiles should set transparent setting in Hololens2

## Screenshots

If applicable, add screenshots to help explain your problem.

## Your setup (please complete the following information)

- Unity Version [e

[2022-02-17 21:23] #10472 closed

[2022-02-18 06:20] SWARAVL opened #10475 "Is it possible to have HTK and MRTK in a single project ?"
## Overview
 Is it possible to have HTK and MRTK in a single project ?

## Expected behavior
I would like to use HTK components for an app based on Spatial Understanding concept which should work on Hololens1 in specific And, MRTK components for an app based on Hololens2. .
We basically understood from docs that MRTK Scene understanding does not work on Hololens1, henceforth we would need both HTK

[2022-02-18 21:25] #9612 closed

[2022-02-18 22:52] davidkline-ms opened #10476 "[Request for comments] MRTK "v3" versioning"
In developing the next major version of MRTK ("code name v3" 😃 ), we are working on a new product and packaging strategy based heavily around SemVer 2.0. This would be very different from the current "all packages have synchronized version numbers" approach that MRTK v2 currently employs.

Pro:
* It is easy to set expectations on the level of change in MRTK packages (SemVer 2.0)
* Packages without

[2022-02-20 16:10] sktistakis opened #10477 "Hand Controller Velocity is always <0, 0, 0> on Hololens 2"
## Describe the bug

Using the IMixedRealityController obtained by the OnSourceDetected event (IMixedRealitySourceStateHandler), the hand controllers velocity is always <0, 0, 0> on the Hololens 2. It works in Unity Editor Play Mode, though.

## To reproduce

Steps to reproduce the behavior:

Create a MonoBehaviour class that implements the IMixedRealitySourceStateHandler interface.
On the Update(

[2022-02-20 20:48] eusebiu commented on #10476
Strictly versioning wise, it is better to have a single version than many, but in this packages approach there is no other real solution. I do not see any value in having an umbrella version (i.e. MRTK 2023.07) when we already have the packages' versions; the devs will always use the packages versions when reporting an issue (like MRTK.Core 3.1.4 or whatever). Not confusing, but not needed/valuabl

[2022-02-21 09:07] jloehr commented on #10443
I opened a Unity Ticket. Here's the public Issue Tracker link: https://issuetracker.unity3d.com/issues/articulated-hand-mesh-is-stuck-at-its-initial-position-when-using-windows-xr-plugin-in-hololens-2

[2022-02-21 13:46] robbbbbb commented on #10476
I love the idea of you being able to ship fixes more quickly by isolating packages, that'd be great.

I hate the idea of the version numbering becoming more confusing.

I think it might help if you could clarify how SemVer will be applied wrt API compatibility between the packages. Perhaps this is an accidental by-product of the limited examples you've given, but I can see that in all cases you es

[2022-02-21 13:50] robbbbbb commented on #10476
The biggest issue for us is scenarios where we get caught in a pincer-movement of incompatibilities. A hypothetical example:
- Unity 2023.x breaks something (as they often do) related to rendering or stabilisation
- The latest HoloLens OS version doesn't exhibit the issue, but earlier ones do, we need to support all of them, so we're stuck for a while and can't upgrade Unity until they fix it
- As

[2022-02-21 13:54] eusebiu commented on #10476
Yes, I completely agree - right now (on a project which requires some thing MRTK specific - i.e. Oculus visualizer to be present) I am stuck with MRTK 2.6.2 on Unity 2021.1.27 and I cannot upgrade Unity because of some issues in MRTK 2.7.x.

[2022-02-22 20:59] graemeaj opened #10478 "Near object manipulation jittery"
## Descricption

On GameObjects with NearInteractionGrabbable and ObjectManipulator, if gravity is enabled on these objects, grabbing them causes jitteryness/shakiness, always towards the direction of gravity. Smoothing/lerping (ObjectManipulator settings) makes this behaviour harder to detect, but it can still be replicated in the demo scenes. Grabbing an object in mid-air always produces this be

[2022-02-23 04:53] SWARAVL opened #10480 "MixedRealitySceneSystemProfile Content Scenes has only {get} method in latest version --- MRTK 2.7.3"
## Overview
 MixedRealitySceneSystemProfile Content Scenes has only {get} method in latest version --- MRTK 2.7.3
but, MRTK 2.5.3 had both {get; set;} methods where we could add the content scenes at runtime.
------------------------------------------------------------------------------------------------------------------------------------------------
Note: We cannot find any proper documentation

[2022-02-23 18:22] keveleigh commented on #10476
I think I agree with this. Especially if we move away from

Maybe there's less value in these versioned snaps when we start versioning each package independently. We could mark some set of packages as the LKG (last known good) set, but adding _another_ version to that set could make things more complicated than they need to be. And even enforcing some cadence of releases as opposed to releasing wh

[2022-02-23 19:16] #10343 closed

[2022-02-23 20:50] MaxWang-MS commented on #10480
Hi @SWARAVL, I looked at MixedRealitySceneSystemProfile.cs in the releases/2.5.3 branch but did not see a setter there. Maybe you were using a modified MRTK 2.5.3 where the setter was manually added?
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/b6bc5b702715add6076e7a9d4fa2e88a5ffa01b1/Assets/MRTK/Core/Definitions/SceneSystem/MixedRealitySceneSystemProfile.cs#L46
Also, we are not pub

[2022-02-23 21:42] keveleigh commented on #10474
Interesting! Can you please confirm which MRTK profile you're using? And is this happening in-editor, over remoting, or on-device?

[2022-02-23 23:48] MaxWang-MS commented on #10454
Hi @matthewsanderssaab, thanks for bringing this issue to our attention. `clippedRenderers` in latest MRTK is a HashSet so the contains operation is no longer expensive. We are decreasing allocs in #9193 by making various optimizations, including modifying the `GetRenderersCopy` function in ClippingPrimitives. The `renderers` variable in ClippingPrimitives remains a list as based on the operations

[2022-02-23 23:50] MaxWang-MS commented on #10453
Hi @matthewsanderssaab, this issue is addressed by #9193. Noite you will need to manually enable the `CacheSharedMaterialsFromRenderer` flag on ClippingPrimitives/MaterialInstance.

[2022-02-24 06:59] waynebaby commented on #10476
Proposal MRTK 2023.07(as of Feb 18, 2022)  looks like a combination suggestion group to me. So first thing I feel must be the naming.  What about "MRTK Bundle 2023.07"

We do need this official suggestions on combinations of packages who are working best together,
and yes it was surly confusing when new grouping system became the major versioning system.

Can we keep  this bundle system, but make

[2022-02-24 09:29] Spoon2311 commented on #10118
Hey @davidkline-ms Did you find some time to look into this issue?
Thanks
Spoon

[2022-02-24 09:38] Spoon2311 commented on #10154
Hey guys
Are there any updates available to this issue?

[2022-02-24 09:56] hemasree99s commented on #10474
This s happening in Hololens2 with OpenXRUnitySamplesConfigurationProfile
![image](https://user-images.githubusercontent.com/47776870/155501368-2d06fe36-7565-400f-8ecf-7dda2e56cad3.png)

[2022-02-24 10:16] hemasree99s commented on #10474
Here is where we changed to skybox in Opaque settings
![image](https://user-images.githubusercontent.com/47776870/155504895-a70084fc-ab0c-45bb-8ef7-c0ab2a2df5d0.png)

[2022-02-25 01:26] davidkline-ms commented on #10476
Can we keep this bundle system, but make it less important, maybe implement something (packages installing templates) in MRFT? In that case old users will not feel a big impact on mindset, and new users can actually receive additional aids in the beginning of development.

We have already begun thinking about evolving MRFT along the lines you describe. I envision a feature that will let customers

[2022-02-26 04:31] hemasree99s opened #10482 "Pink Mesh appearing in OpenXR-MRTK 2.7.3"
## Describe the bug

While aligning the models in real world pink mesh is appearing

## To reproduce

Steps to reproduce the behavior:

While trying to align model in real world some pink mesh is appearing randomly

## Expected behavior

Pink Mesh should not appear in OpenXR-MRTK 2.7.3

## Your setup (please complete the following information)

- Unity Version [e.g. 2020.3.20f1]
- MRTK Version [e.

[2022-02-28 06:06] SWARAVL commented on #10480
Ok, so is there any other alternative approach which we could use for dynamically adding content scenes ?

[2022-02-28 08:16] waynebaby commented on #10476
Awesome news!

[2022-02-28 14:29] nosy-b commented on #10207
I got the gray overlay when recording any WebXR demo. (I tried as suggested unticking Mixed reality capture/Render from Camera, no effect), I tried changing alpha value in my code without any effect. Actually same gray background when recording official demos too (https://immersive-web.github.io/webxr-samples/immersive-ar-session.html)
My test config: Hololens 2, Edge browser (all updated)

Thanks

[2022-02-28 18:27] Ayfel commented on #6705
Any thoughts on this? I still struggle to get the best results and playing with rendering options with MRTK

[2022-03-01 09:11] Rive4 commented on #10395
Hello, I am followed the steps to change the language and I also removed the English package (just in case) and I still listen the voice in English so that solution did not work for me.
Is there any known update related to the language change?

[2022-03-02 03:52] #10453 closed

[2022-03-02 10:27] AnandMulay commented on #10367
would like to add more details,  when I build an AR build for both of the devices (Android & iOS), step slider doesn't work as intended, it's hard to move the thumb root, also notice one thing, it only works if the user holds it and move the camera towards the direction. A simple swipe gesture should work after holding the thumb root and swipe, right?

[2022-03-02 17:08] RogPodge commented on #10367
Hey there, sorry for the super long delay in response. We've been hard at work on the next iteration of the slider, so we haven't been able to revisit the older version for a bit.

Do you have a video showcasing the issue you're experiencing? We haven't been able to test as much on Android/iOS, so more data points would be extremely helpful!

[2022-03-02 18:39] davidkline-ms commented on #10482
@hemasree99s, can you share a video capture demonstrating this issue? from the description it is difficult to understand what you are seeing

thanks!

[2022-03-02 18:42] davidkline-ms commented on #10480
@SWARAVL, There is no mechanism currently, though one could be added (recommend a set of AddScene and RemoveScene methods).

Are you interested in contributing?

[2022-03-02 18:44] davidkline-ms commented on #10477
@sktistakis, Is this the OpenXR runtime or the Windows XR plugin?

Also, can you share an example of the code you are using and/or a video capture.

Thanks!

[2022-03-02 18:47] davidkline-ms commented on #10475
In theory, the answer is yes. there should be no meta/guid conflicts between the versions. that said, there _may_ be some conflicts between similar systems attempting to work at the same time.

what combinations of features are you interested in trying?

[2022-03-02 18:47] davidkline-ms commented on #10475
if you try, are you getting any errors / odd behaviors?

[2022-03-02 18:49] davidkline-ms commented on #10473
@laoyigrace,

Can you clarify your question a bit? Are you using a Oculus Quest? Are the hands responding to your movements?

Thanks!

[2022-03-02 18:50] davidkline-ms commented on #10461
@Railboy, do you have any insight here?

[2022-03-02 18:51] davidkline-ms commented on #10460
Investigate the profiler markers. Should use using(...) instead of Begin/End

[2022-03-02 18:53] davidkline-ms commented on #10459
@keveleigh can you take a look at this and advise?

[2022-03-02 18:54] davidkline-ms commented on #10458
Adding to our MRTK v3 backlog. Thanks for the suggestion

[2022-03-02 20:41] keveleigh commented on #10459
Ahh hmm. I had thought all our profiles were set up for both legacy XR and XR SDK, but this one might have been missed.
As a workaround, you can manually add a Tracked Pose Driver to your camera. I'll investigate the potential misconfiguration in the profile.

[2022-03-02 23:12] pajama commented on #8901
Is this reproduceable in unity 2020.1+? The Unity Issue Tracker says it's been fixed.

[2022-03-02 23:56] ykaradayi commented on #4655
Also having this problem! Has anyone come across a solution yet?

[2022-03-03 08:25] pamistel commented on #10426
hi @gangmanm

Thanks for pointing this out. We are aware, that there is a bug in this tutorial. While we're ironing this out please use one of the following tutorials:

1. [ASA HoloLens Unity Tutorial](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app?tabs=azure-portal) with no extras
2. [ASA HoloLens Unity Learning Module](https://docs.microsoft.com/

[2022-03-03 13:50] mihaits opened #10483 "Windows Scene Understanding Observer ignores DefaultPhysicsLayer setting"
## Describe the bug

Scene Understanding objects have the layer always set to the 31: Spatial Awareness, regardless of the DefaultPhysicsLayer setting.

## To reproduce

Steps to reproduce the behavior:

1. Go to MRTK profile > Spatial Awareness
2.  Add Windows Scene Understanding Observer
3. Change Default Physics Layer
4. Run the app.
5. Observe the layer of the created spatial understanding obj

[2022-03-03 18:49] whitebozo commented on #9505
I don't see this listed under 2.7.3 changelog is this fixed in current version of MRTK? Or was this pushed to 3.0?

[2022-03-03 22:26] steven-cerebralfix opened #10485 "GazeProvider component being lost on camera"
## Describe the bug

I cannot retain the GazeProvider "Raycast Layer Masks" setting. It keeps getting removed mysteriously.

1. If you click MRTK->Input->Pointers->Customize Gaze Provider Settings it will delete the GazeProvider from the camera if one already exists.
2. When it creates the GazeProvider on the camera it doesn't copy the "Pointing Raycast Layer Masks" setting, it uses the default va

[2022-03-03 22:45] RogPodge commented on #9505
Unfortunately it's waiting for our next release, since it was considered a new feature. We hope to have it out in April or May

[2022-03-04 00:39] steven-cerebralfix commented on #10485
Looks related to:
* https://github.com/microsoft/MixedRealityToolkit-Unity/issues/5924
* https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10414

[2022-03-07 08:16] hemasree99s commented on #10482
@davidkline-ms Attaching a screenshot for reference
![image](https://user-images.githubusercontent.com/47776870/156993172-d27cc815-318e-4d53-9349-054cd4b45ad2.png)

[2022-03-07 08:44] AnandMulay commented on #10367
Hello @RogPodge ,

Please have a look at this video - https://youtu.be/NIqSVDOomEQ
you can see if I hold thumb root and swipe, it doesn't move, but if i hold and move the camera then only it works.
-recorded on Ipad pro

[2022-03-07 13:04] loibnerg opened #10486 "Oculus Quest 2: Touch Input not recognized"
## Describe the bug

I've placed a cube and want it to move by touching it with the index finger. This works fine inside the Unity Play Mode. So when I move my virtual index finger to the the cube the cube can be pushed away.

When deploying on Oculuse Quest 2 the touch input gets not recognized and the hand just wents through.

**Update:** The same issue can be tested with the HoloLens2 Button. I

[2022-03-07 13:30] #9048 closed

[2022-03-08 06:57] suryanb0824 opened #10487 "Finding extreme points or corners of the floor using Holotoolkit spatial Mapping and spatial Understanding."
## Overview
Finding extreme points or corners of the floor using Holotoolkit spatial Mapping and spatial Understanding

## Expected behavior
We have a table where I need to find out the four corners of the table after scanning with HoloLens 1 and spatial mapping and spatial understanding concepts.

## Actual behavior
I can able to find platform or floor surface using spatial understanding concept,

[2022-03-08 08:08] alvisisme opened #10488 "Should openxr eye gaze interaction profile be illustrated in document?"
## Describe the issue

Eye Tracking is not working if we do not add **Eye Gaze Interaction Profile** to OpenXR Interaction Profiles. But
there is no document to illustrate this important step.

![Unity_sWU8lbUAz5](https://user-images.githubusercontent.com/14035538/157193506-82905216-43a0-49c7-9f08-2aa1f5e5d76d.png)

## Feature area

The documents about eye tracking setup.

## Existing doc link

[e

[2022-03-08 11:01] Vincent-zhai-github opened #10489 "OpenXR Holographic remoting app cannot connect"
## Describe the bug

Using holographic remoting through app, I cannot connect to hololens 2.

## To reproduce

Steps to reproduce the behavior:

1. Import the MRTK to Unity 2020 via MixedRealityFeatureTools or .unitypackages
2. Configure MRKT for OpenXR
3. Import RemotingConnect.cs (RemotingConnect.cs content is written below. RemotingConnect.cs is change from Windows XR plugin Remoting demo and [

[2022-03-08 17:51] A-Ivan commented on #10252
Here are some locomotion systems that might be useful to look to get ideas of what kind of locomotion to implement for VR.

**Locomotion Vault**

Database, created by Microsoft, of over 100 locomotion techniques, but no implementations.

**GitHub**: https://locomotionvault.github.io/
**Paper**: https://www.microsoft.com/en-us/research/publication/locomotion-vault-the-extra-mile-in-analyzing-vr-loc

[2022-03-08 22:39] rueilmanzambi opened #10490 "Cannot see HoloLens2 system keyboard display pad"
Hello, I am building an app with MRTK in Unity and I am deploying it to the HoloLens 2. I am calling the system keyboard TouchScreenKeyboard, but it is not showing the display pad part of the keyboard, i.e., when I am entering the characters with the system keyboard inside the app, I cannot see what I am typing. I am using the default keyboard.

[2022-03-08 22:41] rueilmanzambi opened #10491 "HoloLens 2 system keyboard key detection"
How to detect a HoloLens2 system keyboard key such as Enter key through C# scripting in Unity-MRTK ?

[2022-03-09 01:42] MaxWang-MS commented on #10490
Hi @rueilmanzambi, the lack of the preview (aka the "display pad") is a known limitation of Unity and not a bug of MRTK. If you do need one, we have an implementation in MRTK (the `MixedRealityKeyboardPreview` prefab). Please see the left-hand side of the `HandInteractionExamples` scene as an example.

[2022-03-09 01:42] #10490 closed

[2022-03-09 01:50] MaxWang-MS commented on #10491
Hi @rueilmanzambi, please take a look at Unity documentation [here](https://docs.unity3d.com/ScriptReference/Input.html), and for an example you can use

[2022-03-09 18:43] davidkline-ms commented on #10488
@alvisisme, thank you for the feedback. we will work to improve the documentation as soon as possible

[2022-03-09 18:45] davidkline-ms commented on #10489
@keveleigh is investigating OpenXR issues currently

[2022-03-09 19:00] david-c-kline opened #10494 "I can't duplicate a profile"
### Discussed in https://github.com/microsoft/MixedRealityToolkit-Unity/discussions/10467

<div type='discussions-op-text'>

<sup>Originally posted by **aucejito** February 11, 2022</sup>
I can't duplicate any Profile asset from MRTK because "The operation "Duplicate" cannot be executed because the selection or package is read-only.". Also, the buttons 'Copy and Customize' or 'Create a new profile

[2022-03-09 23:40] keveleigh commented on #10443
I've narrowed this down to a regression in Windows XR Plugin 4.6.1, exactly due to the fix @jloehr pointed out. I've opened a PR with Unity to fix this and will update here when it is released.

[2022-03-10 06:36] satorihunter opened #10498 "Dwell handler visuals effect is activated even in diabled button"
## Describe the bug

In the MRTK DwellExample, a disabled pressable button still shows the dwell effect even though it doesn't trigger anything.  This gives the user a wrong perception of the button is getting triggered.

## To reproduce

Steps to reproduce the behavior:

1. Open DwellExample from mrtk expamples
2. Disable the pressable button using enable/disable option in interactable component

[2022-03-10 11:01] steven-cerebralfix commented on #10388
If it is helpful I also get the error:
`Error Unity Exception: The property _PressIntensity for reacting to pinch strength was not found please provide a valid material property name`
It occurs when I copy the RiggedHandLeft prefab into my project and use it in MixedRealityToolkit->Input->Controllers->Global Left Hand Visualizer. I also unassign the override model in Microsoft Articulated Hand Lef

[2022-03-10 17:09] RogPodge commented on #10388
I agree reassigning the material is causing the errors. I think we may call into that "_PressIntensity" property in code, even though in cases like this is optional.

Sorry for the late response on our end too, I'll try to look into this and get a fix out by our next pre-3.0 release

[2022-03-10 20:24] sonostrano opened #10499 "Teleport with air tap"
I'm using the teleport system with Hololens2.
I'd like to teleport using air tap.

How can I show the the teleport pointer  when the hand is in the poke gesture for example?

thanks

[2022-03-11 23:10] wallacewangchao commented on #10417
I meet the similar issue when using OpenXR with the spatial awareness. Even with the MRTK examples - Demos - SpatialAwareness
, the Spatial Awareness does not work. There is no mesh scanned. The Profile is as follows:
![Annotation 2022-03-11 235903](https://user-images.githubusercontent.com/10185985/157985748-da1a7e59-6273-43f3-83c1-fb80a93f6d84.png)

I found this issue has been report in #9619 by

[2022-03-13 14:59] loibnerg commented on #10486
I did some research to understand what is missing. Here are my findings:

When I activate the hand tracking for the Oculus Quest 2 and I use the tracked hands all works fine and the Touch Event is recognized.

When I use the controllers - where I activated the display of controllers and hands - I see the hands but the Touch Event is not recognized.

So the correct question should be: How can I act

[2022-03-14 18:50] RogPodge commented on #10367
Hey there, it's possible we had an inadvertent regression in 2.7.2 with respect to the touch pointer.

Can you see if reverting the following changes fixes the issue?

https://github.com/microsoft/MixedRealityToolkit-Unity/commit/729f8a717b0edc52db25a3372539f4fdbd285983

[2022-03-14 19:56] davidkline-ms commented on #10465
I am investigating this now. Hope to have some more information for you soon.

[2022-03-14 22:25] davidkline-ms opened #10500 "[Request for Comments] How should the MRTK v3 preview be released?"
Mechanically, it has been determined that MRTK v3 will be released via the Mixed Reality Feature Tool and the source code will be available on this repository.

We've been discussing internally whether it's better to

1. Release the core of MRTK v3 sooner so people can start using it and giving us feedback
2. Wait until we're ready to release all of our packages at once.

Which do you prefer and w

[2022-03-15 09:41] LuisMerinoP opened #10501 "Run handtracking examples with leap motion"
## Describe the issue
I followed [this](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/supported-devices/leap-motion-mrtk?view=mrtkunity-2021-05) reasource to run the examples and the project does not compile

## Feature area
What's incorrect? What's missing?
Following this resource the project does not compile

## Existing doc link
[https://docs.microsoft.com/en-us/windows/mixe

[2022-03-15 16:43] LuisMerinoP commented on #10501
I tried with UPM, with latest version in the package manager 4.8.0. I think I also tried importing the unitypackages myself which was I think 5.4 and could not make it work either, not a trustworthy trial because I was removing and installing everything back and forth.
What is the latest paired versions of the gemini software and the packages where the hand traking scenes work, please? Thanks a lo

[2022-03-15 23:43] #10388 closed

[2022-03-16 06:38] AnandMulay commented on #10367
Does not affect that much, what I.ve notice, is if I scale down the slider on x-axis 1 to 0.6 it works better, but on the normal scale it is hard to move using hold and swipe gestures on mobile.

[2022-03-16 13:06] GtYang2333 commented on #2842
i just met this problem using worldanchorTranferBatch to share worldanchor between 2 hololens2 device, and do not know why
    private void ExportGameRootAnchor()
    {
        WorldAnchorTransferBatch transferBatch = new WorldAnchorTransferBatch();
        WorldAnchor anchor = rootGameObject.GetComponent<WorldAnchor>();
        if (anchor == null)
        {
            anchor = rootGameObject.Add

[2022-03-16 15:12] danieldownes commented on #10398
Had this on Unity 2020.3.16 too, MRTK 2.7.3.
From Build Settings:
Build configuration: Debug
Development Build: checked
Script Debugging: checked

[2022-03-16 20:16] LuisMerinoP commented on #10501
I also tried with Ultraleap Unity Modules 4.9.1, as soon as the package is imported and modules are integrated (Mixed Reality Toolkit > Leap Motion > Integrate Leap Motion Unity Modules) compilation errors are thrown.
![image](https://user-images.githubusercontent.com/49386405/158682895-6a5cf3cb-1a12-4ec7-96eb-fea32e304eb3.png)

Any advice to run the HandTrackingScene examples would be much apprec

[2022-03-16 20:23] eusebiu opened #10505 "URP Camera settings are not copied over the platform one (Oculus)"
## Describe the bug

Main Camera settings are not copied on the platform one - e.g. Oculus.

## To reproduce

Steps to reproduce the behavior:

1. Create a new project
2. Add MRTK to scene
3. Add Oculus in Input
4. Enable Post Processing in MixedRealityPlayspace/Main Camera
5. Run.

## Expected behavior

Post processing should be enabled in OVRRig cameras (Post processing not working anymore).

##

[2022-03-16 20:24] eusebiu commented on #10505
workaround:
[code]

[2022-03-17 21:37] #10395 closed

[2022-03-20 23:26] mcoy001 commented on #10417
I am using MRTK 2.7.3 + OpenXR + Unity 2020.3 and 2021.2
I also have the same issue. I found the code starts working after I leave only "OpenXR Spatial Mesh Observer" in the settings, and I need to  deploy to my device. (Maybe in the new MRTK version it needs to specify which observer is being access to? are we missing a document for that, or it's a bug?)
Seems spatial mesh won't be generated in U

[2022-03-21 05:16] Vincent-zhai-github commented on #10489
Hi, I rasied a request 2 weeks ago, just wondering if there is any update? Please be kind enough to look into this. Thank you very much for your help.

[2022-03-21 18:04] srinjoym opened #10509 "Default GazeInput permission requires manual eye calibration on HL2"
## Describe the bug

The MRTK initial setup process asks users to enable the "GazeInput" capability for HL2. This permission prevents Auto Eye Position (AEP) from running and requires every new user to perform manual eye calibration. We should only enable this permission if the user checks "Is Eye Tracking Enabled" in the pointer profile.

## Your setup (please complete the following information)

[2022-03-21 20:53] evilcandybag commented on #10114
I see the same error.
Using Unity 2020.3.28, Mixed Reality Feature Tool 1.0.2111.1, Standard Assets 2.7.3

When I open the tgz file in my Packages folder, I see that the Documentation and Shaders folders have tildes (~) in their file names.

[2022-03-21 23:19] #10485 closed

[2022-03-21 23:27] tletie opened #10511 ""Start Dictating" voice command doesn't work in immersive application while working fine with 2D app like Edge"
## Overview
When interacting with input field => keyboard popup. Instead of keying, user can trigger dictation via "Start Dictating" voice command. This is true when using 2D app like Edge but not in immersive application say the app shifted with OS like: remote assist or dynamic 360 guide. When using these immersive applications at the user name field, we can't trigger dictation at all using voic

[2022-03-22 14:27] salvolannister commented on #3689
@Yoyozilla could you link here the other issue? I have this problem and I didn't find the related issue

[2022-03-23 10:22] filip0910 commented on #10393
I have the same problem.

[2022-03-24 06:25] Zylvian commented on #5273
Hi.

This error is still persistent for me with the 22.03.22 MRTK build. The error is present over all forms of deployment: holographic remoting, debugging through VSC, and full deployment.

![image](https://user-images.githubusercontent.com/33404765/159855002-0811f172-042d-42eb-af89-5ae9e3e14a7c.png)

The link.xml file is stored in the allocated MixedRealityToolKit.Generated folder, with the defa

[2022-03-24 08:20] abhimanyusinghal commented on #10154
Folks Is there any update? This is causing serious issues..

[2022-03-24 16:38] keveleigh commented on #5273
Which version of Unity are you using, which profile are you using, and is anything not working for you? In certain versions of Unity (mostly 2020+) with certain profiles, you'll get those logs, but they're benign and shouldn't prevent anything from working assuming your profile has data providers for the platform you're running on.

[2022-03-25 08:50] Zylvian commented on #5273
I'm using the documentation-suggested 2020.3 version. I'm using the default HoloLens 2 spatial mapping profile, have tried messing with different providers but they get stripped and refuses to work nonetheless. For some reason, I have a single 3-day build that correctly imports the system, but any new builds refuse to work correctly. It's not just the logs, the functionality is completely absent.

[2022-03-25 08:51] Zylvian commented on #5273
Don't usually do issues so here's a @keveleigh for good measure.

[2022-03-25 14:58] FreakTheMighty commented on #10465
@davidkline-ms do you have any thoughts on work arounds? Two specific questions

* Is there some way we could restart or reset the spatial mesh system?
* Do you think that spatial understanding will have the same issue? If not, it may be a reasonable alternative for our use case.

[2022-03-25 18:55] ARGs-code opened #10516 "Cannot Ray Cast a Hand Ray to the floor when head orientation is at a steep angle"
## Overview
It is not possible for me to use a far interaction on an element that is on the floor near my feet.

## Expected behavior
I should be able to use far hand interactions on objects, regardless of their location relative too my head position

## Actual behavior
I can raycast to objects in front of me, above me and some objects that are below me, but after a certain angle of downward gaze

[2022-03-25 19:28] ARGs-code commented on #10482
Unity's default material properties when there is a material or shader error results in objects being displayed with this color. It looks like there is a material in use, either for your spatial mesh visualization or some other object that has an error in it's shader or simply has a null ref for it's material.

[2022-03-25 20:00] MaxWang-MS commented on #10441
@elbuhofantasma Any chance you have received a link to the bug that can be posted here?

[2022-03-26 15:54] studentutu opened #10517 "[BUG] Missing cancelation token for MRTK.Rest"
## Describe the bug

While loading a Set of 12 images and then switching to another UI -> there is no possibility to cancel the load with MRTK.Rest!

## To reproduce

1) Setup Unity Project (any version) + MRTK Foundation package ( any package even on v 2.7.3)
2) Add a custom class to load many images in a Task/Unitask with a cancelation token.  E.g.: Rest.Get()
3) await Task.WhenAll() - alternati

[2022-03-27 09:09] Strepto commented on #10516
+1 👍

I think this is decided in the HoloLens OS today, but if this could be disabled or enabled on a per app basis it would be nice. There are a number of use-cases where interacting with stuff below you is valuable, such as XRay vision beneath the floor, or making a game where you control elements your floor.

[2022-03-27 10:06] chenritiana commented on #10225
Where is the HololensHand class? My package doesn't have this class.

[2022-03-27 10:22] chenritiana commented on #10435
when i use WMR,it'll show me "Receiving..."in my hololens,and in editor's WMR show me Connected.
when i use OpenXR,unity will debugerror"Failed to load openxr runtime loader"
the package i use is
MR OpenXR plugin v1.3.1
MR WinRT Projections v0.5.2009
OpenXR Plugin v1.11.2
Windows XR Plugin v4.6.2
i don'n know how to solve this problem

[2022-03-28 11:11] vicgasor opened #10518 "QR Code Detection limit 100"
## Description
We were developing an app that requires working with 300+ QR codes.
The method already used is the one described with [MixedReality-QRCode-Sample](https://github.com/microsoft/MixedReality-QRCode-Sample)
The problem came when we noticed that there is a limit of 100 callbacks from different QR codes. After exactly 100 codes the app does not receive any callback.

We already discarded

[2022-03-29 14:25] ARGs-code commented on #10516
Hi folks, if this is in fact decided by the HoloLens OS, where would I open a ticket/bug report about this issue? This issue makes several requirements we have from clients impossible until it is changed and I need to get some idea of whether we can move forward or if I have to simply explain that it's not possible to use far interactions with objects on the floor (to which I have already been ask

[2022-03-29 16:46] keveleigh commented on #7924
Sorry for not following up here sooner. This should be fully fixed in 2.7.3, which was released in mid-December. Please let me know if it doesn't resolve your issue!

[2022-03-29 16:48] BarboraAtVResearch commented on #9309
I'd love to see those too. Right now, I am implementing door rotation. It feels like, with MRTK, I should be able to create it using their interaction components, but I don't know how to approach that. Any hints would be helpful.

[2022-03-29 17:20] elbuhofantasma commented on #10518
Hello @vicgasor thank you for your bug submission! @WikkidEdd is correct, this is an OS level bug. You can also use [the Submit Feedback](https://docs.microsoft.com/en-us/hololens/hololens-feedback) feature on HoloLens 2 to file the issue as well.

I am going to close this issue since it is external to MRTK.

[2022-03-29 17:20] #10518 closed

[2022-03-29 18:59] KuraiAndras commented on #7924
yes, with the 2.7.3 release it works

[2022-03-29 19:35] LocalJoost commented on #10500
Option 1. The earlier the better.

[2022-03-29 19:36] sorskoot commented on #10500
Also voting option 1.

[2022-03-29 19:38] ivatilca commented on #10500
Option 1

[2022-03-29 19:39] vbandi commented on #10500
Option 2 unless the "sooner" means months. Reasons:
- more areas targeted by feedback
- Less effort for separating what goes into the initial release
- More contributions

[2022-03-29 19:39] salmanmkc commented on #10500
Option 2 for me because I'd rather use something stable

[2022-03-29 19:39] SimonDarksideJ commented on #10500
Definitely Option 1.   But also offering "previews" that people can opt in to for additional packages.

[2022-03-29 19:41] lancelarsen commented on #10500
Option 1 -- whatever option gets us the "half-baked" code sooner, so we can be helpful as a community to make an even better MRTK together :)

[2022-03-29 19:41] tinuxnet commented on #10500
Option 1

[2022-03-29 19:44] LanceMcCarthy commented on #10500
Option 1 - It lets us get more stable baseline (because some core packages will be complete) and build on top of that stable core with partially complete extras

[2022-03-29 19:45] MSDNAndi commented on #10500
Option 1 since otherwise you will never complete and you will likely have breaking changes in terms of feature parity anyways.

[2022-03-29 19:46] TakahiroMiyaura commented on #10500
Option 1.

We will be able to provide a lot of feedback early, so wouldn't that make it possible to offer a STABLE Core Package?

[2022-03-29 19:52] elbuhofantasma commented on #10443
This issue seems to have been fixed in Windows XR Plugin 4.6.2, so I am closing this issue. Please re-open this if you find that the Windows XR Plugin 4.6.2 does not fix the issue for you.

[2022-03-29 20:16] keveleigh commented on #9745
@leonunity Are you still hitting this issue?

[2022-03-29 20:19] keveleigh commented on #8016
Going to close this down as likely fixed by Unity. Please reopen if this isn't the case.

[2022-03-29 20:19] #8016 closed

[2022-03-29 22:24] RogPodge commented on #10367
Sorry for the poor response time on this. It's something that we believe we've fixed in MRTK v3, but we're not sure we'll be able to root cause and fix the issue for v2. We don't have a great way to test on mobile at the moment unfortunately :(

Are there any other issues you've noticed with using MRTK on mobile? More data points can help us pinpoint if there's a specific regression to the mobile

[2022-03-29 22:58] elbuhofantasma commented on #10516
Hello @ARGs-code and thank you for hand tracking submission. I also see some weirdness when looking at a steep angle towards the ground in MRTK 2.7.3, however in the main branch when trying to repro this, one is able to point just a little bit closer to their feet but the same weirdness presents itself. I am not sure what the cause of this weirdness is, but it will get better inside of MRTK in the

[2022-03-29 22:58] #10516 closed

[2022-03-29 23:12] elbuhofantasma commented on #10511
Hello @tletie thank you for the Voice Dictation bug submission! I would like some additional information, as I do not completely understand your reproduction steps.

The reproduction steps sound like you are opening up the Dynamics 365 Remote Assist application and attempting to log into Dynamics 365 by typing in the credentials with Voice Dictation.  Are you attempting to do this Dynamics 365 log

[2022-03-30 00:48] syslogic commented on #8901
I still face the same issue when building for ARM64 with GitHub Actions:
[code]
While I wonder, if not the broken ARM64 support of the current MSBuild may be the cause (.NET 3.1.23).
It's also strange, that this only happens on a 2022 data-center server, but not locally on Windows 10 ...
When running MSBuild from the console (directly), it builds without timeout - but it won't find ARM64 configura

[2022-03-30 07:15] jloehr commented on #10443
@elbuhofantasma Hey, dunno if that's a typo and you meant 4.6.**3**. If not, please reopen this issue, because this bug does exists in Windows XR Plugin 4.6.2.

[2022-03-30 07:57] DarkMio commented on #8901
Good morning.

Just to clear up some possible misunderstandings:

- `-Quit` is used to exit the Unity Editor after starting or executing a method, rather than keeping it open.
- `-batchmode` should have no impact on performance. If I had to guess your second run was much faster as assets have already been imported. Batchmode suppresses the opening of any windows.
- `-buildAppx` is part of the comm

[2022-03-30 09:13] loibnerg commented on #10486
I now tried with the Oculus Rift S and it didn't work either. It seems to me, that the Poke Pointer is not correctly implemented on the Oculus Touch Controller. Can you confirm this? Is there a plan to implement the Oculus Touch Controller - Poke Pointer?

In several apps on can use the Touch Controllers to Poke objects and buttons by pressing the Grip Button and NOT touching the Trigger button.

[2022-03-30 12:39] studentutu commented on #10517
@keveleigh
would you be able to add it?

[2022-03-30 14:00] salvolannister commented on #3689
Yes I was talking about glTF importer! Thank you for the help, I solved reading #9658

[2022-03-30 15:29] keveleigh commented on #3689
Excellent! Glad to hear you were able to resolve the issue.

[2022-03-30 15:56] tletie commented on #10511
@elbuhofantasma Thank for your response.
1. I first build an immersive app using MRTK with Text Input Field that trigger keyboard => I then attempt to trigger voice dictation by "Start Dictating" voice command doesn't work.
2. I then try using the text input field of Remote Assist or Dymanic 365 using voice dictation => They both don't work either with "Start Dictating" voice command.
Hope this cl

[2022-03-30 16:06] anthony-simetri opened #10520 "HoloLens 2 Apps starting in deadlock on Unity 2020.3.32f1 and Unity 2021.2.17f1"
## Describe the bug

The application starts and shows loading animation forever. Downgrading to Unity 2020.3.31f1 allows the same application to load.

## To reproduce

Steps to reproduce the behavior:

Create an MRTK project with OpenXR

## Expected behavior

The application should load a scene.

## Your setup (please complete the following information)

- Unity 2020.3.32f1
- MRTK v2.7.3

## Targ

[2022-03-30 16:08] elbuhofantasma commented on #10509
Thanks for bringing this issue to our attention @srinjoym! I am assigning @keveleigh to look into this.

[2022-03-30 16:11] elbuhofantasma commented on #10511
@tletie You are welcome, I am here to help!

Thank you for clarifying your reproduction steps. I will work on reproducing this issue right now and update this issue with my results shortly.

[2022-03-30 16:13] tletie commented on #10511
@elbuhofantasma thank you so much.

[2022-03-30 18:23] syslogic commented on #8901
Thanks for the prompt reply; I'll try to adopt that approach.
MSbuild is what I've used before - but only ARM could be built.

https://github.com/dotnet/sdk/issues/15434
https://github.com/dotnet/sdk/issues/23994

And it's not necessarily about the performance to build WSAPlayer or APPX (as this package format is a whole lot more complex then MPK is, which builds the same project for ARM64, but wi

[2022-03-30 18:33] DarkMio commented on #8901
I don't see the problem here and it's derailing the issue.

If you're offended by the licensing model or have a problem understanding / orchestrating Github Actions and or cache retaining inside pipelines, then I kindly ask to approach the vendors of the products.

This issue continues focusing on `StartCommandLineBuild` being mostly incompatible with any project past their prototypical stage as t

[2022-03-30 19:43] syslogic commented on #8901
I don't have any issues except the one at hand here; hoped for `-buildAppx` to be able to build for ARM64 and then hit this one issue. Also, when passing `-verbose`, it will generate incompatible logging arguments. That these are 2-3 companies' products, which have to work in unison, in order to build, doesn't necessarily make it easier to build. This current way of licensing makes sense on-premis

[2022-03-31 01:59] franzabist commented on #10520
Same problem confirmed for Unity 2021.2.17f1 as opposed to 2021.2.16f1 which runs without problems.

[2022-03-31 07:28] serhan-gul commented on #10520
Same problem here. Downgrading to 2020.3.28f1 worked for the same application.

[2022-03-31 12:52] Holo-Krzysztof commented on #10520
Oof. Just ran into this as well, previously Unity 2020.3.17 and MRTK 2.7.2 worked fine.

Interestingly, when setting up an empty project with Unity 2020.3.32 and MRTK 2.7.3 I could not reproduce the bug. It only happens in our application which was upgraded from a previous Unity release. Super weird.

[2022-03-31 13:29] Holo-Krzysztof commented on #10500
+1 for option 1.

[2022-03-31 13:43] anthony-simetri commented on #10520
I have to admit my original project had a little more than nothing in it. Very small test project. Could be specific to one of the services running or lucky timing as you suggested.

[2022-03-31 17:02] keveleigh commented on #10520
Yep, this is an issue on the Unity side.

As a **workaround**, if you have a pro license, disable the splash screen in your UWP settings.
Unity has found a fix for the issue and is working on getting it released.

[2022-03-31 22:06] keveleigh commented on #10443
Yeah, the fix hasn't shipped yet that I'm aware of. Will work on getting an update!

[2022-04-01 13:36] RubenGarcia commented on #8860
I am also affected, Unity version 2020.3.32f1.

[2022-04-01 18:56] ARGs-code commented on #10516
All right... pretty frustrating that this appears to be at a system level. The far interaction pointers in the Hololens are basically our mouse. This is like having a whole section of our display unable to be interacted with the mouse, despite having content and other items placed there. The feedback submissions to windows rarely seem to go anywhere but I will give it a shot and for now will have

[2022-04-02 01:14] MaxWang-MS commented on #10442
Hi @PennoGT9, after some discussion the team believes the issue you are encountering is a Unity bug as Unity ships the Input Field script. Could you file a bug with Unity by going to Help (in the Unity editor menu bar) → Report a bug... and post a link to the Unity Issue Tracker page once it's created so that the community can get updates on the bug? Thanks!

[2022-04-02 14:57] RThompson153 commented on #9533
[davidkline-ms](https://github.com/davidkline-ms)

I'm running the latest version 1.0.2203.0.Preview and the same exception is being thrown:

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9533#issuecomment-824700750

[2022-04-02 19:19] ABNV09 commented on #10520
Same problem, while Unity is fixing it, I was able to deploy successfully using 2020.3.27f1

[2022-04-04 07:51] Holo-Krzysztof commented on #10520
Is there an item on Unity's issue tracker for this?

[2022-04-04 14:03] ARGs-code commented on #10249
We appear to be running into this issue. Has this been resolved all?

[2022-04-04 15:37] grabbinits opened #10522 "How to handle spriterender object list in a scrolling collection"
I have a list with spriteRender item, but spriteRender can not add Mixed Standard Material，it does not work.

what can i do to fix it?

thx very much~

Unity Version
2021.2.14

[2022-04-04 18:22] keveleigh opened #10523 "TrackingSpaceType of World doesn't properly use OpenXR's Unbounded space"
## Describe the bug

We need to update the boundary system to properly account for this new space type when OpenXR is used.

[2022-04-05 13:02] ARGs-code commented on #10249
We are on 2020.3.30f1 and still having this issue.

[2022-04-05 16:50] ARGs-code opened #10527 "MRTK Speech Input stops responding after exiting application or putting headset to sleep"
## Describe the bug

When my application runs I have speech commands and hand interactions. User can execute all actions via voice commands or hand interactions via 3D buttons. If a user puts the headset to sleep, or does not completely close the application, the next time they open the app voice commands will no longer function.

## To reproduce

I am in the process of trying to reproduce this wi

[2022-04-05 17:59] MaxWang-MS commented on #10527
It seems like this is a duplicate of #10249, please find a workaround in that issue.

[2022-04-05 17:59] #10527 closed

[2022-04-05 18:02] ARGs-code commented on #10527
I have tried that solution. It does not resolve my issue.

[2022-04-05 18:05] ARGs-code commented on #10527
I have also tried Stopping and Restarting the Phrase recognizer. That also does not resolve this issue.

[2022-04-05 18:11] rsaru-libre commented on #10249
@ARGs-code  I've no words how to fix this one then. I fixed this issue using this script and then it works for 2-3 month but after certain hololens os update it stop working and then we looked into the unity2020 and seems to be working in the build. So I assume its something related to the HL OS version which is messing with the voice command.

[2022-04-05 18:12] ARGs-code commented on #10249
No problem, it might not be the same issue. It is frustrating that these issues have just been closed, including the one I opened recently. Appreciate the help and your suggestions.

[2022-04-05 18:15] ARGs-code commented on #10527
@MaxWang-MS  I am likely going to repost this ticket tomorrow as my issue has not been resolved by your work around or any other work around I have found so far.

[2022-04-05 18:44] MaxWang-MS commented on #10527
Please post under the existing issue given this is a duplicate. This bug is external to MRTK and [according to Unity](https://fogbugz.unity3d.com/default.asp?1276443_feij5mjans4g1jds) they have intentionally decided to not fix it. Please consider open another ticket with Unity and/or file an OS bug ticket in the HoloLens 2 feedback hub app.

[2022-04-05 18:48] ARGs-code commented on #10527
@MaxWang-MS

The link you provided states at the end that this is a Windows API or OS Bug apparently-

"This issue appears to be Windows API or OS bug as we're able to reproduce the problem using the Microsoft Speech Recognition samples:
https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/SpeechRecognitionAndSynthesis.

To work around the problem, the Speech Recognition obje

[2022-04-05 18:49] ARGs-code commented on #10527
I will post under the "existing" issue. Which is also closed. Thank you for your help.

[2022-04-05 20:10] davidkline-ms commented on #10527
@ARGs-code, thanks for the report!

To clarify what @MaxWang-MS said regarding this being an external issue means MRTK cannot directly fix it. It must be addressed at the operating system level. I highly recommend filing a Feedback Hub issue from your device. That will give the OS team the information they need to start investigating.

Thank you for your understanding.

[2022-04-05 20:12] ARGs-code commented on #10527
Thanks for the clarification David, I did misunderstand the external designation. Sorry about that.

I'll file another feedback hub issue to the OS Team.

[2022-04-05 20:13] davidkline-ms commented on #10527
No stress at all. :smile:

[2022-04-05 20:44] methot-ilya-3ds commented on #8835
From what I've seen this is the closest information there is out here for getting close to making the Vive work with MRTK. For all of the documentation claiming that Vive is supported I've found the opposite to be true. At best the controllers will track but pairing the input system with them seems near impossible.

[2022-04-05 20:48] #10387 closed

[2022-04-05 20:48] #10414 closed

[2022-04-05 21:18] methot-ilya-3ds opened #10528 "Vive Controllers Not Recognized or Supporting Pointers"
## Describe the bug

Unless similar steps are followed to issue #8835 the vive controllers arent tracked.

Even after following the steps from above the controller still does not register / attach the pointer.

## To reproduce

Steps to reproduce the behavior:

1. ![image](https://user-images.githubusercontent.com/64415447/161850483-23657cc9-8484-4c92-b6b2-f030afc18d71.png)
2. ![image](https://use

[2022-04-06 09:13] dudziakl commented on #10500
I will vote for option 2 because I'm sick of wasting my time building things that I cannot finish because some packages are not ready yet (I'm looking at you OpenXR now😆). This is why I'm not using the latest version of Unity. I can wait a few months or even a year if needed.

[2022-04-06 16:22] elbuhofantasma commented on #10443
@jloehr I apologize for closing this bug too early. I must have gotten into a weird state with my project that did not reproduce the issue on Windows XR Plugin 4.6.2 when I was retesting this issue last week, or I accidentally tested with OpenXR Plugin.  I am re-validating this bug again right now to confirm it still exists.

[2022-04-06 17:44] Zee2 commented on #10505
@eusebiu thanks for reporting. @RogPodge will investigate.

[2022-04-06 17:47] Zee2 commented on #10501
Hi, just a clarification:

When you build a new, blank project with MRTK and Ultraleap support, it functions as expected, but when opening the existing MRTK project, it doesn't work?

In addition, does this issue still happen when using older versions of Gemini?

[2022-04-06 17:53] Zee2 commented on #10499
Hi @sonostrano, we don't have a great story for Hololens and teleport right now. Generally, using teleportation (or locomotion) at all in AR is mostly discouraged, as it doesn't make for a very good user experience. There is no "floor" object/height in Hololens, which makes teleportation-based locomotion tricky, and breaking the connection between the in-experience reference frame and the user's r

[2022-04-06 17:53] #10499 closed

[2022-04-06 19:53] methot-ilya-3ds commented on #10528
After numerous tries I was able to get this working by using the documentation from #8835

The home page of MRTK claims to support HTC Vive but documentation on how to do so is nowhere to be found.

I'd recommend using the documentation that Eusebiu provided to create a page describing how to actually setup Vive controllers with MRTK.

[2022-04-06 20:50] elbuhofantasma commented on #10443
This issue was not fixed in Windows XR Plugin 4.6.2. I must have crossed the streams and used a build from one of the other MRTK projects that I used for exploring this issue.

[2022-04-07 08:20] LuisMerinoP commented on #10501
Thanks for your interest, I solved the issue following thies steps

1.-Ensure the Microsoft.MixedReality.Toolkit.Examples feature has been added to your Unity project via the Mixed Reality Feature Tool.
2.-Open the Package Manager in Unity and find the "Mixed Reality Toolkit Examples" package in the list and click to select it.
3.-Open the "Samples" dropdown and find "Demos - Hand Tracking". Click

[2022-04-07 08:20] #10501 closed

[2022-04-07 08:48] JakobAnarkyLabs commented on #10239
+1 on this request.
Since the UI Toolkit / UI Elements seems to be the future way of building UI in Unity, it would be important for MRTK to support and embrace that.
UGUI is now somewhat supported by MRTK, but it seems like a small 'niche' which is not really encouraged. It would be nice, if MRTK could integrate with the UI Toolkit more wholeheartedly.

[2022-04-07 09:48] jloehr opened #10530 "PokePointer and TouchableVolumes not working reliable in packed scenes"
## Describe the bug

`NearInteractionTouchableVolume` stops working in certain situations and set-ups. This is when the volume is touched and the hand is moved into a certain position, so that the PokePointer ray is hitting a different collider in the scene due to its massive range.

Below you can see the bug reproduced in the `HandInteractionTouchablesExample` scene. The bug change increases with

[2022-04-07 13:37] grabbinits opened #10532 "Standard Shader error on Android"
## Describe the bug

I have a project running with the MRTK and for some reason, whenever I try to build for Android, I receive this error message:
`Shader error in 'Mixed Reality Toolkit/Standard': Non system-generated input signature parameter () cannot appear after a system generated value. at line 775 (on gles3)`

## To reproduce

Steps to reproduce the behavior:

1. Create a project ([MRTK Gu

[2022-04-07 16:44] keveleigh commented on #9618
@davidkline-ms

This looks like an issue with the AOA package. It uses ARFoundation but doesn't appear to account for it _not_ existing in the project.

[2022-04-07 16:46] keveleigh commented on #9559
Going to close this one out. I believe the improvements from resolving https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9419 should be sufficient here, but please reopen if not!

[2022-04-07 16:55] keveleigh commented on #8097
Going to close this as "no repro". Please reopen if you're able to repro with the latest MRTK.

[2022-04-07 16:55] #8097 closed

[2022-04-07 17:02] keveleigh commented on #8515
Closing as likely fixed. I haven't seen this in my recent tests.

[2022-04-07 17:02] #8515 closed

[2022-04-07 19:30] Spoon2311 commented on #10154
Hey @keveleigh For myself the most important part is, that the eye tracking will work again when deploying the application to hololens.

If remoting won't support it it is totally fine for me.

[2022-04-07 19:37] graemeaj commented on #8947
Is there any workaround for this issue?

[2022-04-07 19:47] methot-ilya-3ds commented on #8008
@provencher I'm also having difficulty modifying the pointer system for my own projects. Have you worked on a custom pointer system for interaction yet?

[2022-04-07 19:59] methot-ilya-3ds commented on #7607
I recall having a similar problem. When I removed the rigidbody from the object with the nearinteraction the project no longer crashed.

[2022-04-08 12:35] serhan-gul commented on #9920
I have a similar issue with a Windows 10 VM running on a Macbook Pro 2019 (AMD Radeon Pro 5500M) via Parallels 16. It seems that the AMD graphics card supports hardware encoding but perhaps that feature doesn't run over the Parallels layer, not sure.
@NoTuxNoBux Ever found a solution to your issue?

[2022-04-08 23:29] RogPodge commented on #8008
Closing this issue as we move towards the XRI input system. Drastic changes to the pointer/focus provider systems is a bit out of scope and more than what we can do while using our own input system.

[2022-04-08 23:29] #8008 closed

[2022-04-08 23:38] RogPodge commented on #5975
As we move onto XRI, we're moving the handling of input events onto Unity's side of things. The feature branch will still be available here, and we'd love it if community members took and interest in refreshing this PR for the v2 input system.

https://github.com/microsoft/MixedRealityToolkit-Unity/tree/feature/event_propagation

[2022-04-08 23:38] RogPodge commented on #8664
As we move onto XRI, we're moving the handling of input events onto Unity's side of things. The feature branch will still be available here, and we'd love it if community members took and interest in refreshing this PR for the v2 input system.

https://github.com/microsoft/MixedRealityToolkit-Unity/tree/feature/event_propagation

[2022-04-08 23:55] RogPodge commented on #5924
Marking as fixed thanks to #10508 unifying things

[2022-04-08 23:55] #5924 closed

[2022-04-08 23:56] RogPodge commented on #5020
Fixed with #10508

[2022-04-08 23:56] #5020 closed

[2022-04-08 23:57] RogPodge commented on #8912
Marking as closed with regards to further code changes in v2 centered around this.

[2022-04-08 23:57] #8912 closed

[2022-04-08 23:59] RogPodge commented on #10126
Should be fixed with the above and also #10508

[2022-04-08 23:59] #10126 closed

[2022-04-09 00:01] RogPodge commented on #10054
Closing for now, since raycasts blocking selection is only really feasible when the UI is also in world space. Other confusion points regarding this and the Pointing Raycast Layermasks should be fixed with #10508

[2022-04-09 00:01] #10054 closed

[2022-04-09 00:07] wallacewangchao commented on #10417
Thanks a lot! It works when I added "OpenXR Spatial Mesh Observer"

[2022-04-10 21:08] RogPodge commented on #7274
This is officially a reality with MRTK v3. Look forward to using the object manipulator with controllers, eye gaze and more in the upcoming version.

Controller support still pending but the hooks for it are reality available.

[2022-04-10 21:13] RogPodge commented on #7104
marking a closed due to #10057 and v 3.0 improvements to object manipulation.

[2022-04-10 21:13] #7104 closed

[2022-04-10 21:17] RogPodge commented on #7434
A fix for this is Unity 2020+ specific and located in this branch. We're not committed to pushing it here yet due to still supporting unity 2018 and unity 2019

[2022-04-10 21:22] RogPodge commented on #7758
Closing due to pre-existing polling solution, as well as not wanting to overload the focus provider with more overmanagement of pointers.

[2022-04-10 21:22] #7758 closed

[2022-04-10 21:23] RogPodge commented on #8184
Eye gaze is now a first class feature in v3. Going to leave this open on until v3 goes public.

[2022-04-10 21:50] RogPodge commented on #8400
Closing since this sounds like something which can be handled by the teleport hotspot

[2022-04-10 21:50] #8400 closed

[2022-04-10 21:57] RogPodge commented on #8732
Closing. Developers intending to use Oculus Platform solutions will already know how to set this app id appropriately regardless of MRTK.

[2022-04-10 21:57] #8732 closed

[2022-04-10 21:58] RogPodge commented on #8876
A bit outside of the current scope with the v2 input pipeline. Leaving it open as the input system is flexible enough to enable an implementation of this in the future.

[2022-04-10 21:59] wallacewangchao opened #10534 "Hand Physics Layer filter not working"
## Describe the bug

While using MRTK HandPhysicsService, I try to set Hand Physics Layer to User Layer 30. But it still affects other layers

## Expected behavior
The Hand Physics only applies on User Layer 30

## Screenshots

![Annotation 2022-04-10 235453](https://user-images.githubusercontent.com/10185985/162641633-851860c4-2d2d-4844-aa90-d19bec88680a.png)

## Your setup (please complete the f

[2022-04-10 22:00] RogPodge commented on #8910
Profiles are largely done away with in MRTK v3/MRTK next. Leaving this open, though major overhauls of the v2 profile system are not super feasible in the near term.

[2022-04-10 22:01] RogPodge commented on #8913
Something which is still needed for v3, though we've made it so some gestures such as pinching will be driven from the system itself.

[2022-04-10 22:07] RogPodge commented on #8914
Modularity of our various packages will be available in MRTK v3/vNext. UX and input for example will be able to be loaded separately!!

Leaving this open until v3/vNext are publically availab.e

[2022-04-10 22:13] RogPodge commented on #9292
Something addressed by MRTK v3/vNext's commitment to separating out visual code from underlying states. Will leave open until the next major MRTK release is public.

[2022-04-10 22:15] RogPodge commented on #9548
Will be closed as we move away from using the profile system in the newest MRTK. For now, we need to verify that our profiles cover the appropriate range of deployment scenarios.

[2022-04-11 12:02] NoTuxNoBux commented on #9920
@serhan-gul Unfortunately not; I use Linux almost exclusively, and a VM when I need to build stuff for the HoloLens 2 (UWP), but this is pretty much the _only_ thing that I need to keep a native Windows installation for.

From what I understand from #8214, some older GPUs might not have have the necessary video decoding support for remote rendering and holographic remoting, but according to the VM

[2022-04-11 16:38] #10523 closed

[2022-04-11 17:10] #10517 closed

[2022-04-11 17:24] #8972 closed

[2022-04-11 23:42] RogPodge commented on #8390
Fundamentally, we think this pattern is still the right one to use (the gaze provider might get eye gaze data, but it can choose as to whether or not use to that data for targetting). The PR pushed changes the wording to better describe it's actual function, and contains a link to the eye targetting getting started guides.

[2022-04-11 23:42] #8390 closed

[2022-04-12 05:46] yifeifang commented on #7178
I've recently come across this issue. Far field input works just as expected however the `nearinteractionGrabbable` still won't let me throw the object

[2022-04-12 14:00] keli95566 opened #10537 "Support for Pico Neo 3 Eye Pro?"
## Describe the problem

Is there support for Pico Neo 3 Eye Pro, since it also supports OpenXR backend? If it already exists, is there an example/documentation to set it up?? Or is there support for the Unity XR Interaction toolkit input device in general??

[2022-04-12 15:22] adiazcan commented on #10532
Same error here, I cannot use any material using this shader.

![image](https://user-images.githubusercontent.com/6652046/162996943-813e2d5f-7d5e-457e-94bf-6d3b69a7b147.png)

[2022-04-12 17:30] adiazcan commented on #10532
I solved my problem with the upgrade process to URP

![image](https://user-images.githubusercontent.com/6652046/163020079-cbfc9868-f044-4ace-a18e-4fb4ad90bbeb.png)

[2022-04-12 18:43] RogPodge commented on #7178
Are you using the `ObjectManipulator`? The `ManipulationHandler` class has been deprecated in favor of `ObjectManipulator`

[2022-04-12 18:45] yifeifang commented on #7178
I'm using the new object manipulator

[2022-04-12 20:05] RogPodge commented on #7178
Can you include video and repro steps? #9733 should have addressed this scenario, but if there's a configuration we missed more data would be very helpful to tackle it.

[2022-04-12 20:41] Meruja commented on #8544
The correct documentation link can be found here:
[https://docs.microsoft.com/en-gb/windows/mixed-reality/mrtk-unity/running-example-scenes?view=mrtkunity-2021-05](https://docs.microsoft.com/en-gb/windows/mixed-reality/mrtk-unity/running-example-scenes?view=mrtkunity-2021-05
)

[2022-04-12 22:59] derekdominoes commented on #10449
yep... stuck on this issue too!

[2022-04-12 23:43] RogPodge commented on #7178
Looking into that PR more, it seems like you may be feeling the dampened velocity effect which occurs when using near manipulation and the object manipulator. We made a decision in that PR to not maintain an objects original velocity when releasing it with near interaction, since you can end up throwing objects somewhat uncontrollably fast. We'll discuss internally whether to change this decision.

[2022-04-13 01:18] camnewnham opened #10539 "Follow does not respect playspace transforms"
## Describe the bug

When using the Follow solver (in this case to display a hand menu), if the playspace does not have Y-Up, the orientation is solved incorrectly. This occurs whether the object is in the Unity `root` _or_ `MixedRealityPlayspace`, which is where I would expect the behaviour to differ (i.e. using world up when in root, using playspace up when parented).

## To reproduce

Steps to

[2022-04-13 04:30] yifeifang commented on #7178
https://youtu.be/LtERfsiGjAc Here is a video demo showed that nearfield didn't work while far field worked just fine. I'm using the lastest MRTK object manipulator script with a rigid body. Release is set to everything
![image](https://user-images.githubusercontent.com/29108355/163100474-b03fc202-e96d-4c7a-a835-47a6df90f65c.png)
![image](https://user-images.githubusercontent.com/29108355/163100495

[2022-04-13 04:37] yifeifang commented on #7178
[code]
The video result is after comment out this section of code. Which I think is the velocity damping you have mentioned?

[2022-04-13 15:49] MarkoXR commented on #10477
I have encountered the same issue, could this be the cause of another issue: #7178 ?
This is my code:
var hand = HandJointUtils.FindHand(Handedness.Right);
if (hand == null) return;
Debug.Log(hand.Velocity.magnitude);
It behaves as expected in editor but on hololens it is always 0.
I have to check which versions I'm using

[2022-04-13 22:40] MaxWang-MS commented on #10537
Hi @keli95566, we are not officially supporting Pico Neo 3 Eye Pro at the moment, but with our latest release it should be possible for a MRTK-based project to run on an OpenXR compliant device with low or no effort. Our upcoming release of MRTK3 will be based on Unity's XRI and OpenXR so please stay tuned!

[2022-04-13 22:51] keli95566 commented on #10537
Cool! About when will be the next release?

[2022-04-13 22:59] MaxWang-MS commented on #10537
We are currently aiming for a public preview of MRTK3 in May/June.

[2022-04-14 03:15] #10509 closed

[2022-04-14 12:02] MarkoXR commented on #10477
It seems to me that the OpenXR Hand Controllers velocity isn't being updated

[2022-04-14 16:18] RogPodge commented on #10477
Will be addressed by [#10538](https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10538)

[2022-04-14 18:56] talothman opened #10541 "`MixedRealityKeyboard` calls `onSubmit` when X is pressed for `TMP_InputField`"
## Describe the bug
When using the MixedRealityKeyboard component to trigger the native keyboard on HL2, clicking the X will call `onSubmit` for the `TMP_InputField` that is being edited.

## To reproduce

1. Open any sample MRTK ready project and scene.
2. Add a `TMP_InputField` and add the `MixedRealityKeyboard` component on any existing GO in the scene.
3. Add a script that binds to the `TMP_In

[2022-04-16 20:47] wallacewangchao opened #10542 "Speech Command not working if an EMPTY command is added"
## Describe the bug

All Speech Command will not work if an EMPTY command is added

## To reproduce

Steps to reproduce the behavior:

1. Go to MixedRealityToolkit scene setting
2. Click on Input
3. Scroll down to Speech
4. Create an empty command
![Annotation 2022-04-16 224346](https://user-images.githubusercontent.com/10185985/163690856-7ab73b42-a235-4123-9b16-29234ea49944.png)

## Expected beha

[2022-04-17 04:48] Zee2 commented on #8943
Rehydrating to tracking for MRTK3.

[2022-04-17 04:50] Zee2 commented on #9361
Un-stale-ing for MRTK3.

[2022-04-17 04:51] Zee2 commented on #10098
Resolved as we have followed this architectural direction in MRTK3.

[2022-04-17 04:51] #10098 closed

[2022-04-18 23:45] #5971 closed

[2022-04-18 23:45] #7999 closed

[2022-04-18 23:45] #8001 closed

[2022-04-18 23:45] #7998 closed

[2022-04-18 23:45] #8011 closed

[2022-04-18 23:45] #7387 closed

[2022-04-18 23:45] #8025 closed

[2022-04-18 23:45] #8046 closed

[2022-04-18 23:45] #7085 closed

[2022-04-18 23:45] #8061 closed

[2022-04-18 23:45] #7856 closed

[2022-04-18 23:45] #8077 closed

[2022-04-18 23:45] #8076 closed

[2022-04-18 23:45] #8086 closed

[2022-04-18 23:46] #8094 closed

[2022-04-18 23:46] #8110 closed

[2022-04-18 23:46] #6105 closed

[2022-04-18 23:46] #7660 closed

[2022-04-18 23:46] #7836 closed

[2022-04-18 23:46] #8123 closed

[2022-04-18 23:46] #7941 closed

[2022-04-18 23:46] #7651 closed

[2022-04-18 23:46] #8136 closed

[2022-04-18 23:46] #7910 closed

[2022-04-18 23:46] #8146 closed

[2022-04-18 23:46] #8112 closed

[2022-04-18 23:46] #8147 closed

[2022-04-18 23:46] #7163 closed

[2022-04-18 23:46] #6833 closed

[2022-04-19 07:06] WikkidEdd commented on #8819
This is still not fixed.

[2022-04-19 07:45] #6527 closed

[2022-04-19 07:45] #7696 closed

[2022-04-19 07:45] #8199 closed

[2022-04-19 08:50] camccaf-msft commented on #8896
Looks like this was fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9935

[2022-04-19 08:50] #8896 closed

[2022-04-19 11:07] JSWorkspace1 commented on #8878
(keeping issue from going stale) will retest once MRTK v3 is released.

[2022-04-19 17:41] YanisThePie commented on #9218
I've this issue on my project. The weird thing is that my directionnal lights worked fine until today, when I merge my git branches and the project reloaded. Even if I create new lights it turns off on play mode, any suggestions about this issue?

[2022-04-19 20:33] talothman commented on #5260
Any update on this?

[2022-04-20 19:45] talothman opened #10544 "`OnCommitText` does not fire in `MixedRealityKeyboardBase`"
## Describe the bug
`OnCommitText` event never fires when return button is pressed on native HL2 keyboard.

## To reproduce

Steps to reproduce the behavior:

1. Open `MixedRealityKeyboardExample`
2. Generate new script.
3. Write some log or provide some functionality and bind that function to `MixedRealityKeyboard.OnCommitText`.
4. Deploy to device.
5. Bring up keyboard by pressing on the input f

[2022-04-21 08:20] Merichbier commented on #8449
Any update ?

[2022-04-21 09:03] arunrajselvaraj commented on #10373
We also facing the lag in hand mesh, Any fixes available
@davidkline-ms @keveleigh

[2022-04-21 19:20] keveleigh commented on #10520
Yep, I verified it! There's now a non-blocking follow-up bug that the Unity splash screen doesn't show up at all, but the app still launches.

[2022-04-21 19:20] #10520 closed

[2022-04-21 19:22] keveleigh commented on #10104
This should be fixed (and has been for a while)! Please re-open if you're still hitting it.

[2022-04-21 19:22] #10104 closed

[2022-04-21 19:23] keveleigh commented on #9885
This has now been improved on the Mixed Reality OpenXR Plugin side. We now attempt a specific number of retries and then exit play mode automatically if unsuccessful.

[2022-04-21 19:23] #9885 closed

[2022-04-21 19:26] #10477 closed

[2022-04-21 19:29] keveleigh commented on #9752
Oculus Touch has now been explicitly added via #10538

[2022-04-21 20:20] mcoy001 commented on #10417
Hi, I have tried 1.4.0, spital scan still doesn't work with remote. Also start play will launch Steam VR even if I have exit Steam.
not sure if it's related, I got this from debug:
Tracking origin unable to be set.
Failed to calculate boundary bounds.

In the mean time my old project using Unity2019.4.31f1 with MRTK2.5.3 works fine with remote.

[2022-04-21 20:44] keveleigh commented on #10373
No workarounds that I'm aware of, unfortunately, but the bug fix has been merged into Windows XR Plugin and is entering their release process.

[2022-04-21 20:47] keveleigh commented on #10373
I'm going to close this issue as a duplicate of https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10443, which is newer but has more information and discussion.

[2022-04-21 20:47] #10373 closed

[2022-04-21 21:02] eusebiu commented on #9752
Nice! I looked over the new OculusController in OpenXR provider and I wonder if the same code can be reused for other VR controllers, like HTC Vive (I did not see anything specific to Oculus, except the textures part).

[2022-04-23 17:06] ezar commented on #10449
Same here!

[2022-04-25 03:25] suryanb0824 opened #10557 "Finding extreme points or corners of the floor using MRTK and HoloLens 2"
## Overview
Finding extreme points or corners of the floor using MRTK .

## Expected behavior
We have a table where I need to find out the four corners of the table after scanning with HoloLens 2 with Mixed Reality toolkit concept, After which I would like to calculate the total area of that table.
## Actual behavior
I can able to find platform or floor surface, where I cannot able to find out the

[2022-04-25 12:11] dantonks opened #10558 "MRTK Foundation Package and other content (Photon, Unity UI) incompatibility in Visual Studio 2019."
## Describe the bug

When the MRTK Foundation Package is deployed to the Unity Package, Photon and UnityUI no longer load in Visual Studio, prompting the missing assembly reference error.

## To reproduce

1: Install Unity 2021.2.15f1 (also reproduced in 2020.3.23f1)
2: Switch target platform to Android.
3: Using the Mixed Reality Feature Tool, deploy MRTK Foundation Package.
4: Install Photon Net

[2022-04-25 12:13] dantonks commented on #10558
MRTK namespaces are also not visible in visual studio.

[2022-04-25 18:55] rueilmanzambi opened #10559 "C1083 Cannot open include file: 'HolographicAppRemoting/StreamerHybridPlayer.h': No such file or directory"
Hello, i am building an app with Unity and Visual Studio 2019 for the HoloLens. The most recent feature that i added is the ability to connect the application to an Azure database. When I run it on Unity, everything works as expected, but when I try to compile the project in Visual Studio in order to upload it to the HoloLens, this is one of two errors that I am getting. The other one is "MSB4181

[2022-04-25 18:56] rueilmanzambi opened #10560 "MSB4181 The "CompileXaml" task returned false but did not log an error."
Hello, i am building an app with Unity and Visual Studio 2019 for the HoloLens. The most recent feature that i added is the ability to connect the application to an Azure database. When I run it on Unity, everything works as expected, but when I try to compile the project in Visual Studio in order to upload it to the HoloLens, this is one of two errors that I am getting. The other one is "MSB4181

[2022-04-25 18:59] keveleigh commented on #10559
Huh! Could you include the full build log please, if possible?

Did you have to add any UPM packages to support this? Or otherwise importing DLLs into your Assets?

[2022-04-25 19:20] keveleigh commented on #10532
Closing as duplicate of #10449

[2022-04-25 19:20] #10532 closed

[2022-04-25 19:21] keveleigh commented on #10449
Just to clarify, does this prevent a successful build? This sounds like #5844, #10532, similar to #6359. In my investigations of those, the error only seemed to log on first build but didn't actually prevent the build from succeeding. Are you able to confirm that your logs say the build failed?

[2022-04-26 18:10] keveleigh commented on #7380
Going to close this out. The issue should be fixed in all recent releases. Please reopen if you're still hitting it!

[2022-04-26 18:10] #7380 closed

[2022-04-26 18:25] keveleigh commented on #10443
Update: The bug fix has been merged into Windows XR Plugin and is entering their release process.

[2022-04-27 11:45] pokemon9757 opened #10562 "[Bug] Cannot show Oculus controllers with hand meshes"
## Bug description:

Cannot show Oculus controllers with hand meshes no matter which settings I change to. The controllers are only being shown as:
- Oculus Controller by default
- Arrows:
![image](https://user-images.githubusercontent.com/59111886/165510055-a490a0c6-a52c-4eb2-b002-35a48e1cb670.png)
- Or empty with just pointers

## To reproduce:

- Have attempted with Oculus's hand tracking enabl

[2022-04-27 14:44] LukassaOne commented on #10449
Log says building player has failed has failed.

Shader error in 'Mixed Reality Toolkit/Standard': Non system-generated input signature parameter () cannot appear after a system generated value. at line 775 (on gles3)

Compiling Subshader: 0, Pass: Main, Vertex program with INSTANCING_ON STEREO_MULTIVIEW_ON
Platform defines: SHADER_API_GLES30 SHADER_API_MOBILE UNITY_ASTC_NORMALMAP_ENCODING UNITY_E

[2022-04-27 15:08] LukassaOne commented on #10449
Just found out: if i hit build -> the build will success
but if i hit build and run -> the build will fail

[2022-04-27 15:34] LukassaOne commented on #10449
But the resulting api wont launch so the problem remains

[2022-04-27 17:51] keveleigh commented on #10516
Hey @ARGs-code, are you using OpenXR or Windows XR Plugin?

[2022-04-27 18:01] m-the-hoff commented on #10557
To clarify, are you able to get the surface you desire, but then are not sure how to get the outermost coordinates?  If that's accurate, it's a matter of analyzing the vertices in the provided surface. If it's some other issue, please clarify so we can look into it more!

[2022-04-27 18:27] sdudasko opened #10563 "MRTK - Leap Motion hand not tracking constraint palm up"
## Describe the bug

When I attach the hand menu to a hand and enable it with `HandConstraintPalmUp` component it works fine with simulated hand but I cannot make it work with MotionLeap. I am using `LeapMotion` configuration profile, I also added `LeapMotionArticulatedHand controller`.

I was trying to debug it and I found out that the code is stuck here - in the file `HandConstraintPalmUp.cs`

[

[2022-04-27 18:44] keveleigh opened #10565 "Support KHR_texture_basisu in the glTF loader"
## Describe the problem

Oculus' runtime controller models in [OpenXR via `XR_FB_render_model`](https://www.khronos.org/registry/OpenXR/specs/1.0/html/xrspec.html#XR_FB_render_model) appear to provide their textures only via [KHR_texture_basisu](https://github.com/KhronosGroup/glTF/blob/main/extensions/2.0/Khronos/KHR_texture_basisu/README.md).

<img width="712" alt="image" src="https://user-image

[2022-04-28 03:06] suryanb0824 commented on #10557
Thank you for reply

I cannot able to get the desired surface. When I am scanning the surface using HL2 it almost scans all the surface, not only table. But I would like to calculate only the table outermost coordinates and calculates area values out of that.

[2022-04-28 08:26] dantonks commented on #10558
I have done this a few times, including a full library clear in the Unity project. Even repulled the repo and deployed the plugins fresh. No dice unfortunately.

[2022-04-28 10:08] toshi211 commented on #10256
I would like to ask you to continue this issue.

[2022-04-28 10:11] dantonks commented on #10558
If it helps, I have tried:

Ditching the branch entirely, nuking my repo, pulling again, branching off and installing the plugins via the Mixed Reality Feature Tool again.

Deleting Libraries.

Regenerating project files.

Updating Visual Studio.

Downgrading Unity back to 2020.3.

I do still need to install the paid Photon plugin when we purchase that next week. Will feed back if this resolves it

[2022-04-28 17:26] keveleigh commented on #10565
Alternatively: add support for GLTFast

[2022-04-29 01:58] FabioMaas opened #10569 "OpenXR Provider Right Hand Input triggering twice on Canvas Button"
## Describe the bug

Right Input is called twice with OpenXR XRSDK DataProvider on HoloLens 2 on a Canvas Button. If the right hand/AirTap is pressed on the device, the OnClick event will be fired two times instead of once: First time normal 'OnPointerUp', second time on 'OnPointerDown' with only the right hand. This does not happen in the editor. It also does not happen with a non-OpenXR setup (O

[2022-04-29 18:46] MaxWang-MS commented on #10569
Hi @FabioMaas, the issue you are experiencing might be related to this known issue #10304. We have created a workaround for that issue, could you try the solution @keveleigh posted at the end of the thread?

[2022-04-29 21:41] #8409 closed

[2022-04-30 18:11] iantrobinson commented on #10563
I think this was fixed in #10446.

[2022-05-01 23:06] toshi211 commented on #10256
I understand. Thank you for your  considering the correction and continued support.

[2022-05-02 11:45] FabioMaas commented on #10569
Thanks for mentioning it! I tried it and the alternative Interaction Profile seems to work.

[2022-05-02 12:35] ARGs-code commented on #10516
@keveleigh We are using OpenXR when doing our MRTK Development.

I'm not sure what plugin we are using is important though. As I mentioned, this issue even appears in the Windows Holographic for Business shell environment, when no applications are running.

[2022-05-02 20:03] MaxWang-MS commented on #10569
Closing this issue as this is an external issue caused by Unity and there is a working workaround.

[2022-05-02 20:03] #10569 closed

[2022-05-03 00:49] DavidKozdra opened #10573 "ReadMe DeadLinks"
## Describe the issue
The tutorial links in the Session videos from Mixed Reality Dev Days 2020 section of readme respond as 404.

![image](https://user-images.githubusercontent.com/45106564/166388188-6cd49de0-1be3-4a84-8fe9-ba5a50a90c84.png)

## Feature area

https://docs.microsoft.com/en-us/shows/docs-mixed-reality/mrtks-ux-building-blocks
should be
https://docs.microsoft.com/en-us/shows/mixed-r

[2022-05-03 03:56] SheepJeffery commented on #6098
same problem    UNITY 2021.3.0    Burst1.6

[2022-05-03 22:18] RogPodge commented on #10002
As of [this PR](https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10574) the controller.Visualizer.GameObject Proxy should not be null across all platforms.

In order to get the position of the controller, you should cast either the `IMixedRealityController` or the `IMixedRealityControllerVisualizer` to a `ControllerPoseSynchronizer`. Scripts which are based on that class will respond to

[2022-05-03 22:18] #10002 closed

[2022-05-03 22:32] RogPodge commented on #9823
Closing with the profile rename. Refactoring the interface to explicitly toggle visual status is a bit out of scope for 2.8. As it stands, disabling the GameObjectProxy usually works well enough as a workabout.

[2022-05-03 22:32] #9823 closed

[2022-05-03 22:39] RogPodge commented on #8745
Closing as Oculus itself has deprecated its old hand avatar system: https://developer.oculus.com/downloads/package/unity-integration/39.0#deprecation

We advise users to use OpenXR for Quest compatibility for Unity 2020 and beyond

[2022-05-03 22:39] #8745 closed

[2022-05-03 22:39] RogPodge commented on #10429
Closing as Oculus itself has deprecated its old hand avatar system: https://developer.oculus.com/downloads/package/unity-integration/39.0#deprecation

We advise users to use OpenXR for Quest compatibility for Unity 2020 and beyond

[2022-05-03 22:39] #10429 closed

[2022-05-03 22:40] RogPodge commented on #10242
Should be addressed with

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10574
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10568

[2022-05-03 22:40] #10242 closed

[2022-05-03 22:42] RogPodge commented on #9548
Closing for 2.8 as the DefaultMixedRealityToolkitConfgurationProfile has been vetted for deployment for devices that support OpenXR.

[2022-05-03 22:42] #9548 closed

[2022-05-03 22:51] RogPodge commented on #10562
Hey there, sorry for the late response.

On the Quest itself, you have to make sure that your quest is set to use the hand-tracking mode. If you use the controllers at all, you have to re-set the quest to use hands via set of quest menu options.

Any other issues you see should be fixed in our next release:

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10568
https://github.com/micro

[2022-05-03 22:52] #10562 closed

[2022-05-03 22:58] RogPodge commented on #10486
It will make it into the next 2.8 drop, for now it can be pulled from the main branch.

https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10059

[2022-05-03 22:58] #10486 closed

[2022-05-03 23:07] #10427 closed

[2022-05-03 23:08] RogPodge commented on #10409
Fixed in https://github.com/microsoft/MixedRealityToolkit-Unity/pull/10574

[2022-05-03 23:08] #10409 closed

[2022-05-03 23:10] RogPodge commented on #10397
We don't have any official support for Oculus Link in MRTK as of now. We'd really appreciate any community contributions to greenlight this development path! Ideally with OpenXR as the industry moves towards unifying behind that backend.

[2022-05-03 23:23] RogPodge commented on #10256
Updating because these changes won't make it for 2.8, but we will definitely address in v2 and v3 in the coming months.

[2022-05-03 23:37] RogPodge commented on #10505
This workaround should be sufficient if anyone else is hitting this issue. I couldn't get this to repro, though it might be due to a timing difference in when the camera settings are applied.

[2022-05-03 23:37] #10505 closed

[2022-05-03 23:37] RogPodge commented on #10528
Tracking this as a "need to update documentation" issue.

[2022-05-04 00:37] fatboxSoftware commented on #10532
Thank you for this!

[2022-05-04 08:08] keveleigh commented on #6098
Although this is external, I'm reopening for tracking purposes as I believe I was seeing this when trying out GLTFast. Will continue investigating

[2022-05-04 08:15] keveleigh commented on #10569
@MaxWang-MS we might want to test this with the XRI input module as well. If we're seeing double input with that, we should probably re-flag with Unity...

[2022-05-04 08:22] keveleigh commented on #6904
Agreed on the slowness. It's a bit of a restriction of the original implementation. I've been looking into integrating support for GLTFast instead, so we can use a loader with much better support!

If that falls through, I'll take another pass at optimizing the loading logic here.

[2022-05-04 09:46] ChaoNero commented on #10520
The app does launch in .33 but it becomes really laggy and fills the unitylog with errors would not recommend

.28 is the way to go

[2022-05-04 10:07] melixor commented on #10390
Today i had same problems. I Deployed the app by unity since some hours ago without poblems, but now something is happened.

[2022-05-04 13:49] pokemon9757 commented on #10562
Hi @RogPodge,

Thank you for your response! I assume you are referring to the hand-tracking mode in Settings/Hands and Controllers/Hands? I have already enabled that before I did the above steps. It still doesn't show my hands.

[2022-05-05 00:49] polygonfuture commented on #8947
I agree, its been over a year.  I'd love to see this resolved.  Its very unintuitive UX.

[2022-05-06 06:59] doctor-strange-lab commented on #9533
Hi, I have the latest version of the feature tool: 'MixedRealityFeatureTool-1.0.2203.0-Preview' and it is still crashing.  I'm using Windows 11 - is that a problem for this tool?

[2022-05-09 01:28] pokemon9757 opened #10577 "[Bug] Cannot show Oculus controllers with hand meshes (1)"
Previously submitted as https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10562#issue-1217236912
@RogPodge My issue was closed before I received a correct answer. Please help me review it :) Thank you

[2022-05-09 16:46] hunter12580 opened #10578 "Eye tracking pupil size (HoloLens 2)"
## Describe the problem

 I found it could be helpful to have pupil size data available when evaluating user's performance, measuring level of stress and calibrating UI brightness... Some alternative solutions like Pupil Labs doesn't support HoloLens 2 yet.

## Describe the solution you'd like

It could be super continent if the EyeGazeProvider includes the pupil size function. Thanks!

[2022-05-10 12:07] keveleigh commented on #10520
Can you post a snippet of the errors in the log please? I hadn't been able to repro.

[2022-05-10 14:50] LeonBrooks commented on #10066
I'm am having the same problem atm. Although there are no zero scales involved. The slider is part of a nested prefab and calls a methode of the top most parent (keyboard). On first interaction the slider value appears to be NaN, causing the TumbRoot position to be assigned a NaN Vector3 in PinchSlider.UpdateUI. Although the GameObject holding the slider is disabled in the prefab by default, enabl

[2022-05-10 17:29] ndaley7 commented on #5844
While not an actual fix, some edits to the code appeared to have fixed the issue for me.  Please see a related issue here:

https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10449#issuecomment-1111163353

[2022-05-10 21:34] MaxWang-MS commented on #10578
Hi @hunter12580, unfortunately HoloLens 2 does not support providing pupil size data to developers, and thus the MRTK team is not able to provide it.

[2022-05-10 21:34] #10578 closed

[2022-05-11 10:00] ChaoNero commented on #10520
Sure !

It goes on normally then I get this error each call :

GfxDeviceD3D11Base::WaitForLastPresentationAndGetTimestamp() was called multiple times in a row without calling GfxDeviceD3D11Base::PresentFrame(). This may result in a deadlock.

This started to happen when I updated the project from .13 to .33 and when I went back to .28 it stopped

[2022-05-11 15:19] dsf5644s6sdf opened #10579 "OpenXR Fov in Unity Editor too small for Hololens 2"
## Describe the bug

I have a problem after switching from Unity integrated XR to Open XR. The Unity Editor FOV 29 deg, although the Hololens 2 FOV is 54 deg. How can I increase the FOV of my Main Camera in Unity so it's the same as the actual Hololens 2 FOV through the visor? The FOV slider doesn't work once connected via Holographic Remoting.

## To reproduce

Steps to reproduce the behavior:

U

[2022-05-11 15:24] dsf5644s6sdf opened #10580 "OnHandMeshUpdated not triggered"
## Describe the bug

I'm trying to update my own hand mesh according to:
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/hand-tracking?view=mrtkunity-2021-05#hand-mesh-prefab

However, the method OnHandMeshUpdated(InputEventData eventData) never triggers. I am using Holographic Remoting via OpenXR. I made sure I set the Hand Mesh Visualization Modes to Everything i

[2022-05-12 01:37] keveleigh commented on #10207
Going to close this down due to the influx of success comments. Thanks for all the updates!

[2022-05-12 01:37] #10207 closed

[2022-05-12 15:38] flufy3d opened #10581 "HandCoach HandFlip_L anim is not wokring"
## Describe the bug

HandCoach HandFlip_L anim is not wokring.
HandFlip_R is work as expected.

## To reproduce

Steps to reproduce the behavior:

it's happend even in MRTK demo scene

- Unity Version [e.g. 2020.3.33f1]
- MRTK Version [e.g. v2.7.3]

[2022-05-13 18:25] polygonfuture opened #10582 "Dictation Example: Dictation Recognizer Fails to Start. Microphone, InternetClient, and Dictation Input Service Provider added."
## Describe the bug

The Dictation Example fails to work using MRTK 2.7.3 on Hololens 2.
Clicking "Start Recording" generates an error "Dictation Recognizer Failed to Start."

Both Microphone and Internet Client are enabled under player capabilities, and both Speech and Dictation Input are added under Input Provders in MRTK Game Object Settings.

Voice commands work as expected, but dictation does

[2022-05-14 21:29] genereddick opened #10583 "Missing UIRaycastCamera error"
## Describe the bug
Removed and recreated the Unity library folder and the app started spewing errors. I don't think anything else changed. Clearing the cache, removing and readding MRTK, made no difference.

Trying to trace this to the source without much success. A new project doesn't have the issue, but a new scene in the existing project with all default Toolkit settings does.

In FocusProvide

[2022-05-16 09:07] kokiecn opened #10585 "IMixedRealityHandJointHandler.OnHandJointsUpdated isn't fired unless two controller are detected on Meta Quest2"
## Bug

IMixedRealityHandJointHandler.OnHandJointsUpdated is not called when there is only one  controller detected. Is there any way to call the event with one controller in the scene?

## To reproduce

Steps to reproduce the behavior:

-  create a function like :
`public void OnHandJointsUpdated(InputEventData<IDictionary<TrackedHandJoint, MixedRealityPose>> eventData)
        {
               D